* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: 'Muli', sans-serif;
}

.login-component, .room-component, .avaliation-component {
  background-color: #F2F2F2;
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
  transition: filter 0.3s;
}

button:hover {
  filter: brightness(0.85);
}

textarea {
  resize: none;
}