.header {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  font-weight: 900;
}

.header button {
  background-color: #38534a;
  color: white;
  height: 100%;
  padding: 1rem;
  margin: 0 10px;
}

.header div {
  margin: 0 10px;
}

img.test-background {
  position: absolute;
}

canvas {
  position: absolute;
  border: 1px solid black;
  z-index: 1;
}

.eraser-on {
  cursor: url('/img/eraser-cursor (1).png'), auto;
}