<script>
  var pageId = '{{ module.page_id }}';
</script>

<body id="page-top">
  <!-- Google Tag Manager (noscript) -->
  <noscript
    ><iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-KQ47ZKG"
      height="0"
      width="0"
      style="display:none;visibility:hidden"
    ></iframe
  ></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <section
    class="section-parceria"
    style="padding-top:80px;background-image:url('{{
      module.background_image.src
    }}');background-repeat:no-repeat;"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="section-parceria__img-container">
                <img
                  src="{{ module.logo_colmeia.src }}"
                  alt="{{ module.logo_colmeia.alt }}"
                  class="section-parceria__img"
                />
                <img
                  src="{{ module.partner_logo.src }}"
                  alt="{{ module.partner_logo.alt }}"
                  class="section-parceria__img"
                />
              </div>

              <div class="section-parceria__title">
                {% inline_rich_text field="title" value="{{ module.title }}" %}
              </div>

              <div class="section-parceria__subtitle">
                {% inline_rich_text field="subtitle" value="{{ module.subtitle }}" %}
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <form class="form">
                <div class="form__title">{{ module.form_title }}</div>
                <div class="form__subtitle">{{ module.form_subtitle }}</div>
                <input
                  type="text"
                  class="form__input form__input--nome"
                  name="nome"
                  id="nome"
                  placeholder="Nome"
                />
                <input
                  type="email"
                  class="form__input form__input--email"
                  name="email"
                  id="email"
                  placeholder="E-mail"
                />
                <input
                  type="text"
                  class="form__input form__input--telefone"
                  name="telefone"
                  id="telefone"
                  placeholder="Celular"
                />

                <button id="sendButton" name="button" class="form__button">
                  {{ module.form_button }}
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
