.tips {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1 1 auto;
}

.tips-box {
  background-color: #F9F9F9;
  box-shadow: 2px 6px 40px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 90rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 8rem;
  margin: 2rem 1rem;
}

.tips-box .section {
  padding: 2rem;
  width: 100%;
}

.tips-box .section .heading {
  text-align: center;
  letter-spacing: 0.02em;
  color: #FF8008;
  font-weight: bold;
  font-size: 2rem;
}

.tips-box .section .info-line {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.tips-box .section .info-line img {
  margin-right: 10px;
}

.tips-box .section .info-line p {
  font-size: 1.3rem;
  color: #4F4F4F;
  letter-spacing: 0.02em;
}

.tips-box .section button {
  display: flex;
  margin: 0 auto;
  background-color: #FF8008;
  border-radius: 8px;
  color: #F2F2F2;
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: bold;
  font-size: 1.5rem;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  padding: 1rem 2rem;
}

.tips-box .section button .img {
  background-image: url(/img/light_arrow-aulao-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 1.5rem 2rem;
}

@media only screen and (max-width: 800px) {
  .tips-box {
    padding: 1rem 2rem;
  }

  .tips-box .section .info-line p {
    font-size: 1.5rem;
  }
}
