.agendamento {
  .react-autosuggest__container {
    position: relative;
  }

  .react-autosuggest__input--focused {
    outline: none;
  }

  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .react-autosuggest__suggestions-container {
    display: none;
  }

  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 5rem;
    width: 100%;
    border: 1px solid $color-orange;
    background-color: $color-white;
    font-family: 'Raleway', sans-serif;
    color: $color-black-light;
    font-weight: 500;
    font-size: 2rem;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    z-index: 10;
  }

  .react-autosuggest__container--open .agendamento__input-wrapper .agendamento__input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    border-bottom: 0;
  }

  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 1.5rem 2.5rem;
  }

  .react-autosuggest__suggestion--highlighted {
    background-color: $color-gray-light-2;

    &:last-child {
      border-bottom-left-radius: 0.8rem;
      border-bottom-right-radius: 0.8rem;
    }
  }

  $padding: 1.25rem;

  & {
    // height: calc(100vh - 16.75rem);
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: $color-black-light;
  }
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    @include responsive(phone) {
      padding: 5rem 0;
    }
  }

  &__screen {
    height: 100%;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    flex-direction: column;

    padding-top: 5rem;
    padding-bottom: 5rem;

    @include responsive(phone) {
      padding-top: 0rem;
      padding-bottom: 0rem;
    }
  }

  &__title {
    font-size: 2.7rem;
    font-weight: 700;
    margin-bottom: 5rem;
    text-align: left;
    line-height: 3.85rem;

    &--s {
      font-size: 2.5rem;
      line-height: 3.75rem;
    }

    &--secondary {
      color: $color-gray-1;
      font-size: 2rem;
      font-weight: 500;
    }

    &--orange {
      color: $color-orange;
    }

    &--bold {
      font-weight: 600;
      margin-top: 3rem;
    }
  }

  &__title-sub {
    color: $color-orange;
    font-size: 1.6rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
  }

  &__info {
    font-size: 1.75rem;
    color: $color-gray-3;
  }

  &__heading {
    font-size: 4rem;
    margin-bottom: 6rem;
    text-align: center;
    color: $color-orange;
  }

  &__button,
  &__input-wrapper {
    font-size: 2rem;
    border-radius: 0.8rem;
    border-radius: 5rem;
    outline: none;
  }

  &__input-wrapper {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 5rem;
    background-color: $color-white;
  }

  &__select,
  &__input {
    background-color: $color-white;
    box-shadow: 0px 2px 8px 0px rgba($color: #000000, $alpha: 0.1);
    border-radius: 0.8rem;
    border-radius: 5rem;
    padding: $padding 6rem;
    padding-right: 0;
    font-size: 2rem;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    outline: none;
    appearance: none;
    border: 1px solid $color-gray-3;

    &:focus {
      border-color: $color-orange;
      box-shadow: 0px 2px 5px 0px rgba($color: #000000, $alpha: 0.05);
    }

    &--textarea {
      padding-left: 2rem;
      padding-right: 2rem;
      min-height: 15rem;
      border-radius: 2rem;
      appearance: none;
    }
  }

  &__select:focus + &__input-icon,
  &__input:focus + &__input-icon {
    color: $color-orange;
  }

  &__input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $color-gray-3;
    font-size: 2rem;
    left: 2.5rem;

    &--right {
      right: 1.5rem;
      left: unset;
      cursor: pointer;
      color: $color-gray-3;
    }
  }

  &__input {
    &--focused {
      outline: none;
    }

    &--open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__label {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1rem;
    align-self: flex-start;

    &--center {
      align-self: center;
      text-align: center;
    }
  }

  &__radio-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }

  &__radio {
    display: block;
    margin: 0;
    font-weight: normal;
    position: relative;
    padding-left: 4rem;
    font-size: 2rem;
    user-select: none;
    cursor: pointer;
    margin-bottom: 1.5rem;
  }

  &__radio input[type='radio'] {
    position: absolute;
    opacity: 0;
  }

  &__radio-check {
    position: absolute;
    top: 2px;
    left: 0;
    height: 2.5rem;
    width: 2.5rem;
    background-color: $color-white;
    border-radius: 50%;
    border: 0.15rem solid $color-orange;
    transition: 0.15s all;
  }

  &__radio:hover input ~ &__radio-check {
    background-color: $color-gray-light-1;
  }

  &__radio input:checked ~ &__radio-check {
    background-color: $color-white;
  }

  &__radio-check::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.25rem;
    height: 1.25rem;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    background: $color-orange;
    transition: 0.15s all;
  }

  &__radio input:checked ~ &__radio-check::after {
    display: block;
    transform: translate(-50%, -50%) scale(1);
  }

  &__toggle-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;

    &--center {
      justify-content: center;
    }
  }

  &__toggle-button {
    display: block;
    margin: 0;
    position: relative;
    user-select: none;
  }

  &__toggle-button input[type='checkbox'] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &__toggle-button-content {
    background-color: $color-white;
    font-size: 1.4rem;
    color: $color-orange;
    border: 0.15rem solid currentColor;
    margin: 0.75rem;
    padding: 1.2rem 2rem;
    border-radius: 1.25rem;
    border-radius: 5rem;
    transition: 0.15s all;
  }

  &__toggle-button:hover input ~ &__toggle-button-content {
    background-color: $color-gray-light-1;
  }

  &__toggle-button input:checked ~ &__toggle-button-content {
    background-color: $color-orange;
    color: $color-white;
  }

  &__bottom-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include responsive(phone) {
      padding-bottom: 4rem;
    }
  }

  &__button {
    & {
      margin-top: 3rem;
      // margin-left: auto;
      // margin-right: auto;
      text-align: center;
      display: block;
      padding: $padding;
      min-width: 20rem;
      background-color: $color-orange;
      color: $color-white;
      border: 0;
      cursor: pointer;
      border: 2px solid $color-orange;
      transition: 0.3s all;
      box-shadow: 0px 2px 8px 0px rgba($color: #000000, $alpha: 0.1);
      font-size: 2rem;

      @include responsive(phone) {
        width: 13rem;
        min-width: unset;
        flex: 1;

        &:first-of-type {
          margin-right: 2rem;
        }

        &:last-of-type {
          margin-left: 1rem;
        }
      }

      &--full {
        width: 100%;
      }

      &:hover {
        color: $color-orange;
        background-color: $color-white;
      }

      &:not(:last-of-type) {
        margin-right: 1.5rem;

        @include responsive(phone) {
          // margin-right: 0;
        }
      }
    }

    &--previous {
      background-color: $color-orange-light-1;
      border-color: $color-orange-light-1;
    }
  }

  @keyframes spinner {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  &__spinner {
    display: block;
    margin: 0 auto;
    width: 7rem;
    animation: spinner 2.5s linear infinite;
  }

  &__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__nav-step {
    overflow: hidden;
    background-color: $color-gray-light-2;
    flex: 1;
    height: 0.6rem;
    position: relative;

    &:not(:last-child) {
      border-right: 1px solid $color-white;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-orange;
      transform-origin: left;
      transform: scaleX(0);
      transition: 0.3s all;
    }

    &--active::before {
      transform: scaleX(1);
    }
  }

  &__form {
    width: 60rem;
    max-width: 100%;
    box-shadow: 0rem 0.4rem 0.7rem 0rem rgba($color: #000000, $alpha: 0.3);
    border-radius: 2.5rem;
    padding: 4rem 6rem;

    @include responsive(phone) {
      padding: 4rem 3rem;
    }

    label {
      margin-bottom: 2rem;
    }

    button {
      width: 100%;
    }
  }

  &__form-title {
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.25rem;
  }

  &__form-button-final {
    display: block;
    margin-top: 2rem;
    color: $color-orange;
    font-size: 1.5rem;
    text-decoration: underline;
    text-align: center;
  }
}
