.calculadora-page {
  & {
    position: relative;
  }

  #modal-toggle.active ~ .modal__content,
  #modal-toggle:checked ~ .modal__content {
    min-height: 65rem;
  }
  .header {
    & {
      padding-bottom: 10rem;
    }
    &__bg {
      min-height: 40rem;
      background: url(/img/unb-bg.png) center center / cover no-repeat;
      border-bottom-left-radius: 20rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: $color-white;

      @include responsive(tab-port) {
        // height: auto;
      }

      @include responsive(phone) {
        padding: 15rem 0;
      }
    }

    &__title {
      font-weight: 700;
      font-size: 6rem;
    }

    &__subtitle {
      font-size: 2.4rem;
    }
  }

  .pas-text {
    & {
      background-image: url('/img/pas-circles.png');
      background-size: auto 700px;
      background-position: 90% 0%;
      background-repeat: no-repeat;
      padding-bottom: 24rem;

      @include responsive(tab-land) {
        background-position: 115% 0%;
      }

      @include responsive(tab-port) {
        background-image: none;
      }

      @include responsive(phone) {
        padding-bottom: 0;
      }
    }
    &__link,
    &__link:link {
      color: $color-orange;
      text-decoration: underline;
    }
  }

  .pas-grid {
    margin-top: -5rem;
  }

  .pas-block {
    & {
      box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.16);
      border-radius: 0.5rem;
      background-color: $color-white;
      padding: 3rem 1.5rem 5rem 1.5rem;
      position: relative;
      overflow: hidden;

      @include responsive(phone) {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
      }
    }

    &__title {
      font-size: 6rem;
      font-weight: 700;
      position: absolute;
      left: -0.7rem;
      bottom: -3.5rem;
      text-transform: uppercase;
      color: $color-orange-light-2;
      font-family: 'Roboto', sans-serif;
    }

    &__row {
      margin-bottom: 1.5rem;
      display: flex;
      align-items: center;

      @include responsive(phone) {
        margin-bottom: 2rem;
      }
    }

    &__label {
      font-size: 1.8rem;
      font-weight: 500;
      flex: 0 0 45%;
    }

    &__input {
      width: 100%;
      border-radius: 100rem;
      border: 1px solid #e3e3e3;
      outline: none !important;
      padding: 0.75rem;
      padding-left: 1.25rem;
      flex: 1;
      font-family: 'Raleway', sans-serif;

      @include responsive(phone) {
        padding: 1rem;
        padding-left: 1.5rem;
      }
    }
  }

  .grade {
    & {
      text-align: center;
      color: $color-white;
    }

    &__title {
      font-size: 1.5rem;
      font-weight: 500;
    }

    &__value {
      font-size: 7rem;
      font-weight: 700;
    }

    &__caption {
      font-size: 1rem;
    }

    &__error {
      color: $color-red-1;
      font-size: 1.4rem;
    }
  }

  .calculadora-modal {
    & {
      display: flex;
      background-color: $color-white;
      height: 100%;
      color: $color-black-light;

      @include responsive(phone) {
        flex-direction: column;
      }
    }

    &__left {
      color: $color-white;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: url(/img/calculadora-modal.png) center center / cover no-repeat;

      flex: 0 0 45%;

      @include responsive(phone) {
        flex: 1;
        padding: 4rem 0 2rem 0;
      }
    }

    &__right {
      flex: 1;
      padding: 4rem 3rem;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
    }

    &__title {
      font-weight: 700;
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }

    &__subtitle {
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }

    &__label {
      font-weight: 700;
      color: $color-black;
      margin-bottom: 0.5rem;
      display: block;
      font-size: 1.5rem;
    }

    &__input {
      & {
        -webkit-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        border: none;
        border: 1px solid $color-gray-3;
        background-color: $color-white;
        padding: 0.95rem 1rem;
        padding-left: 1.5rem;
        border-radius: 5rem;
        margin-bottom: 1rem;
        font-size: 1.3rem;
        font-family: 'Raleway', sans-serif;
      }

      &:active,
      &:focus {
        border-color: $color-orange-light-1;
        outline: none;
      }
    }

    &__button-container {
      margin-top: 2rem;
      width: 70%;

      @include responsive(phone) {
        width: 100%;
      }
    }

    &__termos {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 1.1rem;
      margin: 1rem 0;

      input {
        margin-right: 1rem;
      }
    }

    &__termos-label {
      a {
        color: $color-orange;
      }
    }
  }
}
