body.empresas-rappi {
  $rappi: #ed6865;

  .steps__number {
    color: rgba($rappi, 0.2);
  }

  .advantage,
  .advantage::before,
  .discount,
  .product-card__button,
  .footer-simple {
    background-color: $rappi;
  }

  .clients__img-block,
  .product-card__button {
    border-color: $rappi;
  }

  .clients__highlight {
    color: $rappi;
  }

  .button,
  .button:link,
  .button:visited,
  // &:active,
  .button:focus {
    background-color: $rappi;
    border: 2px solid $rappi;
  }

  .button:hover {
    background-color: transparent;
    color: $rappi;
  }
}
