.landing {
  .header {
    & {
      height: 100vh;
      position: relative;
      background: url(/img/landing-placeholder.jpg) center center / cover no-repeat;
      border-bottom-left-radius: $section-border-radius;
    }

    &__content {
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
    }

    &__help-text {
      font-size: 1.5rem;
      color: $color-white;
      font-weight: 300;
    }

    .background-video {
      // remove later
      display: none;

      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      opacity: 0.7;
      overflow: hidden;
      border-bottom-left-radius: $section-border-radius;

      &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
