.job {
  & {
  }

  &__header {
    padding: 18rem 0 5rem 0;
    background-color: $color-white;
    border-bottom: 0.5rem solid $color-orange;

    @include responsive(tab-port) {
      background-image: none;
      padding-top: 12rem;
      padding-bottom: 0rem;
    }
  }

  &__main-header {
    background-image: url('/img/landing-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 18rem;
    padding-bottom: 10rem;
    color: $color-white;
    text-align: center;
  }

  &__header-img {
    width: 9rem;
    margin: 0 auto;
    display: block;
  }

  &__header-title {
    font-size: 6rem;
    font-weight: 700;

    @include responsive(phone) {
      line-height: 7rem;
      margin-top: 2rem;
    }
  }

  &__header-subtitle {
    font-size: 2.5rem;
    font-weight: 500;
  }

  &__header-button {
    appearance: none;
    border: none;
    outline: none;
    padding: 1rem 5rem;
    border-radius: 100rem;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;
    color: $color-white;
    border: 0.2rem solid $color-white;
    display: inline-block;
    margin-top: 5rem;
    transition: 0.3s all;

    &:hover {
      background-color: $color-white;
      color: $color-black;
    }
  }

  &__col {
    align-self: flex-start;
    padding-top: 2rem;
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;

    @include responsive(tab-port) {
      order: -1;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 5rem;
    color: $color-orange;
    line-height: 6.5rem;
  }

  &__subtitle {
    color: $color-black-light;
    font-size: 3rem;
    font-weight: 600;
    margin: 2rem 0 0.5rem 0;
  }

  &__info {
    font-size: 2rem;
    color: $color-gray-2;

    & > * {
      font-weight: 500;
    }
  }

  &__details,
  &__item {
    font-size: 1.75rem;
    font-weight: 400;
    color: $color-gray-1;
    font-family: 'Roboto', sans-serif;
  }

  &__list {
    padding-left: 1.5rem;
  }

  &__item {
    list-style-type: disc;
    margin-bottom: 0.1rem;
  }

  &__button {
    display: inline-block;
    background-color: $color-orange;
    text-transform: uppercase;
    color: $color-white;
    padding: 1rem 5rem;
    border-radius: 10rem;
    font-size: 1.8rem;
    letter-spacing: 0.15rem;
    font-weight: 600;
    border: 2px solid $color-orange;
    margin: 0 auto;
    transition: 0.3s all;

    &--active {
      position: fixed;

      @include responsive(tab-land) {
        position: initial;
      }
    }

    @include responsive(tab-port) {
      margin-bottom: 5rem;
    }

    &:hover {
      background-color: $color-white;
      color: $color-orange;
    }
  }

  &__phone {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  &__divider {
    height: 0.3rem;
    background-color: $color-orange;
  }

  &__table-wrapper {
    @include responsive(tab-port) {
      overflow-x: scroll;
    }
  }

  &__table {
    width: 100%;
    max-width: 100%;
    text-align: left;
    // border-collapse: separate;
    color: $color-black-light;

    @include responsive(tab-port) {
      min-width: 75rem;
    }

    thead {
      display: table-header-group;
      vertical-align: middle;

      tr {
        border-bottom: 10px solid $color-orange;

        th {
          font-weight: 400;
          text-transform: uppercase;
          font-size: 1.2rem;
        }
      }
    }

    tbody {
      tr {
        font-size: 2rem;
        font-weight: 500;
        height: 10rem;
        cursor: pointer;
        transition: 0.3s all;

        @include responsive(tab-port) {
          &:hover {
            transform: initial;
          }
        }

        &:hover {
          transform: translateX(4rem);
        }

        &:nth-of-type(odd) {
          // background-color: $color-orange-light-4;
        }

        td {
          border-bottom: 1px solid $color-gray-light-2;
          // display: table-cell;
          color: $color-orange;
          font-weight: 500;
        }
      }
    }

    a {
      color: $color-black-light;
      font-weight: 700;
      font-size: 2.2rem;
    }
  }
}
