.landing-campanha {
  .heading-campaign {
    .form-campaign {
      margin-top: 50rem;
    }
  }

  $transition-duration: 0.45s all;
  $banner-size: 42rem;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background-color: rgba(0, 0, 0, 0.75);
    z-index: 999999;
    pointer-events: none;
    transition: $transition-duration;
  }

  &__wrapper {
    transition: $transition-duration;
    position: relative;
  }

  &__banner-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 5rem;
    height: 5rem;
    background-image: url(/img/remove-orange.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }

  &__banner {
    & {
      position: relative;
      background: $color-white url(/img/banner-campanha.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      width: $banner-size;
      position: fixed;
      z-index: 1;
      top: 0;
      right: -$banner-size;
      overflow-x: hidden;
      transition: $transition-duration;
      box-shadow: 2px 2px 10px 0px rgba($color: #000000, $alpha: 0.5);
      cursor: pointer;

      // transform: translateX(-$banner-position);

      &:hover {
        box-shadow: 4px 4px 15px 0px rgba($color: #000000, $alpha: 0.3);
        // transform: scale(1.03);
      }

      &--sp {
        background: $color-white url(/img/banner-campanha-sp.jpg);
      }
    }
  }
}
