body {
  color: #fff;
}

.form {
  background-color: rgba(0, 0, 0, 0.5);
}

.form__title,
.form__subtitle {
  color: #fff;
}

.form__title::before {
  background-color: #ffbf00;
}

.form__input {
  border-color: #fff;
  background-color: transparent !important;
}

.form__button {
  background-color: #ffbf00;
  border-color: #ffbf00;
  color: #202020;
}

.form__button:hover {
  color: #ffbf00 !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.section-parceria__title {
  text-transform: uppercase;
  color: #202020;
}
.section-parceria__subtitle {
  color: #fff;
}

.section-1 {
  background-color: #202020;
  color: #fff;
}

.section-1__cta,
.section-2__cta {
  color: #202020;
}

.section-2 {
  background-color: #303030;
  color: #fff;
}

.section-2__cta {
  background-color: #ffbf00 !important;
  border: none !important;
}

.section-2__left {
  background-color: #202020;
}

.section-1__img-container::after {
  border-color: #fff !important;
}

.section-1__img-container {
  border-color: #ffbf00;
}

.section-3 {
  background-color: #202020 !important;
  color: #ffbf00;
}
