@mixin absPosition {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin sectionTab($color) {
  $size: 5rem;

  &::before {
    z-index: -1;
    content: '';
    background: url(/img/down-arrow.png) center 12px / 18px no-repeat;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -$size/2;
    width: $size;
    height: $size;
    color: $color-white;
    background-color: $color;
    border-radius: 100px;
  }
}

// @mixin row($gutter-vertical, $gutter-horizontal) {
//   &:not(:last-child) {
//     margin-bottom: $gutter-vertical;
//   }

//   @include clearfix;

//   [class^='col-'] {
//     float: left;

//     &:not(:last-child) {
//       margin-right: $gutter-horizontal;

//       @include responsive(phone) {
//         margin-right: 0;
//       }
//     }
//   }

//   @for $i from 0 to $grid-columns {
//     .col-#{$i + 1} {
//       width: calc(
//         (#{$i+1} * (100% - #{$grid-columns - 1} * #{$gutter-horizontal}) / #{$grid-columns}) +
//           #{$i} *
//           #{$gutter-horizontal}
//       );

//       @include responsive(phone) {
//         width: 100%;
//         margin-bottom: $gutter-vertical-small;
//       }
//     }
//   }

// reference:
// .col-1 {
//     width: calc((1 * (100% - 5 * #{$gutter-horizontal}) / 6) + 0 * #{$gutter-horizontal});
// }
// }

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800]   regular styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 78.125em) {
      @content;
    } //1250px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800px
  }
}
