// COLORS
$color-orange: #ff8008;

$color-orange-2: #fcb32c;

$color-orange-light-1: #f8be7f;
$color-orange-light-2: #f2d798;
$color-orange-light-3: #f7e7c1;
$color-orange-light-4: #faefd5;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-1: #505050;
$color-gray-2: #707070;
$color-gray-3: #a0a0a0;

$color-white: #fff;
$color-black: #000;
$color-black-light: #303030;

$color-red-1: #eb0000;
// ENDCOLORS

$box-shadow-0: 0px 0.3rem 0.6rem 0 rgba($color-black, 0.2);

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;

$gutter-horizontal-xs: 3rem;
$gutter-horizontal-s: 6rem;
$gutter-horizontal-m: 8rem;
$gutter-horizontal-l: 0rem;

$container-width: 112rem;
$container-width-m: 90rem;
$container-width-s: 75rem;
$container-width-xs: 60rem;

$grid-columns: 12;

$row-padding-horizontal: 1.5rem;

$section-border-radius: 20rem;
