<!-- google analytics -->
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        (i[r] =
            i[r] ||
            function() {
                (i[r].q = i[r].q || []).push(arguments);
            }),
            (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-100949672-1', 'auto');
    ga('send', 'pageview');
</script>

<% if (!isDebug) { %>
<!-- branch -->
<script defer type="text/javascript">
    (function(b, r, a, n, c, h, _, s, d, k) {
        if (!b[n] || !b[n]._q) {
            for (; s < _.length; ) c(h, _[s++]);
            d = r.createElement(a);
            d.async = 1;
            d.src = 'https://cdn.branch.io/branch-latest.min.js';
            k = r.getElementsByTagName(a)[0];
            k.parentNode.insertBefore(d, k);
            b[n] = h;
        }
    })(
        window,
        document,
        'script',
        'branch',
        function(b, r) {
            b[r] = function() {
                b._q.push([r, arguments]);
            };
        },
        { _q: [], _v: 1 },
        'addListener applyCode banner closeBanner creditHistory credits data deepview deepviewCta first getCode init link logout redeem referrals removeListener sendSMS  setBranchViewData setIdentity track validateCode'.split(
            ' '
        ),
        0
    );
    branch.init('key_live_acqrpyHyitkYBKFI6NN4BoneDub9RtOP', {
        make_new_link: false
    });

    // var url = new URL(window.location.href);


    // ga(function(tracker) {
    //     // var _navigator = {};
    //     // for (var i in window.navigator) _navigator[i] = window.navigator[i];
    //     // _navigator = JSON.stringify(_navigator);

    //     var trackingData = {
    //         url: window.location.url,
    //         utm_source: url.searchParams.get('utm_source') || 'SEO',
    //         utm_medium: url.searchParams.get('utm_medium') || '',
    //         utm_campaign: url.searchParams.get('utm_campaign') || '',
    //         utm_content: url.searchParams.get('utm_content') || '',
    //         utm_term:
    //             url.searchParams.get('utm_term') ||
    //             window.location.pathname
    //                 .split('/')
    //                 .slice(1)
    //                 .join(','),
    //         ga_id: tracker.get('clientId'),
    //         navigator: {}
    //     };

    //     $.ajax({
    //         url: '/aluno/track',
    //         type: 'POST',
    //         data: trackingData
    //     })
    //         .done(function(response) {
    //             var data = trackingData;
    //             data['tracking_id'] = response.trackId ? response.trackId : '';

    //             branch.setBranchViewData({ data: data });
    //             branch.link({ data: data }, function(e, a) {
    //                 if (e) {
    //                     console.log(e);
    //                 } else {
    //                     $('.store-button').attr('href', a);
    //                 }
    //             });
    //         })
    //         .fail(function(jqXHR, textStatus, errorThrown) {
    //             console.log('Erro! ', errorThrown);
    //         });
    // });
</script>
<% } %>
