<!-- nao utilizado -->

<!--nav-->
<nav id="mainNav" class="navbar navbar-default navbar-custom">
  <div class="container">

    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar icon-bar-one"></span>
        <span class="icon-bar icon-bar-two"></span>
        <span class="icon-bar icon-bar-three"></span>
      </button>
      <a class="navbar-brand page-scroll" href="/"><img id="navbar-logo" src="/img/logo-laranja.png" height="100%"></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li class="hidden">
          <a href="/#page-top"></a>
        </li>
        <li>
          <a href="/acompanhamento-escolar">Acompanhamento escolar</a>
        </li>
        <!--
          <li>
            <a href="/como-resolve">Como Resolve?</a>
          </li>
        -->
        <li>
          <a href="/blog">Nosso Blog</a>
        </li>
        <li>
          <a href="/professor">Seja um professor</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if (user && user.nome) { %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle orange-link" data-toggle="1dropdown"> Olá, <%= user.nome.split(' ')[0] %>!
            <i class="glyphicon glyphicon-chevron-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="/aluno/agenda">Agenda <i class="	glyphicon glyphicon-book"></i> </a></li>
            <li><a href="/aluno/historico">Histórico <i class="	glyphicon glyphicon-calendar"></i> </a></li>
            <!-- <li><a href="/aluno/perfil">Perfil <i class="glyphicon glyphicon-home"></i> </a></li> -->
            <li><a href="/aluno/sair">Sair <i class="	glyphicon glyphicon-share-alt"></i></a></li>
          </ul>
        </li>
        <% } else { %>
        <li><a class="orange-link" href="/aluno/entrar"> Criar conta / Entrar </a></li>
        <% } %>
      </ul>

    </div>
  </div>
</nav>

<div class="mobile-sidebar">
  <a class="mobile-sidebar-link" href="/#como-funciona">Como funciona</a>
  <a class="mobile-sidebar-link" href="/acompanhamento-escolar">Acompanhamento escolar</a>
  <a class="mobile-sidebar-link" href="/perguntas-frequentes">Perguntas frequentes</a>
  <a class="mobile-sidebar-link" href="/calculadora-pas">Calculadora PAS</a>
  <a class="mobile-sidebar-link" href="/professor">Professor</a>

  <% if (user && user.nome) { %>
  <a href="javascript:void(0)" class="mobile-dropdown-toggle"> Olá, <%= user.nome.split(' ')[0] %>! <i
      class="glyphicon glyphicon-chevron-down"></i></a>
  <ul class="mobile-sidebar-dropdown-menu">
    <li><a href="/aluno/agenda">Agenda</a></li>
    <li><a href="/aluno/historico">Histórico</a></li>
    <!-- <li><a href="/aluno/perfil">Perfil <img class="dropdown-icon" src="../img/perfil-icon.png" alt="Calendario Icon"> </a></li> -->
    <li><a href="/aluno/sair">Sair</a></li>
    <% } else { %>
    <a href="/aluno/entrar"> Criar conta / Entrar </a>
    <% } %>

</div>