<link href="/css/preco/faq.css" rel="stylesheet" />

<div class="faq">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12 faqPoint">
        <h3>Como funciona?</h3>
        <p>
          Através do aplicativo ou do site você pode buscar professores particulares de diversas
          matérias. Basta fornecer o dia, a matéria, o local e a duração da aula. Depois, basta
          escolher um professor, adicionar um cartão e finalizar seu pedido. O professor se
          deslocará no dia e horário escolhidos até o local para a aula. Vale ressaltar que a
          cobrança só é feita após a aula.
        </p>
        <p></p>
      </div>

      <div class="col-sm-6 col-xs-12 faqPoint">
        <h3>Como os professores são selecionados?</h3>
        <p>
          Os professores da Colmeia passam por um rigoroso processo de seleção que conta com análise
          de currículo e histórico escolar, checagem de nada consta cível e criminal e avaliação de
          personalidade para ver se o professor se encaixa com o perfil Colmeia.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12 faqPoint">
        <h3>Horários de funcionamento?</h3>
        <p>
          É possível encontrar os professores parceiros da Colmeia para dar aula de segunda a sexta de 9:00 até 20:00.
        </p>
        <p></p>
      </div>

      <div class="col-sm-6 col-xs-12 faqPoint">
        <h3>Pacotes de aulas</h3>
        <p>
          Ainda não é possível agendar pacotes através do aplicativo. Para isso contate 99805-2073
          ou o nosso email contato@aulascolmeia.com.br
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12 faqPoint">
        <h3>Eu pago antes da aula acontecer?</h3>
        <p>
          A cobrança só é feita após a finalização da aula no cartão de crédito cadastrado na
          plataforma.
        </p>
        <p></p>
      </div>

      <div class="col-sm-6 col-xs-12 faqPoint">
        <h3>Quais os meios de pagamento?</h3>
        <p>
          Atualmente nosso sistema de pagamento aceita apenas cartão de crédito. Para pacotes de
          aula em dinheiro ou boleto, contate 99805-2073 ou o nosso email
          contato@aulascolmeia.com.br
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-12 faqPoint">
        <h3>E se acontecer algum problema, posso cancelar a aula?</h3>
        <p>
          Caso aconteça algum problema é possível cancelar a aula através do aplicativo ou do site
          com até 3 horas de antecedência sem <b>NENHUM</b> custo. Após esse período é cobrada uma
          taxa de R$15,00.
        </p>
        <p></p>
      </div>

      <div class="col-sm-6 col-xs-12 faqPoint">
        <h3>Com quanto tempo de antecedência posso marcar uma aula?</h3>
        <p>
          Você pode marcar suas aulas com até 4 horas de antecedência. Esse tempo é necessário para
          o professor poder se planejar e se deslocar até o local.
        </p>
      </div>
    </div>
  </div>
</div>
