<% if (!isDebug) { %>
<!-- Start of colmeia Zendesk Widget script -->
<!-- <script defer type="text/javascript">
  var ua = navigator.userAgent.toLowerCase(),
    platform = navigator.platform.toLowerCase();
  (platformName = ua.match(/ip(?:ad|od|hone)/)
    ? 'ios'
    : (ua.match(/(?:webos|android)/) || platform.match(/mac|win|linux/) || ['other'])[0]),
    (isMobile = /ios|android|webos/.test(platformName));

  if (!isMobile) {
    window.zEmbed ||
      (function(e, t) {
        var n,
          o,
          d,
          i,
          s,
          a = [],
          r = document.createElement('iframe');
        (window.zEmbed = function() {
          a.push(arguments);
        }),
          (window.zE = window.zE || window.zEmbed),
          (r.src = 'javascript:false'),
          (r.title = ''),
          (r.role = 'presentation'),
          ((r.frameElement || r).style.cssText = 'display: none'),
          (d = document.getElementsByTagName('script')),
          (d = d[d.length - 1]),
          d.parentNode.insertBefore(r, d),
          (i = r.contentWindow),
          (s = i.document);
        try {
          o = s;
        } catch (e) {
          (n = document.domain),
            (r.src = 'javascript:var d=document.open();d.domain="' + n + '";void(0);'),
            (o = s);
        }
        (o.open()._l = function() {
          var e = this.createElement('script');
          n && (this.domain = n),
            (e.id = 'js-iframe-async'),
            (e.src = '/js/lib/zendesk.js'),
            (this.t = +new Date()),
            (this.zendeskHost = 'colmeia.zendesk.com'),
            (this.zEQueue = a),
            this.body.appendChild(e);
        }),
          o.write('<body onload="document._l();">'),
          o.close();
      })();
  }
</script> -->
<!-- End of colmeia Zendesk Widget script -->

<!-- Hotjar Tracking Code for www.aulascolmeia.com.br -->
<script>
  (function(h, o, t, j, a, r) {
    h.hj =
      h.hj ||
      function() {
        (h.hj.q = h.hj.q || []).push(arguments);
      };
    h._hjSettings = { hjid: 495812, hjsv: 6 };
    a = o.getElementsByTagName('head')[0];
    r = o.createElement('script');
    r.async = 1;
    r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
    a.appendChild(r);
  })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
</script>
<% } %>
