<link rel="stylesheet" href="/css/flash.css" />

<% if(message.error.length > 0) { %>
<div class="flash flash--error">
  <%= message.error %>
</div>
<% } %> <% if(message.info.length > 0) { %>
<div class="flash flash--info">
  <%= message.info %>
</div>
<% } %> <% if(message.success.length > 0) { %>
<div class="flash flash--success">
  <%= message.success %>
</div>
<% } %>
