<footer class="footer-simple">
  <div class="container">
    <div class="footer-simple__content">
      <div class="left">
        <a href="/"><img src="/img/logo.png" alt="Aulas Colmeia Logo" class="footer-simple__logo" /></a>
      </div>
      <div class="right">
        <a
          target="_blank"
          href="https://www.instagram.com/aulascolmeia"
        >
          <img class="share__button" src="/img/transparent-instagram.png" alt="Ícone do instagram para a página da Colmeia">
        </a>
        <a
            target="_blank"
            href="https://www.facebook.com/aulascolmeia/"
          >
          <img class="share__button" src="/img/transparent-facebook.png" alt="Ícone do facebook para a página da Colmeia">
        </a>
        <a
          target="_blank"
          href="https://www.linkedin.com/company/colmeia-tecnologia"
        >
        <img class="share__button" src="/img/transparent-linkedin.png" alt="Ícone do linkedin para a página da Colmeia">
        </a>
      </div>

    </div>
  </div>
</footer>