<link href="/css/partials/footer.css" rel="stylesheet" type="text/css" />

<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <img id="footer_logo" src="/img/logo.png" alt="Aulas Colmeia reforço escolar" />
        <h4>
          Ligações: (61) 9 9805-2073
        </h4>
        <h4>
          Whatsapp:
          <img src="/img/whatsapp-icon.png" alt="Contato Aulas Colmeia reforço celular whatsapp" class="footer_whats" />
          - (61) 9 9805-2073
        </h4>
        <h4>contato@aulascolmeia.com.br</h4>
      </div>

      <div class="col-lg-3 col-md-3" id="footer_buttons">
        <p>
          <a href="https://aulascolmeia.com.br/#como-funciona">Como funciona</a>
        </p>
        <p>
          <a href="https://aulascolmeia.com.br/perguntas-frequentes">Perguntas frequentes</a>
        </p>
        <p>
          <a href="https://aulascolmeia.com.br/quem-somos">Quem somos</a>
        </p>
        <p>
          <a href="https://aulascolmeia.com.br/blog">Nosso Blog</a>
        </p>
      </div>

      <div class="col-lg-3 col-md-3" id="footer_buttons">
        <p>
          <a href="https://aulascolmeia.com.br/conheca-a-colmeia">Conheça a Colmeia</a>
        </p>
        <p>
          <a href="https://aulascolmeia.com.br/aluno/registrar">Cadastre-se</a>
        </p>
        <p>
          <a href="https://aulascolmeia.com.br/calculadora-pas">Calculadora do Pas</a>
        </p>
        <p>
          <a href="https://aulascolmeia.com.br/colmeia_ebook_como_ajudar_meu_filho_a_estudar.pdf" target="_blank">
            Ajude seu filho a estudar
          </a>
        </p>
      </div>

      <div class="col-lg-3 col-md-3" id="footer_buttons">
        <p>
          <a href="https://aulascolmeia.com.br/professor">Seja um professor</a>
        </p>
        <p>
          <a href="https://aulascolmeia.com.br/Termos-de-Uso-Colmeia.pdf">Termos de Uso</a>
        </p>
        <p>
          <a href="https://aulascolmeia.com.br/politica-de-privacidade">Política de Privacidade</a>
        </p>
      </div>
    </div>
    <footer>
      <hr />
      <div class="row" id="copyright">
        <div class="col-lg-2 col-md-2">
          <p>Copyright Colmeia 2020</p>
        </div>
        <div class="col-lg-10 col-md-10" align="right">
          <p>
            Colmeia Tecnologia LTDA ME, 2017 - CNPJ 26.263.713/0001-31
            <br />
            COTI - Edifício Victoria Office Tower - SAUS Q. 4, Sala 701 - Asa Sul, Brasília - DF,
            70070-938
          </p>
        </div>
      </div>
    </footer>
  </div>
</section>