<link href="/css/main_nav.css" rel="stylesheet" type="text/css">

<!--nav-->
<nav id="mainNav" class="navbar navbar-default navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/"><img src="/img/logo.png" height="100%"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li class="hidden">
                    <a href="/"></a>
                </li>
                <li>
                    <a class="page-scroll" href="/">Agendar aula</a>
                </li>
                <li>
                  <a href="/professores">Professores</a>
                </li>
                <li>
                  <a href="/aula-particular/preco">Preços</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/">Aluno</a>
              </li>
              <li>
                <a href="/professor">Professor</a>
              </li>
            </ul>

        </div>
    </div>
</nav>
