<link href="/css/partials/NEW_navbar.css" rel="stylesheet">
<!-- <link href="/css/colmeia-buttons.css" rel="stylesheet"> -->

<script src="/js/lib/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="/js/lib/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/mobilechecker.js" ></script>
<script src="/js/navbar.js" type="text/javascript"></script>

<link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32">

<nav class="navbar navbar-default navbar-custom">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img src="/img/colmeia-logo-branco.png"></a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav navbar-left">
          <li><a href="/">Agendar</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

          <!-- ou colocar this.user no if  -->
          <% if (user && user.nome) { %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="1dropdown"> Olá, <%= user.nome.split(' ')[0] %> <i class="glyphicon glyphicon-chevron-down" ></i></a>
              <ul class="dropdown-menu">
                <li><a href="/aluno/agenda">Agenda <i class="	glyphicon glyphicon-book"></i> </a></li>
                <li><a href="/aluno/historico">Histórico <i class="	glyphicon glyphicon-calendar"></i> </a></li>
                <!-- <li><a href="#">Endereços <i class="glyphicon glyphicon-home"></i> </a></li> -->
                <!-- <li><a href="#">Cartões <i class="glyphicon glyphicon-credit-card"></i> </a></li> -->
                <li><a href="/aluno/sair">Sair <i class="	glyphicon glyphicon-share-alt"></i></a></li>
              </ul>
            </li>

          <% } else { %>
            <li><a href="/aluno/entrar"> Entrar / Registrar </a></li>
          <% } %>

        </ul>

      </div>
    </div>
</nav>
