<link href="/css/nav-ebook.css" rel="stylesheet">
<link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32">

<div id="container">
      <div class="navbar-header">
        <img id="headerImage" src="/img/logo.png">
      </div>
</div>
