<nav class="navbar-static">
  <div class="container">
    <div class="navbar-static__content">
      <div class="navbar-static__left">
        <a class="navbar-static__logo-link" href="/">
          <img src="/img/colmeia_logo.png" alt="Aulas Colmeia Logo" class="navbar-static__logo-img" /></a>
      </div>
      <div class="navbar-static__right">
        <a target="_blank" class="btn btn-default btn-orange" href="tel:<%= pageData.phone %>">
          <span><%= pageData.phone %></span>
        </a>
        <a class="btn btn-default btn-green whatsapp-btn">
          <span>Enviar Whatsapp</span>
        </a>
        <a class="tel-icon" style="display: none;" href="tel:<%= pageData.phone %>"><img src="/img/tel-icon--online.png"></a>
        <a class="send-whatsapp-icon whatsapp-btn" style="display: none;"><img src="/img/whatsapp--online.png"></a>
      </div>
    </div>
  </div>
</nav>