<!-- one signal -->
<!-- depende do user! -->
<link rel="manifest" href="/manifest.json" />
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>

<% if (!isDebug) { %>
<script>
  var OneSignal = window.OneSignal || [];
  var id = 'a72fa260-12fe-41a8-9aa5-5b8d262e2086';

  OneSignal.push(function() {
    OneSignal.init({
      appId: id,
      autoRegister: false,
      welcomeNotification: {
        title: 'Aulas Colmeia',
        message: 'Agradecemos por aceitar notificações!'
        // "url": "" /* Leave commented for the notification to not open a window on Chrome and Firefox (on Safari, it opens to your webpage) */
      },
      promptOptions: {
        actionMessage: 'Colmeia deseja mostrar notificações com informações sobre aulas.',
        acceptButtonText: 'Aceitar',
        cancelButtonText: 'Recusar',
        showCredit: false
      },
      notifyButton: {
        enable: false,
        position: 'bottom-left',
        showCredit: false
      }
    });
    OneSignal.setDefaultTitle('Aulas Colmeia');

    if (user && user.nome) {
      OneSignal.push(function() {
        OneSignal.showHttpPrompt();
        // OneSignal.getNotificationPermission();
      });
    }
  });
</script>
<% } else { %>
<script>
  var OneSignal = window.OneSignal || [];
  var id = 'da7ed88b-ef3a-4508-b950-a9268b0cebf2';

  OneSignal.push(function() {
    OneSignal.init({
      appId: id,
      autoRegister: false,
      welcomeNotification: {
        title: 'Aulas Colmeia',
        message: 'Agradecemos por aceitar notificações!'
        // "url": "" /* Leave commented for the notification to not open a window on Chrome and Firefox (on Safari, it opens to your webpage) */
      },
      promptOptions: {
        actionMessage: 'Colmeia deseja mostrar notificações com informações sobre aulas.',
        acceptButtonText: 'Aceitar',
        cancelButtonText: 'Recusar',
        showCredit: false
      },
      notifyButton: {
        enable: false,
        position: 'bottom-left',
        showCredit: false
      }
    });
    OneSignal.setDefaultTitle('Aulas Colmeia');

    if (user && user.nome) {
      OneSignal.push(function() {
        OneSignal.showHttpPrompt();
        // OneSignal.getNotificationPermission();
      });
    }
  });
</script>
<% } %>
