<%
    var imgSrc = prof.image ? prof.image.url() : '/img/profile_placeholder.png';
    var imgAlt = prof.nome.split(' ')[0] + ' professor particular.';
    var profNome = prof.nome;
    var nameCss = '';
    if (profNome.length > 26) {
        nameCss = 'font-size: 15px';
    }
    var curriculoSize = Math.round(2500 / professores.length);

    var curriculoProcessado;

    if(prof.curriculo) {
        var numPalavras = prof.curriculo.split(' ').length;
        curriculoProcessado = numPalavras >= curriculoSize ? prof.curriculo.split(/\s+/).slice(0, curriculoSize).join(' ') + '...' + '<div class="ver-mais">Ver mais</div>' : prof.curriculo;
        curriculoProcessado = curriculoProcessado.replace(/(?:\r\n|\r|\n)/g, '<br />');
    } else {
        curriculoProcessado = '';
    }
-%>
<div 
    id="<%= prof.id %>"
    class="professor-card professor-container"
    data-schedule="<%= JSON.stringify(prof.schedule) %>" 
    data-curriculo="<%- prof.curriculo ? prof.curriculo.replace(/"/g, '&quot;').replace(/(?:\r\n|\r|\n)/g, '<br />') : '' %>"
    data-original-image="<%= prof.image ? prof.image.url() : '/img/profile_placeholder.png' %>"
    data-anos="<%= JSON.stringify(prof.anos) %>"
    data-anos-linguas="<%= JSON.stringify(prof.nivelLinguas) %>"
    data-topicos="<%= JSON.stringify(prof.topicos) %>"
    data-bairros="<%= JSON.stringify(prof.bairros) %>"
    data-avaliacao="<%= JSON.stringify(prof.avaliacao) %>"
    data-id="<%= prof.id %>"
    data-user-id="<%= prof.userId %>"
    data-horarios="<%= JSON.stringify(prof.horarios) %>"
    data-bc-interval="<%= prof.busyClassInterval %>"
>
    <div class="left-container">
        <div class="professor-image">
            <img data-src="<%= imgSrc %>" src="/img/profile_placeholder.png" alt="<%= imgAlt %>" display: hidden>
        </div>
    </div>

    <div class="middle-container">
        <div class="professor-name" style="<% nameCss %>"><%= profNome %></div>
        <p class="professor-disciplinas-title">Disciplinas:</p>
        <div class="professor-disciplinas">
            <% prof.topicos.forEach(e => { %>
                <div class="professor-disciplina"><%= e %></div>
            <% }) %>
        </div>
    </div>
    <div class="right-container">
        <div class="professor-rating">
            <div class="professor-rating-value"><%= prof.avaliacao.toFixed(2) %></div>
            <img class="professor-rating-img" src="/img/rating-star.png" alt="Avaliação professor Aulas Colmeia">
        </div>

        <div class="professor-escolher-button">
            Selecionar
        </div>
    </div>
</div> <!--professor-card-interno -->