<div class="aulao-carousel">
  <% pageData.video.forEach((prop, index) => { %>
    <% if (!pageData.id || pageData.id != (index + 1)) { %>
      <div class="aulao__block" data-disciplina="<%= prop.disciplina %>">
        <a class="aulao-internal-block" href="/comunidade-de-estudos/<%= index + 1 %>" target="_blank">
          <div class="aulao__img">
            <img src="<%= prop.img %>" alt="" class="aulao__img" />
          </div>
          <div class="aulao__metadados">
            <h3 class="aulao__source"><%= prop.disciplina %></h3>
            <p class="aulao__preview">Publicado em <%= prop.data %></p>
          </div>
        </a>
      </div>
    <% } %>
  <% }) %>
</div>