<div class="questoes-carousel">
  <% pageData.question.forEach((prop, index) => { %>
    <% if (!pageData.id || pageData.id != (index + 1)) { %>
      <div class="aulao__block">
        <a class="aulao-internal-block" href="/comunidade-de-estudos/pdf/<%= prop.pdf %>" target="_blank">
          <div class="aulao__img">
            <img src="<%= prop.img %>" alt="" class="aulao__img" />
          </div>
          <div class="aulao__metadados">
            <p class="aulao__preview">Exercícios de</p>
            <h3 class="aulao__source"><%= prop.disciplina %></h3>
          </div>
        </a>
      </div>
    <% } %>
  <% }) %>
</div>