<section class="media campaign-estudos u-padding-vertical-m">
  <div class="container">
    <h2 class="media__title u-margin-bottom-m">Colmeia na mídia</h2>
    <div class="media__container">
      <a class="media__link" href="https://www.facebook.com/watch/?v=491078964983280" target="_blank">
        <img src="/img/logo-globo-cinza.png" alt="Colmeia Aulas Particulares matéria Globo" class="media__img" />
      </a>
      <a class="media__link"
        href="https://www.facebook.com/aulascolmeia/photos/a.653582561491175.1073741828.630281417154623/754389254743838/?type=3&theater"
        target="_blank">
        <img src="/img/correio-braziliense-logo-cinza.png"
          alt="Colmeia Aulas particulares matéria jornal Correio Brasiliense Brasília" class="media__img" />
      </a>
      <a class="media__link" href="https://www.facebook.com/aulascolmeia/videos/748955565287207/" target="_blank">
        <img src="/img/sbt-logo-cinza.png" alt="Colmeia Aulas particulares matéria jornal SBT" class="media__img" />
      </a>
      <a class="media__link" href="http://www.jornaldebrasilia.com.br/cidades/alunos-da-unb-criam-uber-da-educacao/"
        target="_blank">
        <img src="/img/jornal-de-brasilia-png-cinza.png" alt="Colmeia Aulas particulares matéria Jornal de Brasília"
          class="media__img" />
      </a>
      <a class="media__link"
        href="https://www.tecmundo.com.br/software/135850-plataforma-permite-contratar-professores-aulas-particulares.htm"
        target="_blank">
        <img src="/img/tecmundo-logo-cinza.png" alt="Colmeia Aulas particulares matéria Tecmundo Portal"
          class="media__img" />
      </a>
    </div>
  </div>
</section>