<link href="/css/shareWidget.css" rel="stylesheet">

<script>
  var currentLocation = window.location.href;
  var emailBody = "";
  var emailContent = 'mailto:?Subject=' + title + '&amp;body=' + emailBody + " " + currentLocation;
  var facebookContent = 'http://www.facebook.com/sharer/sharer.php?u=' + currentLocation;
  var googleContent = 'https://plus.google.com/share?url=' + currentLocation;
  var linkedinContent = 'http://www.linkedin.com/shareArticle?mini=true&amp;url=' + currentLocation;
  var twitterContent = 'https://twitter.com/share?url=' + currentLocation + '&amp;text=' + title + '&amp;hashtags=colmeia';
</script>

<div id="shareContainer">
    <!-- Email -->
    <a id="emailLink">
        <img class="shareButton" src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
    </a>
    <!-- Facebook -->
    <a id="fbLink" target="_blank">
        <img class="shareButton" src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
    <!-- Google+ -->
    <a id="googleLink" target="_blank">
        <img class="shareButton" src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
    </a>
    <!-- LinkedIn -->
    <a id="linkedinLink" target="_blank">
        <img class="shareButton" src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
    </a>
    <!-- Twitter -->
    <a id="twitterLink" target="_blank">
        <img class="shareButton" src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>
</div>

<script>
  var emailLink = document.getElementById("emailLink");
  emailLink.setAttribute('href', encodeURI(emailContent));
  var fbLink = document.getElementById("fbLink");
  fbLink.setAttribute('href', encodeURI(facebookContent));
  var googleLink = document.getElementById("googleLink");
  googleLink.setAttribute('href', encodeURI(googleContent));
  var linkedinLink = document.getElementById("linkedinLink");
  linkedinLink.setAttribute('href', encodeURI(linkedinContent));
  var twitterLink = document.getElementById("twitterLink");
  twitterLink.setAttribute('href', encodeURI(twitterContent));
</script>
