.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1 1 auto;
}

.login-box {
  background-color: #F9F9F9;
  box-shadow: 2px 6px 40px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  margin: 2rem 1rem;
}

.login-box .section {
  padding: 2rem;
  width: 100%;
}

.login-box .section__user-type {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.login-box .section__user-type label {
  display: inline!important;
  margin-left: 0.2rem;
}

.login-box .section__input {
  padding-top: 0;
}

.login-box .section .heading {
  text-align: center;
  letter-spacing: 0.02em;
  color: #FF8008;
  font-weight: bold;
  font-size: 2rem;
}

.login-box .section label {
  display: block;
  color: #828282;
  letter-spacing: 0.02em;
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.login-box .section input#username {
  background-color: #F2F2F2;
  width: 100%;
  padding: 1rem;
  font-size: 1.4rem;
  color: #828282;
}

.login-box .section__button {
  padding: 4rem;
}

.login-box .section button {
  display: flex;
  margin: 0 auto;
  background-color: #FF8008;
  border-radius: 8px;
  color: #F2F2F2;
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: bold;
  font-size: 1.5rem;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  padding: 1rem 2rem;
}

.login-box .section button .img {
  background-image: url(/img/aulaonline-login-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 1.5rem 2rem;
}

@media only screen and (max-width: 450px) {
  .login-box {
    width: 30rem;
  }

  .login-box .section__button {
    padding: 3rem;
  }

  .login-box .section button {
    width: 80%;
  }

  .login-box .section button .img {
    padding: 2rem;
  }
}