<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Página não encontrada</title>

    <!--tags-->
    <meta
      name="description"
      content="Página não encontrada. Aula particular de reforço com o melhor preço é na Colmeia. Professores capacitados e dispostos a ajudar."
    />
    <meta name="keywords" content="colmeia, aulas particulares, aula particular" />
    <meta name="robots" content="index" />
    <meta
      property="og:image"
      content="https://www.aulascolmeia.com.br/img/page_description_img.png"
    />

    <!--icon-->
    <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32" />

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" />

    <!-- build:css public/css/page_not_found.min.css -->
    <!--libs-->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- white-navbar-styles -->
    <link href="/css/white-navbar.css" rel="stylesheet" />
    <link href="/css/dropdown-menu.css" rel="stylesheet" />

    <link href="/css/404.css" rel="stylesheet" />
    <!-- endbuild -->

    <% include ./partials/user %> <% include ./partials/analytics_header %> <% include
    ./partials/onesignal %>
  </head>

  <body>
    <% include ./partials/white-navbar %>

    <section id="main">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <h1>Página não encontrada</h1>
            <p>
              A página que você está tentando acessar não existe. Já que está aqui, que tal conhecer
              mais nossas redes sociais?
            </p>
            <a class="btn btn-lg btn-primary btn-block colmeia-button" href="/"> Página inicial</a>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="fb-post">
              <% function randomIntInc (low, high) { return Math.floor(Math.random() * (high - low +
              1) + low); } var post = randomIntInc(1,5); var postURL = "./fb_posts/fb_post" + post
              %>; <%- include(postURL) %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <% include ./partials/footer%>
  </body>

  <!-- build:js public/js/page_not_found.min.js -->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>
  <!-- white-navbar-scripts -->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/mobilechecker.js"></script>
  <script src="/js/mobile-sidebar.js"></script>
  <script src="/js/navbar.js"></script>
  <!-- endbuild -->

  <% include ./partials/ferramentas %>
</html>
