<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta
    name="description"
    content="Aulões ao vivo de preparação para o ENEM. Aulões de todas as matérias abordando temas atuais."
  />
  <meta
    name="keywords"
    content="blog, educação, colmeia, aulas, pacotes, pacote de aulas, aula particular, reforco, reforco escolar, acompanhamento escolar"
  />
  <meta name="robots" content="index" />
  <!-- FB Share -->
  <meta property="og:image" content="https://www.aulascolmeia.com.br/img/page_description_img.png" />
  <meta property="og:url" content="https://aulascolmeia.com.br/aulao-live" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Aulões ao vivo de preparação para o ENEM. Aulões de todas as matérias abordando temas atuais." />
  <!-- FB Share -->

  <!-- TWITTER Share-->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Aulão ENEM - Aulas Colmeia">
  <meta name="twitter:description" content="Aulões ao vivo de preparação para o ENEM. Aulões de todas as matérias abordando temas atuais.">
  <meta name="twitter:image:src" content="https://www.aulascolmeia.com.br/img/page_description_img.png">
  <meta name="twitter:domain" content="https://aulascolmeia.com.br/aulao-live">
  <!-- TWITTER Share-->

  <link href="https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <!-- build:css public/css/aulao.min.css -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  <link href="/css/aulao.css" rel="stylesheet" type="text/css" />
  <link href="/css/lib/flickity.min.css" rel="stylesheet" type="text/css" />
  <!-- endbuild -->
  <title>Aulão ENEM - Aulas Colmeia</title>

  <% include ./partials/user %> <% include ./partials/woopra %> <% include
    ./partials/analytics_header %> <% include ./partials/onesignal %> <%- pageData.scriptHead %>

  <!-- Global site tag (gtag.js) - Google Ads: 863977747 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-863977747"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'AW-863977747');
  </script>

  <!--
    Event snippet for Cadastro-Leads-LPs conversion page
    In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button.
  -->
  <script>
    function gtag_report_conversion(url) {
      var callback = function () {
        if (typeof url != 'undefined') {
          window.location = url;
        }
      };
      gtag('event', 'conversion', {
        send_to: 'AW-863977747/95lcCL-X74wBEJOC_ZsD',
        event_callback: callback
      });
      return false;
    }
  </script>
</head>
<body class="landing-campanha landing-campanha--online" style="font-family: 'Muli', sans-serif;">
  <%- pageData.scriptBody %><%- include('partials/new/whatsapp') %>
  <div class="landing-campanha__wrapper">
    <%- include('partials/navbar-tel-whatsapp.ejs') %>
    <main class="video-container dark-container">
      <div class="container">
        <div class="video-metadados">
          <h1 class="video-header">AULÃO #12</h1>
          <h3>BIOLOGIA</h3>
          <p>
            O professor Marcelo Ferreira trabalhará genética abordando: 1ª lei de Mendel (Dominância completa), Codominância (Sistema ABO) e dominância incompleta e 2ª Lei de Mendel
          </p>
        </div>
        <div class="video-mirror">
          <!-- Alternar entre iframe e aguarde-aulao -->
            <a class="checkout-previous-lessons" href="https://aulascolmeia.com.br/cadastro-comunidade-estudos" target="_blank">
              <span>Gostou desse conteúdo? Clique aqui para receber outros!</span>
            </a>
          <iframe
            class="youtube-iframe youtube-video-iframe"
            src="https://www.youtube.com/embed/xlRXWWeiwGw"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
        <!-- <div class="aguarde-aulao"></div> -->
          <iframe
            class="youtube-iframe youtube-chat-iframe"
            src="https://www.youtube.com/live_chat?v=xlRXWWeiwGw&embed_domain=aulascolmeia.com.br"
            frameborder="0"
          >
          </iframe>
          <a class="checkout-live" href="https://www.youtube.com/watch?v=xlRXWWeiwGw" target="_blank">
            <span>ACESSE A LIVE NO YOUTUBE</span>
          </a>
        </div>
      </div>
    </main>
    <aside class="cronograma-container light-container">
      <div class="container">
        <div class="cronograma-header">
          <h3>CRONOGRAMA</h3>
        </div>
        <div class="cronograma-display">
          <div class="display-container display-left">
            <div class="lesson-info">
              <h4>AULÃO #01 - 14/04, 16h</h4>
              <h6>Coronavírus e estudo dos vírus</h6>
              <p>A professora Bárbara Akemi vai dar o contexto inicial sobre o coronavírus e depois vai apresentar algumas questões a respeito da temática vírus.</p>
            </div>
            <div class="lesson-info">
              <h4>AULÃO #02 - 21/04, 16h</h4>
              <h6>Matemática</h6>
              <p>O professor Gabriel Mello dará aula de matemática com exemplos e exercícios aplicados com a temática coronavírus.</p>
            </div>
            <div class="lesson-info">
              <h4>AULÃO #03 - 28/04, 16h</h4>
              <h6>Português - Redação</h6>
              <p>A professora Sayoanara Mihalache dará aula de redação sobre a temática coronavírus, competências avaliadas e como produzir uma redação nota 10.</p>
            </div>
            <div class="lesson-info">
              <h4>AULÃO #04 - 05/05, 16h</h4>
              <h6>Física</h6>
              <p>O professor Allan Luís dará aula na área de física sobre mecânica dinâmica e cinemática e abordará soluções ao coronavírus.</p>
            </div>
            <div class="lesson-info">
              <h4>AULÃO #05 - 12/05, 16h</h4>
              <h6>Química</h6>
              <p>O professor Gustavo Benevuto dará aula na área de química sobre a temática coronavírus trabalhando os conceitos de hidrocarbonetos, classificação de cadeias, classificação do carbono e função oxigenada álcool.</p>
            </div>
            <div class="lesson-info">
              <h4>AULÃO #06 - 19/05, 16h</h4>
              <h6>História</h6>
              <p>A professor Mariana Gonçalves dará aula na área de história sobre a temática coronavírus vinculando com revolta da vacina, gripe espanhola no Brasil e movimento sanitarista.</p>
            </div>
            <div class="lesson-info">
              <h4>AULÃO #07 - 12/06, 16h</h4>
              <h6>Química</h6>
              <p>O professor Luís de Sousa abordará a área dos gases, falando sobre suas leis, transformações e as equações gerais dos gases ideais.</p>
            </div>
          </div>
          <div class="display-container display-right">
            <div class="lesson-info">
              <h4>AULÃO #08 - 18/06, 16h</h4>
              <h6>Língua portuguesa</h6>
              <p>A professora Sthefani Silva trabalhará Língua Portuguesa nessa semana. Abordando os seguintes temas: Morfologia, interpretação e análise de texto.</p>
            </div>
            <div class="lesson-info">
              <h4>AULÃO #09 - 24/06, 16h</h4>
              <h6>Química</h6>
              <p>O professor Henrique do Nascimento trabalhará Radioatividade, abordando os seguintes temas: 
                Transformações Nucleares,
                Conceitos fundamentais da radioatividade,
                Reações de fusão e fissão nuclear,
                Desintegração Radioativa e radioisótopos.</p>
            </div>
            <div class="lesson-info">
              <h4>AULÃO #10 - 01/07, 16h</h4>
              <h6>Geografia</h6>
              <p>O professor Marcelo Agner trabalhará Globalização, abordando os seguintes temas: "O que é a globalização?", "Fatores Condicionantes da globalização" e "A globalização como Fábula".</p>
            </div>
            <div class="lesson-info">
              <h4>AULÃO #11 - 08/07, 16h</h4>
              <h6>Química</h6>
              <p>O professor Luis de Sousa trabalhará Transformações Químicas, abordando: "Energia calorífica", "Calor de reação", "Entalpia", "Equações termoquímicas" e "Lei de Hess".</p>
            </div>
            <div class="lesson-info">
              <h4>AULÃO #12 - 17/07, 16h</h4>
              <h6>Biologia</h6>
              <p>O professor Marcelo Ferreira trabalhará genética abordando: 1ª lei de Mendel (Dominância completa), Codominância (Sistema ABO) e dominância incompleta e 2ª Lei de Mendel.</p>
            </div>
          </div>
        </div>
      </div>
    </aside>
    <!-- <aside class="calendar-container light-container">
      <div class="container">
        <div class="calendar-content-header">
          <h3>CALENDÁRIO<br>DE AULAS</h3>
        </div>
        <div class="calendar-box">
          <div class="calendar-tips">
            <div class="calendar-tips-header">
              <h3>Navegue e explore o calendário</h3>
            </div>
            <div class="calendar-tips-info">
              <p>
                Por meio do nosso calendário é possível visualizar todos os dias que já ocorreram aulões preparatórios para o ENEM assim como os aulões que estão programados para acontecer. Os dias estão destacados de laranja. <strong>Ao clicar no evento o estudante conseguirá ver mais informações</strong> como o tema do aulão, o professor responsável e os principais tópicos abordados naquela aula.
              </p>
            </div>
          </div>
          <div class="calendar-component">

          </div>
        </div>
      </div>
    </aside> -->
    <aside class="media-container dark-container">
      <div class="container">
        <div class="media-content-header">
          <h3>COLMEIA NA MÍDIA</h3>
        </div>
        <div class="media-content-carousel">
          <div class="media-content__block">
            <a class="media-internal-block" href="https://www.facebook.com/watch/?v=354154792224862" target="_blank">
              <div class="media-content__img">
                <img src="/img/dftv-media-content.png" alt="" class="media-content__img" />
              </div>
              <div class="media-content__imgcss" style="background-image: url(/img/dftv-media-content.png);"></div>
              <div class="media-content__metadados">
                <h3 class="media-content__source">DFTV</h3>
                <p class="media-content__preview">Aulão é dado pela internet e de graça</p>
              </div>
            </a>
          </div>
          <div class="media-content__block">
            <a class="media-internal-block" href="https://g1.globo.com/df/distrito-federal/noticia/2020/04/14/preparacao-para-o-enem-conheca-conteudos-gratuitos-criados-no-df-para-ajudar-estudantes-durante-pandemia.ghtml" target="_blank">
              <div class="media-content__img">
                <img src="/img/g1df-media-content.png" alt="" class="media-content__img" />
              </div>
              <div class="media-content__imgcss" style="background-image: url(/img/g1df-media-content.png);"></div>
              <div class="media-content__metadados">
                <h3 class="media-content__source">G1DF</h3>
                <p class="media-content__preview">Preparação para o Enem: conheça conteúdos gratuitos criados no DF para ajudar estudantes durante pandemia</p>
              </div>
            </a>
          </div>
          <div class="media-content__block">
            <a class="media-internal-block" href="https://www.correiobraziliense.com.br/app/noticia/eu-estudante/enem/2020/04/13/interna-enem-2019,844338/startup-de-reforco-escolar-ira-promover-auloes-on-line-para-o-enem.shtml?fbclid=IwAR15ZlAa6t-vMxWBUm-PyUD_N5Xfx0GJeWX_tsjdDRmtHjMUpWYH39MDszg" target="_blank">
              <div class="media-content__img">
                <img src="/img/correiobraz-media-content.png" alt="" class="media-content__img" />
              </div>
              <div class="media-content__imgcss" style="background-image: url(/img/correiobraz-media-content.png);"></div>
              <div class="media-content__metadados">
                <h3 class="media-content__source">CORREIO BRAZILIENSE</h3>
                <p class="media-content__preview">Startup de reforço escolar irá promover aulões on-line para o Enem</p>
              </div>
            </a>
          </div>
          <div class="media-content__block">
            <a class="media-internal-block" href="https://jornaldebrasilia.com.br/cidades/calendario-de-aulas-startup-de-reforco-escolar-promove-auloes-online-gratuitos-com-foco-no-enem/" target="_blank">
              <div class="media-content__img">
                <img src="/img/jornalbsb-media-content.png" alt="" class="media-content__img" />
              </div>
              <div class="media-content__imgcss" style="background-image: url(/img/jornalbsb-media-content.png);"></div>
              <div class="media-content__metadados">
                <h3 class="media-content__source">JORNAL DE BRASÍLIA</h3>
                <p class="media-content__preview">Calendário de aulas: startup de reforço escolar promove aulões online gratuitos com foco no Enem</p>
              </div>
            </a>
          </div>
          <div class="media-content__block">
            <a class="media-internal-block" href="https://www.metropoles.com/distrito-federal/startup-promove-auloes-on-line-gratuitos-com-foco-no-enem" target="_blank">
              <div class="media-content__img">
                <img src="/img/metropoles-media-content.png" alt="" class="media-content__img" />
              </div>
              <div class="media-content__imgcss" style="background-image: url(/img/metropoles-media-content.png);"></div>
              <div class="media-content__metadados">
                <h3 class="media-content__source">METRÓPOLES</h3>
                <p class="media-content__preview">Startup promove aulões on-line gratuitos com foco no Enem</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </aside>
    <aside class="extra-content-container light-container">
      <div class="container">
        <div class="extra-content-header">
          <h3>CONTEÚDO EXTRA</h3>
        </div>
        <div class="extra-content-cards">
          <div class="card card-1 col-lg-4 col-md-6 col-sm-12">
            <div class="card-image"></div>
            <div class="card-info">
              <div class="description">
                Ebook: Organize os estudos do seu filho de uma vez por todas!
              </div>
              <a class="checkout-more" href="/ebook-1/download" target="_blank">
                <span>VER MAIS</span>
                <img src="/img/light_arrow-aulao-icon.png" alt="ícone de flecha">
              </a>
            </div>
          </div>
          <div class="card card-2 col-lg-4 col-md-6 col-sm-12">
            <div class="card-image"></div>
            <div class="card-info">
              <div class="description">
                Ebook: Como manter a educação dos filhos em dia?
              </div>
              <a class="checkout-more" href="/ebook-2/download" target="_blank">
                <span>VER MAIS</span>
                <img src="/img/light_arrow-aulao-icon.png" alt="ícone de flecha">
              </a>
            </div>
          </div>
          <div class="card card-3 col-lg-4 col-md-6 col-sm-12">
            <div class="card-image"></div>
            <div class="card-info">
              <div class="description">
                Blog da Colmeia:
                <span>
                  Diversos conteúdos para auxiliar o estudo do seu filho
                </span>
              </div>
              <a class="checkout-more" href="/blog" target="_blank">
                <span>VER MAIS</span>
                <img src="/img/light_arrow-aulao-icon.png" alt="ícone de flecha">
              </a>
            </div>
          </div>
        </div>
      </div>
    </aside>
    <%- include('partials/footer-socialmedia.ejs') %>
  </div>
  <!-- build:js public/js/aulao.min.js-->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/lib/jquery.easing.min.js"></script>
  <script src="/js/lib/jquery.mask.min.js"></script>
  <script src="/js/lib/loadingoverlay.min.js"></script>
  <script src="/js/loading-indicator.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>
  <script src="/js/lib/flickity.pkgd.min.js"></script>
  <!-- endbuild -->
  <script>
    $(document).ready(() => {
      $('a.whatsapp-btn').click(function() {
        $('#label-for-whatsapp').click();
      });

      function setupMask() {
        function maskBehavior(val) {
          return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        };

        const options = {
          onKeyPress: function(val, e, field, options) {
            field.mask(maskBehavior.apply({}, arguments), options);
          }
        };

        $('.whatsapp__input--phone').mask(maskBehavior, options);
      }

      setupMask();

      function handleWhatsapp() {
        $('.whatsapp__form').on('submit', function(e) {
          e.preventDefault();
          
          const whatsappFormName = $('input.whatsapp__input--name');
          const whatsappFormPhone = $('input.whatsapp__input--phone');
          const whatsappFormEmail = $('input.whatsapp__input--email');

          if (
            whatsappFormName.val() == '' ||
            whatsappFormPhone.val() == '' ||
            whatsappFormEmail.val() == ''
          ) {
            return alert('Por favor, preencha todos os campos!');
          }

          var emailRegex = new RegExp(
            /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          );
          if (!emailRegex.test(whatsappFormEmail.val())) {
            return alert('O email que você inseriu não é válido!');
          }

          if (whatsappFormPhone.cleanVal().length < 10) {
            return alert('O telefone que você inseriu não é válido!');
          }

          $.ajax({
            url: '/landing-campanha',
            type: 'POST',
            data: {
              nome: whatsappFormName.val(),
              telefone: '+55' + whatsappFormPhone.cleanVal(),
              email: whatsappFormEmail
                .val()
                .toLowerCase()
                .trim(),
              origin: 'LANDING-CAMPANHA-AULAO-WHATSAPP',
              url: window.location.href
            }
          })
            .done(function(result) {
              if (result.success) {
                const cssmedia = window.matchMedia('(max-width: 702px)');

                if (cssmedia.matches) {
                  window.location.href =
                    'https://api.whatsapp.com/send?phone=5561998052073&text=Olá, meu nome é ' +
                    whatsappFormName.val() +
                    ' e eu gostaria de saber mais sobre os aulões.';
                } else {
                  window.location.href =
                    'https://web.whatsapp.com/send?phone=5561998052073&text=Olá, meu nome é ' +
                    whatsappFormName.val() +
                    ' e eu gostaria de saber mais sobre os aulões.';
                }

              } else if (result.message) {
                alert(result.message);
              }
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
              alert(
                'Desculpe, houve um erro ao receber suas informações. Por favor, entre em contato conosco pelo WhatsApp (61) 9 9805-2073.'
              );
            });
        });
      }

      handleWhatsapp();

      $('.media-content-carousel').flickity({
        cellAlign: 'center',
        contain: true,
        autoPlay: 3500,
        pauseAutoPlayOnHover: true,
        pageDots: false,
        watchCSS: true,
        wrapAround: true,
        cellAlign: 'left',
      });
    })
  </script>
  
  <% include ./partials/ferramentas %> <% include ./partials/fbpixel %>
</body>
</html>