<!DOCTYPE html>
<html lang="pt">
  <head>

    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aula marcada | Colmeia</title>

    <!--icon-->
    <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32">
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,700" rel="stylesheet">

    <!-- build:css public/css/aula_marcada.min.css -->
    <!-- libs -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- styles -->
    <link href="/css/resumo.css" rel="stylesheet">
    <link href="/css/new/modules/colmeia-button.css" rel="stylesheet">
    <!-- white-navbar-styles -->
    <link href="/css/white-navbar.css" rel="stylesheet">
    <link href="/css/dropdown-menu.css" rel="stylesheet">
    <!-- endbuild -->

    <script>
      var dados = <%- JSON.stringify(dados) %>;
    </script>

    <style type="text/css">

      .caixa-resumo {
        width: 100%;
        height: auto;
        min-height: 350px;
        margin-top: -50px;
        background-color: white;
      }

      .caixa-resumo .header{
        text-align: center;
        font-size: 36px;
        margin-bottom: 80px;
      }

      @media screen and (max-width: 768px) {
        .caixa-resumo {
          margin-top: 10px;
          padding: 10px
        }

        .caixa-resumo .header {
          font-size: 28px;
          margin-top: 10px;
        }
      }

    </style>

    <% include ./partials/user %>
    <% include ./partials/woopra %>
    <% include ./partials/analytics_header %>

  </head>
  <body>

    <% include ./partials/white-navbar %>

    <div id="particles-js"></div>

    <div class="container" style="height: 100vh;">
      <div class="row">

        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
          <div class="caixa-resumo">

            <div class="header">Sua aula foi marcada com sucesso!</div>

            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="colmeia-button button-orange" onclick="javascript:window.location.href = '/'"> Página inicial </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="colmeia-button button-orange" onclick="javascript:window.location.href = '/aluno/agenda'"> Ver agenda </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% include ./partials/footer %>

</body>

  <!-- build:js public/js/aula_marcada.min.js -->
  <!-- white-navbar-scripts -->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/mobilechecker.js"></script>
  <script src="/js/mobile-sidebar.js"></script>
  <script src="/js/navbar.js"></script>
  <!-- libs -->
  <script src="/js/lib/loadingoverlay.min.js"></script>
  <script src="/js/lib/loadingoverlay_progress.min.js"></script>
  <script src="/js/loading-indicator.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>
  <!-- scripts -->
  <script src="/js/lib/particles.min.js"></script>
  <!-- endbuild -->

  <% include ./partials/ferramentas %>
  <% include ./partials/fbpixel %>
</html>
