<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Blog | Colmeia</title>

        <!--tags-->
        <meta
            name="description"
            content="Este é o blog da Colmeia. Mantenha-se informado sobre a educação do seu filho! Agende aulas pelo aplicativo ou pelo site com segurança no conforto da sua casa."
        />
        <meta
            name="keywords"
            content="blog, educação, colmeia, aulas, pacotes, pacote de aulas, aula particular, reforco, reforco escolar, acompanhamento escolar"
        />
        <meta name="robots" content="index" />
        <!-- FB Share -->
        <meta property="og:image" content="https://www.aulascolmeia.com.br/img/page_description_img.png" />
        <meta property="og:url" content="https://aulascolmeia.com.br/blog" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Este é o blog da Colmeia. Mantenha-se informado sobre a educação do seu filho! Agende aulas pelo aplicativo ou pelo site com segurança no conforto da sua casa." />
        <!-- FB Share -->

        <!-- TWITTER Share-->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Colmeia blog">
        <meta name="twitter:description" content="Este é o blog da Colmeia. Mantenha-se informado sobre a educação do seu filho! Agende aulas pelo aplicativo ou pelo site com segurança no conforto da sua casa.">
        <meta name="twitter:image:src" content="https://www.aulascolmeia.com.br/img/page_description_img.png">
        <meta name="twitter:domain" content="https://aulascolmeia.com.br/blog">
        <!-- TWITTER Share-->

        <!--icon-->
        <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32" />

        <!--fonts-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet" />

        <!-- build:css public/css/blog.min.css -->
        <!--libs-->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- white-navbar-styles -->
        <link href="/css/main.css" rel="stylesheet" />
        <link href="/css/dropdown-menu.css" rel="stylesheet" />

        <!--styles-->
        <link href="/css/new/modules/colmeia-button.css" rel="stylesheet" type="text/css" />
        <link href="/css/blog.css" rel="stylesheet" type="text/css" />
        <!-- endbuild -->

        <% include ./partials/user %> <% include ./partials/woopra %> <% include ./partials/analytics_header %> <%
        include ./partials/onesignal %>
    </head>

    <body class="blog-page">
        <%- include('partials/new/navbar') %> <%- include('partials/flash') %> <%-
    include('partials/new/whatsapp') %>
        <header class="header">
            <div class="header__top-container">
                <div class="header__card">
                    <div class="header__title">Nosso<br />Blog</div>
                    <div class="header__subtitle">
                        Aqui estão textos e conteúdos ligados à educação publicados por nossa equipe pedagógica e
                        professores.
                    </div>
                </div>
            </div>
        </header>
        <section class="posts">
            <% if (recommendedPreviews.length) { %>
                <div class="recommended-previews">
                    <div class="posts__title">Recomendados para você:</div>
                    <div class="column">
                        <%  recommendedPreviews.forEach((preview) => { %>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <a href="/blog/<%= preview.postPath %>" class="view-more-card">
                                    <div class="view-more-card__top" style="background-image: url(<%= preview.previewImageUrl %>)"></div>
                                    <div class="view-more-card__bottom">
                                        <div class="view-more-card__label"><%= preview.topic %></div>
                                        <div class="view-more-card__title"><%= preview.title %></div>
                                        <div class="view-more-card__subtitle">
                                            <%= preview.previewText %>
                                        </div>
                                        <div class="view-more-card__date">
                                            <img src="/img/blog-date.png" alt="" class="view-more-card__date-icon" />
                                            <div class="view-more-card__date-value">
                                                <%= preview.postedAt %>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        <% }) %>
                    </div>
                </div>
            <% } %>
                
            <% if (recentPreviews.length) { %>
                <div class="container">
                    <div class="recent-previews col-lg-12 col-md-12">
                        <div class="posts__title">Publicados recentemente:</div>
                        <div class="row">
                            <div class="col-lg-9 col-md-9">
                                <% recentPreviews.forEach((preview) => { %>
                                    <a href="/blog/<%= preview.postPath %>" class="post-card">
                                        <div class="post-card__left" style="background-image: url(<%= preview.previewImageUrl %>)"></div>
                                        <div class="post-card__right">
                                            <div class="post-card__label"><%= preview.topic %></div>
                                            <div class="post-card__hr"></div>
                                            <div class="post-card__title">
                                                <%= preview.title %>
                                            </div>
                                            <div class="post-card__subtitle">
                                                <%= preview.previewText %>
                                            </div>
                                            <div class="post-card__date">
                                                <img src="/img/blog-date.png" alt="" class="post-card__date-icon" />
                                                <div class="post-card__date-value">
                                                    <%= preview.postedAt %>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </section>
        <%- include('partials/new/footer') %>
    </body>

    <!-- build:js public/js/blog.min.js -->
    <script src="/js/lib/jquery-2.1.4.js"></script>
    <script src="/js/mobilechecker.js"></script>
    <script src="/js/mobile-sidebar.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/lib/loadingoverlay.min.js"></script>
    <script src="/js/loading-indicator.js"></script>

    <!--libs-->
    <script src="/js/lib/bootstrap.min.js"></script>
    <!-- endbuild -->


    <% include ./partials/ferramentas %> <% include ./partials/fbpixel %>
</html>
