<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- FB Share -->
        <meta property="og:url" content="https://aulascolmeia.com.br/blog/<%= post.postPath %>" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Colmeia blog - <%= post.title %>" />
        <meta property="og:description" content="<%= post.description%>" />
        <meta property="og:image" content="<%= post.previewImage %>" />
        <meta property="og:image:width" content="256" />
        <meta property="og:image:height" content="256" />
        <!-- FB Share --> 
        
        <!-- TWITTER Share-->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Colmeia blog - <%= post.title %>">
        <meta name="twitter:description" content="<%= post.description %>">
        <meta name="twitter:image:src" content="<%= post.previewImage %>">
        <meta name="twitter:domain" content="https://aulascolmeia.com.br/blog/<%= post.postPath %>">
        <!-- TWITTER Share-->

        <title><%= post.title %></title>

        <!--tags-->
        <meta
            name="description"
            content="<%= post.description %>"
        />
        <meta
            name="keywords"
            content="blog, educação, colmeia, aulas, pacotes, pacote de aulas, aula particular, reforco, reforco escolar, acompanhamento escolar"
        />
        <meta name="robots" content="index" />

        <!--icon-->
        <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32" />

        <!--fonts-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet" />

        <!-- build:css public/css/blog-post.min.css -->
        <!--libs-->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- white-navbar-styles -->
        <link href="/css/main.css" rel="stylesheet" />
        <link href="/css/dropdown-menu.css" rel="stylesheet" />

        <!--styles-->
        <link href="/css/new/modules/colmeia-button.css" rel="stylesheet" type="text/css" />
        <link href="/css/blog.css" rel="stylesheet" type="text/css" />
        <!-- endbuild -->

        <% include ./partials/user %> <% include ./partials/woopra %> <% include ./partials/analytics_header %> <%
        include ./partials/onesignal %>
    </head>

    <body>
        <%- include('partials/new/navbar') %> <%- include('partials/flash') %> <%-
    include('partials/new/whatsapp') %>
        <header class="header">
            <div class="header__top-container">
                <a href="/blog" class="header__card">
                    <div class="header__title">Nosso<br />Blog</div>
                    <div class="header__subtitle">
                        Aqui estão textos e conteúdos ligados à educação publicados por nossa equipe pedagógica e
                        professores.
                    </div>
                </a>
            </div>
        </header>
        <section class="blog-post">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
                        <div class="blog-post__label"><%= post.topic %></div>
                        <div class="blog-post__title"><%= post.title %></div>
                        <div class="blog-post__metadata">
                            <div class="blog-post__preview-text"><%= post.previewText %></div>
                            <div class="blog-post__author">Escrito por <%= post.author %> em <%= post.postedAt %></div>
                        </div>
                        <div class="blog-post__body">
                            <%- post.html %>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="share">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="share__container">
                            <div class="share__left">
                                <div class="share__title">Gostou da publicação? Compartilhe!</div>
                            </div>
                            <div class="share__right">
                                <a 
                                    target="_blanket"
                                    href="https://www.facebook.com/sharer.php?u=https://aulascolmeia.com.br/blog/<%= post.postPath %>" 
                                    class="share__button share__button--fb"
                                >
                                </a>
                                <a 
                                    target="_blanket"
                                    class="twitter-share-button share__button share__button--twitter"
                                    href="https://twitter.com/intent/tweet?text=https://aulascolmeia.com.br/blog/<%= post.postPath %>"
                                    data-size="large"
                                >
                                </a>

                                <a 
                                    target="_blanket"
                                    href="https://api.whatsapp.com/send?text=https://aulascolmeia.com.br/blog/<%= post.postPath %>" 
                                    data-action="share/whatsapp/share"
                                    class="share__button share__button--whatsapp"
                                >
                                </a>
                                <a 
                                    target="_blanket"
                                    href="https://www.linkedin.com/shareArticle?mini=true&url=https://aulascolmeia.com.br/blog/<%= post.postPath %>" 
                                    class="share__button share__button--linkedin"
                                >
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="newsletter__container">
                            <div class="newsletter__left">
                                <div class="newsletter__title">Receba nossa</div>
                                <div class="newsletter__subtitle">Newsletter</div>
                            </div>
                            <div class="newsletter__right">
                                <form action="" class="newsletter__form">
                                    <div class="newsletter__label">
                                        Nome
                                    </div>
                                    <input
                                        type="text"
                                        class="newsletter__input newsletter__input--nome"
                                        placeholder="Nome"
                                    />

                                    <div class="newsletter__label">
                                        Email
                                    </div>
                                    <input
                                        type="email"
                                        class="newsletter__input newsletter__input--email"
                                        placeholder="Email"
                                    />

                                    <input type="submit" class="newsletter__button" value="Enviar" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="more-posts">
                <div class="more-posts__title">Mais artigos como este:</div>
                <div class="row">
                    <% previews.length && previews.forEach((preview) => { %>
                        <a href="/blog/<%= preview.postPath %>" class="col-lg-4 col-md-4">
                            <div class="view-more-card">
                                <div class="view-more-card__top" style="background-image: url(<%= preview.previewImageUrl %>)"></div>
                                <div class="view-more-card__bottom">
                                    <div class="view-more-card__label"><%= preview.topic %></div>
                                    <div class="view-more-card__title"><%= preview.title %></div>
                                    <div class="view-more-card__subtitle">
                                        <%= preview.previewText %>
                                    </div>
                                    <div class="view-more-card__date">
                                        <img src="/img/blog-date.png" alt="Imagem prévia do post" class="view-more-card__date-icon" />
                                        <div class="view-more-card__date-value">
                                            <%= preview.postedAt %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    <% }) %>
                </div>
        </section>

        <%- include('partials/new/footer') %>
    </body>

    <!-- build:js public/js/blog-post.min.js -->
    <script src="/js/lib/jquery-2.1.4.js"></script>
    <script src="/js/mobilechecker.js"></script>
    <script src="/js/mobile-sidebar.js"></script>
    <script src="/js/navbar.js"></script>

    <!--libs-->
    <script src="/js/lib/bootstrap.min.js"></script>

    <!--scripts-->
    <script src="/js/blog-post.js"></script>
    <!-- endbuild -->

    <% include ./partials/ferramentas %> <% include ./partials/fbpixel %>
</html>
