<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro de professor | Colmeia</title>

    <!--tags-->

    <!--icon-->
    <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32">

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">

    <!-- build:css public/css/cadastro-professor.min.css -->
    <!--libs-->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/select2-cadastro-professor.css" rel="stylesheet" type="text/css">
    <!--styles-->
    <link href="/css/cadastro-professor.css" rel="stylesheet" type="text/css">
    <!-- white-navbar-styles -->
    <link href="/css/orange-navbar.css" rel="stylesheet">
    <link href="/css/dropdown-menu.css" rel="stylesheet">
    <!-- endbuild -->

    <script type="text/javascript">
        var response = <%- JSON.stringify(response ? response : null) %>;
    </script>

    <% include
    ./partials/analytics_header %>

    <% if (!isDebug) { %>
        <script>
            (function () {
                var t, i, e, n = window, o = document, a = arguments, s = "script", r = ["config", "track", "identify", "visit", "push", "call", "trackForm", "trackClick"], c = function () { var t, i = this; for (i._e = [], t = 0; r.length > t; t++)(function (t) { i[t] = function () { return i._e.push([t].concat(Array.prototype.slice.call(arguments, 0))), i } })(r[t]) }; for (n._w = n._w || {}, t = 0; a.length > t; t++)n._w[a[t]] = n[a[t]] = n[a[t]] || new c; i = o.createElement(s), i.async = 1, i.src = "//static.woopra.com/js/w.js", e = o.getElementsByTagName(s)[0], e.parentNode.insertBefore(i, e)
            })("woopra");
    
            woopra.identify({
                email: response.username,
                phone: response.telefone
            });
    
            woopra.config({
                domain: 'aulascolmeia.com.br',
                hide_campaign: true
            });
    
            woopra.track();
        </script>
        
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-100949672-1', 'auto');
            ga('send', 'pageview');
        </script>

        
    <% } %>
    
</head>

<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-custom">
        <div class="container">
    
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar icon-bar-one"></span>
                    <span class="icon-bar icon-bar-two"></span>
                    <span class="icon-bar icon-bar-three"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <img id="navbar-logo" src="/img/logo-branca.png" height="100%">
                </a>
            </div>
    
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="hidden">
                        <a href="/#page-top"></a>
                    </li>
                    <li>
                        <a href="/acompanhamento-escolar">Acompanhamento escolar</a>
                    </li>
                    <li>
                        <a href="/calculadora-pas">Calculadora PAS</a>
                    </li>
                    <li>
                        <a href="/professor">Seja um professor</a>
                    </li>
                </ul>
    
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="orange-link" href="/aluno/sair"> Sair &rarr; </a>
                    </li>
                </ul>
    
            </div>
        </div>
    </nav>
    
    <div class="mobile-sidebar">
        <a class="mobile-sidebar-link" href="/#como-funciona">Como funciona</a>
        <a class="mobile-sidebar-link" href="/acompanhamento-escolar">Acompanhamento escolar</a>
        <a class="mobile-sidebar-link" href="/perguntas-frequentes">Perguntas frequentes</a>
        <a class="mobile-sidebar-link" href="/calculadora-pas">Calculadora PAS</a>
        <a class="mobile-sidebar-link" href="/professor">Professor</a>
        <a href="/aluno/entrar"> Criar conta / Entrar </a>
    </div>

    <nav class="sub-nav">
        <div class="container" style="position: relative;">
            <a class="mode-toggle" href="javascript:void(0)">Seja bem-vindo!</a>
        </div>
    </nav>

    <section id="cadastro">
        <img src="/img/step-1-side.png" alt="Passo 1" class="step-right">
        <div class="container">
            <div class="row col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
                <div class="main-container">
                    <div class="introduction-container">
                        <img src="/img/hand-shake.png" alt="Aperto de mão">

                        <h2 class="greeting-heading text-black margin-bottom-large">
                             Olá, seja bem-vindo à Colmeia. Estamos muito felizes por seu interesse em fazer parte de nosso time de professores. Iremos
                            te fazer algumas perguntas relacionadas ao seu cadastro.
                        </h2>

                        <h3 class="title-heading text-orange margin-bottom-large">
                            Vamos começar?
                        </h3>

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                <button class="orange-button">
                                    Começar
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="welcomeback-container">
                        <img src="/img/hand-pray.png" alt="Aperto de mão">
                    
                        <h2 class="greeting-heading text-black margin-bottom-large">
                            Olá, bem-vindo de volta à Colmeia. Você ainda não finalizou seu processo de cadastro, certo?
                            Você pode continuar seu registro de onde parou ou recomeçar o processo.
                        </h2>
                    
                        <h3 class="title-heading text-orange margin-bottom-large">
                            O que gostaria de fazer?
                        </h3>
                        
                        <div class="row horizontal-padding">
                            <div class="col-lg-6 col-md-6">
                                <button class="orange-button" style="font-size: 16px;">
                                    Continuar de onde parei
                                </button>
                            </div>
                        
                            <div class="col-lg-6 col-md-6">
                                <button class="white-button" style="font-size: 16px;">
                                    Recomeçar registro
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="materias-container">
                        <div class="materias-1">
                            <img src="/img/step-1-top.png" alt="Passo 1" class="step-image">
                            <h2 class="greeting-heading text-orange margin-bottom-large">
                                 Para começarmos, gostaríamos de saber quais matérias e níveis você se sente confortável em ensinar para nossos alunos.
                            </h2>

                            <h3 class="title-heading text-black margin-bottom-large">
                                O que você gostaria de ensinar?
                            </h3>

                           <div class="row">
                               <div class="col-lg-12 col-md-12">
                                   <div class="horizontal-padding">
                                        <label class="input-radio">
                                            Reforço escolar
                                            <input type="radio" name="radio-tipo-materia" value="reforco">
                                            <span class="radio-check"></span>
                                        </label>
                                        
                                        <label class="input-radio">
                                            Idiomas
                                            <input type="radio" name="radio-tipo-materia" value="idiomas">
                                            <span class="radio-check"></span>
                                        </label>
                                   </div>
                               </div>
                           </div>
                            
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                         Continuar
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="materias-2 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".materias-1"></div>

                            <h3 class="title-heading text-black">
                                 Quais matérias de reforço você gostaria de ensinar?
                            </h3>

                            <p class="title-subheading">
                                (Você pode selecionar mais de uma opção)
                            </p>
                            
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="horizontal-padding">
                                        <label class="input-checkbox">
                                             Matemática
                                            <input type="checkbox" value="Matemática">
                                            <span class="checkbox-check"></span>
                                        </label>
                            
                                        <label class="input-checkbox">
                                             Física
                                            <input type="checkbox" value="Física">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                             Química
                                            <input type="checkbox" value="Química">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                             Biologia
                                            <input type="checkbox" value="Biologia">
                                            <span class="checkbox-check"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 mobile-padding-left">
                                    <label class="input-checkbox">
                                         Geografia
                                        <input type="checkbox" value="Geografia">
                                        <span class="checkbox-check"></span>
                                    </label>
                                    
                                    <label class="input-checkbox">
                                         História
                                        <input type="checkbox" value="História">
                                        <span class="checkbox-check"></span>
                                    </label>

                                    <label class="input-checkbox">
                                         Português
                                        <input type="checkbox" value="Português">
                                        <span class="checkbox-check"></span>
                                    </label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 mobile-padding-left">
                                   <div class="left-padding">
                                        <input type="text" class="input-text materia-text-input" name="outro-reforco" placeholder="Outros">
                                   </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Continuar
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="materias-3 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".materias-2"></div>
                            <h3 class="title-heading text-black">
                                 Qual o nível das matérias de reforço?
                            </h3>
                            
                            <p class="title-subheading">
                                (Você pode selecionar mais de uma opção)
                            </p>
                        
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="horizontal-padding">
                                        <label class="input-checkbox">
                                             Ensino Fundamental I
                                            <input type="checkbox" value="Fundamental 1">
                                            <span class="checkbox-check"></span>
                                        </label>
                        
                                        <label class="input-checkbox">
                                             Ensino Fundamental II
                                            <input type="checkbox" value="Fundamental 2">
                                            <span class="checkbox-check"></span>
                                        </label>
                        
                                        <label class="input-checkbox">
                                             Ensino Médio
                                            <input type="checkbox" value="Médio">
                                            <span class="checkbox-check"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Continuar
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="materias-4 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".materias-1"></div>
                            <h3 class="title-heading text-black">
                                 Quais os idiomas você gostaria de ensinar?
                            </h3>
                            
                            <p class="title-subheading">
                                (Você pode selecionar mais de uma opção)
                            </p>
                        
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="horizontal-padding">
                                        <label class="input-checkbox">
                                             Inglês
                                            <input type="checkbox" value="Inglês">
                                            <span class="checkbox-check"></span>
                                        </label>
                        
                                        <label class="input-checkbox">
                                            Espanhol
                                            <input type="checkbox" value="Espanhol">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Francês
                                            <input type="checkbox" value="Francês">
                                            <span class="checkbox-check"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 mobile-padding-left">
                                    <div class="left-padding">
                                        <input type="text" class="input-text materia-text-input" name="outro-idioma" placeholder="Outros">
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Continuar
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="materias-5 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".materias-4"></div>
                            <h3 class="title-heading text-black">
                                Quais o níveis dos idiomas?
                            </h3>

                            <p class="title-subheading">
                                (Você pode selecionar mais de uma opção)
                            </p>

                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="horizontal-padding">
                                        <label class="input-checkbox">
                                            Básico
                                            <input type="checkbox" value="Básico">
                                            <span class="checkbox-check"></span>
                                        </label>
                        
                                        <label class="input-checkbox">
                                            Intermediário
                                            <input type="checkbox" value="Médio">
                                            <span class="checkbox-check"></span>
                                        </label>
                        
                                        <label class="input-checkbox">
                                            Avançado
                                            <input type="checkbox" value="Avançado">
                                            <span class="checkbox-check"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Continuar
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="materias-6 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".materias-5"></div>
                            <h3 class="title-heading text-black margin-bottom-large">
                                Você já deu aulas de reforço de forma remunerada?
                            </h3>

                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="horizontal-padding">
                                        <label class="input-radio">
                                            Sim 
                                            <input type="radio" name="radio-deu-aula-reforco" value="Sim">
                                            <span class="radio-check"></span>
                                        </label>
                            
                                        <label class="input-radio">
                                            Não
                                            <input type="radio" name="radio-deu-aula-reforco" value="Não">
                                            <span class="radio-check"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Finalizar etapa
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="materias-7 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".materias-5"></div>
                            <h3 class="title-heading text-black margin-bottom-large">
                                Você já deu aulas do(s) idioma(s) que selecionou de forma remunerada?
                            </h3>

                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="horizontal-padding">
                                        <label class="input-radio">
                                            Sim 
                                            <input type="radio" name="radio-deu-aula-idioma" value="Sim">
                                            <span class="radio-check"></span>
                                        </label>
                            
                                        <label class="input-radio">
                                            Não
                                            <input type="radio" name="radio-deu-aula-idioma" value="Não">
                                            <span class="radio-check"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Continuar
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="materias-8 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".materias-7"></div>
                            <h3 class="title-heading text-black margin-bottom-large">
                                Você possui material próprio para lecionar o(s) idioma(s) que selecionou?
                            </h3>

                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="horizontal-padding">
                                        <label class="input-radio">
                                            Sim 
                                            <input type="radio" name="radio-possui-material-idioma" value="Sim">
                                            <span class="radio-check"></span>
                                        </label>
                            
                                        <label class="input-radio">
                                            Não
                                            <input type="radio" name="radio-possui-material-idioma" value="Não">
                                            <span class="radio-check"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Finalizar etapa
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="bairros-container">
                        <div class="bairros-1">
                            <img src="/img/step-2-top.png" alt="Passo 2" class="step-image">
                            <h2 class="greeting-heading text-orange margin-bottom-large">
                                 Na segunda etapa, vamos te perguntar algumas informações sobre onde tem interesse em atender e sobre seu deslocamento.
                            </h2>
                        
                            <h3 class="title-heading text-black margin-bottom-large">
                                 Em que cidade você gostaria de dar aulas?
                            </h3>
                        
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="horizontal-padding">
                                        <label class="input-radio">
                                             Brasília
                                            <input type="radio" name="radio-cidade" value='Brasília'>
                                            <span class="radio-check"></span>
                                        </label>

                                        <label class="input-radio">
                                            São Paulo
                                            <input type="radio" name="radio-cidade" value='São Paulo'>
                                            <span class="radio-check"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Continuar
                                    </button>
                                </div>
                            </div>
                            
                        </div>

                        <div class="bairros-2 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".bairros-1"></div>
                            <h2 class="greeting-heading text-orange margin-bottom-large" style="padding-top: 10px;">
                                Atenção, professor!
                           </h2>
                        
                            <h3 class="title-heading text-black margin-bottom-large" style="font-size: 15px;">
                                Conheça a nossa nova logística, pensada para aumentar a sua renda como professor e melhorar a oferta de aulas.
                                <br>
                                <br>
                                A duração mínima da aula será sempre de 1h30m.
                                <br>
                                <br>
                                Você vai receber R$23,50 por <strong>hora/aula</strong> + um valor variável de deslocamento, que pode chegar até a <strong>19 reais</strong>!
                                <br>
                                <br>
                                E você escolhe quanto tempo durante a semana pode se dedicar à Colmeia. A única coisa que pedimos é uma <strong>disponibilidade mínima de 10 horas semanais</strong>, sempre das 09h às 19h, de segunda à sexta-feira. Beleza?
                            </h3>
                        
                            <h3 class="title-heading text-orange margin-bottom-large">
                                Você aceita essas condições?
                            </h3>
                            
                            <div class="row horizontal-padding">
                                <div class="col-lg-6 col-md-6">
                                    <button class="orange-button bsb-reforco-accept" style="font-size: 16px;">
                                        Aceito
                                    </button>
                                </div>
                            
                                <div class="col-lg-6 col-md-6">
                                    <button class="white-button bsb-reforco-reject" style="font-size: 16px;">
                                        Não aceito
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="bairros-3 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".bairros-2"></div>
                            <h3 class="title-heading text-black margin-bottom-regular">
                                Em Brasília, qual é sua zona de preferência para dar aulas?
                            </h3>

                            <p class="title-subheading" style="font-size: 14px;">
                                <strong>Leia com atenção!</strong> É sobre os bairros de Brasília que você vai precisar, obrigatoriamente, atender.
                                <br>
                                <br>
                                Nós dividimos a nossa amada cidade em duas zonas, a Zona Sul e a Norte, e pedimos para que você escolha uma delas como de sua <strong>preferência</strong>.
                                <br>
                                <br>
                                <strong>Mas atenção! </strong>Sempre vamos nos esforçar para que você dê aulas em sua Zona de Preferência, mas você <strong>pode ser alocado para dar aulas em bairros fora da sua zona.</strong>
                            </p>

                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="horizontal-padding">
                                        <label class="input-radio">
                                            Zona Norte
                                           <input type="radio" name="radio-zona-bsb" value='Zona Norte'>
                                           <span class="radio-check"></span>
                                       </label>

                                       <div class="bairros-list">
                                        Asa Norte, Vila Planalto, Lago Norte, Noroeste, Setor Militar, Setor de Mansões do Lago Sorte, Grande Colorado, Sobradinho I.
                                       </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 mobile-padding-left">
                                    <label class="input-radio">
                                        Zona Sul
                                        <input type="radio" name="radio-zona-bsb" value='Zona Sul'>
                                        <span class="radio-check"></span>
                                    </label>

                                    <div class="bairros-list">
                                        Asa Sul, Lago Sul, Sudoeste, Octogonal, Cruzeiro, Guará I, Guará II, Núcleo Bandeirante, Candangolândia, Águas Claras, Vicente Pires, Jardim Botânico, Park Way, Taguatinga.
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Finalizar etapa
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="bairros-4 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".bairros-1"></div>
                            <h3 class="title-heading text-black margin-bottom-large">
                                Em quais bairros de Brasília você pode dar aulas?
                            </h3>
                            
                            <p class="title-subheading">
                                (Você pode selecionar mais de uma opção)
                            </p>
                            
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="horizontal-padding">
                                        <label class="input-checkbox">
                                            Asa Sul
                                            <input type="checkbox" value="Asa Sul">
                                            <span class="checkbox-check"></span>
                                        </label>
                            
                                        <label class="input-checkbox">
                                             Asa Norte
                                            <input type="checkbox" value="Asa Norte">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Lago Norte
                                            <input type="checkbox" value="Lago Norte">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Lago Sul
                                            <input type="checkbox" value="Lago Sul">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Sudoeste
                                            <input type="checkbox" value="Sudoeste">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Noroeste
                                            <input type="checkbox" value="Noroeste">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Águas Claras
                                            <input type="checkbox" value="Águas Claras">
                                            <span class="checkbox-check"></span>
                                        </label>
                                        
                                        <label class="input-checkbox">
                                            Taguatinga
                                            <input type="checkbox" value="Taguatinga">
                                            <span class="checkbox-check"></span>
                                        </label>
                                        
                                        <label class="input-checkbox">
                                            Park Way
                                            <input type="checkbox" value="Park Way">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Jardim Botânico
                                            <input type="checkbox" value="Jardim Botânico">
                                            <span class="checkbox-check"></span>
                                        </label>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 mobile-padding-left">

                                    <label class="input-checkbox">
                                        Núcleo Bandeirante
                                        <input type="checkbox" value="Núcleo Bandeirante">
                                        <span class="checkbox-check"></span>
                                    </label>

                                    <label class="input-checkbox">
                                        Grande Colorado
                                        <input type="checkbox" value="Grande Colorado">
                                        <span class="checkbox-check"></span>
                                    </label>

                                    <label class="input-checkbox">
                                        Sobradinho
                                        <input type="checkbox" value="Sobradinho">
                                        <span class="checkbox-check"></span>
                                    </label>

                                    <label class="input-checkbox">
                                        Octogonal
                                        <input type="checkbox" value="Octogonal">
                                        <span class="checkbox-check"></span>
                                    </label>

                                    <label class="input-checkbox">
                                        Guará
                                        <input type="checkbox" value="Guará">
                                        <span class="checkbox-check"></span>
                                    </label>

                                    <label class="input-checkbox">
                                        Granja do Torto
                                        <input type="checkbox" value="Granja do Torto">
                                        <span class="checkbox-check"></span>
                                    </label>

                                    <label class="input-checkbox">
                                        Cruzeiro Novo
                                        <input type="checkbox" value="Cruzeiro Novo">
                                        <span class="checkbox-check"></span>
                                    </label>

                                    <label class="input-checkbox">
                                        Candangolândia
                                        <input type="checkbox" value="Candangolândia">
                                        <span class="checkbox-check"></span>
                                    </label>

                                    <label class="input-checkbox">
                                        Taquari
                                        <input type="checkbox" value="Taquari">
                                        <span class="checkbox-check"></span>
                                    </label>

                                    <label class="input-checkbox">
                                        Vicente Pires
                                        <input type="checkbox" value="Vicente Pires">
                                        <span class="checkbox-check"></span>
                                    </label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 mobile-padding-left">
                                    <div class="horizontal-padding">
                                        <input type="text" class="input-text bairro-text-input" name="outro-bairro-bsb" placeholder="Outros">
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Finalizar etapa
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="bairros-5 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".bairros-1"></div>
                            <h3 class="title-heading text-black">
                                Em quais bairros de São Paulo você pode dar aulas?
                            </h3>

                            <p class="title-subheading">
                                (Você pode selecionar mais de uma opção)
                            </p>
                            
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="horizontal-padding">
                                        <label class="input-checkbox">
                                            Alto de Pinheiros
                                            <input type="checkbox" value="Alto de Pinheiros">
                                            <span class="checkbox-check"></span>
                                        </label>
                                        
                                        <label class="input-checkbox">
                                            Pinheiros
                                            <input type="checkbox" value="Pinheiros">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Jardim Paulista
                                            <input type="checkbox" value="Jardim Paulista">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Moema
                                            <input type="checkbox" value="Moema">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Bela Vista
                                            <input type="checkbox" value="Bela Vista">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Vila Mariana
                                            <input type="checkbox" value="Vila Mariana">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Morumbi
                                            <input type="checkbox" value="Morumbi">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Butantã
                                            <input type="checkbox" value="Butantã">
                                            <span class="checkbox-check"></span>
                                        </label>                                     

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 mobile-padding-left">

                                    <label class="input-checkbox">
                                        Itaim Bibi
                                        <input type="checkbox" value="Itaim Bibi">
                                        <span class="checkbox-check"></span>
                                    </label>

                                    <label class="input-checkbox">
                                        Consolação
                                        <input type="checkbox" value="Consolação">
                                        <span class="checkbox-check"></span>
                                    </label>

                                    <label class="input-checkbox">
                                        Campo Belo
                                        <input type="checkbox" value="Campo Belo">
                                        <span class="checkbox-check"></span>
                                    </label>

                                    <label class="input-checkbox">
                                        Santo Amaro
                                        <input type="checkbox" value="Santo Amaro">
                                        <span class="checkbox-check"></span>
                                    </label>

                                    <label class="input-checkbox">
                                        Cidade Ademar
                                        <input type="checkbox" value="Cidade Ademar">
                                        <span class="checkbox-check"></span>
                                    </label>

                                    <label class="input-checkbox">
                                        Jabaquara
                                        <input type="checkbox" value="Jabaquara">
                                        <span class="checkbox-check"></span>
                                    </label>

                                    <label class="input-checkbox">
                                        Saúde
                                        <input type="checkbox" value="Saúde">
                                        <span class="checkbox-check"></span>
                                    </label>

                                    <label class="input-checkbox">
                                        Perdizes
                                        <input type="checkbox" value="Perdizes">
                                        <span class="checkbox-check"></span>
                                    </label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 mobile-padding-left">
                                    <div class="horizontal-padding">
                                        <input type="text" class="input-text bairro-text-input" name="outro-bairro-sp" placeholder="Outros">
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Finalizar etapa
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="pessoal-container">
                        <form id='step1-form' method='POST' enctype='multipart/form-data'>
                        <input type="text" name="step" value="1" display: hidden>
              
                        <div class="pessoal-1">
                            <img src="/img/step-3-top.png" alt="Passo 3" class="step-image">
                            <h2 class="greeting-heading text-orange margin-bottom-large">
                                 Na etapa final, vamos te perguntar mais sobre você. Especialmente seus dados pessoais para o registro em nossa plataforma.
                            </h2>
                    
                            <h3 class="title-heading text-black margin-bottom-large">
                                 Qual seu nome completo?
                            </h3>
                    
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="horizontal-padding">
                                        <input type="text" class="input-text" name="nome" placeholder="Digite seu nome">
                                    </div>
                                </div>
                            </div>
                    
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Continuar
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="pessoal-2 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".pessoal-1"></div>
                            <h3 class="title-heading text-black margin-bottom-large">
                                Qual sua data de nascimento?
                            </h3>
                        
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="horizontal-padding">
                                        <input type="text" class="input-text" name="nascimento" placeholder="Data de nascimento (dd/mm/aaaa)">
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Continuar
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="pessoal-3 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".pessoal-2"></div>
                            <h3 class="title-heading text-black margin-bottom-large">
                                Qual seu número de CPF?
                            </h3>
                        
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="horizontal-padding">
                                        <input type="text" class="input-text" name="cpf" placeholder="Digite aqui somente os números">
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Continuar
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="pessoal-4 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".pessoal-3"></div>
                            <h3 class="title-heading text-black margin-bottom-large">
                                Quais os dados de seu RG?
                            </h3>
                        
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="horizontal-padding">
                                        <input type="text" class="input-text margin-bottom-regular" name="rg_numero" placeholder="Número de registro">
                                        <input type="text" class="input-text" name="rg_orgao" placeholder="Órgão Emissor">
                                        <input type="text" class="input-text" name="rg_data" placeholder="Data de emissão (dd/mm/aaaa)">
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Continuar
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="pessoal-5 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".pessoal-4"></div>
                            <h3 class="title-heading text-black margin-bottom-large">
                                Quais os dados o seu endereço?
                            </h3>
                        
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="horizontal-padding">
                                        <input type="text" class="input-text margin-bottom-regular" name="logradouro" placeholder="Logradouro">
                                        <input type="text" class="input-text margin-bottom-regular" name="numero" placeholder="Nº">
                                        <input type="text" class="input-text margin-bottom-regular" name="cidade" placeholder="Cidade">
                                        <select class="input-text margin-bottom-regular" name="estado">
                                            <option disabled selected value="">Estado</option>
                                            <option value="AC">Acre</option>
                                            <option value="AL">Alagoas</option>
                                            <option value="AP">Amapá</option>
                                            <option value="AM">Amazonas</option>
                                            <option value="BA">Bahia</option>
                                            <option value="CE">Ceará</option>
                                            <option value="DF">Distrito Federal</option>
                                            <option value="ES">Espírito Santo</option>
                                            <option value="GO">Goiás</option>
                                            <option value="MA">Maranhão</option>
                                            <option value="MT">Mato Grosso</option>
                                            <option value="MS">Mato Grosso do Sul</option>
                                            <option value="MG">Minas Gerais</option>
                                            <option value="PA">Pará</option>
                                            <option value="PB">Paraíba</option>
                                            <option value="PR">Paraná</option>
                                            <option value="PE">Pernambuco</option>
                                            <option value="PI">Piauí</option>
                                            <option value="RJ">Rio de Janeiro</option>
                                            <option value="RN">Rio Grande do Norte</option>
                                            <option value="RS">Rio Grande do Sul</option>
                                            <option value="RO">Rondônia</option>
                                            <option value="RR">Roraima</option>
                                            <option value="SC">Santa Catarina</option>
                                            <option value="SP">São Paulo</option>
                                            <option value="SE">Sergipe</option>
                                            <option value="TO">Tocantins</option>
                                        </select>
                                        <input type="text" class="input-text margin-bottom-regular" name="bairro" placeholder="Bairro">
                                        <input type="text" class="input-text margin-bottom-regular" name="cep" placeholder="CEP">
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Continuar
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="pessoal-6 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".pessoal-5"></div>
                            <h3 class="title-heading text-black margin-bottom-large">
                                Você possui veículo próprio para se locomover?
                            </h3>
                        
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="horizontal-padding">
                                        <label class="input-radio">
                                            Sim 
                                            <input type="radio" name="radio-carro" value="Sim">
                                            <span class="radio-check"></span>
                                        </label>
                            
                                        <label class="input-radio">
                                            Não
                                            <input type="radio" name="radio-carro" value="Não">
                                            <span class="radio-check"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Continuar
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="pessoal-7 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".pessoal-6"></div>
                            <h3 class="title-heading text-black margin-bottom-large">
                                Qual o nome completo da sua mãe?
                            </h3>
                        
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="horizontal-padding">
                                        <input type="text" class="input-text" name="nome_mae" placeholder="Digite aqui">
                                        <div class="warning-message gray-warning">O nome de sua mãe serve apenas para consultarmos o Nada Consta cívil e criminal.</div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Continuar
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="pessoal-8 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".pessoal-7"></div>
                            <h3 class="title-heading text-black margin-bottom-large">
                                Como conheceu a Colmeia?
                            </h3>
                        
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="horizontal-padding">
                                        <input type="text" class="input-text" name="como_conheceu" placeholder="Digite aqui">
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Continuar
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="pessoal-9 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".pessoal-8"></div>
                            <h3 class="title-heading text-black margin-bottom-regular">
                                Por último, precisamos que nos envie seu histórico acadêmico da universidade em formato PDF, JPEG, JPG, PNG, etc.
                            </h3>
                        
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="horizontal-padding">
                                        <div class="warning-message red-warning">Por favor, não anexe currículo e/ou quaisquer outros documentos que não sejam SEU histórico acadêmico universitário.</div>
                                        <input type="file" id="file" class="input-file" name="historico" placeholder="Digite aqui">
                                        <label for="file" class="file-button">
                                            <div class="file-button-title">Escolher arquivo</div>
                                            <div class="file-button-subtitle">Ou arraste seu arquivo</div>
                                        </label>
                                        <label for="file" class="file-button-success">
                                            <img src="/img/white-checkmark.png" alt="Checkmark" class="file-button-icon">
                                            <div class="file-button-title">Envio concluído</div>
                                            <div class="file-button-name"></div>
                                            <div class="file-button-change">Alterar arquivo</div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Finalizar cadastro
                                    </button>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </section>
</body>

<!-- build:js public/js/cadastro-professsor.min.js -->
<script src="/js/lib/jquery-3.1.1.min.js"></script>
<script src="/js/lib/select2.min.js"></script>
<script src="/js/lib/jquery.mask.min.js" type="text/javascript"></script>
<script src="/js/lib/loadingoverlay.min.js"></script>
<script src="/js/loading-indicator.js"></script>
<script src="/js/cadastro-professor.js"></script>
<!-- endbuild-->

<% include ./partials/ferramentas %>
<% include ./partials/fbpixel %>

</html>