<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro de professor | Colmeia</title>

    <!--icon-->
    <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32">

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">

    <!-- build:css public/css/cadastro-professor-cont.min.css -->
    <!--libs-->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/select2-cadastro-professor.css" rel="stylesheet" type="text/css">
    <!--styles-->
    <link href="/css/cadastro-professor-cont.css" rel="stylesheet" type="text/css">
    <!-- white-navbar-styles -->
    <link href="/css/orange-navbar.css" rel="stylesheet">
    <link href="/css/dropdown-menu.css" rel="stylesheet">
    <!-- endbuild -->

    <script type="text/javascript">
        var response = <%- JSON.stringify(response ? response : null) %>;
    </script>

    <% if (!isDebug) { %>
    <script>
        (function () {
            var t, i, e, n = window, o = document, a = arguments, s = "script", r = ["config", "track", "identify", "visit", "push", "call", "trackForm", "trackClick"], c = function () { var t, i = this; for (i._e = [], t = 0; r.length > t; t++)(function (t) { i[t] = function () { return i._e.push([t].concat(Array.prototype.slice.call(arguments, 0))), i } })(r[t]) }; for (n._w = n._w || {}, t = 0; a.length > t; t++)n._w[a[t]] = n[a[t]] = n[a[t]] || new c; i = o.createElement(s), i.async = 1, i.src = "//static.woopra.com/js/w.js", e = o.getElementsByTagName(s)[0], e.parentNode.insertBefore(i, e)
        })("woopra");

        woopra.identify({
            email: response.username,
            phone: response.telefone
        });

        woopra.config({
            domain: 'aulascolmeia.com.br',
            hide_campaign: true
        });

        woopra.track();
    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-100949672-1', 'auto');
        ga('send', 'pageview');
    </script>
    <% } %>
</head>

<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-custom">
        <div class="container">

            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar icon-bar-one"></span>
                    <span class="icon-bar icon-bar-two"></span>
                    <span class="icon-bar icon-bar-three"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <img id="navbar-logo" src="/img/logo-branca.png" height="100%">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="hidden">
                        <a href="/#page-top"></a>
                    </li>
                    <li>
                        <a href="/acompanhamento-escolar">Acompanhamento escolar</a>
                    </li>
                    <li>
                        <a href="/calculadora-pas">Calculadora PAS</a>
                    </li>
                    <li>
                        <a href="/professor">Seja um professor</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="orange-link" href="/aluno/sair"> Sair &rarr; </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="mobile-sidebar">
        <a class="mobile-sidebar-link" href="/#como-funciona">Como funciona</a>
        <a class="mobile-sidebar-link" href="/acompanhamento-escolar">Acompanhamento escolar</a>
        <a class="mobile-sidebar-link" href="/perguntas-frequentes">Perguntas frequentes</a>
        <a class="mobile-sidebar-link" href="/calculadora-pas">Calculadora PAS</a>
        <a class="mobile-sidebar-link" href="/professor">Professor</a>
        <a href="/aluno/entrar"> Criar conta / Entrar </a>
    </div>

    <nav class="sub-nav">
        <div class="container" style="position: relative;">
            <a class="mode-toggle" href="javascript:void(0)">Finalização de Cadastro</a>
        </div>
    </nav>

    <section id="cadastro">
        <img src="/img/step-4-side.png" alt="Passo 1" class="step-right">
        <div class="container">
            <div class="row col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
                <div class="main-container">
                    <div class="introduction-container">
                        <img src="/img/hand-pray.png" alt="Aperto de mão">

                        <h2 class="greeting-heading text-black margin-bottom-large">
                            Olá, bem-vindo de volta à Colmeia. Seu cadastro foi pré-aprovado e para ser finalizado
                            precisaremos de mais alguns dados
                            importantes.
                        </h2>

                        <h3 class="title-heading text-orange margin-bottom-large">
                            Vamos finalizar?
                        </h3>

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                <button class="orange-button">
                                    Prosseguir
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="welcomeback-container">
                        <img src="/img/hand-pray.png" alt="Aperto de mão">

                        <h2 class="greeting-heading text-black margin-bottom-large">
                            Olá, bem-vindo de volta à Colmeia. Você ainda não finalizou seu processo de cadastro, certo?
                            Você pode continuar seu registro
                            de onde parou ou recomeçar o processo.
                        </h2>

                        <h3 class="title-heading text-orange margin-bottom-large">
                            O que gostaria de fazer?
                        </h3>

                        <div class="row horizontal-padding">
                            <div class="col-lg-6 col-md-6">
                                <button class="orange-button" style="font-size: 16px;">
                                    Continuar de onde parei
                                </button>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <button class="white-button" style="font-size: 16px;">
                                    Recomeçar registro
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="banco-container">
                        <div class="banco-1">
                            <img src="/img/step-4-top.png" alt="Passo 4" class="step-image">
                            <h2 class="greeting-heading text-orange margin-bottom-large">
                                Para começarmos, vamos te pedir alguns de seus dados bancários para realizarmos seus
                                pagamentos, ok?
                            </h2>

                            <h3 class="title-heading text-black margin-bottom-large">
                                Qual o seu banco?
                            </h3>

                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="horizontal-padding">
                                        <select class="select-banco">
                                            <option value='001'>BANCO DO BRASIL S.A. (Banco do Brasil)</option>
                                            <option value='237'>BANCO BRADESCO S.A. (Bradesco)</option>
                                            <option value='341'>BANCO ITAU S.A. (Itaú)</option>
                                            <option value='356'>BANCO ABN AMRO REAL S.A. (Real)</option>
                                            <option value='409'>UNIBANCO UNIAO DE BANCOS BRASILEIROS S.A. (Unibanco)
                                            </option>
                                            <option value='041'>BANCO DO ESTADO DO RIO GRANDE DO SUL S.A. (Banrisul)
                                            </option>
                                            <option value='104'>CAIXA ECONOMICA FEDERAL (Caixa Econômica Federal)
                                            </option>
                                            <option value='033'>BANCO SANTANDER S.A. (Santander Banespa)</option>
                                            <option value='399'>HSBC BANK BRASIL S.A.BANCO MULTIPLO (HSBC)</option>
                                            <option value='745'>BANCO CITIBANK S.A.</option>
                                            <option value='151'>BANCO NOSSA CAIXA S.A (Nossa Caixa)</option>
                                            <option value='389'>BANCO MERCANTIL DO BRASIL S.A. (Mercantil do Brasil)
                                            </option>
                                            <option value='004'>BANCO DO NORDESTE DO BRASIL S.A (Banco do Nordeste
                                                (BNB))</option>
                                            <option value='021'>BANESTES S.A BANCO DO ESTADO DO ESPIRITO SANTO
                                                (Banestes)</option>
                                            <option value='422'>BANCO SAFRA S.A. (Safra)</option>
                                            <option value='003'>BANCO DA AMAZONIA S.A. (Banco da Amazônia (Basa))
                                            </option>
                                            <option value='047'>Banco do Estado de Sergipe S.A (Banese)</option>
                                            <option value='070'>Banco de Brasília S.A. (BRB)</option>
                                            <option value='655'>Banco Votorantim S.A (Votorantim)</option>
                                            <option value='107'>Banco BBM S.A (BBM)</option>
                                            <option value='025'>Banco Alfa S.A (Alfa)</option>
                                            <option value='263'>Banco Cacique S. A. (Cacique)</option>
                                            <option value='229'>BANCO CRUZEIRO DO SUL S.A. (Cruzeiro do Sul)</option>
                                            <option value='252'>BANCO FININVEST S.A. (Fininvest)</option>
                                            <option value='063'>BANCO IBI S.A - BANCO MULTIPLO (Banco IBI)</option>
                                            <option value='623'>BANCO PANAMERICANO S.A. (PanAmericano)</option>
                                            <option value='633'>BANCO RENDIMENTO S.A. (Banco Rendimento)</option>
                                            <option value='749'>BANCO SIMPLES S.A. (Banco Simples)</option>
                                            <option value='215'>BANCO ACOMERCIAL E DE INVESTIMENTO SUDAMERIS S.A.
                                                (Sudameris)</option>
                                            <option value='756'>BANCO COOPERATIVO DO BRASIL S.A. - (BANCOOB)</option>
                                            <option value='748'>BANCO COOPERATIVO SICREDI S.A. (SICREDI)</option>
                                            <option value='065'>LEMON BANK BANCO MÚLTIPLO S..A (Lemon Bank)</option>
                                            <option value='069'>BPN BRASIL BANCO MÚLTIPLO S.A. (BPN)</option>
                                            <option value='719'>BANIF - BANCO INTERNACIONAL DO FUNCHAL (BRASIL), S.A.
                                                (Banif)</option>
                                            <option value='318'>BANCO BMG S.A. (BMG)</option>
                                            <option value='027'>BANCO DO ESTADO DE SANTA CATARINA S.A.</option>
                                            <option value='208'>BANCO UBS PACTUAL S.A.</option>
                                            <option value='479'>BANCO ITAUBANK S.A.</option>
                                            <option value='077'>BANCO INTERMEDIUM S.A.</option>
                                            <option value='136'>BANCO UNICRED</option>
                                            <option value='037'>BANCO BANPARÁ</option>
                                            <option value='212'>BANCO ORIGINAL</option>
                                            <option value='085'>CECRED-COOPERATIVA CENTRAL DE CREDITO URBANO</option>
                                            <option value='735'>BANCO NEON</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Continuar
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="banco-2 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".banco-1"></div>

                            <h3 class="title-heading text-black margin-bottom-large">
                                Qual o tipo de sua conta?
                            </h3>

                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="horizontal-padding">
                                        <label class="input-radio">
                                            Conta poupança
                                            <input type="radio" name="radio-tipo-banco" value='SAVING'>
                                            <span class="radio-check"></span>
                                        </label>

                                        <label class="input-radio">
                                            Conta corrente
                                            <input type="radio" name="radio-tipo-banco" value='CHECKING'>
                                            <span class="radio-check"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Continuar
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="banco-3 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".banco-2"></div>

                            <h3 class="title-heading text-black margin-bottom-small">
                                Por favor, preencha os dados da sua conta.
                            </h3>
                            <div class="horizontal-padding">
                                <div class="warning-message gray-warning margin-bottom-large">
                                    Se sua agência ou conta não possuir dígito verificador, deixe os respectivos campos
                                    em branco.
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="horizontal-padding">
                                        <input type="text" class="input-text margin-bottom-regular" name="agencia"
                                            placeholder="Agência">
                                        <input type="text" class="input-text margin-bottom-regular" name="agencia-dv"
                                            placeholder="DV agência">
                                        <input type="text" class="input-text margin-bottom-regular" name="conta"
                                            placeholder="Conta">
                                        <input type="text" class="input-text margin-bottom-regular" name="conta-dv"
                                            placeholder="DV conta">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Finalizar
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="horarios-container">
                        <div class="horarios-1">
                            <img src="/img/step-5-top.png" alt="Passo 5" class="step-image">
                            <h2 class="greeting-heading text-orange margin-bottom-large">
                                Agora precisamos saber em quais turnos você está disponível para dar aulas.
                            </h2>

                            <h3 class="title-heading text-black margin-bottom-large">
                                Posteriormente você poderá selecionar horários específicos para dar aulas, podendo
                                alterá-los como preferir.
                                <br>
                                As informações que você irá inserir servem apenas para termos um controle prévio da sua
                                agenda.
                                <br><br>
                                Se em algum dia você não possuir horários disponíveis, apenas deixe as caixas
                                desmarcadas.
                            </h3>

                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Continuar
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="horarios-2 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".horarios-1"></div>

                            <h3 class="title-heading text-black margin-bottom-large">
                                Às <strong>segundas-feiras</strong>, quais turnos você tem disponíveis?
                            </h3>

                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="horizontal-padding">
                                        <label class="input-checkbox">
                                            Manhã - 8h00 às 12h00
                                            <input type="checkbox" value="manha">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Tarde - 12h00 às 18h00
                                            <input type="checkbox" value="tarde">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Noite - 18h00 às 22h00
                                            <input type="checkbox" value="noite">
                                            <span class="checkbox-check"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Continuar
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="horarios-3 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".horarios-2"></div>

                            <h3 class="title-heading text-black margin-bottom-large">
                                Às <strong>terças-feiras</strong>, quais turnos você tem disponíveis?
                            </h3>

                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="horizontal-padding">
                                        <label class="input-checkbox">
                                            Manhã - 8h00 às 12h00
                                            <input type="checkbox" value="manha">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Tarde - 12h00 às 18h00
                                            <input type="checkbox" value="tarde">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Noite - 18h00 às 22h00
                                            <input type="checkbox" value="noite">
                                            <span class="checkbox-check"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Continuar
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="horarios-4 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".horarios-3"></div>

                            <h3 class="title-heading text-black margin-bottom-large">
                                Às <strong>quartas-feiras</strong>, quais turnos você tem disponíveis?
                            </h3>

                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="horizontal-padding">
                                        <label class="input-checkbox">
                                            Manhã - 8h00 às 12h00
                                            <input type="checkbox" value="manha">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Tarde - 12h00 às 18h00
                                            <input type="checkbox" value="tarde">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Noite - 18h00 às 22h00
                                            <input type="checkbox" value="noite">
                                            <span class="checkbox-check"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Continuar
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="horarios-5 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".horarios-4"></div>

                            <h3 class="title-heading text-black margin-bottom-large">
                                Às <strong>quintas-feiras</strong>, quais turnos você tem disponíveis?
                            </h3>

                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="horizontal-padding">
                                        <label class="input-checkbox">
                                            Manhã - 8h00 às 12h00
                                            <input type="checkbox" value="manha">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Tarde - 12h00 às 18h00
                                            <input type="checkbox" value="tarde">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Noite - 18h00 às 22h00
                                            <input type="checkbox" value="noite">
                                            <span class="checkbox-check"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Continuar
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="horarios-6 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".horarios-5"></div>

                            <h3 class="title-heading text-black margin-bottom-large">
                                Às <strong>sextas-feiras</strong>, quais turnos você tem disponíveis?
                            </h3>

                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="horizontal-padding">
                                        <label class="input-checkbox">
                                            Manhã - 8h00 às 12h00
                                            <input type="checkbox" value="manha">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Tarde - 12h00 às 18h00
                                            <input type="checkbox" value="tarde">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Noite - 18h00 às 22h00
                                            <input type="checkbox" value="noite">
                                            <span class="checkbox-check"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Continuar
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="horarios-7 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".horarios-6"></div>

                            <h3 class="title-heading text-black margin-bottom-large">
                                Aos <strong>sábados</strong>, quais turnos você tem disponíveis?
                            </h3>

                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="horizontal-padding">
                                        <label class="input-checkbox">
                                            Manhã - 8h00 às 12h00
                                            <input type="checkbox" value="manha">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Tarde - 12h00 às 18h00
                                            <input type="checkbox" value="tarde">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Noite - 18h00 às 22h00
                                            <input type="checkbox" value="noite">
                                            <span class="checkbox-check"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Continuar
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="horarios-8 vertical-padding">
                            <div class="back-arrow" title="Voltar" data-steptarget=".horarios-7"></div>

                            <h3 class="title-heading text-black margin-bottom-large">
                                Aos <strong>domingos</strong>, quais turnos você tem disponíveis?
                            </h3>

                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="horizontal-padding">
                                        <label class="input-checkbox">
                                            Manhã - 8h00 às 12h00
                                            <input type="checkbox" value="manha">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Tarde - 12h00 às 18h00
                                            <input type="checkbox" value="tarde">
                                            <span class="checkbox-check"></span>
                                        </label>

                                        <label class="input-checkbox">
                                            Noite - 18h00 às 22h00
                                            <input type="checkbox" value="noite">
                                            <span class="checkbox-check"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                                    <button class="orange-button">
                                        Finalizar
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </section>
</body>

<!-- build:js public/js/cadastro-professsor-cont.min.js -->
<script src="/js/lib/jquery-3.1.1.min.js"></script>
<script src="/js/lib/select2.min.js"></script>
<script src="/js/lib/jquery.mask.min.js" type="text/javascript"></script>
<script src="/js/lib/loadingoverlay.min.js"></script>
<script src="/js/loading-indicator.js"></script>
<script src="/js/cadastro-professor-cont.js"></script>
<!-- endbuild-->

<% include ./partials/ferramentas %>
<% include ./partials/fbpixel %>

</html>