<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Cadastro finalizado | Colmeia</title>

  <!--tags-->

  <!--icon-->
  <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32" />

  <!--fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet" />

  <!-- build:css public/css/cadastro-finalizado.min.css -->
  <!--libs-->
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <!--styles-->
  <link href="/css/cadastro-finalizado.css" rel="stylesheet" type="text/css" />
  <!-- white-navbar-styles -->
  <link href="/css/orange-navbar.css" rel="stylesheet" />
  <link href="/css/dropdown-menu.css" rel="stylesheet" />
  <!-- endbuild -->

  <script type="text/javascript">
    var response = <%- JSON.stringify(response ? response : null) %>;
  </script>

  <% if (!isDebug) { %>
  <script>
    (function () {
      var t,
        i,
        e,
        n = window,
        o = document,
        a = arguments,
        s = 'script',
        r = ['config', 'track', 'identify', 'visit', 'push', 'call', 'trackForm', 'trackClick'],
        c = function () {
          var t,
            i = this;
          for (i._e = [], t = 0; r.length > t; t++)
            (function (t) {
              i[t] = function () {
                return i._e.push([t].concat(Array.prototype.slice.call(arguments, 0))), i;
              };
            })(r[t]);
        };
      for (n._w = n._w || {}, t = 0; a.length > t; t++) n._w[a[t]] = n[a[t]] = n[a[t]] || new c();
      (i = o.createElement(s)),
        (i.async = 1),
        (i.src = '//static.woopra.com/js/w.js'),
        (e = o.getElementsByTagName(s)[0]),
        e.parentNode.insertBefore(i, e);
    })('woopra');

    woopra.identify({
      email: response.username,
      phone: response.telefone
    });

    woopra.config({
      domain: 'aulascolmeia.com.br',
      hide_campaign: true
    });

    woopra.track();
  </script>

  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      (i[r] =
        i[r] ||
        function () {
          (i[r].q = i[r].q || []).push(arguments);
        }),
        (i[r].l = 1 * new Date());
      (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m);
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-100949672-1', 'auto');
    ga('send', 'pageview');
  </script>
  <% } %>
</head>

<body id="page-top">
  <nav id="mainNav" class="navbar navbar-default navbar-custom">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar icon-bar-one"></span>
          <span class="icon-bar icon-bar-two"></span>
          <span class="icon-bar icon-bar-three"></span>
        </button>
        <a class="navbar-brand page-scroll" href="/">
          <img id="navbar-logo" src="/img/logo-branca.png" height="100%" />
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li class="hidden">
            <a href="/#page-top"></a>
          </li>
          <li>
            <a href="/acompanhamento-escolar">Acompanhamento escolar</a>
          </li>
          <li>
            <a href="/calculadora-pas">Calculadora PAS</a>
          </li>
          <li>
            <a href="/professor">Professor</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="orange-link" href="/aluno/sair"> Sair &rarr; </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="mobile-sidebar">
    <a class="mobile-sidebar-link" href="/#como-funciona">Como funciona</a>
    <a class="mobile-sidebar-link" href="/acompanhamento-escolar">Acompanhamento escolar</a>
    <a class="mobile-sidebar-link" href="/perguntas-frequentes">Perguntas frequentes</a>
    <a class="mobile-sidebar-link" href="/calculadora-pas">Calculadora PAS</a>
    <a class="mobile-sidebar-link" href="/professor">Professor</a>
    <a href="/aluno/entrar"> Criar conta / Entrar </a>
  </div>

  <nav class="sub-nav">
    <div class="container" style="position: relative;">
      <a class="mode-toggle" href="javascript:void(0)">Cadastro em aprovação</a>
    </div>
  </nav>

  <section id="finalizado">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
          <div class="cadastro-finalizado">
            <img src="/img/check-white.png" alt="Check" />
            <h2 class="title">Parabéns, <%= response.nome.split(' ')[0] %></h2>
            <p class="subtitle">Seu cadastro foi realizado com sucesso!</p>

            <h3 class="warning">Aviso Importante</h3>
            <p class="paragraph">
              Muito obrigado por fazer parte da Colmeia! Você está em nossa lista de espera.
              Entraremos em contato quando abrirmos um novo processo seletivo para os bairros que
              você atende.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <% include ./partials/footer %>
</body>

<!-- build:js public/js/cadastro-finalizado.min.js -->
<script src="/js/lib/jquery-3.1.1.min.js"></script>
<!-- endbuild-->

<% include ./partials/ferramentas %> <% include ./partials/fbpixel %>

</html>