<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Registrar | Colmeia</title>
    <meta name="description" content="Registre-se na plataforma Colmeia de reforço escolar. Agende aulas pelo aplicativo ou pelo site com segurança no conforto da sua casa.">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--icon-->
    <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32">

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,500,400,700" rel="stylesheet">

    <!-- build:css public/css/cadastro-express.min.css -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/new/modules/colmeia-button.css" rel="stylesheet" type="text/css">
    <link href="/css/login.css" rel="stylesheet">
    <link href="/css/cadastro-express.css" rel="stylesheet">
    <!-- white-navbar-styles -->
    <link href="/css/white-navbar.css" rel="stylesheet">
    <link href="/css/dropdown-menu.css" rel="stylesheet">
    <!-- endbuild -->

    <% include ./partials/user %>
    <% include ./partials/woopra %>
    <% include ./partials/analytics_header %>
    <% include ./partials/onesignal %>

    <% include ./partials/ferramentas %>
    <% include ./partials/fbpixel %>

    </head>

    <body>

    <% include ./partials/white-navbar %>

    <div id="particles-js"></div>

    <script type="text/javascript">
    /* <![CDATA[ */
    goog_snippet_vars = function() {
      var w = window;
      w.google_conversion_id = 863977747;
      w.google_conversion_label = "UnlJCOfytG8Qk4L9mwM";
      w.google_remarketing_only = false;
    }
    // DO NOT CHANGE THE CODE BELOW.
    goog_report_conversion = function(url) {
      goog_snippet_vars();
      window.google_conversion_format = "3";
      var opt = new Object();
      opt.onload_callback = function() {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    }
    var conv_handler = window['google_trackConversion'];
    if (typeof(conv_handler) == 'function') {
      conv_handler(opt);
    }
  }
  /* ]]> */
  </script>

  <script type="text/javascript"
    src="//www.googleadservices.com/pagead/conversion_async.js">
  </script>

    <section id="main">
        <div class="container">

            <div class="row">
            
              <div class="col-lg-6 col-lg-offset-3">
      
                <div class="header">
                  Cadastro na Colmeia
                </div>
      
                <div class="login-container" id="loginContainer">
                  <div class="form-group">
                    <label for="register-nome">Nome</label>
                    <input type="text" class="form-control" placeholder="Nome" id="register-nome">
                  </div>
                  <div class="form-group">
                    <label for="register-email">Email</label>
                    <input type="text" class="form-control" placeholder="Email" id="register-email">
                  </div>
                  <div class="form-group">
                    <label for="register-senha">Senha</label>
                    <input type="password" class="form-control" placeholder="Senha" id="register-senha">
                  </div>
                  <div class="form-group">
                    <label for="register-telefone">Telefone</label>
                    <input type="text" class="form-control" placeholder="Telefone" id="register-telefone">
                  </div>
      
                  <input id="register-digits-id" type="hidden" name="digits_id">
      
                  <div class="error-container-register">
      
                  </div>
                  <div class="termos">
                    <div class="checkbox">
                      <label><input type="checkbox" value="">Concordo com <a href="/Termos-de-Uso-Colmeia.pdf" target="_blank">termos de uso</a> e <a href="/politica-de-privacidade-colmeia.pdf" target="_blank">políticas de privacidade</a> da Colmeia.</label>
                    </div>
                  </div>
                  <div class="colmeia-button button-filled register-button" onclick='goog_report_conversion()'>
                    Registrar
                  </div>
                  <!-- <div class="colmeia-button button-blue facebook-button register-facebook-button" onclick='goog_report_conversion()'>
                    Registrar com o Facebook
                  </div> -->
                </div>
      
                <div class="login-container" id="enderecoContainer" display: hidden>
                  
                  <div class="row">
                      <div class="col-lg-8 col-md-8">
                          <div class="form-group">
                              <label for="select-bairro">Bairro</label>
                              <select class="form-control" id="select-bairro">
                                  <option>--</option>
                              </select>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                          <div class="form-group">
                              <label for="select-cidade">Cidade</label>
                              <select class="form-control" id="select-cidade">
                                  <option>--</option>
                              </select>
                          </div>
                      </div>
                  </div>
              
              
                  <div class="row">
                      <div class="col-lg-12 col-md-12">
                          <div class="form-group">
                              <label for="input-endereco">Endereco</label>
                              <input type="text" class="form-control" id="input-endereco">
                          </div>
                      </div>
                  </div>
              
                  <div class="row">
                      <div class="col-lg-8 col-md-8">
                          <div class="form-group">
                              <label for="input-complemento">Complemento</label>
                              <input type="text" class="form-control" id="input-complemento">
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                          <div class="form-group">
                              <label for="input-numero">Número</label>
                              <input type="text" class="form-control" id="input-numero">
                          </div>
                      </div>
                  </div>
              
              
                  <div class="row">
                      <div class="col-lg-12 col-md-12">
                          <div class="colmeia-button button-filled">
                              Adicionar
                          </div>
                      </div>
                  </div>
                </div>

                <div class="login-container" id="enderecoContainerOnline" display: hidden>
                  
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div class="form-group">
                                <label for="input-estado">Estado</label>
                                <select class="form-control" id="select-estado-online">
                                    <option>--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label for="input-cidade">Cidade</label>
                                <input type="text" class="form-control" id="input-cidade-online">
                            </div>
                        </div>
                    </div>
                
                
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label for="input-endereco">Endereco</label>
                                <input type="text" class="form-control" id="input-endereco-online">
                            </div>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div class="form-group">
                                <label for="input-complemento">Complemento</label>
                                <input type="text" class="form-control" id="input-complemento-online">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label for="input-numero">Número</label>
                                <input type="text" class="form-control" id="input-numero-online">
                            </div>
                        </div>
                    </div>
                
                
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="colmeia-button button-filled">
                                Adicionar
                            </div>
                        </div>
                    </div>
                  </div>
      
                <div class="login-container" id="pagamentoContainer" display: hidden>
      
                  <div class="options-container">
                      <div class="row">
                          <div class="col-lg-12 col-md-12">
                              <div class="info-card card-unchecked" id="option-boleto">Pagamento por boleto</div>
                          </div>
                          
                          <div class="col-lg-12 col-md-12">
                              <div class="info-card card-unchecked" id="option-cartao">Pagamento por cartão de crédito</div>
                          </div>
                      </div>
                  </div>
      
                  <div class="boleto-container" display: hidden>
                      <div class="row">
                          <div class="col-lg-12 col-md-12">
                              <div class="form-group">
                                  <label for="input-nome-boleto">Nome completo</label>
                                  <input type="text" class="form-control" id="input-nome-boleto">
                              </div>
                          </div>
                      </div>
      
                      <div class="row">
                          <div class="col-lg-12 col-md-12">
                              <div class="form-group">
                                  <label for="input-cpf-boleto">CPF</label>
                                  <input type="text" class="form-control" id="input-cpf-boleto">
                              </div>
                          </div>
                      </div>
                  </div>
      
                  <div class="cartao-container" display: hidden>
                      <div class="row">
                          <div class="col-lg-12 col-md-12">
                              <div class="form-group">
                                  <label for="input-cartaonu">Número do cartão</label>
                                  <input type="text" class="form-control" id="input-cartaonu">
                              </div>
                          </div>
                      </div>
          
                      <div class="row">
                          <div class="col-lg-12 col-md-12">
                              <div class="form-group">
                                  <label for="input-nome">Nome</label>
                                  <input type="text" class="form-control" id="input-nome">
                              </div>
                          </div>
                      </div>
          
                      <div class="row">
                          <div class="col-lg-6 col-md-6">
                              <div class="form-group">
                                  <label for="input-cpf">CPF</label>
                                  <input type="text" class="form-control" id="input-cpf">
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                              <div class="form-group">
                                  <label for="input-nascimento">Data de nascimento</label>
                                  <input type="text" class="form-control" id="input-nascimento">
                              </div>
                          </div>
                      </div>
          
                      <div class="row">
                          <div class="col-lg-4 col-md-4">
                              <label>Mês de validade</label>
                              <div class="form-group">
                                  <input type="text" class="form-control" id="input-mes">
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-4">
                              <label>Ano de validade</label>
                              <div class="form-group">
                                  <input type="text" class="form-control" id="input-ano">
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-4">
                              <div class="form-group">
                                  <label for="input-seguranca">Cod. Segurança</label>
                                  <input type="text" class="form-control" id="input-seguranca">
                              </div>
                          </div>
                      </div>
                  </div>
          
                  <div class="row">
                      <div class="col-lg-12 col-md-12">
                          <div class="colmeia-button button-filled" display: hidden>
                              Adicionar
                          </div>
                      </div>
                  </div>
                </div>
      
                <div class="login-container" id="finalContainer" display: hidden>
                  
                  <div class="row">
                      <div class="col-lg-12 col-md-12">
                          <p>Tudo certo! O seu cadastro foi concluído com sucesso! <br/> Agradecemos por escolher a Colmeia.</p>
                      </div>
                  </div>

                    <div class="store-container">

                        <h2 class="store-title">
                            Que tal baixar o nosso aplicativo? <br/> <br/> Lá você consegue acompanhar todo o progresso das aulas e conversar com os nossos professores!
                        </h2>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <a
                                href="https://play.google.com/store/apps/details?id=br.com.aulascolmeia.colmeia_android"
                                class="store-button"
                            >
                                <img
                                    src="/img/baixar-play-store.png"
                                    alt="Aulas Colmeia aula particular de inglês baixar android"
                                    class="store-img"
                            /></a>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <a
                                href="https://itunes.apple.com/us/app/colmeia-aulas/id1163913467?mt=8"
                                class="store-button"
                            >
                                <img
                                    src="/img/baixar-apple-store.png"
                                    alt="Aulas Colmeia aula particular de inglês baixar ios"
                                    class="store-img"
        
                            /></a>
                            </div>
                        </div>
                    </div>
                </div>
      
              </div>
            </div>
          </div>
    </section>

    <% include ./partials/footer %>

  </body>

  <!-- build:js public/js/cadastro-express.min.js -->
  <!-- white-navbar-scripts -->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/mobilechecker.js"></script>
  <script src="/js/mobile-sidebar.js"></script>
  <script src="/js/navbar.js"></script>

  <script src="/js/lib/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/js/lib/loadingoverlay.min.js"></script>
  <script type="text/javascript" src="/js/loading-indicator.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>
  <script src="/js/lib/particles.min.js"></script>
  <script src="/js/lib/moment/moment.min.js"></script>
  <script src="/js/lib/moment/moment-timezone.js"></script>
  <script type="text/javascript" src="/js/lib/moment/locale/pt-br.js"></script>
  <script src="/js/lib/parse.min.js"></script>
  <script src="/js/lib/moip.min.js"></script>
  <script src="/js/lib/node-rsa-browser.js"></script>
  <script src="/js/lib/jquery.mask.min.js"></script>
  <script src="/js/constantes.js"></script>
  <script src="/js/cadastro-express.js"></script>
  <!-- endbuild -->

</html>
