<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Calculadora do PAS | Colmeia</title>

        <!-- tags -->
        <meta
            name="description"
            content="Calculadora de argumento final para o PAS UnB feita pela Colmeia para te ajudar! Insira suas notas para simular seu argumento final."
        />
        <meta
            name="keywords"
            content="pas, unb, calculadora, nota corte, nota de corte, vestibular, colmeia, reforco, reforco escolar, aula particular"
        />
        <meta name="robots" content="index" />
        <meta property="og:image" content="https://www.aulascolmeia.com.br/img/page_description_img.png" />

        <!-- icon -->
        <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32" />

        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" />

        <!-- build:css public/css/calculadora.min.css -->
        <!-- libs -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- styles -->
        <link href="/css/calculadora.css" rel="stylesheet" type="text/css" />
        <!-- white-navbar-styles -->
        <link href="/css/white-navbar.css" rel="stylesheet" />
        <link href="/css/dropdown-menu.css" rel="stylesheet" />
        <!-- endbuild -->

        <% include ./partials/user %> <% include ./partials/woopra %> <% include ./partials/analytics_header %> <%
        include ./partials/onesignal %>
    </head>

    <body id="page-top">
        <% include ./partials/white-navbar %>

        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <img
                            src="/img/logo-orange.png"
                            alt="Aulas Colmeia reforço escolar melhores professores logo"
                            class="header__logo"
                        />
                        <h1 class="header__title">Se prepare para o PAS com a Colmeia</h1>
                        <h2 class="header__subtitle">
                            A Colmeia oferece os melhores professores particulares com aulas adaptadas para o PAS.
                        </h2>
                        <a href="javascript:void(0)" class="header__button">Baixe o app da colmeia!</a>
                        <p class="header__caption">Aulas com até <strong>15% de desconto</strong></p>
                    </div>
                </div>
            </div>
        </header>

        <header class="header-mobile">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h1 class="header-mobile__title">Se preparando para o PAS?</h1>
                        <hr class="header-mobile__divider" />
                        <h2 class="header-mobile__subtitle">
                            A Colmeia oferece os melhores professores particulares com
                            <strong>aulas adaptadas para o PAS</strong>.
                        </h2>
                    </div>
                </div>
            </div>
            <div class="header-mobile__button">
                <div class="header-mobile__button-title">Aulas com</div>
                <div class="header-mobile__button-subtitle">15% OFF</div>
                <div class="header-mobile__button-button">Baixar app</div>
            </div>
        </header>

        <section class="calculadora">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h2 class="calculadora__title">Calculadora do PAS</h2>
                        <h3 class="calculadora__subtitle">
                            Insira suas notas do PAS 1, 2 e 3 e estime seu argumento final
                        </h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="pas-block" id="pas1">
                                    <h4 class="pas-block__title">PAS 1</h4>
                                    <div class="pas-block__row">
                                        <label for="" class="pas-block__label">Idioma</label>
                                        <select class="pas-block__input pas-block__input--idioma">
                                            <option>Inglês</option>
                                            <option>Espanhol</option>
                                            <option>Francês</option>
                                        </select>
                                    </div>
                                    <div class="pas-block__row">
                                        <label for="" class="pas-block__label">Redação</label>
                                        <input type="text" class="pas-block__input pas-block__input--redacao" />
                                    </div>
                                    <div class="pas-block__row">
                                        <label for="" class="pas-block__label">Esc. Bruto</label>
                                        <input type="text" class="pas-block__input pas-block__input--escore" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="pas-block" id="pas2">
                                    <h4 class="pas-block__title">PAS 2</h4>
                                    <div class="pas-block__row">
                                        <label for="" class="pas-block__label">Idioma</label>
                                        <select class="pas-block__input pas-block__input--idioma">
                                            <option>Inglês</option>
                                            <option>Espanhol</option>
                                            <option>Francês</option>
                                        </select>
                                    </div>
                                    <div class="pas-block__row">
                                        <label for="" class="pas-block__label">Redação</label>
                                        <input type="text" class="pas-block__input pas-block__input--redacao" />
                                    </div>
                                    <div class="pas-block__row">
                                        <label for="" class="pas-block__label">Esc. Bruto</label>
                                        <input type="text" class="pas-block__input pas-block__input--escore" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="pas-block" id="pas3">
                                    <h4 class="pas-block__title">PAS 3</h4>
                                    <div class="pas-block__row">
                                        <label for="" class="pas-block__label">Idioma</label>
                                        <select class="pas-block__input pas-block__input--idioma">
                                            <option>Inglês</option>
                                            <option>Espanhol</option>
                                            <option>Francês</option>
                                        </select>
                                    </div>
                                    <div class="pas-block__row">
                                        <label for="" class="pas-block__label">Redação</label>
                                        <input type="text" class="pas-block__input pas-block__input--redacao" />
                                    </div>
                                    <div class="pas-block__row">
                                        <label for="" class="pas-block__label">Esc. Bruto</label>
                                        <input type="text" class="pas-block__input pas-block__input--escore" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
                        <div class="grade__error"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="pacote">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <!--
                            <h2 class="pacote__title">
                                Pacotes
                            </h2>
                        -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="pacote-block">
                            <h4 class="pacote-block__title">Revisando</h4>
                            <h5 class="pacote-block__subtitle">2 aulas por semana até o PAS</h5>
                            <p class="pacote-block__item">Escolha as matérias das suas aulas</p>
                            <p class="pacote-block__item">Aprenda da melhor forma: na prática</p>
                            <p class="pacote-block__item">Resolução de provas antigas</p>
                            <p class="pacote-block__item">Aulas com professores que já passaram na UnB</p>
                            <p class="pacote-block__item">Correção de <strong>1 redação</strong></p>
                            <a href="javascript:void(0)" class="pacote-block__button" data-pacote="Revisando"
                                >Solicitar</a
                            >
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="pacote-block pacote-block--large">
                            <h4 class="pacote-block__title">POWER PAS</h4>
                            <h5 class="pacote-block__subtitle">3 aulas por semana até o PAS</h5>
                            <p class="pacote-block__item">Escolha as matérias de suas aulas</p>
                            <p class="pacote-block__item">Aprenda da melhor forma: na prática</p>
                            <p class="pacote-block__item">Resolução de provas antigas</p>
                            <p class="pacote-block__item">Aulas com professores que já passaram na UnB</p>
                            <p class="pacote-block__item">Correção de <strong>2 redações</strong></p>
                            <a href="javascript:void(0)" class="pacote-block__button" data-pacote="Power PAS"
                                >Solicitar</a
                            >
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="pacote-block">
                            <h4 class="pacote-block__title">Intensivão</h4>
                            <h5 class="pacote-block__subtitle">5 aulas por semana até o PAS</h5>
                            <p class="pacote-block__item">Escolha as matérias de suas aulas</p>
                            <p class="pacote-block__item">Aprenda da melhor forma: na prática</p>
                            <p class="pacote-block__item">Resolução de provas antigas</p>
                            <p class="pacote-block__item">Aulas com professores que já passaram na UnB</p>
                            <p class="pacote-block__item">Correção de <strong>3 redações</strong></p>
                            <p class="pacote-block__item"><strong>1 tema de redação por semana</strong></p>
                            <a href="javascript:void(0)" class="pacote-block__button" data-pacote="Intensivão"
                                >Solicitar</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="grade">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="grade__title">Argumento estimado*</div>
                        <div class="grade__value">--</div>
                        <div class="grade__caption">* O argumento estimado com base no PAS 2016.</div>
                    </div>
                </div>
            </div>
        </section>

        <section class="phone">
            <img src="/img/phone-main.png" alt="" class="phone__img" />
            <div class="container">
                <div class="col-lg-7 col-md-7 col-lg-offset-4 col-md-offset-4">
                    <div class="phone__content">
                        <div class="phone__title">Baixe nosso APP e agende a sua revisão</div>
                        <div class="phone__text">
                            Que tal focar aproveitar e focar NAQUELA matéria que você sabe que vai cair mas ainda não
                            está 100%? Mantenha seu score lá em cima agendando sua aula de revisão agora.
                        </div>

                        <div class="phone__button">Baixar app</div>
                    </div>
                </div>
            </div>
        </section>

        <section class="pas">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <h3 class="pas__title">
                            Se preparando para o PAS <br />
                            com a Colmeia
                        </h3>
                        <p class="pas__text">
                            O PAS é a maneira mais fácil de entrar na UnB. Proporcionalmente o número de candidatos por
                            vaga é muito menor que o Vestibular tradicional ou ENEM. <br /><br />
                            Por isso, vale a pena investir em uma preparação que esteja alinhada com o objetivo de cada
                            aluno. Com ritmo e foco nas matérias de acordo com a sua necessidade individual.
                            <br /><br />
                            Quer saber como está a nota de corte e a concorrencia de todos os cursos? <br />
                            <br />
                            <a
                                class="pas__link"
                                href="http://www.cespe.unb.br/pas/arquivos/Boletim%20Informativo%20PAS%202016_re3.pdf"
                                >Confira aqui o Boletim informativo do ultimo PAS.</a
                            >
                        </p>
                    </div>
                </div>

                <div class="form">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
                            <h3 class="form__title">E aí? Partiu UnB?!</h3>
                            <h4 class="form__subtitle">
                                A Colmeia vai te ajudar a montar um plano de estudos com foco nas suas matérias com
                                maior dificuldade
                            </h4>

                            <div class="form__call">Insira seus dados e entraremos em contato</div>

                            <div class="row">
                                <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
                                    <form>
                                        <label class="form__label">Nome:</label>
                                        <input type="text" class="form__input form__input--nome" placeholder="Nome" />
                                        <label class="form__label">Telefone:</label>
                                        <input
                                            type="text"
                                            class="form__input form__input--telefone"
                                            placeholder="Telefone"
                                        />
                                        <input type="text" class="form__input form__input--pacote" />
                                        <input type="submit" value="Enviar" class="form__button" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="code">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-lg-offset-5 col-md-offset-5">
                        <h3 class="code__title">Conheça nosso app</h3>
                        <p class="code__subtitle">
                            Baixe nosso aplicativo agora e obtenha <strong>15%</strong> <br />
                            de desconto na sua primeira aula com o código do PAS
                        </p>
                        <div class="code__content">15PAS</div>
                    </div>
                </div>
            </div>
        </section>

        <div id="modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <img
                            class="modal-img"
                            src="/img/surprised.gif"
                            alt="Aulas Colmeia reforço escolar aula marcada"
                        />
                        <div class="modal-title">Processando sua nota</div>
                        <div class="modal-content">
                            Estamos calculando a sua nota, enquanto isso <br />
                            que tal nos seguir nas redes sociais?!
                        </div>
                        <div class="modal-buttons">
                            <a
                                href="https://www.facebook.com/aulascolmeia/"
                                target="_blank"
                                class="modal-button modal-button--fb"
                            >
                                <img src="/img/fbbranco.png" alt="" /> Curtir página
                            </a>

                            <a
                                href="https://www.instagram.com/aulascolmeia/"
                                target="_blank"
                                class="modal-button modal-button--ig"
                            >
                                <img src="/img/instapreto.png" alt="" /> Seguir no insta
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ./partials/footer %>
    </body>

    <!-- build:js public/js/calculadora.min.js -->
    <!-- white-navbar-scripts -->
    <script src="/js/lib/jquery-2.1.4.js"></script>
    <script src="/js/mobilechecker.js"></script>
    <script src="/js/mobile-sidebar.js"></script>
    <script src="/js/navbar.js"></script>
    <!-- libs -->
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/lib/jquery.easing.min.js"></script>
    <!--
        <script src="/js/lib/loadingoverlay.min.js" ></script>
        <script src="/js/loading-indicator.js" ></script>
    -->
    <script src="/js/lib/particles.min.js"></script>

    <!-- scripts -->
    <script src="/js/calculadora.js"></script>
    <!-- endbuild -->

    <% include ./partials/ferramentas %> <% include ./partials/fbpixel %>
</html>
