<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta
    name="description"
    content="A aula online da Colmeia procura manter a individualidade e a qualidade das aulas presenciais. As aulas ocorrem ao vivo com o professor."
  />
  <meta
    name="keywords"
    content="blog, educação, colmeia, aulas, pacotes, pacote de aulas, aula particular, reforco, reforco escolar, acompanhamento escolar, aula online"
  />
  <!-- FB Share -->
  <meta property="og:image" content="https://www.aulascolmeia.com.br/img/page_description_img.png" />
  <meta property="og:url" content="https://aulascolmeia.com.br/cliente-online" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="A aula online da Colmeia procura manter a individualidade e a qualidade das aulas presenciais. As aulas ocorrem ao vivo com o professor." />
  <!-- FB Share -->

  <!-- TWITTER Share-->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Aulas Colmeia - Como é a aula online?">
  <meta name="twitter:description" content="A aula online da Colmeia procura manter a individualidade e a qualidade das aulas presenciais. As aulas ocorrem ao vivo com o professor.">
  <meta name="twitter:image:src" content="https://www.aulascolmeia.com.br/img/page_description_img.png">
  <meta name="twitter:domain" content="https://aulascolmeia.com.br/cliente-online">
  <!-- TWITTER Share-->

  <title>Como é a aula online? | Aulas Colmeia</title>
  <link href="https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <!-- build:css public/css/clienteonline.min.css -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/lib/flickity.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  <link href="/css/cliente-online.css" rel="stylesheet" type="text/css" />
  <!-- endbuild -->
  <% include ./partials/user %> <% include ./partials/woopra %> <% include ./partials/analytics_header %> <% include ./partials/onesignal %> <%- pageData.scriptHead %>
  <!-- Global site tag (gtag.js) - Google Ads: 863977747 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-863977747"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'AW-863977747');
  </script>

  <!--
    Event snippet for Cadastro-Leads-LPs conversion page
    In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button.
  -->
  <script>
    function gtag_report_conversion(url) {
      var callback = function () {
        if (typeof url != 'undefined') {
          window.location = url;
        }
      };
      gtag('event', 'conversion', {
        send_to: 'AW-863977747/95lcCL-X74wBEJOC_ZsD',
        event_callback: callback
      });
      return false;
    }
  </script>
</head>
<body class="landing-campanha landing-campanha--online" style="font-family: 'Muli', sans-serif;">
  <%- pageData.scriptBody %><%- include('partials/new/whatsapp') %>
  <div class="landing-campanha__wrapper">
    <%- include('partials/navbar-tel-whatsapp.ejs') %>
    <div class="navbar-top-padding"></div>
    <main class="online-header">
      <div class="container">
        <div class="header-box">
          <div class="info">
            <h1>Como é a aula online?</h1>
            <p>Aulas personalizadas e individuais. Veja abaixo como são nossas aulas</p>
          </div>
          <div class="img"></div>
        </div>
      </div>
    </main>
    <aside class="online-description">
      <div class="container">
        <div class="description-box">
          <div class="heading">
            <h3>NOSSAS AULAS<br/>ONLINE</h3>
          </div>
          <div class="info">
            <div class="left">
              A aula online da Colmeia procura <b>manter a individualidade e a qualidade das aulas presenciais.</b> As aulas ocorrem ao vivo com o professor, assim o aluno consegue no momento da aula suprir todas as suas maiores dificuldades e perceber a sua evolução. Para cada aula, a Colmeia procurar encontrar o melhor professor que seja de acordo com a necessidade do aluno e com o perfil de cada um.
            </div>
            <div class="right">
              Diferente do que acontece em outras plataformas, nas aulas online da Colmeia ocorre realmente a troca entre o professor e o aluno. Os professores são instruídos a utilizarem as diversas tecnologias e vantagens que o meio online permite, mas o mais importante segue sendo o real aprendizado e desenvolvimento do aluno.
            </div>
          </div>
        </div>
      </div>
    </aside>
    <aside class="online-beneficios">
      <div class="container">
        <div class="beneficios-box">
          <div class="heading">
            <h3>BENEFÍCIOS</h3>
          </div>
          <div class="cards">
            <div class="section section-1">
              <div class="indiv-card first-card">
                <h4>01.</h4>
                <p>Aula individualizada, o aluno tem toda a atenção do professor</p>
              </div>
              <div class="indiv-card second-card">
                <h4>02.</h4>
                <p>Aulas no seu horário e dia de preferência</p>
              </div>
            </div>
            <div class="section section-2">
              <div class="indiv-card third-card">
                <h4>03.</h4>
                <p>Segurança em todo o processo, desde o pagamento até a escolha do professor</p>
              </div>
              <div class="indiv-card forth-card">
                <h4>04.</h4>
                <p>Aula ao vivo com o professor, possibilita a troca com o aluno</p>
              </div>
            </div>
            <div class="section section-3">
              <div class="indiv-card fifth-card">
                <h4>05.</h4>
                <p>Sem gasto com o deslocamento tanto seu quanto do professor</p>
              </div>
              <div class="indiv-card sixth-card">
                <h4>06.</h4>
                <p>Professores selecionados e capacitados para atender a necessidade de cada aluno</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </aside>
    <aside class="online-reportagem">
      <div class="container">
        <div class="reportagem-box">
          <div class="heading">
            <h3>COLMEIA<br/>NA MÍDIA</h3>
          </div>
          <div class="video">
            <iframe
              src="https://www.youtube.com/embed/nYa_78HUQhs"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            >
            </iframe>
            <p>Reportagem realizada pela Record (21/04/2020)</p>
          </div>
      </div>
    </aside>
    <aside class="online-depoimentos">
      <div class="container">
        <div class="depoimentos-box">
          <div class="heading">
            <h3>DEPOIMENTOS</h3>
          </div>
          <div class="carousel">
            <div class="depoimento depoimento-1">
              <img src="/img/quotation-icon.png" alt="imagem do ícone de aspas">
              <p class="text">
                A Colmeia veio ao encontro de uma necessidade cada vez mais urgente pra nós. A medida que meu filho foi crescendo foi ficando difícil acompanhar e apoiar os estudo dele. As dúvidas foram ficando cada vez mais complexas e o auxílio profissional se mostrou a alternativa mais viável, mas onde encontrar bons professores, com referência e segurança? Na Colmeia encontrei isto, professores excepcionais com a segurança de serem indicados pela plataforma onde posso ler avaliações sobre eles, currículo e escolher o que melhor atende nossa necessidade.
              </p>
              <p class="author">Daniella</p>
            </div>
            <div class="depoimento depoimento-2">
              <img src="/img/quotation-icon.png" alt="imagem do ícone de aspas">
              <p class="text">
                Nós somos clientes da Colmeia já a três anos. Nós gostamos bastante, especialmente pela facilidade que o aplicativo proporciona. Ele é bastante versátil, você pode escolher um professor, pode verificar qual a experiência dele, ver o currículo, ver a área em que ele tem mais afinidades. É fácil de marcar, desmarcar, você pode escolher uma aula ou um pacote, escolher mais de um professor para fazer um teste. Então eu realmente recomendo a Colmeia.
              </p>
              <p class="author">Deize Garcia</p>
            </div>
            <div class="depoimento depoimento-3">
              <img src="/img/quotation-icon.png" alt="imagem do ícone de aspas">
              <p class="text">
                Tive pouco tempo de experiência, mas minha filha estava conseguindo entender melhor a materia. Escolhi porque vi que tinha excelentes recomendações nos sites de busca na internet.
              </p>
              <p class="author">Cristiane Woo</p>
            </div>
          </div>
        </div>
      </div>
    </aside>
    <%- include('partials/footer-socialmedia.ejs') %>
  </div>
  <!-- build:js public/js/clienteonline.min.js-->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/lib/jquery.easing.min.js"></script>
  <script src="/js/lib/jquery.mask.min.js"></script>
  <script src="/js/lib/loadingoverlay.min.js"></script>
  <script src="/js/loading-indicator.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>
  <script src="/js/lib/flickity.pkgd.min.js"></script>
  <!-- endbuild -->
  <script>
    $(document).ready(() => {
      $('a.whatsapp-btn').click(function() {
        $('#label-for-whatsapp').click();
      });

      function setupMask() {
        function maskBehavior(val) {
          return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        };

        const options = {
          onKeyPress: function(val, e, field, options) {
            field.mask(maskBehavior.apply({}, arguments), options);
          }
        };

        $('.whatsapp__input--phone').mask(maskBehavior, options);
      }

      setupMask();

      function handleWhatsapp() {
        $('.whatsapp__form').on('submit', function(e) {
          e.preventDefault();
          
          const whatsappFormName = $('input.whatsapp__input--name');
          const whatsappFormPhone = $('input.whatsapp__input--phone');
          const whatsappFormEmail = $('input.whatsapp__input--email');

          if (
            whatsappFormName.val() == '' ||
            whatsappFormPhone.val() == '' ||
            whatsappFormEmail.val() == ''
          ) {
            return alert('Por favor, preencha todos os campos!');
          }

          var emailRegex = new RegExp(
            /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          );
          if (!emailRegex.test(whatsappFormEmail.val())) {
            return alert('O email que você inseriu não é válido!');
          }

          if (whatsappFormPhone.cleanVal().length < 10) {
            return alert('O telefone que você inseriu não é válido!');
          }

          $.ajax({
            url: '/landing-campanha',
            type: 'POST',
            data: {
              nome: whatsappFormName.val(),
              telefone: '+55' + whatsappFormPhone.cleanVal(),
              email: whatsappFormEmail
                .val()
                .toLowerCase()
                .trim(),
              origin: 'LANDING-CAMPANHA-COMO-AULA-ONLINE-WHATSAPP',
              url: window.location.href
            }
          })
            .done(function(result) {
              if (result.success) {
                const cssmedia = window.matchMedia('(max-width: 702px)');

                if (cssmedia.matches) {
                  window.location.href =
                    'https://api.whatsapp.com/send?phone=5561998052073&text=Olá, meu nome é ' +
                    whatsappFormName.val() +
                    ' e eu gostaria de saber mais sobre a aula online.';
                } else {
                  window.location.href =
                    'https://web.whatsapp.com/send?phone=5561998052073&text=Olá, meu nome é ' +
                    whatsappFormName.val() +
                    ' e eu gostaria de saber mais sobre a aula online.';
                }

              } else if (result.message) {
                alert(result.message);
              }
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
              alert(
                'Desculpe, houve um erro ao receber suas informações. Por favor, entre em contato conosco pelo WhatsApp (61) 9 9805-2073.'
              );
            });
        });
      }

      handleWhatsapp();

      $('.carousel').flickity({
        contain: true,
        autoPlay: 3500,
        pauseAutoPlayOnHover: true,
        pageDots: true,
        watchCSS: true,
        wrapAround: true,
        cellAlign: 'left',
      });
    })
  </script>
  <% include ./partials/ferramentas %> <% include ./partials/fbpixel %>
</body>
</html>