<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Currículo | Aulas Colmeia</title>

  <!--tags-->
  <meta name="description"
    content="Currículo" />
  <meta name="keywords"
    content="colmeia, professores, currículo" />
  <meta name="robots" content="index" />
  <meta property="og:image" content="https://www.aulascolmeia.com.br/img/page_description_img.png" />

  <!--icon-->
  <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32" />

  <!--fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- build:css public/css/curriculo.min.css -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  <link href="/css/curriculo.css" rel="stylesheet" type="text/css" />
  <!-- endbuild -->

  <% include ./partials/user %> <% include ./partials/woopra %> <% include
    ./partials/analytics_header %> <% include ./partials/onesignal %> <%- pageData.scriptHead %>

  <!-- Global site tag (gtag.js) - Google Ads: 863977747 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-863977747"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'AW-863977747');
  </script>

  <!--
                Event snippet for Cadastro-Leads-LPs conversion page
                In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button.
            -->
  <script>
    function gtag_report_conversion(url) {
      var callback = function () {
        if (typeof url != 'undefined') {
          window.location = url;
        }
      };
      gtag('event', 'conversion', {
        send_to: 'AW-863977747/95lcCL-X74wBEJOC_ZsD',
        event_callback: callback
      });
      return false;
    }
  </script>
</head>

<body class="landing-campanha landing-campanha--online">
  <%- pageData.scriptBody %>
  <header class="top-header">
    <a class="navbar-static__logo-link" href="/">
      <img src="/img/colmeia_logo.png" alt="Aulas Colmeia Logo" />
    </a>
  </header>
  <section class="short-teacher-info">
    <div class="container">
      <section class="teacher-intro">
        <div class="section section-1">
          <img class="teacher-photo" alt="foto do professor" src="<%= pageData.professor.imagem %>">
          <h3><%= pageData.professor.nome %></h3>
        </div>
        <div class="section section-2">
          <p><span class="location-marker"></span> <%= pageData.professor.cidade %>, DF</p>
          <p>Professor pela Colmeia desde <%= pageData.professor.desde %></p>
        </div>
      </section>
    </div>
  </section>
  <main class="detailed-info">
    <div class="container">
      <section class="curriculum detailed-box">
        <div class="section section-1">
          <h3>Currículo</h3>
        </div>
        <div class="section section-2">
          <p><%= pageData.professor.curriculo %></p>
        </div>
      </section>
      <hr class="green-line">
      <section class="subjects detailed-box">
        <div class="section section-1">
          <h3>Disciplinas</h3>
        </div>
        <div class="section section-2">
          <% pageData.professor.disciplinas.forEach((disciplina) => { %>
            <div class="subjects-item"><%= disciplina %></div>
          <% }) %>
        </div>
      </section>
      <hr class="green-line">
      <section class="levels detailed-box">
        <div class="section section-1">
          <h3>Níveis</h3>
        </div>
        <div class="section section-2">
          <% pageData.professor.niveis.forEach((nivel) => { %>
            <div class="levels-item"><%= nivel %></div>
          <% }) %>
        </div>
      </section>
      <hr class="green-line">
      <section class="workdays detailed-box">
        <div class="section section-1">
          <h3>Dias disponíveis na semana</h3>
        </div>
        <div class="section section-2">
          <% pageData.professor.weekDays.forEach((weekDay, index) => { %>
            <div class="workdays-item <%= Object.values(pageData.professor.schedule)[index].length ? 'workday-available' : '' %>"><%= weekDay %></div>
          <% }) %>
        </div>
      </section>
      <% if (pageData.comments.length) { %>
        <hr class="green-line">
        <section class="comments detailed-box">
          <div class="section section-1">
            <h3>Depoimentos</h3>
          </div>
          <div class="section section-2">
            <% pageData.comments.forEach((comment) => { %>
              <div class="comments-item">
                <img src="<%= comment.image %>" alt="Ícone de usuário" class="user-img">
                <div class="info">
                  <h4><%= comment.client %></h4>
                  <p>“<%= comment.text %>.”</p>
                </div>
              </div>
            <% }) %>
          </div>
        </section>
      <% } %>
    </div>
  </main>
  <%- include('partials/footer-socialmedia.ejs') %>
</body>

<!-- build:js public/js/curriculo.min.js-->
<script src="/js/lib/jquery-2.1.4.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<!-- endbuild -->

<% include ./partials/ferramentas %> <% include ./partials/fbpixel %>

</html>