<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Aula de idiomas para empresas | Aulas Colmeia</title>

    <!--tags-->
    <meta
      name="description"
      content="Aulas particulares de reforço escolar. Os melhores professores de Brasília e São Paulo no conforto de casa! Ensino personalizado, conheça o jeito Colmeia de acompanhamento escolar! Horários garantidos. Agende pelo aplicativo ou pelo site."
    />
    <meta
      name="keywords"
      content="colmeia, reforco, reforco escolar, acompanhamento, escola, aulas particulares, aula particular"
    />
    <meta name="robots" content="index" />
    <meta
      property="og:image"
      content="https://www.aulascolmeia.com.br/img/page_description_img.png"
    />

    <!--icon-->
    <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32" />

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />

    <!-- build:css public/css/empresas-rappi.min.css -->
    <link href="/css/lib/flickity.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <!-- endbuild -->

    <% include ./partials/user %> <% include ./partials/woopra %> <% include
    ./partials/analytics_header %> <% include ./partials/onesignal %>
  </head>

  <body class="empresas-rappi">
    <%- include('partials/new/whatsapp') %>

    <nav class="navbar-static navbar-static--rappi">
      <div class="container">
        <div class="navbar-static__content">
          <div class="navbar-static__left">
            <a class="navbar-static__logo-link" href="/">
              <img
                src="/img/rappi_logo.png"
                alt="Rappi Logo"
                class="navbar-static__logo-img navbar-static__logo-img--rappi-logo"
            /></a>
          </div>
          <div class="navbar-static__left">
            <a class="navbar-static__logo-link" href="/">
              <img
                src="/img/colmeia_logo.png"
                alt="Aulas Colmeia Logo"
                class="navbar-static__logo-img"
            /></a>
          </div>
          <a href="#" class="navbar-static__right">(11) 4949-0115</a>
        </div>
      </div>
    </nav>

    <header class="header-campaign header-campaign--empresas header-campaign--empresas-rappi">
      <div class="container container--s u-padding-vertical-xl">
        <div class="header-campaign__content">
          <h1
            class="heading-campaign heading-campaign--line heading-campaign--line-center u-margin-bottom-m"
          >
            Saia de vez do nível intermediário
          </h1>

          <h2 class="subheading-campaign u-margin-bottom-l">
            Aproveite o benefício de aulas particulares de <strong>inglês e espanhol</strong> para
            deixar o medo de fazer feio ao se comunicar!
          </h2>

          <a href="/app/idiomas" class="header-campaign__button">
            Quero me cadastrar!
          </a>
        </div>
      </div>
    </header>

    <section class="steps steps--no-br">
      <div class="steps__content u-padding-vertical-l">
        <div class="container u-padding-vertical-m">
          <div class="grid grid--pad-xs">
            <div class="col">
              <h2 class="heading-section">
                Como <br />
                funciona
              </h2>
            </div>

            <div class="col">
              <div class="steps__block">
                <div class="steps__number">01</div>
                <h3 class="heading-small u-padding-top-m u-margin-bottom-xs">
                  Faça o cadastro
                </h3>
                <p class="p">
                  Nos diga os melhores horários para ter suas aulas de línguas.
                </p>
              </div>
            </div>

            <div class="col">
              <div class="steps__block">
                <div class="steps__number">02</div>
                <h3 class="heading-small u-padding-top-m u-margin-bottom-xs">
                  Montamos sua turma
                </h3>
                <p class="p">
                  Organizamos quais dos seus colegas tem a mesma disponibilidade que você para ter
                  as aulas.
                </p>
              </div>
            </div>

            <div class="col">
              <div class="steps__block">
                <div class="steps__number">03</div>
                <h3 class="heading-small u-padding-top-m u-margin-bottom-xs">
                  Levamos a aula até vocês
                </h3>
                <p class="p">
                  O nosso professor vai estar na sua empresa no dia e local marcado. Sem custo
                  adicional de deslocamento.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="discount discount--pedagoga">
      <div class="discount__content u-margin-top-xs">
        <div class="container container--m">
          <div class="grid grid--center grid--pad-s">
            <div class="col">
              <div class="product-card product-card--empresas-1">
                <div class="product-card__title">AULAS DE ESPANHOL EM GRUPO</div>
                <div class="product-card__subtitle u-margin-bottom-xs">
                  A Colmeia auxilia você a evoluir seu nível de espanhol e subir um degrau a mais na
                  carreira. Escolha sua disponibilidade e montamos uma turma que atenda às suas
                  necessidades.
                </div>
                <div class="product-card__button js-cta">Anotarme</div>
              </div>
            </div>
            <div class="col">
              <div class="product-card product-card--empresas-2">
                <div class="product-card__title">AULAS DE INGLÊS EM GRUPO</div>
                <div class="product-card__subtitle u-margin-bottom-xs">
                  A Colmeia sabe que o domínio da língua inglesa é fundamental para boa colocação no
                  mercado de trabalho. Com as nossas aulas, o professor vai até a empresa, te
                  fazendo economizar tempo e dinheiro.
                </div>

                <div class="product-card__button js-cta">Subscribe</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="advantage advantage--empresas">
      <div class="container">
        <div class="advantage__card">
          <div class="advantage__left"></div>
          <div class="advantage__right">
            <h3 class="heading-section-small u-margin-bottom-s">Vantagens</h3>
            <div class="advantage__block">
              <img src="/img/rappi-shield.png" alt="" class="advantage__img" />
              <div class="advantage__block-content">
                <div class="advantage__title">Economia de tempo e dinheiro</div>
                <div class="advantage__text">
                  Os professores de línguas da Colmeia vão até a empresa dar aula para a sua turma,
                  o que torna as aulas mais baratas e te faz economizar tempo.
                </div>
              </div>
            </div>
            <div class="advantage__block">
              <img src="/img/rappi-star.png" alt="" class="advantage__img" />
              <div class="advantage__block-content">
                <div class="advantage__title">Material e aula dentro do interesse</div>
                <div class="advantage__text">
                  A Colmeia prepara os materiais de acordo com a sua necessidade de aprendizado, sem
                  custo adicional.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('partials/new/section-cta-black') %> <%- include('partials/new/section-clients') %>

    <section class="form form--campaign form--campaign-empresas u-padding-vertical-m js-cta-target">
      <div class="container container--s">
        <div class="form__card">
          <div class="form__left">
            <div class="form__title">Converse com</div>
            <div class="form__subtitle">Nossa equipe</div>
          </div>
          <form class="form__right" id="form-contact">
            <label for="name" class="form__label">Nome</label>
            <input
              type="text"
              class="form__input form__input--name"
              name="name"
              placeholder="Nome"
              id="name"
            />

            <label for="email" class="form__label">Email</label>
            <input
              type="email"
              class="form__input form__input--email"
              name="email"
              placeholder="Email"
              id="email"
            />

            <label for="phone" class="form__label">Celular</label>
            <input
              type="text"
              class="form__input form__input--phone"
              name="phone"
              placeholder="Celular"
              id="phone"
            />

            <div class="form__button-container">
              <button class="button button--s">Solicitar</button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <%- include('partials/new/footer-simple')%>
  </body>

  <!-- build:js public/js/empresas-rappi.min.js defer-->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/lib/jquery.easing.min.js"></script>
  <script src="/js/lib/jquery.mask.min.js"></script>

  <script src="/js/lib/loadingoverlay.min.js"></script>

  <script src="/js/loading-indicator.js"></script>

  <script src="/js/lib/flickity.pkgd.min.js"></script>

  <script src="/js/constantes.js"></script>

  <script src="/js/new-navbar.js"></script>

  <script src="/js/new-empresas.js"></script>

  <!-- endbuild -->

  <% include ./partials/ferramentas %> <% include ./partials/fbpixel %>
</html>
