<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Perguntas Frequentes | Colmeia</title>

    <!--tags-->
    <meta
      name="description"
      content="Dúvidas sobre as nossas aulas particulares? Acesse aqui e saiba tudo sobre nosso sistema de agendamento, aulas e pagamento!"
    />
    <meta
      name="keywords"
      content="perguntas, respostas, ajuda, frequente, duvida, colmeia, reforco, reforco escolar, aula particular"
    />
    <meta name="robots" content="index" />
    <meta
      property="og:image"
      content="https://www.aulascolmeia.com.br/img/page_description_img.png"
    />

    <!--icon-->
    <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32" />

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet" />

    <!-- build:css public/css/faq.min.css -->
    <!--libs-->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!--styles-->
    <link href="/css/faq.css" rel="stylesheet" type="text/css" />
    <!-- white-navbar-styles -->
    <link href="/css/white-navbar.css" rel="stylesheet" />
    <link href="/css/dropdown-menu.css" rel="stylesheet" />
    <!-- endbuild -->

    <% include ./partials/user %> <% include ./partials/woopra %> <% include
    ./partials/analytics_header %> <% include ./partials/onesignal %>
  </head>

  <body id="page-top">
    <% include ./partials/white-navbar %>
    <div id="particles-js"></div>
    <section id="intro">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
            <img
              src="/img/faq-logo.png"
              class="faq-logo"
              alt="Aulas Colmeia perguntas e respostas como funciona dúvidas"
            />
            <h1>Perguntas Frequentes</h1>
            <p>
              Veja algumas das dúvidas mais frequentes de nossos <br />
              clientes. A sua pode ser uma delas.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="faq">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="row">
              <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
                <div class="row">
                  <div class="col-lg-5 col-md-5">
                    <div class="faq-block">
                      <h2>Quais são os horários de funcionamento?</h2>
                      <p>
                        É possível encontrar os professores parceiros da Colmeia para dar aula de segunda a sexta de 9:00 até 20:00.
                      </p>
                    </div>
                    <div class="faq-block">
                      <h2>E se acontecer algum problema, posso cancelar a aula?</h2>
                      <p>
                        É possível cancelar a aula através do aplicativo ou do site com até 3 horas
                        de antecedência sem NENHUM custo. Após esse período, é cobrado o valor
                        referente a metade de 1 hora de aula do serviço contratado . Caso a aula
                        seja cancelada com antecedência inferior a 30 minutos será cobrado o valor
                        referente a 1 hora de aula do serviço contratado.
                      </p>
                    </div>
                    <div class="faq-block">
                      <h2>Quais são os meios de pagamento?</h2>
                      <p>
                        Atualmente nosso sistema de pagamento aceita apenas cartões de crédito. Para
                        pacotes de aula por boleto, contate-nos pelo telefone (61) 99805-2073 ou
                        pelo nosso email contato@aulascolmeia.com.br.
                      </p>
                    </div>
                  </div>

                  <div class="col-lg-5 col-md-5 col-lg-offset-2 col-md-offset-2">
                    <div class="faq-block">
                      <h2>Eu pago antes ou depois de a aula acontecer?</h2>
                      <p>
                        A cobrança só é feita após a finalização da aula no cartão de crédito
                        cadastrado na plataforma.
                      </p>
                    </div>
                    <div class="faq-block">
                      <h2>Com quanto tempo de antecedência posso marcar uma aula?</h2>
                      <p>
                        Você pode marcar suas aulas com até 4 horas de antecedência. Esse tempo é
                        necessário para o professor poder se planejar e se deslocar até o local.
                      </p>
                    </div>
                    <div class="faq-block">
                      <h2>Como os professores são selecionados?</h2>
                      <p>
                        Os professores da Colmeia passam por um rigoroso processo de seleção que
                        conta com análise de currículo e histórico escolar, checagem de nada consta
                        cível e criminal e entrevista com nossa equipe.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <% include ./partials/footer %>
  </body>

  <!-- build:js public/js/faq.min.js -->
  <!-- white-navbar-scripts -->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/mobilechecker.js"></script>
  <script src="/js/mobile-sidebar.js"></script>
  <script src="/js/navbar.js"></script>
  <!--libs-->
  <script src="/js/lib/bootstrap.min.js"></script>
  <script src="/js/lib/jquery.easing.min.js"></script>
  <!-- <script src="/js/lib/loadingoverlay.min.js" ></script>
  <script src="/js/loading-indicator.js" ></script> -->
  <script src="/js/lib/particles.min.js"></script>

  <!--scripts-->
  <script src="/js/faq.js"></script>
  <!-- endbuild-->

  <% include ./partials/ferramentas %> <% include ./partials/fbpixel %>
</html>
