<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/form.css">

    <link 
      href="https://fonts.googleapis.com/css?family=Google+Sans:400,500|Roboto:300,400,400i,500,700&amp;subset=latin,vietnamese,latin-ext,cyrillic,greek,cyrillic-ext,greek-ext" 
      rel="stylesheet" 
      type="text/css"
    >
    <link
      href="https://fonts.googleapis.com/css?family=Product+Sans&amp;subset=latin,vietnamese,latin-ext,cyrillic,greek,cyrillic-ext,greek-ext" 
      rel="stylesheet"
      type="text/css"
    >
  </head>

  <body>
    <main class="card-container">
      <div class="card">
        <div class="card-top-border"></div>
        <h1 class="card-title">Pesquisa de Opinião</h1>
        <div class="card-text">
          Olá!<br><br>
          Nós da Colmeia gostaríamos de saber a sua opinião, como cliente, sobre os nossos serviços. Assim, podemos melhorá-lo cada dia mais para você.
        </div>
        <div class="card-legend">* Obrigatório</div>
      </div>
      <div class="card">
        <div class="card-field">E-mail <span class="asterisk">*</span></div>
        <input autocomplete="off" required type="email" placeholder="Sua resposta" id="email">
      </div>
      <div class="card">
        <label for="faixa-etaria" class="card-field">Faixa Etária <span class="asterisk">*</span></label>
        <select id="faixa-etaria" class="form-control">
          <option hidden disabled selected value>Escolha</option>
          <option value="30-">30-</option>
          <option value="31 a 40">31 a 40</option>
          <option value="41 a 50">41 a 50</option>
          <option value="51 a 60">51 a 60</option>
          <option value="60+">60+</option>
        </select>
      </div>
      <div class="card">
        <label for="sexo" class="card-field">Sexo <span class="asterisk">*</span></label>
        <select id="sexo" class="form-control">
          <option hidden disabled selected value>Escolha</option>
          <option value="Masculino">Masculino</option>
          <option value="Feminino">Feminino</option>
        </select>
      </div>
      <div class="card">
        <label for="nao-poder-usar-colmeia-eh" class="card-field">Como você se sentiria se não pudesse mais usar a Colmeia <span class="asterisk">*</span></label>
        <select id="nao-poder-usar-colmeia-eh" class="form-control">
          <option hidden disabled selected value>Escolha</option>
          <option value="Muito Desapontado">Muito Desapontado</option>
          <option value="Pouco Desapontado">Pouco Desapontado</option>
          <option value="Nada Desapontado">Nada Desapontado</option>
        </select>
      </div>
      <div class="card">
        <label for="entendendo-resposta-a-nao-poder-usar-colmeia-eh" class="card-field">Por favor, nos ajude a entender o porque você escolheu essa opção. <span class="asterisk">*</span></label>
        <input autocomplete="off" required type="text" placeholder="Sua resposta" id="entendendo-resposta-a-nao-poder-usar-colmeia-eh">
      </div>
      <div class="card">
        <label for="caso-colmeia-nao-estivesse-disponivel" class="card-field">O que você usaria se a Colmeia não estivesse mais disponível? <span class="asterisk">*</span></label>
        <input autocomplete="off" required type="text" placeholder="Sua resposta" id="caso-colmeia-nao-estivesse-disponivel">
      </div>
      <div class="card">
        <label for ="beneficio-da-colmeia" class="card-field">Qual principal benefício você tem usando a Colmeia? <span class="asterisk">*</span></label>
        <input autocomplete="off" required type="text" placeholder="Sua resposta" id="beneficio-da-colmeia">
      </div>
      <div class="card">
        <label for="pessoa-beneficiada-pelos-servicos-da-colmeia" class="card-field">Qual tipo de pessoa você acha que seria mais beneficiada pelos serviços da Colmeia? <span class="asterisk">*</span></label>
        <input autocomplete="off" required type="text" placeholder="Sua resposta" id="pessoa-beneficiada-pelos-servicos-da-colmeia">
      </div>
      <div class="card">
        <label for="melhorias-a-colmeia" class="card-field">Como podemos melhorar a Colmeia para você? <span class="asterisk">*</span></label>
        <input autocomplete="off" required type="text" placeholder="Sua resposta" id="melhorias-a-colmeia">
      </div>

      <button class="submit-button">Enviar</button>
      <br><br>
    </main>

    <script src="/js/lib/jquery-3.1.1.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/lib/loadingoverlay.min.js" ></script>
    <script src="/js/loading-indicator.js" ></script>
    <script>
      $(document).ready(() => {
        if (!localStorage.getItem('colmeia-lead-id')) {
          localStorage.setItem('colmeia-lead-id', window.location.search.split('=').pop());
        }
      });

      const submitButton = document.querySelector('.submit-button');
      submitButton.addEventListener('click', () => {
        const email = $('#email').val();
        const faixaEtaria = $('#faixa-etaria option:selected').val();
        const sexo = $('#sexo option:selected').val();
        const naoPoderUsarColmeiaEh = $('#nao-poder-usar-colmeia-eh option:selected').val();
        const entendendoRespostaANaoPoderUsarColmeiaEh = $(
          '#entendendo-resposta-a-nao-poder-usar-colmeia-eh'
        ).val();
        const casoColmeiaNaoEstivesseDisponivel = $('#caso-colmeia-nao-estivesse-disponivel').val();
        const beneficioDaColmeia = $('#beneficio-da-colmeia').val();
        const pessoaBeneficiadaPelosServicosDaColmeia = $(
          '#pessoa-beneficiada-pelos-servicos-da-colmeia'
        ).val();
        const melhoriasAColmeia = $('#melhorias-a-colmeia').val();
        const id = localStorage.getItem('colmeia-lead-id');

        const payload = {
          email,
          faixaEtaria,
          sexo,
          naoPoderUsarColmeiaEh,
          entendendoRespostaANaoPoderUsarColmeiaEh,
          casoColmeiaNaoEstivesseDisponivel,
          beneficioDaColmeia,
          pessoaBeneficiadaPelosServicosDaColmeia,
          melhoriasAColmeia,
          id
        };

        const emailRegex = new RegExp(
          /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        );
        if (!emailRegex.test(email)) {
          return alert('O email que você inseriu não é válido.');
        }

        const isAnyPayloadPropEmpty = Object.values(payload).some(prop => (prop == null || prop == ''));

        if (isAnyPayloadPropEmpty) {
          return alert('Por favor, preencha todo o formulário!');
        }

        $.ajax({
          url: '/googlesheets',
          method: 'POST',
          data: payload
        })
          .done(data => {
            $('.card + .card').remove();
            $('.card-legend').remove();
            $('.submit-button').remove();
            $('.card-text').html('Sua resposta foi registrada.');
          })
          .fail(error => {
            alert('Erro ao enviar o formulário! Por favor, tente novamente!');
          });
      });
    </script>
  </body>
</html>