<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Histórico | Colmeia</title>

    <!--icon-->
    <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32">

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">

    <!-- build:css public/css/historico.min.css -->
    <!--libs-->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--styles-->
    <link href="/css/historico.css" rel="stylesheet" type="text/css">
    <!-- white-navbar-styles -->
    <link href="/css/orange-navbar.css" rel="stylesheet">
    <link href="/css/dropdown-menu.css" rel="stylesheet">
    <!-- endbuild -->

    <% include ./partials/user %>
    <% include ./partials/woopra %>
    <% include ./partials/analytics_header %>
    <% include ./partials/onesignal %>

	</head>

  <body id="page-top">

  <% include ./partials/orange-navbar %>

  <nav class="sub-nav">
    <div class="container" style="position: relative;">
            <a class="mode-toggle" href="javascript:void(0)">Histórico <img src="/img/arrow-down.png" alt="Arrow down"></a>
            <a class="agendar-plus" href="/"></a>
            <div class="mode-selector">
                <a href="/aluno/agenda">Agenda</a>
                <a href="/aluno/historico">Histórico</a>
            </div>
    </div>
  </nav>

  <section id="main">
    <div class="container">
        <div class="aulas-container">
            <div class="sem-aulas-container" display: hidden>
                <img src="/img/caixa-icon.png" alt="Caixa">
                <p>Você ainda não possui nenhuma aula em sua agenda. <br> Agende uma ainda hoje!</p>
                <a class="agendar-button" href="/">Agendar aula</a>
            </div>
        </div>
    </div>
  </section>

  <% include ./partials/footer %>

  </body>

  <!-- build:js public/js/historico.min.js -->
  <!-- white-navbar-scripts -->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/mobilechecker.js"></script>
  <script src="/js/mobile-sidebar.js"></script>
  <script src="/js/navbar-orange.js"></script>
  <!--libs-->
  <script src="/js/lib/bootstrap.min.js" ></script>
  <script src="/js/lib/jquery.easing.min.js" ></script>
  <script src="/js/lib/loadingoverlay.min.js" ></script>
  <script src="/js/loading-indicator.js" ></script>
  <script src="/js/lib/particles.min.js"></script>
  <script src="/js/lib/moment/moment.min.js"></script>
  <script src="/js/lib/moment/moment-timezone.js"></script>
  <script src="/js/lib/moment/locale/pt-br.js"></script>

  <!--scripts-->
  <script src="/js/historico.js"></script>
  <!-- endbuild-->

  <% include ./partials/ferramentas %>
  <% include ./partials/fbpixel %>
</html>
