<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Aulas Colmeia - Reforço Escolar</title>

    <!--tags-->
    <meta
      name="description"
      content="Aulas particulares de reforço escolar. Os melhores professores de Brasília e São Paulo no conforto de casa! Ensino personalizado, conheça o jeito Colmeia de acompanhamento escolar! Horários garantidos. Agende pelo aplicativo ou pelo site."
    />
    <meta
      name="keywords"
      content="colmeia, reforco, reforco escolar, acompanhamento, escola, aulas particulares, aula particular"
    />
    <meta name="robots" content="index" />
    <meta
      property="og:image"
      content="https://www.aulascolmeia.com.br/img/page_description_img.png"
    />

    <!--icon-->
    <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32" />

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />

    <!-- build:css public/css/index.min.css -->
    <link href="/css/lib/flickity.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <!-- endbuild -->

    <% include ./partials/user %> <% include ./partials/woopra %> <% include
    ./partials/analytics_header %> <% include ./partials/onesignal %>
  </head>

  <body class="landing principal-page">
    <%- include('partials/new/navbar') %> <%- include('partials/flash') %> <%-
    include('partials/new/whatsapp') %>
    <header class="header">
      <div class="background-video">
        <video class="background-video__content" autoplay muted loop>
          <source src="/video/video-bg.mp4" type="video/mp4" />
          Seu browser não suporta o video.
        </video>
      </div>
      <div class="header__content container u-padding-horizontal-s">
        <h1 class="heading-landing u-margin-bottom-l">
          Encontramos o melhor <br />
          professor para
          <div class="heading-landing__highlight"></div>
        </h1>

        <form class="search-bar" id="search-form">
          <div class="search-bar__container">
            <input type="text" class="search-bar__input" placeholder="Procurar por matéria" />
          </div>
          <button class="button button--search">Buscar</button>
        </form>

        <div class="header__help-text u-margin-top-xs">
          Quer ajuda para escolher o seu professor particular?
          <div class="text-button js-cta">Clique aqui</div>
        </div>
      </div>
    </header>

    <div class="background-ffebd7"></div>
    <a class="banner-aulao-online" href="https://aulascolmeia.com.br/cadastro-comunidade-estudos?utm_campaign=home_site-lp-inbound_cadastro_comunidade&utm_medium=org&utm_source=home_site&utm_content=comunidade&utm_term=home_banner" target="_blank"></a>

    <%- include('partials/new/section-steps', {noBr: false}) %>

    <section class="advantage">
      <div class="container">
        <div class="advantage__card">
          <div class="advantage__left"></div>
          <div class="advantage__right">
            <h3 class="heading-section-small u-margin-bottom-s">Vantagens</h3>
            <div class="advantage__block">
              <img src="/img/escudoLP.svg" alt="" class="advantage__img" />
              <div class="advantage__block-content">
                <div class="advantage__title">Segurança como prioridade</div>
                <div class="advantage__text">
                  Prezamos pela segurança em todas as etapas de nosso serviço, desde a escolha de
                  professores até o pagamento.
                </div>
              </div>
            </div>
            <div class="advantage__block">
              <img src="/img/estrelaLP.svg" alt="" class="advantage__img" />
              <div class="advantage__block-content">
                <div class="advantage__title">Professores selecionados e valorizados</div>
                <div class="advantage__text">
                  Nossos professores não gastam tempo pensando em logística ou pagamento. A atenção
                  deles é 100% focada em ajudar o seu filho.
                </div>
              </div>
            </div>

            <div class="advantage__bottom">
              <div class="advantage__rating">
                <div class="advantage__rating-value">
                  <div class="advantage__rating-large">4,9</div>
                  <div class="advantage__rating-small">/5</div>
                </div>
                <div class="advantage__rating-text">Avaliação média dos nossos professores</div>
              </div>
              <div class="advantage__hours">
                <div class="advantage__hours-large">+15 mil</div>
                <div class="advantage__hours-small">horas de aula</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-cta section-cta--black u-padding-vertical-s">
      <div class="container container--xs">
        <h3 class="section-cta__title u-margin-bottom-xs">Sabe qual produto é melhor para você?</h3>
        <p class="section-cta__subtitle u-margin-bottom-m ">
          Converse com a nossa equipe pedagógica e descubra a melhor forma de alcançar os seus
          objetivos com nossas aulas particulares.
        </p>
        <div class="button button--s js-cta">Solicitar atendimento</div>
      </div>
    </section>

    <%- include('partials/new/section-clients') %>

    <section class="manage u-padding-vertical-l">
      <div class="container">
        <div class="grid grid--pad-0 grid--center">
          <div class="col-3">
            <h2 class="heading-section heading-section--underline u-margin-bottom-m">
              Gerencie <br />
              pelo app
            </h2>

            <p class="p">
              Tenha autonomia total, controle tudo na ponta dos dedos.
            </p>
          </div>

          <div class="col-6">
            <img
              src="/img/phone-circles.png"
              alt="Aulas Colmeia gerencie pelo aplicativo de celular"
              class="manage__img"
            />
          </div>

          <div class="col-3">
            <div class="heading-small text-orange u-margin-bottom-xs">Administre sua agenda</div>
            <p class="p p--s u-margin-bottom-l">
              Agende, cancele e adie as aulas diretamente pelo celular.
            </p>
            <div class="heading-small text-orange u-margin-bottom-xs">
              Converse com seu professor
            </div>
            <p class="p p--s">
              Tenha um canal direto para conhecer os tutores, alinhar conteúdo e saber como está o
              aproveitamento do seu filho nas aulas.
            </p>
          </div>
        </div>
      </div>
    </section>

    <%- include('partials/new/section-media') %>

    <section class="form u-padding-vertical-m js-cta-target">
      <div class="container container--s">
        <div class="form__card">
          <div class="form__left">
            <div class="form__title">Converse com</div>
            <div class="form__subtitle">Nossa equipe</div>
          </div>
          <form class="form__right" id="form-contact">
            <label for="name" class="form__label">Nome</label>
            <input
              type="text"
              class="form__input form__input--name"
              name="name"
              placeholder="Nome"
              id="name"
            />

            <label for="phone" class="form__label">Celular</label>
            <input
              type="text"
              class="form__input form__input--phone"
              name="phone"
              placeholder="Celular"
              id="phone"
            />

            <label for="email" class="form__label">Email</label>
            <input
              type="email"
              class="form__input form__input--email"
              name="email"
              placeholder="Email"
              id="email"
            />

            <div class="form__button-container">
              <button class="button button--s">Solicitar</button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <%- include('partials/new/section-bottom-search') %> <%- include('partials/new/footer') %>
  </body>

  <!-- build:js public/js/index.min.js defer-->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/lib/jquery.mask.min.js"></script>
  <script src="/js/lib/loadingoverlay.min.js"></script>
  <script src="/js/lib/flickity.pkgd.min.js"></script>
  <script src="/js/lib/typeit.min.js"></script>
  <script src="/js/lib/jquery.easy-autocomplete.min.js"></script>
  <script src="/js/loading-indicator.js"></script>
  <script src="/js/constantes.js"></script>
  <script src="/js/lib/jquery.mask.min.js" type="text/javascript"></script>
  <script src="/js/util.js"></script>
  <script src="/js/new-navbar.js"></script>
  <script src="/js/index.js"></script>
  <!-- endbuild -->

  <% include ./partials/ferramentas %> <% include ./partials/fbpixel %>

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "https://aulascolmeia.com.br",
      "name": "Aulas Colmeia",
      "logo": "https://aulascolmeia.com.br/img/logo-orange.png",
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+5561998052073",
        "contactType": "customer service",
        "areaServed": "BR"
      }
    }
  </script>
</html>
