<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Aulas Colmeia | <%= data.title %></title>

    <!--tags-->
    <meta
      name="description"
      content="Aulas particulares de reforço escolar. Os melhores professores de Brasília e São Paulo no conforto de casa! Ensino personalizado, conheça o jeito Colmeia de acompanhamento escolar! Horários garantidos. Agende pelo aplicativo ou pelo site."
    />
    <meta
      name="keywords"
      content="colmeia, reforco, reforco escolar, acompanhamento, escola, aulas particulares, aula particular"
    />
    <meta name="robots" content="index" />
    <meta
      property="og:image"
      content="https://www.aulascolmeia.com.br/img/page_description_img.png"
    />

    <!--icon-->
    <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32" />

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />

    <!-- build:css public/css/job-details.min.css -->
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <!-- endbuild -->

    <% include ./partials/user %> <% include ./partials/analytics_header %>
  </head>

  <body class="job">
    <%- include('partials/new/navbar-orange.ejs') %>

    <header class="job__header">
      <div class="container">
        <h1 class="job__title u-margin-bottom-xs">
          <%= data.title %>
        </h1>

        <div class="job__info u-margin-bottom-s">
          <h5>
            <%= data.team %>, em <%= data.location %>
          </h5>
        </div>
      </div>
    </header>
    <main class="container u-padding-vertical-m">
      <div class="grid grid--pad-xs grid--center pas-grid">
        <div class="col-2">
          <p class="job__details" style="white-space: pre-wrap">
            <%= data.intro %>
          </p>

          <h2 class="job__subtitle">
            Descrição da vaga
          </h2>

          <ul class="job__list">
            <% data.description.forEach(e => { %>
            <li class="job__item"><%= e %></li>
            <% }) %>
          </ul>

          <h2 class="job__subtitle">
            Vagas disponíveis
          </h2>

          <ul class="job__list">
            <% data.openings.forEach(e => { %>
            <li class="job__item"><%= e %></li>
            <% }) %>
          </ul>

          <h2 class="job__subtitle">
            Requisitos obrigatórios:
          </h2>

          <ul class="job__list">
            <% data.requirements.forEach(e => { %>
            <li class="job__item"><%= e %></li>
            <% }) %>
          </ul>

          <h2 class="job__subtitle">
            Requisitos desejáveis:
          </h2>

          <ul class="job__list">
            <% data.bonusRequirements.forEach(e => { %>
            <li class="job__item"><%= e %></li>
            <% }) %>
          </ul>

          <h2 class="job__subtitle">
            Benefícios:
          </h2>

          <ul class="job__list">
            <% data.benefits.forEach(e => { %>
            <li class="job__item"><%= e %></li>
            <% }) %>
          </ul>

          <h2 class="job__subtitle">
            Desafios:
          </h2>

          <p class="job__details" style="white-space: pre-wrap">
            <%= data.challenges %>
          </p>
        </div>

        <div class="col job__col">
          <a target="_blank" href="<%= data.url %>" class="job__button">
            Aplicar agora!
          </a>
        </div>
      </div>
    </main>
    <%- include('partials/new/footer') %>
  </body>

  <!-- build:js public/js/job-details.min.js defer-->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/new-navbar.js"></script>
  <script src="/js/job-details.js"></script>
  <!-- endbuild -->

  <% include ./partials/ferramentas %> <% include ./partials/fbpixel %>
</html>
