<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Aulas Colmeia | Vagas Disponíveis</title>

    <!--tags-->
    <meta
      name="description"
      content="Aulas particulares de reforço escolar. Os melhores professores de Brasília e São Paulo no conforto de casa! Ensino personalizado, conheça o jeito Colmeia de acompanhamento escolar! Horários garantidos. Agende pelo aplicativo ou pelo site."
    />
    <meta
      name="keywords"
      content="colmeia, reforco, reforco escolar, acompanhamento, escola, aulas particulares, aula particular"
    />
    <meta name="robots" content="index" />
    <meta
      property="og:image"
      content="https://www.aulascolmeia.com.br/img/page_description_img.png"
    />

    <!--icon-->
    <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32" />

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />

    <!-- build:css public/css/jobs.min.css -->
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <!-- endbuild -->

    <% include ./partials/user %> <% include ./partials/analytics_header %>
  </head>

  <body class="job">
    <%- include('partials/new/navbar.ejs') %>

    <header class="job__main-header">
      <img
        class="job__header-img"
        src="/img/colmeia-logo-branco.png"
        alt="Logo Aulas Colmeia Imagem"
      />

      <h1 class="job__header-title">
        Trabalhe na Colmeia
      </h1>

      <p class="job__header-subtitle">
        <%= data.length %> vagas abertas
      </p>

      <button
        class="job__header-button"
        onclick="$('html, body').animate(
        {
          scrollTop: $('section#vagas').offset().top
        },
        800
      );"
      >
        Ver vagas
      </button>
    </header>
    <div class="job__divider"></div>

    <main>
      <section>
        <div class="container u-padding-vertical-l">
          <div class="grid grid--pad-m">
            <div class="col-2">
              <h2 class="job__subtitle u-margin-bottom-m">
                Já conhece a colmeia?
              </h2>
              <p class="job__details">
                A Colmeia é uma startup focada em melhorar a educação através do ensino
                personalizado e formalizar o mercado de aulas particulares no Brasil. Hoje a Colmeia
                está presente em Brasília e São Paulo em um ritmo de crescimento muito acelerado.
                Nossa equipe é composta por pessoas jovens, bem humoradas, amantes de paçoca e
                loucas para mudarem o mundo de alguma forma!
                <br />
                <br />

                Se tornar uma abelha é uma responsabilidade muito grande e envolve vários desafios e
                recompensas. Aqui você vai estar em constante aprendizagem, em um ambiente onde o
                conhecimento é 100% aberto e o contato com outras startups é diário.
                <br />
                <br />

                Vem mudar a educação com a gente!
              </p>
            </div>
            <div class="col-1">
              <img
                class="job__phone"
                src="/img/phone-circles.png"
                alt="Colmeia aplicativo android e ios"
              />
            </div>
          </div>
        </div>
      </section>

      <div class="job__divider"></div>

      <section id="vagas">
        <div class="container u-padding-vertical-m u-padding-top-s">
          <h2 class="job__subtitle u-margin-bottom-l">
            Vagas disponíveis:
          </h2>
          <div class="job__table-wrapper">
            <table class="job__table">
              <thead>
                <tr>
                  <th style="width: 63%">Vaga</th>
                  <th>Time</th>
                  <th>Localização</th>
                </tr>
              </thead>

              <tbody>
                <% data.forEach(e => { %>
                <tr onclick="window.location='/vagas/<%= e.slug %>';">
                  <td>
                    <a target="_blank" href="/vagas/<%= e.slug %>">
                      <%= e.title %>
                    </a>
                  </td>
                  <td>
                    <%= e.team %>
                  </td>
                  <td>
                    <%= e.location %>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </main>

    <%- include('partials/new/footer') %>
  </body>

  <!-- build:js public/js/job.min.js defer-->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/new-navbar.js"></script>
  <!-- endbuild -->

  <% include ./partials/ferramentas %> <% include ./partials/fbpixel %>
</html>
