<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Aulas particulares <%= pageData.name %> | Colmeia</title>

    <!-- tags -->
    <meta
      name="description"
      content="Reforço escolar com os melhores professores de Brasília e São Paulo. Agende pelo aplicativo ou pelo site e tenha aulas com segurança no conforto da sua casa."
    />
    <meta
      name="keywords"
      content="colmeia, reforco, reforco escolar, acompanhamento, escola, aulas particulares, aula particular"
    />
    <meta name="robots" content="index" />
    <meta
      property="og:image"
      content="https://www.aulascolmeia.com.br/img/page_description_img.png"
    />

    <!-- icon -->
    <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32" />

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" />

    <!-- build:css public/css/landing-campanha.min.css -->
    <!-- libs -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/new/modules/colmeia-button.css" rel="stylesheet" />
    <!-- styles -->
    <link href="/css/landing-campanhas.css" rel="stylesheet" type="text/css" />
    <!-- endbuild -->

    <% include ./partials/user %> <% include ./partials/woopra %> <% include
    ./partials/analytics_header %> <% include ./partials/onesignal %> <%- pageData.scriptHead %>

    <!-- Global site tag (gtag.js) - Google Ads: 863977747 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-863977747"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'AW-863977747');
    </script>

    <!--
            Event snippet for Cadastro-Leads-LPs conversion page
            In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button.
        -->
    <script>
      function gtag_report_conversion(url) {
        var callback = function() {
          if (typeof url != 'undefined') {
            window.location = url;
          }
        };
        gtag('event', 'conversion', {
          send_to: 'AW-863977747/95lcCL-X74wBEJOC_ZsD',
          event_callback: callback
        });
        return false;
      }
    </script>

    <script>
      var pageId = <%- JSON.stringify(pageId) %>;
      var pageIdTitle = <%- JSON.stringify(pageData.name) %>;
    </script>
  </head>

  <body id="page-top">
    <%- pageData.scriptBody %>

    <nav class="nav">
      <div class="container">
        <div class="nav__container">
          <div class="nav__left">
            <a href="/" class="nav__link">
              <img
                class="nav__logo"
                src="/img/header-logo.png"
                alt="Aulas Colmeia reforço escolar em casa logo"
              />
            </a>
          </div>
          <div class="nav__right"><div class="nav__phone"><%= pageData.phone %></div></div>
        </div>
      </div>
    </nav>

    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <h1 class="header__title">
              Aulas particulares<br />
              <%= pageData.name %>
            </h1>
            <h2 class="header__subtitle">
              A Colmeia oferece os melhores professores particulares
              <strong><%= pageData.name %></strong> com pacotes de aulas particulares especiais.
            </h2>

            <div class="form__call">Insira seus dados e entraremos em contato</div>

            <div class="row">
              <div class="col-lg-9 col-md-9">
                <form>
                  <input type="text" class="form__input form__input--nome" placeholder="Nome" />
                  <input type="email" class="form__input form__input--email" placeholder="Email" />
                  <input
                    type="text"
                    class="form__input form__input--telefone"
                    placeholder="Telefone"
                  />
                  <input type="text" class="form__input form__input--pacote" />
                  <input type="submit" value="Solicitar atendimento" class="form__button" />
                  <p class="form__caption">Pacotes com até <strong>15% de desconto</strong></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="servico">
      <div class="container">
        <h2 class="servico__title">Nosso serviço</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="servico__block">
              <img
                src="/img/servico-escolha.png"
                alt="Aulas Colmeia reforço escolar de matemática serviço escolha"
                class="servico__block-img"
              />
              <h3 class="servico__block-title">Escolha</h3>
              <p class="servico__block-subtitle">
                Defina o horário, local, a matéria e o professor.
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="servico__block">
              <img
                src="/img/servico-aula.png"
                alt="Aulas Colmeia reforço escolar de matemática serviço escolha"
                class="servico__block-img"
              />
              <h3 class="servico__block-title">Receba a aula</h3>
              <p class="servico__block-subtitle">
                Tenha aula em casa com os melhores professores particulares.
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="servico__block">
              <img
                src="/img/servico-pague.png"
                alt="Aulas Colmeia reforço escolar de matemática serviço escolha"
                class="servico__block-img"
              />
              <h3 class="servico__block-title">Pague</h3>
              <p class="servico__block-subtitle">
                Escolha entre pagar com boleto ou cartão de crédito.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12">
            <a href="https://aulascolmeia.app.link/1klwKdmSCR" class="servico__link"
              >Conheça nosso aplicativo</a
            >
          </div>
        </div>
      </div>
    </section>

    <section class="pacote">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <!--
                            <h2 class="pacote__title">


                                Pacotes



                            </h2>
                        -->
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="pacote-block">
              <h4 class="pacote-block__title">Plano Mensal</h4>
              <h5 class="pacote-block__discount">5%</h5>
              <h5 class="pacote-block__subtitle">de desconto</h5>
              <p class="pacote-block__item">12 horas de aula</p>
              <p class="pacote-block__item">Horários garantidos</p>
              <p class="pacote-block__item">Análise de evolução</p>
              <a href="javascript:void(0)" class="pacote-block__button" data-pacote="Mensal"
                >Solicitar pacote</a
              >
            </div>
          </div>
          <div class="col-lg-4">
            <div class="pacote-block pacote-block--large">
              <h4 class="pacote-block__title">Plano Trimestral</h4>
              <h5 class="pacote-block__discount pacote-block--orange">10%</h5>
              <h5 class="pacote-block__subtitle pacote-block--orange">de desconto</h5>
              <p class="pacote-block__item">24 horas de aula</p>
              <p class="pacote-block__item">Horários garantidos</p>
              <p class="pacote-block__item">Análise de evolução</p>
              <a href="javascript:void(0)" class="pacote-block__button" data-pacote="Trimestral"
                >Solicitar pacote</a
              >
            </div>
          </div>
          <div class="col-lg-4">
            <div class="pacote-block">
              <h4 class="pacote-block__title">Plano Semestral</h4>
              <h5 class="pacote-block__discount">15%</h5>
              <h5 class="pacote-block__subtitle">de desconto</h5>
              <p class="pacote-block__item">40 horas de aula</p>
              <p class="pacote-block__item">Horários garantidos</p>
              <p class="pacote-block__item">Análise de evolução</p>
              <a href="javascript:void(0)" class="pacote-block__button" data-pacote="Semestral"
                >Solicitar pacote</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="porque">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <h3 class="porque__title">
              Por quê agendar aulas <br />
              com a Colmeia?
            </h3>
            <p class="porque__text">
              A Colmeia acredita na importância do ensino personalizado e de qualidade para a
              formação de estudantes incríveis. Por isso, cada aluno recebe um plano de aulas
              diferente que depende da sua necessidade. <br /><br />
              Também tentamos facilitar ao máximo o processo de agendamento e pagamento das aulas,
              temos uma lista com professores particulares. <br /><br />
              Quer saber como está a nota de corte e a concorrencia de todos os cursos? <br />
              <br />
              <a class="porque__link" href="javascript:void(0)"
                >Quer saber como agendar sua aula? Clique aqui!</a
              >
            </p>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="porque__img-container">
              <img src="/img/campanha-porque.png" alt=" " class="porque__img" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="phone">
      <img src="/img/phone-main.png" alt="" class="phone__img" />
      <div class="container">
        <div class="col-lg-5 col-md-5 col-lg-offset-4 col-md-offset-4">
          <div class="phone__content">
            <div class="phone__block">
              <img
                src="/img/phone-star.png"
                alt="Aulas Colmeia reforço escolar melhores professores"
                class="phone__block-left"
              />
              <div class="phone__block-right">
                <div class="phone__block-title">Os melhores profesores</div>
                <div class="phone__block-text">
                  Nossos professores passam por um processo seletivo criterioso, com análise de
                  dados e entrevista.
                </div>
              </div>
            </div>

            <div class="phone__block">
              <img
                src="/img/phone-seguranca.png"
                alt="Aulas Colmeia reforço escolar com segurança em casa"
                class="phone__block-left"
              />
              <div class="phone__block-right">
                <div class="phone__block-title">Segurança</div>
                <div class="phone__block-text">
                  Nós usamos sistemas de segurança avançados em todo o processo de pagamento e
                  armazenamento de dados.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="preco">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <h2 class="preco__title">Preço</h2>
            <div class="preco__card">
              <img
                src="/img/preco-icon.png"
                alt="Aulas Colmeia reforço escolar preço"
                class="preco__card-left"
              />
              <div class="preco__card-right">
                <div class="preco__card-title">Aulas de reforço</div>
                <div class="preco__card-text">
                  Todas as matérias do Ensinos fundamental e do Ensino médio.
                </div>
                <div class="preco__card-price">
                  <div class="preco__card-price-value">R$59,90</div>
                  <div class="preco__card-price-sub">por hora</div>
                </div>
              </div>
            </div>
            <div class="preco__button-container">
              <a href="javascript:void(0)" class="preco__button">Agendar aula</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="comentario">
      <div class="container">
        <div class="comentario__title">Comentários</div>
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="comentario__block comentario__block--filled">
              <div class="comentario__text">
                Gostaria de agradecer a atenção em me ajudar a encontrar um professor em cima da
                hora. Demonstra que vocês são profissionais sérios e dispostos a ajudar. Outros
                falariam que não tinha e pronto. [...] No final da aula, a professora me passou um
                resumo de toda a aula com meu filho. Muito profissional! Adorei!!!!!
              </div>
              <div class="comentario__name">Thaisa Coutinho</div>
              <div class="comentario__sub">Mãe</div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="comentario__block">
              <div class="comentario__text">
                Antes era difícil conseguir professor particular com horário em matéria como :
                português, geografia, física. Com o aplicativo, por ter mais opções, posso conseguir
                agendar as aulas sempre e na urgência que necessito. Tenho como informar o conteúdo
                que minha filha tem maior dificuldade direto pelo aplicativo sem precisar falar com
                ninguém.
              </div>
              <div class="comentario__name">Eliane Fleury</div>
              <div class="comentario__sub">Mãe</div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="comentario__block">
              <div class="comentario__text">
                Procurei por indicação do Galois de Brasília, minha escola. Sempre fui acostumada a
                ter aulas particulares com certa frequência, e o Colmeia é um jeito muito mais
                prático para o pedido, principalmente! O app dá a avaliação dos professores, que são
                ótimos, e outras informações como o currículo e isso passa uma segurança enorme!
              </div>
              <div class="comentario__name">Maria Pedretti</div>
              <div class="comentario__sub">Aluna</div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="code">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-lg-offset-5 col-md-offset-5">
            <h3 class="code__title">Conheça nosso app</h3>
            <p class="code__subtitle">
              Baixe nosso aplicativo agora e obtenha <strong>15%</strong> <br />
              de desconto na sua primeira aula com o código abaixo:
            </p>
            <div class="code__content">colmeiando</div>
          </div>
        </div>
      </div>
    </section>

    <div id="modal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="aula-modal-title">Contato solicitado</div>
            <div class="aula-modal-content">
              Recebemos os seus dados, em breve nossa <br />
              equipe entrará em contato!
            </div>
            <div class="modal-button-container">
              <div class="aula-marcada-button continuar-button">Continuar</div>
              <div class="aula-marcada-button whatsapp-button">Abrir WhatsApp agora</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <!-- build:js public/js/landing-campanha-obrigado.min.js -->
  <!-- white-navbar-scripts -->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/lib/jquery.mask.min.js" type="text/javascript"></script>
  <!-- libs -->
  <script src="/js/lib/bootstrap.min.js"></script>
  <script src="/js/lib/jquery.easing.min.js"></script>
  <script src="/js/landing-campanha-obrigado.js"></script>
  <!-- endbuild -->

  <% include ./partials/ferramentas %> <% include ./partials/fbpixel %>
</html>
