<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= capitalize(title) %> <%= pageData.name %> | Aulas Colmeia</title>

  <!--tags-->
  <meta name="description"
    content="Aulas particulares de reforço escolar. Os melhores professores de Brasília e São Paulo no conforto de casa! Ensino personalizado, conheça o jeito Colmeia de acompanhamento escolar! Horários garantidos. Agende pelo aplicativo ou pelo site." />
  <meta name="keywords"
    content="colmeia, reforco, reforco escolar, acompanhamento, escola, aulas particulares, aula particular" />
  <meta name="robots" content="index" />
  <meta property="og:image" content="https://www.aulascolmeia.com.br/img/page_description_img.png" />

  <!--icon-->
  <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32" />

  <!--fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />

  <!-- build:css public/css/main.min.css -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/lib/flickity.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  <!-- endbuild -->

  <% include ./partials/user %> <% include ./partials/woopra %> <% include
    ./partials/analytics_header %> <% include ./partials/onesignal %> <%- pageData.scriptHead %>

  <!-- Global site tag (gtag.js) - Google Ads: 863977747 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-863977747"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'AW-863977747');
  </script>

  <!--
                Event snippet for Cadastro-Leads-LPs conversion page
                In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button.
            -->
  <script>
    function gtag_report_conversion(url) {
      var callback = function () {
        if (typeof url != 'undefined') {
          window.location = url;
        }
      };
      gtag('event', 'conversion', {
        send_to: 'AW-863977747/95lcCL-X74wBEJOC_ZsD',
        event_callback: callback
      });
      return false;
    }
  </script>

  <script>
    var pageId = <%- JSON.stringify(pageId) %>;
    var pageIdTitle = <%- JSON.stringify(pageData.name) %>;
    var abTest = <%- JSON.stringify(abTest) %>;
    console.log(pageId);

  </script>
</head>

<body class="landing-campanha">
  <%- pageData.scriptBody %>

  <div class="landing-campanha__wrapper">
    <div class="overlay">
      <div class="overlay__content">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-8">
              <img class="overlay__image" src="/img/logo-orange.png" alt="Aulas Colmeia reforço escolar logo" />
              <h2 class="overlay__title">Bem-vindo à Colmeia! O que você procura?</h2>

              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <button class="overlay__button overlay__button--orange">Sou pai/aluno</button>
                </div>
                <div class="col-lg-6 col-md-6">
                  <button class="overlay__button overlay__button--black">Sou professor(a)</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/new/whatsapp') %>

    <nav class="navbar-static">
      <div class="container">
        <div class="navbar-static__content">
          <div class="navbar-static__left">
            <a class="navbar-static__logo-link" href="/">
              <img src="/img/colmeia_logo.png" alt="Aulas Colmeia Logo" class="navbar-static__logo-img" /></a>
          </div>
          <div class="navbar-static__right">
            <a class="call-text">Clique o número para ligar:</a>
            <a href="tel:<%= pageData.phone %>" style="color:#ff8008;"><%= pageData.phone %></a>
          </div>
        </div>
      </div>
    </nav>

    <header class="header-campaign header-campaign-estudos">
      <div class="container">
        <div class="grid">
          <div class="col-3">
            <div class="header-campaign__content">

            </div>
          </div>

          <div class="col-2">
            <div class="form-campaign">
              <h3 class="form-campaign__title">
                Preencha os dados e peça sua
                <div class="form-campaign__title--highlight">1ª aula</div>
              </h3>
              <form class="form-campaign__form" id="form-top">
                <label for="" class="form-campaign__label">Nome</label>
                <input type="text" class="form-campaign__input form-campaign__input--name" placeholder="Nome" />

                <label for="" class="form-campaign__label">Email</label>
                <input type="email" class="form-campaign__input form-campaign__input--email" placeholder="Email" />

                <label for="" class="form-campaign__label">Celular</label>
                <input type="text" class="form-campaign__input form-campaign__input--phone" placeholder="Celular" />

                <label class="form-campaign__label">Escolha a modalidade de aula</label>
                <select class="form-control form-campaign__select">
                  <option hidden disabled selected value></option>
                  <option value="Online">Online</option>
                  <option value="Presencial">Presencial</option>
                </select>

                <label for="" class="form-campaign__label">Como conheceu a Colmeia?</label>
                <input type="text" class="form-campaign__input form-campaign__input--como-conheceu"
                  placeholder="Como conheceu a Colmeia?" />

                <button class="button">
                  <% if(pageId && pageId === 'sao-paulo') { %> Solicitar primeira aula <% } else {
                    %> Quero o meu desconto! <% } %>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="steps">
      <div class="steps__content u-padding-vertical-l">
        <div class="container u-padding-vertical-m">
          <div class="grid grid--pad-xs">
            <div class="col">
              <h2 class="heading-section">
                Como <br />
                funciona
              </h2>
            </div>

            <div class="col">
              <div class="steps__block">
                <div class="steps__number">01</div>
                <h3 class="heading-small u-padding-top-m u-margin-bottom-xs">
                  Seu melhor professor
                </h3>
                <p class="p">
                  Encontramos o melhor professor particular de acordo com o perfil do seu filho e
                  sua necessidade.
                </p>
              </div>
            </div>

            <div class="col">
              <div class="steps__block">
                <div class="steps__number">02</div>
                <h3 class="heading-small u-padding-top-m u-margin-bottom-xs">
                  Aula onde você quiser
                </h3>
                <p class="p">
                  Você escolhe a hora e o local da aula. Pode ser em qualquer lugar, sem nenhum
                  custo adicional.
                </p>
              </div>
            </div>

            <div class="col">
              <div class="steps__block">
                <div class="steps__number">03</div>
                <h3 class="heading-small u-padding-top-m u-margin-bottom-xs">
                  Pagamento do seu jeito
                </h3>
                <p class="p">
                  Escolha a melhor forma de pagar: no boleto ou no cartão de crédito.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="advantage advantage--campaign">
      <div class="container">
        <div class="advantage__card">
          <div class="advantage__left"></div>
          <div class="advantage__right">
            <h3 class="heading-section-small u-margin-bottom-s">Vantagens</h3>
            <div class="advantage__block">
              <img src="/img/escudoLP.svg" alt="" class="advantage__img" />
              <div class="advantage__block-content">
                <div class="advantage__title">Segurança como prioridade</div>
                <div class="advantage__text">
                  Prezamos pela segurança em todas as etapas de nosso serviço, desde a escolha de
                  professores até o pagamento.
                </div>
              </div>
            </div>
            <div class="advantage__block">
              <img src="/img/estrelaLP.svg" alt="" class="advantage__img" />
              <div class="advantage__block-content">
                <div class="advantage__title">Professores selecionados e valorizados</div>
                <div class="advantage__text">
                  Nossos professores não gastam tempo pensando em logística ou pagamento. A
                  atenção deles é 100% focada em ajudar o seu filho.
                </div>
              </div>
            </div>

            <div class="button js-cta">
              Quero agendar minha 1ª aula!
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="discount u-margin-bottom-l u-padding-top-m">
      <div class="container">
        <div class="grid grid--center grid--pad-s">
          <div class="col">
            <h2 class="heading-section heading-section--underline u-margin-bottom-m">
              Nossos <br />
              produtos
            </h2>

            <p class="p">
              Nossa equipe preparou pacotes com descontos progressivos que se adequam à sua
              necessidade e ao seu bolso.
              <strong>Quanto mais você estuda, menos você paga!</strong>
            </p>
          </div>
          <div class="col">
            <div class="product-card product-card--pacote">
              <div class="product-card__label">Reforço</div>
              <div class="product-card__title">Acompanhamento Escolar</div>
              <div class="product-card__subtitle u-margin-bottom-xs">Descontos progressivos</div>
              <div class="product-card__subtitle">
                Pacotes personalizados elaborados por nossa equipe de especialistas pedagógicos.
              </div>
              <div class="product-card__button js-cta">Solicite agora</div>
            </div>
          </div>
          <div class="col">
            <div class="product-card product-card--avulso">
              <div class="product-card__label">Reforço</div>
              <div class="product-card__title">Agendamento de aula avulsa</div>
              <div class="product-card__subtitle u-margin-bottom-xs">
                Praticidade no agendamento das aulas
              </div>
              <div class="product-card__subtitle">
                Gerenciamento completo das aulas pelo aplicativo.
              </div>
              <div class="product-card__button js-cta">Solicite agora</div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-cta section-cta--black u-padding-vertical-s">
      <div class="container container--xs">
        <h3 class="section-cta__title u-margin-bottom-xs">
          Sabe qual produto é melhor para você?
        </h3>
        <p class="section-cta__subtitle u-margin-bottom-m ">
          Converse com a nossa equipe pedagógica e descubra a melhor forma de alcançar os seus
          objetivos com nossas aulas particulares.
        </p>
        <div class="button button--s js-cta">Solicitar atendimento</div>
      </div>
    </section>

    <%- include('partials/new/section-clients') %>

    <section class="section-cta section-cta--orange u-padding-vertical-s">
      <div class="container container--xs">
        <h3 class="section-cta__title u-margin-bottom-xs">
          <% if(pageId && pageId === 'sao-paulo') { %> R$ 119,85 <% } else { %> R$ 89,90 <% } %>
          por 1h30m de aula com o deslocamento incluso!
        </h3>
        <p class="section-cta__subtitle u-margin-bottom-m ">
          <% if(pageId && pageId === 'sao-paulo') { %> R$ 79.90 <% } else { %> R$ 59,90 <% } %> -
          valor da hora de aula
        </p>
        <div class="button button--black button--s js-cta">
          Quero agendar minha 1ª aula!
        </div>
      </div>
    </section>

    <section class="media u-padding-vertical-m">
      <div class="container">
        <h2 class="media__title u-margin-bottom-m">Colmeia na mídia:</h2>
        <div class="media__container">
          <a class="media__link" href="https://www.facebook.com/watch/?v=491078964983280" target="_blank">
            <img src="/img/midia-globo.svg" alt="Colmeia Aulas Particulares matéria Globo" class="media__img" />
          </a>
          <a class="media__link"
            href="https://www.facebook.com/aulascolmeia/photos/a.653582561491175.1073741828.630281417154623/754389254743838/?type=3&theater"
            target="_blank">
            <img src="/img/correio_branco.png"
              alt="Colmeia Aulas particulares matéria jornal Correio Brasiliense Brasília" class="media__img" />
          </a>
          <a class="media__link" href="https://www.facebook.com/aulascolmeia/videos/748955565287207/" target="_blank">
            <img src="/img/sbt_branco.png" alt="Colmeia Aulas particulares matéria jornal SBT" class="media__img" />
          </a>
          <a class="media__link" href="http://www.jornaldebrasilia.com.br/cidades/alunos-da-unb-criam-uber-da-educacao/"
            target="_blank">
            <img src="/img/jdbr_branco.png" alt="Colmeia Aulas particulares matéria Jornal de Brasília"
              class="media__img" />
          </a>
          <a class="media__link"
            href="https://www.tecmundo.com.br/software/135850-plataforma-permite-contratar-professores-aulas-particulares.htm"
            target="_blank">
            <img src="/img/tecmundo-logo.png" alt="Colmeia Aulas particulares matéria Tecmundo Portal"
              class="media__img" />
          </a>
        </div>
      </div>
    </section>

    <section class="form form--campaign u-padding-vertical-m js-cta-target">
      <div class="container container--s">
        <div class="form__card">
          <div class="form__left">
            <div class="form__title">Converse com</div>
            <div class="form__subtitle">Nossa equipe</div>
          </div>
          <form class="form__right" id="form-contact">
            <label for="name" class="form__label">Nome</label>
            <input type="text" class="form__input form__input--name" name="name" placeholder="Nome" id="name" />

            <label for="email" class="form__label">Email</label>
            <input type="email" class="form__input form__input--email" name="email" placeholder="Email" id="email" />

            <label for="phone" class="form__label">Celular</label>
            <input type="text" class="form__input form__input--phone" name="phone" placeholder="Celular" id="phone" />

            <div class="form__button-container">
              <button class="button button--s">Solicitar</button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <%- include('partials/new/footer-simple') %>

    <div class="landing-campanha__overlay"></div>
  </div>

  <div class="landing-campanha__banner <%= pageId && pageId === 'sao-paulo' && 'landing-campanha__banner--sp' %>">
    <div class="landing-campanha__banner-icon"></div>
  </div>
</body>

<!-- build:js public/js/landing-estudos.min.js defer-->
<script src="/js/lib/jquery-2.1.4.js"></script>
<script src="/js/lib/jquery.easing.min.js"></script>
<script src="/js/lib/jquery.mask.min.js"></script>
<script src="/js/mobilechecker.js"></script>

<script src="/js/lib/flickity.pkgd.min.js"></script>

<script src="/js/lib/loadingoverlay.min.js"></script>

<script src="/js/loading-indicator.js"></script>

<script src="/js/constantes.js"></script>

<script src="/js/landing-estudos-campanha.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<!-- endbuild -->

<% include ./partials/ferramentas %> <% include ./partials/fbpixel %>

</html>