<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= capitalize(title) %> <%= pageData.name %> | Aulas Colmeia</title>

  <!--tags-->
  <meta name="description"
    content="Aulas particulares de reforço escolar. Os melhores professores de Brasília e São Paulo no conforto de casa! Ensino personalizado, conheça o jeito Colmeia de acompanhamento escolar! Horários garantidos. Agende pelo aplicativo ou pelo site." />
  <meta name="keywords"
    content="colmeia, reforco, reforco escolar, acompanhamento, escola, aulas particulares, aula particular" />
  <meta name="robots" content="index" />
  <meta property="og:image" content="https://www.aulascolmeia.com.br/img/page_description_img.png" />

  <!--icon-->
  <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32" />

  <!--fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,700&display=swap" rel="stylesheet">

  <!-- build:css public/css/new-landing.min.css -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/lib/flickity.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  <!-- endbuild -->

  <% include ./partials/user %> <% include ./partials/woopra %> <% include
    ./partials/analytics_header %> <% include ./partials/onesignal %> <%- pageData.scriptHead %>

  <!-- Global site tag (gtag.js) - Google Ads: 863977747 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-863977747"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'AW-863977747');
  </script>

  <!--
                Event snippet for Cadastro-Leads-LPs conversion page
                In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button.
            -->
  <script>
    function gtag_report_conversion(url) {
      var callback = function () {
        if (typeof url != 'undefined') {
          window.location = url;
        }
      };
      gtag('event', 'conversion', {
        send_to: 'AW-863977747/95lcCL-X74wBEJOC_ZsD',
        event_callback: callback
      });
      return false;
    }
  </script>

  <script>
    var pageId = <%- JSON.stringify(pageId) %>;
    var pageIdTitle = <%- JSON.stringify(pageData.name) %>;
    var abTest = <%- JSON.stringify(abTest) %>;
    console.log(pageId);

  </script>
</head>

<body class="landing-campanha landing-campanha--online" style="font-family: 'Muli', sans-serif;">
  <%- pageData.scriptBody %><%- include('partials/new/whatsapp') %>

  <div class="landing-campanha__wrapper">

    <%- include('partials/navbar-tel-whatsapp.ejs') %>

    <header class="header-campaign header-campaign--online">
      <div class="container">
        <div class="grid">
          <div class="col-3">
            <div class="header-campaign__content">
              <h1 class="heading-campaign u-margin-bottom-s">
                <% if (pageData && pageData.type == 'aula-particular') { %>
                  Aula Particular <br />
                  Online
                <% } else { %>
                  Reforço Escolar <br />
                  Online
                <% } %>
              </h1>

              <h2 class="subheading-campaign">
                <% if (pageData && pageData.type == 'aula-particular') { %>
                  Reforço escolar para estudantes de ensino fundamental e médio. Aulas individuais por vídeo-chamada com professores qualificados.
                <% } else { %>
                  Aula Particular por vídeo chamada com professores qualificados. Para estudantes de ensino fundamental e médio.
                <% } %>
                
              </h2>
            </div>
          </div>

          <div class="col-2" id="form-container">
            <div class="form-campaign form-campaign--online">
              <h3 class="form-campaign__title">
                Preencha o formulário abaixo para pedir sua
                <div class="form-campaign__title--highlight">1ª aula</div>
              </h3>
              <form class="form-campaign__form" id="form-top">
                <label for="" class="form-campaign__label">Nome Completo</label>
                <input
                  type="text"
                  class="form-campaign__input form-campaign__input--name"
                  placeholder="Nome Completo"
                />

                <label for="" class="form-campaign__label">Telefone</label>
                <input
                  type="text"
                  class="form-campaign__input form-campaign__input--phone"
                  placeholder="Telefone"
                />

                <label for="" class="form-campaign__label">Email</label>
                <input
                  type="email"
                  class="form-campaign__input form-campaign__input--email"
                  placeholder="Email"
                />

                <select class="form-control form-campaign__select" style="display: none!important;">
                  <option hidden disabled selected value="Online">Online</option>
                </select>

                <label for="" class="form-campaign__label">Como você conheceu a Colmeia?</label>
                <input
                  type="text"
                  class="form-campaign__input form-campaign__input--como-conheceu"
                  placeholder="Escreva aqui"
                />

                <button class="button">Quero minha aula!</button>
                <a 
                  class="form-campaign__teacher-application"
                  target="_blank"
                  href="/professor"
                >
                  Quer ser um professor? Clique aqui
                </a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="about-colmeia">
      <div class="about-colmeia__content">
        <div class="container">
          <h2 class="about-colmeia--title">Sobre a colmeia</h2>
          <div>
            <div class="card col-md-4 col-sm-6">
              <div class="product-card product-card--online-1">
                <div class="product-card__title">01.</div>
                <div class="product-card__subtitle u-margin-bottom-xs">
                  <strong>
                    <% if (pageData && pageData.type == 'aula-particular') { %>
                      Aula particular online
                    <% } else { %>
                      Reforço escolar online
                    <% } %>
                  </strong> <br>
                  Oferecemos aulas online para alunos de ensino fundamental e médio. Possuímos opções de aulas e pacotes de acordo com as suas necessidades.
                </div>
              </div>
            </div>
            <div class="card col-md-4 col-sm-6">
              <div class="product-card product-card--online-2">
                <div class="product-card__title">02.</div>
                <div class="product-card__subtitle u-margin-bottom-xs">
                  <strong>Professores</strong> <br>
                  Nossos professores são criteriosamente selecionados e valorizados para focar 100% em ajudar o seu filho.
                </div>
              </div>
            </div>
            <div class="card col-md-4 col-sm-12">
              <div class="product-card product-card--online-3">
                <div class="product-card__title">03.</div>
                <div class="product-card__subtitle u-margin-bottom-xs">
                  <strong>Tecnologia</strong> <br>
                  Utilizamos a tecnologia a favor da educação. Baixe o nosso aplicativo e faça o gerenciamento completo das aulas.
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('partials/new/section-clients') %>
  
    <%- include('partials/section-grey-media.ejs') %>

    <section class="manter-estudos">
      <div class="container manter-estudos-container"> 
        <h2 class="manter-estudos__title">
          Quer manter os estudos <br> do seu filho em dia?
        </h2>
        <div class="manter-estudos__subtitle">A Colmeia traz a solução perfeita para atender a sua necessidade.</div>
        <% if (pageData && pageData.type == 'aula-particular') { %>
          <button class="manter-estudos__button js-cta">Entre em contato</button>
        <% } else { %>
          <button class="manter-estudos__button" style="background-color: #4CBD27!important; border: 2px solid #4CBD27!important;"><a class="whatsapp-btn" style="color: #fff;">Enviar Whatsapp</a></button>
        <% } %>
      </div>
    </section>

    <%- include('partials/footer-socialmedia.ejs') %>

    <div class="landing-campanha__overlay"></div>
  </div>
</body>

<!-- build:js public/js/landing-online.min.js -->
<script src="/js/lib/jquery-2.1.4.js"></script>
<script src="/js/lib/jquery.easing.min.js"></script>
<script src="/js/lib/jquery.mask.min.js"></script>
<script src="/js/mobilechecker.js"></script>

<script src="/js/lib/flickity.pkgd.min.js"></script>

<script src="/js/lib/loadingoverlay.min.js"></script>

<script src="/js/loading-indicator.js"></script>

<script src="/js/constantes.js"></script>

<script src="/js/new-landing-campanha.js"></script>

<script src="/js/lib/bootstrap.min.js"></script>
<!-- endbuild -->
<script>
  $(document).ready(() => {
    $('a.whatsapp-btn').click(function() {
      $('#label-for-whatsapp').click();
    })
  });
</script>

<% include ./partials/ferramentas %> <% include ./partials/fbpixel %>

</html>