<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aulas Colmeia em São Paulo</title>

    <!--tags-->
    <meta name="description" content="">
    <meta name="keywords" content="colmeia, aulas, aula particular, reforco, reforco escolar, acompanhamento escolar">
    <meta name="robots" content="index">
    <meta property="og:image" content="https://www.aulascolmeia.com.br/img/page_description_img.png">

    <!--icon-->
    <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32">

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

    <!-- build:css public/css/landing-sp.min.css -->
    <!--libs-->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!--styles-->
    <link href="/css/new/modules/colmeia-button.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <link href="/css/landing-sp.css" rel="stylesheet" type="text/css">
    <!-- white-navbar-styles -->
    <link href="/css/white-navbar.css" rel="stylesheet">
    <link href="/css/dropdown-menu.css" rel="stylesheet">
    <!-- endbuild -->

    <% include ./partials/user %>
        <% include ./partials/woopra %>
            <% include ./partials/analytics_header %>
                <% include ./partials/onesignal %>

</head>

<body>

    <div id="particles-js"></div>
    <% include ./partials/white-navbar %>

        <section id="sp-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7">
                        <div class="sp-img-container">
                            <img src="/img/img-landing-sp.png" alt="Aulas Colmeia reforço escolar em São Paulo">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <h1 class="sp-h1">A Colmeia chegou em São Paulo!</h1>
                        <h2 class="sp-h2">Os melhores professores de reforço escolar em sua casa!</h2>
                        <h3 class="sp-h3">Ensinos Fundamental e Médio</h3>
                        <div class="sp-divider"></div>
                        <h4 class="sp-h4">Insira seu <strong>nome</strong> e
                            <strong>telefone</strong> e receba a primeira hora
                            <strong>gratuita</strong>!</h4>
                        <div class="sp-form-container">
                            <form action="/aula-particular-sp" method="POST">
                                <div class="form-group">
                                    <label>Nome</label>
                                    <input type="text" class="form-control sp-form" id="sp-nome" placeholder="Inserir nome" name="telefone">
                                </div>
                                <div class="form-group">
                                    <label>Telefone</label>
                                    <input type="text" class="form-control sp-form" id="sp-telefone" placeholder="Inserir telefone" name="telefone">
                                </div>
                                <button type="submit" class="colmeia-button button-filled sp-button">Receber primeira hora grátis</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="como-funciona">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12 como-funciona-intro">
                        <h2>Agendamento Personalizado</h2>
                        <p>Conte com a gente para indicar os melhores professores de acordo com as suas necessidades.
                            <br> Nossos professores estão sempre dispostos a ir até o local desejado.</p>
                    </div>

                    <div class="row">

                        <div class="col-lg-4 col-md-4 app-info">
                            <img src="/img/hex-calendar.png" alt="Aplicativo Colmeia aulas particulares agendamento" class="mobile-img" display: hidden>
                            <h3>1. Agende</h3>
                            <p>Defina a matéria e o local.</p>
                            <img src="/img/phone1.png" alt="Aplicativo Colmeia aulas particulares agendamento" class="not-mobile-img">
                        </div>
                        <div class="col-lg-4 col-md-4 app-info">
                            <img src="/img/hex-study.png" alt="Aplicativo Colmeia aulas particulares escolher professor" class="mobile-img" display:
                                hidden>
                            <h3>2. Escolha</h3>
                            <p>Escolha o professor e a duração da aula.</p>
                            <img src="/img/phone2.png" alt="Aplicativo Colmeia aulas particulares escolher professor" class="not-mobile-img">
                        </div>
                        <div class="col-lg-4 col-md-4 app-info">
                            <img src="/img/hex-card.png" alt="Aplicativo Colmeia aulas particulares pagamento facil" class="mobile-img" display: hidden>
                            <h3>3. Pague</h3>
                            <p>Adicione seu cartão de crédito.</p>
                            <img src="/img/phone3.png" alt="Aplicativo Colmeia aulas particulares pagamento facil" class="not-mobile-img">
                        </div>
                    </div>

                    <div class="row">
                        <h4 class="download-buttons">Baixe nosso app em sua loja virtual</h4>
                        <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
                            <div class="buttons-container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <a href="https://play.google.com/store/apps/details?id=br.com.aulascolmeia.colmeia_android">
                                            <img src="/img/baixar-loja-google.png" alt="Baixar aplicativo Colmeia Aulas particulares Play Store Android">
                                        </a>
                                    </div>

                                    <div class="col-lg-6 col-md-6">
                                        <a href="https://itunes.apple.com/us/app/colmeia-aulas/id1163913467?mt=8">
                                            <img src="/img/baixar-loja-apple.png" alt="Baixar aplicativo Colmeia Aulas particulares App Store iPhone">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="midias">
            <div class="container">
                <h2>Colmeia na mídia</h2>
                <div class="row">
                    <div class="col-lg-3 col-md-3" align="center">
                        <a href="https://www.facebook.com/aulascolmeia/photos/a.653582561491175.1073741828.630281417154623/754389254743838/?type=3&theater"
                            target="_blank">
                            <img src="./img/correio_branco.png" alt="Colmeia Aulas particulares matéria jornal Correio Brasiliense Brasília">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3" align="center">
                        <a href="https://www.facebook.com/aulascolmeia/videos/748955565287207/" target="_blank">
                            <img src="./img/sbt_branco.png" alt="Colmeia Aulas particulares matéria jornal SBT" width='100px'>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3" align="center">
                        <a href="http://www.jornaldebrasilia.com.br/cidades/alunos-da-unb-criam-uber-da-educacao/" target="_blank">
                            <img src="./img/jdbr_branco.png" alt="Colmeia Aulas particulares matéria Jornal de Brasília">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3" align="center">
                        <a href="http://jornalismo.iesb.br/2017/04/17/aplicativo-brasiliense-permite-marcacao-de-aulas-particulares/" target="_blank">
                            <img src="./img/iesb_branco.png" alt="Colmeia Aulas particulares matéria jornal IESB Brasília">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section id="beneficios">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12 beneficios-intro" align="center">
                        <h2>Agendar reforço escolar nunca foi tão fácil</h2>
                    </div>
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-6 feature-block">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="info-img">
                                        <img src="/img/resume-document.png" alt="Aulas Colmeia melhores professores qualidade">
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="info-text">
                                        <h3>Os melhores professores</h3>
                                        <p>Escolha o professor particular que melhor se encaixe às suas necessidades.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 feature-block">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="info-img">
                                        <img src="/img/cancel.png" alt="Aulas Colmeia cancelamento gratis sem taxa">
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="info-text">
                                        <h3>Cancelamento facilitado</h3>
                                        <p>Cancele com até 3 horas de antecedência no seu celular sem pagar qualquer taxa.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row" align="center">

                        <div class="col-lg-6 col-md-6 col-sm-6 feature-block">

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="info-img">
                                        <img src="/img/home.png" alt="Aulas Colmeia comodidade reforço escolar em casa">
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="info-text">
                                        <h3>Comodidade</h3>
                                        <p>Evite preocupações com o seu deslocamento. Nossos professores vão até sua casa.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 feature-block">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="info-img">
                                        <img src="/img/shield.png" alt="Aulas Colmeia segurança professores selecionados confiança">
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="info-text">
                                        <h3>Segurança</h3>
                                        <p>Nossos professores passam por verificação de antecedentes criminais, CPF e nada consta.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
        <section id="precos">
            <div class="container">
                <h2>Preços</h2>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="preco-block preco-first">
                                    <img class="preco-icon" src="/img/student.png" alt="Aluno Colmeia reforço escolar em casa">
                                    <div class="preco-value">
                                        <div class="preco-small">
                                            R$
                                        </div>
                                        <div class="preco-large">
                                            59
                                        </div>
                                        <div class="preco-small">
                                            ,90
                                            <br>
                                            <span class="preco-small-hora">
                                                <em>I</em> hora</span>
                                        </div>
                                    </div>
                                    <div class="preco-title">
                                        Reforço Escolar
                                    </div>
                                    <div class="preco-subtitle">
                                        Ensinos
                                        <br> fundamental e médio.
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="preco-block">
                                    <img class="preco-icon" src="/img/english.png" alt="Aulas Colmeia aula particular de línguas inglês">
                                    <div class="preco-value">
                                        <div class="preco-small">
                                            R$
                                        </div>
                                        <div class="preco-large">
                                            69
                                        </div>
                                        <div class="preco-small">
                                            ,90
                                            <br>
                                            <span class="preco-small-hora">
                                                <em>I</em> hora</span>
                                        </div>
                                    </div>
                                    <div class="preco-title">
                                        Inglês
                                    </div>
                                    <div class="preco-subtitle">
                                        Do básico
                                        <br> ao avançado.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4">
                                <button class="colmeia-button button-orange" onclick="$('html, body').animate({ scrollTop: 0 }, 'slow');">
                                    Agendar aula
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id="depoimentos">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12" align="center">
                        <h2>Avaliações de clientes</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="depoimento">
                            <p>
                                <span class="mobile-quotes" display: hidden>"</span> Gostaria de agradecer a atenção em me ajudar a encontrar um professor em cima da
                                hora. Demonstra que vocês são profissionais sérios e dispostos a ajudar. Outros falariam
                                que não tinha e pronto. [...] No final da aula, a professora me passou um resumo de toda
                                a aula com meu filho. Muito profissional! Adorei!!!!!
                                <span class="mobile-quotes" display: hidden>"</span>
                            </p>
                            <div class="author">
                                Thaisa Coutinho - mãe.
                            </div>
                            <img src="/img/full-stars.png" alt="Imagem estrelas" class="mobile-img" display: hidden>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="depoimento">
                            <p>
                                <span class="mobile-quotes" display: hidden>"</span> Antes era difícil conseguir professor particular com horário em matéria como : português,
                                geografia, física. Com o aplicativo, por ter mais opções, posso conseguir agendar as aulas
                                sempre e na urgência que necessito. Tenho como informar o conteúdo que minha filha tem maior
                                dificuldade direto pelo aplicativo sem precisar falar com ninguém.
                                <span class="mobile-quotes" display: hidden>"</span>
                            </p>
                            <div class="author">
                                Eliane Fleury - mãe.
                            </div>
                            <img src="/img/full-stars.png" alt="Imagem estrelas" class="mobile-img" display: hidden>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="depoimento">
                            <p>
                                <span class="mobile-quotes" display: hidden>"</span> Procurei por indicação do Galois de Brasília, minha escola. Sempre fui acostumada
                                a ter aulas particulares com certa frequência, e o Colmeia é um jeito muito mais prático
                                para o pedido, principalmente! O app dá a avaliação dos professores, que são ótimos, e outras
                                informações como o currículo e isso passa uma segurança enorme!
                                <span class="mobile-quotes" display: hidden>"</span>
                            </p>
                            <div class="author">
                                Maria Pedretti - aluna.
                            </div>
                            <img src="/img/full-stars.png" alt="Imagem estrelas" class="mobile-img" display: hidden>
                        </div>
                    </div>
                </div>

                <!-- <div class="row">
              <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4">
                <button class="mid-button" onclick="$('html, body').animate({ scrollTop: 0 }, 'slow');">
                  Agendar aula
                </button>
              </div>
            </div> -->

            </div>
        </section>
        <% include ./partials/footer %>

</body>

<!-- build:js public/js/landing-sp.min.js -->
<!-- white-navbar-scripts -->
<script src="/js/lib/jquery-2.1.4.js"></script>
<script src="/js/mobilechecker.js"></script>
<script src="/js/mobile-sidebar.js"></script>
<script src="/js/navbar.js"></script>

<!--libs-->
<script src="/js/lib/jquery.easing.min.js"></script>
<script src="/js/lib/loadingoverlay.min.js"></script>
<script src="/js/loading-indicator.js"></script>
<script src="/js/lib/jquery.mask.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/particles.min.js"></script>

<!--scripts-->
<script src="/js/landing-sp.js"></script>
<!-- endbuild -->

<% include ./partials/ferramentas %>
    <% include ./partials/fbpixel %>

</html>