<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Aulas particulares de Inglês | Colmeia</title>

        <!-- tags -->
        <meta
            name="description"
            content="Reforço escolar com os melhores professores de Brasília e São Paulo. Agende pelo aplicativo ou pelo site e tenha aulas com segurança no conforto da sua casa."
        />
        <meta
            name="keywords"
            content="colmeia, reforco, reforco escolar, acompanhamento, escola, aulas particulares, aula particular"
        />
        <meta name="robots" content="index" />
        <meta
            property="og:image"
            content="https://www.aulascolmeia.com.br/img/page_description_img.png"
        />

        <!-- icon -->
        <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32" />

        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700" rel="stylesheet" />

        <!-- build:css public/css/landing-ingles.min.css -->
        <!-- libs -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- styles -->
        <link href="/css/landing-ingles.css" rel="stylesheet" type="text/css" />
        <!-- endbuild -->

        <% include ./partials/user %> <% include ./partials/woopra %> <% include
        ./partials/analytics_header %> <% include ./partials/onesignal %>

        <!-- Global site tag (gtag.js) - Google Ads: 863977747 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-863977747"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'AW-863977747');
        </script>

        <!--
            Event snippet for Cadastro-Leads-LPs conversion page
            In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button.
        -->
        <script>
            function gtag_report_conversion(url) {
                var callback = function() {
                    if (typeof url != 'undefined') {
                        window.location = url;
                    }
                };
                gtag('event', 'conversion', {
                    send_to: 'AW-863977747/95lcCL-X74wBEJOC_ZsD',
                    event_callback: callback
                });
                return false;
            }
        </script>

        <!-- Google Tag Manager -->
        <script>
            (function(w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-N6TNXN2');
        </script>
        <!-- End Google Tag Manager -->

        <script>
            var pageId = 'ingles';
        </script>
    </head>

    <body id="page-top">
        <!-- Google Tag Manager (noscript) -->
        <noscript
            ><iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-N6TNXN2"
                height="0"
                width="0"
                style="display:none;visibility:hidden"
            ></iframe
        ></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div id="overlay">
            <div class="overlay__content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <img
                                class="overlay__image"
                                src="/img/logo-orange.png"
                                alt="Aulas Colmeia reforço escolar logo"
                            />
                            <h2 class="overlay__title">Bem-vindo à Colmeia! O que você procura?</h2>

                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <button class="overlay__button overlay__button--orange">
                                        Sou pai/aluno
                                    </button>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <a
                                        href="/professor"
                                        class="overlay__button overlay__button--black"
                                        >Sou professor(a)</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="nav">
            <div class="container">
                <div class="nav__container">
                    <div class="nav__left">
                        <a href="/" class="nav__link">
                            <img
                                class="nav__logo"
                                src="/img/header-logo.png"
                                alt="Aulas Colmeia reforço escolar em casa logo"
                            />
                        </a>
                    </div>
                    <div class="nav__right"><div class="nav__phone">(61) 9 9805-2073</div></div>
                </div>
            </div>
        </nav>

        <header class="header header--ing">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7">
                        <div class="header__container">
                            <h1 class="header__title">Aulas particulares de Inglês</h1>
                            <h2 class="header__subtitle">
                                A Colmeia oferece os melhores professores de aulas particulares de Inglês, que vão direto até a sua casa.
                            </h2>

                            <div class="form__call">Insira seus dados e entraremos em contato</div>

                            <div class="row">
                                <div class="col-lg-9 col-md-9">
                                    <form>
                                        <input
                                            type="text"
                                            class="form__input form__input--nome"
                                            placeholder="Nome"
                                        />
                                        <input
                                            type="email"
                                            class="form__input form__input--email"
                                            placeholder="E-mail"
                                        />
                                        <input
                                            type="text"
                                            class="form__input form__input--telefone"
                                            placeholder="Celular"
                                        />
                                        <input
                                            type="text"
                                            class="form__input form__input--pacote"
                                        />
                                        <input
                                            type="submit"
                                            value="Solicitar atendimento"
                                            class="form__button"
                                        />
                                        <p class="form__caption">
                                            Pacotes com até <strong>15% de desconto</strong>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="servico" id="servico">
            <div class="container">
                <h2 class="servico__title">Nosso serviço</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="servico__block">
                            <img
                                src="/img/servico-escolha-ingles.png"
                                alt="Aulas Colmeia reforço escolar de matemática serviço escolha"
                                class="servico__block-img"
                            />
                            <h3 class="servico__block-title">Escolha</h3>
                            <p class="servico__block-subtitle">
                                Defina o horário, o local, a matéria e o professor.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="servico__block">
                            <img
                                src="/img/servico-aula-ingles.png"
                                alt="Aulas Colmeia reforço escolar de matemática serviço escolha"
                                class="servico__block-img"
                            />
                            <h3 class="servico__block-title">Receba a aula</h3>
                            <p class="servico__block-subtitle">
                                Tenha aula em casa com os melhores professores particulares no seu
                                ritmo.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="servico__block">
                            <img
                                src="/img/servico-pague-ingles.png"
                                alt="Aulas Colmeia reforço escolar de matemática serviço escolha"
                                class="servico__block-img"
                            />
                            <h3 class="servico__block-title">Pague</h3>
                            <p class="servico__block-subtitle">
                                Escolha entre pagar com boleto ou cartão de crédito.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <a href="https://aulascolmeia.app.link/1klwKdmSCR" class="servico__link"
                            >Conheça nosso aplicativo</a
                        >
                    </div>
                </div>
            </div>
        </section>

        <section class="pacote pacote--ing" id="pacotes">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <!--
                            <h2 class="pacote__title">


                                Pacotes



                            </h2>
                        -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="pacote-block">
                            <h4 class="pacote-block__title">PLANO MENSAL</h4>
                            <h5 class="pacote-block__discount">5%</h5>
                            <h5 class="pacote-block__subtitle">de desconto</h5>
                            <p class="pacote-block__item">12 horas de aula</p>
                            <p class="pacote-block__item">Horários garantidos</p>
                            <p class="pacote-block__item">Análise de evolução</p>
                            <button class="pacote-block__button" data-pacote="Mensal">
                                Solicitar pacote
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="pacote-block pacote-block--large">
                            <h4 class="pacote-block__title">PLANO TRIMESTRAL</h4>
                            <h5 class="pacote-block__discount pacote-block--orange">10%</h5>
                            <h5 class="pacote-block__subtitle pacote-block--orange">de desconto</h5>
                            <p class="pacote-block__item">24 horas de aula</p>
                            <p class="pacote-block__item">Horários garantidos</p>
                            <p class="pacote-block__item">Análise de evolução</p>
                            <button class="pacote-block__button" data-pacote="Trimestral">
                                Solicitar pacote
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="pacote-block">
                            <h4 class="pacote-block__title">PLANO SEMESTRAL</h4>
                            <h5 class="pacote-block__discount">15%</h5>
                            <h5 class="pacote-block__subtitle">de desconto</h5>
                            <p class="pacote-block__item">40 horas de aula</p>
                            <p class="pacote-block__item">Horários garantidos</p>
                            <p class="pacote-block__item">Análise de evolução</p>
                            <button class="pacote-block__button" data-pacote="Semestral">
                                Solicitar pacote
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="porque" id="porque">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <h3 class="porque__title">
                            Por quê agendar aulas <br />
                            de Inglês com a Colmeia?
                        </h3>
                        <p class="porque__text">
                            As aulas particulares são uma das melhores formas de estudar com foco nas dificuldades do aluno. Para isso, a Colmeia garante os melhores professores com certificação internacional e faz um acompanhamento personalizado de cada aluno. <br /><br />
                            Também tentamos facilitar ao máximo o processo de agendamento e pagamento das aulas, com possibilidade de cartão ou boleto, sem cobrar pelo deslocamento do professor.<br /><br />
                            <br />
                            <button class="porque__link">
                                Quer saber como agendar sua aula? Clique aqui!
                            </button>
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="porque__img-container">
                            <img
                                src="/img/porque-ingles.jpg"
                                alt="Aulas Colmeia reforço escolar preço justo"
                                class="porque__img"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="phone" id="beneficios">
            <img src="/img/phone-main.png" alt="" class="phone__img" />
            <div class="container">
                <div class="col-lg-5 col-md-5 col-lg-offset-4 col-md-offset-4">
                    <div class="phone__content">
                        <div class="phone__block">
                            <img
                                src="/img/phone-star.png"
                                alt="Aulas Colmeia reforço escolar melhores professores"
                                class="phone__block-left"
                            />
                            <div class="phone__block-right">
                                <div class="phone__block-title">Os melhores profesores</div>
                                <div class="phone__block-text">
                                    Todos os nossos professores tem certificação internacional e
                                    passam por um processo seletivo criterioso, com análise de dados
                                    e entrevista.
                                </div>
                            </div>
                        </div>

                        <div class="phone__block">
                            <img
                                src="/img/phone-seguranca.png"
                                alt="Aulas Colmeia reforço escolar com segurança em casa"
                                class="phone__block-left"
                            />
                            <div class="phone__block-right">
                                <div class="phone__block-title">Segurança</div>
                                <div class="phone__block-text">
                                    Nós usamos sistemas de segurança avançados em todo o processo de
                                    pagamento e armazenamento de dados.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="preco preco--ing" id="preco">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h2 class="preco__title">Preço</h2>
                        <div class="preco__card">
                            <img
                                src="/img/ingles-materia-icon.png"
                                alt="Aulas Colmeia reforço escolar preço"
                                class="preco__card-left"
                            />
                            <div class="preco__card-right">
                                <div class="preco__card-title">Aulas de Inglês</div>
                                <div class="preco__card-text">
                                    Do básico ao avançado ou preparatório para prova de
                                    proficiência.
                                </div>
                                <div class="preco__card-price">
                                    <div class="preco__card-price-value">R$69,90</div>
                                    <div class="preco__card-price-sub">por hora</div>
                                </div>
                            </div>
                        </div>
                        <div class="preco__button-container">
                            <button class="preco__button">Agendar aula</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="cta" id="conversa">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
                        <h3 class="cta__title">Gostou do nosso serviço?</h3>
                        <p class="cta__text">
                            A Colmeia vai te ajudar a montar um plano de estudos com foco no seu
                            objetivo e no seu ritmo. Vamos conversar?
                        </p>
                        <button class="cta__button">Ganhe descontos especiais</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="code" id="desconto">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-lg-offset-5 col-md-offset-5">
                        <h3 class="code__title">Conheça nosso app</h3>
                        <p class="code__subtitle">
                            Baixe nosso aplicativo agora e agende suas aulas a hora que precisar!
                        </p>
                        <div class="code__button-container">
                            <a
                                href="https://play.google.com/store/apps/details?id=br.com.aulascolmeia.colmeia_android"
                                class="code__button"
                            >
                                <img
                                    src="/img/baixar-play-store.png"
                                    alt="Aulas Colmeia aula particular de inglês baixar android"
                            /></a>

                            <a
                                href="https://itunes.apple.com/us/app/colmeia-aulas/id1163913467?mt=8"
                                class="code__button"
                            >
                                <img
                                    src="/img/baixar-apple-store.png"
                                    alt="Aulas Colmeia aula particular de inglês baixar ios"
                            /></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>

    <!-- build:js public/js/landing-ingles.min.js -->
    <!-- white-navbar-scripts -->
    <script src="/js/lib/jquery-2.1.4.js"></script>
    <script src="/js/lib/jquery.mask.min.js" type="text/javascript"></script>
    <!-- libs -->
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/lib/jquery.easing.min.js"></script>
    <script src="/js/lib/particles.min.js"></script>

    <!-- scripts -->
    <script src="/js/landing-campanha.js"></script>
    <!-- endbuild -->

    <% include ./partials/ferramentas %> <% include ./partials/fbpixel %>
</html>
