<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= capitalize(title) %> <%= pageData.name %> | Aulas Colmeia</title>

  <!--tags-->
  <meta name="description"
    content="Aulas particulares de reforço escolar. Os melhores professores de Brasília e São Paulo no conforto de casa! Ensino personalizado, conheça o jeito Colmeia de acompanhamento escolar! Horários garantidos. Agende pelo aplicativo ou pelo site." />
  <meta name="keywords"
    content="colmeia, reforco, reforco escolar, acompanhamento, escola, aulas particulares, aula particular" />
  <meta name="robots" content="index" />
  <meta property="og:image" content="https://www.aulascolmeia.com.br/img/page_description_img.png" />

  <!--icon-->
  <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32" />

  <!--fonts-->
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,700&display=swap" rel="stylesheet">

  <!-- build:css public/css/new-landing.min.css -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/lib/flickity.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  <!-- endbuild -->

  <% include ./partials/user %> <% include ./partials/woopra %> <% include
    ./partials/analytics_header %> <% include ./partials/onesignal %> <%- pageData.scriptHead %>

  <!-- Global site tag (gtag.js) - Google Ads: 863977747 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-863977747"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'AW-863977747');
  </script>

  <!--
                Event snippet for Cadastro-Leads-LPs conversion page
                In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button.
            -->
  <script>
    function gtag_report_conversion(url) {
      var callback = function () {
        if (typeof url != 'undefined') {
          window.location = url;
        }
      };
      gtag('event', 'conversion', {
        send_to: 'AW-863977747/95lcCL-X74wBEJOC_ZsD',
        event_callback: callback
      });
      return false;
    }
  </script>

  <script>
    var pageId = <%- JSON.stringify(pageId) %>;
    var pageIdTitle = <%- JSON.stringify(pageData.name) %>;
    var abTest = <%- JSON.stringify(abTest) %>;
    console.log(pageId);

  </script>
</head>

<body class="landing-campanha landing-campanha--ebook" style="font-family: 'Muli', sans-serif;">
  <%- pageData.scriptBody %><%- include('partials/new/whatsapp') %>

  <div class="landing-campanha__wrapper">

    <nav class="navbar-static">
      <div class="container">
        <div class="navbar-static__content">
          <div class="navbar-static__left">
            <a class="navbar-static__logo-link" href="/">
              <img src="/img/colmeia_logo.png" alt="Aulas Colmeia Logo" class="navbar-static__logo-img" /></a>
          </div>
          <div class="navbar-static__right">
            <a target="_blank" class="btn btn-default btn-orange" href="tel:(11) 4949-0115">
              <span>(11) 4949-0115</span>
            </a>
            <a class="btn btn-default btn-green whatsapp-btn">
              <span>Enviar Whatsapp</span>
            </a>
            <a class="tel-icon" style="display: none;" href="tel:(11) 4949-0115"><img src="/img/tel-icon--online.png"></a>
            <a class="send-whatsapp-icon whatsapp-btn" style="display: none;"><img src="/img/whatsapp--online.png"></a>
          </div>
        </div>
      </div>
    </nav>

    <header class="header-campaign header-campaign--ebook">
      <div class="container">
        <div class="grid">
          <div class="col-3">
            <div class="header-campaign__content">
              <h1 class="heading-campaign u-margin-bottom-s">
                  Como manter os estudos em dia
              </h1>

              <h2 class="subheading-campaign">
                  Baixe nosso e-book para saber como ajudar seus filhos a estudar nesse momento de suspensão do calendário escolar.
              </h2>
            </div>
          </div>

          <img class="col-2" id="email-success-image" src="/img/ebook2-desenho-sucesso-email-enviado.png">

          <div class="col-2" id="form-container">
            <div class="form-campaign form-campaign--ebook">
              <h3 class="form-campaign__title">
                Preencha o formulário abaixo e
                <span class="form-campaign__title--highlight">receba o e-book</span>
                em seu email
              </h3>
              <form class="form-campaign__form" id="form-ebook">
                <label for="" class="form-campaign__label">Nome Completo</label>
                <input
                  type="text"
                  class="form-campaign__input form-campaign__input--name"
                  placeholder="Nome Completo"
                />

                <label for="" class="form-campaign__label">Telefone</label>
                <input
                  type="text"
                  class="form-campaign__input form-campaign__input--phone"
                  placeholder="Telefone"
                />

                <label for="" class="form-campaign__label">Email</label>
                <input
                  type="email"
                  class="form-campaign__input form-campaign__input--email"
                  placeholder="Email"
                />

                <button class="button">Quero meu E-book</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>
  
    <%- include('partials/section-grey-media.ejs') %>

    <%- include('partials/footer-socialmedia.ejs') %>

    <div class="landing-campanha__overlay"></div>
  </div>
</body>

<!-- build:js public/js/landing-online.min.js -->
<script src="/js/lib/jquery-2.1.4.js"></script>
<script src="/js/lib/jquery.easing.min.js"></script>
<script src="/js/lib/jquery.mask.min.js"></script>
<script src="/js/mobilechecker.js"></script>
<script src="/js/lib/flickity.pkgd.min.js"></script>
<script src="/js/lib/loadingoverlay.min.js"></script>
<script src="/js/loading-indicator.js"></script>
<script src="/js/constantes.js"></script>
<script src="/js/new-landing-campanha.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<!-- endbuild -->
<script>
  $(document).ready(() => {
    $('a.whatsapp-btn').click(function() {
      $('#label-for-whatsapp').click();
    })
  });
</script>

<% include ./partials/ferramentas %> <% include ./partials/fbpixel %>

</html>