<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Entrar | Colmeia</title>
    <meta name="description" content="Faça login na plataforma Colmeia de reforço escolar. Agende aulas pelo aplicativo ou pelo site com segurança no conforto da sua casa.">
    
    <script>
      var next = <%- JSON.stringify(next ? next : '/') %>;
    </script>

    <!--Firebase auth-->
    <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>

    <script src="https://www.gstatic.com/firebasejs/ui/2.3.0/firebase-ui-auth__pt.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/2.3.0/firebase-ui-auth.css" />
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAaxolN_-SD3hrUVPzrGy_XmYG0-yWxrng",
        authDomain: "colmeia-6a0f9.firebaseapp.com",
        databaseURL: "https://colmeia-6a0f9.firebaseio.com",
        projectId: "colmeia-6a0f9",
        storageBucket: "colmeia-6a0f9.appspot.com",
        messagingSenderId: "270332155303"
      };
      firebase.initializeApp(config);
    </script>

    <script type="text/javascript">
      // FirebaseUI config.
      var uiConfig = {
        callbacks: {
          signInSuccess: function(currentUser, credential, redirectUrl) {

            afterFirebaseAuth(currentUser.phoneNumber, currentUser.uid);

            return false; //nao redireciona
          },
          uiShown: function() {
            // The widget is rendered.
          }
        },
        signInSuccessUrl: '<url-to-redirect-to-on-success>',
        signInFlow: 'popup',
        signInOptions: [
          // Leave the lines as is for the providers you want to offer your users.
          // firebase.auth.FacebookAuthProvider.PROVIDER_ID,
          {
            provider: firebase.auth.PhoneAuthProvider.PROVIDER_ID,
            recaptchaParameters: {
              type: 'image', // 'audio'
              size: 'normal', // 'invisible' or 'compact'
              badge: 'inline' //' bottomright' or 'inline' applies to invisible.
            },
            defaultCountry: 'BR' // Set default country to the United Kingdom (+44).
          }
        ],
        // Terms of service url.
        tosUrl: '/termos-de-uso-colmeia.pdf'
      };

      // Initialize the FirebaseUI Widget using Firebase.
      var ui = new firebaseui.auth.AuthUI(firebase.auth());
      // The start method will wait until the DOM is loaded.
      ui.start('#firebaseui-auth-container', uiConfig);
    </script>
    <% include ./partials/login/header %>
    
    <% include ./partials/flash %>

    <div class="container" style="min-height: 90vh">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">

          <div class="header">
            Fazer login e continuar
          </div>

          <div class="login-container" id="facebook-telefone" display: hidden>

            <div class="header-title">Precisamos apenas do seu telefone para continuar.</div>

            <input type="text" id="fb-telefone" display: hidden>
            <input type="text" id="fb-digits-id" display: hidden>

            <div id="firebaseui-auth-container">

            </div>

          </div>

          <div class="login-container">
            <div class="form-group">
              <label for="login-email">Email</label>
              <input type="text" class="form-control" placeholder="Email" id="login-email">
            </div>
            <div class="form-group">
              <label for="login-senha">Senha</label>
              <input type="password" class="form-control" placeholder="Senha" id="login-senha">
            </div>

            <div class="forgot-password-container">
              <p>Esqueceu sua senha? <a href="/aluno/recuperar-senha">Clique aqui</a>!</p>
            </div>

            <div class="error-container-login">

            </div>
            <div class="colmeia-button button-filled login-button">
              Entrar
            </div>

            <div class="suggestion">
              Ainda não possui conta? <a href="/aluno/registrar">Registrar</a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <% include ./partials/footer %>

  </body>

  <!-- build:js public/js/login.min.js -->
  <!-- white-navbar-scripts -->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/mobilechecker.js"></script>
  <script src="/js/mobile-sidebar.js"></script>
  <script src="/js/navbar.js"></script>

  <script type="text/javascript" src="/js/lib/loadingoverlay.min.js"></script>
  <script type="text/javascript" src="/js/loading-indicator.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>
  <script src="/js/lib/particles.min.js"></script>
  <script src="/js/lib/moment/moment.min.js"></script>
  <script src="/js/lib/moment/moment-timezone.js"></script>
  <script type="text/javascript" src="/js/lib/moment/locale/pt-br.js"></script>
  <script src="/js/lib/parse.min.js"></script>
  <script src="/js/lib/node-rsa-browser.js"></script>
  <!-- <script src="/js/fb.js"></script> -->
  <script src="/js/login.js"></script>
  <!-- endbuild -->

</html>
