<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta
    name="description"
    content="Página de cadastro para a Comunidade de estudos da Colmeia. Faça seu cadastro e acesse materiais de apoio para ENEM e vestibulares"
  />
  <meta
    name="keywords"
    content="Colmeia, Comunidade de estudos, Aulões ENEM"
  />
  <meta name="robots" content="index" />
  <!-- FB Share -->
  <meta property="og:image" content="https://www.aulascolmeia.com.br/img/page_description_img.png" />
  <meta property="og:url" content="https://aulascolmeia.com.br/cadastro-comunidade-estudos" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Página de cadastro para a Comunidade de estudos da Colmeia. Faça seu cadastro e acesse materiais de apoio para ENEM e vestibulares" />
  <!-- FB Share -->

  <!-- TWITTER Share-->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Cadastro para Comunidade de Estudos | Aulas Colmeia">
  <meta name="twitter:description" content="Página de cadastro para a Comunidade de estudos da Colmeia. Faça seu cadastro e acesse materiais de apoio para ENEM e vestibulares">
  <meta name="twitter:image:src" content="https://www.aulascolmeia.com.br/img/page_description_img.png">
  <meta name="twitter:domain" content="https://aulascolmeia.com.br/cadastro-comunidade-estudos">
  <!-- TWITTER Share-->

  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <!-- build:css public/css/cadastrocomunidade.min.css -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  <!-- endbuild -->

  <title>Comunidade de Estudos</title>

  <% include ./partials/user %> <% include ./partials/woopra %> <% include
    ./partials/analytics_header %> <% include ./partials/onesignal %> <%- pageData.scriptHead %>

  <!-- Global site tag (gtag.js) - Google Ads: 863977747 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-863977747"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'AW-863977747');
  </script>

  <!--
    Event snippet for Cadastro-Leads-LPs conversion page
    In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button.
  -->
  <script>
    function gtag_report_conversion(url) {
      var callback = function () {
        if (typeof url != 'undefined') {
          window.location = url;
        }
      };
      gtag('event', 'conversion', {
        send_to: 'AW-863977747/95lcCL-X74wBEJOC_ZsD',
        event_callback: callback
      });
      return false;
    }
  </script>

  <style>
    
    .dark-container {
      background: #242424;
    }

    .lesson-info {
      margin: 6% 0;
    }

    .display-left, .display-right {
      flex: 50%;
    }

    .display-left {
      margin-right: 7%;
    }

    .media-container {
      color: #f2f2f2;
      padding-bottom: 7%;
    }

    .media-content__source {
      color: #FF8008;
    }

    @media only screen and (max-width: 834px) {

      .lesson-info {
        margin: 15% 0!important;
      }

      .display-right .lesson-info {
        margin-top: 0!important;
      }

      .display-left {
        margin-right: unset!important;
      }

      .display-right, .display-left {
        flex: unset!important;
      }

      .youtube-chat-iframe {
        height: 0!important;
        margin-bottom: unset;
      }
    }

    /* CAROUSEL */
    .flickity-button-icon {
      fill: #f2f2f2!important;
    }

    .flickity-button {
      background: transparent!important;
    }

    .flickity-prev-next-button .flickity-button-icon {
      width: 100%!important;
      height: 100%!important;
      background: hsla(0, 1%, 32%, 0.4);
      border-radius: 50%;
    }

    .media-content-carousel:after {
      content: 'flickity';
      display: none;
    }
    .media-content__img {
      height: 248px;
    }

    .media-content__metadados, .media-content__img {
      width: 100%;
    }

    .media-content-header h3{
      text-align: center;
      font-weight: 900;
      font-size: 230%;
    }

    .media-content-header h3 {
      padding: 5% 0;
    }

    .media-content__preview {
      font-weight: bold;
      font-size: 145%;
      color: #F2F2F2;
    }

    .media-content__block {
      margin-right: 10px;
      width: calc((100% / 3) - 10px);
    }

    .media-content__imgcss {
      display: none;
    }

    @media only screen and (max-width: 991px) {
      .media-content__block {
        width: calc((100% / 2) - 10px);
      }

      .form-estudos-box {
        flex-wrap: wrap;
      }

      .form-estudos-info {
        padding-top: unset!important;
        margin-right: unset!important;
        padding-bottom: 10rem;
      }

      .form-estudos-cadastro {
        margin-left: unset!important;
      }

      .form-estudos-box__child {
        flex: unset!important
      }

      .form-estudos-info h3 {
        padding-bottom: 1.5rem;
      }

      .form-estudos-cadastro {
        padding: 6% 6.5%!important;
      }

      .form-block, .form-block .btn, .form-block .dropdown-menu li {
        font-size: 2rem!important;
      }

      .form-estudos-container__title {
        padding: 2rem;
      }

      .form-estudos-submit {
        margin-top: 4rem!important;
        margin-bottom: 3.5rem!important;
      }
    }

    @media only screen and (max-width: 514px) {
      .media-content-header h3 {
        padding: 10% 0;
        padding-top: 20%;
      }

      .media-content-carousel:after {
        content: '';
      }

      /* Reescrita de css da mídia */
      .media-content__block {
        width: 100%!important;
        margin-bottom: 20px!important;
      }

      .media-internal-block {
        display: flex;
      }

      .media-content__img {
        height: 170px;
        width: 90%;
        display: none!important;
      }

      .media-content__imgcss {
        display: block;
        padding: 70px 70px;
        background-position: center;
        background-size: 115% 100%;
        margin-right: 10px;
        background-repeat: no-repeat;
      }

      .media-content__source {
        margin-top: 0;
        margin-bottom: 2px;
        font-size: 111%;
        font-weight: 500;
      }

      .media-content__preview {
        font-size: 100%;
        line-height: initial;
      }

      .form-estudos-container {
        background-image: url(img/mobile-header-comunidade-de-estudos.png)!important;
        background-size: 100% 50%!important;
        background-position: initial!important;
      }
    }

    @media only screen and (max-width: 410px) {
      .form-block, .form-block .btn, .form-block .dropdown-menu li {
        font-size: 1.75rem!important;
      }

      .form-estudos-submit {
        line-height: 2.5rem!important;
        padding: 1rem 0!important;
      }
    }

    @media only screen and (max-width: 344px) {
      .form-block, .form-block .btn, .form-block .dropdown-menu li {
        font-size: 1.55rem!important;
      }

      .form-estudos-info h3 {
        font-size: 4rem!important;
      }

      .form-estudos-info h4 {
        font-size: 1.6em!important;
      }

      .media-content__preview {
        font-size: 92%;
      }

      .navbar-static__right a {
        margin: 0 0.5rem!important;
      }

      .navbar-static__right a img {
        width: 25px;
      }
    }

    .navbar-top-padding {
      padding-top: 8.5rem;
    }

    .navbar-static__right a {
      margin: 0 1rem;
    }
  
    .navbar-static__right {
      width: unset!important;
    }

    .orange-container {
      background-color: #FFC288;
    }

    .beige-container {
      background-color: #FCC288;
    }

    .contato-container {
      padding: 7rem 0;
    }

    .form-estudos-container {
      background-image: url(img/desktop-header-comunidade-de-estudos.png);
      padding: 8rem 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    
    .form-estudos-box {
      display: flex;
    }

    .form-estudos-box__child {
      flex: 50%;
    }

    .form-estudos-info {
      padding-top: 16%;
      margin-right: 3%;
    }

    .form-estudos-cadastro {
      margin-left: 3%;
    }

    .form-estudos-info h3 {
      font-weight: 900;
      color: #333333;
      font-size: 5rem;
      font-family: 'Raleway', sans-serif;
    }

    .form-estudos-info h4 {
      letter-spacing: 0.01em;
      color: #333333;
      font-weight: bold;
      font-size: 2em;
      line-height: 35px;
    }

    .form-estudos-cadastro {
      background: #FCFCFC;
      box-shadow: 10px 10px 12px rgba(134, 134, 134, 0.25);
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      padding: 4% 4.5%;
    }

    .form-estudos-container__title {
      color: #7B7B7B;
      font-weight: bold;
      text-align: center;
      font-size: 2.3rem;
    }

    .form-estudos-container__title span {
      color: #FF8008;
    }

    .form-estudos-container__form {
      display: flex;
      flex-direction: column;
    }

    .form-block {
      font-size: 1.5rem;
      padding: 0.7rem 0;
    }

    .form-block label {
      display: block;
      color: #FF8008;
      font-weight: 600;
    }

    .form-block .form-select, .form-block input, .form-block .form-options p {
      width: 100%;
      padding: 0.5rem;
      background-color: #F0F0F0;
      color: #757575;
    }

    .form-block input {
      border: 0;
      outline: 0;
    }

    .form-block .form-select {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }

    .form-block .btn img {
      height: 1.5rem;
      transition: transform 0.4s;
    }

    .form-block .btn {
      background-color: #F0F0F0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #757575;
      font-size: 1.5rem;
      outline: none;
      border-radius: unset;
    }

    .form-block .dropdown-menu {
      background-color: #E0E0E0;
      width: 100%;
      margin-top: 0;
      border-radius: unset;
      color: #50555C;
      font-size: 1.5rem;
    }

    .form-block .dropdown-menu li {
      padding: 0.5rem;
      cursor: pointer;
    }

    .form-block .dropdown-menu li:hover {
      background-color: #FF8008;
      color: #F2F2F2;
    }

    .form-block .btn:active > img,
    .form-block .btn:focus > img {
      transform: rotate(180deg);
    }

    .form-estudos-submit {
      background-color: #FF8008;
      border-radius: 58px;
      color: #F7F7F7;
      font-weight: bold;
      outline: none;
      border: 0;
      font-size: 2rem;
      padding: 0.7rem 0;
      margin-top: 2rem;
    }

    .whatsapp-box {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .whatsapp-box h3 {
      font-size: 4rem;
      font-weight: 900;
      color: #333333;
    }

    .whatsapp-box p {
      color: #4F4F4F;
      text-align: center;
    }

    .whatsapp-box p {
      font-size: 140%;
    }

    .btn-black {
      color: #fff;
      background-color: #333;
      border-color: #333;
      font-size: 120%;
      font-weight: bold;
      padding-left: 3.5rem;
      padding-right: 3.5rem;
      transition: 0.3s all;
    }

    .btn-black:hover {
      color: #333!important;
      background-color: #fff;
    }

    .btn-black:focus {
      color: #fff;
    }
  </style>
  <link href="/css/lib/flickity.min.css" rel="stylesheet" type="text/css" />
</head>
<body class="landing-campanha landing-campanha--online" style="font-family: 'Muli', sans-serif;">
  <%- pageData.scriptBody %>
  <div class="landing-campanha__wrapper">
    <nav class="navbar-static">
      <div class="container">
        <div class="navbar-static__content">
          <div class="navbar-static__left">
            <a class="navbar-static__logo-link" href="/">
              <img src="/img/colmeia_logo.png" alt="Aulas Colmeia Logo" class="navbar-static__logo-img" /></a>
          </div>
          <div class="navbar-static__right">
            <a
              target="_blank"
              href="https://www.instagram.com/aulascolmeia"
            >
              <img class="share__button" src="/img/orange-instagram.png" alt="Ícone do instagram para a página da Colmeia">
            </a>
            <a
                target="_blank"
                href="https://www.facebook.com/aulascolmeia/"
              >
              <img class="share__button" src="/img/orange-facebook.png" alt="Ícone do facebook para a página da Colmeia">
            </a>
            <a
              target="_blank"
              href="https://www.linkedin.com/company/colmeia-tecnologia"
            >
              <img class="share__button" src="/img/orange-linkedin.png" alt="Ícone do linkedin para a página da Colmeia">
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div class="navbar-top-padding"></div>
    <main class="form-estudos-container orange-container">
        <div class="container">
          <div class="form-estudos-box">
            <div class="form-estudos-info form-estudos-box__child">
              <h3>Comunidade de Estudos</h3>
              <h4>Cadastre-se e tenha acesso aos aulões de preparação para o ENEM e materiais criados pelos nossos professores</h4>
            </div>
            <div class="form-estudos-cadastro form-estudos-box__child">
              <h4 class="form-estudos-container__title">Preencha o formulário abaixo e tenha <span>acesso a comunidade</span></h4>
              <form class="form-estudos-container__form" id="form-comunidade-de-estudos">
                <div class="form-block">
                  <label for="name">Nome Completo</label>
                  <input id="name" placeholder="Nome Completo" type="text">
                </div>
                <div class="form-block">
                  <label for="phone">Telefone</label>
                  <input id="phone" placeholder="Telefone" type="text">
                </div>
                <div class="form-block">
                  <label for="email">E-mail</label>
                  <input id="email" placeholder="E-mail" type="text">
                </div>
                <div class="form-block">
                  <label for="lead">Estamos falando com a/o</label>
                  <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="lead" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Selecione abaixo
                      <img src="/img/arrow-down-dark.png" alt="seta de opções">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="lead">
                      <li>Estudante</li>
                      <li>Mãe</li>
                      <li>Pai</li>
                      <li>Outro responsável</li>
                    </ul>
                  </div>
                </div>
                <div class="form-block">
                  <label for="school">Qual escola frequenta?</label>
                  <input id="school" placeholder="Digite o nome da escola" type="text">
                </div>
                <div class="form-block">
                  <label for="school-year">Qual ano escolar está cursando?</label>
                  <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="school-year" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Selecione abaixo
                      <img src="/img/arrow-down-dark.png" alt="seta de opções">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="school-year">
                      <li>1º ano do ensino médio</li>
                      <li>2º ano do ensino médio</li>
                      <li>3º ano do ensino médio</li>
                      <li>Ensino médio completo</li>
                      <li>Ensino fundamental</li>
                    </ul>
                  </div>
                </div>
                <button
                  type="submit"
                  class="form-estudos-submit"
                >
                  Quero participar da comunidade
                </button>
              </form>
            </div>
          </div>
        </div>
    </main>
    <aside class="media-container dark-container">
      <div class="container">
        <div class="media-content-header">
          <h3>COLMEIA NA MÍDIA</h3>
        </div>
        <div class="media-content-carousel">
          <div class="media-content__block">
            <a class="media-internal-block" href="https://www.facebook.com/watch/?v=354154792224862" target="_blank">
              <div class="media-content__img">
                <img src="/img/dftv-media-content.png" alt="" class="media-content__img" />
              </div>
              <div class="media-content__imgcss" style="background-image: url(/img/dftv-media-content.png);"></div>
              <div class="media-content__metadados">
                <h3 class="media-content__source">DFTV</h3>
                <p class="media-content__preview">Aulão é dado pela internet e de graça</p>
              </div>
            </a>
          </div>
          <div class="media-content__block">
            <a class="media-internal-block" href="https://g1.globo.com/df/distrito-federal/noticia/2020/04/14/preparacao-para-o-enem-conheca-conteudos-gratuitos-criados-no-df-para-ajudar-estudantes-durante-pandemia.ghtml" target="_blank">
              <div class="media-content__img">
                <img src="/img/g1df-media-content.png" alt="" class="media-content__img" />
              </div>
              <div class="media-content__imgcss" style="background-image: url(/img/g1df-media-content.png);"></div>
              <div class="media-content__metadados">
                <h3 class="media-content__source">G1DF</h3>
                <p class="media-content__preview">Preparação para o Enem: conheça conteúdos gratuitos criados no DF para ajudar estudantes durante pandemia</p>
              </div>
            </a>
          </div>
          <div class="media-content__block">
            <a class="media-internal-block" href="https://www.correiobraziliense.com.br/app/noticia/eu-estudante/enem/2020/04/13/interna-enem-2019,844338/startup-de-reforco-escolar-ira-promover-auloes-on-line-para-o-enem.shtml?fbclid=IwAR15ZlAa6t-vMxWBUm-PyUD_N5Xfx0GJeWX_tsjdDRmtHjMUpWYH39MDszg" target="_blank">
              <div class="media-content__img">
                <img src="/img/correiobraz-media-content.png" alt="" class="media-content__img" />
              </div>
              <div class="media-content__imgcss" style="background-image: url(/img/correiobraz-media-content.png);"></div>
              <div class="media-content__metadados">
                <h3 class="media-content__source">CORREIO BRAZILIENSE</h3>
                <p class="media-content__preview">Startup de reforço escolar irá promover aulões on-line para o Enem</p>
              </div>
            </a>
          </div>
          <div class="media-content__block">
            <a class="media-internal-block" href="https://jornaldebrasilia.com.br/cidades/calendario-de-aulas-startup-de-reforco-escolar-promove-auloes-online-gratuitos-com-foco-no-enem/" target="_blank">
              <div class="media-content__img">
                <img src="/img/jornalbsb-media-content.png" alt="" class="media-content__img" />
              </div>
              <div class="media-content__imgcss" style="background-image: url(/img/jornalbsb-media-content.png);"></div>
              <div class="media-content__metadados">
                <h3 class="media-content__source">JORNAL DE BRASÍLIA</h3>
                <p class="media-content__preview">Calendário de aulas: startup de reforço escolar promove aulões online gratuitos com foco no Enem</p>
              </div>
            </a>
          </div>
          <div class="media-content__block">
            <a class="media-internal-block" href="https://www.metropoles.com/distrito-federal/startup-promove-auloes-on-line-gratuitos-com-foco-no-enem" target="_blank">
              <div class="media-content__img">
                <img src="/img/metropoles-media-content.png" alt="" class="media-content__img" />
              </div>
              <div class="media-content__imgcss" style="background-image: url(/img/metropoles-media-content.png);"></div>
              <div class="media-content__metadados">
                <h3 class="media-content__source">METRÓPOLES</h3>
                <p class="media-content__preview">Startup promove aulões on-line gratuitos com foco no Enem</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </aside>
    <aside class="contato-container beige-container" id="contato">
      <div class="container">
        <div class="whatsapp-box">
          <h3>CONTATO</h3>
          <p>Quer saber mais sobre nossos serviços? Clique abaixo.</p>
          <a class="btn btn-black" href="https://aulascolmeia.com.br/" target="_blank">
            <span>CONHEÇA A COLMEIA</span>
          </a>
        </div>
      </div>
    </aside>
    <footer class="footer-simple">
      <div class="container" style="
          padding: 5rem 0;
          display: flex;
          justify-content: center;
          align-items: center;
      ">
        <a href="/"><img src="/img/logo.png" alt="Aulas Colmeia Logo" style="height: 3rem;" /></a>
      </div>
    </footer>
  </div>
  <!-- build:js public/js/cadastrocomunidade.min.js-->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/lib/jquery.mask.min.js"></script>
  <script src="/js/lib/loadingoverlay.min.js"></script>
  <script src="/js/loading-indicator.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>
  <script src="/js/lib/flickity.pkgd.min.js"></script>
  <!-- endbuild -->
  <script>
    $(document).ready(() => {
  $('.media-content-carousel').flickity({
    contain: true,
    autoPlay: 3500,
    pauseAutoPlayOnHover: true,
    pageDots: false,
    watchCSS: true,
    wrapAround: true,
    cellAlign: 'left'
  });

  $(".dropdown-menu li").click(function() {
    const text = $(this).text();
    const button = $(this).parent().siblings();
    $(button).html(`${text} <img src="/img/arrow-down-dark.png" alt="seta de opções">`);
  })

  function setupMask() {
    function maskBehavior(val) {
      return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
    };

    const options = {
      onKeyPress: function(val, e, field, options) {
        field.mask(maskBehavior.apply({}, arguments), options);
      }
    };

    $('#phone').mask(maskBehavior, options);
  }

  setupMask();

  function handleComunityForm() {
    $('#form-comunidade-de-estudos').on('submit', function(event) {
      event.preventDefault();
  
      const name = $('#name').val().trim();
      const phone = $('#phone').cleanVal().trim();
      const email = $('#email').val().toLowerCase().trim();
      const leadType = $('button#lead').text().trim();
      const school = $('#school').val().trim();
      const schoolYear = $('#school-year').text().trim();
  
      function isFormDataValid() {
        const isFormComplete = [name, phone, email, school].every((field) => !!field);
        const areOptionsSelected = [leadType, schoolYear].every((option) => option.trim() !== 'Selecione abaixo');
  
        return [isFormComplete, areOptionsSelected].every((check) => !!check);
      }
  
      const phoneFormatCheck = phone.length >= 10;
      const emailFormatCheck = new RegExp(
        /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      );
  
      if (!emailFormatCheck.test(email)) {
        return alert('O email informato não é valido!');
      }
  
      if (!phoneFormatCheck) {
        return alert('O telefone informado não é valido!');
      }
  
      if (!isFormDataValid()) {
        return alert('Por favor, preencha todos os campos para ter acesso a comunidade');
      }
  
      let _navigator = {};
      for (let i in window.navigator) _navigator[i] = window.navigator[i];
  
      delete _navigator.plugins;
      delete _navigator.mimeTypes;
  
      $.ajax({
        url: '/landing-campanha',
        type: 'POST',
        data: {
          nome: name,
          telefone: `+55${phone}`,
          email,
          school,
          schoolYear,
          leadType,
          origin: 'LANDING-CADASTRO-COMUNIDADE-DE-ESTUDOS',
          navigator: JSON.stringify(_navigator),
          url: window.location.href
        }
      })
        .done((result) => {
          dataLayer.push({
            event: 'cadastroEnviado'
          });
  
          if (result.success) {
            alert(
              'Recebemos seu cadastro! Em breve você receberá um email com seu acesso a plataforma!\nNão se esqueça de conferir o spam ou a seção de promoções do seu email.'
            );
          } else if (result.message) {
            alert(result.message);
          }
  
          $(this).find('input').val('');
          $(this).find('.btn.dropdown-toggle').html('Selecione abaixo <img src="/img/arrow-down-dark.png" alt="seta de opções">');
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
          alert(
            'Desculpe, houve um erro ao receber suas informações. Por favor, tente novamente ou entre em contato conosco pelo WhatsApp (61) 9 9805-2073.'
          );
        });
    });
  }

  handleComunityForm();
});

  </script>
  <% include ./partials/ferramentas %> <% include ./partials/fbpixel %>
</body>
</html>