<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Acompanhamento Escolar | Aulas Colmeia</title>

    <!--tags-->
    <meta
      name="description"
      content="Aulas particulares de reforço escolar. Os melhores professores de Brasília e São Paulo no conforto de casa! Ensino personalizado, conheça o jeito Colmeia de acompanhamento escolar! Horários garantidos. Agende pelo aplicativo ou pelo site."
    />
    <meta
      name="keywords"
      content="colmeia, reforco, reforco escolar, acompanhamento, escola, aulas particulares, aula particular"
    />
    <meta name="robots" content="index" />
    <meta
      property="og:image"
      content="https://www.aulascolmeia.com.br/img/page_description_img.png"
    />

    <!--icon-->
    <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32" />

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />

    <!-- build:css public/css/new-acompanhamento.min.css -->
    <link href="/css/lib/flickity.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <!-- endbuild -->

    <% include ./partials/user %> <% include ./partials/woopra %> <% include
    ./partials/analytics_header %> <% include ./partials/onesignal %>
  </head>

  <body>
    <%- include('partials/new/whatsapp') %> <%- include('partials/new/navbar') %>

    <!-- <%- include('partials/new/section-discount') %>  -->

    <header class="header-campaign header-campaign--acompanhamento">
      <div class="container">
        <div class="header-campaign__content">
          <h1 class="heading-campaign heading-campaign--line u-margin-bottom-s">
            Incentivar o hábito dos estudos é a certeza de melhores resultados na escola.
          </h1>
        </div>
      </div>
    </header>

    <section class="service u-padding-vertical-m">
      <div class="container">
        <h2 class="heading-section-small u-margin-bottom-m text-center">
          Serviço de aulas diferente
        </h2>
        <div class="service__container">
          <div class="service__block">
            <div class="service__number">01</div>
            <h4 class="service__title">Entendemos a sua necessidade</h4>
            <p class="service__text">
              Nossa equipe pedagógica está preparada para conversar com você e orientá-lo sobre o
              plano de estudos mais adequado para sua realidade.
            </p>
          </div>
          <div class="service__block">
            <div class="service__number">02</div>
            <h4 class="service__title">Seu melhor professor</h4>
            <p class="service__text">
              Conectamos você ao professor de reforço que mais se encaixa com a sua rotina e o
              perfil do seu filho(a).
            </p>
          </div>

          <div class="service__block">
            <div class="service__number">03</div>
            <h4 class="service__title">Autonomia para você</h4>
            <p class="service__text">
              É possível fazer mudanças no agendamento de qualquer aula com 4 horas de antecedência
              sem custo adicional.
            </p>
          </div>

          <div class="service__block">
            <div class="service__number">04</div>
            <h4 class="service__title">Sem taxas de cancelamento</h4>
            <p class="service__text">
              Nossos pacotes de aulas não cobram taxa de cancelamento. A única coisa que te prende a
              Colmeia é nosso bom serviço.
            </p>
          </div>
        </div>
      </div>
    </section>

    <%- include('partials/new/section-cta-black') %>

    <section class="advantage advantage--acompanhamento u-margin-bottom-xs">
      <div class="container">
        <div class="advantage__card">
          <div class="advantage__left"></div>
          <div class="advantage__right">
            <div class="advantage__block">
              <img src="/img/acompanhamento-ribbon.png" alt="" class="advantage__img" />
              <div class="advantage__block-content">
                <div class="advantage__title">Professores capacitados</div>
                <div class="advantage__text">
                  Professores com capacitação para ensinar alunos com TDAH, hiperatividade e
                  dislexia.
                </div>
              </div>
            </div>
            <div class="advantage__block">
              <img src="/img/acompanhamento-hat.png" alt="" class="advantage__img" />
              <div class="advantage__block-content">
                <div class="advantage__title">Progresso rápido</div>
                <div class="advantage__text">
                  Já no primeiro mês de acompanhamento percebemos melhora significativa no
                  rendimento escolar de nossos alunos.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('partials/new/section-clients') %>

    <section class="manage u-padding-vertical-l">
      <div class="container">
        <div class="grid grid--pad-0 grid--center">
          <div class="col-2">
            <h2 class="heading-section heading-section--underline u-margin-bottom-m">
              Acompanhe <br />
              as aulas
            </h2>

            <p class="p">
              Encontramos o melhor professor particular para sua necessidade.
            </p>
          </div>

          <div class="col-4">
            <img
              src="/img/phone-circles-acompanhamento.png"
              alt="Aulas Colmeia gerencie pelo aplicativo de celular"
              class="manage__img"
            />
          </div>

          <div class="col-2">
            <div class="heading-small text-orange u-margin-bottom-xs">
              Chat direto com o professor
            </div>
            <p class="p p--s u-margin-bottom-l">
              Envie mensagens para seu professor para alinhar o conteúdo, compartilhar localização e
              saber como está o acompanhamento do seu filho durante a aula.
            </p>
            <div class="heading-small text-orange u-margin-bottom-xs">
              Converse com seu professor
            </div>
            <p class="p p--s">
              Tenha um canal direto para conhecer os tutores, alinhar conteúdo e saber como está o
              aproveitamento do seu filho nas aulas.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="form form--campaign u-padding-vertical-m js-cta-target">
      <div class="container container--s">
        <div class="form__card">
          <div class="form__left">
            <div class="form__title">Converse com</div>
            <div class="form__subtitle">Nossa equipe</div>
          </div>
          <form class="form__right" id="form-contact">
            <label for="name" class="form__label">Nome</label>
            <input
              type="text"
              class="form__input form__input--name"
              name="name"
              placeholder="Nome"
              id="name"
            />

            <label for="email" class="form__label">Email</label>
            <input
              type="email"
              class="form__input form__input--email"
              name="email"
              placeholder="Email"
              id="email"
            />

            <label for="phone" class="form__label">Celular</label>
            <input
              type="text"
              class="form__input form__input--phone"
              name="phone"
              placeholder="Celular"
              id="phone"
            />

            <div class="form__button-container">
              <button class="button button--s">Solicitar</button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <%- include('partials/new/footer')%>
  </body>

  <!-- build:js public/js/new-acompanhamento.min.js defer-->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/lib/jquery.easing.min.js"></script>
  <script src="/js/lib/jquery.mask.min.js"></script>

  <script src="/js/lib/loadingoverlay.min.js"></script>

  <script src="/js/loading-indicator.js"></script>

  <script src="/js/lib/flickity.pkgd.min.js"></script>

  <script src="/js/constantes.js"></script>

  <script src="/js/new-navbar.js"></script>

  <script src="/js/new-acompanhamento.js"></script>

  <!-- endbuild -->

  <% include ./partials/ferramentas %> <% include ./partials/fbpixel %>
</html>
