<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Calculadora do PAS | Aulas Colmeia</title>

    <!--tags-->
    <meta
      name="description"
      content="Calcule o seu argumento final para o PAS UnB com a Calculadora feita pela Colmeia. Basta inserir suas notas para simular seu argumento final."
    />
    <meta
      name="keywords"
      content="pas, unb, calculadora, nota corte, nota de corte, vestibular, colmeia, reforco, reforco escolar, aula particular"
    />
    <meta name="robots" content="index" />
    <meta
      property="og:image"
      content="https://www.aulascolmeia.com.br/img/page_description_img.png"
    />

    <!--icon-->
    <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32" />

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />

    <!-- build:css public/css/new-calculadora.min.css -->
    <link href="/css/lib/flickity.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <!-- endbuild -->

    <% include ./partials/user %> <% include ./partials/woopra %> <% include
    ./partials/analytics_header %> <% include ./partials/onesignal %>
  </head>

  <body class="calculadora-page">
    <%- include('partials/new/whatsapp') %> <%- include('partials/new/navbar') %>

    <div class="modal">
      <input id="modal-toggle" type="checkbox" />
      <label class="modal__backdrop" for="modal-toggle"></label>
      <div class="modal__content">
        <label class="modal__close" for="modal-toggle">&#x2715;</label>

        <div class="calculadora-modal">
          <div class="calculadora-modal__left">
            <div class="grade">
              <div class="grade__title">Argumento estimado</div>
              <div class="grade__value">--</div>
              <div class="grade__error"></div>
            </div>
          </div>
          <div class="calculadora-modal__right">
            <h3 class="calculadora-modal__title">
              O que dá pra cursar com esse argumento?
            </h3>

            <p class="calculadora-modal__subtitle">
              Vamos te enviar um e-mail com a lista de todos os cursos que você poderia cursar com
              seu argumento.
            </p>

            <form class="calculadora-modal__form">
              <label class="calculadora-modal__label">Nome</label>
              <input
                type="text"
                class="calculadora-modal__input calculadora-modal__input--nome"
                placeholder="Nome"
              />

              <label class="calculadora-modal__label">Email</label>
              <input
                type="email"
                class="calculadora-modal__input calculadora-modal__input--email"
                placeholder="Email"
              />

              <label class="calculadora-modal__label">Celular</label>
              <input
                type="text"
                class="calculadora-modal__input calculadora-modal__input--celular"
                placeholder="Celular"
              />

              <label class="calculadora-modal__label">Ano escolar</label>

              <select class="calculadora-modal__input calculadora-modal__input--ano">
                <option value="1">1º ano médio</option>
                <option value="2">2º ano médio</option>
                <option value="3">3º ano médio</option>
              </select>

              <label class="calculadora-modal__label">Escola</label>

              <select class="calculadora-modal__input calculadora-modal__input--escola"></select>

              <div class="calculadora-modal__termos">
                <input type="checkbox" name="termos" id="termos" />
                <label for="termos" class="calculadora-modal__termos-label"
                  >Concordo com os <a href="/Termos-de-Uso-Colmeia.pdf">termos de uso</a> da
                  Colmeia.</label
                >
              </div>

              <div class="calculadora-modal__button-container">
                <button class="button">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <header class="header">
      <div class="header__bg">
        <div class="container">
          <h1 class="header__title">
            Calculadora do PAS
          </h1>
          <h1 class="header__subtitle">
            Insira suas notas do PAS 1, 2 e 3 e estime seu argumento final
          </h1>
        </div>
      </div>

      <div class="container container--s">
        <div class="grid grid--pad-xs grid--center pas-grid">
          <div class="col">
            <div class="pas-block" id="pas1">
              <h4 class="pas-block__title">PAS 1</h4>
              <div class="pas-block__row">
                <label for="" class="pas-block__label">Idioma</label>
                <select class="pas-block__input pas-block__input--idioma">
                  <option>Inglês</option>
                  <option>Espanhol</option>
                  <option>Francês</option>
                </select>
              </div>
              <div class="pas-block__row">
                <label for="" class="pas-block__label">Redação</label>
                <input type="text" class="pas-block__input pas-block__input--redacao" />
              </div>
              <div class="pas-block__row">
                <label for="" class="pas-block__label">Esc. Bruto</label>
                <input type="text" class="pas-block__input pas-block__input--escore" />
              </div>
            </div>
          </div>
          <div class="col">
            <div class="pas-block" id="pas2">
              <h4 class="pas-block__title">PAS 2</h4>
              <div class="pas-block__row">
                <label for="" class="pas-block__label">Idioma</label>
                <select class="pas-block__input pas-block__input--idioma">
                  <option>Inglês</option>
                  <option>Espanhol</option>
                  <option>Francês</option>
                </select>
              </div>
              <div class="pas-block__row">
                <label for="" class="pas-block__label">Redação</label>
                <input type="text" class="pas-block__input pas-block__input--redacao" />
              </div>
              <div class="pas-block__row">
                <label for="" class="pas-block__label">Esc. Bruto</label>
                <input type="text" class="pas-block__input pas-block__input--escore" />
              </div>
            </div>
          </div>
          <div class="col">
            <div class="pas-block" id="pas3">
              <h4 class="pas-block__title">PAS 3</h4>
              <div class="pas-block__row">
                <label for="" class="pas-block__label">Idioma</label>
                <select class="pas-block__input pas-block__input--idioma">
                  <option>Inglês</option>
                  <option>Espanhol</option>
                  <option>Francês</option>
                </select>
              </div>
              <div class="pas-block__row">
                <label for="" class="pas-block__label">Redação</label>
                <input type="text" class="pas-block__input pas-block__input--redacao" />
              </div>
              <div class="pas-block__row">
                <label for="" class="pas-block__label">Esc. Bruto</label>
                <input type="text" class="pas-block__input pas-block__input--escore" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container container--xs">
        <button class="button button--black u-margin-top-m calculadora-modal__button">
          Calcular minha nota
        </button>
      </div>
    </header>

    <a class="banner-aulao-online" href="https://aulascolmeia.com.br/cadastro-comunidade-estudos?utm_campaign=home_site-lp-inbound_cadastro_comunidade&utm_medium=org&utm_source=home_site&utm_content=comunidade&utm_term=home_banner" target="_blank"></a>

    <%- include('partials/new/section-cta-black') %>

    <section class="pas-text u-padding-vertical-xl">
      <div class="container">
        <div class="container--xs container container--left">
          <h3 class="heading-section-small u-margin-bottom-m">
            Se preparando para o PAS <br />
            com a Colmeia
          </h3>
          <p class="p">
            O PAS é a maneira mais fácil de entrar na UnB. Proporcionalmente o número de candidatos
            por vaga é muito menor que o Vestibular tradicional ou ENEM. <br /><br />
            Por isso, vale a pena investir em uma preparação que esteja alinhada com o objetivo de
            cada aluno. Com ritmo e foco nas matérias de acordo com a sua necessidade individual.
            <br /><br />
            Quer saber como está a nota de corte e a concorrencia de todos os cursos? <br />
            <br /><br />
            <a
              class="pas-text__link"
              href="http://www.cespe.unb.br/pas/arquivos/Boletim%20Informativo%20PAS%202016_re3.pdf"
              >Confira aqui o Boletim informativo do ultimo PAS.</a
            >
          </p>
        </div>
      </div>
    </section>

    <%- include('partials/new/section-clients') %>

    <section class="manage u-padding-vertical-l">
      <div class="container">
        <div class="grid grid--pad-0 grid--center">
          <div class="col-3">
            <h2 class="heading-section heading-section--underline u-margin-bottom-m">
              Gerencie <br />
              pelo app
            </h2>

            <p class="p">
              Tenha autonomia total, controle tudo na ponta dos dedos.
            </p>
          </div>

          <div class="col-6">
            <img
              src="/img/phone-circles.png"
              alt="Aulas Colmeia gerencie pelo aplicativo de celular"
              class="manage__img"
            />
          </div>

          <div class="col-3">
            <div class="heading-small text-orange u-margin-bottom-xs">
              Agende aulas quando quiser
            </div>
            <p class="p p--s u-margin-bottom-l">
              Que tal focar aproveitar e focar NAQUELA matéria que você sabe que vai cair mas ainda
              não está 100%? Mantenha seu score lá em cima agendando sua aula de revisão agora.
            </p>
            <div class="heading-small text-orange u-margin-bottom-xs">
              Converse com seu professor
            </div>
            <p class="p p--s">
              Envie mensagens para o seu professor alinhando conteúdo, compartilhando a localização
              e saber como está o comportamento do seu filho(a) durante a aula.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="form form--campaign u-padding-vertical-m js-cta-target">
      <div class="container container--s">
        <div class="form__card">
          <div class="form__left" style="text-transform: unset;">
            <div class="form__title">Para agendar aulas particulares, entre em contato com a</div>
            <div class="form__subtitle">nossa equipe.</div>
          </div>
          <form class="form__right" id="form-contact">
            <label for="name" class="form__label">Nome</label>
            <input
              type="text"
              class="form__input form__input--name"
              name="name"
              placeholder="Nome"
              id="name"
            />

            <label for="email" class="form__label">Email</label>
            <input
              type="email"
              class="form__input form__input--email"
              name="email"
              placeholder="Email"
              id="email"
            />

            <label for="phone" class="form__label">Celular</label>
            <input
              type="text"
              class="form__input form__input--phone"
              name="phone"
              placeholder="Celular"
              id="phone"
            />

            <div class="form__button-container">
              <button class="button button--s">Solicitar</button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <%- include('partials/new/footer')%>
  </body>

  <!-- build:js public/js/new-calculadora.min.js defer-->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/lib/jquery.easing.min.js"></script>
  <script src="/js/lib/jquery.mask.min.js"></script>

  <script src="/js/lib/flickity.pkgd.min.js"></script>

  <script src="/js/constantes.js"></script>

  <script src="/js/new-navbar.js"></script>

  <script src="/js/new-calculadora.js"></script>

  <!-- endbuild -->

  <% include ./partials/ferramentas %> <% include ./partials/fbpixel %>
</html>
