<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Aulas Colmeia | Agendar Aula</title>

    <!--tags-->
    <meta
      name="description"
      content="Aulas particulares de reforço escolar. Os melhores professores de Brasília e São Paulo no conforto de casa! Ensino personalizado, conheça o jeito Colmeia de acompanhamento escolar! Horários garantidos. Agende pelo aplicativo ou pelo site."
    />
    <meta
      name="keywords"
      content="colmeia, reforco, reforco escolar, acompanhamento, escola, aulas particulares, aula particular"
    />
    <meta name="robots" content="index" />
    <meta
      property="og:image"
      content="https://www.aulascolmeia.com.br/img/page_description_img.png"
    />

    <!--icon-->
    <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32" />

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />

    <!-- build:css public/css/new-agendamento.min.css -->
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <!-- endbuild -->

    <% include ./partials/user %> <% include ./partials/woopra %> <% include
    ./partials/analytics_header %> <% include ./partials/onesignal %>
  </head>

  <body class="agendamento">
    <%- include('partials/new/whatsapp') %>

    <nav class="navbar-static">
      <div class="container">
        <div class="navbar-static__content">
          <div class="navbar-static__left">
            <a class="navbar-static__logo-link" href="/">
              <img
                src="/img/colmeia_logo.png"
                alt="Aulas Colmeia Logo"
                class="navbar-static__logo-img"
            /></a>
          </div>
          <div class="navbar-static__right">(61) 9 9805-2073</div>
        </div>
      </div>
    </nav>

    <div class="agendamento__content">
      <!-- <div class="container container--s agendamento__screen agendamento__screen--1">
        <h2 class="agendamento__title">Gostaria de buscar aulas de que matéria?</h2>
        <select name="" id="" class="agendamento__select agendamento__select--materia"
          ><option value="das">asds</option></select
        >
        <div class="grid">
          <div class="col-1">
            <button class="agendamento__button agendamento__button--next">Continuar</button>
          </div>
        </div>
      </div> -->

      <!-- <div class="container container--s agendamento__screen agendamento__screen--2">
        <h2 class="agendamento__title">Qual é a escola e o ano escolar?</h2>

        <label for="" class="agendamento__label">Escola</label>
        <input type="text" class="agendamento__input" placeholder="Escola" />

        <label for="" class="agendamento__label">Ano Escolar</label>
        <select name="" id="" class="agendamento__select agendamento__select--ano"
          ><option value="das">Ano</option></select
        >

        <div class="grid">
          <div class="col-1">
            <button class="agendamento__button agendamento__button--previous">Voltar</button>
          </div>
          <div class="col-1">
            <button class="agendamento__button agendamento__button--next">Continuar</button>
          </div>
        </div>
      </div> -->

      <div class="container container--s agendamento__screen agendamento__screen--3">
        <h2 class="agendamento__title">Seu filho precisa de um ensino diferenciado?</h2>

        <label class="agendamento__radio">
          Sim
          <input type="radio" name="radio-especial" value="true" />
          <span class="agendamento__radio-check"></span>
        </label>

        <label class="agendamento__radio">
          Não
          <input type="radio" name="radio-especial" value="false" />
          <span class="agendamento__radio-check"></span>
        </label>

        <label for="" class="agendamento__label">Qual?</label>
        <select name="" id="" class="agendamento__select agendamento__select--transtorno"
          ><option value="das">TDH</option></select
        >

        <div class="grid">
          <div class="col-1">
            <button class="agendamento__button agendamento__button--previous">Voltar</button>
          </div>
          <div class="col-1">
            <button class="agendamento__button agendamento__button--next">Continuar</button>
          </div>
        </div>
      </div>

      <div class="container container--s agendamento__screen agendamento__screen--4">
        <h2 class="agendamento__title">Qual a disponibilidade do seu filho?</h2>

        <label for="" class="agendamento__label">Qual?</label>
        <select name="" id="" class="agendamento__select agendamento__select--transtorno"
          ><option value="das">TDH</option></select
        >

        <div class="grid">
          <div class="col-1">
            <button class="agendamento__button agendamento__button--previous">Voltar</button>
          </div>
          <div class="col-1">
            <button class="agendamento__button agendamento__button--next">Continuar</button>
          </div>
        </div>
      </div>

      <!-- <div class="agendamento__screen agendamento__screen--2"></div>
      <div class="agendamento__screen agendamento__screen--3"></div>
      <div class="agendamento__screen agendamento__screen--4"></div>
      <div class="agendamento__screen agendamento__screen--5"></div>
      <div class="agendamento__screen agendamento__screen--6"></div>
      <div class="agendamento__screen agendamento__screen--7"></div> -->
    </div>

    <footer class="footer-simple">
      <div class="container">
        <div class="footer-simple__content">
          <img src="/img/logo.png" alt="Aulas Colmeia Logo" class="footer-simple__logo" />
          <p class="footer-simple__text">Whatsapp (61) 9 9805-2073</p>
        </div>
      </div>
    </footer>
  </body>

  <!-- build:js public/js/new-agendamento.min.js defer-->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/lib/jquery.easing.min.js"></script>
  <script src="/js/lib/jquery.mask.min.js"></script>
  <script src="/js/mobilechecker.js"></script>

  <script src="/js/lib/loadingoverlay.min.js"></script>

  <script src="/js/loading-indicator.js"></script>

  <script src="/js/constantes.js"></script>

  <script src="/js/new-agendamento.js"></script>

  <!-- endbuild -->

  <% include ./partials/ferramentas %> <% include ./partials/fbpixel %>
</html>
