<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Acompanhamento escolar | Colmeia</title>

    <!--tags-->
    <meta name="description" content="Saiba mais sobre sobre pacotes de aulas e o acompanhando escolar oferecido pela Colmeia. Agende aulas pelo aplicativo ou pelo site com segurança no conforto da sua casa.">
    <meta name="keywords" content="colmeia, aulas, pacotes, pacote de aulas, aula particular, reforco, reforco escolar, acompanhamento escolar">
    <meta name="robots" content="index">
    <meta property="og:image" content="https://www.aulascolmeia.com.br/img/page_description_img.png">

    <!--icon-->
    <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32">

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,500,700" rel="stylesheet">

    <!-- build:css public/css/pacotes.min.css -->
    <!--libs-->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!--styles-->
    <link href="/css/new/modules/colmeia-button.css" rel="stylesheet" type="text/css">
    <link href="/css/pacotes.css" rel="stylesheet" type="text/css">
    <!-- white-navbar-styles -->
    <link href="/css/white-navbar.css" rel="stylesheet">
    <link href="/css/dropdown-menu.css" rel="stylesheet">
    <!-- endbuild -->

    <% include ./partials/user %>
    <% include ./partials/woopra %>
    <% include ./partials/analytics_header %>
    <% include ./partials/onesignal %>

	</head>

  <body>

    <div id="particles-js"></div>
    <% include ./partials/white-navbar %>

    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="pacote-img"><img src="/img/pacote-img.png" alt="Aulas Colmeia acompanhamento escolar aluno em casa reforço"></div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div class="pacote-title">Acompanhamento personalizado</div>
                    <hr class="pacote-divider">
                    <div class="pacote-subtitle">
                        A Colmeia não vende pacotes prontos! Nosso acompanhamento é elaborado de acordo com a <strong>necessidade de cada aluno</strong>.
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div class="colmeia-button button-filled" id="call-to-action">Marcar acompanhamento</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="vantagens">
        <div class="container">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="vantagens-main-title section-title title-black">
                  Vantagens
                </div>
              </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md 3">
                    <div class="vantagem-block">
                        <div class="vantagem-img-container">
                            <img src="/img/pacote-teacher.png" alt="Aulas Colmeia reforço escolar vantagem" class="vantagem-img">
                        </div>
                        <div class="vantagem-title">
                            Pacotes personalizados
                        </div>
                        <div class="vantagem-subtitle">
                            O acompanhamento é montado com base nas afinidades e dificuldades do aluno.
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md 3">
                    <div class="vantagem-block">
                        <div class="vantagem-img-container">
                            <img src="/img/pacote-clock.png" alt="Aulas Colmeia reforço escolar vantagem" class="vantagem-img">
                        </div>
                        <div class="vantagem-title">
                            Horários garantidos
                        </div>
                        <div class="vantagem-subtitle">
                            Os horários das aulas do acompanhamento serão reservados semanalmente para você.
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md 3">
                    <div class="vantagem-block">
                        <div class="vantagem-img-container">
                            <img src="/img/pacote-ranking.png" alt="Aulas Colmeia reforço escolar vantagem" class="vantagem-img">
                        </div>
                        <div class="vantagem-title">
                            Professores selecionados
                        </div>
                        <div class="vantagem-subtitle">
                            A Colmeia seleciona os melhores professores da sua cidade com um processo seletivo muito rigoroso.
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md 3">
                    <div class="vantagem-block">
                        <div class="vantagem-img-container">
                            <img src="/img/pacote-check.png" alt="Aulas Colmeia reforço escolar vantagem" class="vantagem-img">
                        </div>
                        <div class="vantagem-title">
                            Análise da evolução
                        </div>
                        <div class="vantagem-subtitle">
                            Quinzenalmente enviamos para você um retorno sobre o rendimento das aulas.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="descontos">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="descontos-title section-title title-black">
                        Descontos
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-md-10 col-lg-offset-1 col-lg-offset-1">
                    <div class="row">
                        <div class="col-lg-4 col-md-4"> 
                            <div class="discount-card">
                                <div class="discount-title">5%</div>
                                <div class="discount-name">Plano mensal</div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="discount-card">
                                <div class="discount-title">10%</div>
                                <div class="discount-name">Plano bimestral ou trimestral</div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="discount-card">
                                <div class="discount-title">15%</div>
                                <div class="discount-name">Plano semestral</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contato">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
                    <div class="form-title section-title title-black"> Gostou do nosso serviço? </div>
                    <div class="form-subtitle">Insira seus dados e entraremos em contato!</div>
                    <div class="form-container">
                        <form action="/acompanhamento-escolar" method="POST">
                            <div class="form-group">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control" id="nome" placeholder="Inserir nome" name="nome">
                            </div>
                            <div class="form-group">
                                <label for="telefone">Telefone</label>
                                <input type="text" class="form-control" id="telefone" placeholder="Inserir telefone" name="telefone">
                            </div>
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
                                    <button type="submit" class="colmeia-button button-filled">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <% include ./partials/footer %>

  </body>

  <!-- build:js public/js/pacotes.min.js -->
  <!-- white-navbar-scripts -->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/mobilechecker.js"></script>
  <script src="/js/mobile-sidebar.js"></script>
  <script src="/js/navbar.js"></script>

  <!--libs-->
  <script src="/js/lib/jquery.easing.min.js" ></script>
  <script src="/js/lib/loadingoverlay.min.js" ></script>
  <script src="/js/loading-indicator.js" ></script>
  <script src="/js/lib/bootstrap.min.js" ></script>
  <script src="/js/lib/particles.min.js"></script>

  <!--scripts-->
  <script src="/js/pacotes.js" ></script>
  <!-- endbuild -->

  <% include ./partials/ferramentas %>
  <% include ./partials/fbpixel %>

</html>
