<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Perfil | Colmeia</title>

    <!--icon-->
    <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32">

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">

    <!-- build:css public/css/perfil.min.css -->
    <!--libs-->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--styles-->
    <link href="/css/new/modules/colmeia-button.css" rel="stylesheet">
    <link href="/css/perfil.css" rel="stylesheet" type="text/css">
    <!-- white-navbar-styles -->
    <link href="/css/orange-navbar.css" rel="stylesheet">
    <link href="/css/dropdown-menu.css" rel="stylesheet">
    <!-- endbuild -->

    <% include ./partials/user %>
    <% include ./partials/woopra %>
    <% include ./partials/analytics_header %>
    <% include ./partials/onesignal %>
    
	</head>

  <body id="page-top">

  <% include ./partials/orange-navbar %>

  <nav class="sub-nav">
    <div class="container" style="position: relative;">
            <a class="mode-toggle" href="javascript:void(0)">Perfil</a>
            <!-- <a class="agendar-plus" href="/"></a>
            <div class="mode-selector">
                <a href="/aluno/agenda">Agenda</a>
                <a href="/aluno/historico">Histórico</a>
            </div> -->
    </div>
  </nav>

  <section id="main">
    <div class="container">
        <div class="perfil-container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="perfil-img-box">
                                <img class="perfil-img" src="" alt="Foto de Perfil">
                            </div>
                            <form id='form-foto' method='POST' enctype='multipart/form-data' display: hidden>
                                <input name='foto' type='file'>
                            </form>
                        </div>
                        <div class="col-lg-8 col-md-8">
                            <div class="perfil-container-right">
                                <h1 class="aluno-nome"></h1>
                                <p class="aluno-email"></p>
                                <p class="aluno-telefone"></p>

                                <h2 class="perfil-header" id="cartoes-header">
                                    Forma de pagamento
                                </h2>

                                <div class="cartoes-container">

                                </div>

                                <div id="novo-cartao" display: hidden>

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <label for="input-cartaonu">Número do cartão</label>
                                                <input type="text" class="form-control" id="input-cartaonu">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <label for="input-nome">Nome</label>
                                                <input type="text" class="form-control" id="input-nome">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="input-cpf">CPF</label>
                                                <input type="text" class="form-control" id="input-cpf">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label for="input-nascimento">Data de nascimento</label>
                                                <input type="text" class="form-control" id="input-nascimento">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4 col-md-4">
                                            <label>Mês de validade</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="input-mes">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <label>Ano de validade</label>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="input-ano">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="form-group">
                                                <label for="input-seguranca">Cod. Segurança</label>
                                                <input type="text" class="form-control" id="input-seguranca">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="colmeia-button button-orange">
                                                Voltar
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="colmeia-button button-filled">
                                                Adicionar
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h2 class="perfil-header" id="enderecos-header">Meus endereços</h2>

                                <div class="enderecos-container">

                                </div>

                                <div id="novo-endereco" display: hidden>
                                
                                    <div class="row">
                                        <div class="col-lg-8 col-md-8">
                                            <div class="form-group">
                                                <label for="select-bairro">Bairro</label>
                                                <select class="form-control" id="select-bairro">
                                                    <option>--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="form-group">
                                                <label for="select-cidade">Cidade</label>
                                                <select class="form-control" id="select-cidade">
                                                    <option>--</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                
                                
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <label for="input-endereco">Endereco</label>
                                                <input type="text" class="form-control" id="input-endereco">
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="row">
                                        <div class="col-lg-8 col-md-8">
                                            <div class="form-group">
                                                <label for="input-complemento">Complemento</label>
                                                <input type="text" class="form-control" id="input-complemento">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="form-group">
                                                <label for="input-numero">Número</label>
                                                <input type="text" class="form-control" id="input-numero">
                                            </div>
                                        </div>
                                    </div>
                                
                                
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="colmeia-button button-orange">
                                                Voltar
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="colmeia-button button-filled">
                                                Adicionar
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

  <% include ./partials/footer %>

  </body>

  <!-- build:js public/js/perfil.min.js -->
  <!-- white-navbar-scripts -->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/mobilechecker.js"></script>
  <script src="/js/mobile-sidebar.js"></script>
  <script src="/js/navbar-orange.js"></script>
  <!--libs-->
  <script src="/js/lib/bootstrap.min.js" ></script>
  <script src="/js/lib/jquery.easing.min.js" ></script>
  <script src="/js/lib/loadingoverlay.min.js" ></script>
  <script src="/js/lib/jquery.mask.min.js"></script>
  <script src="/js/loading-indicator.js" ></script>
  <script src="/js/lib/particles.min.js"></script>
  <script src="/js/lib/moment/moment.min.js"></script>
  <script src="/js/lib/moment/moment-timezone.js"></script>
  <script src="/js/lib/moment/locale/pt-br.js"></script>
  <script src="/js/lib/moip.min.js"></script>
  <script src="/js/lib/node-rsa-browser.js"></script>
  <script src="/js/constantes.js"></script>

  <!--scripts-->
  <script src="/js/perfil.js"></script>
  <!-- endbuild-->

  <% include ./partials/ferramentas %>
  <% include ./partials/fbpixel %>
</html>
