<!DOCTYPE html>
<html lang="pt">
  <head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Resultados | Aulas Colmeia</title>
    <meta name="description" content="Reforço escolar com os melhores professores de Brasília e Goiânia. Agende pelo aplicativo ou pelo site e tenha aulas com segurança no conforto da sua casa."> 

    <meta property="og:title" content="Aulas Colmeia | resultados da busca" />
    <meta property="og:description" content="Reforço escolar com os melhores professores de Brasília e Goiânia. Agende pelo aplicativo ou pelo site e tenha aulas com segurança no conforto da sua casa." />
    <meta property="og:image" content="https://aulascolmeia.com.br/img/page_description_img.png" />

    <!-- icon -->
    <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700" rel="stylesheet">

    <!-- build:css public/css/professores-interno.min.css -->
    <!-- libs -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- styles -->
    <link href="/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="/css/new/modules/colmeia-button.css" rel="stylesheet">
    <link href="/css/lib/select2.min.css" rel="stylesheet">
    <link href="/css/professores-interno.css" rel="stylesheet">
    <!-- white-navbar-styles -->
    <link href="/css/white-navbar.css" rel="stylesheet">
    <link href="/css/dropdown-menu.css" rel="stylesheet">
    <link href="/css/partials/filter.css" rel="stylesheet">
    <!-- endbuild -->


    <script>
      var precos = <%- JSON.stringify(precos) %>;
    </script>

    <% include ./partials/user %>
    <% include ./partials/woopra %>
    <% include ./partials/analytics_header %>
    <% include ./partials/onesignal %>

  </head>

  <body>
    <% include ./partials/white-navbar %>
    <div id="particles-js"></div>

    <section id="main">
        <div class="container" style="min-height: 800px;">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                  <div class="row">
                  <div class="col-lg-12 col-md-12">
                      <div class="info-container">
                          
                        <img src="/img/header-logo.png" alt="Aulas Colmeia Logo Principal" class="header-img">
      
                          <div class="filter-container">
                              <div class="filter_container">
                                  <div class="row">
                                    <div class="col-lg-12">
                                      <div id="escolher-aula-container">
                                        <form id="formBusca">
                      
                                          <input type="hidden" name="topico" id="valueTopico">
                                          <input type="hidden" name="tipo" id="valueTipo">
                      
                                          <div class="row">
                                            <div class="col-lg-2 col-md-2">
                                              <label for="inputCidade" display: hidden>Cidade</label>
                                              <select name="cidade" class="form-control" id="inputCidade">
                                              </select>
                                            </div>
                                            <div class="col-lg-3 col-md-3 ">
                                                <label for="inputCidade" display: hidden>Bairro</label>
                                              <select name="bairro" class="form-control" id="inputBairro" style="width: 100%">
                                              </select>
                                            </div>
                                            <div class="col-lg-2 col-md-2 ">
                                                <label for="inputMateria" display: hidden>Matéria</label>
                                                <select class="form-control" id="inputMateria">
                                              </select>
                                            </div>
                                            <div class="col-lg-3 col-md-3 ">
                                                <label for="inputNivel" display: hidden>Nível</label>
                                              <select name="nivel" class="form-control" id="inputNivel">
                                              </select>
                                            </div>
                                            <div class="col-lg-2 col-md-2" style="padding-left: 0; padding-right: 0">
                                              <input type='button' class="colmeia-button button-orange" id="send" value="Buscar Aulas">
                                            </div>
                                          </div>
                                        </form>
                      
                                      </div>
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
      
              <div class="row" style="margin-bottom: 60px;">
              <div class="col-lg-4 col-md-4 col-lg-push-8 col-md-push-8">
                <div class="mobile-controller" display: hidden>
                    <div class="mobile-title">Escolha seu professor</div>
                    <div class="mobile-toggle">
                      <div class="toggle-content"> Alterar busca </div>
                    </div>
                </div>
                <div class="caixa-busca" display: hidden>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="caixa-busca-title underlined">
                                Detalhes de agendamento
                            </div>
                        </div>
                    </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <div class="form-group">
                        <label for="select-cidade">Cidade</label>
                        <select class="form-control" id="select-cidade">
                            <option>--</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="form-group">
                        <label for="select-bairro">Bairro</label>
                        <select class="form-control" id="select-bairro">
                            <option>--</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <div class="form-group">
                        <label for="select-materia">Matéria</label>
                        <select class="form-control" id="select-materia">
                            <option>--</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="form-group">
                        <label for="select-nivel">Nível</label>
                        <select class="form-control" id="select-nivel">
                            <option>--</option>
                        </select>
                      </div>
                    </div>
                  </div>
      
                  <div id="data-e-horario" display: hidden>
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <div class="form-group">
      
                          <div id="datetimepicker">
                            <label for="select-data">Data</label>
                            <input type="text" id="input-data" class="form-control" onkeydown="return false;" placeholder="Selecione data" readonly>
                          </div>
      
                        </div>
                      </div>
      
                      <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                          <label for="select-horario">Horário</label>
      
                          <select class="form-control" id="input-horario">
                            <option value="" disabled selected>Selecione horário</option>
                          </select>
      
                        </div>
                      </div>
                    </div>
      
                    <div id="horario-erro" display: hidden>
                      <div class="row">
                        <div class="col-lg-12 col-md-12">
                          O professor não possui horários disponíveis nesse dia para essa duração.
                        </div>
                      </div>
                    </div>
      
                  </div>
      
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
                      <div class="form-group">
                        <label for="select-duracao">Duração</label>
                        <select class="form-control" id="select-duracao">
                          <option>--</option>
                        </select>
                      </div>
                    </div>
                  </div>
      
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
                      <div class="preco-aula">
                        R$59,90
                      </div>
                    </div>
                  </div>
      
                  <div class="row">
                    <div class="col-lg-12 col-md-12">
                      <div id="action-button">
                        Agendar aula
                      </div>
                    </div>
                  </div>
      
                </div>
              </div>
      
              <div class="professor-selecionado-mobile" display: hidden>
      
                  <div class="professor-selecionado-container-mobile">
                      <div class="pscm-img">
                          <img src="/img/profile_placeholder.png" alt="Aulas Colmeia reforço escolar foto professor">
                      </div>
      
                      <div class="pscm-body">
                        <div class="pscm-name"></div>
                        <div class="pscm-rating">
                            <div class="pscm-rating-value"></div>
                            <img class="pscm-rating-img" src="/img/rating-star.png" alt="Avaliação professor Aulas Colmeia">
                        </div>
                      </div>

                  </div>
      
                  <div class="perfil-toggle colmeia-button button-orange">Ver perfil</div>
      
                  <div class="perfil-container" display: hidden>
                      <div class="curriculo-title">
                          Currículo
                      </div>
                      <div class="curriculo-text">
      
                      </div>
      
                      <div class="disciplina-title">
                          Disciplinas
                      </div>
                      <div class="disciplina-text">
                      </div>
      
                      <div class="nivel-title">
                          Níveis
                      </div>
                      <div class="nivel-text">
                      </div>
      
                      <div class="bairros-title">
                          Bairros
                      </div>
                      <div class="bairros-text">
                      </div>
      
                      <div class="dias-title">
                          Dias da Semana
                      </div>
                      <div class="dias-text">
                      </div>
      
                  </div>
      
                  <div class="horario-mobile" display: hidden>
      
                    <!-- updatable price -->
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
                        <div class="preco-aula">
                          --
                        </div>
                      </div>
                    </div>
      
                  </div>
      
              </div>
      
              <div class="col-lg-8 col-md-8 col-lg-pull-4 col-md-pull-4">
                <div class="professor-selecionado" display: hidden>
      
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <div class="professor-voltar">
                        <i class="glyphicon glyphicon-chevron-left"></i> Escolher outro professor
                      </div>
                    </div>
                  </div>

                  <div class="professor-selecionado-header">
                        <div class="psh-left"><div class="psh-image"><img src="/img/profile_placeholder.png" alt="Aulas Colmeia foto do professor particular de reforço"></div></div>
                        <div class="psh-right">
                        <div class="psh-name"></div>
                        <p class="psh-title">Disciplinas:</p>
                        <div class="psh-disciplinas">
                        </div>
                        <div class="psh-rating">
                            <img class="psh-rating-img" src="/img/rating-star.png" alt="Avaliação professor Aulas Colmeia">
                            <div class="psh-rating-value"></div>
                        </div>
                    </div>
                </div>
                  <div class="professor-selecionado-info">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="info-title underlined">
                                    Currículo
                                </div>
                                <div class="professor-curriculo">
                                </div>
                            </div>
                        </div>

                        <div class="row" id="hidden-disciplinas">
                            <div class="col-lg-12 col-md-12">
                                <div class="info-title underlined">
                                    Disciplinas
                                </div>
                                <div class="psh-disciplinas">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="info-title underlined">
                                    Níveis
                                </div>
                                <div class="professor-niveis">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="info-title underlined">
                                    Dias da Semana
                                </div>
                                <div class="professor-dias">
                                    <div class="professor-dia" id="domingo">D</div>
                                    <div class="professor-dia" id="segunda">S</div>
                                    <div class="professor-dia" id="terca">T</div>
                                    <div class="professor-dia" id="quarta">Q</div>
                                    <div class="professor-dia" id="quinta">Q</div>
                                    <div class="professor-dia" id="sexta">S</div>
                                    <div class="professor-dia" id="sabado">S</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="info-title underlined">
                                    Bairros
                                </div>
                                <div class="professor-bairros">
                                </div>
                            </div>
                        </div>

                  </div>
                  
                  <div class="professor-selecionado-avaliacoes">

                  </div>

                </div>
      
              </div>
      
              <div class="col-lg-12 col-md-12">
                <div class="professores" id="professores">
                  <div class="header-text" style="<%= professores.length == 0 ? 'display: none' : '' %>">
                    Professores de matemática em Brasília
                  </div>
                  <div class="busca-erro" style="<%= professores.length != 0 ? 'display: none' : '' %>">
                    <div class="erro-title">
                      Não encontramos nenhum professor disponível para essa busca.
                    </div>
                    <div class="erro-subtitle">
                      Tente buscar por outra matéria ou por outro bairro. <br>
                      Se preferir, fale conosco no <b>(61) 99805-2073</b>
                    </div>
                  </div>

                  <div class="row">
                      <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
                            <% for(var i = 0; i < professores.length; i++) { -%>
                              <%- include('partials/professor-card-interno', { prof: professores[i] }); -%>
                            <% } -%>
                      </div>
                  </div>

                </div>
              </div>
            </div>
            </div>
        </div>
          </div>
    </section>
    
    <footer class="footer">
      <% include ./partials/footer %>
    </footer>

  </body>
      <!-- Modal de erro da página -->
  <div class="modal fade login" id="modal-agendamento-erro">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="modal-title">
            Erro
          </div>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-lg-12" >
              <button type="button" class="btn colmeia-button">Ok</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- build:js public/js/professores-interno.min.js defer-->
  <!-- white-navbar-scripts -->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/mobilechecker.js"></script>
  <script src="/js/mobile-sidebar.js"></script>
  <script src="/js/navbar.js"></script>

  <!-- libs -->
  <script type="text/javascript" src="/js/lib/loadingoverlay.min.js"></script>
  <script type="text/javascript" src="/js/loading-indicator-professores.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>
  <script src="/js/lib/jquery.barrating.min.js"></script>

  <!-- scripts -->
  <script src="/js/lib/particles.min.js"></script>
  <script src="/js/lib/select2.full.min.js"></script>
  <script src="/js/lib/moment/moment.min.js"></script>
  <script src="/js/lib/moment/moment-timezone.js"></script>
  <script src="/js/lib/moment/locale/pt-br.js"></script>
  <script src="/js/lib/bootstrap-datetimepicker.min.js"></script>
  <script src="/js/mobilechecker.js"></script>
  <script src="/js/constantes.js"></script>
  <script src="/js/professores.js"></script>
  <!-- endbuild -->

  <% include ./partials/ferramentas %>
  <% include ./partials/fbpixel %>

</html>
