<!DOCTYPE html>
<html lang="pt">
  <head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Aulas Colmeia | <%= prof.nome %></title>
    <meta name="description" content="Detalhes do perfil do professor <%= prof.nome %>. Aulas para Ensino Fundamental e Médio com os MELHORES professores."> 

    <meta property="og:title" content="Aulas Colmeia | <%= prof.nome %>" />
    <meta property="og:description" content="Detalhes do perfil do professor <%= prof.nome %>. Aulas para Ensino Fundamental e Médio com os MELHORES professores." />
    <meta property="og:image" content="https://aulascolmeia.com.br/img/page_description_img.png" />

    <!-- icon -->
    <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700" rel="stylesheet">

    <!-- build:css public/css/professor-detalhes.min.css -->
    <!-- libs -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- styles -->
    <link href="/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="/css/professores-interno.css" rel="stylesheet">
    <link href="/css/professores.css" rel="stylesheet">
    <link href="/css/new/modules/colmeia-button.css" rel="stylesheet">
    <link href="/css/lib/select2.min.css" rel="stylesheet">
    <!-- white-navbar-styles -->
    <link href="/css/white-navbar.css" rel="stylesheet">
    <link href="/css/dropdown-menu.css" rel="stylesheet">
    <link href="/css/partials/filter.css" rel="stylesheet">
    <!-- endbuild -->

    <% include ./partials/user %>
    <% include ./partials/analytics_header %>

    <script>
      var prof = <%- JSON.stringify(prof) %>;
    </script>

  </head>

  <body>
    <% include ./partials/white-navbar %>

    <section id="main">
        <div class="container" style="min-height: 800px;">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                
                <h2 class="professor-profile-title">Perfil do professor</h2>
      

      
              <div class="col-lg-8 col-md-8 col col-lg-offset-2 col-md-offset-2">
                <div class="professor-selecionado" >

                  <div class="professor-selecionado-header">
                        <div class="psh-left"><div class="psh-image"><img src="/img/profile_placeholder.png" alt="Aulas Colmeia foto do professor particular de reforço"></div></div>
                        <div class="psh-right">
                        <div class="psh-name"></div>
                        <p class="psh-title">Disciplinas:</p>
                        <div class="psh-disciplinas">
                        </div>
                        <div class="psh-rating">
                            <img class="psh-rating-img" src="/img/rating-star.png" alt="Avaliação professor Aulas Colmeia">
                            <div class="psh-rating-value"></div>
                        </div>
                    </div>
                </div>
                  <div class="professor-selecionado-info">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="info-title underlined">
                                    Currículo
                                </div>
                                <div class="professor-curriculo">
                                </div>
                            </div>
                        </div>

                        <div class="row" id="hidden-disciplinas">
                            <div class="col-lg-12 col-md-12">
                                <div class="info-title underlined">
                                    Disciplinas
                                </div>
                                <div class="psh-disciplinas">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="info-title underlined">
                                    Níveis
                                </div>
                                <div class="professor-niveis">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="info-title underlined">
                                    Dias da Semana
                                </div>
                                <div class="professor-dias">
                                    <div class="professor-dia" id="domingo">D</div>
                                    <div class="professor-dia" id="segunda">S</div>
                                    <div class="professor-dia" id="terca">T</div>
                                    <div class="professor-dia" id="quarta">Q</div>
                                    <div class="professor-dia" id="quinta">Q</div>
                                    <div class="professor-dia" id="sexta">S</div>
                                    <div class="professor-dia" id="sabado">S</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="info-title underlined">
                                    Bairros
                                </div>
                                <div class="professor-bairros">
                                </div>
                            </div>
                        </div>

                  </div>
                  
                  <div class="professor-selecionado-avaliacoes">

                  </div>

                </div>
      
              </div>
              
            </div>
            </div>
        </div>
          </div>
    </section>

    
    <section class="bottom-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
                    <h2>Os melhores professores no conforto de <br> sua casa pelo menor preço</h2>
                    <h3>A melhor forma de aprender com Reforço escolar.</h3>
  
                    <div class="blocks-container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                              <img src="/img/professores-curriculo.png" alt="Aulas Colmeia reforço escolar com os melhores professores" class="block-icon">
                              <h4>Os melhores professores</h4>
                              <p>Escolha o professor particular que melhor se encaixe às suas necessidades.</p>
                            </div>
  
                            <div class="col-lg-4 col-md-4">
                             <div class="block">
                              <img src="/img/orange-line.png" alt="Aulas Colmeia reforço escolar" class="line1">
                              <img src="/img/orange-line.png" alt="Aulas Colmeia reforço escolar" class="line2">
                              <img src="/img/comodidade-casa.png" alt="Aulas Colmeia reforço escolar em casa comodidade" class="block-icon">
                              <h4>Comodidade</h4>
                              <p>Evite preocupações com o seu deslocamento. Nossos professores vão até a sua casa.</p>
                             </div>
                            </div>
  
                            <div class="col-lg-4 col-md-4">
                              <img src="/img/preco-justo.png" alt="Aulas Colmeia reforço escolar com preço justo" class="block-icon">
                              <h4>Preço justo</h4>
                              <p>Agende suas aulas a partir de R$59,90 a hora.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="simple">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
                    <h2>Colmeia - Reforço escolar de qualidade em sua casa.</h2>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
      <% include ./partials/footer %>
    </footer>

  </body>

  <!-- build:js public/js/professor-detalhes.min.js defer-->
  <!-- white-navbar-scripts -->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/mobilechecker.js"></script>
  <script src="/js/mobile-sidebar.js"></script>
  <script src="/js/navbar.js"></script>

  <!-- libs -->
  <script type="text/javascript" src="/js/lib/loadingoverlay.min.js"></script>
  <script type="text/javascript" src="/js/loading-indicator-professores.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>
  <script src="/js/lib/jquery.barrating.min.js"></script>

  <!-- scripts -->
  <script src="/js/lib/particles.min.js"></script>
  <script src="/js/lib/select2.full.min.js"></script>
  <script src="/js/lib/moment/moment.min.js"></script>
  <script src="/js/lib/moment/moment-timezone.js"></script>
  <script src="/js/lib/moment/locale/pt-br.js"></script>
  <script src="/js/lib/bootstrap-datetimepicker.min.js"></script>
  <script src="/js/mobilechecker.js"></script>
  <script src="/js/constantes.js"></script>
  <script src="/js/professor-details.js"></script>
  <!-- endbuild -->

  <% include ./partials/ferramentas %>
  <% include ./partials/fbpixel %>

</html>
