<!DOCTYPE html>
<html lang="pt">
  <head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>
    <meta name="description" content="<%= description %>"> 

    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:image" content="https://aulascolmeia.com.br/img/page_description_img.png" />

    <!-- icon -->
    <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700" rel="stylesheet">

    <!-- build:css public/css/professores.min.css -->
    <!-- libs -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- styles -->
    <link href="/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="/css/professores-interno.css" rel="stylesheet">
    <link href="/css/professores.css" rel="stylesheet">
    <link href="/css/new/modules/colmeia-button.css" rel="stylesheet">
    <link href="/css/lib/select2.min.css" rel="stylesheet">
    <!-- white-navbar-styles -->
    <link href="/css/white-navbar.css" rel="stylesheet">
    <link href="/css/dropdown-menu.css" rel="stylesheet">
    <link href="/css/partials/filter.css" rel="stylesheet">
    <!-- endbuild -->

    <script>
      var precos = <%- JSON.stringify(precos) %>;
    </script>

    <% include ./partials/user %>
    <% include ./partials/woopra %>
    <% include ./partials/analytics_header %>
    <% include ./partials/onesignal %>

  </head>

  <body>
    <% include ./partials/white-navbar %>
    <div id="particles-js"></div>

    <section id="main">
        <div class="container" style="min-height: 800px;">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                  <div class="row">
                  <div class="col-lg-12 col-md-12">
                      <div class="info-container">
                        <img src="/img/header-logo.png" alt="Aulas Colmeia Logo Principal" class="header-img">
      
                        <h1><%= infoContainerH1 %></h1>
                        <h2><%= infoContainerH2 %></h2>

                          <div class="filter-container">
                              <div class="filter_container">
                                  <div class="row">
                                    <div class="col-lg-12">
                                      <div id="escolher-aula-container">
                                        <form id="formBusca">
                      
                                          <input type="hidden" name="topico" id="valueTopico">
                                          <input type="hidden" name="tipo" id="valueTipo">
                      
                                          <div class="row">
                                            <div class="col-lg-2 col-md-2">
                                              <label for="inputCidade" display: hidden>Cidade</label>
                                              <select name="cidade" class="form-control" id="inputCidade">
                                              </select>
                                            </div>
                                            <div class="col-lg-3 col-md-3 ">
                                                <label for="inputCidade" display: hidden>Bairro</label>
                                              <select name="bairro" class="form-control" id="inputBairro" style="width: 100%">
                                              </select>
                                            </div>
                                            <div class="col-lg-2 col-md-2 ">
                                                <label for="inputMateria" display: hidden>Matéria</label>
                                                <select class="form-control" id="inputMateria">
                                              </select>
                                            </div>
                                            <div class="col-lg-3 col-md-3 ">
                                                <label for="inputAno" display: hidden>Ano</label>
                                              <select name="ano" class="form-control" id="inputAno">
                                              </select>
                                            </div>
                                            <div class="col-lg-2 col-md-2" style="padding-left: 0; padding-right: 0">
                                              <input type='button' class="colmeia-button button-orange" id="send" value="Buscar Aulas">
                                            </div>
                                          </div>
                                        </form>
                      
                                      </div>
                                    </div>
                                  </div>
                              </div>
                          </div>
                          
                          <h3><%= infoContainerH3 %></h3>

                      </div>
                  </div>
              </div>
      
              <div class="row" style="margin-bottom: 60px;">
              <div class="col-lg-4 col-md-4 col-lg-push-8 col-md-push-8">
                <div class="mobile-controller" display: hidden>
                    <div class="mobile-title">Escolha seu professor</div>
                    <div class="mobile-toggle">
                      <div class="toggle-content"> Alterar busca </div>
                    </div>
                </div>
                <div class="caixa-busca" display: hidden>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="caixa-busca-title underlined">
                                Detalhes de agendamento
                            </div>
                        </div>
                    </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <div class="form-group">
                        <label for="select-cidade">Cidade</label>
                        <select class="form-control" id="select-cidade">
                            <option>--</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="form-group">
                        <label for="select-bairro">Bairro</label>
                        <select class="form-control" id="select-bairro">
                            <option>--</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <div class="form-group">
                        <label for="select-materia">Matéria</label>
                        <select class="form-control" id="select-materia">
                            <option>--</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="form-group">
                        <label for="select-nivel">Nível</label>
                        <select class="form-control" id="select-nivel">
                            <option>--</option>
                        </select>
                      </div>
                    </div>
                  </div>
      
                  <div id="data-e-horario" display: hidden>
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <div class="form-group">
      
                          <div id="datetimepicker">
                            <label for="select-data">Data</label>
                            <input type="text" id="input-data" class="form-control" onkeydown="return false;" placeholder="Selecione data" readonly>
                          </div>
      
                        </div>
                      </div>
      
                      <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                          <label for="select-horario">Horário</label>
      
                          <select class="form-control" id="input-horario">
                            <option value="" disabled selected>Selecione horário</option>
                          </select>
      
                        </div>
                      </div>
                    </div>
      
                    <div id="horario-erro" display: hidden>
                      <div class="row">
                        <div class="col-lg-12 col-md-12">
                          O professor não possui horários disponíveis nesse dia para essa duração.
                        </div>
                      </div>
                    </div>
      
                  </div>
      
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
                      <div class="form-group">
                        <label for="select-duracao">Duração</label>
                        <select class="form-control" id="select-duracao">
                          <option>--</option>
                        </select>
                      </div>
                    </div>
                  </div>
      
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
                      <div class="preco-aula">
                        R$59,90
                      </div>
                    </div>
                  </div>
      
                  <div class="row">
                    <div class="col-lg-12 col-md-12">
                      <div id="action-button">
                        Agendar aula
                      </div>
                    </div>
                  </div>
      
                </div>
              </div>
      
              <div class="professor-selecionado-mobile" display: hidden>
      
                  <div class="professor-selecionado-container-mobile">
                      <div class="pscm-img">
                          <img src="/img/profile_placeholder.png" alt="Aulas Colmeia reforço escolar foto professor">
                      </div>
      
                      <div class="pscm-body">
                        <div class="pscm-name"></div>
                        <div class="pscm-rating">
                            <div class="pscm-rating-value"></div>
                            <img class="pscm-rating-img" src="/img/rating-star.png" alt="Avaliação professor Aulas Colmeia">
                        </div>
                      </div>

                  </div>
      
                  <div class="perfil-toggle colmeia-button button-orange">Ver perfil</div>
      
                  <div class="perfil-container" display: hidden>
                      <div class="curriculo-title">
                          Currículo
                      </div>
                      <div class="curriculo-text">
      
                      </div>
      
                      <div class="disciplina-title">
                          Disciplinas
                      </div>
                      <div class="disciplina-text">
                      </div>
      
                      <div class="nivel-title">
                          Níveis
                      </div>
                      <div class="nivel-text">
                      </div>
      
                      <div class="bairros-title">
                          Bairros
                      </div>
                      <div class="bairros-text">
                      </div>
      
                      <div class="dias-title">
                          Dias da Semana
                      </div>
                      <div class="dias-text">
                      </div>
      
                  </div>
      
                  <div class="horario-mobile" display: hidden>
      
                    <!-- updatable price -->
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
                        <div class="preco-aula">
                          --
                        </div>
                      </div>
                    </div>
      
                  </div>
      
              </div>
      
              <div class="col-lg-8 col-md-8 col-lg-pull-4 col-md-pull-4">
                <div class="professor-selecionado" display: hidden>
      
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <div class="professor-voltar">
                        <i class="glyphicon glyphicon-chevron-left"></i> Escolher outro professor
                      </div>
                    </div>
                  </div>

                  <div class="professor-selecionado-header">
                        <div class="psh-left"><div class="psh-image"><img src="/img/profile_placeholder.png" alt="Aulas Colmeia foto do professor particular de reforço"></div></div>
                        <div class="psh-right">
                        <div class="psh-name"></div>
                        <p class="psh-title">Disciplinas:</p>
                        <div class="psh-disciplinas">
                        </div>
                        <div class="psh-rating">
                            <img class="psh-rating-img" src="/img/rating-star.png" alt="Avaliação professor Aulas Colmeia">
                            <div class="psh-rating-value"></div>
                        </div>
                    </div>
                </div>
                  <div class="professor-selecionado-info">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="info-title underlined">
                                    Currículo
                                </div>
                                <div class="professor-curriculo">
                                </div>
                            </div>
                        </div>

                        <div class="row" id="hidden-disciplinas">
                            <div class="col-lg-12 col-md-12">
                                <div class="info-title underlined">
                                    Disciplinas
                                </div>
                                <div class="psh-disciplinas">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="info-title underlined">
                                    Níveis
                                </div>
                                <div class="professor-niveis">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="info-title underlined">
                                    Dias da Semana
                                </div>
                                <div class="professor-dias">
                                    <div class="professor-dia" id="domingo">D</div>
                                    <div class="professor-dia" id="segunda">S</div>
                                    <div class="professor-dia" id="terca">T</div>
                                    <div class="professor-dia" id="quarta">Q</div>
                                    <div class="professor-dia" id="quinta">Q</div>
                                    <div class="professor-dia" id="sexta">S</div>
                                    <div class="professor-dia" id="sabado">S</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="info-title underlined">
                                    Bairros
                                </div>
                                <div class="professor-bairros">
                                </div>
                            </div>
                        </div>

                  </div>
                  
                  <div class="professor-selecionado-avaliacoes">

                  </div>

                </div>
      
              </div>
      
              <div class="col-lg-6 col-md-6">
                <div class="professores" id="professores">
                  <div class="header-text" style="<%= professores.length == 0 ? 'display: none' : '' %>">
                    <%= professoresHeader %>
                  </div>
                  <div class="busca-erro" style="<%= professores.length != 0 ? 'display: none' : '' %>">
                    <div class="erro-title">
                      Não encontramos nenhum professor disponível para essa busca.
                    </div>
                    <div class="erro-subtitle">
                      Tente buscar por outra matéria ou por outro bairro. <br>
                      Se preferir, fale conosco no <b>(61) 99805-2073</b>
                    </div>
                  </div>

                  <% for(var i = 0; i < professores.length; i++) { -%>
                    <% if(i % 2 == 0) { -%>
                        <%- include('partials/professor-card', { prof: professores[i], topico: topico, cidade: cidade, bairro: bairro, tagsLocation: tagsLocation, tagsProfessor: tagsProfessor }); -%>
                    <% } -%>
                  <% } -%>

                </div>
              </div>

              <div class="col-lg-6 col-md-6">
                <div class="professores" id="professores2">

                    <% for(var i = 0; i < professores.length; i++) { -%>
                        <% if(i % 2 != 0) { -%>
                            <%- include('partials/professor-card', { prof: professores[i], topico: topico, cidade: cidade, bairro: bairro, tagsLocation: tagsLocation, tagsProfessor: tagsProfessor }); -%>
                        <% } -%>
                    <% } -%>

                </div>
              </div>
              
            </div>
            </div>
        </div>
          </div>
    </section>

    
    <section class="bottom-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
                    <h2>Os melhores professores no conforto de <br> sua casa pelo menor preço</h2>
                    <h3><%= bottomContainerH3 %></h3>
  
                    <div class="blocks-container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                              <img src="/img/professores-curriculo.png" alt="Aulas Colmeia reforço escolar com os melhores professores" class="block-icon">
                              <h4>Os melhores professores</h4>
                              <p>Escolha o professor particular que melhor se encaixe às suas necessidades.</p>
                            </div>
  
                            <div class="col-lg-4 col-md-4">
                             <div class="block">
                              <img src="/img/orange-line.png" alt="Aulas Colmeia reforço escolar" class="line1">
                              <img src="/img/orange-line.png" alt="Aulas Colmeia reforço escolar" class="line2">
                              <img src="/img/comodidade-casa.png" alt="Aulas Colmeia reforço escolar em casa comodidade" class="block-icon">
                              <h4>Comodidade</h4>
                              <p>Evite preocupações com o seu deslocamento. Nossos professores vão até a sua casa.</p>
                             </div>
                            </div>
  
                            <div class="col-lg-4 col-md-4">
                              <img src="/img/preco-justo.png" alt="Aulas Colmeia reforço escolar com preço justo" class="block-icon">
                              <h4>Preço justo</h4>
                              <p>Agende suas aulas a partir de R$59,90 a hora.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="avaliacao" display: hidden>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
                    <h2><%= avaliacaoH2 %></h2>
                    <h3><%= avaliacaoH3 %></h3>

                    <div class="avalicoes-container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="avaliacao-block">
                                    <div class="avaliacao-rating">
                                        <div class="empty-stars">
                                        </div>
                                        <div class="full-stars">
                                        </div>
                                    </div>
                                    <div class="avaliacao-body">
                                        Aula excelente, o melhor professor que eu ja tive na vida! O maiquin mandou muito bem em me ensinar matemática como eu nunca tinha visto antes!
                                    </div>
                                    <div class="avaliacao-autor">
                                        Felipe silveira - 9º ano
                                    </div>

                                    <div class="avaliacao-sobre">
                                        Sobre
                                    </div>

                                    <div class="avaliacao-professor">
                                        <div class="avaliacao-img-box">
                                            <img src="/img/tpigatto_img-on.png" alt="" class="avaliacao-img">
                                        </div>
                                        <div class="avaliacao-professor-nome">
                                            <div class="avaliacao-professor-nome-completo">
                                                Marcos Antônio Fagundes
                                            </div>
                                            <div class="avaliacao-professor-titulo">
                                                Professor de matemática para ensino fundamental e médio
                                            </div>
                                        </div>
                                    </div>
                                    <div class="avaliacao-locations">
                                        <div class="avaliacao-location"><img src="/img/marker-gray.png" alt="Aulas Colmeia reforço escolar em casa" class="professor-location-img"> Asa sul
                                    </div>
                                    <div class="avaliacao-location"><img src="/img/marker-gray.png" alt="Aulas Colmeia reforço escolar em casa" class="professor-location-img"> Brasília
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="simple">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
                    <h2><%= simpleH2 %></h2>
                </div>
            </div>
        </div>
    </section>

    <section id="reasons">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
                    <div class="row">
                        <div class="col-lg-6">
                            <h2 class="reasons-title">
                                <%= reasonsH2 %>
                            </h2>
                            <p class="reasons-paragraph">
                                <%= reasonsP %>
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <h2>
                                Seu filho vai melhorar suas notas e sair da recuperação.
                            </h2>
                            <p>
                                As notas de seu filho na escola terão um grande progresso. Nossas aulas de roforço escolar são didáticas e possuem um conteúdo personalizado para se adequar ao jeito de estudar de seu filho. Afinal, ele merece toda atenção e cuidado.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="search">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
                    <h2>Também pesquisaram por:</h2>
                    <h3>Bairros</h3>
                    <div class="tags-container">
                        <% for(var i = 0; i < tagsBottomBairro.length; i++) { %>
                            <a href="<%= tagsBottomBairro[i].link %>" class="search-tag"><%= tagsBottomBairro[i].title %></a>
                        <% } %>
                    </div>

                    <h3>Matérias</h3>
                    <div class="tags-container">
                        <% for(var i = 0; i < tagsBottomMateria.length; i++) { %>
                            <a href="<%= tagsBottomMateria[i].link %>" class="search-tag"><%= tagsBottomMateria[i].title %></a>
                        <% } %>
                    </div>

                    <h3>Níveis</h3>
                    <div class="tags-container">
                        <% for(var i = 0; i < tagsBottomAnos.length; i++) { %>
                            <a href="<%= tagsBottomAnos[i].link %>" class="search-tag"><%= tagsBottomAnos[i].title %></a>
                        <% } %>
                    </div>

                    <h3>Cidades</h3>
                    <div class="tags-container">
                        <% for(var i = 0; i < tagsBottomCidade.length; i++) { %>
                            <a href="<%= tagsBottomCidade[i].link %>" class="search-tag"><%= tagsBottomCidade[i].title %></a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <footer class="footer">
      <% include ./partials/footer %>
    </footer>

  </body>
      <!-- Modal de erro da página -->
  <div class="modal fade login" id="modal-agendamento-erro">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="modal-title">
            Erro
          </div>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-lg-12" >
              <button type="button" class="btn colmeia-button">Ok</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- build:js public/js/professores.min.js defer-->
  <!-- white-navbar-scripts -->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/mobilechecker.js"></script>
  <script src="/js/mobile-sidebar.js"></script>
  <script src="/js/navbar.js"></script>

  <!-- libs -->
  <script type="text/javascript" src="/js/lib/loadingoverlay.min.js"></script>
  <script type="text/javascript" src="/js/loading-indicator-professores.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>
  <script src="/js/lib/jquery.barrating.min.js"></script>

  <!-- scripts -->
  <script src="/js/lib/particles.min.js"></script>
  <script src="/js/lib/select2.full.min.js"></script>
  <script src="/js/lib/moment/moment.min.js"></script>
  <script src="/js/lib/moment/moment-timezone.js"></script>
  <script src="/js/lib/moment/locale/pt-br.js"></script>
  <script src="/js/lib/bootstrap-datetimepicker.min.js"></script>
  <script src="/js/mobilechecker.js"></script>
  <script src="/js/constantes.js"></script>
  <script src="/js/professores.js"></script>
  <!-- endbuild -->

  <% include ./partials/ferramentas %>
  <% include ./partials/fbpixel %>

</html>
