<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Seja um professor | Colmeia</title>

        <!--tags-->
        <meta
            name="description"
            content="Quer ser parceiro da Colmeia? Cadastre-se e garanta uma renda extra sendo professor de aula particular"
        />
        <meta name="keywords" content="colmeia, aulas particulares, aula particular" />
        <meta name="robots" content="index" />

        <!--icon-->
        <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32" />

        <!--fonts-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,700" rel="stylesheet" />

        <!-- build:css public/css/professor.min.css -->
        <!--libs-->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- white-navbar-styles -->
        <link href="/css/white-navbar.css" rel="stylesheet" />
        <link href="/css/dropdown-menu.css" rel="stylesheet" />
        <!--styles-->
        <link href="/css/modal.css" rel="stylesheet" type="text/css" />
        <link href="/css/professor.css" rel="stylesheet" type="text/css" />
        <!-- endbuild -->

        <% include ./partials/user %> <% include ./partials/woopra %> <% include ./partials/analytics_header %> <%
        include ./partials/onesignal %>
    </head>

    <body>
        <% include ./partials/white-navbar %>

        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7">
                        <div class="header__title">Ganhe até 1000 reais por semana dando aulas particulares</div>
                        <div class="header__subtitle">
                            Seja professor(a) em São Paulo ou Brasília.
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <% if(user && user.nome) { %>
                            <div class="logged-in-container">
                                <div class="logged-in-title">Você já está logado!</div>
                                <a class="logged-in-button" href="/professor/cadastro">Cadastrar como professor</a>
                            </div>
                        <% } else { %>
                            <form class="form" id="formSignin">
                                <div class="form__title">Cadastre-se</div>
                                <div class="form__subtitle">Registre-se e participe do nosso processo seletivo</div>
                                <input type="text" class="form__input" name="nome" id="nome" placeholder="Nome" />
                                <input type="email" class="form__input" name="email" id="email" placeholder="Email" />
                                <input
                                    type="text"
                                    class="form__input"
                                    name="telefone"
                                    id="telefone"
                                    placeholder="Telefone"
                                />
                                <input type="password" class="form__input" name="senha" id="senha" placeholder="Senha" />
                                <div class="checkbox">
                                    <label class="form__checkbox">
                                        <input type="checkbox" id="check-termos" />Eu concordo com os
                                        <a class="form__link" href="https://aulascolmeia.com.br/Termos-de-Uso-Colmeia.pdf">
                                            Termos de uso da Colmeia.</a
                                        >
                                    </label>
                                </div>
    
                                <button id="sendButton" name="button" class="form__button">Cadastrar como professor</button>
    
                                <div class="form__login">
                                    Já possui conta? <span class="form__login-button">Entrar</span>
                                </div>
                            </form>
                        <% } %>
                    </div>
                </div>
            </div>
        </header>

        <section class="quem-somos">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
                        <div class="quem-somos__container">
                            <div class="quem-somos__title">
                                QUEM SOMOS
                            </div>
                            <div class="quem-somos__text">
                                A Colmeia é uma plataforma online que conecta acadêmicos com alunos dos ensinos
                                fundamental e médio. Os pais podem fazer o agendamento para os filhos de forma
                                totalmente online, através de um sistema que disponibiliza informações sobre os professores e suas
                                agendas.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="simulador">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="simulador__title desktop">
                            Simu <br />
                            lador
                        </div>
                        <div class="simulador__title--mobile">
                            Simulador
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <img
                            src="/img/simulador-icon.png"
                            alt="Aulas Colmeia Seja um professor simule renda"
                            class="simulador__img"
                        />
                        <div class="simulador__slider-container">
                            <div class="simulador__topic">
                                Inglês
                            </div>
                            <!-- Rounded switch -->
                            <label class="switch">
                                <input class="simulador__checkbox" type="checkbox" />
                                <span class="slider round"></span>
                            </label>
                            <div class="simulador__topic">
                                Reforço
                            </div>
                        </div>

                        <div class="simulador__radio-title">Quantas horas de aulas você vai lecionar por semana?</div>

                        <div class="simulador__radio-labels">
                            <% for(var i = 0; i < 12; i++) { %>
                            <div class="simulador__radio-label">
                                <%= 8 + 2*i %>
                            </div>
                            <% } %>
                        </div>

                        <div class="simulador__radio-container">
                            <div class="simulador__radio-container-bar"></div>
                            <% for(var i = 0; i < 12; i++) { %>
                            <label class="simulador__radio <%= i === 4 ? 'simulador__radio--active' : '' %>">
                                <input type="radio" name="hours" value="<%= 8 + 2*i %>" <%= i === 4 ? 'checked' : '' %>
                                />
                                <!-- <span class="simulador__radio-inner"></span> -->
                            </label>
                            <% } %>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="simulador__label">Receita mensal:</div>
                        <div class="simulador__value">R$xxxx.xx</div>
                    </div>
                </div>
            </div>
        </section>

        <section class="vantagens">
            <div class="container">
                <div class="vantagens__heading--mobile">
                    Simulador
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="vantagens__block">
                            <img
                                src="/img/vantagens-icon-1.png"
                                alt="Aulas Colmeia Vantagens de ser professor"
                                class="vantagens__icon"
                            />
                            <div class="vantagens__title">
                                Gerencie pelo APP
                            </div>
                            <div class="vantagens__text">
                                Controle todos os seus processos pelo nosso APP disponível para Android e IOS.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="vantagens__block">
                            <img
                                src="/img/vantagens-icon-2.png"
                                alt="Aulas Colmeia Vantagens de ser professor"
                                class="vantagens__icon"
                            />
                            <div class="vantagens__title">
                                Faça o seu horário
                            </div>
                            <div class="vantagens__text">
                                Defina seus horários disponíveis e atualize a sua agenda sozinho.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="vantagens__block">
                            <img
                                src="/img/vantagens-icon-3.png"
                                alt="Aulas Colmeia Vantagens de ser professor"
                                class="vantagens__icon"
                            />
                            <div class="vantagens__title">
                                Escolha os Bairros
                            </div>
                            <div class="vantagens__text">
                                Escolha os bairros da cidade da sua preferências.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="vantagens__heading desktop">Vanta<br />gens</div>
                    </div>
                </div>
            </div>
        </section>

        <section class="requirements">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7">
                        <div class="requirements__title">O que preciso para ser um professor?</div>
                        <div class="requirements__text">
                            Você está em graduação, mestrado, doutorado ou pós em alguma IES? Se inscreve aqui pra ser
                            nosso parceiro ;)
                            <br /><br />
                            Estes são os documentos, informações e pré-requisitos que você precisa antes de começar. Não
                            se preocupe, você pode fazer o cadastro em várias etapas e se fechar o navegador a gente
                            salva os seus dados para que não tenha que começar tudo de novo!
                            <br /><br />
                            - Ter um smartphone Android ou iPhone e WhatsApp instalado 
                            <br>
                            - Histórico escolar de graduação
                            <br>
                            - Nome, email, RG, CPF, nome da mãe (para fazer o nada consta e antecedentes) 
                            <br>
                            - Ter
                            experiência com aulas particulares (candidatos sem experiência devem ter um histórico de
                            graduação com IRA > 3.5/5 ou equivalente em outra escala)
                            <br /><br />
                            Caso você queira dar aulas de inglês é necessário ter material e metodologia de ensino
                            próprios, além de alguma certificação internacional.
                            <br /><br /><br />
                            <a class="requirements__link" href="https://aulascolmeia.com.br/Termos-de-Uso-Colmeia.pdf"
                                >Leia aqui nossos termos de uso.</a
                            >
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <img
                            src="/img/requirements-img.png"
                            alt="Aulas Colmeia Aulas particulares requerimentos para ser professor"
                            class="requirements__img"
                        />
                    </div>
                </div>
            </div>
        </section>

        <section class="cta">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
                        <div class="cta__title">
                            Eai?! Partiu fazer parte da nossa equipe?
                        </div>

                        <div class="cta__subtitle">
                            Estamos sempre buscando os melhores professores particulares para nosso Processo Seletivo.
                            Se inscreve aqui pra ser nosso parceiro ;)
                        </div>

                        <div class="cta__button">
                            Cadastrar no Processo Seletivo
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="faq">
            <div class="faq__title-container">
                <div class="faq__title">
                    Dúvidas
                </div>

                <div class="faq__subtitle">
                    Quer saber mais sobre ser um professor da Colmeia? Confere as perguntas frequentes.
                </div>
            </div>

            <div class="faq__content">
                <div class="faq__left">
                    <div class="faq__buttons">
                        <% for(var i = 0; i < faqContent.length; i++) { %>
                        <div class="faq__button" data-target="faq__block--<%= i %>"><%= faqContent[i].title %></div>
                        <% } %>
                    </div>
                    <div class="faq__questions">
                        <% for(var i = 0; i < faqContent.length; i++) { %>

                        <div class="faq__block faq__block--<%= i %>">
                            <% for(var j = 0; j < faqContent[i].data.length; j++) { %>
                            <div class="faq__collapse">
                                <a
                                    class="faq__question collapse-heading"
                                    href="#collapse<%= i + '' + j %>"
                                    data-toggle="collapse"
                                >
                                    <%= faqContent[i].data[j].question %>
                                </a>

                                <div id="collapse<%= i + '' + j %>" class="collapse collapse-content">
                                    <p class="faq__answer collapse-paragraph">
                                        <%- faqContent[i].data[j].answer %>
                                    </p>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div class="faq__right"></div>
            </div>
        </section>

        <% include ./partials/footer %>
        <div class="modal fade login" id="loginModal">
            <div class="modal-dialog login animated">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Entrar</h4>
                    </div>
                    <div class="modal-body">
                        <div class="box">
                            <div class="content">
                                <div class="error"></div>
                                <div class="form-block loginBox">
                                    <form id="formLogin" class="form-block text-xs-center" accept-charset="UTF-8">
                                        <input
                                            id="inputEmail"
                                            class="form-control"
                                            type="email"
                                            placeholder="Email"
                                            name="email"
                                            required
                                        />
                                        <input
                                            id="inputPassword"
                                            class="form-control"
                                            type="password"
                                            placeholder="Senha"
                                            name="senha"
                                            required
                                        />
                                        <div id="loginMessage"></div>

                                        <input
                                            type="submit"
                                            id="loginButton"
                                            class="btn btn-default btn-login block"
                                            value="Entrar"
                                        />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
    </body>

    <!-- build:js public/js/professor.min.js -->
    <!-- white-navbar-scripts -->
    <script src="/js/lib/jquery-2.1.4.js"></script>
    <script src="/js/lib/jquery.mask.min.js"></script>
    <script src="/js/mobilechecker.js"></script>
    <script src="/js/mobile-sidebar.js"></script>
    <script src="/js/navbar.js"></script>
    <!-- libs -->
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/lib/jquery.easing.min.js"></script>
    <script src="/js/lib/node-rsa-browser.js"></script>
    <script type="text/javascript" src="/js/lib/loadingoverlay.min.js"></script>
    <script type="text/javascript" src="/js/loading-indicator.js"></script>
    <!-- scripts -->
    <script src="/js/professor.js"></script>
    <!-- endbuild -->

    <% include ./partials/ferramentas %> <% include ./partials/fbpixel %>
</html>
