<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quem somos | Colmeia</title>

    <!--tags-->
    <meta name="description" content="Conheça a equipe por trás do Colmeia. Agende aulas pelo aplicativo ou pelo site com segurança no conforto da sua casa.">
    <meta name="keywords" content="equipe, quem somos, colmeia, aulas, pacotes, pacote de aulas, aula particular, reforco, reforco escolar, acompanhamento escolar">
    <meta name="robots" content="index">
    <meta property="og:image" content="https://www.aulascolmeia.com.br/img/page_description_img.png">

    <!--icon-->
    <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32">

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

    <!-- build:css public/css/quem-somos.min.css -->
    <!--libs-->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!--styles-->
    <link href="/css/new/modules/colmeia-button.css" rel="stylesheet" type="text/css">
    <link href="/css/quem-somos.css" rel="stylesheet" type="text/css">
    <!-- white-navbar-styles -->
    <link href="/css/white-navbar.css" rel="stylesheet">
    <link href="/css/dropdown-menu.css" rel="stylesheet">
    <!-- endbuild -->

    <% include ./partials/user %>
        <% include ./partials/woopra %>
            <% include ./partials/analytics_header %>
                <% include ./partials/onesignal %>
</head>

<body>

    <div id="particles-js"></div>
    <% include ./partials/white-navbar %>

        <section id="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="main-img">
                            <img src="/img/quem-somos-bg.png" alt="Aulas Colmeia quem somos equipe aplicativo startup">
                            <h1 class="main-title">Quem somos</h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
                            <div class="main-subtitle">
                                Nossa missão é transformar o ensino e o <br/> aprendizado no mundo!
                            </div>

                            <img src="/img/scroll-icon.png" alt="Ver mais ícone" class="scroll-icon">
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section id="team">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="section-title title-orange">
                            Nossa Equipe
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="team-container">
                            <div class="row">
                                    <div class="col-lg-6 col-md-6 col-lg-offset-1 col-md-offset-1">
                                        <div class="member-box">
                                            <div class="member-text-box">
                                                <div class="member-title">
                                                    Tiago Pigatto
                                                </div>
                
                                                <div class="member-subtitle">
                                                    Diretor Executivo
                                                </div>
                                            </div>
                                            <div class="member-img-box">
                                                <img src="/img/tpigatto_img-off.png" alt="Aulas Colmeia membro Tiago">
                                                <img src="/img/tpigatto_img-on.png" alt="Aulas Colmeia membro Tiago">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-lg-offset-5 col-md-offset-5">
                                        <div class="member-box">
                                            <div class="member-img-box">
                                                <img src="/img/landim_img-off.png" alt="Aulas Colmeia membro Victor">
                                                <img src="/img/landim_img-on.png" alt="Aulas Colmeia membro Victor">
                                            </div>
                                            <div class="member-text-box">
                                                <div class="member-title">
                                                    Victor Landim
                                                </div>
                
                                                <div class="member-subtitle">
                                                    Desenvolvedor Web
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-lg-offset-5 col-md-offset-5">
                                        <div class="member-box">
                                            <div class="member-img-box">
                                                <img src="/img/rosendo_img-off.png" alt="Aulas Colmeia membro Matheus">
                                                <img src="/img/rosendo_img-on.png" alt="Aulas Colmeia membro Matheus">
                                            </div>
                                            <div class="member-text-box">
                                                <div class="member-title">
                                                    Matheus Rosendo
                                                </div>
                
                                                <div class="member-subtitle">
                                                    Diretor de Tecnologia
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-lg-offset-1 col-md-offset-1">
                                        <div class="member-box">
                                            <div class="member-text-box">
                                                <div class="member-title">
                                                    Kleyton Lopes
                                                </div>
                
                                                <div class="member-subtitle">
                                                    Desenvolvedor Mobile
                                                </div>
                                            </div>
                                            <div class="member-img-box">
                                                <img src="/img/lopes_img-off.png" alt="Aulas Colmeia membro Kleyton">
                                                <img src="/img/lopes_img-on.png" alt="Aulas Colmeia membro Kleyton">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-lg-offset-5 col-md-offset-5">
                                        <div class="member-box">
                                            <div class="member-img-box">
                                                <img src="/img/mpigatto_img-off.png" alt="Aulas Colmeia membro Mateus">
                                                <img src="/img/mpigatto_img-on.png" alt="Aulas Colmeia membro Mateus">
                                            </div>
                                            <div class="member-text-box">
                                                <div class="member-title">
                                                    Mateus Pigatto
                                                </div>
                
                                                <div class="member-subtitle">
                                                    Diretor de Finanças
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-lg-offset-1 col-md-offset-1">
                                        <div class="member-box">
                                            <div class="member-text-box">
                                                <div class="member-title">
                                                    Vitor Noia
                                                </div>
                
                                                <div class="member-subtitle">
                                                    Designer
                                                </div>
                                            </div>
                                            <div class="member-img-box">
                                                <img src="/img/noia_img-off.png" alt="Aulas Colmeia membro Vitor">
                                                <img src="/img/noia_img-on.png" alt="Aulas Colmeia membro Vitor">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section id="valores">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="section-title title-orange">
                            Nossos Valores
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
                        <div class="row margin-bottom-l">
                            <div class="col-lg-5 col-md-5">
                                <div class="section-subtitle title-orange">Pessoalidade</div>
                                <div class="section-p">
                                    Gostamos de estar em contato com nossos alunos, mentores, professores parceiros e qualquer um que tenha uma pegada como
                                    a nossa: manter relacionamentos que geram crescimento pessoal. Esse é o mantra que nos
                                    guia e que mostra resultados extraordinários entre os envolvidos.
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-lg-offset-2 col-md-offset-2">
                                <div class="section-subtitle title-orange">Flexibilidade</div>
                                <div class="section-p">
                                    Na primeira aula de nossos alunos fazemos uma avaliação para então passar o feedback da necessidade ou não de um professor
                                    para acompanhamento - com frequência e duração de aulas ajustadas sob medida para cada
                                    aluno.

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-md-5">
                                <div class="section-subtitle title-orange">Transparência</div>
                                <div class="section-p">
                                    Todos que fazem parte da equipe tem voz, opinam e oferecem soluções que melhorem a qualidade de vida de todos nossos clientes.
                                    As nossas percepções e orientações do que deve ser feito são moldadas a partir de uma
                                    comunicação clara entre os comprometidos em revolucionar a educação.
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-lg-offset-2 col-md-offset-2">
                                <div class="section-subtitle title-orange">Tech</div>
                                <div class="section-p">
                                    Temos uma filosofia de estar constantemente melhorando nossas práticas de trabalho, atendimento, desenvolvimento de software
                                    e, claro, desenvolvimento pessoal. Toda semana é testado algo novo: uma forma de monitoramento
                                    de sono para aumentar a nossa produtividade ou até mesmo um café especial para impulsionar
                                    nossa atenção.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <% include ./partials/footer %>

</body>

<!-- build:js public/js/quem-somos.min.js -->
<!-- white-navbar-scripts -->
<script src="/js/lib/jquery-2.1.4.js"></script>
<script src="/js/mobilechecker.js"></script>
<script src="/js/mobile-sidebar.js"></script>
<script src="/js/navbar.js"></script>

<!--libs-->
<script src="/js/lib/jquery.easing.min.js"></script>
<script src="/js/lib/loadingoverlay.min.js"></script>
<script src="/js/loading-indicator.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/particles.min.js"></script>

<!--scripts-->
<script src="/js/quem-somos.js"></script>
<!-- endbuild -->

<% include ./partials/ferramentas %>
    <% include ./partials/fbpixel %>

</html>