<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Recuperar senha | Colmeia</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--icon-->
    <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32">
    <meta name="description" content="Recupere sua senha da plataforma Colmeia. Agende aulas pelo aplicativo ou pelo site com segurança no conforto da sua casa.">
    
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,700" rel="stylesheet">

    <!-- build:css public/css/recuperar-senha.min.css -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/login.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/new/modules/colmeia-button.css" rel="stylesheet" type="text/css">
    <!-- white-navbar-styles -->
    <link href="/css/white-navbar.css" rel="stylesheet">
    <link href="/css/dropdown-menu.css" rel="stylesheet">
    <!-- endbuild -->

    <% include ./partials/user %>
    <% include ./partials/woopra %>
    <% include ./partials/analytics_header %>
    <% include ./partials/onesignal %>

    </head>

<body>

<% include ./partials/white-navbar %>

<div id="particles-js"></div>

    <div class="container" style="height: 80vh">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">

          <div class="header">
            Recuperar senha
          </div>

          <div class="login-container" id="email-container">
            <p>Insira seu email e te enviaremos um link para recuperar sua senha.</p>
            <div class="form-group">
              <label for="login-email">Email</label>
              <input type="text" class="form-control" placeholder="Email" id="login-email">
            </div>

            <div class="colmeia-button button-filled login-button">
              Enviar
            </div>
          </div>

          <div class="login-container" id="success-container" display: hidden style="text-align: center;">
              <p>Pronto! Agora é só seguir as instruções que você recebeu por email para recuperar sua senha.</p>
          
              <a href="#">Voltar</a>
            </div>

        </div>
      </div>
    </div>

    <% include ./partials/footer %>

  </body>

  <!-- build:js public/js/recuperar-senha.min.js -->
  <!-- white-navbar-scripts -->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/mobilechecker.js"></script>
  <script src="/js/mobile-sidebar.js"></script>
  <script src="/js/navbar.js"></script>

  <script type="text/javascript" src="/js/lib/loadingoverlay.min.js"></script>
  <script type="text/javascript" src="/js/loading-indicator.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>
  <script src="/js/lib/particles.min.js"></script>
  <script src="/js/lib/moment/moment.min.js"></script>
  <script src="/js/lib/moment/moment-timezone.js"></script>
  <script type="text/javascript" src="/js/lib/moment/locale/pt-br.js"></script>
  <script src="/js/lib/parse.min.js"></script>
  <script src="/js/lib/node-rsa-browser.js"></script>
  <!-- <script src="/js/fb.js"></script> -->
  <script src="/js/recuperar-senha.js"></script>
  <!-- endbuild -->

</html>
