<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Registrar | Colmeia</title>
    <meta name="description" content="Registre-se na plataforma Colmeia de reforço escolar. Agende aulas pelo aplicativo ou pelo site com segurança no conforto da sua casa.">
    
    <script>
      var next = <%- JSON.stringify(next ? next : '/') %>;
    </script>

    <!--Firebase auth-->
    <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>

    <script src="https://www.gstatic.com/firebasejs/ui/2.3.0/firebase-ui-auth__pt.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/2.3.0/firebase-ui-auth.css" />
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAaxolN_-SD3hrUVPzrGy_XmYG0-yWxrng",
        authDomain: "colmeia-6a0f9.firebaseapp.com",
        databaseURL: "https://colmeia-6a0f9.firebaseio.com",
        projectId: "colmeia-6a0f9",
        storageBucket: "colmeia-6a0f9.appspot.com",
        messagingSenderId: "270332155303"
      };
      firebase.initializeApp(config);
    </script>

    <script type="text/javascript">
      // FirebaseUI config.
      var uiConfig = {
        callbacks: {
          signInSuccess: function(currentUser, credential, redirectUrl) {

            afterFirebaseAuth(currentUser.phoneNumber, currentUser.uid);

            return false; //nao redireciona
          },
          uiShown: function() {
            // The widget is rendered.
          }
        },
        signInSuccessUrl: '<url-to-redirect-to-on-success>',
        signInFlow: 'popup',
        signInOptions: [
          // Leave the lines as is for the providers you want to offer your users.
          // firebase.auth.FacebookAuthProvider.PROVIDER_ID,
          {
            provider: firebase.auth.PhoneAuthProvider.PROVIDER_ID,
            recaptchaParameters: {
              type: 'image', // 'audio'
              size: 'normal', // 'invisible' or 'compact'
              badge: 'inline' //' bottomright' or 'inline' applies to invisible.
            },
            defaultCountry: 'BR' // Set default country to the United Kingdom (+44).
          }
        ],
        // Terms of service url.
        tosUrl: '/termos-de-uso-colmeia.pdf'
      };

      // Initialize the FirebaseUI Widget using Firebase.
      var ui = new firebaseui.auth.AuthUI(firebase.auth());
      // The start method will wait until the DOM is loaded.
      ui.start('#firebaseui-auth-container', uiConfig);
    </script>

    <% include ./partials/login/header %>

    <script type="text/javascript">
    /* <![CDATA[ */
    goog_snippet_vars = function() {
      var w = window;
      w.google_conversion_id = 863977747;
      w.google_conversion_label = "UnlJCOfytG8Qk4L9mwM";
      w.google_remarketing_only = false;
    }
    // DO NOT CHANGE THE CODE BELOW.
    goog_report_conversion = function(url) {
      goog_snippet_vars();
      window.google_conversion_format = "3";
      var opt = new Object();
      opt.onload_callback = function() {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    }
    var conv_handler = window['google_trackConversion'];
    if (typeof(conv_handler) == 'function') {
      conv_handler(opt);
    }
  }
  /* ]]> */
  </script>

  <script type="text/javascript"
    src="//www.googleadservices.com/pagead/conversion_async.js">
  </script>

    <div class="container" style="min-height: 90vh">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">

          <div class="header">
            Registrar e continuar
          </div>

          <div class="login-container" id="facebook-telefone" display: hidden>

            <div class="header-title">Precisamos apenas do seu telefone para continuar.</div>

            <input type="text" id="fb-telefone" display: hidden>
            <input type="text" id="fb-digits-id" display: hidden>

          </div>

          <div class="login-container">
            <div class="form-group">
              <label for="register-nome">Nome</label>
              <input type="text" class="form-control" placeholder="Nome" id="register-nome">
            </div>
            <div class="form-group">
              <label for="register-email">Email</label>
              <input type="text" class="form-control" placeholder="Email" id="register-email">
            </div>
            <div class="form-group">
              <label for="register-senha">Senha</label>
              <input type="password" class="form-control" placeholder="Senha" id="register-senha">
            </div>
            <div class="form-group">
              <label for="register-telefone">Telefone</label>
              <input type="text" class="form-control" placeholder="Telefone" id="register-telefone" readonly="readonly">
            </div>

            <div id="firebaseui-auth-container">

            </div>

            <input id="register-digits-id" type="hidden" name="digits_id">

            <div class="error-container-register">

            </div>
            <div class="termos">
              <div class="checkbox">
                <label><input type="checkbox" value="">Concordo com <a href="/Termos-de-Uso-Colmeia.pdf" target="_blank">termos de uso</a> e <a href="/politica-de-privacidade-colmeia.pdf" target="_blank">políticas de privacidade</a> da Colmeia.</label>
              </div>
            </div>
            <div class="colmeia-button button-filled register-button" onclick='goog_report_conversion()'>
              Registrar
            </div>

            <div class="suggestion">
              Já possui conta? <a href="/aluno/entrar">Entrar</a>
            </div>
          </div>


          <div class="login-container" id="tipo-container" display: hidden>
            <div class="tipo-header">
                Minha intenção é:
            </div>

            <div class="tipo-radio-group">

                <div class="form-group">
                    <label>
                        <input type="radio" name="radio-tipo" value="PAI"> Pedir aulas para meu filho(a)
                    </label>
                </div>

                <div class="form-group">
                    <label>
                        <input type="radio" name="radio-tipo" value="ALUNO"> Pedir aulas para mim
                    </label>
                </div>

                <div class="form-group">
                    <label>
                        <input type="radio" name="radio-tipo" value="PROFESSOR"> Ser professor(a) da plataforma
                    </label>
                </div>
            </div>

            <div class="tipo-container-professor" display: hidden>
                <div class="tipo-header">
                    Para que página gostaria de seguir?
                </div>
            
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="colmeia-button button-filled">
                            Alunos
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="colmeia-button button-black">
                            Professores
                        </div>
                    </div>
                </div>
            </div>
            <div class="tipo-container-aluno-pai">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="colmeia-button button-filled">
                            Continuar
                        </div>
                    </div>
                </div>
            </div>

          </div>


        </div>
      </div>
    </div>

    <% include ./partials/footer %>

  </body>

  <!-- build:js public/js/registrar.min.js -->
  <!-- white-navbar-scripts -->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/mobilechecker.js"></script>
  <script src="/js/mobile-sidebar.js"></script>
  <script src="/js/navbar.js"></script>

  <script src="/js/lib/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/js/lib/loadingoverlay.min.js"></script>
  <script type="text/javascript" src="/js/loading-indicator.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>
  <script src="/js/lib/particles.min.js"></script>
  <script src="/js/lib/moment/moment.min.js"></script>
  <script src="/js/lib/moment/moment-timezone.js"></script>
  <script type="text/javascript" src="/js/lib/moment/locale/pt-br.js"></script>
  <script src="/js/lib/parse.min.js"></script>
  <script src="/js/lib/node-rsa-browser.js"></script>
  <!-- <script src="/js/fb.js"></script> -->
  <script src="/js/login.js"></script>
  <!-- endbuild -->

</html>
