<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comunidade de Estudos</title>
  <link href="https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <!-- build:css public/css/pdfrestrito.min.css -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/lib/flickity.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  <link href="/css/restrict-pdf.css" rel="stylesheet" type="text/css" />
  <!-- endbuild -->
  <% include ./partials/user %> <% include ./partials/woopra %> <% include ./partials/analytics_header %> <% include ./partials/onesignal %> <%- pageData.scriptHead %>
  <!-- Global site tag (gtag.js) - Google Ads: 863977747 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-863977747"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'AW-863977747');
  </script>

  <!--
    Event snippet for Cadastro-Leads-LPs conversion page
    In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button.
  -->
  <script>
    function gtag_report_conversion(url) {
      var callback = function () {
        if (typeof url != 'undefined') {
          window.location = url;
        }
      };
      gtag('event', 'conversion', {
        send_to: 'AW-863977747/95lcCL-X74wBEJOC_ZsD',
        event_callback: callback
      });
      return false;
    }
  </script>
</head>
<body class="landing-campanha landing-campanha--online" style="font-family: 'Muli', sans-serif;">
  <%- pageData.scriptBody %>
  <div class="landing-campanha__wrapper">
    <nav class="navbar-static">
      <div class="container">
        <div class="navbar-static__content">
          <div class="navbar-static__left">
            <a class="navbar-static__logo-link" href="/">
              <img src="/img/colmeia_logo.png" alt="Aulas Colmeia Logo" class="navbar-static__logo-img" /></a>
          </div>
          <input type="checkbox" class="navbar__checkbox" id="navbar-toggle" />
          <label for="navbar-toggle" class="navbar__toggle">
            <div></div>
            <div></div>
            <div></div>
          </label>
          <div class="navbar-static__right">
            <a href="/comunidade-de-estudos/#inicio">início</a>
            <a href="/comunidade-de-estudos/#aulas">aulas</a>
            <a href="/comunidade-de-estudos/#questoes">materiais disponíveis</a>
            <a href="/comunidade-de-estudos/#contato">contato</a>
          </div>
        </div>
      </div>
    </nav>
    <main class="inicio-container dark-container" id="inicio">
      <div class="container">
        <div class="video-mirror">
          <div class="gohomepage">
            <a href="/comunidade-de-estudos/#inicio"><img src="/img/restrict-page-home-arrow.png" tel="seta para voltar ao menu inicial"><span>início</span></a>
          </div>
          <!-- <embed
            id="pdf-reader"
            type="application/pdf"
            src="<%= pageData.question[pageData.id][0].pdf %>"
            title="matéria aqui"
          /> -->
          <h3 id="pdf-title"><%= pageData.question[pageData.id][0].disciplina %> - <%= pageData.question[pageData.id][0].tema %></h3>
          <p id="pdf-description">
            Compilado de todas as dúvidas a respeito de <%= pageData.question[pageData.id][0].disciplina %>
          </p>
          <iframe
            class="embed"
            frameborder="0"
            id="pdf-reader"
            src="https://docs.google.com/viewer?url=https://aulascolmeia.com.br<%= pageData.question[pageData.id][0].pdf %>&embedded=true"
          >
          </iframe>
        </div>
      </div>
    </main>
    <% if (pageData.question[pageData.id].length > 1) { %>
      <aside class="aulas-container dark-container" id="aulas">
        <div class="container">
          <div class="aulao-box">
            <div class="aulao-info">
              <h3 class="aulao-info__header">Materiais Relacionados</h3>
            </div>
            <div class="aulao-carousel questoes-carousel">
              <% pageData.question[pageData.id].forEach((prop, index) => { %>
                  <div class="aulao__block">
                    <a
                      class="aulao-internal-block"
                      href="#pdf-reader"
                      data-pdf="https://docs.google.com/viewer?url=https://aulascolmeia.com.br<%= prop.pdf %>&embedded=true"
                      data-disciplina="<%= prop.disciplina %>"
                    >
                      <div class="aulao__img">
                        <img src="<%= prop.img %>" alt="" class="aulao__img" />
                      </div>
                      <div class="aulao__metadados">
                        <p class="aulao__preview">Exercícios de</p>
                        <h3 class="aulao__source"><%= prop.disciplina %></h3>
                      </div>
                    </a>
                  </div>
              <% }) %>
            </div>
          </div>
        </div>
      </aside>
    <% } else { %>
      <div class="dark-container padding-for-single-pdf"></div>
    <% } %>
    <%- include('partials/footer-socialmedia.ejs') %>
  </div>
  <!-- build:js public/js/pdfrestrito.min.js-->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>
  <script src="/js/lib/flickity.pkgd.min.js"></script>
  <!-- endbuild -->
  <script>
    $(document).ready(() => {
      $(document).on('click', 'a[href^="#"]', function(event) {
          event.preventDefault();

          const id = $(this).attr('href');
          const $id = $(id);

          const newPdfTitle = $(this).data('disciplina');
          const newPdfDesciption = `Compilado de todas as dúvidas a respeito de ${newPdfTitle}`;

          if ($('#pdf-reader').attr('src') != $(this).data('pdf')) {
            $('#pdf-reader').attr('src', $(this).data('pdf') + '');

            $('#pdf-title').text(newPdfTitle);
            $('#pdf-description').text(newPdfDesciption);
          }

          if ($id.length === 0) {
            return;
          }

          const navbarHeight = $('#navbar-toggle').is(':checked') ? $('.navbar-static').height() + $('.navbar-static__right').outerHeight() : $('.navbar-static').height();

          const pos = ($id.offset().top - navbarHeight - 100);
          $('body, html').animate({scrollTop: pos});
      });
    })
  </script>
  <% include ./partials/ferramentas %> <% include ./partials/fbpixel %>
</body>
</html>