<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comunidade de Estudos</title>
  <link href="https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <!-- build:css public/css/paginarestrita.min.css -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  <link href="/css/restrict-page.css" rel="stylesheet" type="text/css" />
  <link href="/css/lib/flickity.min.css" rel="stylesheet" type="text/css" />
  <!-- endbuild -->
  <% include ./partials/user %> <% include ./partials/woopra %> <% include ./partials/analytics_header %> <% include ./partials/onesignal %> <%- pageData.scriptHead %>
  <!-- Global site tag (gtag.js) - Google Ads: 863977747 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-863977747"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'AW-863977747');
  </script>

  <!--
    Event snippet for Cadastro-Leads-LPs conversion page
    In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button.
  -->
  <script>
    function gtag_report_conversion(url) {
      var callback = function () {
        if (typeof url != 'undefined') {
          window.location = url;
        }
      };
      gtag('event', 'conversion', {
        send_to: 'AW-863977747/95lcCL-X74wBEJOC_ZsD',
        event_callback: callback
      });
      return false;
    }
  </script>
</head>
<body class="landing-campanha landing-campanha--online" style="font-family: 'Muli', sans-serif;">
  <%- pageData.scriptBody %>
  <div class="landing-campanha__wrapper">
    <nav class="navbar-static">
      <div class="container">
        <div class="navbar-static__content">
          <div class="navbar-static__left">
            <a class="navbar-static__logo-link" href="/">
              <img src="/img/colmeia_logo.png" alt="Aulas Colmeia Logo" class="navbar-static__logo-img" /></a>
          </div>
          <input type="checkbox" class="navbar__checkbox" id="navbar-toggle" />
          <label for="navbar-toggle" class="navbar__toggle">
            <div></div>
            <div></div>
            <div></div>
          </label>
          <div class="navbar-static__right">
            <a href="#inicio">início</a>
            <a href="#aulas">aulas</a>
            <a href="#questoes">materiais disponíveis</a>
            <a href="#contato">contato</a>
          </div>
        </div>
      </div>
    </nav>
    <main class="inicio-container dark-container" id="inicio">
      <div class="container">
        <div class="studies-box">
          <div class="studies-info">
            <h3 class="studies-info__header">vamos estudar juntos?</h3>
            <b class="studies-info__welcome">Seja bem-vindo (a) à comunidade da Colmeia!</b>
            <p class="studies-info__paragraph">Aqui você vai encontrar os materiais necessários para a sua preparação para o ENEM ou outros vestibulares.</p>
          </div>
          <div class="studies-img"></div>
        </div>
      </div>
    </main>
    <aside class="aulas-container dark-container" id="aulas">
      <div class="container">
        <div class="aulao-box">
          <div class="aulao-info">
            <h3 class="aulao-info__header">
              AULAS
            </h3>
            <p class="aulao-paragraph">Assista às aulas gravadas pelos melhores professores da Colmeia</p>
          </div>
          <%- include('partials/restrict-pages-carousel.ejs') %>
        </div>
      </div>
    </aside>
    <aside class="questoes-container dark-container" id="questoes">
      <div class="container">
        <div class="download-box">
          <div class="download-info">
            <h3 class="download-info__header">MATERIAIS DISPONÍVEIS</h3>
            <p class="download-paragraph">
              Nossos professores preparam um documento com as principais questões de cada disciplina e comentaram as respostas de cada uma delas.
            </p>
          </div>
          <%- include('partials/restrict-pages-carousel-questions.ejs') %>
        </div>
      </div>
    </aside>
    <!-- <aside class="duvida-container light-container" id="duvida"></aside> -->
    <aside class="contato-container beige-container" id="contato">
      <div class="container">
        <div class="whatsapp-box">
          <h3>CONTATO</h3>
          <p>Quer saber mais sobre nossos serviços? Clique abaixo.</p>
          <a class="btn btn-black whatsapp-btn" href="https://aulascolmeia.com.br/" target="_blank">
            <span>CONHEÇA A COLMEIA</span>
          </a>
        </div>
      </div>
    </aside>
    <%- include('partials/footer-socialmedia.ejs') %>
  </div>
  <!-- build:js public/js/paginarestrita.min.js-->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/lib/jquery.mask.min.js"></script>
  <script src="/js/lib/loadingoverlay.min.js"></script>
  <script src="/js/loading-indicator.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>
  <script src="/js/lib/flickity.pkgd.min.js"></script>
  <!-- endbuild -->
  <script>
    $(document).ready(() => {

      $('.aulao-carousel').flickity({
        contain: true,
        autoPlay: 3500,
        pauseAutoPlayOnHover: true,
        pageDots: false,
        wrapAround: true,
        cellAlign: 'left',
      });

      $('.questoes-carousel').flickity({
        contain: true,
        autoPlay: 3500,
        pauseAutoPlayOnHover: true,
        pageDots: false,
        wrapAround: true,
        cellAlign: 'left',
      });

      $(document).on('click', 'a[href^="#"]', function(event) {
          event.preventDefault();

          const id = $(this).attr('href');
          const $id = $(id);

          if ($id.length === 0) {
            return;
          }

          const navbarHeight = $('#navbar-toggle').is(':checked') ? $('.navbar-static').height() + $('.navbar-static__right').outerHeight() : $('.navbar-static').height();

          const pos = ($id.offset().top - navbarHeight);
          $('body, html').animate({scrollTop: pos});
      });
    })
  </script>
  <% include ./partials/ferramentas %> <% include ./partials/fbpixel %>
</body>
</html>