<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comunidade de Estudos</title>
  <link href="https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <!-- build:css public/css/videorestrito.min.css -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/lib/flickity.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  <link href="/css/restrict-video.css" rel="stylesheet" type="text/css" />
  <!-- endbuild -->
  <% include ./partials/user %> <% include ./partials/woopra %> <% include ./partials/analytics_header %> <% include ./partials/onesignal %> <%- pageData.scriptHead %>
  <!-- Global site tag (gtag.js) - Google Ads: 863977747 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-863977747"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'AW-863977747');
  </script>

  <!--
    Event snippet for Cadastro-Leads-LPs conversion page
    In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button.
  -->
  <script>
    function gtag_report_conversion(url) {
      var callback = function () {
        if (typeof url != 'undefined') {
          window.location = url;
        }
      };
      gtag('event', 'conversion', {
        send_to: 'AW-863977747/95lcCL-X74wBEJOC_ZsD',
        event_callback: callback
      });
      return false;
    }
  </script>
</head>
<body class="landing-campanha landing-campanha--online" style="font-family: 'Muli', sans-serif;">
  <%- pageData.scriptBody %>
  <div class="landing-campanha__wrapper">
    <nav class="navbar-static">
      <div class="container">
        <div class="navbar-static__content">
          <div class="navbar-static__left">
            <a class="navbar-static__logo-link" href="/">
              <img src="/img/colmeia_logo.png" alt="Aulas Colmeia Logo" class="navbar-static__logo-img" /></a>
          </div>
          <input type="checkbox" class="navbar__checkbox" id="navbar-toggle" />
          <label for="navbar-toggle" class="navbar__toggle">
            <div></div>
            <div></div>
            <div></div>
          </label>
          <div class="navbar-static__right">
            <a href="/comunidade-de-estudos/#inicio">início</a>
            <a href="/comunidade-de-estudos/#aulas">aulas</a>
            <a href="/comunidade-de-estudos/#questoes">questões comentadas</a>
            <a href="/comunidade-de-estudos/#contato">contato</a>
          </div>
        </div>
      </div>
    </nav>
    <main class="inicio-container dark-container" id="inicio">
      <div class="container">
        <div class="video-mirror">
          <div class="gohomepage">
            <a href="/comunidade-de-estudos/#inicio"><img src="/img/restrict-page-home-arrow.png" tel="seta para voltar ao menu inicial"><span>início</span></a>
          </div>
          <iframe
            class="youtube-iframe youtube-video-iframe"
            src="https://www.youtube.com/embed/<%= pageData.video[(+pageData.id - 1)].embed %>"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
          <h3>
            <span><%= pageData.video[(+pageData.id - 1)].disciplina %></span>
            <% if (pageData.video[(+pageData.id - 1)].pdf) { %>
              <span class="download-span">
                Baixar PDF associado
                <a href="<%= pageData.video[(+pageData.id - 1)].pdf %>" download="<%= pageData.video[(+pageData.id - 1)].disciplina %>"></a>
              </span>
            <% } %>
          </h3>
          <p><%= pageData.video[(+pageData.id - 1)].descricao %></p>
        </div>
      </div>
    </main>
    <aside class="aulas-container dark-container" id="aulas">
      <div class="container">
        <div class="aulao-box">
          <div class="aulao-info">
            <h3 class="aulao-info__header">Outras aulas</h3>
          </div>
          <%- include('partials/restrict-pages-carousel.ejs') %>
        </div>
      </div>
    </aside>
    <%- include('partials/footer-socialmedia.ejs') %>
  </div>
  <!-- build:js public/js/videorestrito.min.js-->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>
  <script src="/js/lib/flickity.pkgd.min.js"></script>
  <!-- endbuild -->
  <script>
    $(document).ready(() => {
      $('.aulao-carousel').flickity({
        cellAlign: 'center',
        contain: true,
        autoPlay: 3500,
        pauseAutoPlayOnHover: true,
        pageDots: false,
        watchCSS: true,
        wrapAround: true,
        cellAlign: 'left',
        lazyload:true
      });
    })
  </script>
  <% include ./partials/ferramentas %> <% include ./partials/fbpixel %>
</body>
</html>