<!DOCTYPE html>
<html lang="pt">
  <head>

    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resumo da aula | Colmeia</title>

    <!--icon-->
    <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32">

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700" rel="stylesheet">

    <!-- build:css public/css/resumo.min.css -->
    <!-- libs -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- styles -->
    <link href="/css/resumo.css" rel="stylesheet">
    <link href="/css/new/modules/colmeia-button.css" rel="stylesheet">
    <!-- white-navbar-styles -->
    <link href="/css/white-navbar.css" rel="stylesheet">
    <link href="/css/dropdown-menu.css" rel="stylesheet">
     <!-- endbuild -->

    <script>
      var dados   = <%- JSON.stringify(dados) %>;
      var escolas = <%- JSON.stringify(escolas) %>;
    </script>

    <% include ./partials/user %>
    <% include ./partials/woopra %>
    <% include ./partials/analytics_header %>
    <% include ./partials/onesignal %>

    <script type="text/javascript">
        try {
          woopra.track('progresso', {
            step: 3,
            stepName: 'resumo'
        });
        } catch (e) {}
    </script>

  </head>

  <body>

    <script type="text/javascript">
    /* <![CDATA[ */
    goog_snippet_vars = function() {
      var w = window;
      w.google_conversion_id = 863977747;
      w.google_conversion_label = "GunsCP_ytG8Qk4L9mwM";
      w.google_conversion_value = Number(dados.duracao) * 15;
      w.google_conversion_currency = "BRL";
      w.google_remarketing_only = false;
    }
    // DO NOT CHANGE THE CODE BELOW.
    goog_report_conversion = function(url) {
      goog_snippet_vars();
      window.google_conversion_format = "3";
      var opt = new Object();
      opt.onload_callback = function() {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    }
    var conv_handler = window['google_trackConversion'];
    if (typeof(conv_handler) == 'function') {
      conv_handler(opt);
    }
  }
  /* ]]> */
  </script>
  <script type="text/javascript"
    src="//www.googleadservices.com/pagead/conversion_async.js">
  </script>

    <% include ./partials/white-navbar %>

    <div id="particles-js"></div>

    <div class="container">

      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="row">

            <h1 class="resumo-title">
                Detalhes do agendamento
            </h1>

            <div class="row mobile">
                <div class="col-lg-12 col-md-12">
                    <div class="mobile-caixa-resumo">
                        <div class="mcr-img"><img src="/img/profile_placeholder.png" alt="Colmeia Aulas particulares professor de reforço"></div>
                        <div class="mcr-body">
                            <div class="mcr-name"></div>
                            <div class="mcr-tag">
                                <div class="prof-materia">
                                </div>
                            </div>
                            <div class="mcr-date">
                                <div class="mcr-day"></div>
                                <div class="mcr-hour"></div>
                                <div class="mcr-duration"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-7 col-md-7">
                <div class="informacoes">
                    <div class="professor-voltar">
                        <i class="glyphicon glyphicon-chevron-left"></i> Escolher outro professor
                    </div>
    
                <div class="info-endereco">
                  <div class="info-title">
                    Endereço da aula:*
                  </div>
    
                  <div id="enderecos-list">
    
                  </div>
    
                  <div id="novo-endereco" display: hidden>
    
                    <div class="row">
                      <div class="col-lg-8 col-md-8">
                        <div class="form-group">
                          <label for="select-bairro">Bairro</label>
                          <select class="form-control" id="select-bairro">
                              <option>--</option>
                          </select>
                          <div id="select-bairro-desc">
                            Você pode apenas selecionar os bairros que o professor atende.
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                          <label for="select-cidade">Cidade</label>
                          <select class="form-control" id="select-cidade" disabled>
                              <option>--</option>
                          </select>
                        </div>
                      </div>
                    </div>
    
    
                    <div class="row">
                      <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                          <label for="input-endereco">Endereco</label>
                          <input type="text" class="form-control" id="input-endereco">
                        </div>
                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col-lg-8 col-md-8">
                        <div class="form-group">
                          <label for="input-complemento">Complemento</label>
                          <input type="text" class="form-control" id="input-complemento">
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                          <label for="input-numero">Número</label>
                          <input type="text" class="form-control" id="input-numero">
                        </div>
                      </div>
                    </div>
    
    
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <div class="colmeia-button button-orange">
                          Voltar
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="colmeia-button button-filled">
                          Adicionar
                        </div>
                      </div>
                    </div>
                  </div>
    
                </div>
    
                <div class="info-pagamento">
                  <div class="info-title">
                    Pagamento:*
                  </div>
    
                  <div id="cartoes-list">
    
                  </div>
    
                  <div id="novo-cartao" display: hidden>
    
                    <div class="row">
                      <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                          <label for="input-cartaonu">Número do cartão</label>
                          <input type="text" class="form-control" id="input-cartaonu">
                        </div>
                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                          <label for="input-nome">Nome</label>
                          <input type="text" class="form-control" id="input-nome">
                        </div>
                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                          <label for="input-cpf">CPF</label>
                          <input type="text" class="form-control" id="input-cpf">
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                          <label for="input-nascimento">Data de nascimento</label>
                          <input type="text" class="form-control" id="input-nascimento">
                        </div>
                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col-lg-4 col-md-4">
                        <label>Mês de validade</label>
                        <div class="form-group">
                          <input type="text" class="form-control" id="input-mes">
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <label>Ano de validade</label>
                        <div class="form-group">
                          <input type="text" class="form-control" id="input-ano">
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                          <label for="input-seguranca">Cod. Segurança</label>
                          <input type="text" class="form-control" id="input-seguranca">
                        </div>
                      </div>
                    </div>
    
    
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <div class="colmeia-button button-orange">
                          Voltar
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="colmeia-button button-filled">
                          Adicionar
                        </div>
                      </div>
                    </div>
                  </div>
    
                </div>
    
                <div class="info-escola" display: hidden>
                  <div class="info-title">
                    Informações escolares:
                  </div>
    
                  <!-- <div class="row">
                    <div class="col-lg-12 col-md-12">

                      <div class="text-card">
                        <div class="form-group" style="margin-bottom: 0;">
                          <select class="form-control" id="select-escola">
                            <option disabled selected value="">Nome da escola</option>
                            <option value="Outra">Outra escola</option>
                          </select>
                        </div>
                      </div>
    
                      <div class="text-card" display: hidden id="nova-escola-card">
                        <div class="form-group">
                          <input type="text" class="form-control" id="nova-escola" placeholder="Digite o nome da escola">
                        </div>
                      </div>
    
                      <div class="text-card">
                        <div class="form-group">
                          <select class="form-control" id="select-ano">
                              <option disabled selected value="">Ano escolar</option>
                          </select>
                        </div>
                      </div>

                    </div>
                  </div> -->

                  <div class="row">
                    <div class="col-lg-12 col-md-12">

                        <div class="row">

                            <div class="col-lg-5 col-md-5">
                                <div class="text-card">
                                    <div class="form-group">
                                        <select class="form-control" id="select-ano">
                                            <option disabled selected value="">Ano escolar</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-7 col-md-7">
                                <div class="text-card">
                                    <div class="form-group" style="margin-bottom: 0;">
                                        <select class="form-control" id="select-escola">
                                        <option disabled selected value="">Nome da escola</option>
                                        <option value="Outra">Outra escola</option>
                                        </select>
                                    </div>
                                    </div>
                
                                    <div class="text-card" display: hidden id="nova-escola-card">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="nova-escola" placeholder="Digite o nome da escola">
                                    </div>
                                </div>
                            </div>

                        </div>
                        </div>
                    </div>

                </div>
    
                <div class="info-observacao">
                  <div class="info-title">
                    Observações da aula:
                  </div>
    
                  <div class="row">
                    <div class="col-lg-12 col-md-12">
                      <div class="text-card">
                        <div class="form-group">
                            <form id='resumo-form' method='POST' enctype='multipart/form-data' >
                                <input name='foto-obs' id='foto-obs' type='file' class='filestyle' data-buttonText="" data-iconName="glyphicon glyphicon-camera" data-placeholder="Escolha uma imagem">
                                <input type="text" name="observacao" value="" display: hidden>
                                <input type="text" name="cardId" value="" display: hidden>
                                <input type="text" name="endId" value="" display: hidden>
    
                                <input type="text" name="nomeEscola" value="" display: hidden>
                                <input type="text" name="anoEscola" value="" display: hidden>
                                <input type="text" name="cidade" value="" display: hidden>
    
                            </form>
                          <!-- <input type="text" class="form-control" placeholder="Escreva uma observação (opcional)" id="input-observacao"> -->
    
                          <textarea id="input-observacao" rows="5" class="form-control" placeholder="Escreva uma observação (opcional)"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
    
                </div>

                <div class="info-codigo-mobile mobile">
                  <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="discount-title">Código promocional:</div>
                        <input type="text" class="form-control" id="input-codigo-mobile" placeholder="Inserir código">
                        <div id="code-feedback-mobile"></div>
                        <div class="colmeia-button button-orange" id="code-button-mobile">
                            Validar código
                        </div>
                    </div>
                  </div>
                </div>

                <div class="mobile-info mobile">
                    <p class="mobile-info-text">Cancele gratuitamente até 3 horas antes do início da aula. Após esse prazo será cobrado um valor fixo de R$15,00.</p>
                    <div class="mobile-info-price">
                        <div class="mobile-info-title">Valor total:</div>
                        <div class="preco-aula">--</div>
                    </div>
                </div>
    
                <div class="confirmacao">
                  <div class="row">
                    <div class="col-lg-12 col-md-12">
                      <div class="colmeia-button button-filled" id="final-button">
                        Confirmar agendamento
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-5 col-md-5 not-mobile">
                <div class="right-wrapper">
                    <div class="caixa-resumo" display: hidden>
                        <div class="aula-info">
                            <div class="prof-info">
                                <div class="prof-foto">
                                <img src="/img/profile_placeholder.png" alt="">
                                </div>
                                <div class="name-rating">
                                    <div class="prof-nome">
                                        --
                                    </div>
                                    <div class="prof-rating">
                                        <div class="prof-rating-value"></div>
                                        <img class="prof-rating-img" src="/img/rating-star.png" alt="Avaliação professor Aulas Colmeia">
                                    </div>
                                    <div class="prof-materia">
                                        
                                    </div>
                                </div>
                            </div>
    
                            <div class="data-info">
                                <div class="data-aula">
                                </div>
                                <div class="horario-aula">
                                </div>
                                <div class="duracao-aula">
                                </div>
                            </div>
    
                            <div class="cancelamento-info">
                                <div class="cancelamento-title">
                                    Política de cancelamento
                                </div>
        
                                <div class="cancelamento-text">
                                    Cancele gratuitamente até 3 horas antes do início da aula.
                                    Após esse prazo será cobrado um valor fixo de R$15,00.
                                </div>
                            </div>
    
                            <div class="preco-info">
                                <div class="preco-aula">
                                    --
                                </div>
                            </div>
    
                        </div>
                    </div> <!-- caixa resumo -->
    
                    <div class="codigo-container">
                        <a href="javascript:void(0)" class="codigo-container-toggle">Possui código promocional?</a>
    
                        <div class="codigo-content">
                            <div class="discount-title">Código promocional:</div>
                            <input type="text" class="form-control" id="input-codigo" placeholder="Inserir código">
                            <div id="code-feedback"></div>
                            <div class="colmeia-button button-orange" id="code-button">
                            Validar código
                            </div>
                        </div>
                    
                    </div>
                </div>
               
            </div>

      </div>
        </div>
      </div>
    </div>

    <div id="aula-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img class="aula-modal-img" src="/img/check-white.png" alt="Aulas Colmeia reforço escolar aula marcada">
                    <div class="aula-modal-title">Sua aula foi agendada com sucesso!</div>
                    <div class="aula-modal-content">
                        Você pode já pode conferir essa aula na <a style="display: inline-block" href="/aluno/agenda">sua agenda</a>. <br/> Para receber notificações sobre suas aulas basta baixar nosso aplicativo.
                    </div>
                    <div class="colmeia-button aula-marcada-button">Concluído</div>
                </div>
            </div>
        </div>
    </div>

  <% include ./partials/footer %>
</body>

  <!-- build:js public/js/resumo.min.js -->
  <!-- white-navbar-scripts -->
  <script src="/js/lib/jquery-2.1.4.js"></script>
  <script src="/js/mobilechecker.js"></script>
  <script src="/js/mobile-sidebar.js"></script>
  <script src="/js/navbar.js"></script>

  <!-- libs -->
  <script src="/js/lib/loadingoverlay.min.js"></script>
  <script src="/js/lib/loadingoverlay_progress.min.js"></script>
  <script src="/js/loading-indicator.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>
  <script src="/js/lib/bootbox.min.js"></script>
  <script src="/js/lib/jquery.mask.min.js"></script>
  <script src="/js/lib/moment/moment.min.js"></script>
  <script src="/js/lib/moment/moment-timezone.js"></script>
  <script type="text/javascript" src="/js/lib/moment/locale/pt-br.js"></script>
  <script src="/js/lib/moip.min.js"></script>
  <script src="/js/lib/node-rsa-browser.js"></script>
  <script src="/js/lib/bootstrap-filestyle.min.js"></script>

  <!-- polyfills -->
  <script src="/js/polyfill/Blob.js"></script>
  <script src="/js/polyfill/canvas-toBlob.js"></script>

  <!-- scripts -->
  <script src="/js/constantes.js"></script>
  <script src="/js/utilFunctions.js"></script>
  <script src="/js/lib/particles.min.js"></script>
  <script src="/js/messageHandling.js"></script>
  <script src="/js/resumo.js"></script>
  <!-- endbuild -->

  <% include ./partials/ferramentas %>
  <% include ./partials/fbpixel %>

</html>
