<!DOCTYPE html>
<html lang="pt">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Professores | Colmeia</title>

    <!--tags-->
    <meta name="description" content="Quer ser parceiro da Colmeia? Cadastre-se e garanta uma renda extra sendo professor de aula particular">
    <meta name="keywords" content="colmeia, aulas particulares, aula particular">
    <meta name="robots" content="index">

    <!--icon-->
    <link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32">

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <!-- build:css public/css/seja-um-professor-simples.min.css -->
    <!--libs-->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/animate.css" rel="stylesheet" type="text/css">
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!--styles-->
    <link href="/css/seja-um-professor.css" rel="stylesheet" type="text/css">
    <link href="/css/modal.css" rel="stylesheet" type="text/css">
    <!-- endbuild -->
    
    <% if (!isDebug) { %>
        <script>
            (function(){
            var t,i,e,n=window,o=document,a=arguments,s="script",r=["config","track","identify","visit","push","call","trackForm","trackClick"],c=function(){var t,i=this;for(i._e=[],t=0;r.length>t;t++)(function(t){i[t]=function(){return i._e.push([t].concat(Array.prototype.slice.call(arguments,0))),i}})(r[t])};for(n._w=n._w||{},t=0;a.length>t;t++)n._w[a[t]]=n[a[t]]=n[a[t]]||new c;i=o.createElement(s),i.async=1,i.src="//static.woopra.com/js/w.js",e=o.getElementsByTagName(s)[0],e.parentNode.insertBefore(i,e)
            })("woopra");

            woopra.config({
                domain: 'aulascolmeia.com.br',
                hide_campaign: false
            });

            woopra.track();
        </script>
    <% } %>
	</head>

  <body id="page-top">

      <script type="text/javascript">
    /* <![CDATA[ */
    goog_snippet_vars = function() {
      var w = window;
      w.google_conversion_id = 863977747;
      w.google_conversion_label = "re25CNqW63MQk4L9mwM";
      w.google_remarketing_only = false;
    }
    // DO NOT CHANGE THE CODE BELOW.
    goog_report_conversion = function(url) {
      goog_snippet_vars();
      window.google_conversion_format = "3";
      var opt = new Object();
      opt.onload_callback = function() {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    }
    var conv_handler = window['google_trackConversion'];
    if (typeof(conv_handler) == 'function') {
      conv_handler(opt);
    }
    }
    /* ]]> */
    </script>
    <script type="text/javascript"
    src="//www.googleadservices.com/pagead/conversion_async.js">
    </script>

    <!--nav-->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu</i>
                </button>
                <a class="navbar-brand page-scroll" href="/"><img id="navbar-logo" src="/img/logo-laranja.png" height="100%"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="hidden">
                        <a href="/"></a>
                    </li>
                    <li>
                        <a href="/acompanhamento-escolar">Acompanhamento escolar</a>
                    </li>
                    <li>
                      <a href="/calculadora-pas">Calculadora PAS</a>
                    </li>
                    <li>
                      <a href="/professor">Professor</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <!--header-->
    <header id="prof-header">
      <div id="particles-js"></div>
      <div class="container">
          <div class="row intro">
            <div class="col-lg-7 col-md-7 col-sm-7 intro-text">
              <img id='logo-header' src="/img/logo-black.png" alt="Aulas Colmeia ser professor dar aulas cadastrar dinheiro">
              <h1>Ganhe até <b> R$900 </b> por semana dando aulas!</h1>
              <h2>
                Agora em Brasília, <br>Goiânia e São Paulo.
              </h2>
              <button onclick="javascript:openLoginModal();" role="button" data-toggle="modal"
                      class="btn btn-default colmeia-button" id='login-button' name="button">Entrar</button>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
              <div id="registro-container">
                <div class="header">
                  Cadastre-se
                </div>
                <form id="formSignin">
                  <div class="form-group">
                      <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome">
                  </div>
                  <div class="form-group">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" name="telefone" id="telefone" placeholder="Celular">
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" id="bairro" placeholder="Bairro">
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" id="endereco" placeholder="Endereço completo">
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="check-termos" style="margin-top: 8px;">Eu concordo com os <a href="https://aulascolmeia.com.br/Termos-de-Uso-Colmeia.pdf"> Termos de uso </a> da Colmeia.</label>
                  </div>

                  <div id="registerMessage">

                  </div>

                  </form>
                  <div style="text-align: center;">
                    <button id="sendButton" name="button" class="btn btn-default colmeia-button"> Cadastrar </button>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </header>

    <section id="answers">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
            <div class="answers-container">
              <div class="answer-block">
                <a class="collapse-heading" href="#collapse1" data-toggle="collapse">O que é a Colmeia?</a>
                
                <div id="collapse1" class="collapse collapse-content">
                  <p class="collapse-paragraph margin-top-regular margin-bottom-large">
                     A Colmeia é uma plataforma online que conecta acadêmicos com alunos dos ensinos fundamental e médio. Os pais podem fazer
                    o agendamento para os filhos de forma totalmente online, através de um sistema que disponibiliza os professores e suas agendas.
                  </p>

                </div>
              </div>

              <div class="answer-block">
                <a class="collapse-heading" href="#collapse2" data-toggle="collapse">Vantagens em ser um parceiro Colmeia</a>
              
                <div id="collapse2" class="collapse collapse-content">
                  <h2 class="collapse-title margin-top-regular">
                    Você no controle
                  </h2>

                  <p class="collapse-paragraph margin-bottom-regular">
                      Esqueça o papel e caneta para se organizar. A partir de agora você tem um aplicativo (Android e iPhone) que vai servir para
                    você:
                  </p>

                  <ul>
                    <li>
                      Receber agendamentos de aulas e ter consultar informações como: data, endereço, matéria
                    </li>
                    <li>
                      Ver o histórico de aulas dadas
                    </li>
                    <li>
                      Verificar seu saldo e realizar saques direto para sua conta bancária
                    </li>
                    <li>
                      Se organizar da melhor forma - tudo de acordo com seus horários disponíveis
                    </li>
                  </ul>

                  <h2 class="collapse-title margin-top-large">
                     Dê aulas apenas nos bairros que quiser
                  </h2>
                  
                  <p class="collapse-paragraph">
                     Tá sem carro? Não quer pegar muitos ônibus para dar uma aula? Sem problema! Você escolhe os bairros que atende, até porque
                    <b><em>ninguém é obrigado a ficar rodando a cidade :)</em></b>
                  </p>

                  <h2 class="collapse-title margin-top-large">
                    Ganhe até R$900 por semana
                  </h2>
                  
                  <p class="collapse-paragraph margin-bottom-regular">
                     Você recebe R$30 por hora de aula! Isso significa que dando por volta de 4h de aula por dia você obtém uma renda de R$3600
                    por mês.
                  </p>
                </div>
              </div>

              <div class="answer-block">
                <a class="collapse-heading" href="#collapse3" data-toggle="collapse">O que preciso para me cadastrar?</a>
              
                <div id="collapse3" class="collapse collapse-content">                  
                  <p class="collapse-paragraph margin-top-regular margin-bottom-large">
                     Você está em graduação, mestrado, doutorado ou pós em alguma IES? Se inscreve aqui pra ser nosso parceiro ;) 
                      <br><br>
                     Estes são os
                    documentos, informações e pré-requisitos que você precisa antes de começar. Não se preocupe, você pode fazer o cadastro
                    em várias etapas e se fechar o navegador a gente salva os seus dados para que não tenha que começar tudo de novo!
                  </p>

                  <ul>
                    <li>
                       Ter um smartphone Android ou iPhone e WhatsApp instalado
                    </li>
                    <li>
                       Histórico escolar de graduação
                    </li>
                    <li>
                       Nome, email, RG, CPF, nome da mãe (para fazer o nada consta e antecedentes)
                    </li>
                    <li>
                       Ter experiência com aulas particulares (candidatos sem experiência devem ter um histórico de graduação com IRA > 3.5/5 ou
                      equivalente em outra escala)
                    </li>
                  </ul>

                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4">
                <button id="call-to-action" onclick="$('html, body').animate({ scrollTop: 0 }, 'slow');">
                  Fazer cadastro
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <% include ./partials/footer %>

    <div class="modal fade login" id="loginModal">
      <div class="modal-dialog login animated">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Entrar</h4>
          </div>
          <div class="modal-body">
              <div class="box">
                  <div class="content">
                      <div class="error"></div>
                      <div class="form loginBox">

                          <form id="formLogin" class="form text-xs-center" accept-charset="UTF-8">
                              <input id="inputEmail" class="form-control" type="email" placeholder="Email" name="email" required>
                              <input id="inputPassword" class="form-control" type="password" placeholder="Senha" name="senha" required>
                              <div id="loginMessage"></div>

                          <input type="submit" id="loginButton" class="btn btn-default btn-login block" value="Entrar">
                        </form>

                      </div>
                  </div>
              </div>
            </div>
           <div class="modal-footer">
           </div>
       </div>
    </div>
   </div>

  </body>

  <!-- build:js public/js/seja-um-professor-simples.min.js -->
  <!--libs-->
  <script type="text/javascript" src="/js/lib/jquery-2.1.4.js"></script>
  <script type="text/javascript" src="/js/lib/jquery.easing.min.js"></script>
  <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
  <script src="/js/lib/jquery.mask.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="/js/effects.js"></script>
  <script type="text/javascript" src="/js/lib/particles.min.js"></script>
  <script type="text/javascript" src="/js/lib/loadingoverlay.min.js"></script>
  <script type="text/javascript" src="/js/lib/loadingoverlay_progress.min.js"></script>
  <script type="text/javascript" src="/js/loading-indicator.js"></script>
  <script src="/js/lib/node-rsa-browser.js"></script>

  <!--scripts-->
  <script type="text/javascript" src="/js/seja-um-professor-simples.js"></script>
  <!-- endbuild -->

  <% include ./partials/ferramentas %>
  <% include ./partials/fbpixel %>

</html>
