<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <video id="video"></video> 
  <script src="//media.twiliocdn.com/sdk/js/video/releases/2.5.0/twilio-video.min.js"></script> 
  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      /* navigator.mediaDevices.enumerateDevices()
          .then((sources) => sources.filter((source) => source.kind === 'videoinput'))
          .then((camera) => {
            if (camera.length && camera[0].deviceId) {
              navigator.mediaDevices.getUserMedia({ audio: true, video: { deviceId: camera[0].deviceId } })
                .then((stream) => {
                  const video = document.querySelector('#video');
                  video.srcObject = stream;
                  video.onloadedmetadata = (event) => {
                    video.play();
                  }
                })
            }
          }) */

          const Video = Twilio.Video;

          fetch('/video/token', {
            method: "POST",
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              identity: 'Douglas',
              room: 'room-name'
            })
          })
          .then((data) => data.json())
          .then(({token}) => {
            Video.connect(token, { name: 'room-name' }).then(room => {
              console.log('Connected to Room "%s"', room.name);

              console.log(room.participants)
            
              room.participants.forEach(participantConnected);
              room.on('participantConnected', participantConnected);
            
              room.on('participantDisconnected', participantDisconnected);
              room.once('disconnected', error => room.participants.forEach(participantDisconnected));
            });
          })

          
          function participantConnected(participant) {
            console.log('Participant "%s" connected', participant.identity);
          
            const div = document.createElement('div');
            div.id = participant.sid;
            div.innerText = participant.identity;
          
            participant.on('trackSubscribed', track => trackSubscribed(div, track));
            participant.on('trackUnsubscribed', trackUnsubscribed);
          
            participant.tracks.forEach(publication => {
              if (publication.isSubscribed) {
                console.log('wss')
                trackSubscribed(div, publication.track);
              }
            });
          
            document.body.appendChild(div);
          }
          
          function participantDisconnected(participant) {
            console.log('Participant "%s" disconnected', participant.identity);
            document.getElementById(participant.sid).remove();
          }
          
          function trackSubscribed(div, track) {
            track.attack(document.querySelector(video));
          }
          
          function trackUnsubscribed(track) {
            track.detach().forEach(element => element.remove());
          }
    })
  </script>
</body>
</html>