* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Muli', sans-serif!important;
  color: #333e5a;
  min-height: 100%;
}

input, button, textarea {
  outline: none;
}

.twilio-header {
  background-color: #F9F9F9;
  border-bottom: 1px solid #828282;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 7%;
  height: 104px;
}

.twilio-header h3 {
  color: #FF8008;
  font-weight: bold;
  font-size: 2rem;
}

h1 {
  font-weight: 300;
  padding: 0.4em 0;
}

#root {
  min-height: 100vh;
}

.twilio-videochat {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.twilio-box {
  background-color: #E5E5E5;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.twilio-login {
  background: #F9F9F9;
  box-shadow: 2px 6px 40px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 4rem 2.5rem;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 2rem 0;
}

.twilio-login h3 {
  font-size: 2.3rem;
  font-weight: bold;
  color: #FF8008;
  text-align: center;
}

.twilio-login .user {
  padding-top: 3rem;
  padding-bottom: 6rem;
}

.twilio-login .user label, .twilio-login .user input {
  font-size: 1.6rem;
}

.twilio-login .user label {
  display: block;
  color: #828282;
  font-weight: bold;
  padding-bottom: 1rem;
}

.twilio-login .user input {
  width: 100%;
  background: #F2F2F2;
  border: none;
  padding: 1.5rem 0.5rem;
}

.twilio-login button {
  background-color: #ff8008;
  color: #F2F2F2;
  font-size: 1.8rem;
  padding: 2rem 0;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 0.2s;
}
.twilio-login button:hover {
  background-color: #feb32a;
}

.twilio-room {
  display: grid;
  grid-template-columns: 120px auto 23%;
  grid-template-areas: "options video chat"
}

.twilio-room-fullscreen {
}

.twilio-options {
  grid-area: options;
  background-color: #ff8008;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0px;
  z-index: 999;
}

.twilio-screen {
  grid-area: video;
  position: relative;
  
}

.twilio-screen-no-chat {
  grid-row-end: chat!important;
  grid-row-start: video!important;
  grid-column-start: video!important;
  grid-column-end: chat!important;
}

.twilio-options button {
  background: transparent;
  color: #F2F2F2;
  letter-spacing: 0.01em;
  border: none;
  display: block;
  margin: 40% auto;
  cursor: pointer;
  outline: none;
}

.twilio-options button span {
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
}

.remote-participants, .remote-participants video, .remote-participants .participant-container {
  width: 100%;
  height: 100%;
}

.remote-participants .participant-container {
  background-color: #000;
}

.remote-participants video {
  object-fit: fill;
}

.remote-participants .fullscreen-btn {
  position: absolute;
  border: none;
  top: 50px;
  right: 50px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 0.7rem;
  opacity: 0.7;
  background: #F2F2F2;
  cursor: pointer;
  z-index: 999;
}

.remote-participants .fullscreen-btn img {
  width: 70%;
}

.local-participant {
  position: fixed;
  bottom: 1.5%;
  right: 1.5%;
  height: 23%;
  display: flex;
}

.local-participant .participant-container, .local-participant .participant-container video {
  height: 100%;
  position: relative;
}

.local-participant .participant-container video {
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

.local-participant .participant-container {
  z-index: 666;
  border: 2px solid #FFFFFF;
  background-color: #C4C4C4;
  background-image: url(/img/aulaonline-camerablocked-icon.png);
  background-repeat: no-repeat;
  background-position: center;
}

.local-participant .fullscreen-btn {
  display: none; /* none */
  position: absolute;
  right: 0;
}

.remote-participant-background {
  background-color: #C4C4C4;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minimize-icon, .maximize-icon {
  position: absolute;
  cursor: pointer;
  z-index: 777;

}

.minimize-icon {
  right: 5%;
  top: 9%;
}

.maximize-icon {
  transform: rotate(180deg);
  width: 50px;
  background: #F2F2F2;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border-style: solid;
  border-color: #F2F2F2;
  border-width: 1.5rem 1rem;
  bottom: 10%;
  right: 10%;
}

.popup-message {
  position: absolute;
  background: #333333;
  border-radius: 4px;
  color: #F2F2F2;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.01em;
  text-align: center;
  padding: 0.5rem 2rem;
  top: 200px;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 777;
  transition: visibility 0.2s;
}

.modal-visible {
  position: absolute;
  display: flex;
  right: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 104px);
  z-index: 888;
  background: rgba(0, 0, 0, 0.6);
}

.modal-hidden {
  display: none;
}

.confirmation-box {
  background: #F9F9F9;
  box-shadow: 2px 6px 40px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 27%;
  min-width: 350px;
}

.confirmation-box__title {
  color: #FF8008;
  letter-spacing: 0.02em;
  font-weight: bold;
  font-size: 2.5rem;
  padding: 2rem 0;
}

.confirmation-box__info {
  color: #828282;
  letter-spacing: 0.02em;
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
  padding: 0 2.5rem;
  line-height: 2rem;
}

.confirmation-box .btn-group {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}

.confirmation-box button {
  border: 2px solid #FF8008;
  border-radius: 8px;
  padding: 1rem 2rem;
  letter-spacing: 0.02em;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 1%;
  cursor: pointer;
}

.confirmation-box .logout-btn {
  background-color: #F9F9F9;
  color: #FF8008;
}

.confirmation-box .cancel-logout-btn {
  background-color: #FF8008;
  color: #F2F2F2;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: chat;
  background: #EEEEEE;
}

.messages__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #FF8008;
}

.messages__header .close-chat-btn {
  background-image: url(/img/aulaonline-logout-mobile-icon.png);
  background-size: 100%;
  padding: 20px;
  cursor: pointer;
}

.messages__title {
  letter-spacing: 0.01em;
  color: #F2F2F2;
  font-weight: 900;
  font-size: 1.8rem;
  padding: 0 2rem;
}

.messages__box .conversations {
  overflow-y: scroll;
}

.messages__box {
  height: 93%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.messages__box .msg {
  letter-spacing: 0.01em;
  color: #828282;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0 2rem;
}

.messages__box .msg .author-me {
  color: #fa8027;
}

.messages__box .msg .author-other {
  color: #003153;
}

.messages__box .msg .infomsg {
  color: #6a5acd;
}

.messages__sender {
  padding-top: 3rem;
}

.messages__sender input {
  width: 100%;
  padding: 2rem;
  padding-right: 13rem;
  color: #828282;
  letter-spacing: 0.01em;
  font-weight: bold;
}

.messages__sender button {
  position: absolute;
  right: 1%;
  bottom: 1%;
  background-color: #FF8008;
  background-image: url(/img/aulaonline-submit-btn.png);
  border: none;
  color: #FFF;
  font-weight: 900;
  font-size: 2rem;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  background-size: 100%;
  padding: 2rem;
}

.messages__sender label[for=file-upload] {
  position: absolute;
  right: 3.8%;
  bottom: 1%;
}

.messages__sender .file-upload-img {
  border-radius: 50%;
  height: 40px;
  cursor: pointer;
}

.stream-avaliation {
  width: 500px;
  background: #F9F9F9;
  box-shadow: 2px 6px 40px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.stream-avaliation h3 {
  font-weight: bold;
  letter-spacing: 0.02em;
  color: #FF8008;
  font-size: 2.5rem;
}

.stream-avaliation .vote h4, .stream-avaliation .feedback h4 {
  color: #828282;
  letter-spacing: 0.02em;
  font-weight: bold;
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

.stream-avaliation .button-group {
  display: flex;
  justify-content: center;
}

.stream-avaliation .button-group button {
  margin: 0 1rem;
}

.stream-avaliation .thumbs-up, .stream-avaliation .thumbs-down {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 1rem 1.1rem;
  cursor: pointer;
}

.stream-avaliation .thumbs-up img, .stream-avaliation .thumbs-down img {
  display: block;
  margin: auto;
}

.stream-avaliation .thumbs-up {
  background-color: #27AE60;
}

.stream-avaliation .thumbs-down {
  background-color: #EB5757;
}

.stream-avaliation .feedback textarea {
  width: 100%;
  background: #F2F2F2;
  border-radius: 8px;
  font-size: 2rem;
  padding: 1rem;
  color: #828282;
}

.stream-avaliation .feedback textarea::placeholder {
  font-size: 1.3rem;
  color: #888686;
}

.stream-avaliation .feedback-btn {
  background: #FF8008;
  border-radius: 8px;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.02em;
  color: #F2F2F2;
  border: none;
  outline: none;
  padding: 1.3rem 6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.stream-avaliation .aval-child {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.lesson-tips-shown ~ .twilio-login {
  display: none!important;
}

.lesson-tips {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background: #F9F9F9;
  box-shadow: 2px 6px 40px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 6rem 5rem;
}

.lesson-tips .title h3{
  letter-spacing: 0.02em;
  color: #FF8008;
  font-weight: bold;
  font-size: 1.8rem;
  padding: 1.5rem 0;
}

.lesson-tips .info p {
  padding: 0.75rem;
  color: #4F4F4F;
  letter-spacing: 0.02em;
  font-weight: normal;
  font-size: 1.2rem;
}

.lesson-tips .info-line {
  display: flex;
  align-items: center;
}

.lesson-tips .info-line img {
  height: 35px;
  width: 35px;
  margin-right: 0.5rem;
}

.lesson-tips .btn button {
  color: #F2F2F2;
  background-color: #FF8008;
  border-radius: 8px;
  letter-spacing: 0.02em;
  font-size: 1.2rem;
  padding: 0.7rem 2rem;
  margin: 1.5rem 0;
  border: none;
  cursor: pointer;
}

.twilio-options .exit-img {
  background-image: url(/img/aulaonline-logout-icon.png);
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 630px) {
  html {
    background-color: #E5E5E5;
  }

  .twilio-login {
    width: 80%;
  }

  .stream-avaliation {
    width: 90%;
    margin: 2rem 0;
  }

  .local-participant {
    top: -99%;
    width: 25vh;
    position: relative;
    float: right;
    right: 10.5%!important;
  }

  .local-participant .participant-container {
    min-width: 165px!important;
  }
  
  .local-participant .participant-container video {
    width: 100%;
    object-fit: cover;
  }

  .twilio-room {
    grid-template-rows: 88vh 12vh!important;
    grid-template-columns: 100vw;
    grid-template-areas:
        "video"
        "options";
  }

  .twilio-options {
    flex-direction: row;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
  }

  .twilio-options .features {
    display: flex;
    width: 100%;
  }

  .twilio-options button {
    margin: 0 8%;
  }

  .twilio-options .screen-btn {
    display: none;
  }

  .twilio-options .exit-img {
    background-image: url(/img/aulaonline-logout-mobile-icon.png);
    background-size: 35px;
  }

  .messages, .messages__header {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
  }

  .messages {
    grid-area: unset;
    position: fixed;
    bottom: 0;
    z-index: 999;
    height: 70%;
    width: 100%;
  }

  .messages__header {
    padding: 0.5rem 1.5rem;
  }

  .messages__box {
    height: 85%;
  }

  .messages__sender label[for=file-upload] {
    right: 12%;
  }
  
  .messages__sender .file-upload-img {
    display: block;
    height: 35px;
  }

  .maximize-icon {
    top: 0!important;
    transform: unset!important;
  }

  .lesson-tips {
    width: 90%;
    top: 120px;
    padding: 2rem;
    margin-bottom: 2rem;
  }

  .lesson-tips .title h3 {
    font-size: 2.3rem;
    text-align: center;
  }

  .lesson-tips .info p {
    font-size: 1.5rem;
  }

  .lesson-tips .btn button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }

  .remote-participants .fullscreen-btn {
    display: none!important;
  }

  .remote-participants .is-screen-share {
    object-fit: contain!important;
  }

  .modal-visible {
    height: 90%;
  }

  .twilio-header-on-class {
    display: none!important;
  }
}

@media only screen and (orientation: landscape) and (max-width: 850px) {
  html {
    background-color: #E5E5E5;
  }
  
  .local-participant {
    top: -99%;
    position: relative;
    right: 3.5%;
    float: right;
  }

  .lesson-tips {
    width: 90%;
    top: 120px;
    padding: 2rem;
    margin-bottom: 2rem;
  }

  .stream-avaliation {
    margin: 2rem 0;
  }

  .maximize-icon {
    transform: unset!important;
  }

  .remote-participants .fullscreen-btn {
    display: none!important;
  }

  .twilio-room {
    grid-template-rows: 100vh!important;
  }

  .twilio-options .screen-btn {
    display: none;
  }

  .twilio-options button {
    margin-bottom: 0!important;
  }

  .modal-visible {
    height: 100%;
  }

  .local-participant {
    width: 30vh;
  }

  .twilio-header-on-class {
    display: none!important;
  }

  .local-participant .participant-container {
    min-width: 120px!important;
  }

  .local-participant .participant-container video {
    width: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 430px) {
  .twilio-login button {
    width: unset;
    padding: 1.2rem;
  }

  .twilio-login button span {
    padding-right: 1.5rem;
  }

  .twilio-header h3 {
    font-size: 1.8rem;
    text-align: right;
  }
}

@media only screen and (max-width: 340px) {
  .twilio-header h3 {
    font-size: 1.5rem;
  }

  .twilio-login h3 {
    line-height: 3rem;
  }

  .local-participant {
    right: 9.5%!important;
  }

  .confirmation-box {
    min-width: 280px!important;
  }

  .stream-avaliation {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .stream-avaliation .aval-child {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .lesson-tips {
    padding: 0.5rem;
  }

  .lesson-tips .title h3 {
    padding: 0.8rem 0;
    font-size: 2rem;
  }
}