body {
    font-family: 'Raleway', sans-serif;
}

#main {
    margin-bottom: 60px;
}

#main h1 {
    font-weight: 900;
    font-size: 36px;
    text-align: center;
}

#main p {
    font-size: 22px;
    text-align: center;
}

iframe {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    #main {
        margin-top: 100px;
    }
}

.colmeia-button {
    margin: 0 auto;
    outline: none;
    font-size: 18px;
    text-align: center;
    border-radius: 0px;
    cursor: pointer;
    width: 80%;
    transition: all 0.3s;
    padding: 12px 0;
    color: #fff;
    background-color: #ff8008;
    margin-top: 50px;
    border: 2px solid #ff8008;
}

.colmeia-button:hover,
.colmeia-button:focus,
.colmeia-button:active {
    background-color: #fff;
    box-shadow: none;
    color: #ff8008;
    border: 2px solid #ff8008;
}
