/*

colors:

colmeia-orange:       #FF8008
colmeia-dark-orange:  #ff7008
colmeia-yellow:       #FFC836
colmeia-gray:         #7D7D7F
colmeia-light-gray:   #E3E6ED
colmeia-black:        #111111
colmeia-white:        #FAFAFA

*/

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 25px;
}
.footer {
  bottom: 0;
  width: 100%;
  height: auto;
}

*{
  border: 0px solid black;
}
html, body {
    overflow-x: hidden;
}
body {
    margin: 0;
    background-color: #FAFAFA;
    font-family: "Raleway";
}

.kd-tabbed-vert.header-links .kd-tabbutton a {
    color: #757575;
    display: inline-block;
    height: 100%;
    padding: 0 24px;
    width: 100%;
}
.kd-tabbed-vert.header-links .kd-tabbutton {
    padding: 0;
}
.kd-tabbed-vert.header-links .kd-tabbutton.selected a {
    color: #03a9f4;
}
.kd-tabbed-vert.header-links .kd-tabbutton a:focus {
    text-decoration: none;
}
p.top-desc {
    padding: 1em 1em .1em 1em;
}
p.bottom-desc {
    padding: 0em 1em 1em 1em;
}

div#message{
  text-align: center;
  margin: 15px auto;
  color: #1762a1;
}

.form-group .form-control{
  border-radius: 0px;
  height: 3em;
}

.form-group .form-control:active
.form-group .form-control.active,
.form-group .form-control:hover,
.form-group .form-control:focus{
  border-color: #FF8008;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px #FF8008;
  outline: 0 none;
}

.header-message{

  font-weight: 400;
  margin: 40px auto;
  margin-top: 20px;
  text-align: center;
  font-size: 28px;
}

.intro{
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  margin-top: 70px;
  margin-bottom: 20px;
}

.address-image, .address-body, .address-remove{
  display: inline-block;
  cursor: pointer; cursor: hand;
}

.address-container, .address-new{
  border: 1px solid #FF8008;
  -webkit-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.33);
  -moz-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.33);
  box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.33);
  border-radius: 2px;
  margin-bottom: 20px;
  background-color: #FFFF;
  height: 100px;
  transition: all 0.2s;
}

.address-container:hover{
  -webkit-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.7);
  -moz-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.7);
  box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.7);
  cursor: pointer;
}

.address-new{
  border: 1px solid #08adff;
  text-transform: uppercase;
}

.address-new .address-adicionar{
  padding-top: 35px;
  text-align: center;
  font-size: 18px;
}

.address-image{
  float: left;
  padding: 25px 30px;
}

.address-remove{
  float: right;
  padding: 40px 30px;
  padding-left: 10px;;
  color: #FF8008;
}

.address-remove i{
  height: 20px;
}

.address-image img{
  height: 50px;
}

.address-body{
  padding-top: 20px;
  padding-left: 35px;
  font-size: 15px;
  height: 100%;
  width: 70%;
}

.address-name{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.address-complete span{
  color: #7D7D7F;
}

#two-buttons{
  padding-top: 20px;
  padding-bottom: 40px;
}

@media (max-width: 768px) {
  .address-body{
    padding-left: 5px;
    width: 60%;
  }
  .address-complete span{
    color: #7D7D7F;
    font-size: 12px;
  }
  .address-image img{
    height: 50px;
  }

  .address-image{
    padding: 25px 15px;
  }

  .address-remove{
    padding: 40px 15px;
  }

  #address-list{
    padding-bottom: 50px;
  }
}

button#newAddress{
  margin-top: 15px;
  margin-bottom: 45px;
}

#form-add-address .colmeia-button,
#form-add-address .colmeia-button-cancel{
  padding-top: 10px;
}

#address-list .colmeia-button,
#address-list .colmeia-button-cancel{
  padding-top: 10px;
}


.colmeia-button,
.colmeia-button-cancel{
  padding-top: 10px;
}

.invalid{
  background-color: #F0F0F0;
  border: 1px solid rgb(201, 48, 13);
  cursor: default;
}

.invalid:hover{
  box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.33);
  cursor: default;
}

.invalid .endereco_bai,
.invalid .endereco_comp,
.invalid .endereco_num,
.invalid .endereco_end{
  color: rgb(201, 48, 13);
}

#address-list p{
  text-align: center;
  font-size: 17px;
  margin-bottom: 40px;
  margin-top: 60px;
  color: rgb(157, 37, 10);
}

.form-group p{
  text-align: left;
  font-size: 15px;
  color: gray;
  margin-top: 10px;
}

section#footer{
  margin-top: 80px;
}

section#main-section{
    min-height: 470px;
}
