*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
}

.sub-nav {
    background-color: #ff8008;
    padding-bottom: 20px;
    position: relative;
    height: 65px;
}

.sub-nav img {
    width: 20px;
    margin-left: 10px;
}

.sub-nav a.mode-toggle {
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    /* margin-left: 60px; */
    position: absolute;
    top: 0px;
    left: 75px;
}

.sub-nav .mode-selector {
    display: none;
    position: absolute;
    top: 50px;
    left: 60px;
    background-color: #fff;
    border: 1px solid #ff8008;
    width: 200px;
    height: auto;
    z-index: 999;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.mode-selector a:link,
.mode-selector a:visited {
    color: #333;
    font-size: 18px;
    display: block;
    padding: 10px 15px;
    transition: 0.1s all;
    text-decoration: none;
}

.mode-selector a:hover,
.mode-selector a:active {
    background-color: #ff8008;
    color: #fff;
    text-decoration: none;
}

.agendar-plus:link,
.agendar-plus:visited {
    position: absolute;
    top: 35px;
    right: 25px;
    background-color: #333;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-decoration: none;
    display: block;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
    transition: 0.3s all;
}

.agendar-plus::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '+';
    font-size: 32px;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
}

.agendar-plus:focus,
.agendar-plus:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35);
}

#main {
    min-height: 600px;
}

.aulas-container {
    padding: 60px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.selected-aula-container {
    width: 30%;
    display: inline-block;
    height: 600px;
    position: relative;
}

.selected-aula-container-empty {
    text-align: center;
    color: #606060;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calendar-container {
    width: 70%;
    display: inline-block;
}

.cancelar-button,
.cancelar-button:link,
.cancelar-button:visited {
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: #e93112;
    font-size: 16px;
    transition: 0.3s all;
    margin: 0;
}

.cancelar-button:hover,
.cancelar-button:active {
    color: #e20411;
}

.cancel-free-template,
.cancel-paid-template,
.cancel-success-template {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    width: 75%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.cancel-header {
    color: #ff8008;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}

.cancel-message {
    color: #333;
    margin-bottom: 10px;
    font-size: 16px;
}

.voltar-free,
.cancelar-free,
.voltar-paid,
.cancelar-paid,
.cancel-success,
.cancel-success-historico {
    display: inline-block;
    font-size: 17px;
}

.vertical-separator {
    width: 1px;
    height: 10px;
    background-color: #95989a;
    margin: 0px 15px;
    display: inline-block;
    font-size: 17px;
}

.voltar-free:link,
.voltar-free:visited,
.voltar-paid:link,
.voltar-paid:visited,
.cancel-success:link,
.cancel-success:visited {
    color: #06844f;
    transition: 0.3s all;
}

.voltar-free:hover,
.voltar-free:active,
.voltar-paid:hover,
.voltar-paid:active,
.cancel-success:hover,
.cancel-success:active {
    color: #61af34;
}

.cancelar-free:link,
.cancelar-free:visited,
.cancelar-paid:link,
.cancelar-paid:visited,
.cancel-success-historico:link,
.cancel-success-historico:visited {
    color: #e93112;
    transition: 0.3s all;
}

.cancelar-free:hover,
.cancelar-free:active,
.cancelar-paid:hover,
.cancelar-paid:active,
.cancel-success-historico:hover,
.cancel-success-historico:active {
    color: #e20411;
}

.sem-aulas-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 40px;
}

.sem-aulas-container img {
    width: 80px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.sem-aulas-container p {
    color: #333;
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
}

.sem-aulas-container a:link,
.sem-aulas-container a:visited,
.sem-aulas-container a:active {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    background-color: #ff8008;
    display: block;
    margin: 10px auto;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    width: 300px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    border-radius: 2px;
    transition: 0.3s all;
}

.sem-aulas-container a:hover {
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.32);
}

.aula-card {
    border: 1px solid #e3e3e3;
    position: relative;
    margin-right: 20px;
    padding: 20px;
    margin-top: 70px;
}

.aula-card.aula-card-cancelada {
    border: 1px solid #e93112;
}

.aula-data {
    text-align: center;
    color: #303030;
}

.aula-dia {
    font-size: 26px;
    font-weight: bold;
}

.aula-horario {
    font-size: 22px;
    font-weight: bold;
}

.aula-duracao {
    font-size: 18px;
    color: #c2c2c2;
}

.card-separator {
    border-top-width: 2px;
}

.aula-professor {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.professor-left {
    width: 120px;
    height: 120px;
    border: 4px solid #e3e3e3;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    flex: 0 0 120px;
    margin-right: 20px;
}

.professor-left img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.professor-right {
    font-size: 18px;
}

.professor-nome {
    font-weight: 500;
    margin-bottom: 5px;
}

.professor-rating {
    display: flex;
    flex-direction: row;
}

.professor-rating-value {
    display: inline-block;
    font-size: 20px;
    color: #989898;
    font-weight: bold;
    margin-right: 5px;
}

.professor-rating-img {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: bottom;
}

.aula-materia {
    padding: 3px 7px;
    border: 1px solid #ff8008;
    color: #ff8008;
    font-size: 13px;
    display: inline-block;
    margin-top: 30px;
    border-radius: 5px;
}

.aula-nivel {
    padding: 3px 7px;
    border: 1px solid #ff8008;
    color: #ff8008;
    font-size: 13px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 15px;
}

.aula-endereco {
    padding: 0px 30px;
}

.aula-bairro {
    font-size: 16px;
}

.aula-endereco-completo {
    font-size: 18px;
}

.aula-cartao {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-numero {
    color: #303030;
    font-size: 16px;
    padding-left: 20px;
}

.card-bandeira {
    width: 50px;
}

.card-final {
    display: inline-block;
    font-size: 14px;
}

.card-number-gray {
    color: #989898;
}

.card-icon {
    width: 30px;
}

.aula-preco {
    margin-top: 10px;
    margin-bottom: 40px;
    padding-left: 20px;
    color: #989898;
    font-size: 16px;
}

.aula-preco-value {
    display: inline-block;
    font-size: 19px;
    color: #ff8008;
}

@media (max-width: 768px) {
    .aulas-container {
        padding: 5px;
        margin-top: 145px;
    }

    .sub-nav {
        margin-top: 55px;
        padding: 15px 0px;
        position: fixed;
        width: 100%;
        z-index: 5;
    }

    .aula-card {
        margin: 10px auto;
    }

    .agendar-plus:link,
    .agendar-plus:visited {
        top: 20px;
        right: 45px;
    }

    .sub-nav .mode-selector {
        top: 45px;
        left: 5px;
    }

    nav#mainNav.navbar {
        box-shadow: none;
        border-bottom: none;
    }

    .sub-nav a.mode-toggle {
        margin-left: 5px;
        position: relative;
        top: 0;
        left: 0;
    }

    .selected-aula-container,
    .calendar-container {
        width: 100%;
        display: block;
    }
    .calendar-container {
        padding-bottom: 50px;
    }
}
