.dark-container {
  background: #242424;
}

.light-container {
  background: #FAFAFA;
}

/* Vídeo */
.video-container {
  margin-top: 9.3rem;
}
.video-metadados {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #FCFCFC;
}

.video-metadados .video-header {
  color: #FF8008;
  margin-top: 5%;
  font-weight: 900;
  font-size: 345%;
  padding: 0 48px;
  text-align: center;
}

.video-metadados h3 {
  font-weight: 900;
  font-size: 185%;
}

.video-metadados p {
  font-weight: 400;
  font-size: 121%;
  text-align: center;
}

.video-mirror {
  margin-top: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.youtube-iframe {
  width: 100%;
}

.youtube-video-iframe {
  height: 55vh;
  min-height: 300px;
}

.youtube-chat-iframe {
  height: 40vh;
  margin-top: 2%;
  margin-bottom: 10%;
  min-height: 350px;
}

/* Cronograma */
.cronograma-container {
  color: #828282;
  padding: 4% 0;
}

.cronograma-header h3 {
  text-align: center;
  font-weight: 900;
  font-size: 230%;
}

.cronograma-display {
  display: flex;
  align-items: baseline;
  justify-items: center;
}

.lesson-info {
  margin: 6% 0;
}

.cronograma-display h4 {
  font-weight: 900;
  font-size: 183%;
}

.cronograma-display h6 {
  font-size: 160%;
  font-weight: 600;
}

.cronograma-display p {
  font-size: 140%;
}

.display-left, .display-right {
  flex: 50%;
}

.display-left {
  margin-right: 7%;
}

/* Anteriores */
.previous-lessons-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5%;
}

.checkout-live {
  display: none;
  text-align: center;
  width: 90%;
  color: #F2F2F2;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.7);
  border: 1.5px solid #E0E0E0;
  font-weight: 900;
  font-size: 123%;
}

.checkout-previous-lessons {
  color: #F2F2F2;
  line-height: initial;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 600;
  transition: 0.3s all;
}

.checkout-live:hover, .checkout-live:focus {
  color: #F2F2F2;
}

.checkout-previous-lessons:hover, .checkout-previous-lessons:focus {
  color: #FFF;
}

/* Conteúdo extra */
.extra-content-container {
  padding: 3% 0;
}

.extra-content-cards {
  display: flex;
  justify-content: center;
}

.card {
  display: block;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  transition: 0.3s all;
  text-decoration: none !important;
  margin: 2% 0.5%;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-1px);
}

.card-image {
  height: 180px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-1 .card-info {
  background: #EA5B1F;
}
.card-1 .card-image {
  background-image: url(/img/ebook-como-organizar-rotina-estudos.png);
}

.card-2 .card-info {
  background: #F8B238;
}
.card-2 .card-image {
  background-image: url(/img/ebook-educacao-em-dia.png);
}

.card-3 .card-info {
  background: #AA705B;
}
.card-3 .card-image {
  background-image: url(/img/blog-colmeia.png);
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 220px;
  padding-bottom: 7%;
}

.card-info .description, .card-info .checkout-more {
  color: #FCFCFC;
}

.card-info .description {
  font-weight: 900;
  font-size: 150%;
  padding: 20px;
}

.card-info .description span {
  display: block;
  font-weight: 200;
  font-size: 85%;
}

.card-info .checkout-more {
  border: 2px solid #F2F2F2;
  border-radius: 10px;
  padding: 5px 15px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s all;

  display: flex;
  flex-direction: row;
  width: 140px;
  justify-content: space-evenly;
  align-items: center;
}
.card-info .checkout-more:hover {
  width: 180px;
  justify-content: space-evenly;
}

.card-info .checkout-more img {
  height: 70%;
}

.extra-content-header h3 {
  color: #FF8008;
}

.extra-content-header h3, .media-content-header h3, .calendar-content-header h3 {
  text-align: center;
  font-weight: 900;
  font-size: 230%;
}

.media-container {
  color: #f2f2f2;
  padding-bottom: 7%;
}

.media-content__source {
  color: #FF8008;
}

.calendar-content-header h3 {
  color: #828282;
  line-height: 3.2rem;
}

@media only screen and (max-width: 991px) {
  .extra-content-cards {
    flex-wrap: wrap;
  }

  .card-image {
    padding: 25%;
  }

  .previous-lessons-button {
    margin-top: 7.5%!important;
  }
}

@media only screen and (max-width: 834px) {
  .cronograma-display {
    flex-wrap: wrap;
  }

  .lesson-info {
    margin: 15% 0!important;
  }

  .display-right .lesson-info {
    margin-top: 0!important;
  }

  .display-left {
    margin-right: unset!important;
  }

  .display-right, .display-left {
    flex: unset!important;
  }

  .youtube-chat-iframe {
    height: 0!important;
    margin-bottom: unset;
    display: none;
  }

  .checkout-live {
    display: block;
    margin-bottom: 35px;
    margin-top: 35px;
  }
}

.aguarde-aulao {
  padding: 28% 50%;
  background-image: url(/img/aguarde-aulao2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* CAROUSEL */
.flickity-button-icon {
  fill: #f2f2f2!important;
}

.flickity-button {
  background: transparent!important;
}

.flickity-prev-next-button .flickity-button-icon {
  width: 100%!important;
  height: 100%!important;
  background: hsla(0, 1%, 32%, 0.4);
  border-radius: 50%;
}

.media-content-carousel:after {
  content: 'flickity';
  display: none;
}
.media-content__img {
  height: 248px;
}

.media-content__metadados, .media-content__img {
  width: 100%;
}

.media-content-header h3 {
  padding: 5% 0;
}

.media-content__preview {
  font-weight: bold;
  font-size: 145%;
  color: #F2F2F2;
}

.media-content__block {
  margin-right: 10px;
  width: calc((100% / 3) - 10px);
}

.media-content__imgcss {
  display: none;
}

@media only screen and (max-width: 991px) {
  .media-content__block {
    width: calc((100% / 2) - 10px);
  }
}

@media only screen and (max-width: 514px) {
  .media-content-header h3 {
    padding: 10% 0;
    padding-top: 20%;
  }

  .extra-content-container {
    padding-bottom: 20%;
  }

  .extra-content-header h3 {
    padding: 7% 0;
    padding-top: 15%;
  }

  .cronograma-container {
    padding-bottom: 25%;
  }

  .aguarde-aulao {
    background-size: 155% !important;
  }

  .checkout-previous-lessons {
    font-size: 2.1rem;
  }

  .media-content-carousel:after {
    content: '';
  }

  /* Reescrita de css da mídia */
  .media-content__block {
    width: 100%!important;
    margin-bottom: 20px!important;
  }

  .media-internal-block {
    display: flex;
  }

  .media-content__img {
    height: 170px;
    width: 90%;
    display: none!important;
  }

  .media-content__imgcss {
    display: block;
    padding: 70px 70px;
    background-position: center;
    background-size: 115% 100%;
    margin-right: 10px;
    background-repeat: no-repeat;
  }

  .media-content__source {
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 111%;
    font-weight: 500;
  }

  .media-content__preview {
    font-size: 100%;
    line-height: initial;
  }
}

@media only screen and (max-width: 344px) {
  .media-content__preview {
    font-size: 92%;
  }

  .checkout-previous-lessons {
    font-size: 1.9rem;
  }

  .cronograma-display h4 {
    font-size: 167%!important;
    font-weight: 700!important;
  }

  .cronograma-display h6 {
    font-size: 133%!important;
  }

  .card-image {
    height: 165px;
  }

  .card-info {
    height: 235px;
  }

  .checkout-live {
    width: 100%;
  }
}