body {
    background-color: #fff;
    position: relative;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

html {
    overflow-x: hidden;
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.header {
    position: relative;
    margin-top: 72px;
    background-image: url(/img/team-blog.png);
    background-repeat: no-repeat;
    background-position: 425px 30px;
}

@media only screen and (min-width: 1200px) {
    .header {
        background-size: 75% auto;
        padding-bottom: 200px;
    }
}

.header {
    padding-bottom: 9rem!important;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .blog-page .posts {
        margin-top: 0;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header {
        background-size: 85% auto;
        padding-bottom: 80px;
    }

    .blog-page .posts {
        margin-top: 50px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
    .header {
        background-size: 100% auto;
        padding-bottom: 45px;
    }

    .blog-page .posts {
        margin-top: 50px;
    }
}

.header__top-container {
    position: relative;
}

.header__card {
    display: block;
    text-decoration: none !important;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    width: 600px;
    padding: 30px 30px 30px 120px;
    background-color: #fff;
    max-width: 100%;
    transition: 0.3s all;
}

a.header__card:hover {
    transform: scale(1.05);
}

.header__title {
    color: #56626f;
    text-transform: uppercase;
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 20px;
}

.header__subtitle {
    color: #303030;
    font-size: 16px;
}

.header__image {
    display: block;
    height: 320px;
    position: absolute;
    top: 20px;
    right: -50px;
    z-index: -1;
}

.posts__wrapper {
    display: block !important;
    margin: 0 auto !important;
}

.posts__wrapper--1 {
    width: 65% !important;
}

.posts__wrapper--2 {
    width: 75% !important;
}

.posts__wrapper--3 {
    width: 85% !important;
}

.post-card {
    display: flex;
    margin-bottom: 30px;
    border-radius: 6px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    text-decoration: none !important;
    transition: 0.3s all;
}

.post-card:hover {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    transform: translateX(5px);
}

.post-card__content {
    display: flex;
}

.post-card__left {
    flex: 0 0 30%;
    border-radius: 6px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.post-card__right {
    flex: 1;
    padding: 10px 20px;
}

.post-card__label {
    text-transform: uppercase;
    color: #ff8008;
    font-size: 15px;
    font-weight: bold;
}

.post-card__hr {
    background-color: #ebeded;
    height: 1px;
    margin: 10px 0;
}

.post-card__title {
    color: #303030;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.post-card__subtitle {
    color: #56626f;
    font-size: 15px;
}

.posts__title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 40px;
    margin-left: 20px;
    color: #303030;
}

.posts__banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.post-card__date {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.post-card__date-icon, .view-more-card__date-icon {
    display: block;
    width: 13px;
    height: 13px;
    margin-right: 5px;
    float: left;
}

.post-card__date-value, .view-more-card__date-icon {
    font-style: italic;
    color: #56626f;
    font-size: 13px;
}

.blog-post, .share {
    background-color: #fff;
}

.blog-post {
    margin-top: 30px;
}

.container .recent-previews {
    margin-top: 30px;
}

.blog-post img {
    max-width: 100%;
    margin: 35px auto;
    display: block;
}

.blog-post__about {
    display: flex;
    flex-direction: column;
}

.blog-post__label {
    color: #ff8008;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.blog-post__title {
    color: #303030;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.blog-post__author {
    margin-top: 15px;
    font-size: 16px;
    color: #4a5254;
}

.blog-post__preview-text {
    font-size: 20px;
}

.blog-post__image {
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
}

.blog-post__body {
    font-size: 19px;
}

.blog-post__body p {
    text-indent: 5rem;
    text-align: unset;
}

.blog-post__body ul {
    list-style-type: unset;
}

.blog-post__body li {
    margin-left: 5rem;
}

.blog-post__body li p {
    text-indent: unset;
}

.blog-post__body h2, .blog-post__body h3, .blog-post__body h4, .blog-post__body h5 {
    font-weight: 900!important;
    padding: 1.5rem 0;
}

.blog-post__body h5, .blog-post__body h6 {
    text-align: center;
    padding: 1.5rem 0;
}

.blog-post__body h5 {
    font-size: 22px;
    font-weight: 900;
}

.blog-post__body h6 {
    font-size: 19px;
    font-weight: 400;
}

.blog-post__metadata {
    margin-bottom: 40px;
    margin-left: 20px;
    color: #4a5254;
    padding-left: 15px;
    border-left: 5px solid #EBEDED;
}

.blog-post table {
    border-collapse:separate;
    border-spacing:10px 10px;
}

.blog-post table thead {
    display: none;
}

.blog-post table tbody td {
    width: 50%;
}

.post-title-large {
    color: #303030 !important;
    display: block;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
}

.share__container {
    border-bottom: 2px solid #ebeded;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
    padding-bottom: 5px;
}

.share__title {
    color: #707070;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 15px;
}

.share__right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.share__button {
    width: 30px;
    height: 30px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 10px;
}

.share__button--fb {
    background-image: url(/img/share-fb.png);
}
.share__button--twitter {
    background-image: url(/img/share-tt.png);
}

.share__button--whatsapp {
    background-image: url(/img/share-whatsapp.png);
}
.share__button--linkedin {
    background-image: url(/img/share-linkedin.png);
}
.share__button--link {
    background-image: url(/img/share-link.png);
}

.newsletter {
    padding: 40px 0;
}

.newsletter__container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.15);
}

.newsletter__left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(/img/blog-newsletter.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.newsletter__title {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

.newsletter__subtitle {
    font-size: 34px;
    text-transform: uppercase;
    font-weight: bold;
}

.newsletter__right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 100px 0;
}

.newsletter__form {
    width: 70%;
    display: block;
}

.newsletter__label {
    font-size: 13px;
    color: #303030;
    font-weight: bold;
    margin-bottom: 5px;
}

.newsletter__input {
    border: 2px solid #ebeded;
    border-radius: 6px;
    display: block;
    width: 100%;
    padding: 8px;
    padding-left: 15px;
    background-color: #fff;
    outline: none;
    margin-bottom: 30px;
    transition: 0.3s all;
}

.newsletter__input:focus {
    border-color: #ff8008;
}

.newsletter__button {
    background-color: #ff8008;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
    display: inline-block;
    padding: 10px 50px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: bold;
}

.more-posts {
    padding: 50px 0;
    margin: 0 70px;
}

.more-posts__title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 40px;
}

.recommended-previews .view-more-card {
    margin: 2% 0;
}

.view-more-card {
    display: block;
    border-radius: 6px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    transition: 0.3s all;
    text-decoration: none !important;
    cursor: pointer;
}

.view-more-card:hover {
    transform: translateY(-5px);
}

.view-more-card__top {
    height: 180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.view-more-card__bottom {
    padding: 30px;
}

.view-more-card__label {
    text-transform: uppercase;
    color: #ff8008;
    font-size: 17px;
    font-weight: bold;
}

.view-more-card__title {
    font-weight: bold;
    font-size: 20px;
    color: #303030;
    margin-bottom: 10px;
}

.view-more-card__subtitle, .view-more-card__date {
    color: #56626f;
    font-size: 17px;
    margin-bottom: 20px;
}

.posts {
    margin-top: 50px;
}

@media only screen and (max-width: 768px) {
    .header {
        background-size: auto 60%;
        background-repeat: no-repeat;
        background-position: 50px 100px;
        padding-bottom: 150px;
    }

    .header__card {
        width: 85%;
        margin-top: 100px;
        padding: 30px;
    }

    .header__image {
        top: 30px;
        left: 30px;
    }

    .post-card {
        position: relative;
        display: block;
    }

    .post-card__left {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .post-card__left::after {
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 6px;
    }

    .post-card__right {
        padding: 20px;
    }

    .post-card__label,
    .post-card__title,
    .post-card__subtitle,
    .post-card__date-value {
        color: #fff;
    }

    .post-card__hr {
        background-color: transparent;
    }

    .posts {
        padding-bottom: 40px;
    }

    .newsletter__container {
        flex-direction: column;
        width: 100%;
    }

    .newsletter__left {
        padding: 50px 0;
    }

    .newsletter__title {
        font-size: 24px;
    }

    .newsletter__subtitle {
        font-size: 28px;
    }

    .newsletter__right {
        padding: 30px 0;
    }

    .newsletter__form {
        width: 85%;
    }

    .view-more-card {
        margin-bottom: 30px;
    }
}

.navbar__toggle {
    cursor: pointer;
}

@media only screen and (max-width: 991px) {
    .view-more-card {
        box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.15);
    }
}

@media only screen and (min-width: 901px) {
    
    .navbar {
        background-color: #fff;
    }
    
    
    .navbar, .navbar__content {
        height: 7rem;
        justify-content: space-between;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
        border-bottom: 0.2rem solid #ff8008;
        color: #000;
    }
    
    .navbar__content {
        padding-left: 5rem;
        padding-right: 5rem;
        max-width: none;
    }
    
    .navbar__logo-img {
        content: url(/img/logo-orange.png);
    }
    
    .navbar__toggle {
        cursor: pointer;
    }
    
    .navbar__link {
        font-size: 1.5rem!important;
        font-weight: 700;
        display: block;
        color: #ff8008!important;
    }
    
    .navbar__link-login {
        font-size: 2rem!important;
    }
    
    .navbar__link:hover, .navbar__link:active:hover, .navbar__link:link:hover, .navbar__link:focus:hover, .navbar__link:visited:hover {
        color: #ff8008;
    }
}

@media only screen and (max-width: 380px) {
    .more-posts__title {
        margin-left: -30px;
    }
}

@media only screen and (max-width: 459px) {
    .more-posts .row {
        margin-right: -40px;
        margin-left: -40px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
    .recommended-previews {
        margin: 0 90px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .recommended-previews {
        margin: 0 0;
    }
}

@media only screen and (min-width: 1200px){
    .recommended-previews {
        margin: 0 70px;
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1600px) {
    .blog-page .posts {
        margin-top: 30px;
    }
}