*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
}

.sub-nav {
    background-color: #ff8008;
    padding-bottom: 20px;
    position: relative;
    height: 65px;
}

.sub-nav img {
    width: 20px;
    margin-left: 10px;
}

.sub-nav a.mode-toggle {
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    /* margin-left: 60px; */
    position: absolute;
    top: 0px;
    left: 75px;
}

.cadastro-finalizado {
    margin-top: 70px;
    margin-bottom: 100px;
}

.cadastro-finalizado img{
    margin: 20px auto;
    display: block;
    width: 80px;
}

.title {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    color: #ff8008;
    margin-bottom: 15px;
}

.subtitle {
    text-align: center;
    color: #333;
    font-size: 18px;
    font-weight: normal;
}

.warning {
    font-weight: 500;
    font-size: 22px;
    text-align: left;
    color: #ff8008;
    margin-bottom: 20px;
    margin-top: 150px;
}

.paragraph {
    font-weight: normal;
    text-align: left;
    color: #333;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .sub-nav {  
        height: 50px;
    }

    .sub-nav a.mode-toggle {
        left: 20px;
        font-size: 30px;
    }
}