section#main {
  min-height: 90vh;
}

.colmeia-button.button-filled {
  margin-top: 40px;
}

#novo-endereco,
#novo-cartao {
  margin-top: 20px;
}

#novo-endereco label,
#novo-cartao label {
  font-weight: normal;
}

#novo-endereco .form-control,
#novo-cartao .form-control,
#novo-endereco .select {
  width: 100%;
  height: 45px;
  border: 1.5px solid #ff8008;
  background-color: #fff;
  color: #333;
  padding: 10px;
  margin-top: 10px auto;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  transition: 0.3s all;
}

.empty-error {
  text-align: left;
  font-size: 16px;
  color: gray;
  margin-bottom: 20px;
}

.info-card,
.text-card .form-control {
  width: 100%;
  min-height: 50px;
  overflow-wrap: break-word;
  border: 1.5px solid #ff8008;
  background-color: #fff;
  color: #333;
  padding: 14px;
  text-align: left;
  margin-top: 10px;
  display: inline-block;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  transition: 0.3s all;
  cursor: pointer;
}

.card-checked {
  background-image: url('/img/checkbox-checked.png');
  background-attachment: local;
  background-repeat: no-repeat;
  background-size: 6%;
  background-position: 98%;
}

.card-unchecked {
  background-image: url('/img/checkbox-blank.png');
  background-attachment: local;
  background-repeat: no-repeat;
  background-size: 6%;
  background-position: 98%;
}

.cartao-container,
.boleto-container {
  margin-top: 25px;
}

#finalContainer p {
  text-align: center;
  font-size: 22px;
  margin-bottom: 50px;
}

.store-container {
  margin-bottom: 50px;
}

.store-button {
  display: block;
  margin: 0 auto;
  transition: 0.3s all;
}

.store-button:hover {
  transform: scale(1.1);
}

.store-img {
  display: block;
  margin: 0 auto;
  height: 60px;
}

.store-title {
  margin-bottom: 50px;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 768px) {
  .info-card,
  .text-card .form-control {
    width: 85%;
  }

  .aluno-nome {
    margin-top: 30px;
  }

  #novo-cartao label,
  #novo-endereco label {
    text-align: left;
    font-size: 18px;
  }

  .store-img {
    height: auto;
    width: 65%;
    margin-bottom: 20px;
  }
}
