*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
}

.main-container {
    padding-bottom: 150px;
}

.banco-1, 
.banco-2, 
.banco-3,
.horarios-1, 
.horarios-2, 
.horarios-3, 
.horarios-4, 
.horarios-5, 
.horarios-6, 
.horarios-7, 
.horarios-8 {
    position: relative;
}

/* util */
.text-black {
    color: #333;
}

.text-orange {
    color: #ff8008;
}
.margin-top-regular {
    margin-top: 30px !important;
}

.margin-top-large {
    margin-top: 40px !important;
}

.margin-bottom-regular {
    margin-bottom: 30px !important;
}

.margin-bottom-large {
    margin-bottom: 40px !important;
}

.sub-nav {
    background-color: #ff8008;
    padding-bottom: 20px;
    position: relative;
    height: 65px;
}

.sub-nav img {
    width: 20px;
    margin-left: 10px;
}

.sub-nav a.mode-toggle {
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    /* margin-left: 60px; */
    position: absolute;
    top: 0px;
    left: 75px;
}

.greeting-heading,
.title-heading {
    margin: 0;
    padding: 0;
    font-weight: 400;
}


.greeting-heading {
    position: relative;
    font-size: 22px;
    padding-left: 70px;
}

.greeting-heading::before {
    content: '';
    background-image: url(/img/colmeia-orange-circle.png);
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    margin-right: 10px;
    top: 25px;
    left: 0;
    transform: translateY(-50%);
}

.title-heading {
    font-size: 22px;
    padding-left: 70px;
    position: relative;
}

.back-arrow {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(/img/top-arrow.png);
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.orange-button {
    color: #fff;
    background-color: #ff8008;
    margin: 0 auto;
    outline: 0;
    font-size: 18px;
    text-align: center;
    border-radius: 0;
    cursor: pointer;
    width: 100%;
    height: 50px;
    line-height: 50px;
    transition: all .2s;
    margin-top: 60px;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
    border-radius: 2px;
    outline: none;
    border: none;
    transform: translateY(0);
}

.orange-button:hover,
.white-button:hover {
    transform: translateY(-1px);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
}

.orange-button:active,
.white-button:active {
    transform: translateY(0);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0);
}

.white-button {
    color: #ff8008;
    background-color: #fff;
    border: 1px solid #ff8008;
    margin: 0 auto;
    outline: 0;
    font-size: 18px;
    text-align: center;
    border-radius: 0;
    cursor: pointer;
    width: 100%;
    height: 50px;
    line-height: 50px;
    transition: all .2s;
    margin-top: 60px;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
    border-radius: 2px;
    outline: none;
    transform: translateY(0);
}


.warning-message {
    font-size: 13px;
    padding-left: 30px;
    position: relative;
    margin-top: 20px;
}

.gray-warning {
    color: #95989A;
}

.warning-message::before {
    font-size: 14px;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
}

.gray-warning::before {
    content: '?';
    border: 1px solid #95989A;
}

.input-text {
    height: 50px;
    border: none;
    border-bottom: 2px solid #FF8008;
    background-color: transparent;
    box-shadow: none;
    transition: .3s all;
    width: 100%;
    font-size: 16px;
}

.materia-text-input {
    width: 100%;
    font-size: 18px;
}

.bairro-text-input {
    width: 100%;
    font-size: 18px;
    margin-top: 30px;
}

.input-text:active,
.input-text:focus {
    border-bottom: 2px solid rgb(255, 99, 8);
    outline: none;
}

::-webkit-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;
}
::-moz-placeholder {
    font-style: italic;
}
:-ms-input-placeholder {
    font-style: italic;
}

.input-radio,
.input-checkbox {
    display: block;
    margin: 0;
    font-weight: normal;
    position: relative;
    padding-left: 40px;
    margin-bottom: 15px;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
}

.input-radio input,
.input-checkbox input {
    /* hide this! */
    position: absolute;
    opacity: 0;
}

.input-radio .radio-check {
    position: absolute;
    top: 2px;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #fff;
    border-radius: 50%;
    border: 3px solid #ff8008;
    transition: .15s all;
}

.input-checkbox .checkbox-check {
    position: absolute;
    top: 2px;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #fff;
    border: 3px solid #ff8008;
    transition: .15s all;
}

.input-radio:hover input ~ .radio-check {
    background-color: #f7f0e9;
}

.input-radio input:checked ~ .radio-check {
    background-color: #fff;
}

.input-checkbox:hover input ~ .checkbox-check {
    background-color: #f7f0e9;
}

.input-checkbox input:checked ~ .checkbox-check {
    background-color: #fff;
}

.input-radio .radio-check::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    background: #ff8008;
    transition: .15s all;
}

.input-radio input:checked ~ .radio-check::after {
    display: block;
    transform: translate(-50%, -50%) scale(1);
}

.input-checkbox .checkbox-check::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    transform: translate(-50%, -50%) scale(0);
    background: #ff8008;
    transition: .15s all;
}

.input-checkbox input:checked ~ .checkbox-check::after {
    display: block;
    transform: translate(-50%, -50%) scale(1);
}


/* content */
.introduction-container img{
    display: block;
    margin: 30px auto;
    margin-top: 10px;
    width: 120px;
}

.welcomeback-container img {
    display: block;
    margin: 30px auto;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 100px;
}

.introduction-container,
.welcomeback-container,
.banco-1,
.horarios-1 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.vertical-padding {
    padding-top: 100px;
    padding-bottom: 50px;
}

.horizontal-padding {
    padding-left: 70px;
    padding-right: 70px;
}

.left-padding {
    padding-left: 70px;
}

.banco-container {
    padding-bottom: 50px;
}

.step-image {
    display: block;
    margin: 0 auto;
    height: 80px;
    margin-bottom: 60px;
}

.step-right {
    position: fixed;
    top: 50%;
    right: 50px;
    width: 40px;
    transform: translateY(-50%);
}

.input-text[name='agencia'],
.input-text[name='conta'] {
    width: 75%;
    display: inline-block;
}

.input-text[name='agencia-dv'],
.input-text[name='conta-dv'] {
    width: 15%;
    display: inline-block;
    float: right;
}

.select-banco{
    height: auto !important;
}

@media screen and (max-width: 768px) {
    .sub-nav {  
        height: 50px;
    }

    .sub-nav a.mode-toggle {
        left: 20px;
    }

    .step-image {
        height: auto;
        width: 100%;
    }

    .step-right {
        display: none !important;
    }

    .horizontal-padding {
        padding-left: 15px; 
        padding-right: 15px;
    }

    .left-padding {
        padding-left: 0;
    }

    .materia-text-input {
        width: 85%;
    }

    .title-heading {
        padding-left: 15px;
    }
    
    .mobile-padding-left {
        padding-left: 30px;
    }
}