*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
}

.main-container {
  padding-bottom: 150px;
}

.materias-1,
.materias-2,
.materias-3,
.materias-4,
.materias-5,
.bairros-1,
.bairros-2,
.bairros-3,
.bairros-4,
.pessoal-1,
.pessoal-2,
.pessoal-3,
.pessoal-4,
.pessoal-5,
.pessoal-6,
.pessoal-7,
.pessoal-8,
.pessoal-9 {
  position: relative;
}

/* util */
.text-black {
  color: #333;
}

.text-orange {
  color: #ff8008;
}
.margin-top-regular {
  margin-top: 30px !important;
}

.margin-top-large {
  margin-top: 40px !important;
}

.margin-bottom-regular {
  margin-bottom: 30px !important;
}

.margin-bottom-large {
  margin-bottom: 40px !important;
}

.sub-nav {
  background-color: #ff8008;
  padding-bottom: 20px;
  position: relative;
  height: 65px;
}

.sub-nav img {
  width: 20px;
  margin-left: 10px;
}

.sub-nav a.mode-toggle {
  text-decoration: none;
  color: #fff;
  font-size: 32px;
  /* margin-left: 60px; */
  position: absolute;
  top: 0px;
  left: 75px;
}

.greeting-heading,
.title-heading {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.greeting-heading {
  position: relative;
  font-size: 22px;
  padding-left: 70px;
}

.greeting-heading::before {
  content: '';
  background-image: url(/img/colmeia-orange-circle.png);
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  margin-right: 10px;
  top: 25px;
  left: 0;
  transform: translateY(-50%);
}

.title-heading {
  font-size: 22px;
  padding-left: 70px;
  position: relative;
}

.title-subheading {
  font-size: 17px;
  padding-left: 70px;
  font-weight: 400;
  color: darkgray;
  margin: 5px 0px 40px 0px;
}

.back-arrow {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(/img/top-arrow.png);
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.orange-button {
  color: #fff;
  background-color: #ff8008;
  margin: 0 auto;
  outline: 0;
  font-size: 18px;
  text-align: center;
  border-radius: 0;
  cursor: pointer;
  width: 100%;
  height: 50px;
  line-height: 50px;
  transition: all 0.2s;
  margin-top: 60px;
  margin-bottom: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  outline: none;
  border: none;
  transform: translateY(0);
}

.orange-button:hover,
.white-button:hover {
  transform: translateY(-1px);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.orange-button:active,
.white-button:active {
  transform: translateY(0);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0);
}

.white-button {
  color: #ff8008;
  background-color: #fff;
  border: 1px solid #ff8008;
  margin: 0 auto;
  outline: 0;
  font-size: 18px;
  text-align: center;
  border-radius: 0;
  cursor: pointer;
  width: 100%;
  height: 50px;
  line-height: 50px;
  transition: all 0.2s;
  margin-top: 60px;
  margin-bottom: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  outline: none;
  transform: translateY(0);
}

.input-text {
  height: 50px;
  border: none;
  border-bottom: 2px solid #ff8008;
  background-color: transparent;
  box-shadow: none;
  transition: 0.3s all;
  width: 100%;
  font-size: 16px;
}

.materia-text-input {
  width: 100%;
  font-size: 18px;
}

.bairro-text-input {
  width: 100%;
  font-size: 18px;
  margin-top: 30px;
}

.input-text:active,
.input-text:focus {
  border-bottom: 2px solid rgb(255, 99, 8);
  outline: none;
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}

.input-radio,
.input-checkbox {
  display: block;
  margin: 0;
  font-weight: normal;
  position: relative;
  padding-left: 40px;
  margin-bottom: 15px;
  font-size: 20px;
  user-select: none;
  cursor: pointer;
}

.input-radio input,
.input-checkbox input {
  /* hide this! */
  position: absolute;
  opacity: 0;
}

.input-radio .radio-check {
  position: absolute;
  top: 2px;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid #ff8008;
  transition: 0.15s all;
}

.input-checkbox .checkbox-check {
  position: absolute;
  top: 2px;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #fff;
  border: 3px solid #ff8008;
  transition: 0.15s all;
}

.input-radio:hover input ~ .radio-check {
  background-color: #f7f0e9;
}

.input-radio input:checked ~ .radio-check {
  background-color: #fff;
}

.input-checkbox:hover input ~ .checkbox-check {
  background-color: #f7f0e9;
}

.input-checkbox input:checked ~ .checkbox-check {
  background-color: #fff;
}

.input-radio .radio-check::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  background: #ff8008;
  transition: 0.15s all;
}

.input-radio input:checked ~ .radio-check::after {
  display: block;
  transform: translate(-50%, -50%) scale(1);
}

.input-checkbox .checkbox-check::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  transform: translate(-50%, -50%) scale(0);
  background: #ff8008;
  transition: 0.15s all;
}

.input-checkbox input:checked ~ .checkbox-check::after {
  display: block;
  transform: translate(-50%, -50%) scale(1);
}

/* content */
.introduction-container img {
  display: block;
  margin: 30px auto;
  margin-top: 10px;
  width: 120px;
}

.welcomeback-container img {
  display: block;
  margin: 30px auto;
  margin-top: 10px;
  margin-bottom: 50px;
  width: 100px;
}

.introduction-container,
.welcomeback-container,
.materias-1,
.bairros-1,
.pessoal-1 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.vertical-padding {
  padding-top: 100px;
  padding-bottom: 50px;
}

.horizontal-padding {
  padding-left: 70px;
  padding-right: 70px;
}

.left-padding {
  padding-left: 70px;
}

.materias-container {
  padding-bottom: 50px;
}

.step-image {
  display: block;
  margin: 0 auto;
  height: 80px;
  margin-bottom: 60px;
}

.step-right {
  position: fixed;
  top: 50%;
  right: 50px;
  height: 220px;
  transform: translateY(-50%);
}

.input-text[name='rg_orgao'] {
  width: 45%;
  display: inline-block;
}

.input-text[name='rg_data'] {
  width: 45%;
  display: inline-block;
  float: right;
}

.input-text[name='numero'],
.input-text[name='estado'],
.input-text[name='cep'] {
  display: inline-block;
  float: right;
}

.input-text[name='estado'] {
  cursor: pointer;
}

.input-text[name='logradouro'] {
  width: 75%;
}

.input-text[name='numero'] {
  width: 15%;
}

.input-text[name='cidade'],
.input-text[name='estado'],
.input-text[name='cep'],
.input-text[name='bairro'] {
  width: 45%;
}

.select-bairros-brasilia,
.select-bairros-brasilia {
  height: auto !important;
}

.warning-message {
  font-size: 13px;
  padding-left: 30px;
  position: relative;
  margin-top: 20px;
}

.gray-warning {
  color: #95989a;
}

.red-warning {
  color: #ffa3a3;
}

.warning-message::before {
  font-size: 14px;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}

.gray-warning::before {
  content: '?';
  border: 1px solid #95989a;
}

.red-warning::before {
  content: '!';
  border: 1px solid #ffa3a3;
}

input.input-file {
  display: none;
}

.file-button-success {
  padding: 40px 50px;
  text-align: center;
  margin-top: 20px;
  font-weight: normal;
  width: 100%;
  display: none;
}

.file-button-success .file-button-icon {
  display: inline-block;
  width: 60px;
  margin-bottom: 10px;
}

.file-button-success .file-button-title {
  color: #ff8008;
  font-size: 20px;
}

.file-button-success .file-button-name {
  color: #a9a9a9;
  font-size: 16px;
  margin-bottom: 15px;
}

.file-button-success .file-button-change {
  text-decoration: underline;
  color: #ff3535;
  font-size: 14px;
  cursor: pointer;
}

.file-button {
  padding: 40px 50px;
  border: 1px solid #ff8008;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.16);
  text-align: center;
  color: #ff8008;
  display: block;
  font-weight: 400;
  margin-top: 20px;
  cursor: pointer;
  transform: translateY(0);
  transition: 0.2s all;
}

.file-button:hover {
  transform: translateY(-2px);
}

.file-button:active {
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0);
  transform: translateY(0);
}

.file-button-title {
  font-weight: 600;
  font-size: 20px;
}

.file-button-subtitle {
  font-size: 14px;
}

.bairros-list {
  font-size: 13px;
  color: darkgray;
}

@media screen and (max-width: 768px) {
  .sub-nav {
    height: 50px;
  }

  .sub-nav a.mode-toggle {
    left: 20px;
  }

  .step-image {
    height: auto;
    width: 100%;
  }

  .step-right {
    display: none !important;
  }

  .horizontal-padding {
    padding-left: 15px;
    padding-right: 15px;
  }

  .left-padding {
    padding-left: 0;
  }

  .materia-text-input {
    width: 85%;
  }

  .title-heading {
    padding-left: 15px;
  }

  .mobile-padding-left {
    padding-left: 30px;
  }
}
