html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
}

.header {
  height: 80vh;
  background-image: url('/img/calculadora-header-bg.png');
  background-size: auto 100%;
  background-position: right;
  background-repeat: no-repeat;
  color: #303030;
}

.header__logo {
  width: 200px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.header__title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 40px;
}

.header__subtitle {
  font-size: 22px;
  margin-bottom: 70px;
}

.header__button,
.header__button:link,
.header__button:visited {
  text-decoration: none;
  color: #fff;
  background-color: #ff8008;
  border-radius: 40px;
  padding: 20px 40px;
  display: block;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #ff8008;
  transition: 0.3s all;
  width: 70%;
}

.header__button:hover {
  background-color: #fff;
  color: #ff8008;
}

.header__caption {
  font-size: 14px;
  margin-top: 5px;
  width: 70%;
  text-align: center;
}

.calculadora {
  text-align: center;
  color: #303030;
  background-color: #f4f4f4;
  padding: 50px 0px;
}

.calculadora__title {
  font-size: 38px;
  font-weight: bold;
}

.calculadora__subtitle {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 40px;
}

.pas-block {
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.16);
  border-radius: 9px;
  background-color: #fff;
  padding: 20px 10px;
  padding-bottom: 30px;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

.pas-block__title {
  font-size: 32px;
  margin-bottom: 50px;
}

.pas-block__row {
  margin-bottom: 15px;
}

.pas-block__label {
  width: 40%;
  text-align: left;
  font-size: 18px;
  font-weight: normal;
}

.pas-block__input {
  width: 50%;
  border-radius: 9px;
  border: 1px solid #e3e3e3;
  outline: none !important;
  padding: 5px;
}

.pacote {
  background-color: #fce79f;
  padding: 20px 0;
  display: none;
}

.pacote__title {
  font-size: 32px;
  text-align: center;
  margin: 75px 0px;
}

.pacote-block {
  background-color: #fff;
  background-image: url(/img/pas-pacote-bg.png);
  background-size: cover;
  border-radius: 30px;
  padding: 20px 25px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  width: 90%;
  margin: 0 auto;
  transition: 0.3s all;
  min-height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.pacote-block--large {
  transform: scale(1.15);
  background-image: url(/img/pas-pacote-bg-large.png);
}

.pacote-block__title {
  font-weight: bold;
  font-size: 24px;
}

.pacote-block__subtitle {
  font-size: 18px;
  color: #ff8008;
  margin-bottom: 30px;
}

.pacote-block__item {
  color: #7e7e7e;
  font-size: 15px;
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
  padding-left: 20px;
  position: relative;
}

.pacote-block__item::before {
  content: ' \2714';
  font-size: 16px;
  position: absolute;
  left: 0;
  top: 0;
}

.pacote-block__button,
.pacote-block__button:link,
.pacote-block__button:visited {
  text-decoration: none;
  color: #fff;
  background-color: #ff8008;
  border-radius: 40px;
  padding: 10px;
  display: block;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #ff8008;
  transition: 0.3s all;
  width: 100%;
  margin-top: 40px;
}

.pacote-block__button:hover {
  background-color: #fff;
  color: #ff8008;
}

.phone {
  background-color: #fce79f;
  padding: 50px 0;
  position: relative;
}

.phone__img {
  position: absolute;
  width: 350px;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.phone__content {
  /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 230px; */
}

.phone__block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.phone__block-left {
  width: 65px;
  margin-right: 50px;
  flex-grow: 0;
  flex-shrink: 0;
}

.phone__block-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.phone__block-text {
  font-size: 14px;
}

.phone__title {
  font-weight: bold;
  font-size: 28px;
  color: #303030;
  margin-bottom: 40px;
}

.phone__text {
  font-size: 18px;
  margin-bottom: 30px;
}

.phone__button {
  color: #fff;
  background-color: #ff8008;
  border: 2px solid #ff8008;
  display: inline-block;
  padding: 15px 60px;
  border-radius: 50px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s all;
}

.phone__button:hover {
  color: #ff8008;
  background-color: #fff;
}

.grade {
  padding: 60px 0;
  text-align: center;
}

.grade__title {
  font-size: 28px;
  color: #303030;
}

.grade__value {
  color: #ff8008;
  font-size: bold;
  font-size: 60px;
  font-weight: bold;
}

.grade__caption {
  font-size: 14px;
}

.grade__error {
  color: rgb(192, 46, 36);
  font-size: 14px;

  margin-top: 50px;
}

.pas {
  background-image: url('/img/pas-circles.png');
  background-size: auto 800px;
  background-position: 100% -30%;
  background-repeat: no-repeat;
  color: #303030;
  padding: 100px 0;
}

.pas__title {
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 50px;
}

.pas__text {
  font-size: 16px;
}

.pas__link {
  color: #ff8008;
}

.form {
  margin-top: 150px;
  text-align: center;
  color: #303030;
  display: none;
}

.form__title {
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 20px;
}

.form__subtitle {
  font-size: 16px;
  margin-bottom: 30px;
}

.form__call {
  color: #ff8008;
  font-size: 22px;
  margin-bottom: 20px;
}

.form__label {
  font-weight: normal;
  font-size: 18px;
  text-align: left;
  display: block;
}

.form__input {
  display: block;
  width: 100%;
  border-radius: 9px;
  border: 1px solid #e3e3e3;
  outline: none !important;
  padding: 10px;
  padding-left: 15px;
  margin-bottom: 20px;
  font-size: 16px;
}

.form__input--pacote {
  display: none;
}

.form__button {
  text-decoration: none;
  color: #fff;
  background-color: #ff8008;
  border-radius: 40px;
  padding: 8px 80px;
  display: block;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  border: 2px solid #ff8008;
  transition: 0.3s all;
  margin: 0 auto;
  margin-top: 30px;
}

.form__button:hover {
  background-color: #fff;
  color: #ff8008;
}

.code {
  background-color: #f8f8f8;
  background-image: url('/img/pacote-code.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #303030;
  padding: 120px 0;
  text-align: center;
}

.code__title {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 10px;
}

.code__subtitle {
  font-size: 16px;
  margin-bottom: 20px;
}

.code__content {
  padding: 5px 40px;
  border: 2px solid #ff8008;
  text-transform: uppercase;
  color: #ff8008;
  font-weight: bold;
  font-size: 48px;
  display: inline-block;
}

.header-mobile {
  display: none;
  color: #303030;
  background-image: url('/img/calculadora-header-mobile-bg.jpg');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 640px;
  position: relative;
}

.header-mobile__title {
  font-size: 36px;
}

.header-mobile__divider {
  background-color: #ff8008;
  height: 2px;
  border-radius: 5px;
  width: 30%;
  margin: 20px 0;
}

.header-mobile__subtitle {
  font-size: 20px;
}

.header-mobile__button {
  background-color: #303030;
  color: #fff;
  padding: 20px;
  width: 60%;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}

.header-mobile__button-title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

.header-mobile__button-subtitle {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.header-mobile__button-button {
  border-radius: 40px;
  background-color: #ff8008;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  margin-top: 5px;
}

.modal-body {
  padding: 35px;
}

.modal-img {
  display: block;
  margin: 10px auto;
  width: 275px;
  margin-top: 0;
  max-width: 100%;
}

.modal-title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #303030;
}

.modal-content {
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 25px;
  box-shadow: none !important;
  border: none;
  color: #606060;
}

.modal-buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-button {
  padding: 8px 30px;
  font-size: 18px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex: 0 0 47%;
}

.modal-button img {
  height: 30px;
  display: block;
}

.modal-button--fb {
  background-color: #355e9f;
  color: #fff;
  border: 2px solid #355e9f;
  text-decoration: none;
}

.modal-button--ig {
  background-color: #fff;
  color: #303030;
  border: 2px solid #303030;
}

.modal-button--fb:active,
.modal-button--fb:hover,
.modal-button--fb:visited,
.modal-button--fb:link {
  text-decoration: none;
  color: #fff;
}

.modal-button--ig:active,
.modal-button--ig:visitede,
.modal-button--ig:hover,
.modal-button--ig:visited,
.modal-button--ig:link {
  text-decoration: none;
  color: #303030;
}

@media only screen and (max-width: 1200px) {
  .pas-block,
  .pacote-block {
    margin-bottom: 20px;
  }

  .pacote-block--large {
    transform: scale(1);
  }
}

@media only screen and (max-width: 990px) {
  .pas {
    background-image: none;
  }

  .phone__img {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    display: none;
  }

  .header-mobile {
    margin-top: 50px;
    display: block;
  }

  .calculadora {
    padding: 20px 0px;
  }

  .calculadora__title {
    font-weight: normal;
    font-size: 32px;
  }

  .calculadora__subtitle {
    font-style: italic;
  }

  .pas-block {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .pas-block__label {
    font-size: 22px;
  }

  .pas-block__input {
    padding: 7px 5px;
  }

  .pacote-block__subtitle {
    font-size: 18px;
  }

  .form__label {
    font-size: 22px;
  }

  .form__input {
    padding: 15px;
  }

  .form__button {
    width: 100%;
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
  }

  .code {
    background-color: #fff;
    background-image: url('/img/pacote-code-mobile.png');
    background-size: contain;
    background-position: bottom;
    padding-top: 0;
  }

  .code__content {
    margin-bottom: 250px;
  }

  .phone__img {
    display: none;
  }

  .phone__content {
    height: auto;
  }

  .phone__block-left {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .phone__block-title {
    font-size: 20px;
  }

  .phone__block-text {
    font-size: 18px;
  }

  .phone__block {
    flex-direction: column;
    margin-bottom: 50px;
    text-align: center;
  }

  .phone {
    text-align: center;
  }

  .modal-buttons {
    flex-direction: column;
  }

  .modal-button {
    margin-bottom: 10px;
    width: 100%;
  }
}
