.navbar-top-padding {
  padding-top: 8.5rem;
}

.online-header,
.online-description,
.online-beneficios,
.online-reportagem,
.online-description,
.online-depoimentos {
  padding: 5rem 0;
}

.description-box,
.beneficios-box,
.reportagem-box,
.depoimentos-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description-box .heading,
.beneficios-box .heading,
.reportagem-box .heading,
.depoimentos-box .heading {
  display: flex;
  align-items: center;
}

.description-box .heading h3,
.beneficios-box .heading h3,
.reportagem-box .heading h3,
.depoimentos-box .heading h3 {
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  font-style: italic;
}

.description-box .heading, .beneficios-box .heading, .reportagem-box .heading, .depoimentos-box .heading,
.description-box .info, .beneficios-box .cards, .reportagem-box .video {
  padding: 2rem;
}

/* online-header */
.online-header {
  background-color: #FFA34C;
}

.header-box {
  display: flex;
}

.header-box .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #F2F2F2;
}

.header-box .info h1 {
  font-weight: 900;
  font-size: 6rem;
}

.header-box .info p {
  font-weight: 600;
  font-size: 3rem;
}

.header-box .img {
  background-image: url(/img/foto-gabriel.png);
  padding: 21%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* online-description */
.online-description {
  background-color: rgba(255, 194, 137, 0.2);
}

.description-box .heading {
  display: flex;
  align-items: center;
}

.description-box .heading h3 {
  color: #FF8008;
  letter-spacing: 0.01em;
}

.description-box .info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.description-box .info .left, .description-box .info .right {
  color: #4F4F4F;
  letter-spacing: 0.01em;
  font-size: 2.1rem;
  width: 46%;
}

/* online-beneficios */
.online-beneficios {
  background-color: #E5E5E5;
}

.beneficios-box .heading h3 {
  color: #FF8008;
  letter-spacing: 0.02em;
}

.beneficios-box .cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.beneficios-box .cards .section {
  width: 100%;
}

.beneficios-box .cards .section-1,
.beneficios-box .cards .section-2,
.beneficios-box .cards .section-3 {
  display: flex;
}

.beneficios-box .indiv-card {
  width: 50%;
  margin: 1%;
  padding: 2rem;
}

.beneficios-box .indiv-card h4 {
  color: rgba(247, 247, 247, 0.5);
  font-style: italic;
  font-weight: 900;
  font-size: 5rem;
}

.beneficios-box .indiv-card p {
  color: #FCFCFC;
  font-weight: 900;
  font-size: 1.5rem;
}

.beneficios-box .first-card {
  background-color: #EA5B1F;
}

.beneficios-box .second-card {
  background-color: #F8B238;
}

.beneficios-box .third-card {
  background-color: #A17262;
}

.beneficios-box .forth-card {
  background-color: #AAC9AC;
}

.beneficios-box .fifth-card {
  background-color: #A5A8D3;
}

.beneficios-box .sixth-card {
  background-color: #FFA34C;
}

/* online-reportagem */
.online-reportagem {
  background-color: #4F4F4F;
}

.reportagem-box .heading h3 {
  letter-spacing: 0.02em;
  color: #F2F2F2;
}

.reportagem-box .video, .reportagem-box .video iframe {
  width: 100%;
}

.reportagem-box .video iframe {
  height: 65vh;
}

.reportagem-box .video p {
  color: #F2F2F2;
  letter-spacing: 0.01em;
  font-weight: bold;
  padding-top: 1.5rem;
  font-size: 2rem;
}

/* online-depoimentos */
.online-depoimentos {
  background-color: #FFF6BB;
}

.depoimentos-box {
  padding-bottom: 2rem;
}

.depoimentos-box, .carousel {
  width: 100%;
}

.depoimentos-box .heading h3 {
  color: #FF8008;
  letter-spacing: 0.02em;
}

.carousel .text {
  color: #000000;
  letter-spacing: 0.02em;
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.carousel .author {
  color: #000000;
  letter-spacing: 0.02em;
  font-style: italic;
  font-weight: bold;
}

.carousel:after {
  content: 'flickity';
  display: none;
}

.carousel .depoimento {
  margin-right: 10px;
  width: calc((100% / 2) - 10px);
}

.carousel .flickity-page-dots .dot {
  background-color: #FF8008;
}

.carousel .flickity-button {
  width: 30px;
  height: 30px;
  border: #000!important;
}

@media only screen and (max-width: 749px) {
  .header-box {
    flex-wrap: wrap;
    justify-content: center;
  }

  .header-box .info h1 {
    text-align: center;
    font-size: 5rem;
  }

  .header-box .info p {
    text-align: center;
  }

  .header-box .img {
    padding: 49%;
  }

  .description-box .info {
    flex-wrap: wrap;
  }

  .description-box .info .left, .description-box .info .right {
    width: 100%;
    margin: 2% 0;
  }

  .beneficios-box .cards {
    padding: unset!important;
  }

  .beneficios-box .cards .section {
    flex-wrap: wrap;
  }

  .beneficios-box .indiv-card {
    width: 100%;
  }

  .beneficios-box .indiv-card p {
    font-size: 2.2rem;
  }

  .reportagem-box .video iframe {
    height: 50vh;
  }

  .carousel .depoimento {
    width: 100%;
  }
}

@media only screen and (max-width: 340px) {
  .header-box .info h1 {
    font-size: 4rem;
  }
}