*,
*::before,
*::after {
    box-sizing: border-box !important;
}

html,
body {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    font-family: 'Raleway', sans-serif !important;
    background-color: #fff !important;
}
