* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: 'Muli', sans-serif;
}

section, main {
  letter-spacing: 0.01em;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #F2F2F2;
  padding: 3rem 0;
}

.short-teacher-info {
  background: linear-gradient(103.16deg, #000000 2.1%, #282828 95.87%), #212121;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 24px 24px;
}

.location-marker {
  background-image: url(/img/location-marker--white.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem 1.5rem;
}

.teacher-intro, .teacher-intro .section {
  padding: 1rem 0;
}

.teacher-intro .section-1 {
  padding-top: 5rem;
}

.teacher-intro .section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  color: #F2F2F2;
  text-align: center;
}

.teacher-intro .section-1 h3 {
  font-weight: 800;
}

.teacher-intro .section-2 {
  font-size: 1.4rem;
}

.teacher-photo {
  border: 0.3rem solid #FF8008;
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
}

/***************/
.detailed-info {
  background-color: #FDFDFD;;
}

.detailed-box {
  padding: 2rem 10rem;
}

.green-line {
  border: 5px solid #E0E0E0;
  margin: 0 9rem;
}

.detailed-info h3 {
  color: #FF8008;
  font-weight: 800;
}

.detailed-box .section-2 {
  padding: 1.5rem 0;
}

.subjects .section-2,
.levels .section-2,
.workdays .section-2 {
  display: flex;
  font-size: 1.4rem;
  flex-wrap: wrap;
}

.subjects-item,
.levels-item,
.workdays-item {
  border: 2px solid #828282;
  border-radius: 4px;
  color: #828282;
  text-align: center;
  font-weight: 800;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}

.workdays-item {
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
}

.workday-available {
  color: #FF8008;
  border-color: #FF8008;;
}

.comments-item h4 {
  color: #4F4F4F;
  font-weight: bold;
}

.comments-item p, .curriculum p {
  font-size: 115%;
  color: #4F4F4F;
}

.comments-item {
  display: flex;
}

.comments-item + .comments-item {
  margin-top: 2rem;
}

.comments-item .user-img {
  width: 5rem;
  height: 5rem;
  border: 2px solid #FF8008;
  border-radius: 50%;
  margin-right: 1rem;
}

/** Reescrita **/
.footer-simple__content {
  padding: 4.5rem 0;
}

/* Media */
@media only screen and (max-width: 540px) {
  .green-line {
    margin: unset;
  }

  .detailed-box {
    padding: 2rem 2rem;
  }

  /* Reescrita */
  .footer-simple__logo {
    margin-bottom: 1rem;
  }
}

