/*.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}*/

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: transparent;
    box-shadow: none;
}

.navbar-nav i{
  margin-left: 5px;
}

.navbar-nav img.dropdown-icon{
  width: 20px;
  float: right;
}

.navbar-nav .open{
  display: block;
  /*display: none !important;*/
}

.navbar-nav>li>.dropdown-menu {
    /*display: block;*/
    border-radius: 0px;
    margin-top: 4px;
    width: 230px;
    padding: 0;
    border: 1px solid #ff8008;
    box-sizing: border-box;
}

.navbar-custom .nav .dropdown-menu>li>a {
    color: #ff8008;
    font-size: 17px;
    text-transform: none;
    font-family: 'Raleway', sans-serif;
    letter-spacing: initial;
    padding: 6px 20px;
}

.navbar-custom .nav .dropdown-menu>li>a>i {
    float: right;
    margin-top: 3px;
}

/* .dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ff8008;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
} */

@media screen and (max-width: 768px){

  .navbar-nav>li>.dropdown-menu {
    width: 98vw;
    left: inherit;
    right: 1vw;
    top: 54px;
  }
  .dropdown-menu>li>a {
    font-size: 22px;
  }
}
