*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
}

.sub-nav {
    background-color: #ff8008;
    padding-bottom: 20px;
    position: relative;
    height: 65px;
}

.sub-nav img {
    width: 20px;
    margin-left: 10px;
}

.sub-nav a.mode-toggle {
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    /* margin-left: 60px; */
    position: absolute;
    top: 0px;
    left: 75px;
}

#answers {
    height: auto;
    min-height: 600px;
    background-color: #fff;
}

.answers-container {
    margin-bottom: 100px;
    margin-top: 80px;
}

.collapse-heading,
.collapse-heading:link,
.collapse-heading:visited {
    font-size: 22px;
    color: #ff8008;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
}

.collapse-heading::before {
    content: '\1f449';
    content: '\021FE';
    content: '\0279D';
    content: '\02794';
    content: '\0279E';
    content: url('/img/right-arrow.png');

    vertical-align: middle;
    position: relative;
    top: 0;
    left: 0;
    color: #ff8008;
    font-size: 28px;
    display: inline-block;
    font-weight: normal;
    margin-right: 15px;
    transition: transform 0.25s linear;
}

.collapse-heading[aria-expanded='true']:before {
    transform: rotate(90deg);
}

.collapse-heading[aria-expanded='false']:before {
    transform: rotate(0deg);
}

.collapse-content {
    margin-left: 45px;
    font-family: 'Raleway', sans-serif;
}

.collapse-content ul,
.collapse-paragraph,
.collapse-title {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.collapse-paragraph {
    font-size: 16px;
    color: #333;
    font-weight: normal;
    text-align: left;
    line-height: normal;
}

.collapse-title {
    font-size: 26px;
    font-weight: normal;
    color: #ff8008;
    margin-bottom: 30px;
}

.collapse-content ul > li {
    list-style: none;
    font-size: 16px;
    color: #333;
    font-weight: normal;
    text-align: left;
    line-height: normal;
}

.collapse-content ul > li:before {
    content: '•';
    position: relative;
    display: inline-block;
    margin-right: 10px;
    color: #ff8008;
    font-size: 26px;
}

.answer-block {
    margin: 10px 0px;
}

.answer-title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 60px;
    color: #ff8008;
}

.margin-top-regular {
    margin-top: 20px;
}

.margin-top-large {
    margin-top: 30px;
}

.margin-bottom-regular {
    margin-bottom: 20px;
}

.margin-bottom-large {
    padding-bottom: 30px;
}

/* error page */
section#error {
    min-height: 600px;
    background-color: #fff;
}

#error .error-block {
    margin-top: 100px;
    text-align: center;
}

.error-block img {
    margin: 10px auto;
    width: 75px;
}

.error-block h1 {
    color: #ff8008;
    font-size: 32px;
}

.error-block a {
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .sub-nav {
        margin-top: 55px;
        padding: 15px 0px;
        position: fixed;
        width: 100%;
        z-index: 5;
    }

    nav#mainNav.navbar {
        box-shadow: none;
        border-bottom: none;
    }

    .sub-nav a.mode-toggle {
        margin-left: 5px;
        position: relative;
        top: 0;
        left: 0;
        font-size: 25px;
    }

    .answers-container {
        margin-top: 150px;
    }

    .answer-title {
        font-size: 28px;
    }

    .collapse-heading,
    .collapse-heading:link,
    .collapse-heading:visited {
        font-size: 18px;
    }

    .collapse-heading::before {
        /* font-size: 18px;
        margin-right: 5px; */
    }

    .collapse-content {
        margin-left: 35px;
    }
}
