html,
body {
  width: 100%;
  margin: 0;
}

body {
  /* -webkit-tap-highlight-color: #FFC836; */
  font-family: 'Raleway', serif;
  background-color: transparent;
}

#particles-js {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -999;
}

section.intro {
  height: 700px;
  background-color: transparent;
  margin-top: 40px;
}

#intro h1 {
  text-align: center;
  color: #ff8008;
  font-weight: 600;
  font-size: 42px;
}

#intro p {
  text-align: center;
  color: black;
  font-size: 17px;
  margin-bottom: 100px;
}

#intro .faq-logo {
  width: 180px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.faq-block {
  margin-bottom: 70px;
  width: 100%;
  height: 160px;
}

.faq-block h2 {
  color: #ff8008;
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 500;
}

.faq-block p {
  color: black;
  font-size: 15px;
}

@media (max-width: 992px) {

  section.intro{
    height: auto !important;
    margin-bottom: 80px !important;
    margin-top: 90px !important;
  }
}

@media (max-width: 768px) {

  .faq-block h2, .faq-block p{
    text-align: left;
  }

  #intro .faq-logo {
    margin-top: 80px;
  }
}