.flash {
  position: fixed;
  bottom: 20px;
  left: 50%;
  width: 70%;
  padding: 20px;
  color: #fff;
  font-size: 17px;
  border-radius: 35px;
  z-index: 9999;
  transform: translateX(-50%);
  text-align: center;
  animation: fadeOut 5s;
  opacity: 0;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0.95;
  }

  85% {
    opacity: 0.95;
  }

  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 768px) {
  .flash {
    width: 85%;
  }
}

.flash--info {
  background-color: rgb(78, 124, 216);
}

.flash--error {
  background-color: rgb(212, 59, 59);
}

.flash--success {
  background-color: rgb(42, 168, 63);
}
