* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-width: 340px;
}

body {
  background-color: #ffdfc1;
}

.asterisk {
  color: #d93025;
}

.card-container {
  max-width: 90vw;
  width: 670px;
  margin: 0 auto;
}

.card-container > .card:first-child {
  border-top: 10px solid #ff8008;
  padding-top: 14px;
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 24px;
  margin: 10px 0;
  border: 1px solid #dadce0;
}

.card-title {
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  color: #202124;
  line-height: 135%;
  max-width: 100%;
  min-width: 0%;
  margin-top: 0;
}

.card-text {
  font-family: Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .2px;
  line-height: 20px;
  color: #202124;
}

.card-legend {
  color: #d93025;
  font-family: Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .2px;
  line-height: 20px;
  margin-top: 12px;
}

.card-field {
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 24px;
  color: #202124;
  font-weight: 400;
  width: 100%;
  word-break: break-word;
}

.submit-button {
  padding: 0 24px;
  color: #fff;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .25px;
  line-height: 36px;
  text-align: center;
  background-color: #e93e23;
  border-radius: 4px;
  transition: background .2s .1s;
  border: 0;
}

input {
  border-bottom: 1px solid #e0e0e0;
  transition: border-bottom 1s ease-out;
  padding-top: 30px;
  font-family: Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .2px;
  line-height: 20px;
  color: #202124;
}

select, input:focus {
  outline: none !important;
}

input:focus {
  border-bottom: 1px solid #e93e23;
}

#email {
  max-width: 250px;
}

#faixa-etaria, #sexo {
  max-width: 180px;
}

#nao-poder-usar-colmeia-eh {
  max-width: 220px;
}