.btn {
  font-family: 'Raleway';
  font-weight: 700;
}

.btn-primary {
    color: #fff;
    background-color: #ff8008;
    border-color: #ff8008;
    width: 86px;
    margin-right: 4px;
    transition: 0.3s;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover,
.btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #333333;
    border-color: #333333;
    outline: 0 !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #555555;
    border-color: #555555;
}

.btn-primary.active {
    color: #fff;
    background-color: #333333;
    border-color: #333333;
}

.btn-group {
  margin-bottom: 30px;
}

.horario {
  width: 80px;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 8px;
  font-size: 16px;
}

.h1, .h2, .h3, h1, h2, h3 {
    font-family: 'Raleway';
}

.h1, h1 {
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 700;
}

.h2, h2 {
    font-size: 20px;
}

.h3, h3 {
  margin-top: 8px;
  margin-bottom: 16px;
}

tr {
  font-family: 'Montserrat';
}

button.colmeia-button#continue{
  font-size: 18px;
  height: 48px;
  margin: 16px;
  margin: 0 auto;
  width: 100%;
  background-color: #FF8008;
  outline: none;
  border: none;
  color: #FAFAFA;
  font-size: 16px;
  border-radius: 0px;
  height: 3em;
  padding-top: 5px;
  margin-top: 30px;
  /*-webkit-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.55);
  -moz-box-shadow:    0px 1px 10px 1px rgba(0,0,0,0.55);
  box-shadow:         0px 1px 10px 1px rgba(0,0,0,0.55);*/

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

button.colmeia-button#continue:hover{
  background-color: #ff6808;
  box-shadow: none;
  color: #FAFAFA;
  /*-webkit-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.55);
  -moz-box-shadow:    0px 1px 10px 1px rgba(0,0,0,0.55);
  box-shadow:         0px 1px 10px 1px rgba(0,0,0,0.55);*/
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

button.colmeia-button#continue:active,
button.colmeia-button#continue.active,
button.colmeia-button#continue:focus,
button.colmeia-button#continue:active:focus{
  background-color: #ff5208;
  color: #FAFAFA;
}


/*Calendar CSS */
td.day {
    color: '#333333'
}

td.day.active {
  font-weight: 700;
  border-radius: 8px;
  background-color: '#ff8008';
}

td.day.old, td.day.new  {
  color: '#aaaaaa'
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #ff8008;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    width: 20px;
    height: 20px;
}

.bootstrap-datetimepicker-widget table td span.active {
    background-color: #ff8008;
}

th.picker-switch {
    font-size: 18px;
}

.footer_container {
  margin-top: 140px;
}

@media (max-width: 992px) {
  .footer_container {
    margin-top: 60px;
  }
}
