/*
colmeia-orange:       #FF8008
colmeia-dark-orange:  #ff008
colmeia-yellow:       #FFC836
colmeia-gray:         #7D7D7F
colmeia-light-gray:   #E3E6ED
colmeia-black:        #111111
colmeia-white:        #FAFAFA
*/
.row {
  margin-right: 0;
  margin-left: 0;
}

html {
  font-size: 16px;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  position: relative;
}

html,
body {
  width: 100%;
  height: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

#particles-js {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -999;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway';
  font-weight: bold;
}

h1 {
  width: 500px;
  color: #333333;
  font-family: 'Raleway';
  font-size: 48px;
  font-weight: 400;
}

h2 {
  font-size: 36px;
}

h2,
h3 {
  color: #ff8008;
}

#como-funciona h2 {
  margin-bottom: 30px;
  margin-top: 50px;
}

#depoimentos h2 {
  margin-bottom: 60px;
}

#midias h2 {
  margin-bottom: 70px;
  text-align: center;
  font-weight: normal;
  color: #fafafa;
}

#beneficios h2 {
  margin: 50px auto 70px auto;
}

#buscas h2 {
  margin-bottom: 50px;
  text-align: center;
}

h3 {
  font-size: 30px;
}

body,
p,
div {
  font-family: 'Montserrat';
  font-weight: normal;
}
p {
  font-size: 16px;
}

::-moz-selection {
  text-shadow: none;
  background: #ffc836;
}
::selection {
  text-shadow: none;
  background: #ffc836;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  background: #fefefe;
  /* -webkit-tap-highlight-color: #FFC836; */
}

header {
  background: transparent;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 650px;
  width: 100%;
}

.header_logo {
  margin-bottom: 40px;
  height: 50px;
}

.main_hexagon {
  position: absolute;
  width: 420px;
  height: auto;
  right: 225px;
  top: 175px;
}

header .intro-text {
  margin-top: 95px;
  text-align: left;
  color: white;
}

.intro .btn,
.intro .btn:active {
  background-color: #ff8008;
  border: none;
  margin-top: 25px;
}

.intro form label {
  margin-top: 2px;
  margin-bottom: 1px;
  color: white;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.filter_container {
  margin-top: 60px;
}

section#como-funciona {
  background-color: transparent;
}

#como-funciona .como-funciona-intro {
  text-align: center;
  margin-bottom: 70px;
}

#como-funciona .app-info {
  text-align: center;
  margin: 0 auto;
}

#como-funciona .app-info p {
  margin-bottom: 50px;
}

.app-info img {
  height: 360px;
}

.download-buttons {
  font-size: 22px;
  color: #ff8008;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 100px;
  font-weight: 500;
}

.buttons-container a {
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.buttons-container img {
  width: 180px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

section#beneficios {
  background-color: transparent;
  color: #000000;
}

#beneficios .beneficios-intro {
  margin-bottom: 42px;
}

#beneficios .feature-block {
  text-align: center;
  margin: 8px auto;
  margin-bottom: 40px;
}

#beneficios .feature-block .info-text {
  color: #111;
  width: 280px;
}

#beneficios .feature-block .info-img img {
  width: 70px;
  float: right;
}

#beneficios .feature-block .info-text h3 {
  margin-top: 0;
  color: #ff8008;
  font-size: 26px;
  font-weight: normal;
}

section#contact {
  height: 500px;
  background: url('../img/fale_conosco.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#contact h2 {
  padding-bottom: 40px;
}

section#depoimentos {
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 60px;
  margin-top: 40px;
}

#depoimentos .mid-button {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  border: 2px solid #111;
  text-transform: uppercase;
  transition: 0.3s all;
  background-color: transparent;
  margin-top: 50px;
  font-size: 20px;
  outline: none;
}

#depoimentos .mid-button:hover {
  color: #ff8008;
  border-color: #ff8008;
}

.depoimento {
  position: relative;
  padding: 40px;
  box-shadow: 2px 2px 15px #ccc;
  background-color: #fff;
  border-radius: 30px;
  font-family: 'Raleway';
  max-width: 325px;
  min-height: 385px;
  margin: 0 auto;
}

.depoimento p {
  text-align: left;
  margin-bottom: 20px;
  line-height: initial;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
}

.depoimento .author {
  font-size: 20px;
  text-align: left;
  font-weight: normal;
  line-height: initial;
  margin-top: 20px;
  color: #ff8008;
  position: absolute;
  bottom: 20px;
  font-style: italic;
}

.depoimento::before {
  content: '\201C';
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
  /*font-family: 'Georgia', sans-serif;*/
  font-weight: bold;
  color: #ff8008;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 10px;
  margin-top: -10px;
}

section#midias {
  background-color: #ff8008;
  color: #fafafa;
  padding-bottom: 50px;
}

section#beneficios,
section#como-funciona {
  line-height: 24px;
}

#midias img {
  max-height: 100px;
  width: auto;
  height: auto;
  display: block;
}

.form-group .form-control {
  border-radius: 0px;
  height: 3em;
}

.form-group .form-control:active .form-group .form-control.active,
.form-group .form-control:hover,
.form-group .form-control:focus {
  border-color: #ff8008;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px #ff8008;
  outline: 0 none;
}

.colmeia-button {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 20px;
  background-color: #ff8008;
  outline: none;
  border: none;
  color: #fafafa;
  font-size: 16px;
  border-radius: 0;
}
.colmeia-button:active,
.colmeia-button.active,
.colmeia-button:focus,
.colmeia-button:active:focus,
.colmeia-button:hover {
  background-color: #ff8008;
  box-shadow: none;
  color: #fafafa;
}

section#footer a {
  text-decoration: none;
  color: white;
}

.modal.fade.login#modal-agendamento-erro {
  text-align: center;
  font-family: 'Raleway';
  font-size: 16px;
}

#modal-agendamento-erro .modal-title {
  font-weight: bold;
  font-size: 18px;
}

#modal-agendamento-erro .colmeia-button {
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
  background-color: #ff8008;
  outline: none;
  border: none;
  color: #fafafa;
  font-size: 16px;
  border-radius: 0px;
  height: auto;
  padding-top: 0;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  line-height: initial;
  padding: 15px 0;
}

#modal-agendamento-erro .colmeia-button:hover {
  background-color: #ff6808;
  box-shadow: none;
  color: #fafafa;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#modal-agendamento-erro .colmeia-button:active,
#modal-agendamento-erro .colmeia-button.active,
#modal-agendamento-erro .colmeia-button:focus,
#modal-agendamento-erro .colmeia-button:active:focus {
  background-color: #ff5208;
  color: #fafafa;
}

section#precos {
  height: auto;
  min-height: 500px;
  font-family: 'Raleway', sans-serif;
  margin: 40px 0;
}

#precos h2 {
  text-align: center;
  margin-bottom: 80px;
}

.preco-block {
  text-align: center;
}

.preco-icon {
  width: 100px;
}

.preco-value {
  color: #ff8008;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preco-large {
  font-size: 70px;
  font-weight: 500;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Raleway', sans-serif;
}

.preco-small {
  font-size: 28px;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}

.preco-small-hora {
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
}

.preco-title {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif;
}

.preco-subtitle {
  font-size: 22px;
  color: #ff8008;
  font-family: 'Raleway', sans-serif;
}

#precos .colmeia-button {
  margin-top: 60px;
  margin-bottom: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}

.buscas-container {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.busca-tag,
.busca-tag:link,
.busca-tag:visited {
  background-color: #ff8008;
  border-radius: 20px;
  padding: 5px 15px;
  color: white;
  font-size: 14px;
  margin: 5px;
  cursor: pointer;
  display: inline-block;
  transition: 0.2s all;
  border: 2px solid #ff8008;
  text-decoration: none;
}

.busca-tag:hover {
  color: #ff8008;
  background-color: #fff;
  text-decoration: none;
}

.mobile-banner {
  display: none;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #303030;
  z-index: 99999999999;

  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mobile-banner .header-img {
  width: 100%;
}

.mobile-banner .content-text {
  color: #303030;
  text-align: center;
  padding: 0px 20px;
}

.mobile-banner .content-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.mobile-banner .content-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.mobile-banner .content-subtitle {
  font-size: 16px;
  line-height: initial;
  color: #606060;
}

.mobile-banner .content-img {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.mobile-banner .banner-buttons {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 30px 20px;
  padding-top: 0;
  width: 100%;
}

.mobile-banner .button-close,
.mobile-banner .button-download {
  padding: 10px 20px;
  font-size: 18px;
}

.mobile-banner .button-close {
  color: #ff8008;
  background-color: #fff;
}

.mobile-banner .button-download {
  color: #fff;
  background-color: #ff8008;
  border-radius: 9px;
}

/*media queries*/
@media (max-width: 1199px) {
  .main_hexagon {
    position: absolute;
    width: 300px;
    height: auto;
    right: 70px;
    top: 175px;
  }
}

@media (max-width: 992px) {
  header {
    height: auto;
  }
  .main_hexagon {
    display: none;
  }

  .filter_container {
    margin-top: 0px;
  }
}

@media (max-width: 1280px) {
  #midias img {
    max-height: 70px;
    margin-bottom: 8px;
  }
  .app-info img {
    height: 400px;
  }
}

@media (max-width: 380px) {
  header {
    height: auto;
  }
}

@media (min-width: 769px) {
  header .intro {
    margin: 100px 0 20px 20px;
  }

  #beneficios .feature-block .info-text {
    text-align: left;
  }

  .mobile-img {
    display: none;
  }

  .not-mobile-img {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  section {
    /* border-bottom: 2px solid #ff8008; */
  }

  .mobile-img {
    display: block;
    margin: 0 auto;
  }

  #melhores {
    color: #ff8008;
    display: block;
  }

  section h2 {
    font-weight: normal;
  }

  header {
    height: auto;
  }
  header .intro {
    margin: 0px 0 0px 10px;
  }
  .header_logo {
    display: none;
  }

  h1 {
    width: 100%;
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }

  #como-funciona .como-funciona-intro {
    margin-top: 50px;
    padding: 0;
  }

  #como-funciona h2 {
    margin-top: 0;
    font-size: 28px;
    font-weight: bold;
  }

  #como-funciona p {
    font-size: 15px;
  }

  #como-funciona h3 {
    font-weight: normal;
  }

  #como-funciona .mobile-img {
    width: 80px;
    height: 80px;
  }

  #como-funciona .not-mobile-img {
    display: none;
  }

  section#depoimentos {
    margin-top: 0px;
  }

  #depoimentos h2 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
  }
  #depoimentos .depoimento {
    box-shadow: none;
    margin-top: 5px;
    width: 100% !important;
    max-width: 100% !important;
    min-height: auto;
    padding: 10px;
    background-color: white;
    margin-bottom: 40px;
  }

  #depoimentos .depoimento p,
  #depoimentos .depoimento .author {
    text-align: center;
  }

  #depoimentos .depoimento .author {
    position: initial;
    margin-bottom: 10px;
    font-style: normal;
  }

  #depoimentos .depoimento:before {
    content: '';
  }

  #depoimentos .mobile-quotes {
    display: inline-block;
    font-size: 22px;
    color: #ff8008;
  }

  #midias h2 {
    margin-bottom: 10px;
  }

  #midias img {
    margin: 40px auto;
  }

  #beneficios .feature-block .info-img img {
    float: none;
    width: 80px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  #beneficios .feature-block .info-text {
    text-align: center;
    margin-top: 20px;
    width: 100% !important;
  }

  #beneficios .beneficios-intro h2 {
    font-weight: bold;
  }

  #beneficios .feature-block .info-text h3 {
    font-size: 20px;
  }

  #beneficios .feature-block .info-text p {
    font-size: 16px;
  }

  .preco-block.preco-first::before {
    width: 0;
    height: 0;
  }

  .preco-block {
    margin-bottom: 100px;
  }

  .busca-tag,
  .busca-tag:link,
  .busca-tag:visited {
    width: 100%;
  }
}
