html {
    font-size: 16px;
    box-sizing: border-box;
    overflow-x: hidden;
}
body {
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

#particles-js {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -999;
}

html,
body {
    width: 100%;
    height: 100%;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

.sp-button {
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    border: none;
}

section#sp-main {
    padding-bottom: 50px;
}

.sp-h1 {
    font-size: 42px;
    font-weight: bold;
    color: #303030;
}

.sp-h2 {
    font-size: 28px;
    font-weight: bold;
    color: #ff8008;
}

.sp-h3 {
    font-size: 18px;
    font-weight: 400;
}

.sp-h4 {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

.sp-h3,
.sp-h4 {
    color: #95989a;
}

.sp-img-container img {
    width: 85%;
    display: block;
    margin: 0 auto;
}

.sp-form-container {
    width: 100%;
    height: auto;
    /* background-color: #fafafa;
    box-shadow: 0 -1px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
    margin-bottom: 50px;
}

.sp-form-container label {
    color: #303030;
}

.sp-form {
    height: 45px;
    width: 100%;
    border: 1.5px solid #ff8008;
    background-color: #fff;
    color: #333;
    box-shadow: none;
    border-radius: 0;
    transition: 0.3s all;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    outline: none;
}

.sp-form:hover,
.sp-form:focus {
    border: 1.5px solid #ff8008;
    outline: 0 !important;
    box-shadow: none !important;
}

.sp-divider {
    height: 3px;
    width: 45px;
    border-radius: 5px;
    background-color: #ff8008;
    margin: 30px 0;
}

@media screen and (max-width: 768px) {
    section#sp-main {
        padding-top: 80px;
    }

    .sp-form-container {
        padding: 60px 10px;
    }

    .sp-h1,
    .sp-h2,
    .sp-h3 {
        text-align: center;
    }

    .sp-h1 {
        font-size: 36px;
    }
    .sp-h2 {
        font-size: 22px;
    }

    .sp-divider {
        margin-left: auto;
        margin-right: auto;
    }
}
