html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
  position: relative;
}

.header {
  min-height: 80vh;
  background-image: url('/img/aluno_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #303030;
  margin-top: 50px;
}

.header__title {
  font-size: 38px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 25px;
  /* margin-top: 100px; */
}

.header__subtitle {
  font-size: 24px;
  margin-bottom: 40px;
}

.form__call {
  color: #ff8008;
  font-size: 22px;
  margin-bottom: 20px;
}

.form__input {
  display: block;
  width: 100%;
  border-radius: 9px;
  border: 1px solid #e3e3e3;
  outline: none !important;
  padding: 10px;
  padding-left: 15px;
  margin-bottom: 20px;
  font-size: 16px;
}

.form__input--pacote {
  display: none;
}

.form__button {
  text-decoration: none;
  color: #fff;
  background-color: #ff8008;
  border-radius: 40px;
  padding: 10px;
  display: block;
  text-align: center;
  font-size: 21px;
  border: 2px solid #ff8008;
  transition: 0.3s all;
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
  font-weight: bold;
}

.form__button--test {
  animation: buttonAnimation 1.5s infinite;
}

@keyframes buttonAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.form__button:hover {
  background-color: #fff;
  color: #ff8008;
}

.form__caption {
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}

.servico {
  padding: 75px 0;
  color: #303030;
  text-align: center;
}

.servico__title {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 60px;
}

.servico__block {
  width: 75%;
  margin: 0 auto;
}

.servico__block-img {
  width: 120px;
  margin: 0 auto;
}

.servico__block-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.servico__block-subtitle {
  font-size: 16px;
  width: 85%;
  margin: 0 auto;
}

.servico__link {
  display: inline-block;
  color: #ff8008;
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.servico__link:hover {
  color: #ff8008;
}

.pacote {
  background-color: #fce79f;
}
.pacote-block {
  background-color: #fff;
  background-image: url(/img/pas-pacote-bg.png);
  background-size: cover;
  border-radius: 30px;
  padding: 20px 25px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  width: 80%;
  margin: 0 auto;
  transition: 0.3s all;
  min-height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.pacote-block--large {
  transform: scale(1.1);
}

.pacote-block__title {
  font-weight: bold;
  font-size: 24px;
}

.pacote-block__discount {
  font-weight: bold;
  color: #ff8008;
  text-align: center;
  font-size: 64px;
  margin-bottom: 5px;
}

.pacote-block__subtitle {
  font-size: 24px;
  color: #ff8008;
  margin-bottom: 30px;
  font-weight: bold;
}

.pacote-block__item {
  color: #606060;
  font-size: 15px;
  text-align: center;
  width: 100%;
  position: relative;
}

.pacote-block__item:not(:last-of-type) {
  border-bottom: 1px solid #a3a3a3;
  padding-bottom: 10px;
}

.pacote-block__button,
.pacote-block__button:link,
.pacote-block__button:visited {
  text-decoration: none;
  color: #fff;
  background-color: #ff8008;
  border-radius: 40px;
  padding: 10px;
  display: block;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #ff8008;
  transition: 0.3s all;
  width: 100%;
  margin-top: 40px;
}

.pacote-block__button:hover {
  background-color: #fff;
  color: #ff8008;
}

.porque {
  color: #303030;
  padding: 100px 0;
}

.porque__img-container {
}

.porque__img {
  width: 100%;
}

.porque__title {
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 50px;
}

.porque__text {
  font-size: 16px;
}

.porque__link,
.porque__link:hover,
.porque__link:visited {
  color: #ff8008;
  background: none;
  border: none;
  outline: none;
}

.code {
  background-color: #f8f8f8;
  background-image: url('/img/pacote-code.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #303030;
  padding: 120px 0;
  text-align: center;
}

.code__title {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 10px;
}

.code__subtitle {
  font-size: 16px;
  margin-bottom: 20px;
}

.code__content {
  padding: 5px 40px;
  border: 2px solid #ff8008;
  text-transform: uppercase;
  color: #ff8008;
  font-weight: bold;
  font-size: 48px;
  display: inline-block;
}

.phone {
  background-color: #f4f4f4;
  padding: 50px 0;
  position: relative;
}

.phone__img {
  position: absolute;
  width: 350px;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.phone__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 230px;
}

.phone__block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.phone__block-left {
  width: 65px;
  margin-right: 50px;
  flex-grow: 0;
  flex-shrink: 0;
}

.phone__block-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.phone__block-text {
  font-size: 14px;
}

.preco {
  padding: 10px 0;
  padding-top: 75px;
  background-color: #fff;
  color: #303030;
}

.preco__title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 50px;
}

.preco__card {
  background-color: #fff;
  border: 2px solid #e3e3e3;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.16);
  border-radius: 40px;
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 450px;
  max-width: 100%;
}

.preco__card-left {
  width: 125px;
  margin-right: 30px;
}

.preco__card-right {
  text-align: center;
}

.preco__card-title {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 15px;
}

.preco__card-text {
  font-size: 14px;
  color: #606060;
}

.preco__card-price {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.preco__card-price-value {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ff8008;
}

.preco__card-price-sub {
  color: #868686;
  font-size: 12px;
  align-self: flex-end;
}

.preco__button-container {
  text-align: center;
}

.preco__button {
  border-radius: 56px;
  background-color: #ff8008;
  color: #fff;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  margin: 50px auto;
  padding: 10px 60px;
  transition: 0.3s all;
  border: 2px solid #ff8008;
}

.preco__button:hover,
.preco__button:active {
  color: #ff8008;
  background-color: #fff;
  text-decoration: none;
}

.comentario {
  padding: 50px 0;
}

.comentario__title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 50px;
}

.comentario__block {
  border: 2px solid#FCE79F;
  padding: 30px;
  min-height: 320px;
}

.comentario__block--filled {
  background-color: #fce79f;
}

.comentario__text {
  text-align: left;
  font-size: 15px;
  margin-bottom: 20px;
}

.comentario__name {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.comentario__sub {
  text-align: center;
  font-size: 14px;
}

.header-mobile {
  display: none;
  color: #303030;
  background-image: url('/img/calculadora-header-mobile-bg.jpg');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 640px;
  position: relative;
}

.closing__title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.closing__subtitle {
  font-size: 16px;
  text-align: center;
}

.closing__link-container {
  text-align: center;
}

.closing__link {
  border-radius: 56px;
  background-color: #ff8008;
  color: #fff;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  margin: 30px auto;
  padding: 10px 70px;
  transition: 0.3s all;
  border: 2px solid #ff8008;
}

.closing__link:hover,
.closing__link:active {
  color: #ff8008;
  background-color: #fff;
  text-decoration: none;
}

.buscas-container {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.busca-tag,
.busca-tag:link,
.busca-tag:visited {
  color: #ff8008;
  background-color: #fff;
  border-radius: 20px;
  padding: 8px 30px;
  font-size: 14px;
  margin: 15px;
  cursor: pointer;
  display: inline-block;
  transition: 0.2s all;
  border: 2px solid #ff8008;
  text-decoration: none;
}

.busca-tag:hover {
  text-decoration: none;
  background-color: #ff8008;
  color: white;
}

.nav {
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 20px 0;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__link {
  display: block;
}

.nav__logo {
  height: 35px;
}

.nav__phone {
  font-size: 28px;
  color: #ff8008;
  font-weight: bold;
}

.aula-modal-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.aula-modal-content {
  font-size: 17px;
  margin-bottom: 25px;
  text-align: center;
}

.aula-marcada-button {
  padding: 8px 0 !important;
  border: 2px solid #ff8008;
  color: #fff;
  background-color: #ff8008;
  font-size: 18px !important;
  width: 50% !important;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px !important;
  padding: 10px 15px !important;
  border: 1px solid #ff8008;
  font-size: 18px !important;
  display: inline-block;
  margin: 0px 10px;
  cursor: pointer;
}

.aula-marcada-button.whatsapp-button {
  background-color: #25d366;
  border-color: #25d366;
}

.colmeia-button.whatsapp-button {
  padding: 8px 0 !important;
  border: 2px solid #ff8008;
  color: #fff;
  background-color: #ff8008;
  font-size: 18px !important;
  width: 50% !important;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px !important;
  padding: 10px 15px !important;
  border: 1px solid #ff8008;
  font-size: 18px !important;
  display: inline-block;
}

.modal-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* custom modal styles for vertical centering */
.modal {
  text-align: center;
  padding: 0 !important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-body {
  padding: 30px;
  text-align: center;
}

.cta {
  padding: 50px 0;
  background-color: #fff;
  text-align: center;
}

.cta__title {
  color: #303030;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cta__text {
  font-size: 18px;
  color: #303030;
  margin-bottom: 50px;
}

.cta__button,
.cta__button:link,
.cta__button:active,
.cta__button:visited {
  display: inline-block;
  color: #fff;
  background-color: #ff8008;
  border-radius: 40px;
  padding: 20px 50px;
  font-size: 20px;
  text-decoration: none;
  position: relative;
  transition: 0.3s all;
  border: 2px solid #ff8008;
}

.cta__button--test {
  padding-left: 70px !important;
}

.cta__button:hover {
  color: #ff8008;
  background-color: #fff;
}

.cta__button:hover::before {
  color: #ff8008;
}

.cta__button--test:before {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  content: '\203A';
  font-size: 48px;
  color: #fff;
  animation: ctaButton 1.3s linear infinite;
}

@keyframes ctaButton {
  0% {
    transform: translate(0, -50%);
  }

  50% {
    transform: translate(20px, -50%);
  }

  100% {
    transform: translate(0, -50%);
  }
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  background-image: url(/img/ImagemINICIAL.png);
  background-size: cover;
  z-index: 9999999;
}

.overlay__content {
  /* margin-top: 200px; */
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.overlay__image {
  max-width: 100%;
}

.overlay__title {
  font-size: 26px;
  margin-top: 40px;
  margin-bottom: 100px;
}

.overlay__button,
.overlay__button:link,
.overlay__button:active,
.overlay__button:visited {
  display: inline-block;
  padding: 15px 60px;
  border-radius: 40px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s all;
}

.overlay__button--orange {
  background-color: #ff8008;
  border: 2px solid #ff8008;
}
.overlay__button--orange:hover {
  color: #ff8008;
  background-color: #fff;
}

.overlay__button--black {
  background-color: #303030;
  border: 2px solid #303030;
}

.overlay__button--black:hover {
  color: #303030;
  background-color: #fff;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  z-index: 999;
}

.whatsapp__title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 20px;
}

.whatsapp__icon {
  background-color: #25d366;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  color: #fff;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.16);
  transition: 0.3s all;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatsapp__icon:hover {
  transform: scale(1.05);
}

.whatsapp__container {
  background-color: #fff;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.16);
  padding: 20px 30px;
  border-radius: 20px;
  transition: 0.3s all;
  position: relative;
  margin-bottom: 35px;
  width: 400px;
  max-width: 100%;
}

.whatsapp__container::before {
  position: absolute;
  content: '';
  bottom: -10px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  transform: rotate(45deg);
  z-index: -1;
}

.whatsapp__form {
  display: block;
}

.whatsapp__input {
  display: block;
  width: 100%;
  border-radius: 25px;
  border: 1px solid gray;
  outline: none;
  margin-bottom: 15px;
  padding: 12px;
  padding-left: 20px;
}

.whatsapp__checkbox {
  display: none;
}

.whatsapp__checkbox:checked ~ .whatsapp__container {
  display: block;
}

.whatsapp__checkbox:not(:checked) ~ .whatsapp__container {
  display: none;
}

.whatsapp__button {
  background-color: #25d366;
  border: 2px solid #fff;
  color: #fff;
  outline: none;
  border-radius: 25px;
  transition: 0.3s all;
  display: block;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  text-align: center;
}

.whatsapp__button:hover {
  background-color: #fff;
  border: 2px solid #25d366;
  color: #25d366;
}

@media only screen and (max-width: 1200px) {
  .pacote-block {
    margin-bottom: 20px;
  }

  .pacote-block--large {
    transform: scale(1);
  }
}
@media only screen and (max-width: 990px) {
  .phone__img {
    display: none;
  }

  .overlay__button--orange {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .nav__logo {
    height: 20px;
  }

  .nav__phone {
    font-size: 18px;
  }

  .header {
    background-image: none;
  }
  .header__title {
    margin-top: 0;
  }

  .servico__block {
    margin-bottom: 55px;
  }

  .pacote {
    padding: 20px 0;
  }

  .pacote-block__subtitle {
    font-size: 18px;
  }

  .form__label {
    font-size: 22px;
  }

  .form__input {
    padding: 15px;
  }

  .form__button {
    width: 100%;
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
  }

  .phone__img {
    display: none;
  }

  .phone__content {
    height: auto;
  }

  .phone__block-left {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .phone__block-title {
    font-size: 20px;
  }

  .phone__block-text {
    font-size: 18px;
  }

  .phone__block {
    flex-direction: column;
    margin-bottom: 50px;
    text-align: center;
  }

  .code {
    background-color: #fff;
    background-image: url('/img/pacote-code-mobile.png');
    background-size: contain;
    background-position: bottom;
    padding-top: 0;
  }

  .preco__card-left {
    width: 80px;
  }

  .preco__card-price-value {
    font-size: 36px;
  }

  .comentario__block {
    margin-bottom: 25px;
  }

  .busca-tag,
  .busca-tag:link,
  .busca-tag:visited {
    width: 100%;
    text-align: center;
  }

  .code__content {
    margin-bottom: 250px;
    max-width: 100%;
    text-align: center;
    font-size: 38px;
  }

  #overlay {
    text-align: center;
  }

  .overlay__content {
    left: 0;
  }
  .overlay__image {
    width: 250px;
  }

  .overlay__button {
    width: 100%;
  }

  .whatsapp {
    width: 100%;
    padding-left: 40px;
  }
}
