html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

html,
body {
  overflow-x: hidden;
}

#particles-js {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -999;
}

.login-container .colmeia-button,
.register-container .colmeia-button {
  margin-bottom: 10px;
}

.form-group .form-control {
  border-radius: 0px;
  height: 3em;
  border: 2px solid #ff8008;
}

.form-group .form-control:active .form-group .form-control.active,
.form-group .form-control:focus {
  border-color: #ff8008;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px #ff8008;
  outline: 0 none;
}

.header {
  font-size: 26px;
  text-align: left;
  font-weight: bold;
  margin: 10px auto 20px auto;
  color: #ff8008;
}

.login-container {
  border-radius: 0;
  background-color: #fff;
  padding: 50px;
  /* padding-bottom: 35px; */
  margin: 20px auto;
  margin-bottom: 100px;
  border: 1.5px solid #ff8008;
}

.login-container label {
  font-size: 16px;
  font-weight: normal;
}

.login-container p {
  font-size: 19px;
  margin-bottom: 50px;
}

#success-container a:link,
#success-container a:visited {
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 30px;
  color: #ff8008;
}

#success-container a:hover,
#success-container a:active {
  color: #db6a00;
}

.error-container-login,
.error-container-register {
  height: 20px;
  margin: 20px auto;
  margin-top: 10px;
  text-align: center;
  color: rgb(126, 22, 22);
  transition: 0.5s;
}

#register-telefone {
  cursor: pointer;
  cursor: hand;
  background-color: white;
}

.termos {
  margin-bottom: 30px;
  text-align: center;
}

.suggestion {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}

.suggestion a,
.termos a {
  color: #ff8008;
}

#firebaseui-auth-container {
  display: none;
  transition: 0.3s all !important;
  margin-top: 10px;
  border: 1.5px solid #ff8008;
  outline: none;
  box-shadow: none;
}

.mdl-button--raised.mdl-button--colored,
.mdl-button--raised.mdl-button--colored:active,
.mdl-button--raised.mdl-button--colored:hover,
.mdl-button--raised.mdl-button--colored:focus:not(:active),
.mdl-button--primary.mdl-button--primary.mdl-button--raised,
.mdl-button--primary.mdl-button--primary.mdl-button--fab,
.mdl-progress > .progressbar,
.mdl-progress.mdl-progress--indeterminate > .bar3,
.mdl-progress.mdl-progress__indeterminate > .bar3,
.mdl-textfield__label:after {
  background: #ff8008 !important;
  background-color: #ff8008 !important;
}

.mdl-button--primary.mdl-button--primary {
  color: #ff8008 !important;
}

.mdl-progress > .bufferbar {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    linear-gradient(to right, rgb(255, 128, 8), rgb(255, 128, 8));
}

.mdl-shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(255, 128, 8, 0.4), 0 3px 1px -2px rgba(255, 128, 8, 0.5),
    0 1px 5px 0 rgba(255, 128, 8, 0.4);
}

.firebaseui-container {
  border: 1px solid rgba(255, 128, 8, 0.5);
  max-width: 100%;
  border-color: #ff8008;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px #ff8008;
}

.checkbox label {
  text-align: left;
}

.header-title {
  text-align: left;
  font-size: 18px;
  color: #333;
  margin-bottom: 35px;
  font-weight: bold;
}

.forgot-password-container {
  text-align: center;
  margin-top: 15px;
}

.forgot-password-container p {
  margin: 0;
  font-size: 15px;
}

.tipo-header {
  font-size: 16px;
  margin-bottom: 25px;
}

.tipo-radio-group {
  margin-bottom: 50px;
  margin-top: 20px;
  margin-left: 30px;
}

.tipo-radio-group label {
  cursor: pointer;
  color: #ff8008;
}

@media screen and (max-width: 768px) {
  .firebaseui-card-content {
    padding: 0;
  }

  #firebaseui-auth-container {
    max-height: 442px;
  }

  .login-container,
  .register-container {
    padding: 25px;
  }

  .header {
    margin-top: 75px;
  }
}
