/*navbar*/
.navbar.navbar-default.navbar-custom{
  margin-bottom: 0;
  background-color: #FF8008;
  border-radius: 0;
  border: none;
  ouline: none;
  -webkit-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.13);
  -moz-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.13);
  box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.13);
}

.navbar-nav a {
  color: #FAFAFA !important;
  font-family: 'Raleway';
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ff7008;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ff7008;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fafafa;
}
