@charset "UTF-8";
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800]   regular styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 78.125em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 58%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

::selection {
  background-color: #f8be7f;
  color: #fff; }

a,
a:link,
a:visited,
a:hover {
  text-decoration: none; }

ul {
  list-style-type: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000; }

@font-face {
  font-family: 'ArchitectsDaughter';
  src: url("/fonts/ArchitectsDaughter.ttf") format("truetype"); }

.heading-campaign {
  color: #fff;
  position: relative;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1.3; 
}

.landing-campanha--ebook .heading-campaign {
  color : #A17262;
}

@media only screen and (max-width: 449px) {
  .header-campaign-estudos {
    height: 97rem!important;
    background: url(/img/header-estudos-inicio.png) no-repeat left top, #f4e4d7!important;
    background-size: 200% 52%!important;
  }

  .heading-campaign.heading-campaign-estudos {
    font-size: 2.9rem!important;
    margin-left: 0!important;
    text-align: center!important;
  }

  .subheading-campaign.subheading-campaign-estudos {
    font-size: 2.5rem!important;
    margin-left: 0!important;
    width: 100%!important;
    text-align: center!important;
  }

  .principal-page .steps {
    margin-top: unset!important;
  }

  .steps {
    margin-top: 300px!important;
  }

  .form__left {
    background-position: 0 -20px!important;
  }

  section.campaign-estudos+.footer-simple .footer-simple__text {
    padding-right: 0;
  }
}
@media only screen and (min-width: 450px) and (max-width: 37.5em) {
  .header-campaign-estudos {
    height: 97rem!important;
    background: url(/img/header-estudos-inicio.png) no-repeat left top, #f4e4d7!important;
    background-size: 175% 52%!important;
  }

  .heading-campaign.heading-campaign-estudos {
    font-size: 3.5rem!important;
    margin-left: 0!important;
    text-align: center!important;
  }

  .subheading-campaign.subheading-campaign-estudos {
    margin-left: 0!important;
    width: 100%!important;
    text-align: center!important;
  }

  .principal-page .steps {
    margin-top: unset!important;
  }

  .steps {
    margin-top: 80px!important;
  }

  .form__left {
    background-position: 0 -20px!important;
  }

  section.campaign-estudos+.footer-simple .footer-simple__text {
    padding-right: 0;
  }
}
@media only screen and (min-width: 601px) and (max-width: 56.25em) {
  .header-campaign-estudos {
    height: 96rem!important;
    background: url(/img/header-estudos-inicio.png) no-repeat left top, #f4e4d7!important;
    background-size: 145% 57%!important;
  }

  .heading-campaign.heading-campaign-estudos {
    margin-left: 0!important;
    text-align: center!important;
  }

  .subheading-campaign.subheading-campaign-estudos {
    margin-left: 0!important;
    width: 100%!important;
    text-align: center!important;
  }
}
@media only screen and (min-width: 56.26em) and (max-width: 78.125em) {
  .header-campaign-estudos {
    height: 62rem!important;
  }

  .heading-campaign.heading-campaign-estudos {
    margin-left: 0!important;
    font-size: 4rem!important;
  }

  .subheading-campaign.subheading-campaign-estudos {
    margin-left: 0!important;
    width: 90%!important;
  }

  .campaign-estudos.u-padding-vertical-m {
    padding: 6rem 0!important;
  }

  .campaign-estudos.u-padding-vertical-m + .footer-simple {
    padding: 2.5rem 0!important;
  }
}
/* REESCRITAS */
.heading-campaign-estudos.heading-campaign--line {
padding-bottom: none!important;
}
.heading-campaign-estudos.heading-campaign--line::before {
content: none!important;
}
.heading-campaign-estudos.u-margin-bottom-s {
margin-bottom: none;
}
.heading-campaign.heading-campaign-estudos {
color: #2b2929;
font-weight: 600;
font-size: 4.46rem;
margin-top: -110px;
margin-left: -30px;
}
.subheading-campaign.subheading-campaign-estudos {
color: #7e7e7f;
font-size: 3rem;
font-weight: 500;
width: 62%;
margin-left: -30px;
}

@media only screen and (max-width: 37.5em) {
  .heading-campaign {
    font-size: 3.5rem;
    line-height: 1.4; } }

.heading-campaign--line {
  padding-bottom: 2rem; }

.heading-campaign--line::before {
  content: '';
  height: 5px;
  width: 15rem;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0; }

.heading-campaign--line-center::before {
  left: 50%;
  width: 20rem;
  transform: translateX(-50%); 
}

.subheading-campaign {
  color: #fff;
  font-size: 2.5rem; 
}

.landing-campanha--ebook .subheading-campaign {
  color: #A17262;
}

@media only screen and (max-width: 991px) and (min-width: 901px) {
  .header-campaign--online .grid .col-2, .header-campaign--ebook .grid .col-2 {
    flex: 3;
    flex-shrink: 0;
    margin-right: -70px;
  }

  .header-campaign--online .grid .col-3, .header-campaign--ebook .grid .col-3 {
    flex: 3;
    flex-shrink: 0;
    margin-left: -70px;
  }
}

#email-success-image {
  display: none;
  width: 300px;
  margin: auto;
}

@media only screen and (max-width: 900px) {
  .about-colmeia {
    padding-top: 40rem;
  }

  .header-campaign--ebook {
    height: 105rem!important;
    background: url(/img/landing-header-ebook2-mobile.png)!important;
  }

  .header-campaign--online .header-campaign__content, .header-campaign--ebook .header-campaign__content {
    align-items: unset;
    padding-right: unset;
  }

  .header-campaign--online .header-campaign__content .heading-campaign, .header-campaign--ebook .header-campaign__content .heading-campaign {
    text-align: center;
  }

  .header-campaign--online .header-campaign__content .subheading-campaign, .header-campaign--ebook .header-campaign__content .subheading-campaign {
    text-align: center;
  }

  .manter-estudos__subtitle {
    padding: unset!important;
  }

  .footer-simple__content .middle {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .footer-simple__content .right {
    margin-top: 7%;
    justify-content: center;
  }
}

@media only screen and (max-width: 700px) {
  .landing-campanha--online .navbar-static__right, .landing-campanha--ebook .navbar-static__right {
    width: 20%;
  }

  .navbar-static__right .btn-orange, .navbar-static__right .btn-green {
    display: none;
  }

  .navbar-static__right .tel-icon, .navbar-static__right .send-whatsapp-icon {
    display: inline-block!important;
    margin: 0px 3%;
  }
}

@media only screen and (min-width: 424px) and (max-width: 659px) {
  .landing-campanha--online .navbar-static__right, .landing-campanha--ebook .navbar-static__right {
    width: 24%;
  }
}

@media only screen and (max-width: 423px) {
  .landing-campanha--online .navbar-static__right, .landing-campanha--ebook .navbar-static__right {
    width: 34%;
  }
}

.header-campaign--online .subheading-campaign, .header-campaign--ebook .subheading-campaign {
  font-size: 3.1rem;
}

.heading-landing {
  color: #fff;
  font-weight: 700;
  font-size: 6rem;
  line-height: 7rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-landing {
      font-size: 3rem;
      line-height: 4rem; } }

.heading-landing__highlight {
  display: inline-block;
  color: #ff8008;
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
  font-family: 'ArchitectsDaughter'; }
  @media only screen and (max-width: 37.5em) {
    .heading-landing__highlight {
      font-size: 2.75rem;
      display: block;
      margin-top: 1rem;
      font-weight: bold;
      letter-spacing: 0.2rem; } }

.heading-section {
  text-transform: uppercase;
  color: #505050;
  font-size: 4rem;
  font-weight: 700;
  line-height: 6rem;
  position: relative; }

.heading-section--underline {
  padding-bottom: 2rem; }

.heading-section--underline::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  background-color: #f8be7f;
  height: 2px;
  width: 33%; }

.heading-section-small {
  text-transform: uppercase;
  color: #505050;
  font-size: 2.35rem;
  font-weight: 700; }

.p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: #505050; }
  @media only screen and (max-width: 37.5em) {
    .p {
      font-size: 1.9rem; } }

.p--s {
  font-size: 1.4rem; }
  @media only screen and (max-width: 37.5em) {
    .p--s {
      font-size: 1.9rem; } }

.heading-small {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.4;
  color: #505050;
  z-index: 2; }

.text-orange {
  color: #fcb32c; }

.text-center {
  text-align: center; }

.u-align-center {
  text-align: center; }

.u-align-left {
  text-align: left; }

.u-padding-vertical-xl {
  padding-top: 8rem;
  padding-bottom: 8rem; }

.u-padding-vertical-l {
  padding-top: 6rem;
  padding-bottom: 6rem; }

.u-padding-vertical-m {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.u-padding-vertical-s {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.u-padding-horizontal-m {
  padding-left: 4rem;
  padding-right: 4rem; }

.u-padding-horizontal-s {
  padding-left: 2.5rem;
  padding-right: 2.5rem; }

.u-margin-vertical {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.u-margin-horizontal {
  margin-left: 4rem;
  margin-right: 4rem; }

.u-margin-bottom-xxl {
  margin-bottom: 15rem !important; }

.u-margin-bottom-xl {
  margin-bottom: 12rem !important; }

.u-margin-bottom-l {
  margin-bottom: 8rem !important; }

.u-margin-bottom-m {
  margin-bottom: 4rem !important; }

.u-margin-bottom-s {
  margin-bottom: 2rem !important; }

.u-margin-bottom-xs {
  margin-bottom: 1rem !important; }

.u-margin-top-xl {
  margin-top: 12rem !important; }

.u-margin-top-l {
  margin-top: 8rem !important; }

.u-margin-top-m {
  margin-top: 4rem !important; }

.u-margin-top-s {
  margin-top: 2rem !important; }

.u-margin-top-xs {
  margin-top: 1rem !important; }

.u-padding-top-l {
  padding-top: 8rem; }

.u-padding-top-s {
  padding-top: 2rem; }

.u-padding-top-m {
  padding-top: 4rem; }

.lock-scroll {
  overflow: hidden; }

body.empresas-rappi .steps__number {
  color: rgba(237, 104, 101, 0.2); }

body.empresas-rappi .advantage,
body.empresas-rappi .advantage::before,
body.empresas-rappi .discount,
body.empresas-rappi .product-card__button,
body.empresas-rappi .footer-simple {
  background-color: #ed6865; }

body.empresas-rappi .clients__img-block,
body.empresas-rappi .product-card__button {
  border-color: #ed6865; }

body.empresas-rappi .clients__highlight {
  color: #ed6865; }

body.empresas-rappi .button, body.empresas-rappi .header-campaign__button,
body.empresas-rappi .button:link,
body.empresas-rappi .header-campaign__button:link,
body.empresas-rappi .button:visited,
body.empresas-rappi .header-campaign__button:visited,
body.empresas-rappi .button:focus,
body.empresas-rappi .header-campaign__button:focus {
  background-color: #ed6865;
  border: 2px solid #ed6865; }

body.empresas-rappi .button:hover, body.empresas-rappi .header-campaign__button:hover {
  background-color: transparent;
  color: #ed6865; }

/*
 * easy-autocomplete
 * jQuery plugin for autocompletion
 * 
 * @author Łukasz Pawełczak (http://github.com/pawelczak)
 * @version 1.3.5
 * Copyright  License: 
 */
.easy-autocomplete {
  /* position: relative; */
  width: 100% !important;
  display: block; }

.easy-autocomplete input {
  /* border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  color: #555;
  float: none;
  padding: 6px 12px; */
  width: 100% !important;
  display: block; }

.easy-autocomplete input:hover,
.easy-autocomplete input:focus {
  /* box-shadow: none; */ }

.easy-autocomplete a {
  display: block; }

.easy-autocomplete.eac-blue-light input:hover,
.easy-autocomplete.eac-blue-light input:focus {
  border-color: #66afe9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6); }

.easy-autocomplete.eac-blue-light ul {
  border-color: #66afe9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6); }

.easy-autocomplete.eac-blue-light ul li,
.easy-autocomplete.eac-blue-light ul .eac-category {
  border-color: #66afe9; }

.easy-autocomplete.eac-blue-light ul li.selected,
.easy-autocomplete.eac-blue-light ul .eac-category.selected {
  background-color: #ecf5fc; }

.easy-autocomplete.eac-green-light input:hover,
.easy-autocomplete.eac-green-light input:focus {
  border-color: #41db00;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(146, 237, 107, 0.6); }

.easy-autocomplete.eac-green-light ul {
  border-color: #41db00;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(146, 237, 107, 0.6); }

.easy-autocomplete.eac-green-light ul li,
.easy-autocomplete.eac-green-light ul .eac-category {
  border-color: #41db00; }

.easy-autocomplete.eac-green-light ul li.selected,
.easy-autocomplete.eac-green-light ul .eac-category.selected {
  background-color: #9eff75; }

.easy-autocomplete.eac-red-light input:hover,
.easy-autocomplete.eac-red-light input:focus {
  border-color: #ff5b5b;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 90, 90, 0.6); }

.easy-autocomplete.eac-red-light ul {
  border-color: #ff5b5b;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 90, 90, 0.6); }

.easy-autocomplete.eac-red-light ul li,
.easy-autocomplete.eac-red-light ul .eac-category {
  border-color: #ff5b5b; }

.easy-autocomplete.eac-red-light ul li.selected,
.easy-autocomplete.eac-red-light ul .eac-category.selected {
  background-color: #ff8e8e; }

.easy-autocomplete.eac-yellow-light input:hover,
.easy-autocomplete.eac-yellow-light input:focus {
  border-color: #ffdb00;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 231, 84, 0.6); }

.easy-autocomplete.eac-yellow-light ul {
  border-color: #ffdb00;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 231, 84, 0.6); }

.easy-autocomplete.eac-yellow-light ul li,
.easy-autocomplete.eac-yellow-light ul .eac-category {
  border-color: #ffdb00; }

.easy-autocomplete.eac-yellow-light ul li.selected,
.easy-autocomplete.eac-yellow-light ul .eac-category.selected {
  background-color: #ffe233; }

.easy-autocomplete.eac-dark-light input:hover,
.easy-autocomplete.eac-dark-light input:focus {
  border-color: #333;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(55, 55, 55, 0.6); }

.easy-autocomplete.eac-dark-light ul {
  border-color: #333;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(55, 55, 55, 0.6); }

.easy-autocomplete.eac-dark-light ul li,
.easy-autocomplete.eac-dark-light ul .eac-category {
  border-color: #333; }

.easy-autocomplete.eac-dark-light ul li.selected,
.easy-autocomplete.eac-dark-light ul .eac-category.selected {
  background-color: #4d4d4d;
  color: #fff; }

.easy-autocomplete.eac-dark {
  color: #fff; }

.easy-autocomplete.eac-dark input {
  background-color: #404040;
  border-radius: 4px;
  box-shadow: 0;
  color: #f6f6f6; }

.easy-autocomplete.eac-dark input:hover,
.easy-autocomplete.eac-dark input:focus {
  border-color: #333;
  box-shadow: 0; }

.easy-autocomplete.eac-dark ul {
  border-color: #333; }

.easy-autocomplete.eac-dark ul li,
.easy-autocomplete.eac-dark ul .eac-category {
  background-color: #404040;
  border-color: #333; }

.easy-autocomplete.eac-dark ul li.selected,
.easy-autocomplete.eac-dark ul .eac-category.selected {
  background-color: #737373;
  color: #f6f6f6; }

.easy-autocomplete.eac-dark-glass {
  color: #fff; }

.easy-autocomplete.eac-dark-glass input {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  box-shadow: 0;
  color: #f6f6f6; }

.easy-autocomplete.eac-dark-glass input:hover,
.easy-autocomplete.eac-dark-glass input:focus {
  border-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0; }

.easy-autocomplete.eac-dark-glass ul {
  border-color: rgba(0, 0, 0, 0.8); }

.easy-autocomplete.eac-dark-glass ul li,
.easy-autocomplete.eac-dark-glass ul .eac-category {
  background-color: rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 0, 0, 0.8); }

.easy-autocomplete.eac-dark-glass ul li.selected,
.easy-autocomplete.eac-dark-glass ul .eac-category.selected {
  background-color: rgba(64, 64, 64, 0.8);
  color: #f6f6f6; }

.easy-autocomplete.eac-dark-glass ul li:last-child,
.easy-autocomplete.eac-dark-glass ul .eac-category:last-child {
  border-radius: 0 0 4px 4px; }

.easy-autocomplete.eac-blue {
  color: #fff; }

.easy-autocomplete.eac-blue input {
  background-color: #6d9ed1;
  border-radius: 4px;
  box-shadow: 0;
  color: #f6f6f6; }

.easy-autocomplete.eac-blue input::-webkit-input-placeholder {
  color: #f6f6f6; }

.easy-autocomplete.eac-blue input:-moz-placeholder {
  color: #f6f6f6; }

.easy-autocomplete.eac-blue input::-moz-placeholder {
  color: #f6f6f6; }

.easy-autocomplete.eac-blue input:-ms-input-placeholder {
  color: #f6f6f6; }

.easy-autocomplete.eac-blue input:hover,
.easy-autocomplete.eac-blue input:focus {
  border-color: #5a91cb;
  box-shadow: 0; }

.easy-autocomplete.eac-blue ul {
  border-color: #5a91cb; }

.easy-autocomplete.eac-blue ul li,
.easy-autocomplete.eac-blue ul .eac-category {
  background-color: #6d9ed1;
  border-color: #5a91cb; }

.easy-autocomplete.eac-blue ul li.selected,
.easy-autocomplete.eac-blue ul .eac-category.selected {
  background-color: #94b8dd;
  color: #f6f6f6; }

.easy-autocomplete.eac-yellow {
  color: #333; }

.easy-autocomplete.eac-yellow input {
  background-color: #ffdb7e;
  border-color: #333;
  border-radius: 4px;
  box-shadow: 0;
  color: #333; }

.easy-autocomplete.eac-yellow input:hover,
.easy-autocomplete.eac-yellow input:focus {
  border-color: #333;
  box-shadow: 0; }

.easy-autocomplete.eac-yellow ul {
  border-color: #333; }

.easy-autocomplete.eac-yellow ul li,
.easy-autocomplete.eac-yellow ul .eac-category {
  background-color: #ffdb7e;
  border-color: #333; }

.easy-autocomplete.eac-yellow ul li.selected,
.easy-autocomplete.eac-yellow ul .eac-category.selected {
  background-color: #ffe9b1;
  color: #333; }

.easy-autocomplete.eac-purple {
  color: #333; }

.easy-autocomplete.eac-purple input {
  background-color: #d6d1e7;
  border-color: #b8afd5;
  box-shadow: 0;
  color: #333; }

.easy-autocomplete.eac-purple input:hover,
.easy-autocomplete.eac-purple input:focus {
  border-color: #333;
  box-shadow: 0; }

.easy-autocomplete.eac-purple ul {
  border-color: #333; }

.easy-autocomplete.eac-purple ul li,
.easy-autocomplete.eac-purple ul .eac-category {
  background-color: #d6d1e7;
  border-color: #333; }

.easy-autocomplete.eac-purple ul li.selected,
.easy-autocomplete.eac-purple ul .eac-category.selected {
  background-color: #ebe8f3;
  color: #333; }

.easy-autocomplete.eac-bootstrap input {
  border-color: #ccc;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: #555;
  padding: 6px 12px; }

.easy-autocomplete-container {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 96%;
  transform: translateX(-50%);
  z-index: 2; }

.easy-autocomplete-container ul {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  background: none repeat scroll 0 0 #ffffff;
  display: none;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  position: relative;
  top: -1px;
  border: none !important; }

.easy-autocomplete-container ul li,
.easy-autocomplete-container ul .eac-category {
  background: inherit;
  border-color: #ccc;
  border-image: none;
  border-style: solid;
  border-width: 0 1px;
  display: block;
  font-size: 1.75rem;
  font-weight: normal;
  border: none !important;
  padding: 1.4rem 4rem;
  z-index: 100; }

.easy-autocomplete-container ul li:last-child {
  border-radius: 0 0 2px 2px;
  border-width: 0 1px 1px;
  border: none !important; }

.easy-autocomplete-container ul li.selected {
  background: none repeat scroll 0 0 #ebebeb;
  cursor: pointer; }

.easy-autocomplete-container ul li.selected div {
  font-weight: normal; }

.easy-autocomplete-container ul li div {
  display: block;
  font-weight: normal;
  word-break: break-all; }

.easy-autocomplete-container ul li b {
  font-weight: bold; }

.easy-autocomplete-container ul .eac-category {
  font-color: #aaa;
  font-style: italic; }

.eac-description .eac-item span {
  color: #aaa;
  font-style: italic;
  font-size: 0.9em; }

.eac-icon-left .eac-item img {
  margin-right: 4px;
  max-height: 30px; }

.eac-icon-right .eac-item {
  margin-top: 8px;
  min-height: 24px;
  position: relative; }

.eac-icon-right .eac-item img {
  margin-left: 4px;
  max-height: 30px;
  position: absolute;
  right: -4px;
  top: -8px; }

.search-bar {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .search-bar {
      flex-direction: column; } }

@media only screen and (max-width: 37.5em) {
  .search-bar .button, .search-bar .header-campaign__button {
    margin-top: 3rem; } }

.search-bar__container {
  position: relative;
  flex: 0 0 80%;
  padding: 1rem 2rem;
  background-color: #fff;
  border-radius: 5rem;
  margin-right: 2rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between; }
  @media only screen and (max-width: 37.5em) {
    .search-bar__container {
      flex: unset;
      flex-direction: column;
      background-color: transparent;
      padding: 0;
      margin-right: 0;
      justify-content: flex-start; } }

.search-bar__input, .search-bar__select {
  flex: 1;
  border: 0;
  background-color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #505050;
  font-size: 1.5rem;
  padding: 0.75rem 0;
  text-align: left;
  padding-left: 1.5rem;
  outline: none;
  font-family: 'Raleway', sans-serif; }
  @media only screen and (max-width: 37.5em) {
    .search-bar__input, .search-bar__select {
      flex: unset;
      border: none;
      padding: 1.8rem 3.5rem;
      border-radius: 10rem;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
      border-radius: 5rem; } }

@media only screen and (max-width: 37.5em) {
  .search-bar__select {
    background: #fff url(/img/dropdown-arrow.png) 94% center/2rem no-repeat; } }

.search-bar__input {
  padding-left: 4rem;
  background-image: url(/img/servico-escolha-ingles.png);
  background-size: 1.75rem;
  background-position: 0.7rem 50%;
  background-repeat: no-repeat;
  font-size: 1.75rem; }
  @media only screen and (max-width: 37.5em) {
    .search-bar__input {
      padding-left: 5rem;
      background-position: 2rem 50%; } }

.button, .header-campaign__button, .button:link, .header-campaign__button:link, .button:visited, .header-campaign__button:visited, .button:focus, .header-campaign__button:focus {
  color: #fff;
  background-color: #ff8008;
  border: 2px solid #ff8008;
  transition: 0.3s all;
  border-radius: 5rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.75rem 0;
  font-family: 'Raleway', sans-serif;
  appearance: none;
  -webkit-appearance: none; }

.button:hover, .header-campaign__button:hover {
  background-color: transparent;
  color: #ff8008; }

.button--black, .button--black:link, .button--black:visited, .button--black:active, .button--black:focus {
  background-color: #000;
  border: 2px solid #000; }
  .button--black:hover, .button--black:link:hover, .button--black:visited:hover, .button--black:active:hover, .button--black:focus:hover {
    color: #000;
    background-color: transparent; }

.button--s, .button--s:link, .button--s:visited, .button--s:active, .button--s:focus {
  padding: 0.5rem 0;
  font-size: 1.75rem; }

@media only screen and (max-width: 37.5em) {
  .button--search {
    font-size: 2.2rem;
    padding: 1.4rem 0;
    border-radius: 5rem; } }

.text-button {
  text-decoration: underline;
  color: #ff8008;
  cursor: pointer;
  display: inline-block; }

.header-campaign {
  height: 60rem;
  position: relative;
  background: url(/img/landing-header.jpg) center center/cover no-repeat; }
  @media only screen and (max-width: 56.25em) {
    .header-campaign {
      height: auto; 
    } 
  }

  .header-campaign-estudos {
    height: 55rem;
    position: relative;
    background: url(/img/header-estudos-inicio.png) no-repeat;
    background-size: 100% 100%;
  }
  /* css landing page de brasilia-1 e sao-paulo */
  .header-campaign-sp-bsb {
    height: 60rem;
    position: relative;
    background: url(/img/header-volta-as-aulas1240.png) center center/cover no-repeat;
  }
  @media only screen and (min-width: 550px) and (max-width: 900px) {
    .header-campaign-sp-bsb {
      background: url(/img/header-volta-as-aulas600.png) center center/cover no-repeat;
      height: 130rem;
    } 
  }
  @media only screen and (min-width: 440px) and (max-width: 549px) {
    .header-campaign-sp-bsb {
      background: url(/img/header-volta-as-aulas600.png) center center/cover no-repeat;
      height: 920px;
      width: auto; 
    } 
    .steps {
      margin-top: 40px;
    }
  }
  @media only screen and  (max-width: 439px) {
    .header-campaign-sp-bsb {
      background: url(/img/header-volta-as-aulas600.png) center center/cover no-repeat;
      height: 714px;
      width: auto; 
    } 
    .steps {
      margin-top: 230px;
    }
  }
  /* fim css landing page brasilia-1 e sao-paulo */

.header-campaign--pedagoga {
  background: url(/img/landing-header-pedagoga.jpg) center center/cover no-repeat;
}

.header-campaign--online {
  height: 70rem;
  background: url(/img/landing-header-online.jpg) center center/cover no-repeat;
}

.header-campaign--ebook {
  height: 65rem;
  background: url(/img/landing-header-ebook2.png);
  background-repeat: round;
}

.landing-campanha--online .header-campaign--online, .landing-campanha--ebook .header-campaign--ebook {
  margin-top: 9.3rem;
}

.header-campaign--empresas-rappi {
  height: unset;
  background: url(/img/landing-header-empresas-rappi.jpg) center center/cover no-repeat; }

.header-campaign__content {
  height: 48rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-right: 5rem; }

.header-campaign--empresas .header-campaign__content {
  align-items: center;
  text-align: center;
  height: unset;
  padding-right: 0; }

.header-campaign--acompanhamento {
  height: 80vh;
  border-bottom-left-radius: 20rem;
  background: url(/img/acompanhamento-bg.png) center center/cover no-repeat; }
  @media only screen and (max-width: 37.5em) {
    .header-campaign--acompanhamento {
      height: 100vh;
      background-position-x: 75%; } }

.header-campaign--acompanhamento .header-campaign__content {
  height: 80vh; }
  @media only screen and (max-width: 37.5em) {
    .header-campaign--acompanhamento .header-campaign__content {
      height: 100vh; } }

.header-campaign__button {
  width: 40rem !important; }
  @media only screen and (max-width: 37.5em) {
    .header-campaign__button {
      width: 30rem !important; } }

@keyframes scaleAnimation {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes colorAnimation {
  0% {
    border-color: initial; }
  50% {
    border-color: #ff8008; }
  100% {
    border-color: initial; } }

.form-campaign {
  border-radius: 0.3rem;
  background-color: #fff;
  padding: 3rem;
  color: #000;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 5rem;
  z-index: 2; 
}

.form-campaign--online, .form-campaign--ebook {
  border-radius: 16px;
}

.form-campaign--online .form-campaign__title, .form-campaign--ebook .form-campaign__title {
  color: #7B7B7B;
}

.form-campaign--online .form-campaign__label, .form-campaign--ebook .form-campaign__label {
  color: #FF8008;
  font-size: 1.5rem;
}

.form-campaign--online .form-campaign__teacher-application, .form-campaign--ebook .form-campaign__teacher-application {
  display: block;
  margin-top: 7px;
  text-align: center;
  text-decoration-line: underline;
  color: #FF8008;
  font-weight: 600;
}

  @media only screen and (max-width: 37.5em) {
    .form-campaign {
      top: 2.5rem;
      padding: 2rem;
      margin-left: -1.5rem;
      margin-right: -1.5rem; } }

.form-campaign--highlight {
  animation: scaleAnimation 525ms ease-out 500ms 1; }

.form-campaign--highlight .form-campaign__input {
  animation: colorAnimation 525ms ease-out 500ms 1; }

.form-campaign__title {
  font-weight: 700;
  font-size: 2.1rem;
  margin-bottom: 2rem;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .form-campaign__title {
      font-size: 2.4rem; } }

.form-campaign__title--highlight {
  color: #ff8008;
  font-size: 3.2rem;
  text-transform: uppercase; }

.landing-campanha--ebook .form-campaign__title--highlight {
  font-size: unset;
  text-transform: unset;
}

.form-campaign__subtitle {
  font-size: 1.8rem; }

.form-campaign__label {
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
  margin-bottom: 0.5rem; }
  @media only screen and (max-width: 37.5em) {
    .form-campaign__label {
      font-size: 1.7rem; } }

.form-campaign__input {
  display: block;
  width: 100%;
  border: 1px solid #a0a0a0;
  border-radius: 2rem;
  outline: none;
  transition: 0.3s all;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
}

.form-campaign--online .form-campaign__input, .form-campaign--ebook .form-campaign__input {
  background-color: #F0F0F0;
}

  .form-campaign__input:focus {
    border-color: #ff8008; }
  @media only screen and (max-width: 37.5em) {
    .form-campaign__input {
      font-size: 1.9rem; } }

.product-card {
  min-height: 25rem;
  color: #fff;
  padding: 2rem;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  transition: 0.3s all;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-position: center;
  background-size: cover; }

.product-card--pacote {
  background-image: url(/img/landing-pacote-card.jpg); }

.product-card--avulso {
  background-image: url(/img/landing-avulso-card.jpg); }

.product-card--pedagoga-1 {
  background-image: url(/img/pedagoga-1.jpg); }

.product-card--pedagoga-2 {
  background-image: url(/img/pedagoga-2.jpg); }

.product-card--pedagoga-3 {
  background-image: url(/img/pedagoga-3.jpg); }

.product-card--empresas-1 {
  background-image: url(/img/empresas-1.png); }

.product-card--empresas-2 {
  background-image: url(/img/empresas-2.png); }

.about-colmeia--title {
  margin-top: 60px;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #FF8008;
  font-weight: 900;
  font-style: italic;
  font-size: 3.4rem;
}

.about-colmeia .product-card--online-1 {
  background: #EA5B1F;
}

.about-colmeia .product-card--online-2 {
  background: #F8B238;
}

.about-colmeia .product-card--online-3 {
  background: #AA705B;
}

.product-card:hover {
  transform: scale(1.05); }

.product-card__label {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 1rem; }

.product-card__title {
  text-transform: uppercase;
  text-transform: uppercase;
  font-size: 2.2rem;
  line-height: 1.5;
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
.product-card__title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 8rem;
  background-color: #fff; 
}

.about-colmeia .product-card__title {
  padding-bottom: unset;
  margin-bottom: unset;
  font-size: 3.4rem;
  color: rgba(247, 247, 247, 0.5);
}

.about-colmeia .product-card__title::before {
  content: none;
}

.product-card__subtitle {
  font-size: 1.4rem;
  margin-bottom: 2.5rem; 
}

.about-colmeia .product-card__subtitle {
  font-size: 1.5rem;
  color: #FCFCFC;
}

@media only screen and (max-width: 767px) {
  .about-colmeia__content .card {
    margin: 6% 0!important;
  }

  .about-colmeia .product-card__subtitle {
    font-size: 2rem;
  }

}

.product-card__button {
  align-self: flex-end;
  display: inline-block;
  background-color: #ff8008;
  color: #fff;
  border: 2px solid #ff8008;
  transition: 0.3s all;
  border-radius: 5rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.75rem 3rem;
  font-family: 'Raleway', sans-serif;
  appearance: none;
  -webkit-appearance: none; }

.product-card__button:hover {
  transform: scale(1.03); }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  background-image: url(/img/ImagemINICIAL.png);
  background-size: cover;
  z-index: 9999999; }
  @media only screen and (max-width: 37.5em) {
    .overlay {
      text-align: center; } }

.overlay__content {
  /* margin-top: 200px; */
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%); }
  @media only screen and (max-width: 37.5em) {
    .overlay__content {
      left: 0; } }

.overlay__image {
  max-width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .overlay__image {
      width: 250px; } }

.overlay__title {
  font-size: 26px;
  margin-top: 40px;
  margin-bottom: 100px; }

.overlay__button, .overlay__button:link, .overlay__button:active, .overlay__button:visited {
  display: inline-block;
  padding: 15px 60px;
  border-radius: 40px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s all; }
  @media only screen and (max-width: 37.5em) {
    .overlay__button, .overlay__button:link, .overlay__button:active, .overlay__button:visited {
      width: 100%; } }

.overlay__button--orange {
  background-color: #ff8008;
  border: 2px solid #ff8008; }
  @media only screen and (max-width: 56.25em) {
    .overlay__button--orange {
      margin-bottom: 25px; } }

.overlay__button--orange:hover {
  color: #ff8008;
  background-color: #fff; }

.overlay__button--black {
  background-color: #303030;
  border: 2px solid #303030; }

.overlay__button--black:hover {
  color: #303030;
  background-color: #fff; }

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  z-index: 999; }
  @media only screen and (max-width: 37.5em) {
    .whatsapp {
      width: 100%;
      padding-left: 40px; } }

.whatsapp__title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 20px; }

.whatsapp__label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  display: block; }

.whatsapp__icon {
  background-color: #25d366;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  color: #fff;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.16);
  transition: 0.3s all;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; }

.whatsapp__icon:hover {
  transform: scale(1.05); }

.whatsapp__container {
  background-color: #fff;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.16);
  padding: 20px 30px;
  border-radius: 20px;
  transition: 0.3s all;
  position: relative;
  margin-bottom: 35px;
  width: 400px;
  max-width: 100%; }

.whatsapp__container::before {
  position: absolute;
  content: '';
  bottom: -10px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  transform: rotate(45deg);
  z-index: -1; }

.whatsapp__form {
  display: block; }

.whatsapp__input {
  display: block;
  width: 100%;
  border-radius: 25px;
  border: 1px solid gray;
  outline: none;
  margin-bottom: 15px;
  padding: 12px;
  padding-left: 20px; }

.whatsapp__checkbox {
  display: none; }

.whatsapp__checkbox:checked ~ .whatsapp__container {
  display: block; }

.whatsapp__checkbox:not(:checked) ~ .whatsapp__container {
  display: none; }

.whatsapp__button {
  background-color: #25d366;
  border: 2px solid #fff;
  color: #fff;
  outline: none;
  border-radius: 25px;
  transition: 0.3s all;
  display: block;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  text-align: center; }

.whatsapp__button:hover {
  background-color: #fff;
  border: 2px solid #25d366;
  color: #25d366; }

.modal {
  margin: 0 auto;
  position: relative; }
  .modal__content, .modal__backdrop {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: opacity 0.2s ease-in; }
  @media only screen and (max-width: 37.5em) {
    .modal__content {
      overflow: scroll; } }
  .modal__close {
    color: #aaa;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    padding-top: 0.3rem;
    background: #fff;
    font-size: 1.6rem;
    width: 2.5rem;
    height: 2.5rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer; }
    .modal__close:hover {
      color: #000; }
  .modal #modal-toggle {
    display: none; }
    .modal #modal-toggle.active ~ .modal__backdrop,
    .modal #modal-toggle:checked ~ .modal__backdrop {
      background-color: rgba(0, 0, 0, 0.6);
      width: 100vw;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 9;
      visibility: visible;
      opacity: 1;
      transition: opacity 0.2s ease-in; }
    .modal #modal-toggle.active ~ .modal__content,
    .modal #modal-toggle:checked ~ .modal__content {
      opacity: 1;
      background-color: #fff;
      width: 80rem;
      min-height: 55rem;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      top: 12%;
      border-radius: 0.5rem;
      z-index: 99999;
      pointer-events: auto;
      cursor: auto;
      visibility: visible;
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6); }
      @media only screen and (max-width: 37.5em) {
        .modal #modal-toggle.active ~ .modal__content,
        .modal #modal-toggle:checked ~ .modal__content {
          width: 90%;
          min-height: 60rem;
          margin-left: auto;
          margin-right: auto; } }

.footer {
  background-color: #ff8008;
  color: #fff; }

.footer__logo {
  display: block;
  width: 20rem;
  max-width: 100%;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .footer__logo {
      width: 25rem;
      margin-bottom: 5rem; } }

.footer__whatsapp {
  width: 2rem;
  display: inline-block;
  vertical-align: middle; }

.footer__p {
  font-size: 1.3rem;
  margin-bottom: 0.25rem; }

.footer__link, .footer__link:link, .footer__link:visited {
  color: #fff;
  display: block;
  font-size: 1.5rem;
  transition: 0.3s all;
  position: relative;
  display: block;
  margin-bottom: 0.25rem; }

.footer__link:hover {
  text-decoration: underline; }

.footer__hr {
  height: 1px;
  background-color: #fff;
  margin: 2rem 0; }

.footer__bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  @media only screen and (max-width: 37.5em) {
    .footer__bottom {
      flex-direction: column; } }

.footer-simple {
  color: #fff;
  background-color: #ff8008; }
  .footer-simple__content {
    font-size: 2rem;
    padding: 2.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.footer-simple__content .middle {
  display: flex;
  justify-content: center;
  width: 70%;
}

.footer-simple__content .middle .footer-simple__text {
  margin: 0.5% 4%;
}

.footer-simple__content .right {
  display: flex;
}

.footer-simple__content .right a {
  margin: 0 10%;
}

.footer-simple__content .share__button {
  width: 30px;
  height: 30px;
}

.footer-simple__content .right .share-instagram {
  background: url(/img/transparent-instagram.png) #fff;
}

.footer-simple__content .right .share-facebook {
  background-image: url(/img/transparent-facebook.png);
}

.footer-simple__content .right .share-linkedin {
  background-image: url(/img/transparent-linkedin.png);
}

    @media only screen and (max-width: 37.5em) {
      .footer-simple__content {
        flex-direction: column; } }
  .footer-simple__logo {
    height: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .footer-simple__logo {
        margin-bottom: 5rem; } }

    section.campaign-estudos+.footer-simple .footer-simple__text {
      padding-right: 63px;
    }

  .footer-simple__text, .footer-simple__text:link, .footer-simple__text:visited, .footer-simple__text:active {
    color: #fff;
    display: block;
    text-decoration: none; }
  .footer-simple__text:hover {
    text-decoration: underline; }

.container {
  max-width: 112rem;
  margin-left: auto;
  margin-right: auto; 
}
@media only screen and (max-width: 78.125em) {
  .container {
    padding-left: 5rem;
    padding-right: 5rem; 
  } 
}
@media only screen and (max-width: 37.5em) {
  .calculadora-page .header__bg .container {
    padding-left: unset;
    padding-right: unset;
  }

  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem; 
  } 
}

@media only screen and (max-width: 350px) {
  .calculadora-page .header__subtitle {
    font-size: 2.1rem!important;
  }

  .calculadora-page .header__title {
    font-size: 5rem!important;
  }
}

.container--fluid {
  max-width: 100%; 
}
.container--m {
  max-width: 90rem; 
}
.container--s {
  max-width: 75rem; 
}
.container--xs {
  max-width: 60rem; 
}
.container--left {
  margin-left: unset;
  margin-right: unset; 
}

.grid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap; }
  @media only screen and (max-width: 56.25em) {
    .grid {
      flex-direction: column;
      align-items: stretch; } }

.grid--sb {
  justify-content: space-between; }

.grid--center {
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .grid--center {
      align-items: stretch; } }

.grid--pad-0 .col:not(:last-child),
.grid--pad-0 [class^='col-']:not(:last-child) {
  margin-right: 0; }
  @media only screen and (max-width: 56.25em) {
    .grid--pad-0 .col:not(:last-child),
    .grid--pad-0 [class^='col-']:not(:last-child) {
      flex: 1;
      margin-right: 0;
      margin-bottom: 4rem; } }

.grid--pad-xs .col:not(:last-child),
.grid--pad-xs [class^='col-']:not(:last-child) {
  margin-right: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .grid--pad-xs .col:not(:last-child),
    .grid--pad-xs [class^='col-']:not(:last-child) {
      flex: 1;
      margin-right: 0;
      margin-bottom: 4rem; } }

.grid--pad-s .col:not(:last-child),
.grid--pad-s [class^='col-']:not(:last-child) {
  margin-right: 6rem; }
  @media only screen and (max-width: 56.25em) {
    .grid--pad-s .col:not(:last-child),
    .grid--pad-s [class^='col-']:not(:last-child) {
      flex: 1;
      margin-right: 0;
      margin-bottom: 4rem; } }

.grid--pad-m .col:not(:last-child),
.grid--pad-m [class^='col-']:not(:last-child) {
  margin-right: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .grid--pad-m .col:not(:last-child),
    .grid--pad-m [class^='col-']:not(:last-child) {
      flex: 1;
      margin-right: 0;
      margin-bottom: 4rem; } }

.grid--pad-l .col:not(:last-child),
.grid--pad-l [class^='col-']:not(:last-child) {
  margin-right: 0rem; }
  @media only screen and (max-width: 56.25em) {
    .grid--pad-l .col:not(:last-child),
    .grid--pad-l [class^='col-']:not(:last-child) {
      flex: 1;
      margin-right: 0;
      margin-bottom: 4rem; } }

.grid .col {
  flex: 1;
  flex-shrink: 0; }

.grid .col-1 {
  flex: 1;
  flex-shrink: 0; }
  @media only screen and (max-width: 56.25em) {
    .grid .col-1 {
      flex: 1; } }

.grid .col-2 {
  flex: 2;
  flex-shrink: 0; }
  @media only screen and (max-width: 56.25em) {
    .grid .col-2 {
      flex: 1; } }

.grid .col-3 {
  flex: 3;
  flex-shrink: 0; }
  @media only screen and (max-width: 56.25em) {
    .grid .col-3 {
      flex: 1; } }

.grid .col-4 {
  flex: 4;
  flex-shrink: 0; }
  @media only screen and (max-width: 56.25em) {
    .grid .col-4 {
      flex: 1; } }

.grid .col-5 {
  flex: 5;
  flex-shrink: 0; }
  @media only screen and (max-width: 56.25em) {
    .grid .col-5 {
      flex: 1; } }

.grid .col-6 {
  flex: 6;
  flex-shrink: 0; }
  @media only screen and (max-width: 56.25em) {
    .grid .col-6 {
      flex: 1; } }

.grid .col-7 {
  flex: 7;
  flex-shrink: 0; }
  @media only screen and (max-width: 56.25em) {
    .grid .col-7 {
      flex: 1; } }

.grid .col-8 {
  flex: 8;
  flex-shrink: 0; }
  @media only screen and (max-width: 56.25em) {
    .grid .col-8 {
      flex: 1; } }

.grid .col-9 {
  flex: 9;
  flex-shrink: 0; }
  @media only screen and (max-width: 56.25em) {
    .grid .col-9 {
      flex: 1; } }

.grid .col-10 {
  flex: 10;
  flex-shrink: 0; }
  @media only screen and (max-width: 56.25em) {
    .grid .col-10 {
      flex: 1; } }

.grid .col-11 {
  flex: 11;
  flex-shrink: 0; }
  @media only screen and (max-width: 56.25em) {
    .grid .col-11 {
      flex: 1; } }

.grid .col-12 {
  flex: 12;
  flex-shrink: 0; }
  @media only screen and (max-width: 56.25em) {
    .grid .col-12 {
      flex: 1; } }

.navbar {
  position: fixed;
  width: 100%;
  z-index: 99999;
  background-color: transparent;
  color: #fff;
  transition: 0.2s all; }
  @media only screen and (max-width: 56.25em) {
    .navbar {
      background-color: #fff;
      color: #000;
      box-shadow: none; } }

.navbar--orange {
  color: #ff8008; }

.navbar--orange .navbar__logo-img {
  content: url(/img/colmeia-notification.png); }

.navbar__logo-img {
  height: 3.5rem;
  margin-right: 2rem;
  content: url(/img/logo-branca.png); }
  @media only screen and (max-width: 56.25em) {
    .navbar__logo-img {
      content: url(/img/logo-orange.png); } }

.navbar__toggle {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 3.8rem;
  height: 2.8rem; }
  .navbar__toggle > div {
    height: 3px;
    border-radius: 3px;
    width: 100%;
    background-color: #ff8008;
    transition: 0.2s all;
    transform-origin: left; }
  @media only screen and (max-width: 56.25em) {
    .navbar__toggle {
      display: flex; } }

.navbar__checkbox, .navbar__dropdown-checkbox {
  display: none;
  appearance: none; }

.navbar__checkbox:checked + .navbar__toggle > div:nth-of-type(1) {
  transform: translateY(-1px) rotate(45deg); }

.navbar__checkbox:checked + .navbar__toggle > div:nth-of-type(2) {
  opacity: 0; }

.navbar__checkbox:checked + .navbar__toggle > div:nth-of-type(3) {
  transform: translateY(1px) rotate(-45deg); }

.navbar--active {
  background-color: #fff;
  color: #000;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16); }

.navbar--active .navbar__content {
  height: 7rem; }

.navbar--active .navbar__logo-img {
  content: url(/img/logo-cinza.png); }
  @media only screen and (max-width: 56.25em) {
    .navbar--active .navbar__logo-img {
      content: url(/img/logo-orange.png); } }

.navbar__content {
  height: 10rem;
  max-width: 112rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.2s all; }
  @media only screen and (max-width: 78.125em) {
    .navbar__content {
      padding-left: 5rem;
      padding-right: 5rem; } }
  @media only screen and (max-width: 56.25em) {
    .navbar__content {
      height: 7rem;
      justify-content: space-between;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
      border-bottom: 0.2rem solid #ff8008; } }
  @media only screen and (max-width: 37.5em) {
    .navbar__content {
      padding-left: 2.5rem;
      padding-right: 2.5rem; } }

.navbar__links {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap; }
  @media only screen and (max-width: 56.25em) {
    .navbar__links {
      position: absolute;
      top: 7rem;
      right: 0;
      box-shadow: 0px 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.2);
      flex-direction: column;
      width: 75%;
      transition: 0.5s all;
      transform: translateX(140%);
      height: 100vh;
      color: #fff;
      background-color: #ff8008; } }

@media only screen and (max-width: 56.25em) {
  .navbar__checkbox:checked ~ .navbar__links {
    transform: translateX(0); } }

.navbar__link, .navbar__link:active, .navbar__link:link, .navbar__link:focus, .navbar__link:visited {
  color: inherit;
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  position: relative;
  transition: none;
  margin-right: 1.5rem; }
  .navbar__link:not(.navbar__link-login), .navbar__link:active:not(.navbar__link-login), .navbar__link:link:not(.navbar__link-login), .navbar__link:focus:not(.navbar__link-login), .navbar__link:visited:not(.navbar__link-login) {
    margin-left: 1.5rem; }
    @media only screen and (max-width: 56.25em) {
      .navbar__link:not(.navbar__link-login), .navbar__link:active:not(.navbar__link-login), .navbar__link:link:not(.navbar__link-login), .navbar__link:focus:not(.navbar__link-login), .navbar__link:visited:not(.navbar__link-login) {
        margin-left: 0; } }
  @media only screen and (max-width: 56.25em) {
    .navbar__link, .navbar__link:active, .navbar__link:link, .navbar__link:focus, .navbar__link:visited {
      font-size: 2rem;
      padding: 2.5rem;
      width: 100%;
      font-weight: 700;
      text-transform: unset;
      margin: 0;
      padding: 1.5rem 2.5rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.25); } }
  .navbar__link:not(:last-child), .navbar__link:active:not(:last-child), .navbar__link:link:not(:last-child), .navbar__link:focus:not(:last-child), .navbar__link:visited:not(:last-child) {
    margin-right: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .navbar__link:not(:last-child), .navbar__link:active:not(:last-child), .navbar__link:link:not(:last-child), .navbar__link:focus:not(:last-child), .navbar__link:visited:not(:last-child) {
        margin-right: 0; } }
  .navbar__link::before, .navbar__link:active::before, .navbar__link:link::before, .navbar__link:focus::before, .navbar__link:visited::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform-origin: left;
    transform: scaleX(0);
    background-color: currentColor;
    transition: 0.2s all; }
  .navbar__link:hover::before, .navbar__link:active:hover::before, .navbar__link:link:hover::before, .navbar__link:focus:hover::before, .navbar__link:visited:hover::before {
    transform: scaleX(1); }
    @media only screen and (max-width: 56.25em) {
      .navbar__link:hover::before, .navbar__link:active:hover::before, .navbar__link:link:hover::before, .navbar__link:focus:hover::before, .navbar__link:visited:hover::before {
        transform: scaleX(0); } }
  @media only screen and (max-width: 56.25em) {
    .navbar__link:hover, .navbar__link:active:hover, .navbar__link:link:hover, .navbar__link:focus:hover, .navbar__link:visited:hover {
      background-color: #fff;
      color: #ff8008; } }

.navbar__link-login {
  cursor: pointer;
  margin-left: auto; }
  @media only screen and (max-width: 56.25em) {
    .navbar__link-login {
      margin-left: 0; } }

.navbar__logo-link {
  display: flex;
  align-items: center;
  justify-content: center; }

.navbar__dropdown-links {
  display: none;
  width: 25rem;
  position: absolute;
  right: 10rem;
  top: 7rem;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column; }
  @media only screen and (max-width: 56.25em) {
    .navbar__dropdown-links {
      position: initial;
      display: flex;
      width: 100%;
      height: auto;
      border: 0;
      background-color: unset;
      box-shadow: none; } }

.navbar__dropdown-link, .navbar__dropdown-link:active, .navbar__dropdown-link:link, .navbar__dropdown-link:focus, .navbar__dropdown-link:visited {
  color: #000;
  font-size: 1.5rem;
  padding: 0.9rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s all; }
  .navbar__dropdown-link:hover, .navbar__dropdown-link:active:hover, .navbar__dropdown-link:link:hover, .navbar__dropdown-link:focus:hover, .navbar__dropdown-link:visited:hover {
    background-color: #eee; }
    @media only screen and (max-width: 56.25em) {
      .navbar__dropdown-link:hover, .navbar__dropdown-link:active:hover, .navbar__dropdown-link:link:hover, .navbar__dropdown-link:focus:hover, .navbar__dropdown-link:visited:hover {
        background-color: #fff;
        color: #ff8008; } }
  @media only screen and (max-width: 56.25em) {
    .navbar__dropdown-link, .navbar__dropdown-link:active, .navbar__dropdown-link:link, .navbar__dropdown-link:focus, .navbar__dropdown-link:visited {
      color: #fff;
      position: relative;
      transition: none;
      margin-right: 1.5rem;
      font-size: 2rem;
      padding: 1.5rem 2.5rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      font-weight: 700;
      margin: 0; } }

.navbar__dropdown-img {
  width: 2.3rem; }
  @media only screen and (max-width: 56.25em) {
    .navbar__dropdown-img {
      display: none; } }

.navbar__dropdown-toggle:hover::before {
  content: unset; }

@media only screen and (max-width: 56.25em) {
  .navbar__dropdown-toggle {
    display: none; } }

.navbar__dropdown-checkbox:checked ~ .navbar__dropdown-links {
  display: flex; }

.navbar-static {
  background-color: #fff;
  color: #ff8008;
  border-bottom: 2px solid #f7f7f7; 
}

.landing-campanha--online .navbar-static, .landing-campanha--ebook .navbar-static {
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
}

.navbar-static__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.navbar-static__right .btn-green, .navbar-static__right .btn-orange {
  width: 200px;
  border-radius: 8px;
  height: 50px;
  transition: 0.3s all;
}

.navbar-static__right .btn-orange {
  color: #ff8008;
  border: 3px solid #ff8008;
}

.navbar-static__right .btn-green {
  color: #4CBD27;
  border: 3px solid #4CBD27;
}

.navbar-static__right .btn-orange:hover, .navbar-static__right .btn-green:hover {
  color: #fff;
}

.navbar-static__right .btn-orange:hover {
  background: #ff8008;
}

.navbar-static__right .btn-green:hover {
  background: #4CBD27;
}

.navbar-static__right .btn-orange span, .navbar-static__right .btn-green span {
  line-height: 32px;
  font-size: 18px;
  font-weight: 500;
}

.navbar-static__right .call-text {
  display: none;
  color: #ff8008;
}

@media only screen and (max-width: 439px) {
  .navbar-static__right {
    margin-right: -13px;
  }
  
  .navbar-static__right .call-text {
    display: block;
    font-size: 1.2rem;
  }
  
  .navbar-static__right .call-text + a {
    font-size: 2.1rem;
  }
}

.navbar-static__right, .navbar-static__right:link, .navbar-static__right:active, .navbar-static__right:visited {
  font-size: 2.5rem;
  font-weight: 700;
  display: block;
  color: #ff8008;
  cursor: pointer; }

@media only screen and (max-width: 37.5em) {
  .navbar-static--rappi .navbar-static__right {
    font-size: 1.8rem; } }

.navbar-static__logo-img {
  height: 3rem; }
  .navbar-static__logo-img--rappi-logo {
    height: 6rem; }

@media only screen and (max-width: 37.5em) {
  .navbar-static--rappi .navbar-static__logo-img {
    height: 2.5rem; } }

@media only screen and (max-width: 37.5em) {
  .navbar-static--rappi .navbar-static__logo-img--rappi-logo {
    height: 5rem;
  }

  .navbar-static__right .call-text {
    display: block;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 439px) {
  .navbar-static__right {
    margin-right: -13px;
  }
  
  .navbar-static__right .call-text {
    display: block;
    font-size: 1.2rem;
  }
  
  .navbar-static__right .call-text + a {
    font-size: 2.1rem;
  }
}

.navbar-static__logo-link {
  display: flex;
  align-items: center;
  justify-content: center; }

.agendamento .navbar-static .navbar-static__right {
  font-size: 1.9rem; }

.agendamento .navbar-static .navbar-static__logo-img {
  height: 2.5rem; }

.steps {
  background-color: #f8be7f; }

.steps__content {
  border-bottom-left-radius: 20rem;
  background-color: #fff; }

.steps--no-br .steps__content {
  border-bottom-left-radius: 0; }

.steps__block {
  position: relative;
  z-index: 1; }

.steps__number {
  position: absolute;
  top: -1.5rem;
  left: 0;
  font-size: 6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #faefd5;
  z-index: -1; }
  @media only screen and (max-width: 37.5em) {
    .steps__number {
      font-size: 8rem;
      top: -4rem; } }

.advantage {
  background-color: #f8be7f;
  color: #505050;
  height: 35rem;
  margin-bottom: 20rem;
  padding-top: 3rem;
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 37.5em) {
    .advantage {
      margin-bottom: 0rem;
      padding-bottom: 3rem;
      height: auto; } }

.advantage::before {
  z-index: -1;
  content: '';
  background: url(/img/down-arrow.png) center 12px/18px no-repeat;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -2.5rem;
  width: 5rem;
  height: 5rem;
  color: #fff;
  background-color: #f8be7f;
  border-radius: 100px; }

.advantage__card {
  background-color: #fff;
  width: 80rem;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 56.25em) {
    .advantage__card {
      flex-direction: column; } }

.advantage--pedagoga {
  margin-bottom: 0;
  padding-bottom: 35rem; }
  @media only screen and (max-width: 37.5em) {
    .advantage--pedagoga {
      height: auto;
      padding-bottom: 2rem; } }

.advantage--empresas {
  margin-bottom: 0;
  padding-bottom: 40rem; }
  @media only screen and (max-width: 37.5em) {
    .advantage--empresas {
      padding-bottom: 2rem; } }

.advantage--campaign .advantage__left {
  background: url(/img/campanha-vantagens.jpg) center center/cover no-repeat; }

.advantage--acompanhamento .advantage__left {
  background: url(/img/advantage-acompanhamento.png) center center/cover no-repeat; }

.advantage--pedagoga .advantage__left {
  background: url(/img/vantagem-pedagoga.png) center center/cover no-repeat; }

.advantage--empresas .advantage__left {
  background: url(/img/vantagem-empresas.png) center center/cover no-repeat; }

.advantage__left {
  flex: 3;
  flex-shrink: 0;
  background: url(/img/advantage.png) center center/cover no-repeat;
  position: relative; }
  .advantage__left::before {
    content: url(/img/colmeia_branco.svg);
    display: block;
    position: absolute;
    width: 5rem;
    height: 5rem;
    left: 1rem;
    bottom: 0.5rem; }
    @media only screen and (max-width: 56.25em) {
      .advantage__left::before {
        content: none; } }

.advantage__right {
  flex-grow: 0;
  flex: 5;
  padding: 3rem 4rem; }
  @media only screen and (max-width: 37.5em) {
    .advantage__right {
      text-align: center; } }

.advantage__block {
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .advantage__block:not(:last-child) {
    margin-bottom: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .advantage__block {
      flex-direction: column;
      align-items: center; } }

.advantage__block-content {
  display: flex;
  flex-direction: column; }

.advantage__img {
  width: 5rem;
  margin-right: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .advantage__img {
      width: 5rem;
      margin: 0;
      margin-bottom: 2rem; } }

.advantage__title {
  font-weight: 700;
  font-size: 1.9rem;
  margin-bottom: 1rem; }

.advantage__text {
  font-size: 1.4rem; }
  @media only screen and (max-width: 37.5em) {
    .advantage__text {
      font-size: 1.5rem; } }

.advantage__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #707070; }
  .advantage__bottom > * {
    flex: 1;
    padding: 0 2rem; }

.advantage__rating {
  border-right: 3px solid #f8be7f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.advantage__rating-value {
  margin-bottom: 1rem;
  display: flex;
  align-items: flex-end; }

.advantage__rating-large {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 4.2rem; }

.advantage__rating-small {
  font-size: 2.2rem;
  color: #707070; }

.advantage__rating-text {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem; }

.advantage__hours {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.advantage__hours-large {
  font-family: 'Roboto', sans-serif;
  font-size: 3.9rem;
  line-height: 4rem;
  font-weight: 500; }
  @media only screen and (max-width: 37.5em) {
    .advantage__hours-large {
      font-size: 3rem; } }

.advantage__hours-small {
  padding-top: 0.75rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase; }

.discount, .about-colmeia {
  position: relative; 
}

.about-colmeia {
  background: url(/img/background-about-colmeia-online2.jpg) center center/cover no-repeat;
}

.about-colmeia__content, .discount--pedagoga .discount__content {
  margin-top: 10rem;
  padding-bottom: 6rem;
}

  @media only screen and (max-width: 37.5em) {
    .discount .heading-section {
      padding-top: 12rem; } }

.discount--pedagoga {
  background-color: #f8be7f;
}

.about-colmeia__content, .about-colmeia__content .card, .discount--pedagoga .card {
  margin: 1% 0;
}

.discount--pedagoga .discount__content {
  border-bottom-left-radius: 20rem;
  background-color: #fff;
}

.discount .slider {
  background-color: #fff;
  padding: 3rem;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.26);
  color: #505050;
  text-align: center;
  font-family: 'Roboto', sans-serif; }

.discount .slider__title {
  text-transform: uppercase;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-family: 'Raleway', sans-serif; }

.discount .slider__subtitle {
  font-size: 1.4rem; }

.discount .slider__hours {
  font-weight: bold;
  font-size: 5rem; }

.discount .slider__value {
  display: inline-block;
  font-size: 2.2rem; }

.discount .slider__widget {
  margin: 2rem 0;
  -webkit-appearance: none;
  width: 100%;
  appearance: none;
  height: 1rem;
  background-color: #f2d798;
  outline: none;
  opacity: 0.7;
  transition: 0.2s all;
  border-radius: 1rem; }

.discount .slider__widget:hover {
  opacity: 1; }

.discount .slider__widget::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  background-color: #ff8008;
  border-radius: 50%; }

.discount .slider__widget::-moz-range-thumb {
  width: 2rem;
  height: 2rem;
  background-color: #ff8008;
  border-radius: 50%; }

.discount .slider__divider {
  height: 1px;
  background-color: #eee;
  margin: 2rem 0; }

.discount .slider__row {
  display: flex;
  margin-bottom: 3rem; }

.discount .slider__icon {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem; }

.discount .slider__text {
  text-align: left;
  font-size: 1.5rem;
  flex: 1; }

.discount--large .slider {
  transform: scale(1.05); }

.discount .pacote__block {
  font-family: 'Roboto', sans-serif;
  color: #000; }

.discount .pacote__block:not(:last-child) {
  margin-bottom: 5rem; }

.discount .pacote__hours {
  font-size: 3.5rem;
  color: #f7e7c1;
  margin-bottom: 0.5rem;
  font-weight: 700; }

.discount .pacote__content {
  border-left: 5px solid #f7e7c1;
  padding-left: 1rem; }

.discount .pacote__title {
  font-weight: 500;
  margin-bottom: 1rem;
  font-size: 1.75rem; }

.discount .pacote__subtitle {
  font-weight: 300;
  font-size: 1.1rem; }

.section-cta {
  color: #f7f7f7;
  text-align: center;
  position: relative; }

.section-cta--black {
  background-color: #303030; }
  .section-cta--black::before {
    z-index: -1;
    content: '';
    background: url(/img/down-arrow.png) center 12px/18px no-repeat;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -2.5rem;
    width: 5rem;
    height: 5rem;
    color: #fff;
    background-color: #303030;
    border-radius: 100px; }

.section-cta--orange {
  background-image: url(/img/orange-cta.jpg); }

.section-cta__title {
  font-size: 2.4rem;
  font-weight: 700; }

.section-cta__subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.75rem; }

@media only screen and (max-width: 56.25em) {
  .manage {
    padding-bottom: 5rem; } }

.manage__img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 4rem; }
  @media only screen and (max-width: 56.25em) {
    .manage__img {
      width: 50%; } }
  @media only screen and (max-width: 37.5em) {
    .manage__img {
      width: 100%; } }

.form {
  background-color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    .form {
      margin-top: 0; } }

.form--campaign-empresas .form__left {
  background: url(/img/luana-empresas.jpg) center center/cover no-repeat; }

.form__card {
  display: flex;
  background-color: #fff;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  min-height: 38rem; }
  .form__card > * {
    flex: 0 0 50%; }
  @media only screen and (max-width: 37.5em) {
    .form__card {
      flex-direction: column; } }

.form__left {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(/img/luana-campaign.jpg) center center/cover no-repeat; }
  @media only screen and (max-width: 37.5em) {
    .form__left {
      padding: 5rem 0; } }

.form__title {
  font-size: 2.3rem;
  line-height: 3rem; }

.form__subtitle {
  font-size: 3.3rem; }

.form__right {
  padding: 4rem 3rem; }

.form__label {
  font-weight: 700;
  color: #000;
  margin-bottom: 0.5rem;
  display: block;
  font-size: 1.5rem; }

.form__input {
  display: block;
  width: 100%;
  border: none;
  border: 1px solid #a0a0a0;
  padding: 1rem 1rem;
  border-radius: 5rem;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif; }

.form__input:active, .form__input:focus {
  border-color: #f8be7f;
  outline: none; }

.form__button-container {
  margin-top: 4rem;
  width: 50%; }
  @media only screen and (max-width: 37.5em) {
    .form__button-container {
      width: 100%; } }

.clients {
  padding-bottom: 5rem;
}

.about-colmeia + .clients .heading-section-small {
  color: #ff8008;
  font-size: 2.7rem;
}

  @media only screen and (max-width: 37.5em) {
    .clients {
      padding-top: 15rem; } }

.clients__block {
  padding: 0 5rem;
  width: 100%;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .clients__block {
      flex-direction: column;
      text-align: center; } }

.clients__img-block {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  border: 0.75rem solid #ff8008;
  position: relative;
  overflow: hidden;
  flex: 0 0 18rem; }
  @media only screen and (max-width: 56.25em) {
    .clients__img-block {
      margin-bottom: 3rem; } }

.clients__img {
  width: 100%;
  display: block;
  height: auto;
  position: absolute;
  top: 0;
  left: 0; }

.clients__right {
  padding-left: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .clients__right {
      padding-left: 0; } }

.clients__text {
  font-size: 1.5rem;
  margin-bottom: 2.2rem; }

.clients__bottom {
  font-size: 1.3rem; }

.clients__highlight {
  color: #ff8008;
  display: inline-block; }

.bottom-search {
  background-color: #fff; }

.bottom-search__tag, .bottom-search__tag:link, .bottom-search__tag:visited {
  background-color: #ff8008;
  border-radius: 2.5rem;
  padding: 0.8rem 2rem;
  color: #fff;
  font-size: 1.3rem;
  margin: 0.75rem;
  cursor: pointer;
  display: inline-block;
  transition: 0.2s all;
  border: 2px solid #ff8008;
  text-decoration: none; }

.bottom-search__tag:hover {
  color: #ff8008;
  background-color: #fff;
  text-decoration: none; }

.media {
  color: #fff;
  background-color: #303030;
}

.about-colmeia + .clients + .media, .landing-campanha--ebook .media {
  color: #7B7B7B;
  background: #f7f7f7;
}

.media__title {
  text-align: left;
  font-size: 1.8rem; 
}

.about-colmeia + .clients + .media .media__title, .landing-campanha--ebook .media .media__title {
  text-align: center;
  font-weight: 900;
  font-size: 2.8rem;
  text-transform: uppercase;
}

.media__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-colmeia + .clients + .media .media__container, .landing-campanha--ebook .media .media__container {
  margin-bottom: 30px;
}

  @media only screen and (max-width: 37.5em) {
    .media__container {
      justify-content: center; } }

.media__link {
  display: block;
}

.landing-campanha--online .media__link, .landing-campanha--ebook .media__link {
  margin: 4% 3%;
}

  @media only screen and (max-width: 37.5em) {
    .media__link {
      margin: 2rem; 
    }
    
    .landing-campanha--online .media__link, .landing-campanha--ebook .media__link {
      margin: 5% 13%;
    }
    
  }

.media__img {
  display: block;
  flex: 1;
  max-width: 100%;
  height: 6rem;
  transition: 0.3s all; }
  .media__img:hover {
    transform: scale(1.2); }


.manter-estudos {
  padding: 5rem 0;
}

.manter-estudos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #7B7B7B;
}

.manter-estudos-container .manter-estudos__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

.manter-estudos__subtitle {
  font-size: 2rem;
  padding: 0 33%;
  text-align: center;
}

.manter-estudos__button {
  margin-top: 3%;
  color: #fff;
  background-color: #ff8008;
  border: 2px solid #ff8008;
  transition: 0.3s all;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  padding: 0 6rem;
}

.manter-estudos__button:hover {
  color: #ff8008;
  background-color: #fff;
}

.service__container {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .service__container {
      flex-direction: column; } }

.service__block {
  margin: 3rem;
  text-align: center;
  flex: 1; }
  @media only screen and (max-width: 56.25em) {
    .service__block {
      text-align: left; } }

.service__block:not(:first-child) .service__number::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -100%);
  height: 3px;
  width: 17rem;
  background-color: #ff8008; }
  @media only screen and (max-width: 78.125em) {
    .service__block:not(:first-child) .service__number::after {
      content: none; } }

.service__number {
  color: #f8be7f;
  font-size: 4rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
  font-weight: 700; }

.service__number::before {
  content: '';
  background-color: #f8be7f;
  position: absolute;
  bottom: 0.5rem;
  right: -1rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  opacity: 0.3; }

.service__title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: left; }
  @media only screen and (max-width: 37.5em) {
    .service__title {
      font-size: 1.9rem; } }

.service__text {
  font-size: 1.2rem;
  text-align: left; }
  @media only screen and (max-width: 37.5em) {
    .service__text {
      font-size: 1.6rem; } }

.landing .header {
  height: 100vh;
  position: relative;
  background: url(/img/landing-placeholder.jpg) center center/cover no-repeat;
  border-bottom-left-radius: 20rem; }

.landing .header__content {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column; }

.landing .header__help-text {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 300; }

.landing .header .background-video {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  overflow: hidden;
  border-bottom-left-radius: 20rem; }
  .landing .header .background-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.landing-campanha .heading-campaign .form-campaign {
  margin-top: 50rem; }

.landing-campanha__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  pointer-events: none;
  transition: 0.45s all; }

.landing-campanha__wrapper {
  transition: 0.45s all;
  position: relative; }

.landing-campanha__banner-icon {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 5rem;
  height: 5rem;
  background-image: url(/img/remove-orange.png);
  background-position: center;
  background-size: cover;
  border-radius: 50%; }

.landing-campanha__banner {
  position: relative;
  background: #fff url(/img/banner-campanha.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 42rem;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -42rem;
  overflow-x: hidden;
  transition: 0.45s all;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer; }
  .landing-campanha__banner:hover {
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.3); }
  .landing-campanha__banner--sp {
    background: #fff url(/img/banner-campanha-sp.jpg); }

.agendamento .react-autosuggest__container {
  position: relative; }

.agendamento .react-autosuggest__input--focused {
  outline: none; }

.agendamento .react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.agendamento .react-autosuggest__suggestions-container {
  display: none; }

.agendamento .react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 5rem;
  width: 100%;
  border: 1px solid #ff8008;
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  color: #303030;
  font-weight: 500;
  font-size: 2rem;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  z-index: 10; }

.agendamento .react-autosuggest__container--open .agendamento__input-wrapper .agendamento__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  border-bottom: 0; }

.agendamento .react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.agendamento .react-autosuggest__suggestion {
  cursor: pointer;
  padding: 1.5rem 2.5rem; }

.agendamento .react-autosuggest__suggestion--highlighted {
  background-color: #eee; }
  .agendamento .react-autosuggest__suggestion--highlighted:last-child {
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem; }

.agendamento {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #303030; }

.agendamento__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .agendamento__content {
      padding: 5rem 0; } }

.agendamento__screen {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .agendamento__screen {
      padding-top: 0rem;
      padding-bottom: 0rem; } }

.agendamento__title {
  font-size: 2.7rem;
  font-weight: 700;
  margin-bottom: 5rem;
  text-align: left;
  line-height: 3.85rem; }
  .agendamento__title--s {
    font-size: 2.5rem;
    line-height: 3.75rem; }
  .agendamento__title--secondary {
    color: #505050;
    font-size: 2rem;
    font-weight: 500; }
  .agendamento__title--orange {
    color: #ff8008; }
  .agendamento__title--bold {
    font-weight: 600;
    margin-top: 3rem; }

.agendamento__title-sub {
  color: #ff8008;
  font-size: 1.6rem;
  margin-bottom: 3rem;
  text-transform: uppercase; }

.agendamento__info {
  font-size: 1.75rem;
  color: #a0a0a0; }

.agendamento__heading {
  font-size: 4rem;
  margin-bottom: 6rem;
  text-align: center;
  color: #ff8008; }

.agendamento__button, .agendamento__input-wrapper {
  font-size: 2rem;
  border-radius: 0.8rem;
  border-radius: 5rem;
  outline: none; }

.agendamento__input-wrapper {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 5rem;
  background-color: #fff; }

.agendamento__select, .agendamento__input {
  background-color: #fff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  border-radius: 5rem;
  padding: 1.25rem 6rem;
  padding-right: 0;
  font-size: 2rem;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  outline: none;
  appearance: none;
  border: 1px solid #a0a0a0; }
  .agendamento__select:focus, .agendamento__input:focus {
    border-color: #ff8008;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05); }
  .agendamento__select--textarea, .agendamento__input--textarea {
    padding-left: 2rem;
    padding-right: 2rem;
    min-height: 15rem;
    border-radius: 2rem;
    appearance: none; }

.agendamento__select:focus + .agendamento__input-icon,
.agendamento__input:focus + .agendamento__input-icon {
  color: #ff8008; }

.agendamento__input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #a0a0a0;
  font-size: 2rem;
  left: 2.5rem; }
  .agendamento__input-icon--right {
    right: 1.5rem;
    left: unset;
    cursor: pointer;
    color: #a0a0a0; }

.agendamento__input--focused {
  outline: none; }

.agendamento__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.agendamento__label {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  align-self: flex-start; }
  .agendamento__label--center {
    align-self: center;
    text-align: center; }

.agendamento__radio-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column; }

.agendamento__radio {
  display: block;
  margin: 0;
  font-weight: normal;
  position: relative;
  padding-left: 4rem;
  font-size: 2rem;
  user-select: none;
  cursor: pointer;
  margin-bottom: 1.5rem; }

.agendamento__radio input[type='radio'] {
  position: absolute;
  opacity: 0; }

.agendamento__radio-check {
  position: absolute;
  top: 2px;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #fff;
  border-radius: 50%;
  border: 0.15rem solid #ff8008;
  transition: 0.15s all; }

.agendamento__radio:hover input ~ .agendamento__radio-check {
  background-color: #f7f7f7; }

.agendamento__radio input:checked ~ .agendamento__radio-check {
  background-color: #fff; }

.agendamento__radio-check::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.25rem;
  height: 1.25rem;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  background: #ff8008;
  transition: 0.15s all; }

.agendamento__radio input:checked ~ .agendamento__radio-check::after {
  display: block;
  transform: translate(-50%, -50%) scale(1); }

.agendamento__toggle-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2.5rem; }
  .agendamento__toggle-button-container--center {
    justify-content: center; }

.agendamento__toggle-button {
  display: block;
  margin: 0;
  position: relative;
  user-select: none; }

.agendamento__toggle-button input[type='checkbox'] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer; }

.agendamento__toggle-button-content {
  background-color: #fff;
  font-size: 1.4rem;
  color: #ff8008;
  border: 0.15rem solid currentColor;
  margin: 0.75rem;
  padding: 1.2rem 2rem;
  border-radius: 1.25rem;
  border-radius: 5rem;
  transition: 0.15s all; }

.agendamento__toggle-button:hover input ~ .agendamento__toggle-button-content {
  background-color: #f7f7f7; }

.agendamento__toggle-button input:checked ~ .agendamento__toggle-button-content {
  background-color: #ff8008;
  color: #fff; }

.agendamento__bottom-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  @media only screen and (max-width: 37.5em) {
    .agendamento__bottom-button-container {
      padding-bottom: 4rem; } }

.agendamento__button {
  margin-top: 3rem;
  text-align: center;
  display: block;
  padding: 1.25rem;
  min-width: 20rem;
  background-color: #ff8008;
  color: #fff;
  border: 0;
  cursor: pointer;
  border: 2px solid #ff8008;
  transition: 0.3s all;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  font-size: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .agendamento__button {
      width: 13rem;
      min-width: unset;
      flex: 1; }
      .agendamento__button:first-of-type {
        margin-right: 2rem; }
      .agendamento__button:last-of-type {
        margin-left: 1rem; } }
  .agendamento__button--full {
    width: 100%; }
  .agendamento__button:hover {
    color: #ff8008;
    background-color: #fff; }
  .agendamento__button:not(:last-of-type) {
    margin-right: 1.5rem; }

.agendamento__button--previous {
  background-color: #f8be7f;
  border-color: #f8be7f; }

@keyframes spinner {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.agendamento__spinner {
  display: block;
  margin: 0 auto;
  width: 7rem;
  animation: spinner 2.5s linear infinite; }

.agendamento__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.agendamento__nav-step {
  overflow: hidden;
  background-color: #eee;
  flex: 1;
  height: 0.6rem;
  position: relative; }
  .agendamento__nav-step:not(:last-child) {
    border-right: 1px solid #fff; }
  .agendamento__nav-step::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff8008;
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.3s all; }
  .agendamento__nav-step--active::before {
    transform: scaleX(1); }

.agendamento__form {
  width: 60rem;
  max-width: 100%;
  box-shadow: 0rem 0.4rem 0.7rem 0rem rgba(0, 0, 0, 0.3);
  border-radius: 2.5rem;
  padding: 4rem 6rem; }
  @media only screen and (max-width: 37.5em) {
    .agendamento__form {
      padding: 4rem 3rem; } }
  .agendamento__form label {
    margin-bottom: 2rem; }
  .agendamento__form button {
    width: 100%; }

.agendamento__form-title {
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.25rem; }

.agendamento__form-button-final {
  display: block;
  margin-top: 2rem;
  color: #ff8008;
  font-size: 1.5rem;
  text-decoration: underline;
  text-align: center; }

.calculadora-page {
  position: relative;
}

.calculadora-page #modal-toggle.active ~ .modal__content,
.calculadora-page #modal-toggle:checked ~ .modal__content {
  min-height: 65rem; }

.calculadora-page .header {
  padding-bottom: 10rem; }

.calculadora-page .header__bg {
  min-height: 40rem;
  background: url(/img/unb-bg.png) center center/cover no-repeat;
  border-bottom-left-radius: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .calculadora-page .header__bg {
      padding: 15rem 0; } }

.calculadora-page .header__title {
  font-weight: 700;
  font-size: 6rem; }

.calculadora-page .header__subtitle {
  font-size: 2.4rem; }

.calculadora-page .pas-text {
  background-image: url("/img/pas-circles.png");
  background-size: auto 700px;
  background-position: 90% 0%;
  background-repeat: no-repeat;
  padding-bottom: 24rem; }
  @media only screen and (max-width: 78.125em) {
    .calculadora-page .pas-text {
      background-position: 115% 0%; } }
  @media only screen and (max-width: 56.25em) {
    .calculadora-page .pas-text {
      background-image: none; } }
  @media only screen and (max-width: 37.5em) {
    .calculadora-page .pas-text {
      padding-bottom: 0; } }

.calculadora-page .pas-text__link, .calculadora-page .pas-text__link:link {
  color: #ff8008;
  text-decoration: underline; }

.calculadora-page .pas-grid {
  margin-top: -5rem; }

.calculadora-page .pas-block {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.16);
  border-radius: 0.5rem;
  background-color: #fff;
  padding: 3rem 1.5rem 5rem 1.5rem;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 37.5em) {
    .calculadora-page .pas-block {
      margin-left: auto;
      margin-right: auto;
      width: 80%; } }

.calculadora-page .pas-block__title {
  font-size: 6rem;
  font-weight: 700;
  position: absolute;
  left: -0.7rem;
  bottom: -3.5rem;
  text-transform: uppercase;
  color: #f2d798;
  font-family: 'Roboto', sans-serif; }

.calculadora-page .pas-block__row {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .calculadora-page .pas-block__row {
      margin-bottom: 2rem; } }

.calculadora-page .pas-block__label {
  font-size: 1.8rem;
  font-weight: 500;
  flex: 0 0 45%; }

.calculadora-page .pas-block__input {
  width: 100%;
  border-radius: 100rem;
  border: 1px solid #e3e3e3;
  outline: none !important;
  padding: 0.75rem;
  padding-left: 1.25rem;
  flex: 1;
  font-family: 'Raleway', sans-serif; }
  @media only screen and (max-width: 37.5em) {
    .calculadora-page .pas-block__input {
      padding: 1rem;
      padding-left: 1.5rem; } }

.calculadora-page .grade {
  text-align: center;
  color: #fff; }

.calculadora-page .grade__title {
  font-size: 1.5rem;
  font-weight: 500; }

.calculadora-page .grade__value {
  font-size: 7rem;
  font-weight: 700; }

.calculadora-page .grade__caption {
  font-size: 1rem; }

.calculadora-page .grade__error {
  color: #eb0000;
  font-size: 1.4rem; }

.calculadora-page .calculadora-modal {
  display: flex;
  background-color: #fff;
  height: 100%;
  color: #303030; }
  @media only screen and (max-width: 37.5em) {
    .calculadora-page .calculadora-modal {
      flex-direction: column; } }

.calculadora-page .calculadora-modal__left {
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(/img/calculadora-modal.png) center center/cover no-repeat;
  flex: 0 0 45%; }
  @media only screen and (max-width: 37.5em) {
    .calculadora-page .calculadora-modal__left {
      flex: 1;
      padding: 4rem 0 2rem 0; } }

.calculadora-page .calculadora-modal__right {
  flex: 1;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center; }

.calculadora-page .calculadora-modal__title {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 2rem; }

.calculadora-page .calculadora-modal__subtitle {
  font-size: 1.4rem;
  margin-bottom: 2rem; }

.calculadora-page .calculadora-modal__label {
  font-weight: 700;
  color: #000;
  margin-bottom: 0.5rem;
  display: block;
  font-size: 1.5rem; }

.calculadora-page .calculadora-modal__input {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  border: none;
  border: 1px solid #a0a0a0;
  background-color: #fff;
  padding: 0.95rem 1rem;
  padding-left: 1.5rem;
  border-radius: 5rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif; }

.calculadora-page .calculadora-modal__input:active, .calculadora-page .calculadora-modal__input:focus {
  border-color: #f8be7f;
  outline: none; }

.calculadora-page .calculadora-modal__button-container {
  margin-top: 2rem;
  width: 70%; }
  @media only screen and (max-width: 37.5em) {
    .calculadora-page .calculadora-modal__button-container {
      width: 100%; } }

.calculadora-page .calculadora-modal__termos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.1rem;
  margin: 1rem 0; }
  .calculadora-page .calculadora-modal__termos input {
    margin-right: 1rem; }

.calculadora-page .calculadora-modal__termos-label a {
  color: #ff8008;
}

.principal-page .background-ffebd7{
  background-color: #ffebd7;
  height: 225px;
  margin-top: -225px;
}

.principal-page .banner-aulao-online, .calculadora-page .banner-aulao-online {
  display: block;
}
@media only screen and (min-width: 901px) {
  .principal-page .banner-aulao-online, .calculadora-page .banner-aulao-online {
    background-image: url("/img/banner-comunidade_estudos.png");
    background-position: center;
    padding-bottom: 439px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .principal-page .banner-aulao-online {
    border-bottom-left-radius: 20rem;
  }
}

/* Iphone 5/SE */
@media only screen and (max-width: 340px) {
  .heading-landing {
    margin-top: 70px!important;
  }

  .heading-landing__highlight {
    font-size: 2.45rem!important;
  }

  .principal-page .banner-aulao-online {
    background-size: 220% 135%!important;
  }
}

@media only screen and (max-width: 900px) {
  .landing .header {
    border-bottom-left-radius: unset!important;
  }

  .principal-page .banner-aulao-online, .calculadora-page .banner-aulao-online {
    /* background-image: url("/img/banner-aulao_online-mobile.png");
    background-position: center;
    padding-bottom: 550px; */

    background-image: url(/img/banner-comunidade_estudos__mobile.png);
    background-position: center;
    background-size: 180%!important;
    background-repeat: repeat;
    padding-bottom: 50%!important;
  }

  .principal-page .banner-aulao-online {
    border-bottom-left-radius: unset!important;
  }
}


.calculadora-page .section-cta--black::before {
  z-index: unset;
}

.job__header {
  padding: 18rem 0 5rem 0;
  background-color: #fff;
  border-bottom: 0.5rem solid #ff8008; }
  @media only screen and (max-width: 56.25em) {
    .job__header {
      background-image: none;
      padding-top: 12rem;
      padding-bottom: 0rem; } }

.job__main-header {
  background-image: url("/img/landing-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 18rem;
  padding-bottom: 10rem;
  color: #fff;
  text-align: center; }

.job__header-img {
  width: 9rem;
  margin: 0 auto;
  display: block; }

.job__header-title {
  font-size: 6rem;
  font-weight: 700; }
  @media only screen and (max-width: 37.5em) {
    .job__header-title {
      line-height: 7rem;
      margin-top: 2rem; } }

.job__header-subtitle {
  font-size: 2.5rem;
  font-weight: 500; }

.job__header-button {
  appearance: none;
  border: none;
  outline: none;
  padding: 1rem 5rem;
  border-radius: 100rem;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 0.2rem solid #fff;
  display: inline-block;
  margin-top: 5rem;
  transition: 0.3s all; }
  .job__header-button:hover {
    background-color: #fff;
    color: #000; }

.job__col {
  align-self: flex-start;
  padding-top: 2rem;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .job__col {
      order: -1; } }

.job__title {
  font-weight: 700;
  font-size: 5rem;
  color: #ff8008;
  line-height: 6.5rem; }

.job__subtitle {
  color: #303030;
  font-size: 3rem;
  font-weight: 600;
  margin: 2rem 0 0.5rem 0; }

.job__info {
  font-size: 2rem;
  color: #707070; }
  .job__info > * {
    font-weight: 500; }

.job__details, .job__item {
  font-size: 1.75rem;
  font-weight: 400;
  color: #505050;
  font-family: 'Roboto', sans-serif; }

.job__list {
  padding-left: 1.5rem; }

.job__item {
  list-style-type: disc;
  margin-bottom: 0.1rem; }

.job__button {
  display: inline-block;
  background-color: #ff8008;
  text-transform: uppercase;
  color: #fff;
  padding: 1rem 5rem;
  border-radius: 10rem;
  font-size: 1.8rem;
  letter-spacing: 0.15rem;
  font-weight: 600;
  border: 2px solid #ff8008;
  margin: 0 auto;
  transition: 0.3s all; }
  .job__button--active {
    position: fixed; }
    @media only screen and (max-width: 78.125em) {
      .job__button--active {
        position: initial; } }
  @media only screen and (max-width: 56.25em) {
    .job__button {
      margin-bottom: 5rem; } }
  .job__button:hover {
    background-color: #fff;
    color: #ff8008; }

.job__phone {
  display: block;
  max-width: 100%;
  margin: 0 auto; }

.job__divider {
  height: 0.3rem;
  background-color: #ff8008; }

@media only screen and (max-width: 56.25em) {
  .job__table-wrapper {
    overflow-x: scroll; } }

.job__table {
  width: 100%;
  max-width: 100%;
  text-align: left;
  color: #303030; }
  @media only screen and (max-width: 56.25em) {
    .job__table {
      min-width: 75rem; } }
  .job__table thead {
    display: table-header-group;
    vertical-align: middle; }
    .job__table thead tr {
      border-bottom: 10px solid #ff8008; }
      .job__table thead tr th {
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1.2rem; }
  .job__table tbody tr {
    font-size: 2rem;
    font-weight: 500;
    height: 10rem;
    cursor: pointer;
    transition: 0.3s all; }
    @media only screen and (max-width: 56.25em) {
      .job__table tbody tr:hover {
        transform: initial; } }
    .job__table tbody tr:hover {
      transform: translateX(4rem); }
    .job__table tbody tr td {
      border-bottom: 1px solid #eee;
      color: #ff8008;
      font-weight: 500; }
  .job__table a {
    color: #303030;
    font-weight: 700;
    font-size: 2.2rem; }
