.modal,
.modal-open {
    overflow: hidden;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    outline: 0;
    -webkit-overflow-scrolling: touch;
}
.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translateY(-25%);
}
.modal.in .modal-dialog {
    transform: translate(0);
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.modal-backdrop.fade {
    opacity: 0;
}
.modal-backdrop.in {
    opacity: 0.75;
}
.modal-header {
    padding: 15px;
}
.modal-header:after {
    content: '';
    display: table;
    clear: both;
}
.modal-header .close {
    margin-top: -2px;
}
.modal-title {
    margin: 0;
    text-align: center;
    line-height: 2;
}
.modal-body {
    position: relative;
    padding: 15px;
    padding-bottom: 0;
}
.modal-footer {
    padding: 15px;
    text-align: center;
}
.modal-footer:after {
    content: '';
    display: table;
    clear: both;
}
.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
    margin-left: 0;
}
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
@media (min-width: 544px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
    .modal-sm {
        width: 300px;
    }
}
@media (min-width: 768px) {
    .modal-lg {
        width: 900px;
    }
}
.login .modal-dialog {
    width: 390px;
}
.login .modal-footer {
    border-top: 0;
    margin-top: 0;
    padding: 10px 20px 20px;
}
.login .modal-header {
    border: 0 none;
    padding: 15px;
}

/*buttons*/
.login .btn-login,
.registerBox .btn-register {
    margin: 10px auto;
    width: 100%;
    background-color: #ff8008;
    outline: none;
    border: none;
    color: #fafafa;
    font-size: 16px;
    border-radius: 0px;
    height: 40px;
}
/*button hover*/
.login .btn-login:hover,
.registerBox .btn-register:hover {
    background-color: #ff5208;
    color: #fff;
}
.modal .form-control {
    border-radius: 0px;
    height: 40px;
    margin-bottom: 10px;
}

.modal .form-control:active .modal .form-control.active,
.modal .form-control:hover,
.modal .form-control:focus {
    border-color: #ff8008;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px #ff8008;
    outline: 0 none;
}

@media (max-width: 400px) {
    .login .modal-dialog {
        width: 100%;
    }
}

form span.terms-service {
    font-size: 12px;
    text-align: center;
}
