/*navbar*/
#container {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 40px;
    background-color: #7F8081;
}

.navbar-nav a {
  color: #FAFAFA !important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ff7008;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ff7008;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

/*button*/
.colmeia-button{
  margin: 0 auto;
  width: 100%;
  margin-bottom: 20px;
  background-color: #FF8008;
  outline: none;
  border: none;
  color: #FAFAFA;
  font-size: 16px;
  border-radius: 0px;
  height: 3em;
}
.colmeia-button:active,
.colmeia-button.active,
.colmeia-button:focus,
.colmeia-button:active:focus,
.colmeia-button:hover{
  background-color: #ff5208;
  box-shadow: none;
  color: #FAFAFA;
}

.colmeia-button-cancel{
  margin: 0 auto;
  width: 100%;
  margin-bottom: 20px;
  background-color: #7D7D7F;
  outline: none;
  border: none;
  color: #FAFAFA;
  font-size: 16px;
  border-radius: 0px;
  height: 3em;
}
.colmeia-button-cancel:active,
.colmeia-button-cancel.active,
.colmeia-button-cancel:focus,
.colmeia-button-cancel:active:focus,
.colmeia-button-cancel:hover{
  background-color: #b1b1b3;
  box-shadow: none;
  color: #111111;
}

#headerImage {
    width: 120px;
}
