/*navbar*/
.navbar.navbar-default.navbar-custom{
  background-color: #FF8008;
  border-radius: 0;
  border: none;
  ouline: none;
  -webkit-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.13);
  -moz-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.13);
  box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.13);
}

.navbar-nav a {
  color: #FAFAFA !important;
  font-family: 'Raleway';
  transition: 0.3s;
}

.navbar-nav a:hover {
  color: #111 !important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ff7008;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ff7008;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fafafa;
}

/*button*/

.colmeia-button{
  margin: 0 auto;
  width: 100%;
  background-color: #FF8008;
  outline: none;
  border: none;
  color: #FAFAFA;
  font-size: 16px;
  border-radius: 0px;
  height: 3em;
  padding-top: 15px;
  /*-webkit-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.55);
  -moz-box-shadow:    0px 1px 10px 1px rgba(0,0,0,0.55);
  box-shadow:         0px 1px 10px 1px rgba(0,0,0,0.55);*/

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.colmeia-button:hover{
  background-color: #ff6808;
  box-shadow: none;
  color: #FAFAFA;
  /*-webkit-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.55);
  -moz-box-shadow:    0px 1px 10px 1px rgba(0,0,0,0.55);
  box-shadow:         0px 1px 10px 1px rgba(0,0,0,0.55);*/
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.colmeia-button:active,
.colmeia-button.active,
.colmeia-button:focus,
.colmeia-button:active:focus{
  background-color: #ff5208;
  color: #FAFAFA;
}

.colmeia-button-cancel{
  margin: 0 auto;
  width: 100%;
  background-color: #7D7D7F;
  outline: none;
  border: none;
  color: #FAFAFA;
  font-size: 16px;
  border-radius: 0px;
  height: 3em;
  padding-top: 15px;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.colmeia-button-cancel:active,
.colmeia-button-cancel.active,
.colmeia-button-cancel:focus,
.colmeia-button-cancel:active:focus,
.colmeia-button-cancel:hover{
  background-color: #b1b1b3;
  box-shadow: none;
  color: #FAFAFA;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
