
nav#mainNav.navbar {
    margin-bottom: 0;
}
.navbar-brand{
    padding-top: 4px;
  }
  
  .navbar-custom {
    background-color: #ff8008;
    border-radius: 0px;
    border-bottom: 2px solid #fff;
  }
  .navbar-custom .navbar-brand {
    color: #333333;
    margin-top: 6px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus,
  .navbar-custom .navbar-brand:active,
  .navbar-custom .navbar-brand.active {
    color: #333333;
  }
  .navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.2);
  }
  .navbar-custom .navbar-toggle {
    background-color: #ff8008;
    border-color: #ff8008;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
  }
  
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-default .navbar-toggle.toggle-active .icon-bar-one{
    -webkit-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    -o-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
  }
  
  .navbar-default .navbar-toggle.toggle-active .icon-bar-two{
    opacity: 0;
  }
  
  .navbar-default .navbar-toggle.toggle-active .icon-bar-three{
    -webkit-transform: translateY(-4px) rotate(-45deg);
    -ms-transform: translateY(-4px) rotate(-45deg);
    -o-transform: translateY(-4px) rotate(-45deg);
    transform: translateY(-4px) rotate(-45deg);
  }
  
  .navbar-custom .navbar-toggle:hover,
  .navbar-custom .navbar-toggle:focus {
    background-color: #ff8008;
  }
  
  .navbar-custom .nav li a {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    transition: 0.3s;
    font-size: 14px;
  }
  .navbar-custom .nav li a:hover {
    color: #111;
    outline: none;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: #333333;
    transition: 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a:hover {
    color: white;
    background-color: #333333;
  }
  .navbar-custom .nav li a.navbar-main-url {
    transition: 0.3s;
  }
  .navbar-custom .nav li a:hover {
    color: #111;
  }
  
  .navbar-custom.affix .nav li a {
    color: #ffffff;
    transition: 0.3s;
  }
  
  .navbar-custom.affix .nav li a:hover {
    color: #111;
  }
  
  .mobile-sidebar {
      height: 100%;
      width: 250px;
      position: fixed;
      z-index: 10;
      top: 0;
      right: -250px;
      background-color: #FF8008;
      overflow-x: hidden;
      padding-top: 60px;
      transition: 0.5s;
  }
  
  .mobile-sidebar a {
      padding: 8px 2px 2px 16px;
      text-decoration: none;
      font-size: 20px;
      color: #fafafa;
      display: block;
      transition: 0.3s;
  }

  .mobile-sidebar li {
    list-style-type: none;
  }
  
  .mobile-dropdown-toggle {
    margin-top: 20px;
  }

  .mobile-sidebar-dropdown-menu {
    padding-left: 25px;
  }

  .mobile-sidebar a.mobile-sidebar-link:hover,
  .mobile-sidebar a.mobile-sidebar-link:active {
      color: #7D7D7F;
  }
  
  .mobile-sidebar .navbar-main-url{
    color: #333;
  }

  .mobile-sidebar-dropdown-menu {
    display: none;
  }
  
  @media (max-width: 992px) {
    .navbar-custom .navbar-brand {
      margin-top: 5px;
    }
  
    .navbar-custom {
      box-shadow: 0 1px 3px 0px rgba(0,0,0,0.15),
                  0 1px 20px rgba(0,0,0,0.15);
    }
  }
  
  @media (min-width: 769px) {
  
    .navbar-custom {
      background-color: #ff8008;
      padding: 25px 0;
      -webkit-transition:  padding 0.3s;
      -moz-transition: padding 0.3s;
      transition: padding 0.3s;
      border: none;
    }
    .navbar-custom .navbar-brand {
      font-size: 2em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-custom .navbar-nav > .active > a {
      border-radius: 0px;
    }
    .navbar-custom.affix {
      background-color: white;
      padding: 5px 0px 0px 0px;
      border-bottom: 2px solid #ff8008;
      box-shadow: 0 2px 3px 0px rgba(0,0,0,0.16),
                  0 2px 20px rgba(0,0,0,0.23);
    }
  
    .navbar-custom.affix a{
      /* color: white !important; */
    }
  
    .navbar-custom.affix a.navbar-main-url{
      color: #ff8008 !important;
    }
  
    .navbar-custom.affix img#navbar-logo{
      content: url('/img/logo-laranja.png') !important;
    }
  
    .navbar-custom.affix .navbar-brand {
      font-size: 1.5em;
    }
  }
  
  @media (max-width: 768px) {
  
    .navbar-custom .nav li a.navbar-main-url {
      color: #ffffff;
    }
    .navbar-brand>img {
      margin-top: 3px;
      /* width: 120px;
      height: auto; */
    }
  
  }
  