html {
    font-size: 16px;
    box-sizing: border-box;
    overflow-x: hidden;
}
body {
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

#particles-js {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -999;
}

html,
body {
    width: 100%;
    height: 100%;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

.colmeia-button {
    border-radius: 9px;
    margin-top: 30px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    border: 2px solid #ff8008;
}

.colmeia-button:hover {
    background-color: #fff;
    color: #ff8008;
    border: 2px solid #ff8008;
}

.section-title {
    font-size: 36px;
    text-align: center;
}

.title-orange {
    color: #ff8008;
}

.title-black {
    color: #111;
}

section {
    width: 100%;
}

section#main {
    height: auto;
    /* background-image: url(/img/background-webnario2.png);
    background-position: center 5%;
    background-size: contain; */
}

section:not(#footer):not(#main) {
    height: auto;
    min-height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#vantagens {
    margin-top: 80px;
}

.pacote-img {
    margin-top: 50px;
}

.pacote-img img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.pacote-title {
    text-align: left;
    font-size: 42px;
    color: #303030;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: initial;
}

.pacote-subtitle {
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    line-height: initial;
    color: gray;
    margin-bottom: 40px;
}

.pacote-divider {
    width: 100px;
    border-color: #f4af4f;
    border-width: 2px;
    margin: 20px 0;
    margin-bottom: 40px;
}

.form-title {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 33px;
}

.form-subtitle {
    color: #ff8008;
    text-align: center;
    font-size: 24px;
    margin-bottom: 0;
}

.form-container {
    width: 100%;
    height: auto;
    /* background-color: #fafafa;
    box-shadow: 0 -1px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
    padding: 60px 30px;
    margin-bottom: 50px;
}

.form-container label {
    font-weight: normal;
    font-size: 18px;
}

.form-control {
    height: 45px;
    width: 100%;
    border: 1px solid #e3e3e3;
    background-color: #fff;
    color: #333;
    outline: none;
    box-shadow: none;
    border-radius: 9px;
    transition: 0.3s all;
    box-shadow: none;
}

.form-control:focus,
.form-control:active {
    outline: none;
    border: 1px solid #e3e3e3 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.vantagens-main-title {
    margin-bottom: 70px;
    font-weight: 600;
}

.vantagem-block {
    font-size: 20px;
    text-align: center;
}

.vantagem-title {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 19px;
}

.vantagem-subtitle {
    font-weight: 400;
    font-size: 17px;
}

.vantagem-img-container {
    width: 100px;
    max-width: 90%;
    height: 100px;
    border-radius: 50%;
    /* border: 1px solid black; */
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    display: inline-block;
}

.vantagem-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.descontos-title {
    margin-top: 60px;
    margin-bottom: 100px;
}

.discount-card {
    border-radius: 9px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
    padding: 30px;
    text-align: center;
    background-color: #fff;
    height: 260px;
}

.discount-title {
    font-weight: bold;
    font-size: 58px;
    margin-bottom: 40px;
}

.discount-name {
    background-color: #f4af4f;
    border-radius: 30px;
    color: #fff;
    padding: 15px;
    width: 100%;
    font-weight: 500;
    font-size: 17px;
}

@media screen and (max-width: 768px) {
    section:not(#footer):not(#main) {
        padding-top: 0;
    }

    .section-title {
        font-size: 28px;
    }

    .pacote-img {
        margin-top: 100px;
    }

    .pacote-img img {
        width: 80%;
    }

    .pacote-title {
        font-size: 36px;
        text-align: center;
    }

    .pacote-subtitle {
        font-size: 16px;
        text-align: center;
    }

    .pacote-divider {
        margin: 20px auto 40px auto;
    }

    .vantagem-img-container {
        margin: 30px auto;
    }

    .vantagem-title {
        text-align: center;
    }

    .vantagem-subtitle {
        text-align: center;
    }

    .discount-card {
        margin-bottom: 30px;
    }

    #call-to-action {
        margin-bottom: 100px;
    }

    .border-first {
        border-right: none;
    }

    .border-last {
        border-left: none;
    }

    .descontos-title,
    .vantagens-main-title {
        margin-bottom: 50px;
    }

    .descontos-title {
        margin-top: 0;
    }

    section#main {
        background-image: none;
    }

    .mobile-only {
        display: block;
    }

    .mobile-not {
        display: none;
    }

    .form-container {
        padding: 60px 10px;
    }

    .text-icon-container img {
        width: 100px;
    }

    .vantagem-block,
    .discount-card {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
