/*

colors:

colmeia-orange:       #FF8008
colmeia-dark-orange:  #ff7008
colmeia-yellow:       #FFC836
colmeia-gray:         #7D7D7F
colmeia-light-gray:   #E3E6ED
colmeia-black:        #111111
colmeia-white:        #FAFAFA

*/

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 25px;
}
.footer {
  bottom: 0;
  width: 100%;
  height: auto;
}

*{
  border: 0px solid black;
}
html, body {
    overflow-x: hidden;
}
body {
    margin: 0;
    background-color: #FAFAFA;
    font-family: "Raleway";
}
.form-group .form-control{
  border-radius: 0px;
  height: 3em;
}

.form-group .form-control:active
.form-group .form-control.active,
.form-group .form-control:hover,
.form-group .form-control:focus{
  border-color: #FF8008;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px #FF8008;
  outline: 0 none;
}

.header-text{
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}

.sub-header-text{
  font-size: 18px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 30px;
}

footer{
  margin-top: 70px;
  position: absolute;
  bottom: 0px;
}

footer p{
  font-size: 12px;
  text-shadow: none;
}

.header-message{

  font-weight: 400;
  margin: 40px auto;
  margin-top: 20px;
  text-align: center;
  font-size: 28px;
}

.intro{
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  margin-top: 70px;
  margin-bottom: 20px;
}

.address-image, .address-body, .address-remove{
  display: inline-block;
  cursor: pointer; cursor: hand;
}

.address-container, .address-new{
  border: 1px solid #FF8008;
  -webkit-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.33);
  -moz-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.33);
  box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.33);
  border-radius: 2px;
  margin-bottom: 20px;
  background-color: #FFFF;
  height: 100px;
  transition: all 0.2s;
}

.address-container:hover{
  -webkit-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.7);
  -moz-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.7);
  box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.7);
  cursor: pointer;
}

.address-new{
  border: 1px solid #08adff;
  text-transform: uppercase;
}

.address-new .address-adicionar{
  padding-top: 35px;
  text-align: center;
  font-size: 18px;
}

.address-image{
  float: left;
  padding: 25px 30px;
}

.address-remove{
  float: right;
  padding: 40px 30px;
  padding-left: 10px;;
  color: #FF8008;
}

.address-remove i{
  height: 20px;
}

.address-image img{
  height: 50px;
}

.address-body{
  padding-top: 20px;
  padding-left: 35px;
  font-size: 15px;
}

.address-name{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.address-complete span{
  color: #7D7D7F;
}

#two-buttons{
  padding-top: 20px;
  padding-bottom: 40px;
}

@media (max-width: 768px) {
  .address-body{
    padding-left: 5px;
  }
  .address-complete span{
    color: #7D7D7F;
    font-size: 12px;
  }
  .address-image img{
    height: 50px;
  }

  .address-image{
    padding: 25px 15px;
  }

  .address-remove{
    padding: 40px 15px;
  }

  #address-list{
    padding-bottom: 50px;
  }
}

.add-card-container .colmeia-button,
.add-card-container .colmeia-button-cancel{
  /*padding-top: 10px;*/
  margin: 40px auto;
}

.add-card-container,
.select-card-container{
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.33);
  -moz-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.33);
  box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.33);

  padding: 35px;
  margin: 20px auto;
  margin-top: 40px;
  margin-bottom: 50px;
}

.card-error{
  text-align: center;
  font-size: 16px;
  color: gray;
  margin-top: 25px;
}

.card-info{
  border: 1px solid #FF8008;
  -webkit-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.33);
  -moz-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.33);
  box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.33);
  border-radius: 2px;
  margin-bottom: 20px;
  background-color: #FFFF;
  height: 100px;
  transition: all 0.2s;
  padding: 20px;
}

.card-info:hover{
  -webkit-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.7);
  -moz-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.7);
  box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.7);
  cursor: pointer;
}

.card-info .bandeira{
  display: inline-block;
}

.card-info .bandeira img{
  height: 55px;
  margin-bottom: 30px;
}

.card-info .info{
  display: inline-block;
  padding-left: 60px;
}

@media only screen and (max-width: 700px) {
  .card-info .info{
    padding-left: 5px;
  }

  .card-info .final{
    font-size: 18px; 
  }
}

.card-info .final{
  font-weight: bold;
  font-size: 20px;
}

.select-card-container .btn.colmeia-button{
  margin-bottom: 50px;
}
