*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
}

.sub-nav {
    background-color: #ff8008;
    padding-bottom: 20px;
    position: relative;
    height: 65px;
}

.sub-nav img {
    width: 20px;
    margin-left: 10px;
}

.sub-nav a.mode-toggle {
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    /* margin-left: 60px; */
    position: absolute;
    top: 0px;
    left: 75px;
}

.sub-nav .mode-selector {
    display: none;
    position: absolute;
    top: 50px;
    left: 60px;
    background-color: #fff;
    border: 1px solid #ff8008;
    width: 200px;
    height: auto;
    z-index: 999;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.mode-selector a:link,
.mode-selector a:visited {
    color: #333;
    font-size: 18px;
    display: block;
    padding: 10px 15px;
    transition: 0.1s all;
    text-decoration: none;
}

.mode-selector a:hover,
.mode-selector a:active {
    background-color: #ff8008;
    color: #fff;
    text-decoration: none;
}

.agendar-plus:link,
.agendar-plus:visited {
    position: absolute;
    top: 35px;
    right: 25px;
    background-color: #333;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-decoration: none;
    display: block;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
    transition: 0.3s all;
}

.agendar-plus::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '+';
    font-size: 32px;
    font-family: sans-serif;
    color: #fff;
    text-align: center;
}

.agendar-plus:focus,
.agendar-plus:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35);
}

#main {
    height: auto;
    min-height: 600px;
    background-color: #fff;
}

.aulas-container {
    width: 100%;
    height: 100%;
    min-height: 600px;
    padding: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.aula-card {
    width: 320px;
    height: 410px;
    border: 1px solid #ff8008;
    margin-bottom: 40px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    position: relative;
    margin-right: 20px;
}

.aula-card.aula-card-cancelada {
    border: 1px solid #e93112;
}

.aula-content {
    display: flex;
    padding: 30px 20px 5px 20px;
    position: relative;
    width: 100%;
    height: 100%;
}

.icon-container {
    width: 80px;
}

.info-container {
    width: 220px;
    padding-left: 15px;
    padding-top: 10px;
}

.img-container {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 1.5px solid #ff8008;
}

.img-container img {
    position: absolute;
    top: 0;
    left: 0;
}

.aula-prof {
    font-size: 21px;
    color: #333;
    font-weight: 500;
}

.aula-prof-rating {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #7d7d7f;
    overflow: hidden;
    margin-bottom: 10px;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

.empty-stars,
.full-stars {
    width: 100%;
}

.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #ff8008;
}
.aula-prof-rating .empty-stars:before,
.aula-prof-rating .full-stars:before {
    content: '\2605\2605\2605\2605\2605';
    font-size: 19px;
}

hr.card-separator {
    border-top: 1px solid #ff8008;
    width: 60px;
    margin-left: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}

.aula-horario,
.aula-disciplina,
.aula-bairro,
.card-final {
    font-size: 16px;
}

.aula-horario .horario-hora {
    color: #ff8008;
}

.aula-disciplina .disciplina-nivel {
    color: #ff8008;
}

.aula-endereco,
.aula-preco {
    color: #ff8008;
    font-size: 14px;
}

.card-numero {
    display: inline-block;
    margin-right: 30px;
}

.aula-cartao img {
    width: 40px;
}

.cancelar-button,
.cancelar-button:link,
.cancelar-button:visited {
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: #e93112;
    font-size: 16px;
    transition: 0.3s all;
    margin: 0;
}

.cancelar-button:hover,
.cancelar-button:active {
    color: #e20411;
}

.cancel-free-template,
.cancel-paid-template,
.cancel-success-template {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    width: 75%;
    transform: translate(-50%, -50%);
}

.cancel-header {
    color: #ff8008;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}

.cancel-message {
    color: #333;
    margin-bottom: 10px;
    font-size: 16px;
}

.voltar-free,
.cancelar-free,
.voltar-paid,
.cancelar-paid,
.cancel-success,
.cancel-success-historico {
    display: inline-block;
    font-size: 17px;
}

.vertical-separator {
    width: 1px;
    height: 10px;
    background-color: #95989a;
    margin: 0px 15px;
    display: inline-block;
    font-size: 17px;
}

.voltar-free:link,
.voltar-free:visited,
.voltar-paid:link,
.voltar-paid:visited,
.cancel-success:link,
.cancel-success:visited {
    color: #06844f;
    transition: 0.3s all;
}

.voltar-free:hover,
.voltar-free:active,
.voltar-paid:hover,
.voltar-paid:active,
.cancel-success:hover,
.cancel-success:active {
    color: #61af34;
}

.cancelar-free:link,
.cancelar-free:visited,
.cancelar-paid:link,
.cancelar-paid:visited,
.cancel-success-historico:link,
.cancel-success-historico:visited {
    color: #e93112;
    transition: 0.3s all;
}

.cancelar-free:hover,
.cancelar-free:active,
.cancelar-paid:hover,
.cancelar-paid:active,
.cancel-success-historico:hover,
.cancel-success-historico:active {
    color: #e20411;
}

.sem-aulas-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 40px;
}

.sem-aulas-container img {
    width: 80px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.sem-aulas-container p {
    color: #333;
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
}

.sem-aulas-container a:link,
.sem-aulas-container a:visited,
.sem-aulas-container a:active {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    background-color: #ff8008;
    display: block;
    margin: 10px auto;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    width: 300px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
    border-radius: 2px;
    transition: 0.3s all;
}

.sem-aulas-container a:hover {
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.32);
}

/* perfil */
.perfil-container {
    margin: 90px 0;
    display: none;
}

.aluno-nome,
.aluno-email,
.aluno-telefone,
.perfil-header {
    margin: 0;
    padding: 0;
}

.aluno-nome {
    font-size: 32px;
    color: #333;
    font-weight: normal;
    margin-bottom: 10px;
}

.aluno-email {
    font-size: 26px;
    color: #ff8008;
    margin-bottom: 5px;
}

.aluno-telefone {
    font-size: 26px;
    color: #95989a;
    margin-bottom: 30px;
}

.perfil-header {
    color: #ff8008;
    font-size: 28px;
    margin: 20px 0;
    margin-top: 70px;
    font-weight: normal;
}

.perfil-img-box {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 1.5px solid #ff8008;
    margin: 0 auto;
    cursor: pointer;
}

.perfil-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: 0.3s all ease;
}

.perfil-img-box::after {
    content: url(/img/white-camera.png);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    opacity: 0;
    transition: all 0.3s ease;
}

.perfil-img-box:hover .perfil-img {
    transform: scale(1.15);
    opacity: 0.8;
}

.perfil-img-box:hover::after {
    opacity: 1;
}

.info-endereco,
.info-pagamento,
.info-observacao,
.info-codigo {
    margin-bottom: 40px;
}

.info-card,
.text-card .form-control {
    width: 80%;
    min-height: 50px;
    overflow-wrap: break-word;
    border: 1.5px solid #ff8008;
    background-color: #fff;
    color: #333;
    padding: 14px;
    text-align: left;
    margin-top: 10px;
    display: inline-block;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    transition: 0.3s all;
}

.delete-icon {
    width: 25px;
    height: 25px;
    margin-top: 25px;
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
}

.delete-icon img {
    width: 100%;
    height: 100%;
}

.cartoes-container .info-card img {
    height: 25px;
    margin-left: 20px;
    display: inline-table;
    vertical-align: middle;
}

.enderecos-container .colmeia-button,
.cartoes-container .colmeia-button {
    margin-top: 20px;
    font-size: 15px;
}

#novo-endereco,
#novo-cartao {
    margin-top: 20px;
}

#novo-endereco label,
#novo-cartao label {
    font-weight: normal;
}

#novo-endereco .form-control,
#novo-cartao .form-control,
#novo-endereco .select {
    width: 100%;
    height: 45px;
    border: 1.5px solid #ff8008;
    background-color: #fff;
    color: #333;
    padding: 10px;
    margin-top: 10px auto;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    transition: 0.3s all;
}

.empty-error {
    text-align: left;
    font-size: 16px;
    color: gray;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .aulas-container {
        padding: 5px;
        margin-top: 145px;
    }

    .sub-nav {
        margin-top: 55px;
        padding: 15px 0px;
        position: fixed;
        width: 100%;
        z-index: 5;
    }

    .aula-card {
        margin: 10px auto;
    }

    .agendar-plus:link,
    .agendar-plus:visited {
        top: 20px;
        right: 45px;
    }

    .sub-nav .mode-selector {
        top: 45px;
        left: 5px;
    }

    nav#mainNav.navbar {
        box-shadow: none;
        border-bottom: none;
    }

    .sub-nav a.mode-toggle {
        margin-left: 5px;
        position: relative;
        top: 0;
        left: 0;
    }

    .perfil-container {
        margin-top: 150px;
    }

    .aluno-nome,
    .aluno-email,
    .aluno-telefone,
    #enderecos-header,
    #cartoes-header {
        text-align: center;
    }

    #enderecos-header,
    #cartoes-header {
        font-size: 32px;
    }

    .enderecos-container,
    .cartoes-container {
        text-align: center;
    }

    .info-card,
    .text-card .form-control {
        width: 85%;
    }

    .aluno-nome {
        margin-top: 30px;
    }

    #novo-cartao label,
    #novo-endereco label {
        text-align: left;
        font-size: 18px;
    }
}
