html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 25px;
  margin: 0;
  font-family: 'Raleway';
}

html,
body {
  overflow-x: hidden;
}

#particles-js {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -999;
  top: 0;
  left: 0;
}

.header-img {
  margin: 40px auto;
  display: block;
  max-width: 80%;
  width: 250px;
}

.header-text {
  margin: 30px auto;
  margin-top: 40px;
  text-align: left;
  font-size: 24px;
  color: #303030;
}

.sub-header-text {
  font-weight: normal;
  margin: 40px auto;
  text-align: center;
  font-size: 20px;
}

.professor-card {
  border: 1px solid #e3e3e3;
  border-radius: 9px;
  margin-bottom: 20px;
  background-color: #fff;
  transition: all 0.3s;
  padding: 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  display: flex;
}

.professor-card .left-container {
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.professor-card .middle-container {
  text-align: left;
  flex: 2;
}

.professor-card .right-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.professor-card .professor-image,
.professor-selecionado-header .psh-image,
.professor-selecionado .psa-image,
.pscm-img {
  width: 100px;
  height: 100px;
  border: 4px solid #e3e3e3;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  display: inline-block;
  flex: 0 1 100px;
}

.professor-card .professor-image img,
.professor-selecionado-header .psh-image img,
.professor-selecionado .psa-image img,
.pscm-img img {
  position: absolute;
  top: 0;
  left: 0;
}

.professor-card .professor-name,
.professor-selecionado-header .psh-name,
.pscm-name {
  font-size: 24px;
  font-weight: bold;
  color: #303030;
  margin-left: 5px;
}

.professor-card .professor-disciplinas-title,
.professor-selecionado-header .psh-title {
  font-size: 16px;
  color: #303030;
  margin-top: 10px;
  margin: 10px 0px 5px 5px;
}

.professor-card .professor-displinas,
.professor-selecionado-header .psh-disciplinas {
  padding: 10px 0;
}

.professor-card .professor-disciplina,
.professor-selecionado-header .psh-disciplina,
#hidden-disciplinas .psh-disciplina {
  display: inline-block;
  border: 1px solid #ff8008;
  background-color: #fff;
  color: #ff8008;
  padding: 3px 13px;
  margin: 3px;
  border-radius: 5px;
  font-size: 12px;
}

.professor-card .professor-rating-value,
.professor-selecionado-header .psh-rating-value,
.professor-avaliacao .psa-rating-value,
.pscm-rating .pscm-rating-value {
  display: inline-block;
  font-size: 20px;
  color: #989898;
  font-weight: bold;
  margin-right: 5px;
}

.professor-card .professor-rating-img,
.professor-selecionado-header .psh-rating-img,
.professor-avaliacao .psa-rating-img,
.pscm-rating .pscm-rating-img {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: bottom;
}

.professor-card .professor-escolher-button,
.caixa-busca #action-button,
#mobile-action-button {
  background-color: #ff8008;
  color: #fff;
  border: 2px solid #ff8008;
  font-size: 18px;
  padding: 5px 25px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: 0.3s all;
}
.caixa-busca #action-button,
#mobile-action-button {
  display: block;
  font-size: 20px;
  padding: 8px 0;
}

.professor-card .professor-escolher-button:hover,
.caixa-busca #action-button:hover,
#mobile-action-button:hover {
  background-color: #fff;
  color: #ff8008;
}

.caixa-busca {
  /* position: absolute; */
  /* top: 90px; */
  min-width: 400px;
  width: auto;
  min-height: 490px;
  height: auto;
  margin-top: 90px;
  border-radius: 9px;
  border: 1px solid #e3e3e3;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  padding: 30px;
  transition: 0.3s all;
  z-index: 1;
}

.caixa-busca .caixa-busca-title {
  font-size: 20px;
  color: #303030;
  text-align: left;
  margin-bottom: 25px;
  margin-left: 10px;
}

.caixa-busca .caixa-busca-title::before {
  content: '';
  display: block;
  position: absolute;
  top: 33px;
  left: 15px;
  height: 2px;
  width: 75px;
  background-color: #ff8008;
}

.caixa-busca select,
.caixa-busca input,
.horario-mobile select,
.horario-mobile input {
  outline: none;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  height: 35px;
  box-shadow: none;
  padding-left: 15px;
  font-size: 14px;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(/img/dropdown-arrow.png) no-repeat 95% 50%;
  background-size: 15px;
}

#input-data.form-control[readonly] {
  background-color: #fff;
  opacity: 1;
  cursor: pointer;
}

.caixa-busca label {
  font-weight: 400;
  font-size: 17px;
}

.caixa-busca select:focus,
.horario-mobile select:focus,
.caixa-busca input:focus,
.horario-mobile input:focus {
  box-shadow: none;
  /* border-color: #ff8008; */
}

.preco-aula {
  color: #ff8008;
  font-size: 40px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
}

.professor-voltar {
  color: #ff8008;
  font-size: 17px;
  cursor: pointer;
  margin-bottom: 20px;
}

.professor-voltar:hover {
  text-decoration: underline;
}

.professor-selecionado {
  margin-top: 45px;
}

.professor-selecionado-header,
.professor-selecionado-info,
.professor-avaliacao {
  border: 1px solid #e3e3e3;
  border-radius: 9px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}

.professor-selecionado-header {
  padding: 20px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.psh-left {
  flex: 1;
}

.psh-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.professor-selecionado-header .psh-image {
  width: 150px;
  height: 150px;
  flex: 0 1 150px;
}
.professor-selecionado-header .psh-image img {
  width: 100%;
}

.professor-selecionado-header .psh-rating {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.professor-selecionado-header .psh-title {
  margin: 25px 0px 5px 5px;
}

.professor-selecionado-info {
  padding: 15px;
  margin-top: 20px;
  padding-top: 0;
}

.professor-selecionado-info .info-title {
  font-size: 22px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 25px;
  margin-left: 10px;
  position: relative;
}

.professor-selecionado-info .info-title::before {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: -10px;
  border-bottom: 2px solid #ff8008;
  height: 100%;
  width: 75px;
}

.professor-selecionado-info .professor-curriculo,
.professor-selecionado-info .professor-bairros {
  font-size: 16px;
}

.professor-selecionado-info .professor-niveis {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.professor-selecionado-info .professor-nivel {
  display: inline-block;
  border: 1px solid #ff8008;
  background-color: #fff;
  color: #ff8008;
  padding: 5px 15px;
  margin: 0px 10px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 5px;
}

.professor-selecionado-info .professor-dias {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.professor-selecionado-info .professor-dia {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #989898;
  color: #989898;
  background-color: #fff;
  font-size: 18px;
  font-weight: 500;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
}

.professor-selecionado-info .professor-dia-active {
  border: 2px solid #ff8008;
  background-color: #ff8008;
  color: #fff;
}

.professor-avaliacoes {
}

.professor-avaliacao {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.professor-avaliacao .psa-left {
  flex: 1;
}

.professor-selecionado .psa-image {
  width: 75px;
  height: 75px;
}

.professor-selecionado .psa-image img {
  width: 100%;
}

.professor-avaliacao .psa-middle {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.professor-avaliacao .psa-author {
  font-size: 18px;
  font-weight: 500;
  font-size: #303030;
  margin-bottom: 15px;
}

.professor-avaliacao .psa-avaliacao {
  font-size: 16px;
  color: #989898;
  margin-bottom: 35px;
}
.professor-avaliacao .psa-info {
  font-size: 14px;
  color: #c2c2c2;
}

.professor-avaliacao .psa-right {
  flex: 1;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.professor-avaliacao .psa-date {
  font-size: 14px;
  color: #c2c2c2;
}

.mobile-toggle {
  width: 100%;
  height: 45px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  background-color: #fff;
  color: #c2c2c2;
  background: url(/img/dropdown-arrow.png) no-repeat 95%;
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 20px;
  margin-bottom: 20px;
}

.busca-erro {
  text-align: center;
  padding: 20px;
  margin-top: 80px;
}

.erro-title {
  font-size: 36px;
}

.erro-subtitle {
  font-size: 22px;
  margin-top: 30px;
  color: gray;
}

#caixa-horarios {
  width: 326px;
  border: 2px solid #ff8008;
  border-top: 0;
  min-height: 200px;
  height: auto;
  padding: 20px;
}

#caixa-horarios .colmeia-button {
  margin-bottom: 10px;
}

#caixa-horarios p {
  margin-left: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

#horario-erro {
  text-align: center;
  margin-bottom: 20px;
  color: #c70606;
}

.professor-container .colmeia-button {
  font-weight: 500;
}

.professores .colmeia-button {
  font-size: 16px;
}

.mobile-title {
  text-align: center;
  font-size: 28px;
  color: #ff8008;
  font-weight: bold;
  margin-bottom: 20px;
}

.professor-selecionado-mobile {
  padding: 20px;
}

.professor-selecionado-container-mobile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.professor-selecionado-container-mobile .prof-foto {
  margin: 0;
  padding: 0;
  width: 80px;
  height: 80px;
}

.professor-selecionado-container-mobile .prof-nome {
  margin: 0;
  padding: 0;
}

.professor-selecionado-container-mobile .rating .empty-stars:before,
.professor-selecionado-container-mobile .rating .full-stars:before,
.professor-selecionado-container-mobile .prof-nome {
  font-size: 18px;
}

.professor-selecionado-container-mobile .nome-rating {
  margin-left: 20px;
  width: 175px;
}

.perfil-container {
  padding: 0px;
  border-top: none;
}

.horario-title {
  text-align: center;
  color: #ff8008;
  font-size: 28px;
  margin-bottom: 25px;
  margin-top: 20px;
}

.horario-mobile label {
  font-weight: 400;
  font-size: 17px;
}

.perfil-toggle.colmeia-button {
  border-radius: 7px !important;
}

#hidden-disciplinas {
  display: none;
}
.pscm-body {
  margin-left: 20px;
  margin-bottom: 10px;
  flex: 2;
}

.pscm-name {
  margin-bottom: 20px;
}

.pscm-img img {
  width: 100%;
}

#datetimepicker {
  position: relative;
}

@media screen and (max-width: 768px) {
  .professor-card {
    padding: 10px 20px;
  }

  .professor-card .professor-disciplinas,
  .professor-card .professor-disciplinas-title {
    display: none;
  }

  .professor-card .middle-container {
    /* flex: 1; */
  }

  .professor-card .professor-image {
    width: 75px;
    height: 75px;
    flex: 0 1 75px;
  }

  .professor-card .professor-name {
    font-size: 15px;
    margin-left: 20px;
  }

  /* .professor-card .professor-escolher-button {
        float: left;
    } */

  .professor-card .professor-escolher-button {
    font-size: 14px;
    color: #ff8008;
    font-weight: bold;
    background-color: #fff;
    border: 0;
    padding: 0;
    margin-left: -15px;
  }

  .professor-card .professor-escolher-button::after {
    content: '›';
    font-size: 15px;
    margin-left: 3px;
  }

  .professor-card .professor-rating-img {
    vertical-align: bottom;
    width: 15px;
    height: 15px;
  }

  .professor-card .professor-rating-value {
    font-size: 16px;
  }

  .header-text {
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 22px;
  }

  .caixa-busca {
    position: relative;
    min-width: 100%;
    padding: 30px;
    margin-top: -20px;
    margin-bottom: 50px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: 2px solid #ff8008;
  }

  .caixa-busca .caixa-busca-title,
  .caixa-busca .caixa-busca-title::before {
    display: none;
  }

  .filter-container {
    display: none;
  }

  .caixa-busca select,
  .caixa-busca input,
  .horario-mobile select,
  .horario-mobile input {
    height: 45px;
    padding-left: 25px;
  }

  .info-container {
    margin-top: 100px;
  }

  .header-img {
    display: none;
  }

  .mobile-title {
    margin-bottom: 30px;
  }

  .professor-selecionado-info {
    border-top: none;
    margin-top: 0;
  }
  .professor-selecionado-info .professor-dias {
    justify-content: space-between;
  }

  .professor-selecionado-info .professor-dia {
    margin: 0;
  }

  #hidden-disciplinas {
    display: block;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .professor-selecionado-header {
    flex-direction: column;
  }

  .professor-selecionado-header .psh-image {
    margin-bottom: 15px;
  }
}
