.info-container h1 {
  font-weight: bold;
  font-size: 36px;
  color: #303030;
  text-align: center;
}

.info-container h2 {
  font-weight: 500;
  font-size: 26px;
  color: #989898;
  margin-bottom: 75px;
  text-align: center;
}

.info-container h3 {
  font-weight: normal;
  font-size: 17px;
  color: #303030;
  margin-top: 45px;
  margin-bottom: 50px;
  text-align: center;
}

.professor-card {
  display: block;
}

.professor-card .top-container {
  display: flex;
}

.professor-card .middle-container {
  margin-left: 10px;
}
.professor-card .middle-curriculo {
  margin: 30px 0;
}

.professor-card .middle-curriculo .curriculo-title {
  font-size: 20px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 25px;
  margin-left: 10px;
  position: relative;
}

.professor-card .middle-curriculo .curriculo-title::before {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: -10px;
  border-bottom: 2px solid #ff8008;
  height: 100%;
  width: 75px;
}

.professor-card .curriculo-body {
  font-size: 16px;
  color: #8b8b8b;
}

.professor-card .bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.professor-card .professor-location {
  margin: 5px 0;
  color: #303030;
}

.professor-card .professor-location-img {
  width: 14px;
  margin-right: 5px;
}
.professor-selecionado-header .psh-rating-value {
  font-size: 26px;
}

.professor-selecionado-header .psh-rating-img {
  width: 30px;
  height: 30px;
}

.professor-selecionado-container-mobile {
  justify-content: space-evenly;
  padding: 5px;
  margin-bottom: 20px;
}

#professores2 {
  margin-top: 105px;
}

/* conteudo containers */

.bottom-section {
  margin: 70px auto;
  background-color: #f5f5f5;
  padding: 50px 0;
}

.bottom-section h2 {
  font-weight: bold;
  font-size: 42px;
  color: #ff8008;
  text-align: center;
}

.bottom-section h3 {
  font-weight: 500;
  font-size: 28px;
  color: #303030;
  margin-bottom: 100px;
  text-align: center;
}

.bottom-section h4 {
  font-weight: 400;
  font-size: 18px;
  color: #ff8008;
  margin: 15px 0 30px 0;
  text-align: center;
}

.bottom-section p {
  font-weight: 400;
  font-size: 17px;
  color: #303030;
  text-align: center;
}

.bottom-section .block-icon {
  display: block;
  width: 50px;
  margin: 0 auto;
}

.bottom-section .block {
  position: relative;
}

.bottom-section .block .line1,
.bottom-section .block .line2 {
  position: absolute;
  width: 150px;
  top: 20px;
}

.bottom-section .block .line1 {
  right: -100px;
}

.bottom-section .block .line2 {
  right: 250px;
}

.ver-mais {
  color: #ff8008;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
}

#avaliacao {
  padding: 50px 0;
}

#avaliacao h2 {
  font-weight: bold;
  font-size: 42px;
  color: #ff8008;
  text-align: center;
}

#avaliacao h3 {
  font-weight: 500;
  font-size: 28px;
  color: #303030;
  margin-bottom: 100px;
  text-align: center;
}

.avaliacao-block {
  /* remover height */
  /* height: 300px; */
  width: 100%;
  border: 2px solid #ff8008;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0, 0.2);
  padding: 10px 20px;
}

.avaliacao-rating {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #7d7d7f;
  overflow: hidden;
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
}

.avaliacao-body {
  font-size: 15px;
  margin-bottom: 20px;
}

.avaliacao-sobre {
  font-size: 14px;
  color: #303030;
  margin-bottom: 10px;
  font-weight: bold;
}

.avaliacao-autor {
  color: #ff8008;
  font-size: 14px;
}

.avaliacao-professor-nome {
  display: inline-block;
  width: 70%;
  margin-left: 15px;
  margin-bottom: 10px;
}

.avaliacao-professor-nome-completo {
  color: #ff8008;
  font-size: 15px;
}

.avaliacao-professor-titulo {
  color: #707070;
  font-size: 11px;
}

.avaliacao-img-box {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid #ff8008;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  float: left;
}

.avaliacao-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.avaliacao-location {
  display: inline-block;
  margin-right: 10px;
}

#simple {
  padding: 50px 0;
  /* background-color: #f5f5f5; */
}

#simple h2 {
  font-weight: bold;
  font-size: 42px;
  color: #ff8008;
  text-align: center;
}

#reasons {
  padding: 50px 0;
}

#reasons h2 {
  font-weight: bold;
  font-size: 24px;
  color: #ff8008;
  text-align: left;
  margin-bottom: 30px;
}

#reasons p {
  font-size: 16px;
}

#search {
  padding: 50px 0 100px 0;
}

#search h2 {
  font-weight: bold;
  font-size: 42px;
  color: #303030;
  margin-bottom: 80px;
  text-align: center;
}

#search h3 {
  font-weight: bold;
  font-size: 34px;
  color: #303030;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 10px;
}

.tags-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.search-tag,
.search-tag:link,
.search-tag:visited {
  background-color: #ff8008;
  border-radius: 20px;
  padding: 5px 15px;
  color: white;
  font-size: 15px;
  margin: 5px;
  cursor: pointer;
  display: inline-block;
  transition: 0.2s all;
  border: 2px solid #ff8008;
  text-decoration: none;
}

.search-tag:hover {
  color: #ff8008;
  background-color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .professor-card {
    padding: 20px;
  }

  .info-container h1 {
    margin-top: 100px;
    font-size: 28px;
  }

  .info-container h2 {
    font-size: 22px;
  }

  .info-container h3 {
    margin-bottom: 50px;
  }

  .bottom-section h2 {
    font-size: 32px;
  }

  .bottom-section h3 {
    font-size: 26px;
  }

  .bottom-section h4 {
    margin-bottom: 15px;
  }

  .bottom-section p {
    margin-bottom: 30px;
  }

  #avaliacao h2 {
    font-size: 32px;
  }

  #avaliacao h3 {
    font-size: 26px;
  }

  #simple h2 {
    font-size: 32px;
  }

  #reasons h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  #reasons p {
    text-align: left;
  }

  #search h2 {
    font-size: 32px;
  }

  .bottom-section .block .line1,
  .bottom-section .block .line2 {
    display: none;
  }

  #professores2 {
    margin-top: 0;
  }

  .professor-selecionado .psa-image .pscm-img {
    width: 75px;
    height: 75px;
  }

  .pscm-name {
    margin-left: 0;
  }

  .professor-card .professor-name {
    font-size: 17px;
    margin-left: 0;
  }
  .professor-profile-title {
    margin-top: 120px;
  }

  .professor-selecionado-header {
    margin-bottom: 20px;
  }
}

.professor-profile-title {
  font-weight: bold;
  font-size: 42px;
  color: #ff8008;
  text-align: center;
}
