html,
body {
  width: 100%;
  height: 100%;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
}

::-moz-selection {
  text-shadow: none;
  background: #FFC836;
}
::selection {
  text-shadow: none;
  background: #FFC836;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #FFC836;
}

.colmeia-button{
  margin: 0 auto;
  width: 100%;
  background-color: #FF8008;
  outline: none;
  border: none;
  color: #FAFAFA;
  font-size: 16px;
  border-radius: 0px;
  height: 3em;
  padding-top: 15px;
  margin-top: 20px;
  /*-webkit-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.55);
  -moz-box-shadow:    0px 1px 10px 1px rgba(0,0,0,0.55);
  box-shadow:         0px 1px 10px 1px rgba(0,0,0,0.55);*/

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.colmeia-button:hover{
  background-color: #ff6808;
  box-shadow: none;
  color: #FAFAFA;
  /*-webkit-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.55);
  -moz-box-shadow:    0px 1px 10px 1px rgba(0,0,0,0.55);
  box-shadow:         0px 1px 10px 1px rgba(0,0,0,0.55);*/
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.colmeia-button:active,
.colmeia-button.active,
.colmeia-button:focus,
.colmeia-button:active:focus{
  background-color: #ff5208;
  color: #FAFAFA;
}

.colmeia-button-cancel{
  margin: 0 auto;
  width: 100%;
  background-color: #7D7D7F;
  outline: none;
  border: none;
  color: #FAFAFA;
  font-size: 16px;
  border-radius: 0px;
  height: 3em;
  padding-top: 15px;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.colmeia-button-cancel:active,
.colmeia-button-cancel.active,
.colmeia-button-cancel:focus,
.colmeia-button-cancel:active:focus,
.colmeia-button-cancel:hover{
  background-color: #b1b1b3;
  box-shadow: none;
  color: #FAFAFA;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.busca-container{
  height: auto;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
      url('../img/boy-1986107_1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  padding: 80px 0;
}


.busca-container h2{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 56px;
  font-weight: bold;
  color: #FAFAFA;
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 1);
}

.busca-container label{
  text-align: center;
  color: #fafafa;
  font-family: 'Raleway', sans-serif;
}

.busca-container select{
  width: 100%;
  border-radius: 0;
  border: none;
  /*border: 1px solid rgba(255, 82, 8, 1);*/
  outline: none;
  background-color: rgba(250, 250, 250, 1);
  height: 3em;
}

.professores-encontrados{
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.33);
  -moz-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.33);
  box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.33);

  padding: 35px;
  margin-top: 50px;
  margin-bottom: 80px;
  /*min-height: 600px;*/
  height: auto;
}

.resultados-container{
  background-color: #fafafa;
}

.resultados-container h2{
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  margin-top: 60px;
  margin-bottom: 20px;;
}

.resultados-container p{
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  color: #7D7D7F;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 80px;
}

.professor-container{
  min-height: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  transition: 0.3s all;
  cursor: pointer;
  border-radius: 10px;
  color: #111;
  padding: 15px 0;
}

.professor-container:hover{
  box-shadow: 0px 0px 8px 0px rgba(255, 104, 8,0.5);
  color: #ff6808;
  background-color: #fafafa;
}

.professor-container:hover i{
  color: #111;
}

.professor-info i{
  color: rgba(255, 128, 8, 1);
  margin-right: 10px;
  transition: 0.3s all;
}

hr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

.professor-foto{
  display: flex;
  width: 20%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
.professor-foto img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid rgba(255, 128, 8, 0.2);
}

.professor-info{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}

.professor-info .professor-nome{
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

.professor-info .professor-materias{
  text-align: left;
  font-size: 18px;
  font-weight: normal;
}

.professor-info .professor-bairros{
  text-align: left;
  font-size: 18px;
  font-weight: normal;
}


@media (max-width: 768px) {

  .professor-info{
    margin-left: 60px;
  }
  .professor-info .professor-nome{
    font-size: 18px;
  }

  .professor-info .professor-materias{
    font-size: 16px;
  }

  .professor-info .professor-bairros{
    font-size: 16px;
  }
  /*.professor-foto img{
    width: 80px;
    height: 80px;
  }*/
}

.professor-nota{
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #7D7D7F;
  overflow: hidden;
  margin-bottom: 10px;
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
}
.empty-stars, .full-stars{
  width: 100%;
}

.full-stars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #FF8008;
}
.empty-stars:before, .full-stars:before {
  content:"\2605\2605\2605\2605\2605";
  font-size: 24px;
}

.nao-encontrado img{
  display: block;
  text-align: center;
  margin: 20px auto;
  margin-bottom: 40px;
  width: 100px;
  height: 100px;
}

.nao-encontrado p{
  text-align: center;
  font-size: 18px;
  color: #7D7D7F;
}
