html,
body {
  width: 100%;
  height: 100%;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body{
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
}

::-moz-selection {
  text-shadow: none;
  background: #FFC836;
}
::selection {
  text-shadow: none;
  background: #FFC836;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  -webkit-tap-highlight-color: #FFC836;
}

#particles-js {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -999;
  top: 0;
  left: 0;
}

.professor-selecionado{
  background-color: white;
  -webkit-box-shadow: 0px 3px 40px rgba(0,0,0,0.15);
  -moz-box-shadow:    0px 3px 40px rgba(0,0,0,0.15);
  box-shadow:         0px 3px 40px rgba(0,0,0,0.15);
  margin-bottom: 100px;
}

.prof-nome {
  font-size: 36px;
  margin-top: 45px;
}

.rating{
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #7D7D7F;
  overflow: hidden;
  margin-bottom: 10px;
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
}

.empty-stars, .full-stars{
  width: 100%;
}

.full-stars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #FF8008;
}
.rating .empty-stars:before, 
.rating .full-stars:before {
  content:"\2605\2605\2605\2605\2605";
  font-size: 32px;
}

#agendar-top {
  color: #ff8008;
  font-size: 18px;
  margin-bottom: 20px;
  display: block;
  border-radius: 15px;
  background: #ff8008;
  color: white;
  padding: 4px 10px;
  font-size: 14px;
  width: 110px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

#agendar-bottom {
  display: block;
  margin: 30px auto;
  text-decoration: none;
  outline: none;
  font-size: 18px;
  text-align: center;
  border-radius: 0px;
  cursor: pointer;
  width: 100%;
  height: 50px;
  line-height: 50px;
  transition: all 0.3s;
  color: #fff;
  background-color: #FF8008;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}


.prof-foto {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  border: 3px solid #ff8008;
}

.prof-foto img {
  position: absolute;
  top: 0;
  left: 0;
}

.curriculo-title,
.disciplina-title,
.nivel-title,
.bairros-title,
.dias-title {
  font-size: 32px;
  color: #ff8008;
  text-align: left;
  margin-bottom: 20px;
}

.curriculo-text,
.disciplina-text,
.nivel-text,
.bairros-text,
.dias-text {
  font-size: 16px;
  text-align: left;
  color: #333;
  margin-bottom: 40px;
  padding-right: 30px;
}

.curriculo-icon,
.disciplina-icon,
.nivel-icon,
.bairros-icon,
.dias-icon {
  text-align: right;
}

.curriculo-icon img,
.disciplina-icon img,
.nivel-icon img,
.bairros-icon img,
.dias-icon img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 768px) {
    
  .professor-selecionado {
    padding: 20px 10px;
    margin-top: 80px;
  }

  .prof-nome,
  #agendar-top,
  .curriculo-icon, 
  .disciplina-icon, 
  .nivel-icon, 
  .bairros-icon, 
  .dias-icon,
  .curriculo-title, 
  .disciplina-title, 
  .nivel-title, 
  .bairros-title, 
  .dias-title,
  .curriculo-text, 
  .disciplina-text, 
  .nivel-text, 
  .bairros-text, 
  .dias-text {
    text-align: center;
  }

  #agendar-top {
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .curriculo-text,
  .disciplina-text,
  .nivel-text,
  .bairros-text,
  .dias-text {
    padding-right: 0;
  }
  
  .rating {
    width: auto;
    display: block;
    text-align: center;
  }
}