*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
  position: relative;
  overflow-x: hidden;
}

.header {
  min-height: 80vh;
  background-image: url('/img/celulares-professor.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #303030;
  margin-top: 50px;
  background-position-y: -60px;
  padding-bottom: 20px;
}

.header__title {
  font-size: 38px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 35px;
}

.header__subtitle {
  font-size: 24px;
  margin-bottom: 40px;
}

.form {
  display: block;
  margin: 0;
  background-color: #fff;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 35px;
}

.form__title {
  font-weight: bold;
  font-size: 28px;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 20px;
}

.form__title::before {
  position: absolute;
  left: 0;
  content: '';
  bottom: 0px;
  height: 3px;
  width: 20%;
  background-color: #ff8008;
}

.form__subtitle {
  font-size: 17px;
  margin-bottom: 20px;
}

.form__input {
  display: block;
  width: 100%;
  border-radius: 27px;
  border: 1px solid #e3e3e3;
  outline: none !important;
  padding: 10px;
  padding-left: 40px;
  margin-bottom: 20px;
  font-size: 16px;
}

.form__button {
  text-decoration: none;
  color: #fff;
  background-color: #ff8008;
  border-radius: 40px;
  padding: 10px;
  display: block;
  text-align: center;
  font-size: 21px;
  border: 2px solid #ff8008;
  transition: 0.3s all;
  margin: 0 auto;
  margin-top: 30px;
  width: 75%;
  font-weight: bold;
}
.form__button:hover {
  background-color: #fff;
  color: #ff8008;
}
@keyframes buttonAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.form__link,
.form__link:active,
.form__link:visited,
.form__link:link {
  text-decoration: underline;
  color: #ff8008;
}

.form__checkbox {
  font-size: 15px;
  margin-top: 10px;
}

.form__login {
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
}

.form__login-button {
  cursor: pointer;
  text-decoration: underline;
  color: #ff8008;
}

.logged-in-title {
  text-align: center;
  font-size: 26px;
  color: gray;
  margin-bottom: 45px;
}

.logged-in-button,
.logged-in-button:link,
.logged-in-button:active,
.logged-in-button:visited {
  text-decoration: none;
  color: #fff;
  background-color: #ff8008;
  border-radius: 40px;
  padding: 10px;
  display: block;
  text-align: center;
  font-size: 21px;
  border: 2px solid #ff8008;
  transition: 0.3s all;
  margin: 0 auto;
  margin-top: 30px;
  width: 75%;
  font-weight: bold;
  text-decoration: none;
}

.logged-in-button:hover {
  background-color: #fff;
  color: #ff8008;
  text-decoration: none;
}

.quem-somos {
  background-image: url('/img/quem-somos-professores.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #303030;
  padding: 20px 0;
}

.quem-somos__container {
  background-color: #fff;
  border-radius: 9px;
  padding: 30px 60px 50px 60px;
}

.quem-somos__title {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}

.quem-somos__text {
  font-size: 18px;
}

.simulador {
  background-color: #fcecb4;
  padding: 80px;
}

.simulador__title {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bold;
  /* text-align: center; */
}

.simulador__title--mobile,
.vantagens__heading--mobile {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin: 30px 0;
  text-transform: uppercase;
  display: none;
}

.simulador__label {
  font-size: 18px;
  margin-top: 40px;
}

.simulador__topic {
  font-size: 17px;
}

.simulador__value {
  font-size: 32px;
  font-weight: bold;
  margin-top: 15px;
  letter-spacing: 3px;
}

.simulador__img {
  display: block;
  width: 100px;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.simulador__slider-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: 30px auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f7f7f7;
  transition: 0.3s;
  border: 2px solid #e8a052;
}

.slider:before {
  position: absolute;
  content: '';
  height: 25px;
  width: 25px;
  left: 5px;
  top: 3px;
  background-color: #e8a052;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: #f7f7f7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f7f7f7;
}

input:checked + .slider:before {
  transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 35px;
}

.slider.round:before {
  border-radius: 50%;
}

.simulador__radio-labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
}

.simulador__radio-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.simulador__radio-container-bar {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #e8a052;
  transform: translateY(-50%);
  transform-origin: left;
}

.simulador__radio {
  display: block;
  position: relative;
  cursor: pointer;
  /* font-size: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 20px;
  width: 20px;
  background-color: #f7f7f7;
  border-radius: 50%;
  border: 2px solid #e8a052;
  transition: 0.2s all;
}

.simulador__radio--active {
  background-color: #e8a052;
}

.simulador__radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.simulador__radio-inner {
  position: absolute;
  top: 0;
  left: 0;
}

/* On mouse-over, add a grey background color */
/* .simulador__radio:hover input ~ .simulador__radio-inner {
    background-color: #ccc;
} */

/* When the radio button is checked, add a blue background */
/* .simulador__radio input:checked ~ .simulador__radio-inner {
    background-color: #2196f3;
} */

/* Create the indicator (the dot/circle - hidden when not checked) */
.simulador__radio-inner:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
/* .simulador__radio input:checked ~ .simulador__radio-inner:after {
    display: block;
} */

/* Style the indicator (dot/circle) */
/* .simulador__radio .simulador__radio-inner:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
} */

.simulador__radio-title {
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.vantagens {
  background-color: #f4f4f4;
  padding: 60px 0;
  color: #303030;
}

.vantagens__block {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.vantagens__icon {
  display: block;
  height: 75px;
  margin: 0 auto;
}

.vantagens__title {
  font-size: 17px;
  margin: 15px 0 25px 0;
}

.vantagens__text {
  font-size: 14px;
}

.vantagens__heading {
  text-align: right;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bold;
}

.requirements__title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 150px;
}

.requirements__text {
  font-size: 16px;
}

.requirements__img {
  display: block;
  height: 690px;
  margin: 0 auto;
}

.requirements__link {
  color: #ff8008;
  font-size: 18px !important;
  display: inline-block;
  margin-bottom: 30px;
}

.cta {
  padding: 40px;
  background-color: #fcecb4;
  text-align: center;
  color: #303030;
}

.cta__title {
  font-size: 28px;
  margin-bottom: 20px;
}

.cta__subtitle {
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: medium;
}

.cta__button {
  color: #fff;
  font-size: 21px;
  padding: 10px 60px;
  display: inline-block;
  background-color: #ff8008;
  border-radius: 35px;
  cursor: pointer;
  transition: 0.3s all;
  border: 2px solid #ff8008;
}

.cta__button:hover {
  background-color: #fff;
  color: #ff8008;
}

.faq {
  background-color: #fff;
  color: #303030;
}

.faq__title-container {
  padding-top: 50px;
  padding-bottom: 20px;
}

.faq__title {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 10px;
}

.faq__subtitle {
  font-size: 17px;
}

.faq__content {
  display: flex;
  height: 520px;
}

.faq__left {
  flex: 0 0 65%;
  overflow-y: auto;
}

.faq__title-container,
.faq__buttons,
.faq__questions {
  padding-left: 150px;
}

.faq__right {
  background-image: url(/img/faq-right.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1;
}

.faq__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.faq__button {
  padding: 30px 0;
  font-size: 18px;
  font-weight: normal;
  transition: 0.3s all;
  cursor: pointer;
}

.faq__buttons,
.faq__collapse,
.faq__title-container {
  border-bottom: 1px solid #909090;
}

.faq__button:not(:last-child) {
  margin-right: 55px;
}

.faq__button--active {
  text-decoration: underline;
  /* font-weight: bold; */
}

.faq__question,
.faq__question:link,
.faq__question:active,
.faq__question:visited {
  text-decoration: none;
  color: #303030;
  font-size: 16px;
  display: block;
}

.faq__answer {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;
}

.faq__question::before {
  content: '\203a';
  position: relative;
  top: 0;
  left: 0;
  color: #303030;
  font-size: 38px;
  display: inline-block;
  font-weight: normal;
  margin-right: 15px;
  transition: transform 0.25s linear;
  vertical-align: sub;
}

.faq__question[aria-expanded='true']:before {
  transform: rotate(90deg);
}

.faq__question[aria-expanded='false']:before {
  transform: rotate(0deg);
}

.faq__collapse {
  padding: 3px 30px;
}

@media only screen and (max-width: 768px) {
  .desktop {
    display: none;
  }

  .simulador__title--mobile {
    display: block;
  }
  .vantagens__heading--mobile {
    display: block;
  }

  .header {
    background-image: none;
    margin-top: 100px;
  }

  .header__title {
    font-size: 28px;
  }

  .header__subtitle {
    font-size: 20px;
  }

  .form {
    padding: 15px;
  }

  .form__title {
    font-size: 22px;
  }

  .form__subtitle {
    font-size: 15px;
  }

  .form__input {
    padding: 5px;
    padding-left: 20px;
  }

  .form__button {
    font-size: 16px;
  }

  .form__login {
    font-size: 16px;
    padding-bottom: 15px;
  }

  .quem-somos__container {
    padding: 20px 25px;
  }

  .quem-somos__title {
    font-size: 22px;
  }

  .quem-somos__text {
    font-size: 16px;
  }

  .requirements__img {
    display: none;
  }

  .vantagens__title {
    margin: 15px;
  }

  .vantagens__block {
    margin-bottom: 40px;
  }

  .requirements__title {
    margin-top: 50px;
  }

  .faq__content {
    height: auto;
  }

  .faq__right {
    display: none;
  }

  .faq__left {
    flex: 1;
    overflow: unset;
  }

  .faq__title-container,
  .faq__buttons {
    padding: 25px;
  }

  .faq__questions {
    padding: 0;
  }

  .faq__button {
    margin-right: 0 !important;
    padding: 20px 0;
  }

  .faq__buttons {
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .simulador {
    padding: 0;
  }

  .simulador__slider-container {
    width: 100%;
  }

  .simulador__topic {
    font-size: 19px;
  }

  .simulador__label {
    text-align: center;
    font-size: 22px;
  }

  .simulador__value {
    text-align: center;
    margin-bottom: 50px;
  }

  .vantagens {
    padding-top: 0;
  }
}
