* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    box-sizing: border-box;
    overflow-x: hidden;
}
body {
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

#particles-js {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -999;
}

html,
body {
    width: 100%;
    height: 100%;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

.main-img {
    /* margin-top: 50px; */
}

section#main {
    height: 100vh;
}

.main-img {
    position: relative;
}

.main-img img {
    display: block;
    margin: 0 auto;
    width: 95%;
}

.main-title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    position: absolute;
    margin: 0;
    top: 30px;
    right: 0px;
    background-color: #ff8008;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 50px;
}

.main-title::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 72px;
    right: 0;
    width: 0;
    height: 0;
    border-left: 30px solid #ff8008;
    border-bottom: 30px solid transparent;
}

.main-subtitle {
    text-align: center;
    font-size: 22px;
    color: #303030;
    margin-top: 30px;
    margin-bottom: 20px;
}

.scroll-icon {
    display: block;
    width: 40px;
    margin: 0 auto;
    cursor: pointer;
}

.section-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 80px;
}

.section-subtitle {
    font-size: 22px;
    text-align: left;
    margin-bottom: 20px;
}

.title-orange {
    color: #ff8008;
}

.title-black {
    color: #111;
}

.margin-bottom-l {
    margin-bottom: 100px;
}

section#team {
    margin-bottom: 50px;
}

.team-container {
    text-align: center;
    margin-bottom: 100px;
}

.member-box {
    display: inline-block;
    margin: 0 20px;
    margin-bottom: 120px;
}

.member-img-box {
    width: 150px;
    height: 150px;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    vertical-align: bottom;
    /* box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4); */
}

.member-img-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff8008;
}

.member-img-box:nth-child(odd)::before {
    transform: translate(-8px, -8px) scale(1);
}

.member-img-box:nth-child(even)::before {
    transform: translate(8px, -8px) scale(1);
}

.member-text-box {
    display: inline-block;
    padding: 0 30px;
}

.member-text-box:nth-child(odd) {
    text-align: right;
}

.member-text-box:nth-child(even) {
    text-align: left;
}

.member-img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.member-img-box img {
    -webkit-transition: 0.4s all ease-out;
    transition: 0.4s all ease-out;
}

.member-img-box::before {
    -webkit-transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.member-img-box img:nth-of-type(2) {
    opacity: 0;
}

.member-img-box:hover img:nth-of-type(2) {
    opacity: 1;
}

.member-img-box:hover::before {
    transform: translate(0px, 0px) scale(0.98);
}

.member-title {
    color: #ff8008;
    font-weight: 400;
    font-size: 20px;
}

.member-subtitle {
    font-size: 15px;
    font-weight: normal;
    color: #000;
    font-style: italic;
}

section#valores {
    margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
    section#main {
        height: auto;
        margin-bottom: 150px;
        padding-top: 120px;
    }

    .member-img-box img:nth-of-type(2) {
        opacity: 1;
    }

    .team-container {
        margin-bottom: 50px;
    }

    .member-box {
        display: block;
        margin-bottom: 70px;
        margin: 0 5px;
        margin-bottom: 70px;
    }

    .main-title {
        font-size: 28px;
        padding: 10px 20px;
        top: -40px;
        position: absolute;
        display: inline-block;
        right: 50%;
        transform: translateX(50%);
        width: 80%;
    }

    .main-title::before {
        content: none;
    }

    .member-img-box:nth-child(even) {
        float: right;
    }

    .member-img-box:nth-child(odd) {
        float: left;
    }

    .member-text-box:nth-child(even) {
        float: right;
    }

    .member-text-box:nth-child(odd) {
        float: left;
    }

    .member-img-box:hover::before {
        transform: unset !important;
    }

    .member-box::after {
        display: table;
        clear: both;
        content: '';
    }

    .member-text-box {
        padding: 0;
    }

    .member-img-box {
        width: 120px;
        height: 120px;
    }

    .member-img-box,
    .member-text-box {
        display: inline-block;
    }

    .section-subtitle {
        margin-bottom: 10px;
    }

    .section-p {
        margin-bottom: 30px;
    }

    .member-text-box:nth-child(odd) {
        text-align: left;
    }

    .member-text-box:nth-child(even) {
        text-align: right;
    }

    .member-title {
        font-size: 18px;
    }

    .member-subtitle {
        font-size: 14px;
    }
}
