@media only screen and (min-width: 1080px) {
  .navbar-static .container {
    max-width: 123rem;
    width: 90%;
  }
}

@media only screen and (min-width: 992px) {
  .aulao__block {
    width: calc((100% / 3) - 10px);
  }

  .questoes-carousel .aulao__block {
    width: calc((100% / 4) - 3px);
  }
}

@media only screen and (max-width: 991px) {
  .aulao__block {
    width: calc((100% / 2) - 10px);
  }

  .questoes-carousel .aulao__block {
    width: calc((100% / 3) - 10px);
  }

  .studies-info__header {
    font-size: 4rem!important;
  }
  .studies-info__welcome {
    font-size: 2rem!important;
  }
  .studies-info__paragraph {
    font-size: 120%!important;
  }

  .download-paragraph {
    width: 100%!important;
  }
}

@media only screen and (max-width: 715px) {
  .download-data {
    font-size: 630%!important;
  }
}  

@media only screen and (min-width: 703px) {
  .navbar__toggle {
    display: none;
  }
}

@media only screen and (max-width: 702px) {
  .studies-box {
    flex-wrap: wrap;
  }

  .inicio-container {
    padding-bottom: 0!important;
    margin-top: 0!important;
  }

  .inicio-container {
    padding-top: 14rem!important;
  }

  .studies-info__header {
    font-size: 6rem!important;
    padding-bottom: 10px;
  }
  .studies-info__welcome {
    font-size: 2.5rem!important;
  }

  .studies-img {
    padding: 49%!important;
    background-position: center!important;
  }

  .navbar-static__right {
    display: none;
  }

  #navbar-toggle:checked ~ .navbar-static__right {
    background-color: #F7F7F7;
    display: flex!important;
    position: absolute;
    margin-top: 160px;
    flex-direction: column;
    align-items: center;
    width: 100%!important;
    padding: 30px 0;
  }

  #navbar-toggle:checked ~ .navbar-static__right a {
    color: #000!important;
    font-weight: 900;
    font-size: 120%!important;
  }    

  .aulao__source {
    font-size: 97%!important;
  }  
}

@media only screen and (max-width: 514px) {
  .aulao-carousel:after {
    /* colocar como important para remover o efeito de carrossel */
    content: '';
  }

  .questoes-carousel:after {
    /* colocar como important para remover o efeito de carrossel */
    content: '';
  }

  .aulao__block {
    width: 100%;
    margin-bottom: 20px!important;
  }

  .questoes-carousel .aulao__block {
    width: calc((100% / 2) - 10px);
  }

  .download-data {
    font-size: 423%!important;
  }

  .aulao__source {
    font-size: 125%!important;
  }
}

@media only screen and (max-width: 344px) {
  .download-data {
    font-size: 340%!important;
  }

  .aulao__source {
    font-size: 121%!important;
  }
}

@media only screen and (max-width: 78.125em) {
  #navbar-toggle:checked ~ .navbar-static__right {
    margin-left: -5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  #navbar-toggle:checked ~ .navbar-static__right {
    margin-left: -2.5rem;
  }
}

.navbar-static {
  background-color: #F7F7F7;
  box-shadow: 0px 5px 13px rgba(134, 134, 134, 0.2);
}

.navbar-static__right a {
  color: #FF8008;
  font-size: 2rem;
  padding: 0 0.9rem;
}

.dark-container {
  background-color: #333333;
}

.light-container {
  background-color: #F2F2F2;
}

.beige-container {
  background-color: #FCC288;
}

.inicio-container, .contato-container, .questoes-container {
  padding: 7rem 0;
}

.inicio-container {
  padding-top: 20rem;
  color: #FCFCFC;
}

.studies-box {
  display: flex;
}

.studies-info__header {
  font-weight: 900;
  font-size: 5rem;
  font-style: italic;
}

.studies-info__welcome {
  font-weight: bold;
  font-size: 2.4rem;
}

.studies-info__paragraph {
  font-size: 130%;
}

.studies-img {
  background-image: url(/img/studies-img.png);
  padding: 17% 25%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.aulas-container {
  color: #FCFCFC;
}

.aulao-carousel {
  width: 100%;
}

.aulao-carousel:after {
  content: 'flickity';
  display: none;
}

.questoes-carousel {
  width: 100%;
}

.questoes-carousel:after {
  content: 'flickity';
  display: none;
}

.aulao-box, .aulao-info {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
}

.aulao-info {
  padding-top: 1.5rem;
  padding-bottom: 3.5rem;
}

.aulao__block {
  margin-right: 10px;
  background-color: #fcfcfc;
  border-radius: 10px;
}

.aulao__img {
  height: 248px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.aulao__metadados, .aulao__img {
  width: 100%;
}

.aulao__metadados {
  padding: 0 10px;
}

.aulao__source {
  color: #000;
  font-weight: 800;
  margin-bottom: unset;
  font-size: 125%;
}

.questoes-carousel .aulao__source {
  margin-top: unset;
  margin-bottom: 1rem;
}

.questoes-carousel .aulao__preview {
  margin-bottom: unset;
}

.aulao__preview {
  color: #797575;
  font-size: 115%;
}

.aulao-info__header, .download-info__header, .whatsapp-box h3 {
  font-weight: 900;
  font-size: 4rem;
}

.aulao-info__header, .download-info__header {
  padding-bottom: 1rem;
  padding-top: 7rem;
}

.questoes-container {
  color: #f2f2f2;
}

.download-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.download-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.download-paragraph {
  width: 62%;
  text-align: center;
  padding-bottom: 3rem;
}

.download-info__header {
  font-weight: 900;
  text-align: center;
}

.download-data {
  font-size: 850%;
}

.btn-black {
  color: #fff;
  background-color: #333;
  border-color: #333;
  font-size: 120%;
  font-weight: bold;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  transition: 0.3s all;
}

.btn-black:hover {
  color: #333!important;
  background-color: #fff;
}

.btn-black:focus {
  color: #fff;
}

.whatsapp-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.whatsapp-box h3 {
  font-weight: 900;
  color: #333333;
}

.whatsapp-box p {
  color: #4F4F4F;
  text-align: center;
}

.aulao-paragraph, .whatsapp-box p, .download-paragraph {
  font-size: 140%;
}

/* CAROUSEL */
.flickity-button-icon {
  fill: #f2f2f2!important;
}

.flickity-button {
  background: transparent!important;
}

.flickity-prev-next-button .flickity-button-icon {
  width: 100%!important;
  height: 100%!important;
  background: hsla(0, 1%, 32%, 0.4);
  border-radius: 50%;
}