@media only screen and (min-width: 1080px) {
  .navbar-static .container {
    max-width: 123rem;
    width: 90%;
  }
}

@media only screen and (min-width: 992px) {
  .aulao__block {
    width: calc((100% / 3) - 10px);
  }

  .padding-for-single-pdf {
    padding-bottom: 7rem;
  }
}

@media only screen and (max-width: 991px) {
  .aulao__block {
    width: calc((100% / 2) - 10px);
    margin: 1% 0;
  }

  .questoes-carousel {
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 703px) {
  .navbar__toggle {
    display: none;
  }

  .video-mirror p {
    width: 65%;
  }
}

@media only screen and (max-width: 702px) {
  .inicio-container {
    padding-bottom: 0!important;
    margin-top: 0!important;
  }

  .navbar-static__right {
    display: none;
  }

  #navbar-toggle:checked ~ .navbar-static__right {
    background-color: #F7F7F7;
    display: flex!important;
    position: absolute;
    margin-top: 160px;
    flex-direction: column;
    align-items: center;
    width: 100%!important;
    padding: 30px 0;
  }

  #navbar-toggle:checked ~ .navbar-static__right a {
    color: #000!important;
    font-weight: 900;
    font-size: 120%!important;
  } 

  .video-mirror .gohomepage a > span {
    display: none;
  }   

  .aulao__source {
    font-size: 97%!important;
  }   

  .padding-for-single-pdf {
    padding-bottom: 15rem;
  }
}

@media only screen and (max-width: 514px) {
  .aulao-carousel:after {
    /* colocar como important para remover o efeito de carrossel */
    content: '';
  }

  .aulao__block {
    width: 100%!important;
    margin-bottom: 20px!important;
  }

  .aulao__source {
    font-size: 125%!important;
  }
}

@media only screen and (max-width: 344px) {
  .aulao__source {
    font-size: 121%!important;
  }
}

@media only screen and (max-width: 78.125em) {
  #navbar-toggle:checked ~ .navbar-static__right {
    margin-left: -5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  #navbar-toggle:checked ~ .navbar-static__right {
    margin-left: -2.5rem;
  }
}

.navbar-static {
  background-color: #F7F7F7;
  box-shadow: 0px 5px 13px rgba(134, 134, 134, 0.2);
}

.navbar-static__right a {
  color: #FF8008;
  font-size: 2rem;
  padding: 0 0.9rem;
}

.dark-container {
  background-color: #333333;
}

.inicio-container {
  padding: 7rem 0;
}

.inicio-container {
  color: #FCFCFC;
}

.aulas-container {
  color: #FCFCFC;
}

.aulao-carousel {
  width: 100%;
}

.aulao-carousel:after {
  content: 'flickity';
  display: none;
}

.aulao-box {
  padding-bottom: 15rem;
}

.aulao-info {
  padding: 1.5rem 0;
}

.aulao__block {
  margin-right: 10px;
  background-color: #fcfcfc;
  border-radius: 10px;
}

.aulao__img {
  height: 248px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.aulao__metadados, .aulao__img {
  width: 100%;
}

.aulao__metadados {
  padding: 0 10px;
}

.aulao__source {
  color: #000;
  font-weight: 800;
  margin-bottom: unset;
  font-size: 125%;
}

.aulao__preview {
  color: #797575;
  font-size: 115%;
}

.aulao-info__header {
  font-weight: 900;
  font-size: 3rem;
}

.aulao-paragraph {
  font-size: 140%;
}

/* CAROUSEL */
.flickity-button-icon {
  fill: #f2f2f2!important;
}

.flickity-button {
  background: transparent!important;
}

.flickity-prev-next-button .flickity-button-icon {
  width: 100%!important;
  height: 100%!important;
  background: hsla(0, 1%, 32%, 0.4);
  border-radius: 50%;
}

.video-mirror .gohomepage {
  padding-top: 7rem!important;
  padding-bottom: 9rem!important;
}

.video-mirror .gohomepage a {
  font-weight: bold;
  font-size: 130%;
  color: #f2f2f2;
}

.video-mirror .gohomepage a > span {
  padding-left: 10px;
  transition: 0.7s all;
}

.video-mirror .gohomepage a:hover > span {
  padding-left: 20px;
  font-weight: 900;
}

.video-mirror h3 {
  font-weight: 900;
  text-transform: uppercase;
}

.youtube-iframe {
  width: 100%;
}

.youtube-video-iframe {
  height: 55vh;
}

embed, .embed {
  width: 100%;
  height: 80vh;
}

.questoes-carousel {
  display: flex;
  justify-content: center;
}

.questoes-carousel .aulao__source {
  margin-top: unset;
  margin-bottom: 1rem;
}

.questoes-carousel .aulao__preview {
  margin-bottom: unset;
}