html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 25px;
    margin: 0;
    font-family: 'Raleway';
}

html,
body {
    overflow-x: hidden;
}

textarea {
    resize: none;
}

#particles-js {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -999;
    top: 0;
    left: 0;
}

.professor-voltar {
    color: #ff8008;
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 20px;
    display: inline-block;
}

.professor-voltar:hover {
    text-decoration: underline;
}

#final-button {
    padding: 13px 0 !important;
    border: 2px solid #ff8008;
    font-size: 18px !important;
    width: 75% !important;
    margin-left: unset;
    margin-right: unset;
}

#final-button:hover {
    background-color: #fff;
    color: #ff8008;
}

h1.resumo-title {
    font-size: 32px;
    color: #303030;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}

.informacoes {
    margin-top: 40px;
}

.info-title {
    color: #303030;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
}

.info-endereco,
.info-pagamento,
.info-observacao,
.info-codigo,
.info-escola {
    margin-bottom: 40px;
}

.text-card .form-control,
#input-codigo,
#input-codigo-mobile {
    width: 100%;
    overflow-wrap: break-word;
    height: auto;
    border: 1px solid #e3e3e3;
    background-color: #fff;
    color: #333;
    padding: 12px;
    text-align: left;
    margin-top: 10px;
    display: inline-block;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    transition: 0.3s all;
    border-radius: 5px;
    padding-left: 22px;
}

.info-card {
    width: 75%;
    height: auto;
    background-color: #fff;
    color: #333;
    text-align: left;
    margin-top: 10px;
    display: inline-block;
    outline: none;
    box-shadow: none;
    border-radius: 5px;
    transition: 0.3s all;
    border-radius: 5px;
    font-size: 14px;
}

.info-card-content {
    width: 90%;
    display: inline-block;
    border: 1px solid #e3e3e3;
    overflow-wrap: break-word;
    padding: 12px;
    transition: 0.3s all;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.info-card-delete {
    width: 10%;
    display: inline-block;
    border: 1px solid #e3e3e3;
    border-left: none;
    color: #ff8008;
    content: 'X';
    font-weight: bold;
    text-align: center;
    padding: 12px;
    cursor: pointer;
    float: right;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.3s all;
}

.card-checked {
    border-left: 9px solid #ff8008;
}

.colmeia-button {
    border-radius: 8px !important;
    padding: 10px 15px !important;
    border: 1px solid #ff8008;
    font-size: 14px !important;
    width: 100% !important;
}

#resumo-form {
    width: 60%;
}

.info-card {
    cursor: pointer;
}

.info-card-content:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.08);
}
.info-card-delete:hover {
    background-color: #ff8008;
    color: #fff;
}

.bootstrap-filestyle {
    /* width: 80%; */
}

.bootstrap-filestyle.input-group .form-control {
    width: 100%;
    border-radius: 5px !important;
}

.icon-span-filestyle {
    font-size: 16px;
    color: #ff8008;
}

.bootstrap-filestyle.input-group label.btn.btn-default {
    padding: 14px;
    font-size: 0;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ff8008;
    outline: none !important;
}

#novo-endereco,
#novo-cartao {
    margin-top: 20px;
}

#novo-endereco label,
#novo-cartao label {
    font-weight: normal;
}

#novo-endereco .form-control,
#novo-cartao .form-control,
#novo-endereco .select {
    width: 100%;
    height: 45px;
    border: 1px solid #e3e3e3;
    background-color: #fff;
    color: #333;
    padding: 10px;
    outline: none;
    box-shadow: none;
    border-radius: 5px;
    transition: 0.3s all;
}

#code-feedback,
#code-feedback-mobile,
#select-bairro-desc {
    margin-left: 5px;
    margin-top: 5px;
}

.text-card .form-control {
    margin-bottom: 0px;
}

#select-escola,
#select-ano {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(/img/dropdown-arrow.png) no-repeat 95% 50%;
    background-size: 15px;
}

/* .card-checked {
    background-image: url('/img/checkbox-checked.png');
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: 6%;
    background-position: 98%;
}

.card-unchecked {
    background-image: url('/img/checkbox-blank.png');
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: 6%;
    background-position: 98%;
} */

.card-checked {
}

.code-valid {
    background-image: url('/img/button-valid.png');
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: 6%;
    background-position: 98%;
}

.code-invalid {
    background-image: url('/img/button-invalid.png');
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: 6%;
    background-position: 98%;
}

.feeback-valid {
    color: #61af34;
}

.feedback-invalid {
    color: #e93112;
}

.delete-icon {
    width: 25px;
    height: 25px;
    margin-top: 25px;
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
}

.delete-icon img {
    width: 100%;
    height: 100%;
}

.right-wrapper {
    width: 90%;
    margin: 0 auto;
}

.caixa-resumo {
    border-radius: 9px;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    transition: 0.3s all;
    z-index: 1;
    font-size: 16px;
    margin-top: 75px;
    /* width: 90%; */
    /* float: right; */
}

.caixa-resumo .cancelamento-title {
    color: #303030;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.caixa-resumo .cancelamento-text {
    font-size: 15px;
}

.caixa-resumo .data-aula {
    margin-bottom: 10px;
}

.prof-foto {
    width: 120px;
    height: 120px;
    border: 4px solid #e3e3e3;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    flex: 0 0 120px;
    margin: 0 20px;
}

.prof-foto img {
    /*display: block;
   text-align: center;
   background-color: #ff8008;*/
    position: absolute;
    top: 0;
    left: 0;

    /*remover*/
    height: 100%;
}

.name-rating {
    font-size: 18px;
}

.prof-nome {
    font-weight: 500;
    margin-bottom: 5px;
}

.prof-materia {
    padding: 3px 7px;
    border: 1px solid #ff8008;
    color: #ff8008;
    font-size: 12px;
    display: inline-block;
    margin-top: 30px;
    border-radius: 5px;
}

.prof-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.prof-info,
.data-info,
.cancelamento-info {
    padding: 20px;
    border-bottom: 1px solid #e3e3e3;
}

.preco-info {
    padding: 20px;
}

.cancelamento-info {
    border-bottom: 1px solid #ff8008;
}

.cancelamento-info {
    padding: 20px 30px;
}

.preco-info {
    background-color: #fff;
    color: #ff8008;
    font-size: 40px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
}

.data-info,
.preco-info {
    text-align: center;
}

.data-info {
    font-size: 16px;
}

.data-info .data-aula,
.mcr-day {
    font-weight: 500;
    margin-bottom: 10px;
    color: #303030;
}

.data-info .horario-aula,
.mcr-hour {
    font-weight: 700;
    margin-bottom: 10px;
    color: #303030;
}

.data-info .duracao-aula,
.mcr-duration {
    color: #c2c2c2;
}

.prof-rating {
    display: flex;
    flex-direction: row;
}

.prof-rating-value {
    display: inline-block;
    font-size: 20px;
    color: #989898;
    font-weight: bold;
    margin-right: 5px;
}

.prof-rating-img {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: bottom;
}

.confirmacao {
    margin-bottom: 50px;
}

.confirmacao a {
    color: #ff8008;
}

.confirmacao .checkbox {
}

b {
    /*color: #ff8008 !important;*/
}

.confirmacao label {
    font-size: 14px;
}

.colmeia-button {
    margin-top: 20px !important;
}

#cartoes-list .info-card img {
    height: 16px;
    margin-left: 20px;
    display: inline-table;
    vertical-align: middle;
}

#input-nome {
    text-transform: uppercase;
}

#enderecos-list .colmeia-button,
#cartoes-list .colmeia-button {
    font-size: 15px;
}

.card-message {
    font-size: 15px;
    color: gray;
    margin-top: 5px;
}

.mobile-title {
    text-align: left;
    font-size: 28px;
    color: #ff8008;
    margin-top: 70px;
    margin-bottom: 15px;
}

.mobile-caixa-resumo-toggle {
    width: 100%;
    height: 45px;
    border: 2px solid #ff8008;
    background-color: #fff;
    color: #ff8008;
    background: url(/img/arrow-down-icon.png) no-repeat 95%;
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 20px;
    margin-bottom: -80px;
}

.discount-container {
    padding: 15px;
    background-color: rgba(252, 236, 162, 0.91);
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.discount-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 0px 20px;
    flex: 0 1 100px;
}

.discount-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.discount-body {
    width: 300px;
    max-width: 80%;
    margin-left: 10px;
}

.discount-title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

.discount-body input {
    height: auto;
    border: 1px solid #e3e3e3;
    background-color: #fff;
    color: #333;
    padding: 12px;
    text-align: left;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    transition: 0.3s all;
    border-radius: 5px;
    padding-left: 22px;
}

.mobile {
    display: none;
}

.not-mobile {
    display: block;
}

.mobile-info {
    padding: 20px 5px;
}

.mobile-info-text {
    font-size: 16px;
    text-align: left;
    margin-bottom: 30px;
}

.mobile-info-price {
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    font-weight: 500;
}

.mobile-info-title {
    color: #303030;
}

.mobile-info-price .preco-aula {
    color: #ff8008;
    font-size: 26px;
}

.mobile-caixa-resumo {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 10px;
    background-color: #fff;
}

.mcr-img {
    width: 100px;
    height: 100px;
    border: 4px solid #e3e3e3;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    display: inline-block;
    flex: 0 0 100px;
}

.mcr-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.mcr-date {
    margin-top: 10px;
    font-size: 16px;
}

.mcr-date .mcr-day,
.mcr-date .mcr-hour,
.mcr-date .mcr-duration {
    margin-bottom: 0;
}

.mcr-body {
}

.mcr-name {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
}

.mcr-tag .prof-materia {
    margin: 0;
}

.aula-modal-img {
    display: block;
    margin: 10px auto;
    margin-bottom: 30px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.aula-modal-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.aula-modal-content {
    font-size: 17px;
    margin-bottom: 25px;
    text-align: center;
}

.aula-marcada-button {
    padding: 8px 0 !important;
    border: 2px solid #ff8008;
    color: #fff;
    background-color: #ff8008;
    font-size: 18px !important;
    width: 50% !important;
    margin-left: unset;
    margin-right: unset;
}

.aula-marcada-button:hover {
    background-color: #ff8008;
    color: #fff;
}

/* custom modal styles for vertical centering */
.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-body {
    padding: 30px;
}

.codigo-container {
    margin-top: 30px;
    margin-bottom: 20px;
}

.codigo-container-toggle,
.codigo-container-toggle:link,
.codigo-container-toggle:hover,
.codigo-container-toggle:active {
    display: inline-block;
    color: #ff8008;
    font-size: 16px;
}

.codigo-content {
    display: none;
}

@media screen and (max-width: 768px) {
    .mobile {
        display: block;
    }

    .not-mobile {
        display: none;
    }

    h1.resumo-title {
        display: block;
        text-align: center;
        color: #ff8008;
        font-size: 26px;
        margin-top: 80px;
        margin-bottom: 40px;
    }

    .caixa-resumo {
        position: relative;
        min-width: 100%;
        padding: 30px;
        margin-top: -92px;
    }

    .informacoes {
        margin-top: 30px;
    }

    .name-rating {
        width: 50%;
    }

    .bootstrap-filestyle,
    #input-codigo,
    #input-codigo-mobile,
    #input-observacao,
    #input-escola,
    #select-ano {
        width: 100%;
    }

    .card-checked,
    .card-unchecked {
        background-size: 10%;
    }

    .info-title {
        margin-bottom: 10px;
    }

    .info-card,
    #resumo-form,
    #final-button {
        width: 100% !important;
    }

    .colmeia-button {
        padding: 14px !important;
    }

    .discount-container {
        background-color: #fff;
        padding: 0;
    }

    .discount-img {
        display: none;
    }

    .discount-body {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
    }

    .info-observacao {
        margin-bottom: 0;
    }

    .modal-body {
        padding: 10px;
    }

    .aula-marcada-button {
        width: 100% !important;
        padding: 10px !important;
    }
}
