/*
colmeia-orange:       #FF8008
colmeia-dark-orange:  #ff7008
colmeia-yellow:       #FFC836
colmeia-gray:         #7D7D7F
colmeia-light-gray:   #E3E6ED
colmeia-black:        #333333
colmeia-white:        #FAFAFA
*/

* {
    border: 0px solid black;
}
.row {
    margin-right: 0;
    margin-left: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@-webkit-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

html {
    font-size: 16px;
    box-sizing: border-box;
    overflow-x: hidden;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    line-height: 2;
    background-color: #fff;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: 'Raleway';
}

/*h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}*/

p {
    font-family: 'Open Sans';
}

::-moz-selection {
    text-shadow: none;
    background: #ffc836;
}
::selection {
    text-shadow: none;
    background: #ffc836;
}
img::selection {
    background: transparent;
}
img::-moz-selection {
    background: transparent;
}
body {
    -webkit-tap-highlight-color: #ffc836;
}

.navbar-brand {
    padding-top: 4px;
}

.navbar-custom {
    background-color: #333333;
    border-color: transparent;
    border-radius: 0px;
}
.navbar-custom .navbar-brand {
    color: #333333;
    margin-top: 6px;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
    color: #333333;
}
.navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.2);
}
.navbar-custom .navbar-toggle {
    background-color: #333333;
    border-color: #333333;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #333333;
}

.navbar-custom .nav li a {
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ff8008;
    transition: 0.3s all;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    color: #303030;
    outline: none;
}
.navbar-custom .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: #333333;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #303030;
    background-color: #333333;
}
#entrar_button {
    color: #ff8008;
    transition: 0.3s;
    outline: none;
}
#entrar_button:hover {
    color: #303030;
}

@media (min-width: 769px) {
    .navbar-custom.affix img#navbar-logo {
        content: url(/img/logo-cinza.png) !important;
    }
}

@media (min-width: 769px) {
    .navbar-custom {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
    }
    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .navbar-custom .navbar-nav > .active > a {
        border-radius: 0px;
    }
    .navbar-custom.affix {
        background-color: #333333;
        padding: 5px 0px 0px 0px;
    }
    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em;
    }
}

@media (min-width: 769px) {
    .navbar-custom.affix {
        background-color: white;
        padding: 5px 0px 0px 0px;
        border-bottom: 2px solid #303030;
        box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16), 0 2px 20px rgba(0, 0, 0, 0.23);
    }
}

header#prof-header {
    background: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 700px;
}

header#prof-header .intro-text {
    margin-top: 60px;
    text-align: left;
    color: white;
}

#logo-header {
    margin-bottom: 16px;
}

header#prof-header .intro {
    margin: 100px 0 20px 0px;
}

#registro-container {
    width: 650px;
    max-width: 100%;
    margin: 0 auto;
    padding: 4px 16px;
    background-color: #fefefe;
    border: 5px solid white;
    border-radius: 2px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

#registro-container .header {
    text-align: left;
    font-size: 24px;
    font-family: 'Raleway';
    font-weight: bold;
    color: #333333;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

#registro-container .form-group .form-control {
    height: 26px;
    padding: 0px;
    padding-left: 4px;
    font-size: 16px;
}

.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ff8008;
}
.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #ff8008;
}
.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #ff8008;
}
.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #ff8008;
}

.checkbox label {
    color: #ff8008;
    text-align: left;
    font-size: 18px;
}

#particles-js {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -999;
}

#registro-container button,
.intro-text button {
    font-weight: bold;
    font-family: 'Raleway';
    width: 230px;
    height: 48px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    outline: none;
}

.intro-text .header {
    color: #fafafa;
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    text-shadow: 1px 1px 1px #ccc;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.intro h1 {
    color: #ff8008;
    font-family: Raleway;
    font-size: 48px;
    font-weight: 400;
}

.intro h2 {
    color: #333333;
    font-size: 32px;
    font-weight: normal;
}

.intro .btn,
.intro .btn:active {
    background-color: #ff8008;
    border: none;
    margin-top: 25px;
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: transparent;
}

section#footer {
    background: #333333;
    color: white;
    font-size: 12px;
    line-height: 1.2em;
    font-weight: normal;
    padding-top: 20px;
}

#footer h2 {
    font-size: 24px;
    color: #ff8008;
    margin-top: 0;
}

footer p {
    margin-bottom: 0;
    font-size: 12px;
}

.form-group {
    margin-top: 16px;
    margin-bottom: 32px;
}

.form-group .form-control {
    border-radius: 0px;
    height: 3em;
    border: none;
    border-bottom: 2px solid #ff8008;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*.form-group .form-control:active
.form-group .form-control.active,
.form-group .form-control:hover,*/
.form-group .form-control:focus {
    border-bottom-color: #ff8008;
}

.colmeia-button {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
    background-color: #ff8008;
    outline: none;
    border: none;
    color: #fafafa;
    font-size: 16px;
    border-radius: 0;
    transition: 0.25s all;
    outline: none;
}
.colmeia-button:active,
.colmeia-button.active,
.colmeia-button:focus,
.colmeia-button:active:focus,
.colmeia-button:hover {
    background-color: #ff6208;
    color: #fafafa;
}

section#footer a {
    text-decoration: none;
    color: white;
}

#registerMessage,
#loginMessage {
    text-align: center;
    color: rgb(204, 16, 16);
}

#registerMessage {
    height: 20px;
    margin-bottom: 25px;
}

.answers-container {
    margin-bottom: 60px;
}

.collapse-heading,
.collapse-heading:link,
.collapse-heading:visited {
    font-size: 34px;
    color: #ff8008;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
}

.collapse-heading::before {
    content: '\25b8';
    position: relative;
    top: 0;
    left: 0;
    color: #ff8008;
    font-size: 30px;
    display: inline-block;
    font-weight: normal;
    margin-right: 15px;
    transition: transform 0.25s linear;
}

.collapse-heading[aria-expanded='true']:before {
    transform: rotate(90deg);
}

.collapse-heading[aria-expanded='false']:before {
    transform: rotate(0deg);
}

.collapse-content {
    margin-left: 45px;
    font-family: 'Raleway', sans-serif;
}

.collapse-content ul,
.collapse-paragraph,
.collapse-title {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.collapse-paragraph {
    font-size: 16px;
    color: #333;
    font-weight: normal;
    text-align: left;
    line-height: normal;
}

.collapse-title {
    font-size: 26px;
    font-weight: normal;
    color: #ff8008;
    margin-bottom: 30px;
}

.collapse-content ul > li {
    list-style: none;
    font-size: 16px;
    color: #333;
    font-weight: normal;
    text-align: left;
    line-height: normal;
}

.collapse-content ul > li:before {
    content: '•';
    position: relative;
    display: inline-block;
    margin-right: 10px;
    color: #ff8008;
    font-size: 26px;
}

.margin-top-regular {
    margin-top: 20px;
}

.margin-top-large {
    margin-top: 30px;
}

.margin-bottom-regular {
    margin-bottom: 20px;
}

.margin-bottom-large {
    margin-bottom: 30px;
}

#call-to-action {
    color: #fff;
    background-color: #ff8008;
    margin: 0 auto;
    outline: 0;
    font-size: 18px;
    text-align: center;
    border-radius: 0;
    cursor: pointer;
    width: 100%;
    height: 50px;
    line-height: 50px;
    transition: all 0.3s;
    margin-top: 60px;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 2px;
}

@media (max-width: 768px) {
    header#prof-header {
        height: auto;
        background-position: center center;
    }
    header#prof-header .intro {
        margin: 70px 0 20px 0px;
    }
    header#prof-header .intro-text {
        margin-top: 8px;
        text-align: left;
        color: white;
        width: 100%;
    }
    #entrar_button {
        color: #fefefe;
    }
    #logo-header {
        display: none;
    }
    .intro h1 {
        font-size: 36px;
    }
    .intro h2 {
        font-size: 28px;
    }
    #login-button.colmeia-button {
        display: none;
    }
    #navbar-logo {
        margin-top: 4px;
    }

    .collapse-heading,
    .collapse-heading:link,
    .collapse-heading:visited {
        font-size: 26px;
    }
}

@media (max-width: 995px) {
    header#prof-header {
        height: auto;
    }
}
