.shareButton {
  margin-top: 50px;
  margin-right: 12px;
  height: 36px;
  width: 36px;
}

#shareContainer {
  display: flex;           /* establish flex container */
  flex-direction: row;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;
}

/*@media only screen and (max-width: 767px) {
  #shareContainer{
    flex-direction: row;
  }

  .shareButton{
    margin-left: 20px;
    margin-right: 20px;
  }
}*/
