<section class="footer u-padding-vertical-m">
  <div class="container">
    <div class="grid grid--pad-s">
      <div class="col">
        <img src="/img/logo.png" alt="Aulas Colmeia Logo" class="footer__logo" />
        <div class="footer__p">
          Ligações: (61) 9 9805-2073
        </div>
        <div class="footer__p">
          Whatsapp:
          <img src="/img/whatsapp-icon.png" alt="Aulas Colmeia Whatsapp" class="footer__whatsapp" />
          - (61) 9 9805-2073
        </div>
        <div class="footer__p">contato@aulascolmeia.com.br</div>
      </div>
      <div class="col">
        <a href="https://aulascolmeia.com.br/#como-funciona" class="footer__link">Como funciona</a>
        <a href="https://aulascolmeia.com.br/perguntas-frequentes" class="footer__link">Perguntas frequentes</a>
        <a href="https://aulascolmeia.com.br/quem-somos" class="footer__link">Quem somos</a>
        <a href="https://aulascolmeia.com.br/blog" class="footer__link">Nosso Blog</a>
      </div>
      <div class="col">
        <a href="https://aulascolmeia.com.br/aluno/registrar" class="footer__link">Cadastre-se</a>
        <a href="https://aulascolmeia.com.br/calculadora-pas" class="footer__link">Calculadora do Pas</a>
        <a href="https://aulascolmeia.com.br/vagas" class="footer__link">Trabalhe conosco</a>
        <a href="https://aulascolmeia.com.br/colmeia_ebook_como_ajudar_meu_filho_a_estudar.pdf" target="_blank"
          class="footer__link">
          Ajude seu filho a estudar
        </a>
      </div>
      <div class="col">
        <a href="https://aulascolmeia.com.br/professor" class="footer__link">Seja um professor</a>
        <a href="https://aulascolmeia.com.br/Termos-de-Uso-Colmeia.pdf" class="footer__link">Termos de Uso</a>
        <a href="https://aulascolmeia.com.br/politica-de-privacidade" class="footer__link">Política de Privacidade</a>
        <a href="https://www.simplicode.com.br/" class="footer__link" target="_blank">Aulas de programação: Simplicode</a>
      </div>
    </div>

    <div class="footer__hr"></div>

    <div class="footer__bottom">
      <div class="footer__p">Copyright Colmeia 2020</div>
      <div class="footer__p">
        Colmeia Tecnologia LTDA ME, 2017 - CNPJ 26.263.713/0001-31 <br />
        COTI - Edifício Victoria Office Tower - SAUS Q. 4, Sala 701 - Asa Sul, Brasília - DF,
        70070-938
      </div>
    </div>
  </div>
</section>