<footer class="footer-simple">
  <div class="container">
    <div class="footer-simple__content">
      <img src="/img/logo.png" alt="Aulas Colmeia Logo" class="footer-simple__logo" />
      <a
        class="footer-simple__text"
        href="https://api.whatsapp.com/send?phone=+5561998052073&text=Ol%C3%A1!%20Tudo%20bem%3F%20Eu%20gostaria%20de%20agendar%20aulas%20particulares."
        >Whatsapp (61) 99805-2073</a
      >
    </div>
  </div>
</footer>
