<nav class="navbar-static">
  <div class="container">
    <div class="navbar-static__content">
      <div class="navbar-static__left">
        <a class="navbar-static__logo-link" href="/">
          <img src="/img/colmeia_logo.png" alt="Aulas Colmeia Logo" class="navbar-static__logo-img"
        /></a>
      </div>
      <a href="tel:61998052073" class="navbar-static__right">(61) 9 9805-2073</a>
    </div>
  </div>
</nav>
