<nav class="navbar navbar--orange">
  <div class="navbar__content">
    <a class="navbar__logo-link" href="/">
      <img src="/img/logo-cinza.png" alt="Aulas Colmeia Logo" class="navbar__logo-img"
    /></a>
    <input type="checkbox" class="navbar__checkbox" id="navbar-toggle" />

    <label for="navbar-toggle" class="navbar__toggle">
      <div></div>
      <div></div>
      <div></div>
    </label>
    <div class="navbar__links">
      <a href="/acompanhamento-escolar" class="navbar__link">Acompanhamento escolar</a>
      <a href="/calculadora-pas" class="navbar__link">Calculadora do PAS</a>
      <a href="https://aulascolmeia.com.br/blog" class="navbar__link">Nosso Blog</a>
      <a href="/professor" class="navbar__link">Seja um professor</a>

      <% if (user && user.nome) { %>
      <label
        for="dropdown-checkbox"
        href="#"
        class="navbar__link navbar__link-login navbar__dropdown-toggle"
        >Olá, <%= user.nome.split(' ')[0] %>! <i class="glyphicon glyphicon-chevron-down"></i
      ></label>
      <input class="navbar__dropdown-checkbox" type="checkbox" id="dropdown-checkbox" />
      <div class="navbar__dropdown-links">
        <a href="/aluno/agenda" class="navbar__dropdown-link"
          >Agenda
          <img class="navbar__dropdown-img" src="/img/calendar-icon.png" alt="Calendario Icon" />
        </a>
        <a href="/aluno/historico" class="navbar__dropdown-link"
          >Histórico
          <img class="navbar__dropdown-img" src="/img/clock-icon.png" alt="Clock Icon" />
        </a>
        <a href="/aluno/perfil" class="navbar__dropdown-link"
          >Perfil
          <img class="navbar__dropdown-img" src="/img/perfil-icon.png" alt="Perfil Icon" />
        </a>
        <a href="/aluno/sair" class="navbar__dropdown-link"
          >Sair <img class="navbar__dropdown-img" src="/img/arrow-icon.png" alt="Arrow Icon"
        /></a>
      </div>
      <% } else { %>
      <a href="/aluno/entrar" class="navbar__link navbar__link-login">Criar conta/entrar</a>
      <% } %>
    </div>
  </div>
</nav>
