<section class="discount u-margin-bottom-l u-padding-top-m">
  <div class="container">
    <div class="grid grid--center grid--pad-s">
      <div class="col-3">
        <h2 class="heading-section heading-section--underline u-margin-bottom-m">
          Nossos <br />
          descontos
        </h2>

        <p class="p">
          Nossa equipe preparou pacotes com descontos progressivos que se adequam à sua necessidade
          e ao seu bolso. <strong>Quanto mais você estuda, menos você paga!</strong>
        </p>
      </div>
      <div class="col-5">
        <div class="slider">
          <h5 class="slider__title">Acompanhamento Escolar</h5>
          <div class="slider__hours">20h</div>
          <div class="slider__subtitle">
            mensais <br />
            <div class="slider__value">R$ 1138,10</div>
          </div>

          <input type="range" min="1" max="9" value="4" class="slider__widget" id="slider" />

          <div class="slider__divider"></div>

          <div class="slider__row">
            <img src="/img/check-white.png" alt="Check item" class="slider__icon" />

            <div class="slider__text">
              <strong>Pacotes personalizados.</strong> O acompanhamento é montado com base nas
              dificuldades do aluno.
            </div>
          </div>

          <div class="slider__row">
            <img src="/img/check-white.png" alt="Check item" class="slider__icon" />

            <div class="slider__text">
              <strong>Horários garantidos.</strong> Os horários das aulas são selecionados por você
              da forma mais apropriada à rotina do seu filho.
            </div>
          </div>

          <div class="slider__row">
            <img src="/img/check-white.png" alt="Check item" class="slider__icon" />

            <div class="slider__text">
              <strong>Análise de evolução.</strong> Os professores acompanham o desenvolvimento do
              seu filho e te enviam feedbacks ao final de cada aula.
            </div>
          </div>

          <div class="button button--black js-cta">Contratar pacote!</div>
        </div>
      </div>
      <div class="col-3">
        <div class="heading-small u-margin-bottom-s">
          Pacotes mais recomendados
        </div>

        <div class="pacote__block">
          <div class="pacote__hours">7h 30m</div>
          <div class="pacote__content">
            <div class="pacote__title">1 aula de 1h 30m por semana</div>
            <p class="p p--s">
              Meu filho(a) está com problemas em matérias pontuais e quero impedir que a situação
              piore.
            </p>
          </div>
        </div>

        <div class="pacote__block">
          <div class="pacote__hours">15h</div>
          <div class="pacote__content">
            <div class="pacote__title">2 aulas de 1h 30m por semana</div>
            <p class="p p--s">
              Meu filho(a) está com problemas em diversas matérias, preciso reforçar a base e
              fortalecer hábitos de estudo.
            </p>
          </div>
        </div>

        <div class="pacote__block">
          <div class="pacote__hours">30 h</div>
          <div class="pacote__content">
            <div class="pacote__title">4 aulas de 1h 30m por semana</div>
            <p class="p p--s">
              Quero que meu filho tenha o melhor desempenho possível na escola!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
