<section class="section-cta section-cta--orange u-padding-vertical-s">
  <div class="container container--xs">
    <h3 class="section-cta__title u-margin-bottom-xs">
      R$ 89,90 por 1h30m de aula com o deslocamento incluso!
    </h3>
    <p class="section-cta__subtitle u-margin-bottom-m ">
      R$ 59,90 valor da hora
    </p>
    <div class="button button--black button--s js-cta">Quero agendar minha 1ª aula!</div>
  </div>
</section>
