<section class="bottom-search u-padding-vertical-m">
  <div class="container">
    <h2 class="heading-section-small u-margin-bottom-m text-center">Buscas mais frequentes</h2>

    <div class="grid grid--center">
      <a href="/reforco-escolar/matematica/brasilia/asa-sul/3o-ano-medio" class="bottom-search__tag"
        >Reforço escolar de Matemática na Asa Sul</a
      >
      <a href="/aula-particular/fisica/brasilia/asa-norte/1o-ano-medio" class="bottom-search__tag"
        >Aula particular de Física Asa Norte</a
      >
      <a
        href="/reforco-escolar/matematica/brasilia/aguas-claras/5o-ano-fundamental"
        class="bottom-search__tag"
        >Reforço escolar de Matemática em Águas Claras</a
      >
      <a href="/reforco-escolar/quimica/brasilia/asa-sul/2o-ano-medio" class="bottom-search__tag"
        >Professor particular de Química na Asa Sul</a
      >
      <a href="/reforco/quimica/brasilia/lago-norte/9o-ano-fundamental" class="bottom-search__tag"
        >Reforço de Química no Lago Norte</a
      >
      <a
        href="/aula-particular/matematica/brasilia/sudoeste/2o-ano-fundamental"
        class="bottom-search__tag"
        >Aula particular de Matemática no Sudoeste</a
      >
      <a href="/reforco-escolar/portugues/brasilia/lago-sul/3o-ano-medio" class="bottom-search__tag"
        >Reforço escolar de Português no Lago Sul</a
      >
      <a
        href="/aula-particular/matematica/brasilia/todos-os-bairros/1o-ano-medio"
        class="bottom-search__tag"
        >Aula particular de Matemática em Brasília</a
      >
    </div>
  </div>
</section>
