<section class="section-cta section-cta--black u-padding-vertical-s">
  <div class="container container--xs">
    <h3 class="section-cta__title u-margin-bottom-xs">Sabe qual produto é melhor para você?</h3>
    <p class="section-cta__subtitle u-margin-bottom-m ">
      Converse com a nossa equipe pedagógica e descubra a melhor forma de alcançar os seus objetivos
      com nossas aulas particulares.
    </p>
    <div class="button button--s js-cta">Solicitar atendimento</div>
  </div>
</section>
