<section class="clients u-padding-vertical-s">
  <div class="container container--s">
    <h2 class="heading-section-small u-margin-bottom-m text-center">Clientes que nos amam</h2>

    <div class="clients__carousel">
      <div class="clients__block">
        <div class="clients__img-block">
          <img src="/img/madalena.png" alt="" class="clients__img" />
        </div>
        <div class="clients__right">
          <p class="clients__text">
            No final do ano 2018, na eminência do meu filho ficar de recuperação, por indicação de
            amigos procurei a Colmeia. Desde então, pude contar com professores com ótimas
            qualificações, como também a praticidade de poder ter um professor sempre ao alcance e
            que vai a minha casa e um ótimo custo beneficio.
          </p>

          <div class="clients__bottom">
            <strong>Madalena</strong> - Teve aulas com
            <div class="clients__highlight">Sthefani</div>
          </div>
        </div>
      </div>

      <div class="clients__block">
        <div class="clients__img-block">
          <img src="/img/solange.png" alt="" class="clients__img" />
        </div>
        <div class="clients__right">
          <p class="clients__text">
            Estou muito satisfeita com o acompanhamento escolar feito pela Colmeia. Os professores
            são comprometidos e são muito preparados.
          </p>

          <div class="clients__bottom">
            <strong>Solange</strong> - Teve aulas com
            <div class="clients__highlight">Davi</div>
          </div>
        </div>
      </div>

      <div class="clients__block">
        <div class="clients__img-block">
          <img src="/img/ana-claudia.png" alt="" class="clients__img" />
        </div>
        <div class="clients__right">
          <p class="clients__text">
            A colmeia é uma empresa com excelentes profissionais para acompanhamento escolar.
            Recomendo! É excelente!
          </p>

          <div class="clients__bottom">
            <strong>Ana Cláudia</strong> - Teve aulas com
            <div class="clients__highlight">Marlos</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
