<section class="steps <%= noBr ? 'steps--no-br' : '' %>" id="como-funciona">
  <div class="steps__content u-padding-vertical-l">
    <div class="container u-padding-vertical-m">
      <div class="grid grid--pad-xs">
        <div class="col">
          <h2 class="heading-section">
            Como <br />
            funciona
          </h2>
        </div>

        <div class="col">
          <div class="steps__block">
            <div class="steps__number">01</div>
            <h3 class="heading-small u-padding-top-m u-margin-bottom-xs">
              Seu melhor professor
            </h3>
            <p class="p">
              Encontramos o melhor professor particular de acordo com o perfil do seu filho e sua
              necessidade.
            </p>
          </div>
        </div>

        <div class="col">
          <div class="steps__block">
            <div class="steps__number">02</div>
            <h3 class="heading-small u-padding-top-m u-margin-bottom-xs">
              Aula onde você quiser
            </h3>
            <p class="p">
              Você escolhe a hora e o local da aula. Pode ser em qualquer lugar, sem nenhum custo
              adicional.
            </p>
          </div>
        </div>

        <div class="col">
          <div class="steps__block">
            <div class="steps__number">03</div>
            <h3 class="heading-small u-padding-top-m u-margin-bottom-xs">
              Pagamento do seu jeito
            </h3>
            <p class="p">Escolha a melhor forma de pagar: no boleto ou no cartão de crédito.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>