<div class="whatsapp">
  <input type="checkbox" id="whatsapp" class="whatsapp__checkbox" />
  <div class="whatsapp__container">
    <div class="whatsapp__title">Solicite atendimento por WhatsApp!</div>
    <form action="/" class="whatsapp__form">
      <label class="whatsapp__label">Nome</label>
      <input type="text" class="whatsapp__input whatsapp__input--name" />
      <label class="whatsapp__label">Email</label>
      <input type="email" class="whatsapp__input whatsapp__input--email" />
      <label class="whatsapp__label">Celular</label>
      <input type="text" class="whatsapp__input whatsapp__input--phone" />
      <input type="submit" class="whatsapp__button" value="Abrir whatsapp" />
    </form>
  </div>
  <label for="whatsapp" class="whatsapp__icon" id="label-for-whatsapp"><img src="/img/whatsapp-icon.png" alt=""/></label>
</div>
