*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include responsive(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include responsive(tab-port) {
    // width < 900?
    // font-size: 52%; //1 rem = 8px, 8/16 = 50%
    font-size: 58%; //1 rem = 8px, 8/16 = 50%
  }

  @include responsive(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: $color-orange-light-1;
  color: $color-white;
}
