body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-black;
}

@font-face {
  font-family: 'ArchitectsDaughter';
  src: url('/fonts/ArchitectsDaughter.ttf') format('truetype');
}

.heading-campaign {
  & {
    color: $color-white;
    position: relative;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 1.3;
  }

  @include responsive(phone) {
    font-size: 3.5rem;
    line-height: 1.4;
  }

  &--line {
    & {
      padding-bottom: 2rem;
    }
    &::before {
      content: '';
      height: 5px;
      width: 15rem;
      background-color: $color-white;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &--line-center::before {
    left: 50%;
    width: 20rem;
    transform: translateX(-50%);
  }
}

.subheading-campaign {
  color: $color-white;
  font-size: 2.5rem;
}

.heading-landing {
  & {
    color: $color-white;
    font-weight: 700;
    font-size: 6rem;
    line-height: 7rem;

    @include responsive(phone) {
      font-size: 3rem;
      line-height: 4rem;
    }
  }

  &__highlight {
    display: inline-block;
    color: $color-orange;
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    font-family: 'ArchitectsDaughter';

    @include responsive(phone) {
      font-size: 2.75rem;
      display: block;
      margin-top: 1rem;
      font-weight: bold;
      letter-spacing: 0.2rem;
    }
  }
}

.heading-section {
  & {
    text-transform: uppercase;
    color: $color-gray-1;
    font-size: 4rem;
    font-weight: 700;
    line-height: 6rem;
    position: relative;
  }

  &--underline {
    & {
      padding-bottom: 2rem;
    }
    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      background-color: $color-orange-light-1;
      height: 2px;
      width: 33%;
    }
  }
}

.heading-section-small {
  text-transform: uppercase;
  color: $color-gray-1;
  font-size: 2.35rem;
  font-weight: 700;
}

.p {
  & {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: $color-gray-1;

    @include responsive(phone) {
      font-size: 1.9rem;
    }
  }

  &--s {
    font-size: 1.4rem;

    @include responsive(phone) {
      font-size: 1.9rem;
    }
  }
}

.heading-small {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.4;
  color: $color-gray-1;
  z-index: 2;
}

.text-orange {
  color: $color-orange-2;
}

.text-center {
  text-align: center;
}
