.u-align-center {
  text-align: center;
}

.u-align-left {
  text-align: left;
}

.u-padding-vertical-xl {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.u-padding-vertical-l {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.u-padding-vertical-m {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.u-padding-vertical-s {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.u-padding-horizontal-m {
  padding-left: 4rem;
  padding-right: 4rem;
}

.u-padding-horizontal-s {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.u-margin-vertical {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.u-margin-horizontal {
  margin-left: 4rem;
  margin-right: 4rem;
}

.u-margin-bottom-xxl {
  margin-bottom: 15rem !important;
}

.u-margin-bottom-xl {
  margin-bottom: 12rem !important;
}

.u-margin-bottom-l {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-m {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-s {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-xs {
  margin-bottom: 1rem !important;
}

.u-margin-top-xl {
  margin-top: 12rem !important;
}

.u-margin-top-l {
  margin-top: 8rem !important;
}

.u-margin-top-m {
  margin-top: 4rem !important;
}

.u-margin-top-s {
  margin-top: 2rem !important;
}

.u-margin-top-xs {
  margin-top: 1rem !important;
}

.u-padding-top-l {
  padding-top: 8rem;
}
.u-padding-top-s {
  padding-top: 2rem;
}
.u-padding-top-m {
  padding-top: 4rem;
}

.lock-scroll {
  overflow: hidden;
}
