<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Aulas particulares de Matemática | Colmeia</title>

        <!-- tags -->
        <meta
            name="description"
            content="Reforço escolar com os melhores professores de Brasília e São Paulo. Agende pelo aplicativo ou pelo site e tenha aulas com segurança no conforto da sua casa."
        />
        <meta
            name="keywords"
            content="colmeia, reforco, reforco escolar, acompanhamento, escola, aulas particulares, aula particular"
        />
        <meta name="robots" content="index" />
        <meta property="og:image" content="https://www.aulascolmeia.com.br/img/page_description_img.png" />

        <!-- icon -->
        <link rel="icon" type="image/png" href="https://aulascolmeia.com.br/img/icon.png" sizes="32x32" />

        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" />

        <link href="https://aulascolmeia.com.br/css/landing-campanha.min.css" rel="stylesheet" type="text/css" />
        {{ standard_header_includes }}
        <!-- Global site tag (gtag.js) - Google Ads: 863977747 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-863977747"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'AW-863977747');
        </script>
      
       <!-- google analytics -->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            (i[r] =
                i[r] ||
                function() {
                    (i[r].q = i[r].q || []).push(arguments);
                }),
                (i[r].l = 1 * new Date());
            (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m);
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-100949672-1', 'auto');
        ga('send', 'pageview');
    </script>

      <!-- branch -->
<script defer type="text/javascript">
    (function(b, r, a, n, c, h, _, s, d, k) {
        if (!b[n] || !b[n]._q) {
            for (; s < _.length; ) c(h, _[s++]);
            d = r.createElement(a);
            d.async = 1;
            d.src = 'https://cdn.branch.io/branch-latest.min.js';
            k = r.getElementsByTagName(a)[0];
            k.parentNode.insertBefore(d, k);
            b[n] = h;
        }
    })(
        window,
        document,
        'script',
        'branch',
        function(b, r) {
            b[r] = function() {
                b._q.push([r, arguments]);
            };
        },
        { _q: [], _v: 1 },
        'addListener applyCode banner closeBanner creditHistory credits data deepview deepviewCta first getCode init link logout redeem referrals removeListener sendSMS  setBranchViewData setIdentity track validateCode'.split(
            ' '
        ),
        0
    );
    branch.init('key_live_acqrpyHyitkYBKFI6NN4BoneDub9RtOP', {
        make_new_link: false
    });

    var url = new URL(window.location.href);

    ga(function(tracker) {
        var _navigator = {};
        for (var i in window.navigator) _navigator[i] = window.navigator[i];
        _navigator = JSON.stringify(_navigator);

        var trackingData = {
            utm_source: url.searchParams.get('utm_source') || 'SEO',
            utm_medium: url.searchParams.get('utm_medium') || '',
            utm_campaign: url.searchParams.get('utm_campaign') || '',
            utm_content: url.searchParams.get('utm_content') || '',
            utm_term:
                url.searchParams.get('utm_term') ||
                window.location.pathname
                    .split('/')
                    .slice(1)
                    .join(','),
            ga_id: tracker.get('clientId'),
            navigator: _navigator
        };

        $.ajax({
            url: 'https://aulascolmeia.com.br/aluno/track',
            type: 'POST',
            data: trackingData
        })
            .done(function(response) {
                var data = trackingData;
                data['tracking_id'] = response.trackId ? response.trackId : '';

                branch.setBranchViewData({ data: data });
                branch.link({ data: data }, function(e, a) {
                    if (e) {
                        console.log(e);
                    } else {
                        $('.store-button').attr('href', a);
                    }
                });
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                console.log('Erro! ', textStatus);
            });
    });
</script>

 <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-PJFCZFZ');
        </script>
        

        <!-- Global site tag (gtag.js) - Google Ads: 863977747 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-863977747&v=666621a01840b53ccb62780f482d01c7"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'AW-863977747');
        </script>

        <!--
            Event snippet for Cadastro-Leads-LPs conversion page
            In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button.
        -->
        <script>
            function gtag_report_conversion(url) {
                var callback = function() {
                    if (typeof url != 'undefined') {
                        window.location = url;
                    }
                };
                gtag('event', 'conversion', {
                    send_to: 'AW-863977747/95lcCL-X74wBEJOC_ZsD',
                    event_callback: callback
                });
                return false;
            }
        </script>

        <script>
            var pageId = "sao-paulo";
        </script>

      

    </head>

    <body id="page-top">
    <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJFCZFZ"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->   
        <div id="overlay">
            <div class="overlay__content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <img
                                class="overlay__image"
                                src="https://aulascolmeia.com.br/img/logo-orange.png"
                                alt="Aulas Colmeia reforço escolar logo"
                            />
                            <h2 class="overlay__title">Bem-vindo à Colmeia! O que você procura?</h2>

                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <button class="overlay__button overlay__button--orange">Sou pai/aluno</button>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <a href="https://aulascolmeia.com.br/professor" class="overlay__button overlay__button--black"
                                        >Sou professor(a)</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="nav">
            <div class="container">
                <div class="nav__container">
                    <div class="nav__left">
                        <a href="https://aulascolmeia.com.br/" class="nav__link">
                            <img
                                class="nav__logo"
                                src="https://aulascolmeia.com.br/img/header-logo.png"
                                alt="Aulas Colmeia reforço escolar em casa logo"
                            />
                        </a>
                    </div>
                    <div class="nav__right"><div class="nav__phone">(61) 9 9805-2073</div></div>
                </div>
            </div>
        </nav>

        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <h1 class="header__title">
                            Aulas particulares<br />de Matemática
                        </h1>
                        <h2 class="header__subtitle">
                            A Comeia oferece os melhores professores particulares
                            <strong>de Matemática</strong> com pacotes de aulas particulares especiais.
                        </h2>

                        <div class="form__call">Insira seus dados e entraremos em contato</div>

                        <div class="row">
                            <div class="col-lg-9 col-md-9">
                                <form>
                                    <input type="text" class="form__input form__input--nome" placeholder="Nome" />
                                    <input
                                        type="text"
                                        class="form__input form__input--telefone"
                                        placeholder="Telefone"
                                    />
                                    <input type="text" class="form__input form__input--pacote" />
                                    <input type="submit" value="Solicitar antedimento" class="form__button" />
                                    <p class="form__caption">Pacotes com até <strong>15% de desconto</strong></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="servico">
            <div class="container">
                <h2 class="servico__title">Nosso serviço</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="servico__block">
                            <img
                                src="https://aulascolmeia.com.br/img/servico-escolha.png"
                                alt="Aulas Colmeia reforço escolar de matemática serviço escolha"
                                class="servico__block-img"
                            />
                            <h3 class="servico__block-title">Escolha</h3>
                            <p class="servico__block-subtitle">Defina o horário, local, a matéria e o professor.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="servico__block">
                            <img
                                src="https://aulascolmeia.com.br/img/servico-aula.png"
                                alt="Aulas Colmeia reforço escolar de matemática serviço escolha"
                                class="servico__block-img"
                            />
                            <h3 class="servico__block-title">Receba a aula</h3>
                            <p class="servico__block-subtitle">
                                Tenha aula em casa com os melhores professores particulares.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="servico__block">
                            <img
                                src="https://aulascolmeia.com.br/img/servico-pague.png"
                                alt="Aulas Colmeia reforço escolar de matemática serviço escolha"
                                class="servico__block-img"
                            />
                            <h3 class="servico__block-title">Pague</h3>
                            <p class="servico__block-subtitle">Escolha entre pagar com boleto ou cartão de crédito.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <a href="https://aulascolmeia.app.link/1klwKdmSCR" class="servico__link"
                            >Conheça nosso aplicativo</a
                        >
                    </div>
                </div>
            </div>
        </section>

        <section class="pacote">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <!--
                            <h2 class="pacote__title">


                                Pacotes



                            </h2>
                        -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="pacote-block">
                            <h4 class="pacote-block__title">Plano Mensal</h4>
                            <h5 class="pacote-block__discount">5%</h5>
                            <h5 class="pacote-block__subtitle">de desconto</h5>
                            <p class="pacote-block__item">12 horas de aula</p>
                            <p class="pacote-block__item">Horários garantidos</p>
                            <p class="pacote-block__item">Análise de evolução</p>
                            <button class="pacote-block__button" data-pacote="Mensal">Solicitar pacote</button>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="pacote-block pacote-block--large">
                            <h4 class="pacote-block__title">Plano Trimestral</h4>
                            <h5 class="pacote-block__discount pacote-block--orange">10%</h5>
                            <h5 class="pacote-block__subtitle pacote-block--orange">de desconto</h5>
                            <p class="pacote-block__item">24 horas de aula</p>
                            <p class="pacote-block__item">Horários garantidos</p>
                            <p class="pacote-block__item">Análise de evolução</p>
                            <button class="pacote-block__button" data-pacote="Trimestral">Solicitar pacote</button>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="pacote-block">
                            <h4 class="pacote-block__title">Plano Semestral</h4>
                            <h5 class="pacote-block__discount">15%</h5>
                            <h5 class="pacote-block__subtitle">de desconto</h5>
                            <p class="pacote-block__item">40 horas de aula</p>
                            <p class="pacote-block__item">Horários garantidos</p>
                            <p class="pacote-block__item">Análise de evolução</p>
                            <button class="pacote-block__button" data-pacote="Semestral">Solicitar pacote</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="porque">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <h3 class="porque__title">
                            Por quê agendar aulas <br />
                            com a Colmeia?
                        </h3>
                        <p class="porque__text">
                            A Colmeia acredita na importância do ensino personalizado e de qualidade para a formação de
                            estudantes incríveis. Por isso, cada aluno recebe um plano de aulas diferente que depende da
                            sua necessidade. <br /><br />
                            Também tentamos facilitar ao máximo o processo de agendamento e pagamento das aulas, temos
                            uma lista com professores particulares. <br /><br />
                            Quer saber como está a nota de corte e a concorrencia de todos os cursos? <br />
                            <br />
                            <button class="porque__link">Quer saber como agendar sua aula? Clique aqui!</button>
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="porque__img-container">
                            <img
                                src="https://aulascolmeia.com.br/img/AulasTXT.png"
                                alt="Aulas Colmeia reforço escolar preço justo"
                                class="porque__img"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="phone">
            <img src="https://aulascolmeia.com.br/img/phone-main.png" alt="" class="phone__img" />
            <div class="container">
                <div class="col-lg-5 col-md-5 col-lg-offset-4 col-md-offset-4">
                    <div class="phone__content">
                        <div class="phone__block">
                            <img
                                src="https://aulascolmeia.com.br/img/phone-star.png"
                                alt="Aulas Colmeia reforço escolar melhores professores"
                                class="phone__block-left"
                            />
                            <div class="phone__block-right">
                                <div class="phone__block-title">Os melhores profesores</div>
                                <div class="phone__block-text">
                                    Nossos professores passam por um processo seletivo criterioso, com análise de dados
                                    e entrevista.
                                </div>
                            </div>
                        </div>

                        <div class="phone__block">
                            <img
                                src="https://aulascolmeia.com.br/img/phone-seguranca.png"
                                alt="Aulas Colmeia reforço escolar com segurança em casa"
                                class="phone__block-left"
                            />
                            <div class="phone__block-right">
                                <div class="phone__block-title">Segurança</div>
                                <div class="phone__block-text">
                                    Nós usamos sistemas de segurança avançados em todo o processo de pagamento e
                                    armazenamento de dados.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="preco">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h2 class="preco__title">Preço</h2>
                        <div class="preco__card">
                            <img
                                src="https://aulascolmeia.com.br/img/preco-icon.png"
                                alt="Aulas Colmeia reforço escolar preço"
                                class="preco__card-left"
                            />
                            <div class="preco__card-right">
                                <div class="preco__card-title">Aulas de reforço</div>
                                <div class="preco__card-text">
                                    Todas as matérias do Ensinos fundamental e do Ensino médio.
                                </div>
                                <div class="preco__card-price">
                                    <div class="preco__card-price-value">R$59,90</div>
                                    <div class="preco__card-price-sub">por hora</div>
                                </div>
                            </div>
                        </div>
                        <div class="preco__button-container"><button class="preco__button">Agendar aula</button></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="comentario">
            <div class="container">
                <div class="comentario__title">Comentários</div>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="comentario__block comentario__block--filled">
                            <div class="comentario__text">
                                Gostaria de agradecer a atenção em me ajudar a encontrar um professor em cima da hora.
                                Demonstra que vocês são profissionais sérios e dispostos a ajudar. Outros falariam que
                                não tinha e pronto. [...] No final da aula, a professora me passou um resumo de toda a
                                aula com meu filho. Muito profissional! Adorei!!!!!
                            </div>
                            <div class="comentario__name">Thaisa Coutinho</div>
                            <div class="comentario__sub">Mãe</div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="comentario__block">
                            <div class="comentario__text">
                                Antes era difícil conseguir professor particular com horário em matéria como :
                                português, geografia, física. Com o aplicativo, por ter mais opções, posso conseguir
                                agendar as aulas sempre e na urgência que necessito. Tenho como informar o conteúdo que
                                minha filha tem maior dificuldade direto pelo aplicativo sem precisar falar com ninguém.
                            </div>
                            <div class="comentario__name">Eliane Fleury</div>
                            <div class="comentario__sub">Mãe</div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="comentario__block">
                            <div class="comentario__text">
                                Procurei por indicação do Galois de Brasília, minha escola. Sempre fui acostumada a ter
                                aulas particulares com certa frequência, e o Colmeia é um jeito muito mais prático para
                                o pedido, principalmente! O app dá a avaliação dos professores, que são ótimos, e outras
                                informações como o currículo e isso passa uma segurança enorme!
                            </div>
                            <div class="comentario__name">Maria Pedretti</div>
                            <div class="comentario__sub">Aluna</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="cta">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
                        <h3 class="cta__title">Gostou do nosso serviço?</h3>
                        <p class="cta__text">
                            A Colmeia vai te ajudar a montar um plano de estudos com foco nas suas matérias com maior
                            dificuldade.
                        </p>
                        <button class="cta__button">Converse com a nossa equipe pedagógica</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="code">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-lg-offset-5 col-md-offset-5">
                        <h3 class="code__title">Conheça nosso app</h3>
                        <p class="code__subtitle">
                            Baixe nosso aplicativo agora e obtenha <strong>15%</strong> <br />
                            de desconto na sua primeira aula com o código abaixo:
                        </p>
                        <div class="code__content">colmeiando</div>
                    </div>
                </div>
            </div>
        </section>
      <div id="modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="aula-modal-title">Contato solicitado</div>
                        <div class="aula-modal-content">
                            Recebemos os seus dados, em breve nossa <br />
                            equipe entrará em contato!
                        </div>
                        <div class="colmeia-button aula-marcada-button">Continuar</div>
                    </div>
                </div>
            </div>
        </div>
      
    </body>
{{ standard_footer_includes }}
    <script src="https://aulascolmeia.com.br/js/landing-campanha-obrigado.min.js"></script>
    <!-- Start of colmeia Zendesk Widget script -->
<script defer type="text/javascript">
    var ua = navigator.userAgent.toLowerCase(),
        platform = navigator.platform.toLowerCase();
    (platformName = ua.match(/ip(?:ad|od|hone)/)
        ? 'ios'
        : (ua.match(/(?:webos|android)/) || platform.match(/mac|win|linux/) || ['other'])[0]),
        (isMobile = /ios|android|webos/.test(platformName));

    if (!isMobile) {
        window.zEmbed ||
            (function(e, t) {
                var n,
                    o,
                    d,
                    i,
                    s,
                    a = [],
                    r = document.createElement('iframe');
                (window.zEmbed = function() {
                    a.push(arguments);
                }),
                    (window.zE = window.zE || window.zEmbed),
                    (r.src = 'javascript:false'),
                    (r.title = ''),
                    (r.role = 'presentation'),
                    ((r.frameElement || r).style.cssText = 'display: none'),
                    (d = document.getElementsByTagName('script')),
                    (d = d[d.length - 1]),
                    d.parentNode.insertBefore(r, d),
                    (i = r.contentWindow),
                    (s = i.document);
                try {
                    o = s;
                } catch (e) {
                    (n = document.domain),
                        (r.src = 'javascript:var d=document.open();d.domain="' + n + '";void(0);'),
                        (o = s);
                }
                (o.open()._l = function() {
                    var e = this.createElement('script');
                    n && (this.domain = n),
                        (e.id = 'js-iframe-async'),
                        (e.src = '/js/lib/zendesk.js'),
                        (this.t = +new Date()),
                        (this.zendeskHost = 'colmeia.zendesk.com'),
                        (this.zEQueue = a),
                        this.body.appendChild(e);
                }),
                    o.write('<body onload="document._l();">'),
                    o.close();
            })();
    }
</script>
<!-- End of colmeia Zendesk Widget script -->

<!-- Hotjar Tracking Code for www.aulascolmeia.com.br -->
<script>
    (function(h, o, t, j, a, r) {
        h.hj =
            h.hj ||
            function() {
                (h.hj.q = h.hj.q || []).push(arguments);
            };
        h._hjSettings = { hjid: 495812, hjsv: 6 };
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script');
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
</script>
  
  <!-- Facebook Pixel Code -->
<script>
    !(function(f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function() {
            n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
    })(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '385485282184833');
    fbq('track', 'PageView');
</script>
<noscript
    ><img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=385485282184833&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
</html>
