<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Colmeia Aulas Particulares - Parceria</title>

        <!-- tags -->
        <meta
            name="description"
            content="Reforço escolar com os melhores professores de Brasília e São Paulo. Agende pelo aplicativo ou pelo site e tenha aulas com segurança no conforto da sua casa."
        />
        <meta
            name="keywords"
            content="colmeia, reforco, reforco escolar, acompanhamento, escola, aulas particulares, aula particular"
        />
        <meta name="robots" content="index" />
        <meta property="og:image" content="https://www.aulascolmeia.com.br/img/page_description_img.png" />

        <!-- icon -->
        <link rel="icon" type="image/png" href="https://aulascolmeia.com.br/img/icon.png" sizes="32x32" />

        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" />

        <link href="https://aulascolmeia.com.br/css/landing-parceria.min.css" rel="stylesheet" type="text/css" />
        {{ standard_header_includes }}
        <!-- Global site tag (gtag.js) - Google Ads: 863977747 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-863977747"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'AW-863977747');
        </script>
      
       <!-- google analytics -->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            (i[r] =
                i[r] ||
                function() {
                    (i[r].q = i[r].q || []).push(arguments);
                }),
                (i[r].l = 1 * new Date());
            (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m);
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-100949672-1', 'auto');
        ga('send', 'pageview');
    </script>

 <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-PJFCZFZ');
        </script>
        

        <!-- Global site tag (gtag.js) - Google Ads: 863977747 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-863977747&v=666621a01840b53ccb62780f482d01c7"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'AW-863977747');
        </script>

        <!--
            Event snippet for Cadastro-Leads-LPs conversion page
            In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button.
        -->
        <script>
            function gtag_report_conversion(url) {
                var callback = function() {
                    if (typeof url != 'undefined') {
                        window.location = url;
                    }
                };
                gtag('event', 'conversion', {
                    send_to: 'AW-863977747/95lcCL-X74wBEJOC_ZsD',
                    event_callback: callback
                });
                return false;
            }
        </script>
      
      <style>
        .hs-image-widget {
          margin-bottom: 40px;
          max-width: 100% !important;
        }
      </style>

    </head>

    <body id="page-top">
    <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJFCZFZ"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->   
      
      {% image "background_image_1" label='Background Image',
      src='https://cdn2.hubspot.net/hubfs/2500081/Invest/bg1.jpg',
      export_to_template_context=True %}

        <section class="section-parceria" style="padding-top:85px;background-image:url('{{ widget_data.background_image_1.src }}');background-position-x: -75px;background-repeat:no-repeat;">
            <div class="container">
                <div class="row">
                  <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2">
                    <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="span12 widget-span widget-type-custom_widget " style="max-width:100%;margin-bottom:20px;" data-widget-type="custom_widget" data-x="0" data-w="12">
                        {% module_block module "module_1554839204849205" wrapping_html='', per_widget_wrapper_html='', overrideable=True, widget_name='Image', module_id=1155231, path='/DESIGN_DEFAULT_MODULE/Image', img='{"src":"https://static.hubspot.com/final/img/content/email-template-images/placeholder_200x200.png","alt":"Aulas Colmeia Parceiros","width":200,"height":200}', link='https://aulascolmeia.com.br/img/colmeia_logo.png', label='Image' %}
                        {% end_module_block %}
                    </div><!--end widget-span -->
                    
                    <div class="span12 widget-span widget-type-custom_widget parceria-title" style="margin-bottom:20px;" data-widget-type="custom_widget" data-x="0" data-w="12">
                        {% module_block module "module_1554839188671201" wrapping_html='', per_widget_wrapper_html='', overrideable=True, widget_name='Rich Text', module_id=1155639, path='/DESIGN_DEFAULT_MODULE/Rich Text', label='Rich Text' %}
                        {% end_module_block %}
                    </div><!--end widget-span -->
                    
                    <div class="span12 widget-span widget-type-custom_widget parceria-subtitle" style="margin-bottom:20px;" data-widget-type="custom_widget" data-x="0" data-w="12">
                        {% module_block module "module_1554839190635203" wrapping_html='', per_widget_wrapper_html='', overrideable=True, widget_name='Rich Text', module_id=1155639, path='/DESIGN_DEFAULT_MODULE/Rich Text', label='Rich Text' %}
                        {% end_module_block %}
                    </div><!--end widget-span -->
                  </div>
                  <div class="col-lg-6 col-md-6">
                        <form class="form">
                            <div class="form__title">Aproveite o benefício de até 25% agora!</div>
                            <div class="form__subtitle">Preencha os dados abaixo e faremos um atendimento individual</div>
                            <input type="text" class="form__input form__input--nome" name="nome" id="nome" placeholder="Nome" />
                            <input type="email" class="form__input form__input--email" name="email" id="email" placeholder="Email" />
                            <input
                                type="text"
                                class="form__input form__input--telefone"
                                name="telefone"
                                id="telefone"
                                placeholder="Telefone"
                            />

                            <button id="sendButton" name="button" class="form__button">Quero melhorar meu inglês</button>
                        </form>
                    </div>
              </div>
                  </div>
              </div>
            </div>
        </section>
      {% module "module_1555076550683182" path="/Campanhas/templates/Landing Parceiro/Landing Parceria Bottom" %}
    </body>
{{ standard_footer_includes }}
    <script src="https://aulascolmeia.com.br/js/landing-parceria.min.js"></script>
    <!-- Start of colmeia Zendesk Widget script -->
<script defer type="text/javascript">
    var ua = navigator.userAgent.toLowerCase(),
        platform = navigator.platform.toLowerCase();
    (platformName = ua.match(/ip(?:ad|od|hone)/)
        ? 'ios'
        : (ua.match(/(?:webos|android)/) || platform.match(/mac|win|linux/) || ['other'])[0]),
        (isMobile = /ios|android|webos/.test(platformName));

    if (!isMobile) {
        window.zEmbed ||
            (function(e, t) {
                var n,
                    o,
                    d,
                    i,
                    s,
                    a = [],
                    r = document.createElement('iframe');
                (window.zEmbed = function() {
                    a.push(arguments);
                }),
                    (window.zE = window.zE || window.zEmbed),
                    (r.src = 'javascript:false'),
                    (r.title = ''),
                    (r.role = 'presentation'),
                    ((r.frameElement || r).style.cssText = 'display: none'),
                    (d = document.getElementsByTagName('script')),
                    (d = d[d.length - 1]),
                    d.parentNode.insertBefore(r, d),
                    (i = r.contentWindow),
                    (s = i.document);
                try {
                    o = s;
                } catch (e) {
                    (n = document.domain),
                        (r.src = 'javascript:var d=document.open();d.domain="' + n + '";void(0);'),
                        (o = s);
                }
                (o.open()._l = function() {
                    var e = this.createElement('script');
                    n && (this.domain = n),
                        (e.id = 'js-iframe-async'),
                        (e.src = '/js/lib/zendesk.js'),
                        (this.t = +new Date()),
                        (this.zendeskHost = 'colmeia.zendesk.com'),
                        (this.zEQueue = a),
                        this.body.appendChild(e);
                }),
                    o.write('<body onload="document._l();">'),
                    o.close();
            })();
    }
</script>
<!-- End of colmeia Zendesk Widget script -->

<!-- Hotjar Tracking Code for www.aulascolmeia.com.br -->
<script>
    (function(h, o, t, j, a, r) {
        h.hj =
            h.hj ||
            function() {
                (h.hj.q = h.hj.q || []).push(arguments);
            };
        h._hjSettings = { hjid: 495812, hjsv: 6 };
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script');
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
</script>
  
  <!-- Facebook Pixel Code -->
<script>
    !(function(f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function() {
            n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
    })(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '385485282184833');
    fbq('track', 'PageView');
</script>
<noscript
    ><img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=385485282184833&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
</html>
