<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ html_lang }}" {{ html_lang_dir }}> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ html_lang }}" {{ html_lang_dir }}>        <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{ html_lang }}" {{ html_lang_dir }}>               <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ html_lang }}" {{ html_lang_dir }}>
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="author" content="{{ meta_author }}" />
    <meta name="description" content="{{ page_meta.meta_description }}" />
    <meta name="generator" content="HubSpot" />
    <title>{{ page_meta.html_title }}</title>
    {% if site_settings.favicon_src %}
    <link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />
    {% endif %}

    {{
      required_head_tags
    }}

    {{
      include_css('hubspot_default/shared/responsive/layout.css')
    }}
    {{
      user_head_overrides
    }}
  </head>
  <body class=" {{ builtin_body_classes }}" style="">
    <div class="header-container-wrapper">
      <div class="header-container container-fluid">
        <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
          <div class="row-fluid ">
            <div
              class="span12 widget-span widget-type-custom_widget "
              style=""
              data-widget-type="custom_widget"
              data-x="0"
              data-w="12"
            >
              {% module_block module "module_1549904076393537" module_id=6322676, overrideable=True,
              path='/Campanhas/modules/header', per_widget_wrapper_html='', widget_name='header',
              wrapping_html='', label='header' %} {% end_module_block %}
            </div>
            <!--end widget-span -->
          </div>
          <!--end row-->
        </div>
        <!--end row-wrapper -->
      </div>
      <!--end header -->
    </div>
    <!--end header wrapper -->

    <div class="body-container-wrapper">
      <div class="body-container container-fluid">
        <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
          <div class="row-fluid ">
            <div
              class="span12 widget-span widget-type-cell "
              style=""
              data-widget-type="cell"
              data-x="0"
              data-w="12"
            >
              <div class="row-fluid-wrapper row-depth-1 row-number-2 ">
                <div class="row-fluid ">
                  <div
                    class="span12 widget-span widget-type-custom_widget parceria-image"
                    style="max-width:100%;margin-bottom:20px;"
                    data-widget-type="custom_widget"
                    data-x="0"
                    data-w="12"
                  >
                    {% module_block module "module_1554839204849205" img='{"alt":"Aulas Colmeia
                    Parceiros","height":200,"src":"https://static.hubspot.com/final/img/content/email-template-images/placeholder_200x200.png","width":200}',
                    link='https://aulascolmeia.com.br/img/colmeia_logo.png', module_id=1155231,
                    overrideable=True, path='/DESIGN_DEFAULT_MODULE/Image',
                    per_widget_wrapper_html='', widget_name='Image', wrapping_html='', label='Image'
                    %} {% end_module_block %}
                  </div>
                  <!--end widget-span -->
                </div>
                <!--end row-->
              </div>
              <!--end row-wrapper -->

              <div class="row-fluid-wrapper row-depth-1 row-number-3 ">
                <div class="row-fluid ">
                  <div
                    class="span12 widget-span widget-type-custom_widget parceria-title"
                    style="margin-bottom:20px;"
                    data-widget-type="custom_widget"
                    data-x="0"
                    data-w="12"
                  >
                    {% module_block module "module_1554839188671201" module_id=1155639,
                    overrideable=True, path='/DESIGN_DEFAULT_MODULE/Rich Text',
                    per_widget_wrapper_html='', widget_name='Rich Text', wrapping_html='',
                    label='Rich Text' %} {% end_module_block %}
                  </div>
                  <!--end widget-span -->
                </div>
                <!--end row-->
              </div>
              <!--end row-wrapper -->

              <div class="row-fluid-wrapper row-depth-1 row-number-4 ">
                <div class="row-fluid ">
                  <div
                    class="span12 widget-span widget-type-custom_widget parceria-subtitle"
                    style="margin-bottom:20px;"
                    data-widget-type="custom_widget"
                    data-x="0"
                    data-w="12"
                  >
                    {% module_block module "module_1554839190635203" module_id=1155639,
                    overrideable=True, path='/DESIGN_DEFAULT_MODULE/Rich Text',
                    per_widget_wrapper_html='', widget_name='Rich Text', wrapping_html='',
                    label='Rich Text' %} {% end_module_block %}
                  </div>
                  <!--end widget-span -->
                </div>
                <!--end row-->
              </div>
              <!--end row-wrapper -->
            </div>
            <!--end widget-span -->
          </div>
          <!--end row-->
        </div>
        <!--end row-wrapper -->
      </div>
      <!--end body -->
    </div>
    <!--end body wrapper -->

    <div class="footer-container-wrapper">
      <div class="footer-container container-fluid">
        <div class="row-fluid-wrapper row-depth-1 row-number-1 ">
          <div class="row-fluid ">
            <div
              class="span12 widget-span widget-type-custom_widget "
              style=""
              data-widget-type="custom_widget"
              data-x="0"
              data-w="12"
            >
              {% module_block module "module_1549990625392913" module_id=6382406, overrideable=True,
              path='/Campanhas/modules/body', per_widget_wrapper_html='', widget_name='body',
              wrapping_html='', label='body' %} {% end_module_block %}
            </div>
            <!--end widget-span -->
          </div>
          <!--end row-->
        </div>
        <!--end row-wrapper -->
      </div>
      <!--end footer -->
    </div>
    <!--end footer wrapper -->

    {{ standard_footer_includes }}

    <!-- Generated by the HubSpot Template Builder - template version 1.03 -->
  </body>
</html>
