.video-container canvas {
  z-index: 0;
  position: absolute;
  border: 0;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.canvas-options-nav {
  background-color: #4F4F4F;
  box-shadow: 4px 8px 40px rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  position: absolute;
  top: 10px;
  transform: translate(-50%);
  left: 50%;
  z-index: 1;
  display: none;
}

.canvas-options-nav button {
  background-color: #4F4F4F;
  color: #F2F2F2;
  text-align: center;
  letter-spacing: 0.01em;
  font-weight: bold;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas-options-nav button:first-child {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.canvas-options-nav button:last-child {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.canvas-options-nav .canvas-option__img {
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
}

.canvas-options-nav #pencil-img {
  background-image: url('/img/aulaonline-pencil-icon.png');
}
.canvas-options-nav #writing-img {
  background-image: url('/img/aulaonline-writing-icon.png');
}
.canvas-options-nav #eraser-img {
  background-image: url('/img/aulaonline-eraser-icon.png');
}
.canvas-options-nav #download-img {
  background-image: url('/img/aulaonline-download-icon.png');
}
.canvas-options-nav #clearall-img {
  background-image: url('/img/aulaonline-clearall-icon.png');
}

.canvas-options-nav #permission-img {
  background-image: url('/img/aulaonline-allowstudent-icon.png');
}

.canvas-options-nav .permission-on-img {
  background-image: url('/img/aulaonline-blockstudent-icon.png') !important;
}

.canvas-options-nav #mode-img {
  background-image: url('/img/aulaonline-min-icon.png');
}

.canvas-options-nav .max-mode-img {
  background-image: url('/img/aulaonline-max-icon.png') !important;
}

.pencil-now {
  cursor: url('/img/aulaonline-pencil-black-icon.png') 0 32, auto;
}

.writing-now {
  cursor: url('/img/aulaonline-writing-black-icon.png') 0 32, auto;
}

.eraser-now {
  cursor: url('/img/aulaonline-eraser-black-icon.png') 0 32, auto;
}

.download-now {
  cursor: url('/img/aulaonline-download-icon.png'), auto;
}

.clearall-now {
  cursor: url('/img/aulaonline-clearall-icon.png'), auto;
}


/* minimized mode */
.canvas-options-nav-minmode {
  left: unset;
  right: 0;
}

.canvas-options-nav-minmode button:not(.mode-btn) {
  display: none;
}

.canvas-options-nav-minmode .mode-btn {
  border-radius: 20px;
  padding: 0.7rem;
}