.chat-container {
  flex: 2.2;
  /* display: flex; */
  flex-direction: column;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.chat-container .header {
  display: flex;
  align-items: center;
  background: #FF8008;
  justify-content: space-between;
}

.chat-container .header h3 {
  color: #F2F2F2;
  font-weight: 900;
  font-size: 1.5rem;
  padding-left: 2rem;
}

.chat-container .close-img {
  background-image: url(/img/aulaonline-logout-mobile-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  padding: 2rem;
  cursor: pointer;
}

/* MessageSender */
.chat-container .sender {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #BDBDBD;;
  background-color: #FDFDFD;
}

.chat-container input#text-msg {
  flex-grow: 1;
  padding: 1rem;
  height: 100%;
  font-size: 1.3rem;
  color: #828282;
  letter-spacing: 0.01em;
  font-weight: bold;
}

.chat-container input#file-msg {
  display: none;
}

.chat-container label[for=file-msg],
.chat-container .text-msg-btn {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  background-color: #FDFDFD;
  width: 6rem;
  height: 6rem;
}

.chat-container label[for=file-msg] {
  background-image: url(/img/send-file-icon.png);
  cursor: pointer;
}

.chat-container .text-msg-btn {
  background-image: url(/img/aulaonline-submit-btn.png);
  filter: none;
}

.chat-container .local-msg, .chat-container .remote-msg {
  padding: 0 0.5rem;
}

.chat-container .chat-author, .chat-container .chat-msg {
  font-size: 1.6rem;
  letter-spacing: 0.01em;
  font-weight: bold;
}

.chat-container .local-msg .chat-author {
  color: #fa8027;
}

.chat-container .remote-msg .chat-author {
  color: #003153;
}

.chat-container .chat-author a {
  color: inherit;
}

.chat-container .chat-author .new-tab-icon {
  width: 23px;
  transform: rotate(230deg);
}

.chat-container .chat-author a:visited {
  filter: brightness(1.1);
}

.chat-container .chat-msg {
  color: #828282;
}

/* MessageList */
.chat-container .list {
  background: #EEEEEE;
  flex-grow: 1;
  overflow-y: scroll;
}

/* Mobile */
.mobile-v .chat-container {
  flex: 4;
}

.mobile-v .chat-container .list {
  flex-basis: 200px;
}

.mobile-v .chat-container .sender {
  flex-basis: 70px;
}

/* Atendimento */
.is-atendimento .chat-container .sender {
  display: none;
}