header {
  background:
      url("/img/colmeia_price_header.jpg");
  background-repeat: no-repeat;
  /*background-attachment: scroll;*/
  /*paralax effect*/
  background-attachment: fixed;
  background-position: 40% 30%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 40vh;
}

header .intro-text{
  margin-top: 80px;
  text-align: center;
  color: white;
}

header .intro {
  margin: 60px 0 20px 20px;
}

.footer {
  padding: 25px;
}

.intro h1{
  letter-spacing: 1px;
  font-size: 64px;
  text-shadow: 1px 1px 1px #ccc;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.6),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.intro h2{
  font-size: 24px;
  font-weight: normal;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.3   ),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.intro .btn, .intro .btn:active {
  background-color: #FF8008;
  border: none;
  margin-top: 25px;
}

.intro form label {
  margin-top: 2px;
  margin-bottom: 1px;
  color: white;
}

.prices {
  font-family: "Raleway";
}

.priceLine {
  display: flex;           /* establish flex container */
  flex-direction: row;  /* make main axis vertical */
  justify-content: flex-end; /* center items vertically, in this case */
  align-items: center;
  padding-right: 0px;
}

.priceLine h3{
  font-size: 48px;
}

.priceContent {
  padding-right: 25px;
}

.priceContent h2{
  font-size: 36px;
  font-weight: 700;
}

.priceContent h3{
  font-size: 28px;
}
.priceContent h4{
  font-size: 16px;
}

.buttonSpace {
  display: flex;           /* establish flex container */
  flex-direction: row;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;
  padding-right: 0px;
}

.colmeia-button{
  padding: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #FF8008;
  outline: none;
  border: none;
  color: #FAFAFA;
  font-size: 24px;
  border-radius: 0;
}
.colmeia-button:active,
.colmeia-button.active,
.colmeia-button:focus,
.colmeia-button:active:focus,
.colmeia-button:hover{
  background-color: #ff5208;
  box-shadow: none;
  color: #FAFAFA;
}

.btn-block {
    width: 75%;
}

@media (max-width: 768px) {
  .intro h1{
    font-size: 36px;
  }
  header {
    height: 260px;
  }
  header .intro {
    margin: 16px 0 20px 0px;
  }
  .priceLine h3{
    font-size: 28px;
  }
  .priceContent h2{
    font-size: 24px;
  }

  .priceContent h3{
    font-size: 20px;
  }
  .priceContent h4{
    font-size: 14px;
  }
}
