.top-bar {
  width: 100%;
  background-color: #F9F9F9;
  border-bottom: 1px solid #828282;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  padding-top: 2rem;
}

.logo-colmeia img {
  width: 17rem;
}

.top-bar h3 {
  font-weight: bold;
  font-size: 1.9rem;
  letter-spacing: 0.02em;
  color: #FF8008;
}

@media only screen and (max-width: 400px) {
  .top-bar {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .logo-colmeia img {
    width: 15rem;
  }

  .top-bar h3 {
    font-size: 1.5rem;
  }
}

