*,
*::before,
*::after {
  box-sizing: border-box !important;
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-family: 'Raleway', sans-serif !important;
  background-color: #fff !important;
}

body {
  color: #fff;
}

.form {
  background-color: rgba(0, 0, 0, 0.5);
}

.form__title,
.form__subtitle {
  color: #fff;
}

.form__title::before {
  background-color: #ff8008;
}

.form__input {
  border-color: #fff;
  background-color: transparent !important;
}

.form__button {
  background-color: #ff8008;
  border-color: #ff8008;
}

.form__button:hover {
  color: #ff8008 !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.section-parceria__title {
  text-transform: uppercase;
  color: #202020;
}
.section-parceria__subtitle {
  color: #fff;
}

.section-video,
.section-1 {
  background-color: #202020;
  color: #fff;
}

.section-video__cta,
.section-1__cta,
.section-2__cta {
  color: #fff;
}

.section-2 {
  background-color: #303030;
  color: #fff;
}

.section-2__cta {
  background-color: #ff8008 !important;
  border: none !important;
}

.section-2__left {
  background-color: #202020;
}

.section-1__img-container::after {
  border-color: #202020 !important;
}

.section-1__img-container {
  border-color: #ff8008;
}

.section-3 {
  background-color: #ff8008 !important;
  color: #ffffff;
}
