<style>
  .section-1__img-container::after {
    border: 15px solid {{ module.brand_color.color }};
}
</style>

<section class="section-1">
  <div class="section-1__content">
    <div class="section-1__left">
      <div class="section-1__img-container">
        <img src="{{ module.section_1_img.src }}" class="section-1__img" />
      </div>
    </div>
    <div class="section-1__right">
      <div class="section-1__title">
        {{ module.section_1_title }}
      </div>
      <div class="section-1__subtitle">
        <div class="section-2__item">
          {{ module.section_1_bullet_1 }}
        </div>
        <div class="section-2__item">
          {{ module.section_1_bullet_2 }}
        </div>
        <div class="section-2__item">
          {{ module.section_1_bullet_3 }}
        </div>
      </div>
      <div class="section-1__cta" style="background-color: {{ module.brand_color.color }}; border: 2px solid {{ module.brand_color.color }}">
        {{ module.cta_1 }}
      </div>
    </div>
  </div>
</section>
<section class="section-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
        <div class="section-2__container">
          <div class="section-2__left">
            <div class="section-2__title">
              {{ module.section_2_title }}
            </div>
            <div class="section-2__item">
              {{ module.section_2_bullet_1 }}
            </div>
            <div class="section-2__item">
              {{ module.section_2_bullet_2 }}
            </div>
            <div class="section-2__item">
              {{ module.section_2_bullet_3 }}
            </div>
            <div class="section-2__item">
              {{ module.section_2_bullet_4 }}
            </div>
            <div class="section-2__cta">
              {{ module.cta_2 }}
            </div>
          </div>
          <div class="section-2__right" style="background-image: url({{ module.section_2_img.src }})"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="depoimentos">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" align="center">
        <h2>Depoimentos de clientes</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="depoimento">
          <p>
            <span class="mobile-quotes" display: hidden>"</span> Fomos muito bem atendidos tanto pela equipe administrativa quanto pelos competentes e solícitos professores. À minha professora Stefani eu tenho somente a agradecer em todos os aspectos: estou aprendendo não só o conteúdo, mas também disponibilidade, companheirismo e respeito. Ao contato administrativo, eu sinto que há confiança, respeito e atenção às minhas solicitações. Nota 10 para a Stefani e 10 também para o atendimento da equipe Colmeia!
            <span class="mobile-quotes" display:
                  hidden>"</span>
          </p>
          <div class="author">
            Messonia Araujo
          </div>
          <img src="/img/full-stars.png" alt="Imagem estrelas" class="mobile-img" display: hidden>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="depoimento">
          <p>
            <span class="mobile-quotes" display: hidden>"</span> Eu tinha uma dificuldade muito grande para estudar em horários fixos, então pude comprovar na prática o diferencial da Colmeia. A qualidade dos professores é inquestionável e a equipe foi sensacional em atender minhas demandas, estão de parabéns pela seriedade do trabalho. Eu, infelizmente, tive que sair por dificuldades pessoais, contudo, assim que eu me reorganizar, retornarei a usar os serviços da Colmeia. Tenham a certeza de que esse é um depoimento muito sincero, um abraço.
            <span class="mobile-quotes"
                  display: hidden>"</span>
          </p>
          <div class="author">
            Deivson Mundim
          </div>
          <img src="https://aulascolmeia.com.br/img/full-stars.png" alt="Imagem estrelas" class="mobile-img" display: hidden>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="depoimento">
          <p>
            <span class="mobile-quotes" display: hidden>"</span> Gostaria de agradecer a atenção em me ajudar a encontrar um professor em cima da hora. Demonstra que vocês são profissionais sérios e dispostos a ajudar. Outros falariam que não tinha e pronto. [...] No final da aula, a professora me passou um resumo de toda a aula. Muito profissional! Adorei!!!!!
            <span class="mobile-quotes"
                  display: hidden>"</span>
          </p>
          <div class="author">
            Thaisa Coutinho
          </div>
          <img src="/img/full-stars.png" alt="Imagem estrelas" class="mobile-img" display: hidden>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
        <div class="section-1__cta" style="background-color: {{ module.brand_color.color }}; border: 2px solid {{ module.brand_color.color }}; margin-top: 60px;">
          {{ module.cta_1 }}
         </div>
      </div>
    </div>
    
  </div>
</section>
<section class="section-3" style="background-color: {{ module.brand_color.color }}">
  {{ module.disclaimer }}
</section>