.section-1 {
  background-color: #ebebeb;
  padding: 30px 0;
  padding-bottom: 15px;
  color: #505050;
}

.section-1__content {
  display: flex;
}

.section-1__left {
  flex: 0 0 40%;
  position: relative;
}

.section-1__right {
  flex: 1;
  padding-right: 100px;
}

.section-1__title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}

.section-1__subtitle {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 40px;
}

.section-1__img {
  position: absolute;
  display: block;
  max-height: 100%;
  height: 100%;
  top: 0;
  left: 0;
  width: auto;
}

.section-1__img-container {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 50%;
  border: 20px solid #ebebeb;
  transform: translateX(-50%);
  border: 20px solid #ebebeb;
  width: 500px;
  height: 500px;
  max-width: 100%;
  border-radius: 50%;
}

.section-1__img-container::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 15px solid black;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-1__cta,
.section-2__cta {
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 35px;
  padding: 12px 0;
  margin: 20px;
  cursor: pointer;
  text-align: center;
  transition: 0.3s all;
}

/* .section-1__cta {
  background-color: #1e57a6;
  border: 2px solid #1e57a6;
} */

/* .section-1__cta:hover {
  background-color: transparent;
  color: #ff8008;
} */

.section-2__cta {
  background-color: #ff8008;
  border: 2px solid #ff8008;
  margin-top: 50px;
}

/* .section-2__cta:hover {
  background-color: transparent;
  color: #ff8008;
}
*/
.section-2 {
  padding-top: 150px;
  padding-bottom: 50px;
  color: #505050;
}
.section-2__container {
  border-radius: 40px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  overflow: hidden;
}

.section-2__title {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}

.section-2__item {
  padding-left: 55px;
  color: #707070;
  font-size: 16px;
  margin-bottom: 20px;
  position: relative;
}

.section-2__item::before {
  content: url(https://aulascolmeia.com.br/img/lp-check.png);
  position: absolute;
  top: 0;
  transform: scale(0.5);
  left: 0px;
  width: 25px;
  height: 25px;
}

.section-2__left {
  flex: 0 0 65%;
  padding: 30px;
  padding-bottom: 10px;
}

.section-2__right {
  flex: 1;
  background-image: url(https://aulascolmeia.com.br/img/lp-parceria-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-3 {
  padding: 5px 20px;
  color: #fff;
  font-size: 14px;
}

#depoimentos h2 {
  margin-bottom: 60px;
  font-weight: bold;
}

section#depoimentos {
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 60px;
  margin-top: 40px;
  color: #303030;
}

#depoimentos .mid-button {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  border: 2px solid #111;
  text-transform: uppercase;
  transition: 0.3s all;
  background-color: transparent;
  margin-top: 50px;
  font-size: 20px;
  outline: none;
}

#depoimentos .mid-button:hover {
  color: #ff8008;
  border-color: #ff8008;
}

.depoimento {
  position: relative;
  padding: 40px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  border-radius: 20px;
  font-family: 'Raleway';
  max-width: 325px;
  min-height: 490px;
  margin: 0 auto;
}

.depoimento p {
  text-align: left;
  margin-bottom: 20px;
  line-height: initial;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
}

.depoimento .author {
  font-size: 20px;
  text-align: left;
  font-weight: normal;
  line-height: initial;
  margin-top: 20px;
  color: #ff8008;
  position: absolute;
  bottom: 20px;
  font-style: italic;
}

.depoimento::before {
  content: '\201C';
  font-size: 44px;
  font-family: 'Raleway', sans-serif;
  /*font-family: 'Georgia', sans-serif;*/
  font-weight: bold;
  color: #ff8008;
  position: absolute;
  left: 12px;
  top: 10px;
}

@media only screen and (max-width: 1200px) {
  .section-1__img-container {
    width: 400px;
    height: 400px;
  }
}
@media only screen and (max-width: 950px) {
  .section-1__img-container {
    width: 300px;
    height: 300px;
  }
}
@media only screen and (max-width: 768px) {
  .section-1__content {
    flex-direction: column;
  }

  .section-1__img-container {
    position: relative;
  }

  .section-1__content {
    padding: 0 40px;
  }
  .section-1__right {
    padding-right: 0;
    padding: 20px 0;
  }

  .section-2 {
    padding-top: 50px;
  }

  .section-2__container {
    flex-direction: column;
  }

  .section-2__right {
    height: 200px;
    order: 1;
  }

  .section-2__left {
    order: 2;
  }

  section#depoimentos {
    margin-top: 0px;
  }

  #depoimentos h2 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
  }
  #depoimentos .depoimento {
    box-shadow: none;
    margin-top: 5px;
    width: 100% !important;
    max-width: 100% !important;
    min-height: auto;
    padding: 10px;
    background-color: white;
    margin-bottom: 40px;
  }

  #depoimentos .depoimento p,
  #depoimentos .depoimento .author {
    text-align: center;
  }

  #depoimentos .depoimento .author {
    position: initial;
    margin-bottom: 10px;
    font-style: normal;
  }

  #depoimentos .depoimento:before {
    content: '';
  }

  #depoimentos .mobile-quotes {
    display: inline-block;
    font-size: 22px;
    color: #ff8008;
  }
}
