.colmeia-button {
    margin: 0 auto;
    outline: none;
    font-size: 18px;
    text-align: center;
    border-radius: 0px;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s;
    /* height: 50px;
    line-height: 50px; */
    padding: 12px 0;
}

.button-orange {
    color: #ff8008;
    background-color: #fff;
    border: 2px solid #ff8008;
}

.button-filled {
    color: #fff;
    background-color: #ff8008;
}

.button-black {
    color: #fff;
    background-color: #303030;
}

.button-orange:hover {
    color: #fff;
    background-color: #ff8008;
}

.button-blue {
    color: #fafafa;
    background-color: #3b5998;
}

.button-blue:hover {
    color: #fafafa;
    background-color: #3b5998;
}

.button-gray {
    background-color: #7d7d7f;
    color: #fafafa;
}

.button-gray:hover {
    background-color: #b1b1b3;
    color: #fafafa;
}

.colmeia-button:active,
.colmeia-button.active,
.colmeia-button:focus,
.colmeia-button:active:focus {
    /*background-color: #ff5208;
  color: #FAFAFA;*/
}

@media screen and (max-width: 768px) {
    .button-orange:hover {
        color: #ff8008;
        background-color: #fff;
    }

    .button-orange:active {
        color: #fff;
        background-color: #ff8008;
    }

    .button-gray:hover {
        background-color: #b1b1b3;
        color: #fafafa;
    }
}
