.colmeia-header{
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
}

.colmeia-paragraph{
  font-size: 24px;
}

.black-text {
  color: #111;
}

.orange-text {
  color: #ff8008;
}

.gray-text {
  color: gray;
}

.white-text {
  color: #fafafa;
}
