.avaliation-component {
  display: flex;
  flex-direction: column;
}

.avaliation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.avaliation-box {
  background: #F9F9F9;
  box-shadow: 2px 6px 40px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1rem 2rem;
  margin: 2rem 1rem;
  width: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.avaliation-box .section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0;
}

.avaliation-box h5, .avaliation-box h3 {
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: bold;
}

.avaliation-box .heading h3 {
  color: #FF8008;
  font-size: 2rem;
}

.avaliation-box h5 {
  color: #828282;
  font-size: 1.6rem;
}

.avaliation-box .buttons {
  display: flex;
  padding: 1rem 0;
}

.avaliation-box .buttons .btn {
  background-repeat: no-repeat;
  background-position: center;
  padding: 25px;
  border-radius: 8px;
}

.avaliation-box button.good {
  background-color: #27AE60;
  background-image: url(/img/aulaonline-thumbsup.png);
  margin-right: 10%;
}

.avaliation-box button.bad {
  background-color: #EB5757;
  background-image: url(/img/aulaonline-thumbsdown.png);
  margin-left: 10%;
}

.avaliation-box textarea {
  width: 100%;
  background: #F2F2F2;
  border-radius: 8px;
  font-size: 2rem;
  padding: 1.5rem;
  margin: 1rem 0;
  color: #828282;
}

.avaliation-box .submit {
  padding: 3rem 0;
}

.avaliation-box .submit button {
  background: #FF8008;
  border-radius: 8px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #F2F2F2;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.2rem 6rem;
}

