.footer {
  & {
    background-color: $color-orange;
    color: $color-white;
  }

  &__logo {
    display: block;
    width: 20rem;
    max-width: 100%;
    margin-bottom: 2rem;

    @include responsive(phone) {
      width: 25rem;
      margin-bottom: 5rem;
    }
  }

  &__whatsapp {
    width: 2rem;
    display: inline-block;
    vertical-align: middle;
  }

  &__p {
    font-size: 1.3rem;
    margin-bottom: 0.25rem;
  }

  &__link {
    &,
    &:link,
    &:visited {
      color: $color-white;
      display: block;
      font-size: 1.5rem;
      transition: 0.3s all;
      position: relative;
      display: block;
      margin-bottom: 0.25rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__hr {
    height: 1px;
    background-color: $color-white;
    margin: 2rem 0;
  }

  &__bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include responsive(phone) {
      flex-direction: column;
    }
  }
}
