.footer-simple {
  color: $color-white;
  background-color: $color-orange;

  &__content {
    font-size: 2rem;
    padding: 2.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include responsive(phone) {
      flex-direction: column;
    }
  }

  &__logo {
    height: 3rem;

    @include responsive(phone) {
      margin-bottom: 5rem;
    }
  }

  &__text,
  &__text:link,
  &__text:visited,
  &__text:active {
    color: $color-white;
    display: block;
    text-decoration: none;
  }

  &__text:hover {
    text-decoration: underline;
  }
}
