.container-responsive {
}

.container {
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;

  @include responsive(tab-land) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @include responsive(phone) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  &--fluid {
    max-width: 100%;
  }

  &--m {
    max-width: $container-width-m;
  }

  &--s {
    max-width: $container-width-s;
  }

  &--xs {
    max-width: $container-width-xs;
  }

  &--left {
    margin-left: unset;
    margin-right: unset;
  }
}

.grid {
  & {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    @include responsive(tab-port) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &--sb {
    justify-content: space-between;
  }

  &--center {
    align-items: center;

    @include responsive(tab-port) {
      align-items: stretch;
    }
  }

  &:not(:last-child) {
    // margin-bottom: $gutter-vertical;
  }

  $pad-sizes: (
    '0': 0,
    'xs': $gutter-horizontal-xs,
    's': $gutter-horizontal-s,
    'm': $gutter-horizontal-m,
    'l': $gutter-horizontal-l
  );

  @each $key, $value in $pad-sizes {
    &--pad-#{$key} .col:not(:last-child),
    &--pad-#{$key} [class^='col-']:not(:last-child) {
      margin-right: $value;

      @include responsive(tab-port) {
        flex: 1;
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }
    }
  }

  // [class^='col-'] {
  // }

  .col {
    flex: 1;
    flex-shrink: 0;
  }

  @for $i from 0 to $grid-columns {
    .col-#{$i + 1} {
      flex: #{$i + 1};
      flex-shrink: 0;

      @include responsive(tab-port) {
        flex: 1;
      }
    }
  }
}
