.navbar {
  & {
    position: fixed;
    width: 100%;
    z-index: 99999;
    background-color: transparent;
    color: $color-white;
    transition: 0.2s all;

    @include responsive(tab-port) {
      background-color: $color-white;
      color: $color-black;
      box-shadow: none;
    }
  }

  &--orange {
    color: $color-orange;
  }

  &--orange &__logo-img {
    content: url(/img/colmeia-notification.png);
  }

  &__logo-img {
    height: 3.5rem;
    margin-right: 2rem;
    content: url(/img/logo-branca.png);

    @include responsive(tab-port) {
      content: url(/img/logo-orange.png);
    }
  }

  &__toggle {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 3.8rem;
    height: 2.8rem;

    & > div {
      height: 3px;
      border-radius: 3px;
      width: 100%;
      background-color: $color-orange;
      transition: 0.2s all;
      transform-origin: left;
    }

    @include responsive(tab-port) {
      display: flex;
    }
  }

  &__checkbox,
  &__dropdown-checkbox {
    display: none;
    appearance: none;
  }

  &__checkbox:checked + &__toggle {
    & > div:nth-of-type(1) {
      transform: translateY(-1px) rotate(45deg);
    }

    & > div:nth-of-type(2) {
      opacity: 0;
    }

    & > div:nth-of-type(3) {
      transform: translateY(1px) rotate(-45deg);
    }
  }

  &--active {
    background-color: $color-white;
    color: $color-black;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
  }

  &--active &__content {
    height: 7rem;
  }

  &--active &__logo-img {
    content: url(/img/logo-cinza.png);

    @include responsive(tab-port) {
      content: url(/img/logo-orange.png);
    }
  }

  &__content {
    // padding: 2.5rem 0rem;
    height: 10rem;
    max-width: $container-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.2s all;

    @include responsive(tab-land) {
      padding-left: 5rem;
      padding-right: 5rem;
    }

    @include responsive(tab-port) {
      height: 7rem;
      justify-content: space-between;
      box-shadow: 0px 3px 6px 0px rgba($color: #000000, $alpha: 0.2);
      border-bottom: 0.2rem solid $color-orange;
    }

    @include responsive(phone) {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }

  &__links {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;

    @include responsive(tab-port) {
      position: absolute;
      top: 7rem;
      right: 0;
      box-shadow: $box-shadow-0;
      flex-direction: column;
      width: 75%;
      transition: 0.5s all;
      transform: translateX(140%);
      height: 100vh;

      color: $color-white;
      background-color: $color-orange;
    }
  }

  &__checkbox:checked ~ &__links {
    @include responsive(tab-port) {
      // display: flex;
      transform: translateX(0);
    }
  }

  &__link,
  &__link:active,
  &__link:link,
  &__link:focus,
  &__link:visited {
    color: inherit;
    padding: 1rem 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    position: relative;
    transition: none;
    margin-right: 1.5rem;

    &:not(.navbar__link-login) {
      margin-left: 1.5rem;

      @include responsive(tab-port) {
        margin-left: 0;
      }
    }

    @include responsive(tab-port) {
      font-size: 2rem;
      padding: 2.5rem;
      width: 100%;
      font-weight: 700;
      text-transform: unset;
      margin: 0;
      padding: 1.5rem 2.5rem;
      border-bottom: 1px solid rgba($color: $color-white, $alpha: 0.25);
    }

    &:not(:last-child) {
      margin-right: 1rem;

      @include responsive(tab-port) {
        margin-right: 0;
      }
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      transform-origin: left;
      transform: scaleX(0);
      background-color: currentColor;
      transition: 0.2s all;
    }

    &:hover::before {
      transform: scaleX(1);

      @include responsive(tab-port) {
        transform: scaleX(0);
      }
    }

    &:hover {
      @include responsive(tab-port) {
        background-color: $color-white;
        color: $color-orange;
      }
    }
  }

  &__link-login {
    cursor: pointer;
    margin-left: auto;

    @include responsive(tab-port) {
      margin-left: 0;
    }
  }

  &__logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__dropdown-links {
    display: none;
    width: 25rem;
    position: absolute;
    right: 10rem;
    top: 7rem;
    max-width: 100%;
    background-color: $color-white;
    box-shadow: 0px 3px 6px 0px rgba($color: #000000, $alpha: 0.2);
    flex-direction: column;

    @include responsive(tab-port) {
      position: initial;
      display: flex;
      width: 100%;
      height: auto;
      border: 0;
      background-color: unset;
      box-shadow: none;
    }
  }

  &__dropdown-link,
  &__dropdown-link:active,
  &__dropdown-link:link,
  &__dropdown-link:focus,
  &__dropdown-link:visited {
    color: $color-black;
    font-size: 1.5rem;
    padding: 0.9rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s all;

    &:hover {
      background-color: $color-gray-light-2;

      @include responsive(tab-port) {
        background-color: $color-white;
        color: $color-orange;
      }
    }

    @include responsive(tab-port) {
      color: $color-white;
      position: relative;
      transition: none;
      margin-right: 1.5rem;
      font-size: 2rem;
      padding: 1.5rem 2.5rem;
      border-bottom: 1px solid rgba($color: $color-white, $alpha: 0.25);
      font-weight: 700;
      margin: 0;
    }
  }

  &__dropdown-img {
    width: 2.3rem;

    @include responsive(tab-port) {
      display: none;
    }
  }

  &__dropdown-toggle {
    &:hover::before {
      content: unset;
    }

    @include responsive(tab-port) {
      display: none;
    }
  }

  &__dropdown-checkbox:checked ~ &__dropdown-links {
    display: flex;
  }
}
