.navbar-static {
  & {
    background-color: $color-white;
    color: $color-orange;
    border-bottom: 2px solid $color-gray-light-1;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
  }

  &__right,
  &__right:link,
  &__right:active,
  &__right:visited {
    font-size: 2.5rem;
    font-weight: 700;
    display: block;
    color: $color-orange;
    cursor: pointer;
  }

  &--rappi &__right {
    @include responsive(phone) {
      font-size: 1.8rem;
    }
  }

  &__logo-img {
    height: 3rem;
    // content: url(/img/logo-orange.png);
    &--rappi-logo {
      height: 6rem;
    }
  }

  &--rappi &__logo-img {
    @include responsive(phone) {
      height: 2.5rem;
    }
  }

  &--rappi &__logo-img--rappi-logo {
    @include responsive(phone) {
      height: 5rem;
    }
  }

  &__logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.agendamento {
  .navbar-static .navbar-static__right {
    font-size: 1.9rem;
  }

  .navbar-static .navbar-static__logo-img {
    height: 2.5rem;
  }
}
