.section-cta {
  & {
    color: $color-gray-light-1;
    text-align: center;
    position: relative;
  }

  &--black {
    background-color: $color-black-light;

    @include sectionTab($color-black-light);
  }

  &--orange {
    background-image: url(/img/orange-cta.jpg);
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 700;
  }

  &__subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.75rem;
  }
}
