.bottom-search {
  & {
    background-color: $color-white;
  }

  &__tag {
    &,
    &:link,
    &:visited {
      background-color: $color-orange;
      border-radius: 2.5rem;
      padding: 0.8rem 2rem;
      color: $color-white;
      font-size: 1.3rem;
      margin: 0.75rem;
      cursor: pointer;
      display: inline-block;
      transition: 0.2s all;
      border: 2px solid $color-orange;
      text-decoration: none;
    }

    &:hover {
      color: $color-orange;
      background-color: $color-white;
      text-decoration: none;
    }
  }
}
