.clients {
  & {
    padding-bottom: 5rem;

    @include responsive(phone) {
      padding-top: 15rem;
    }
  }

  &__carousel {
  }

  &__block {
    padding: 0 5rem;
    width: 100%;
    display: flex;
    align-items: center;

    @include responsive(tab-port) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__img-block {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    border: 0.75rem solid $color-orange;
    position: relative;
    overflow: hidden;
    flex: 0 0 18rem;

    @include responsive(tab-port) {
      margin-bottom: 3rem;
    }
  }

  &__img {
    width: 100%;
    display: block;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__right {
    padding-left: 5rem;

    @include responsive(tab-port) {
      padding-left: 0;
    }
  }

  &__text {
    font-size: 1.5rem;
    margin-bottom: 2.2rem;
  }

  &__bottom {
    font-size: 1.3rem;
  }

  &__highlight {
    color: $color-orange;
    display: inline-block;
  }
}
