.form {
  & {
    background-color: $color-gray-light-1;

    @include responsive(tab-port) {
      margin-top: 0;
    }
  }

  &--campaign-empresas &__left {
    background: url(/img/luana-empresas.jpg) center center / cover no-repeat;
  }

  &__card {
    display: flex;
    background-color: $color-white;
    box-shadow: 0px 3px 6px 0px rgba($color: #000000, $alpha: 0.2);
    min-height: 38rem;

    & > * {
      flex: 0 0 50%;
    }

    @include responsive(phone) {
      flex-direction: column;
    }
  }

  &__left {
    text-transform: uppercase;
    font-weight: bold;
    color: $color-white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(/img/luana-campaign.jpg) center center / cover no-repeat;

    @include responsive(phone) {
      padding: 5rem 0;
    }
  }

  &__title {
    font-size: 2.3rem;
    line-height: 3rem;
  }

  &__subtitle {
    font-size: 3.3rem;
  }

  &__right {
    padding: 4rem 3rem;
  }

  &__label {
    font-weight: 700;
    color: $color-black;
    margin-bottom: 0.5rem;
    display: block;
    font-size: 1.5rem;
  }

  &__input {
    & {
      display: block;
      width: 100%;
      border: none;
      border: 1px solid $color-gray-3;
      padding: 1rem 1rem;
      border-radius: 5rem;
      margin-bottom: 2rem;
      font-size: 1.3rem;
      font-family: 'Raleway', sans-serif;
    }

    &:active,
    &:focus {
      border-color: $color-orange-light-1;
      outline: none;
    }
  }

  &__button-container {
    margin-top: 4rem;
    width: 50%;

    @include responsive(phone) {
      width: 100%;
    }
  }
}
