.manage {
  & {
    @include responsive(tab-port) {
      padding-bottom: 5rem;
    }
  }

  &__img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 4rem;

    @include responsive(tab-port) {
      width: 50%;
    }

    @include responsive(phone) {
      width: 100%;
    }
  }
}
