.media {
  & {
    color: $color-white;
    background-color: $color-black-light;
  }

  &__title {
    text-align: left;
    font-size: 1.8rem;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @include responsive(phone) {
      justify-content: center;
    }
  }

  &__link {
    display: block;

    @include responsive(phone) {
      margin: 2rem;
    }
  }

  &__img {
    display: block;
    flex: 1;
    max-width: 100%;
    height: 6rem;
    transition: 0.3s all;

    &:hover {
      transform: scale(1.2);
    }
  }
}
