.steps {
  & {
    background-color: $color-orange-light-1;
  }

  &__content {
    border-bottom-left-radius: $section-border-radius;
    background-color: $color-white;
  }

  &--no-br &__content {
    border-bottom-left-radius: 0;
  }

  &__block {
    position: relative;
    z-index: 1;
  }

  &__number {
    position: absolute;
    top: -1.5rem;
    left: 0;
    font-size: 6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: $color-orange-light-4;
    z-index: -1;

    @include responsive(phone) {
      font-size: 8rem;
      top: -4rem;
    }
  }
}
