.advantage {
  & {
    background-color: $color-orange-light-1;
    color: $color-gray-1;
    height: 35rem;
    margin-bottom: 20rem;
    padding-top: 3rem;
    position: relative;
    z-index: 1;

    @include responsive(phone) {
      margin-bottom: 0rem;
      padding-bottom: 3rem;
      height: auto;
    }
  }

  @include sectionTab($color-orange-light-1);

  &__card {
    background-color: $color-white;
    width: 80rem;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    box-shadow: 0px 3px 20px 0px rgba($color: #000000, $alpha: 0.2);

    @include responsive(tab-port) {
      flex-direction: column;
    }
  }

  &--pedagoga {
    margin-bottom: 0;
    padding-bottom: 35rem;

    @include responsive(phone) {
      height: auto;
      padding-bottom: 2rem;
    }
  }

  &--empresas {
    margin-bottom: 0;
    padding-bottom: 40rem;

    @include responsive(phone) {
      padding-bottom: 2rem;
    }
  }

  &--campaign &__left {
    background: url(/img/campanha-vantagens.jpg) center center / cover no-repeat;
  }
  &--acompanhamento &__left {
    background: url(/img/advantage-acompanhamento.png) center center / cover no-repeat;
  }

  &--pedagoga &__left {
    background: url(/img/vantagem-pedagoga.png) center center / cover no-repeat;
  }

  &--empresas &__left {
    background: url(/img/vantagem-empresas.png) center center / cover no-repeat;
  }

  &__left {
    flex: 3;
    flex-shrink: 0;
    background: url(/img/advantage.png) center center / cover no-repeat;
    position: relative;

    &::before {
      content: url(/img/colmeia_branco.svg);
      display: block;
      position: absolute;
      width: 5rem;
      height: 5rem;
      left: 1rem;
      bottom: 0.5rem;

      @include responsive(tab-port) {
        content: none;
      }
    }
  }

  &__right {
    flex-grow: 0;
    flex: 5;
    padding: 3rem 4rem;

    @include responsive(phone) {
      text-align: center;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    @include responsive(phone) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__block-content {
    display: flex;
    flex-direction: column;
  }

  &__img {
    width: 5rem;
    margin-right: 3rem;

    @include responsive(phone) {
      width: 5rem;
      margin: 0;
      margin-bottom: 2rem;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 1.9rem;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1.4rem;

    @include responsive(phone) {
      font-size: 1.5rem;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-gray-2;

    & > * {
      flex: 1;
      padding: 0 2rem;
    }
  }

  &__rating {
    border-right: 3px solid $color-orange-light-1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__rating-value {
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-end;
  }

  &__rating-large {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 4.2rem;
  }

  &__rating-small {
    font-size: 2.2rem;
    color: $color-gray-2;
  }

  &__rating-text {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  &__hours {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__hours-large {
    font-family: 'Roboto', sans-serif;
    font-size: 3.9rem;
    line-height: 4rem;
    font-weight: 500;

    @include responsive(phone) {
      font-size: 3rem;
    }
  }

  &__hours-small {
    padding-top: 0.75rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
  }
}
