.discount {
  & {
    position: relative;

    @include responsive(phone) {
      .heading-section {
        padding-top: 12rem;
      }
    }
  }

  &--pedagoga {
    background-color: $color-orange-light-1;
  }

  &--pedagoga &__content {
    border-bottom-left-radius: $section-border-radius;
    background-color: $color-white;
    margin-top: 10rem;
    padding-bottom: 6rem;
  }

  .slider {
    & {
      background-color: $color-white;
      padding: 3rem;
      box-shadow: 0px 4px 7px rgba($color: $color-black, $alpha: 0.26);
      color: $color-gray-1;
      text-align: center;
      font-family: 'Roboto', sans-serif;
    }

    &__title {
      text-transform: uppercase;
      font-size: 1.75rem;
      margin-bottom: 0.5rem;
      font-weight: 700;
      font-family: 'Raleway', sans-serif;
    }

    &__subtitle {
      font-size: 1.4rem;
    }

    &__hours {
      font-weight: bold;
      font-size: 5rem;
    }

    &__value {
      display: inline-block;
      font-size: 2.2rem;
    }

    &__widget {
      $slider-size: 1rem;

      & {
        margin: 2rem 0;
        -webkit-appearance: none;
        width: 100%;
        appearance: none;
        height: $slider-size;
        background-color: $color-orange-light-2;
        outline: none;
        opacity: 0.7;
        transition: 0.2s all;
        border-radius: 1rem;
      }

      &:hover {
        opacity: 1;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;

        width: $slider-size * 2;
        height: $slider-size * 2;
        background-color: $color-orange;
        border-radius: 50%;
      }

      &::-moz-range-thumb {
        width: $slider-size * 2;
        height: $slider-size * 2;
        background-color: $color-orange;
        border-radius: 50%;
      }
    }

    &__divider {
      height: 1px;
      background-color: $color-gray-light-2;
      margin: 2rem 0;
    }

    &__row {
      display: flex;

      margin-bottom: 3rem;
    }

    &__icon {
      width: 3rem;
      height: 3rem;
      margin-right: 2rem;
    }

    &__text {
      text-align: left;
      font-size: 1.5rem;
      flex: 1;
    }
  }

  &--large .slider {
    transform: scale(1.05);
  }

  .pacote {
    &__block {
      & {
        font-family: 'Roboto', sans-serif;
        color: $color-black;
      }

      &:not(:last-child) {
        margin-bottom: 5rem;
      }
    }

    &__hours {
      font-size: 3.5rem;
      color: $color-orange-light-3;
      margin-bottom: 0.5rem;
      font-weight: 700;
    }

    &__content {
      border-left: 5px solid $color-orange-light-3;
      padding-left: 1rem;
    }

    &__title {
      font-weight: 500;
      margin-bottom: 1rem;
      font-size: 1.75rem;
    }

    &__subtitle {
      font-weight: 300;
      font-size: 1.1rem;
    }
  }
}
