.service {
  & {
  }

  &__container {
    display: flex;

    @include responsive(tab-port) {
      flex-direction: column;
    }
  }

  &__block {
    margin: 3rem;
    text-align: center;
    flex: 1;

    @include responsive(tab-port) {
      text-align: left;
    }
  }

  &__block:not(:first-child) &__number::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -100%);
    height: 3px;
    width: 17rem;
    background-color: $color-orange;

    @include responsive(tab-land) {
      content: none;
    }
  }

  &__number {
    & {
      color: $color-orange-light-1;
      font-size: 4rem;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      position: relative;
      display: inline-block;
      margin-bottom: 2rem;
      font-weight: 700;
    }

    &::before {
      content: '';
      background-color: $color-orange-light-1;
      position: absolute;
      bottom: 0.5rem;
      right: -1rem;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      opacity: 0.3;
    }
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: left;

    @include responsive(phone) {
      font-size: 1.9rem;
    }
  }

  &__text {
    font-size: 1.2rem;
    text-align: left;

    @include responsive(phone) {
      font-size: 1.6rem;
    }
  }
}
