#escolher-aula-container select {
    width: 100%;
    border-radius: 0;
    border: 2px solid #dedede;
    border-left: none;
    -webkit-appearance: none;
    outline: none;
    background-color: #fefefe;
    padding-left: 20px;
}

#escolher-aula-container .row .col-lg-2 {
    margin: 0;
    padding: 0;
}

#escolher-aula-container input.colmeia-button,
#escolher-aula-container select {
    height: 55px;
    font-size: 17px;
}

#escolher-aula-container input.colmeia-button {
    margin-top: 0px;
    margin-left: -1px;
    border-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 18px;
}

#escolher-aula-container label {
    color: #333;
    font-weight: normal;
    font-size: 14px;
}

#escolher-aula-container .col-lg-3.col-md-3 {
    padding-right: 0px;
    padding-left: 0px;
}

#escolher-aula-container select[name='cidade'] {
    border: 2px solid #dedede;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#escolher-aula-container select:focus {
    box-shadow: none;
    outline: none;
}

/*Select 2 style*/
span#select2-inputBairro-container {
    padding-left: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 17px;
}

span#select2-inputBairro-container:focus {
    outline: none;
}
span.select2-selection.select2-selection--single {
    outline: none;
}

span.select2.select2-container.select2-container--default {
    width: 100%;
    border-radius: 0;
    border: 2px solid #dedede;
    border-left: none;
    -webkit-appearance: none;
    outline: none;
    background-color: #fefefe;
    padding-left: 20px;
}

.select2-container--default .select2-selection--single {
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 0px;
    height: 51px;
}

.select2-container--default
    .select2-results__option--highlighted[aria-selected] {
    background-color: #ff8008;
    color: white;
}

@media (min-width: 992px) {
    span#select2-inputBairro-container,
    #escolher-aula-container select,
    span.select2.select2-container.select2-container--default {
        color: #ff8008;
    }
}

@media (max-width: 992px) {
    #escolher-aula-container select,
    span.select2.select2-container.select2-container--default {
        padding-left: 10px;
        color: #333;
        border: 2px solid #ff8008 !important;
        margin: 0px auto;
        border-radius: 0;
        height: 50px;
        background: url(/img/arrow-down-icon.png) no-repeat 95%;
    }

    #escolher-aula-container select {
        margin-bottom: 10px;
    }

    #escolher-aula-container label {
        display: block;
        margin-top: 15px;
        margin-bottom: 0px;
    }

    #escolher-aula-container input.colmeia-button {
        border-radius: 0;
        margin-top: 15px;
        height: 50px;
    }

    #escolher-aula-container select[name='cidade'] {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
