section#footer {
  width: 100%;
  background: #ff8008;
  color: white;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Raleway';
}

#footer_buttons p {
  font-size: 14px;
  margin-top: 10px;
  font-family: 'Raleway';
}

#footer_buttons a {
  color: #ffffff;
  transition: 0.3s;
  text-decoration: none;
  font-family: 'Raleway';
}

#footer_buttons a:hover {
  text-decoration: underline;
}

#copyright p {
  font-family: 'Raleway';
  font-size: 12px;
}

#footer h4 {
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 5px;
}

#footer hr {
  background-color: #fff;
  width: 100%;
  margin: 20px auto;
}

#footer_logo {
  margin-bottom: 40px;
  width: 100%;
  max-width: 200px;
}

.footer_whats {
  width: 25px;
}

@media (max-width: 768px) {
  #footer_logo {
    display: block;
    margin: auto;
    padding-bottom: 40px;
  }
  p,
  h4 {
    text-align: center;
  }
}
