.navbar.navbar-default.navbar-custom{
  background-color: #FF8008;
  border-radius: 0;
  border: none;
  outline: none;
  -webkit-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.13);
  -moz-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.13);
  box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.13);
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: transparent;
    box-shadow: none;
}

.navbar-brand{
  padding: 5px 15px;
}

a.navbar-brand img{
  height: 40px;
}

.navbar-default ul.navbar-nav > li > a {
  font-family: 'Raleway';
  transition: 0.1s all;
  font-size: 18px;
}

.navbar-default ul.navbar-nav > li > a:hover,
.navbar-default ul.navbar-nav > li > a:focus,
.navbar-default ul.navbar-nav > li > a {
  color: #FAFAFA;
}

.navbar-nav i{
  margin-left: 5px;
}

.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: #ff8008;
    color: #fafafa;
}

.navbar-nav .open{
  display: block;
  /*display: none !important;*/
}

.navbar-nav>li>.dropdown-menu {
    /*display: block;*/
    border-radius: 10px;
    margin-top: 4px;
    width: 230px;
}

.dropdown-menu>li>a {
    color: #ff8008;
    font-size: 19px;
}

.dropdown-menu>li>a>i {
    float: right;
    margin-top: 3px;
}

.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}

@media screen and (max-width: 768px){

  .navbar-nav>li>.dropdown-menu {
    width: 98vw;
    left: inherit;
    right: 1vw;
    top: 54px;
  }

  .navbar-header{
    display: inline-block !important;
    float: left !important;
    margin-right: 0px !important;
    margin-top: 4px !important;
  }
  .dropdown-menu>li>a {
    font-size: 22px;
  }
}
