.navbar-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FF8008;
  flex: 0 7%;
}

.navbar-video .section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-video .section__interaction {
  justify-content: flex-start;
  padding-top: 3rem;
  flex: 7;
}

.navbar-video .section__logout {
  flex: 3;
}

.navbar-video .section button {
  display: flex;
  flex-direction: column;
  color: #F2F2F2;
  background-color: transparent;
  align-items: center;
  padding: 2rem 0;
}

.navbar-video .section__logout {
  justify-content: center;
}

.navbar-video .navbar-text {
  font-weight: bold;
  font-size: 1.3rem;
  padding: 0 1rem;
}

/* Images */
.navbar-video .navbar-img {
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
}
.navbar-video #cam-img {
  background-image: url(/img/aulaonline-camera-icon.png);
}

.navbar-video .cam-img__alt {
  background-image: url(/img/aulaonline-camerablocked-icon.png)!important;
}

.navbar-video #mic-img {
  background-image: url(/img/aulaonline-mic-icon.png);
}

.navbar-video .mic-img__alt {
  background-image: url(/img/aulaonline-micblocked-icon.png)!important;
}

.navbar-video #screen-img {
  background-image: url(/img/aulaonline-screenshare-icon.png);
}

.navbar-video .screen-img__alt {
  background-image: url(/img/aulaonline-screenshareon-icon.png)!important;
}

.navbar-video #chat-img {
  background-image: url(/img/aulaonline-chat-icon.png);
}

.navbar-video .chat-img__ready {
  background-image: url(/img/aulaonline-chatpush-icon.png)!important;
}

.navbar-video #chrono-img {
  background-image: url(/img/aulaonline-chrono-icon.png);
}

.navbar-video #draw-img {
  background-image: url(/img/aulaonline-draw-icon.png);
}

.navbar-video #logout-img {
  background-image: url(/img/aulaonline-logout-icon.png);
}

.navbar-video #board-img {
  background-image: url(/img/aulaonline-board-icon.png);

}

.navbar-video .chrono-btn {
  display: none!important;
}

.navbar-video .draw-options {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: #333;
  transition: all 0.2s;
}

.navbar-video .draw-options button:hover {
  background-color: #272525;
  width: 100%;
}

/* Mobile */
.mobile-v .navbar-video {
  flex-direction: row;
}

.mobile-v .navbar-video .section button {
  flex-direction: column;
  padding: 2rem 1rem;
}

.mobile-v .navbar-video .section {
  flex-direction: row;
}

.mobile-v .navbar-video .section__interaction {
  padding-top: unset;
}

.mobile-v .navbar-video .screen-btn {
  display: none;
}

/* Atendimento */

.is-atendimento .cam-btn,
.is-atendimento .mic-btn,
.is-atendimento .screen-btn {
  display: none!important;
}

/* Professor */
.is-professor .chrono-btn {
  display: flex!important;
}