<div id="overlay">
  <div class="overlay__content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <img
            class="overlay__image"
            src="https://aulascolmeia.com.br/img/logo-orange.png"
            alt="Aulas Colmeia reforço escolar logo"
          />
          <h2 class="overlay__title">Bem-vindo à Colmeia! O que você procura?</h2>

          <div class="row">
            <div class="col-lg-6 col-md-6">
              <button class="overlay__button overlay__button--orange">Sou pai/aluno</button>
            </div>
            <div class="col-lg-6 col-md-6">
              <a href="/professor" class="overlay__button overlay__button--black"
                >Sou professor(a)</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="servico">
  <div class="container">
    <h2 class="servico__title">Nosso serviço</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="servico__block">
          <img
            src="https://aulascolmeia.com.br/img/servico-escolha.png"
            alt="Aulas Colmeia reforço escolar de matemática serviço escolha"
            class="servico__block-img"
          />
          <h3 class="servico__block-title">Escolha</h3>
          <p class="servico__block-subtitle">Defina o horário, local, a matéria e o professor.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="servico__block">
          <img
            src="https://aulascolmeia.com.br/img/servico-aula.png"
            alt="Aulas Colmeia reforço escolar de matemática serviço escolha"
            class="servico__block-img"
          />
          <h3 class="servico__block-title">Receba a aula</h3>
          <p class="servico__block-subtitle">
            Tenha aula em casa com os melhores professores particulares.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="servico__block">
          <img
            src="https://aulascolmeia.com.br/img/servico-pague.png"
            alt="Aulas Colmeia reforço escolar de matemática serviço escolha"
            class="servico__block-img"
          />
          <h3 class="servico__block-title">Pague</h3>
          <p class="servico__block-subtitle">
            Escolha entre pagar com boleto ou cartão de crédito.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <a href="https://aulascolmeia.app.link/1klwKdmSCR" class="servico__link"
          >Conheça nosso aplicativo</a
        >
      </div>
    </div>
  </div>
</section>

<section class="pacote">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <!--
<h2 class="pacote__title">


Pacotes



</h2>
-->
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="pacote-block">
          <h4 class="pacote-block__title">Plano Mensal</h4>
          <h5 class="pacote-block__discount">5%</h5>
          <h5 class="pacote-block__subtitle">de desconto</h5>
          <p class="pacote-block__item">12 horas de aula</p>
          <p class="pacote-block__item">Horários garantidos</p>
          <p class="pacote-block__item">Análise de evolução</p>
          <button class="pacote-block__button" data-pacote="Mensal">Solicitar pacote</button>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="pacote-block pacote-block--large">
          <h4 class="pacote-block__title">Plano Trimestral</h4>
          <h5 class="pacote-block__discount pacote-block--orange">10%</h5>
          <h5 class="pacote-block__subtitle pacote-block--orange">de desconto</h5>
          <p class="pacote-block__item">24 horas de aula</p>
          <p class="pacote-block__item">Horários garantidos</p>
          <p class="pacote-block__item">Análise de evolução</p>
          <button class="pacote-block__button" data-pacote="Trimestral">Solicitar pacote</button>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="pacote-block">
          <h4 class="pacote-block__title">Plano Semestral</h4>
          <h5 class="pacote-block__discount">15%</h5>
          <h5 class="pacote-block__subtitle">de desconto</h5>
          <p class="pacote-block__item">40 horas de aula</p>
          <p class="pacote-block__item">Horários garantidos</p>
          <p class="pacote-block__item">Análise de evolução</p>
          <button class="pacote-block__button" data-pacote="Semestral">Solicitar pacote</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="porque">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <h3 class="porque__title">
          Por quê agendar aulas <br />
          com a Colmeia?
        </h3>
        <p class="porque__text">
          A Colmeia acredita na importância do ensino personalizado e de qualidade para a formação
          de estudantes incríveis. Por isso, cada aluno recebe um plano de aulas diferente que
          depende da sua necessidade. <br /><br />
          Também tentamos facilitar ao máximo o processo de agendamento e pagamento das aulas, temos
          uma lista com professores particulares. <br /><br />
          Quer saber como está a nota de corte e a concorrencia de todos os cursos? <br />
          <br />
          <button class="porque__link">Quer saber como agendar sua aula? Clique aqui!</button>
        </p>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="porque__img-container">
          <img
            src="https://aulascolmeia.com.br/img/AulasTXT.png"
            alt="Aulas Colmeia reforço escolar preço justo"
            class="porque__img"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="phone">
  <img src="https://aulascolmeia.com.br/img/phone-main.png" alt="" class="phone__img" />
  <div class="container">
    <div class="col-lg-5 col-md-5 col-lg-offset-4 col-md-offset-4">
      <div class="phone__content">
        <div class="phone__block">
          <img
            src="https://aulascolmeia.com.br/img/phone-star.png"
            alt="Aulas Colmeia reforço escolar melhores professores"
            class="phone__block-left"
          />
          <div class="phone__block-right">
            <div class="phone__block-title">Os melhores profesores</div>
            <div class="phone__block-text">
              Nossos professores passam por um processo seletivo criterioso, com análise de dados e
              entrevista.
            </div>
          </div>
        </div>

        <div class="phone__block">
          <img
            src="https://aulascolmeia.com.br/img/phone-seguranca.png"
            alt="Aulas Colmeia reforço escolar com segurança em casa"
            class="phone__block-left"
          />
          <div class="phone__block-right">
            <div class="phone__block-title">Segurança</div>
            <div class="phone__block-text">
              Nós usamos sistemas de segurança avançados em todo o processo de pagamento e
              armazenamento de dados.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="preco">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h2 class="preco__title">Preço</h2>
        <div class="preco__card">
          <img
            src="https://aulascolmeia.com.br/img/preco-icon.png"
            alt="Aulas Colmeia reforço escolar preço"
            class="preco__card-left"
          />
          <div class="preco__card-right">
            <div class="preco__card-title">Aulas de reforço</div>
            <div class="preco__card-text">
              Todas as matérias do Ensinos fundamental e do Ensino médio.
            </div>
            <div class="preco__card-price">
              <div class="preco__card-price-value">R$59,90</div>
              <div class="preco__card-price-sub">por hora</div>
            </div>
          </div>
        </div>
        <div class="preco__button-container">
          <button class="preco__button">Agendar aula</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="comentario">
  <div class="container">
    <div class="comentario__title">Comentários</div>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="comentario__block comentario__block--filled">
          <div class="comentario__text">
            Gostaria de agradecer a atenção em me ajudar a encontrar um professor em cima da hora.
            Demonstra que vocês são profissionais sérios e dispostos a ajudar. Outros falariam que
            não tinha e pronto. [...] No final da aula, a professora me passou um resumo de toda a
            aula com meu filho. Muito profissional! Adorei!!!!!
          </div>
          <div class="comentario__name">Thaisa Coutinho</div>
          <div class="comentario__sub">Mãe</div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="comentario__block">
          <div class="comentario__text">
            Antes era difícil conseguir professor particular com horário em matéria como :
            português, geografia, física. Com o aplicativo, por ter mais opções, posso conseguir
            agendar as aulas sempre e na urgência que necessito. Tenho como informar o conteúdo que
            minha filha tem maior dificuldade direto pelo aplicativo sem precisar falar com ninguém.
          </div>
          <div class="comentario__name">Eliane Fleury</div>
          <div class="comentario__sub">Mãe</div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="comentario__block">
          <div class="comentario__text">
            Procurei por indicação do Galois de Brasília, minha escola. Sempre fui acostumada a ter
            aulas particulares com certa frequência, e o Colmeia é um jeito muito mais prático para
            o pedido, principalmente! O app dá a avaliação dos professores, que são ótimos, e outras
            informações como o currículo e isso passa uma segurança enorme!
          </div>
          <div class="comentario__name">Maria Pedretti</div>
          <div class="comentario__sub">Aluna</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cta">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
        <h3 class="cta__title">Gostou do nosso serviço?</h3>
        <p class="cta__text">
          A Colmeia vai te ajudar a montar um plano de estudos com foco nas suas matérias com maior
          dificuldade.
        </p>
        <button class="cta__button">Converse com a nossa equipe pedagógica</button>
      </div>
    </div>
  </div>
</section>

<section class="code">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-lg-offset-5 col-md-offset-5">
        <h3 class="code__title">Conheça nosso app</h3>
        <p class="code__subtitle">
          Baixe nosso aplicativo agora e obtenha <strong>15%</strong> <br />
          de desconto na sua primeira aula com o código abaixo:
        </p>
        <div class="code__content">colmeiando</div>
      </div>
    </div>
  </div>
</section>
