<div class="row">
  <div class="col-lg-9 col-md-9">
    <form>
      <input type="text" class="form__input form__input--nome" placeholder="Nome" />
      <input type="text" class="form__input form__input--telefone" placeholder="Telefone" />
      <input type="text" class="form__input form__input--pacote" />
      <input type="submit" value="Solicitar antedimento" class="form__button" />
      <p class="form__caption">Pacotes com até <strong>15% de desconto</strong></p>
    </form>
  </div>
</div>
