<nav class="nav">
  <div class="container">
    <div class="nav__container">
      <div class="nav__left">
        <a href="/" class="nav__link">
          <img
            class="nav__logo"
            src="https://aulascolmeia.com.br/img/header-logo.png"
            alt="Aulas Colmeia reforço escolar em casa logo"
          />
        </a>
      </div>
      <div class="nav__right">
        <div class="nav__phone">{{ module.phone }}</div>
      </div>
    </div>
  </div>
</nav>
