<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div
          class="span12 widget-span widget-type-custom_widget"
          style=""
          data-widget-type="custom_widget"
          data-x="0"
          data-w="12"
        >
          {% module_block module "module_1550078329116480" module_id=1155639, overrideable=True,
          per_widget_wrapper_html='', widget_name='Rich Text', wrapping_html='', label='Title' %} {%
          module_attribute "html" %}
          <h1 class="header__title">Aulas particulares<br />de Matemática</h1>
          {% end_module_attribute %} {% end_module_block %}
        </div>
        <!--end widget-span -->

        <div
          class="span12 widget-span widget-type-custom_widget"
          style=""
          data-widget-type="custom_widget"
          data-x="0"
          data-w="12"
        >
          {% module_block module "module_1550078331691482" module_id=1155639, overrideable=True,
          per_widget_wrapper_html='', widget_name='Rich Text', wrapping_html='', label='Subtitle' %}
          {% module_attribute "html" %}
          <h2 class="header__subtitle">
            A Comeia oferece os melhores professores particulares<span>&nbsp;</span
            ><strong>de Matemática</strong><span>&nbsp;</span>com pacotes de aulas particulares
            especiais.
          </h2>
          {% end_module_attribute %} {% end_module_block %}
        </div>
        <!--end widget-span -->

        <div
          class="span12 widget-span widget-type-custom_widget"
          style=""
          data-widget-type="custom_widget"
          data-x="0"
          data-w="12"
        >
          {% module_block module "module_1550078333740484" module_id=1155639, overrideable=True,
          per_widget_wrapper_html='', widget_name='Rich Text', wrapping_html='', label='Form Title'
          %} {% module_attribute "html" %}
          <h2 class="form__call">Insira seus dados e entraremos em contato</h2>
          {% end_module_attribute %} {% end_module_block %}
        </div>
        <!--end widget-span -->

        <div class="row">
          <div class="col-lg-9 col-md-9">
            <form>
              <input type="text" class="form__input form__input--nome" placeholder="Nome" />
              <input type="text" class="form__input form__input--telefone" placeholder="Telefone" />
              <input type="text" class="form__input form__input--pacote" />
              <input type="submit" value="Solicitar antedimento" class="form__button" />
              <p class="form__caption">Pacotes com até <strong>15% de desconto</strong></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
