<form class="form">
  <div class="form__title">Cadastre-se</div>
  <div class="form__subtitle">Registre-se e participe do nosso processo seletivo</div>
  <input type="email" class="form__input" name="email" id="email" placeholder="Email" />
  <input type="text" class="form__input" name="telefone" id="telefone" placeholder="Telefone" />
  <input type="password" class="form__input" name="senha" id="senha" placeholder="Senha" />

  <button id="sendButton" name="button" class="form__button">Cadastrar</button>
</form>
