.button {
  &,
  &:link,
  &:visited,
  // &:active,
  &:focus {
    color: $color-white;
    background-color: $color-orange;
    border: 2px solid $color-orange;
    transition: 0.3s all;
    border-radius: 5rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    padding: 0.75rem 0;
    font-family: 'Raleway', sans-serif;
    appearance: none;
    -webkit-appearance: none;
  }

  &:hover {
    background-color: transparent;
    color: $color-orange;
  }

  &--black,
  &--black:link,
  &--black:visited,
  &--black:active,
  &--black:focus {
    background-color: $color-black;
    border: 2px solid $color-black;

    &:hover {
      color: $color-black;
      background-color: transparent;
    }
  }

  &--s,
  &--s:link,
  &--s:visited,
  &--s:active,
  &--s:focus {
    padding: 0.5rem 0;
    font-size: 1.75rem;
  }

  &--search {
    @include responsive(phone) {
      font-size: 2.2rem;
      padding: 1.4rem 0;
      border-radius: 5rem;
    }
  }
}

.text-button {
  & {
    text-decoration: underline;
    color: $color-orange;
    cursor: pointer;
    display: inline-block;
  }
}
