.form-campaign {
  @keyframes scaleAnimation {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes colorAnimation {
    0% {
      border-color: initial;
    }

    50% {
      border-color: $color-orange;
    }

    100% {
      border-color: initial;
    }
  }

  & {
    border-radius: 0.3rem;
    background-color: $color-white;
    padding: 3rem;
    color: $color-black;
    box-shadow: 0px 3px 10px 0px rgba($color-black, 0.2);
    position: relative;
    top: 5rem;
    z-index: 2;

    @include responsive(phone) {
      top: 2.5rem;
      padding: 2rem;

      margin-left: -1.5rem;
      margin-right: -1.5rem;
    }
  }

  &--highlight {
    animation: scaleAnimation 525ms ease-out 500ms 1;
  }

  &--highlight &__input {
    animation: colorAnimation 525ms ease-out 500ms 1;
  }

  &__title {
    & {
      font-weight: 700;
      font-size: 2.1rem;
      margin-bottom: 2rem;
      text-align: center;

      @include responsive(phone) {
        font-size: 2.4rem;
      }
    }

    &--highlight {
      color: $color-orange;
      font-size: 3.2rem;
      text-transform: uppercase;
    }
  }

  &__subtitle {
    font-size: 1.8rem;
  }

  &__form {
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    display: block;
    margin-bottom: 0.5rem;

    @include responsive(phone) {
      font-size: 1.7rem;
    }
  }

  &__input {
    display: block;
    width: 100%;
    border: 1px solid $color-gray-3;
    border-radius: 2rem;
    outline: none;
    transition: 0.3s all;
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;

    &:focus {
      border-color: $color-orange;
    }

    @include responsive(phone) {
      font-size: 1.9rem;
    }
  }
}
