.header-campaign {
  $size: 48rem;
  $size-large: 80vh;

  & {
    height: $size;
    position: relative;
    background: url(/img/landing-header.jpg) center center / cover no-repeat;

    @include responsive(tab-port) {
      height: auto;
    }
  }

  &--pedagoga {
    background: url(/img/landing-header-pedagoga.jpg) center center / cover no-repeat;
  }

  &--empresas-rappi {
    // height: $size * 1.2;
    height: unset;
    background: url(/img/landing-header-empresas-rappi.jpg) center center / cover no-repeat;
  }

  &__content {
    height: $size;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-right: 5rem;
  }

  &--empresas &__content {
    align-items: center;
    text-align: center;
    height: unset;
    padding-right: 0;
  }

  &--acompanhamento {
    height: $size-large;
    border-bottom-left-radius: $section-border-radius;
    background: url(/img/acompanhamento-bg.png) center center / cover no-repeat;

    @include responsive(phone) {
      height: 100vh;
      background-position-x: 75%;
    }
  }

  &--acompanhamento &__content {
    height: $size-large;

    @include responsive(phone) {
      height: 100vh;
    }
  }

  &__button {
    @extend .button;
    width: 40rem !important;

    @include responsive(phone) {
      width: 30rem !important;
    }
  }
}
