.modal {
  margin: 0 auto;
  position: relative;
  // width: 200rem;

  &__content,
  &__backdrop {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
  }

  &__content {
    @include responsive(phone) {
      overflow: scroll;
    }
  }
  &__close {
    color: #aaa;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    padding-top: 0.3rem;
    background: #fff;
    font-size: 1.6rem;
    width: 2.5rem;
    height: 2.5rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;

    &:hover {
      color: $color-black;
    }
  }

  #modal-toggle {
    display: none;
    &.active ~ .modal__backdrop,
    &:checked ~ .modal__backdrop {
      background-color: rgba(0, 0, 0, 0.6);
      width: 100vw;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 9;
      visibility: visible;
      opacity: 1;
      transition: opacity 0.2s ease-in;
    }
    &.active ~ .modal__content,
    &:checked ~ .modal__content {
      opacity: 1;
      background-color: $color-white;
      width: 80rem;
      min-height: 55rem;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      top: 12%;
      border-radius: 0.5rem;
      z-index: 99999;
      pointer-events: auto;
      cursor: auto;
      visibility: visible;
      box-shadow: 0 3px 7px rgba($color-black, 0.6);

      @include responsive(phone) {
        width: 90%;
        min-height: 60rem;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
