.overlay {
  & {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    background-image: url(/img/ImagemINICIAL.png);
    background-size: cover;
    z-index: 9999999;

    @include responsive(phone) {
      text-align: center;
    }
  }

  &__content {
    /* margin-top: 200px; */
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);

    @include responsive(phone) {
      left: 0;
    }
  }

  &__image {
    max-width: 100%;

    @include responsive(phone) {
      width: 250px;
    }
  }

  &__title {
    font-size: 26px;
    margin-top: 40px;
    margin-bottom: 100px;
  }

  &__button,
  &__button:link,
  &__button:active,
  &__button:visited {
    display: inline-block;
    padding: 15px 60px;
    border-radius: 40px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s all;

    @include responsive(phone) {
      width: 100%;
    }
  }

  &__button--orange {
    background-color: #ff8008;
    border: 2px solid #ff8008;

    @include responsive(tab-port) {
      margin-bottom: 25px;
    }
  }
  &__button--orange:hover {
    color: #ff8008;
    background-color: #fff;
  }

  &__button--black {
    background-color: #303030;
    border: 2px solid #303030;
  }

  &__button--black:hover {
    color: #303030;
    background-color: #fff;
  }
}
