.product-card {
  & {
    min-height: 25rem;
    color: $color-white;
    padding: 2rem;
    box-shadow: 0px 3px 10px 0px rgba($color-black, 0.4);
    transition: 0.3s all;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-position: center;
    background-size: cover;
  }

  &--pacote {
    background-image: url(/img/landing-pacote-card.jpg);
  }

  &--avulso {
    background-image: url(/img/landing-avulso-card.jpg);
  }

  &--pedagoga-1 {
    background-image: url(/img/pedagoga-1.jpg);
  }
  &--pedagoga-2 {
    background-image: url(/img/pedagoga-2.jpg);
  }
  &--pedagoga-3 {
    background-image: url(/img/pedagoga-3.jpg);
  }

  &--empresas-1 {
    background-image: url(/img/empresas-1.png);
  }

  &--empresas-2 {
    background-image: url(/img/empresas-2.png);
  }

  &:hover {
    transform: scale(1.05);
  }

  &__label {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  &__title {
    text-transform: uppercase;
    text-transform: uppercase;
    font-size: 2.2rem;
    line-height: 1.5;
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-weight: 700;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 8rem;
      background-color: $color-white;
    }
  }

  &__subtitle {
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
  }

  &__button {
    & {
      align-self: flex-end;
      display: inline-block;
      background-color: $color-orange;
      color: $color-white;
      border: 2px solid $color-orange;
      transition: 0.3s all;
      border-radius: 5rem;
      cursor: pointer;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 700;
      padding: 0.75rem 3rem;
      font-family: 'Raleway', sans-serif;
      appearance: none;
      -webkit-appearance: none;
    }

    &:hover {
      // background-color: transparent;
      // color: $color-orange;
      transform: scale(1.03);
    }
  }
}
