.whatsapp {
  & {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    z-index: 999;

    @include responsive(phone) {
      width: 100%;
      padding-left: 40px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 20px;
  }

  &__label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    display: block;
  }

  &__icon {
    background-color: #25d366;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    color: #fff;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.16);
    transition: 0.3s all;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon:hover {
    transform: scale(1.05);
  }

  &__container {
    background-color: #fff;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.16);
    padding: 20px 30px;
    border-radius: 20px;
    transition: 0.3s all;
    position: relative;
    margin-bottom: 35px;
    width: 400px;
    max-width: 100%;
  }

  &__container::before {
    position: absolute;
    content: '';
    bottom: -10px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    transform: rotate(45deg);
    z-index: -1;
  }

  &__form {
    display: block;
  }

  &__input {
    display: block;
    width: 100%;
    border-radius: 25px;
    border: 1px solid gray;
    outline: none;
    margin-bottom: 15px;
    padding: 12px;
    padding-left: 20px;
  }

  &__checkbox {
    display: none;
  }

  &__checkbox:checked ~ &__container {
    display: block;
  }

  &__checkbox:not(:checked) ~ &__container {
    display: none;
  }

  &__button {
    background-color: #25d366;
    border: 2px solid #fff;
    color: #fff;
    outline: none;
    border-radius: 25px;
    transition: 0.3s all;
    display: block;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    text-align: center;
  }

  &__button:hover {
    background-color: #fff;
    border: 2px solid #25d366;
    color: #25d366;
  }
}
