<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--icon-->
<link rel="icon" type="image/png" href="/img/icon.png" sizes="32x32">

<!--fonts-->
<link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,700" rel="stylesheet">

<!-- build:css public/css/login.min.css -->
<link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="../../css/login.css" rel="stylesheet">
<link href="../../css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="../../css/new/modules/colmeia-button.css" rel="stylesheet" type="text/css">
<!-- white-navbar-styles -->
<link href="../../css/white-navbar.css" rel="stylesheet">
<link href="../../css/dropdown-menu.css" rel="stylesheet">
<!-- endbuild -->

<% include ../user %>
<% include ../woopra %>
<% include ../analytics_header %>
<% include ../onesignal %>

<% include ../ferramentas %>
<% include ../fbpixel %>

</head>

<body>

<% include ../white-navbar %>

<div id="particles-js"></div>
