.video-container {
  flex: 7.8;
  position: relative;
  background-color: #C4C4C4;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/img/aulaonline-remoteparticipant-icon.png);
}

.video-container__on-remote-participant {
  background-color: rgba(0, 0, 0, 0.9);
}

.remote-participant {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.remote-participant video {
  /* flex: 1;
  */
  max-width: 100%;
  max-height: 100%; 
  height: 100%
}

.local-participant {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.local-participant video {
  border: 2px solid #FFFFFF;
  height: 15rem!important;
  max-height: 15rem!important;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

.local-participant .minimize-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 1;
}

/* Mobile */
.mobile-v .video-container {
  flex: 6;
}

.mobile-v .local-participant {
  position: fixed;
  bottom: unset;
  top: 10px;
  right: 10px;
}

.mobile-v .popup-box {
  width: 90%;
}

/* Popup: user enters or leaves classroom */
.video-container .popup-message {
  position: absolute;
  background: #333333;
  border-radius: 4px;
  color: #F2F2F2;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.01em;
  text-align: center;
  padding: 0.5rem 2rem;
  top: 200px;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 777;
  transition: visibility 0.2s;
}

/* Popup: Confirm End of Class */
.finish-class-popup {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 3;
}

.popup-box {
  background: #F9F9F9;
  box-shadow: 2px 6px 40px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.popup-box .section {
  width: 100%;
  padding: 1rem 0;
}

.popup-box .info p, .popup-box .heading h3 {
  text-align: center;
  letter-spacing: 0.02em;  
}

.popup-box .heading h3 {
  color: #FF8008;
  font-weight: bold;
  font-size: 2.2rem;
}

.popup-box .info p {
  color: #828282;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 25px;
}

.popup-box .buttons {
  display: flex;
  justify-content: space-between;
}

.popup-box .buttons .btn {
  border-radius: 8px;
  padding: 1rem 2rem;
  font-weight: bold;
  width: 49%;
  font-size: 1.5rem;
}

.popup-box .buttons .confirm {
  color: #FF8008;
  letter-spacing: 0.02em;
  font-weight: bold;
  border: 2px solid #FF8008;
  background: #F9F9F9;
}

.popup-box .buttons .cancel {
  color: #F2F2F2;
  background: #FF8008;
}

/* Popup: Confirm End of Class */
.video-container .chrono-popup {
  visibility: hidden;
  position: absolute;
  margin: 1rem;
  transition: visibility 0.2s;
  top: 0;
  z-index: 1;
}

.video-container .chrono-box {
  background: #F9F9F9;
  box-shadow: 2px 6px 40px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 1.2rem;
}

.video-container .chrono-box .section {
  width: 100%;
  padding: 1rem 0;
}

.video-container .chrono-box label {
  display: block;
  letter-spacing: 0.02em;
  color: #FF8008;
  font-weight: 900;
}

.video-container .chrono-box input {
  background: #F2F2F2;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.video-container .chrono-box .section .buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.video-container .chrono-box .section .buttons .btn {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: #F2F2F2;
  text-align: center;
  letter-spacing: 0.01em;
  padding: 1rem;
  font-weight: 900;
}

.video-container .chrono-box .section .buttons .cancel {
  background: #EB5757;
}

.video-container .chrono-box .section .buttons .confirm {
  background: #27AE60;
}
/* Atendimento */

.is-atendimento .remote-participant {
    width: 50%;
    display: inline-flex;
}

/* No momento do quadro branco */

.remote-participant__whiteboard-on {
  position: absolute;
  bottom: 0;
  left: 10px;
  z-index: 2;
  width: unset;
  height: unset;
  display: unset;
  align-items: unset;
  justify-content: unset;
}

.remote-participant__whiteboard-on video {
  border: 2px solid #FFFFFF;
  height: 15rem!important;
  max-height: 15rem!important;
}

.remote-cam-video-on-screenshare {
  border: 2px solid #FFFFFF;
  height: 15rem!important;
  max-height: 15rem!important;
  bottom: 10px;
  position: absolute;
  left: 10px;
}