*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
  position: relative;
}

.section-parceria {
  height: 100vh;
  background-position: 25% 75%;
}

.form {
  display: block;
  margin: 0;
  background-color: #fff;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 35px;
}

.form__title {
  font-weight: bold;
  font-size: 28px;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 20px;
}

.form__title::before {
  position: absolute;
  left: 0;
  content: '';
  bottom: 0px;
  height: 3px;
  width: 20%;
  background-color: #ff8008;
}

.form__subtitle {
  font-size: 17px;
  margin-bottom: 20px;
}

.form__input {
  display: block;
  width: 100%;
  border-radius: 27px;
  border: 1px solid #e3e3e3;
  outline: none !important;
  padding: 10px;
  padding-left: 40px;
  margin-bottom: 20px;
  font-size: 16px;
}

.form__button {
  text-decoration: none;
  color: #fff;
  background-color: #ff8008;
  border-radius: 40px;
  padding: 10px;
  display: block;
  text-align: center;
  font-size: 21px;
  border: 2px solid #ff8008;
  transition: 0.3s all;
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
  font-weight: bold;
}
.form__button:hover {
  background-color: #fff;
  color: #ff8008;
}

@keyframes buttonAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.form__link,
.form__link:active,
.form__link:visited,
.form__link:link {
  text-decoration: underline;
  color: #ff8008;
}

.form__checkbox {
  font-size: 15px;
  margin-top: 10px;
}

.form__login {
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
}

.form__login-button {
  cursor: pointer;
  text-decoration: underline;
  color: #ff8008;
}

.section-parceria__img-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.section-parceria__img {
  display: block;
  width: auto;
  max-width: 150px;
  height: auto;
  max-height: 100px;
  /*   flex: 0 0 40%; */
}

@media only screen and (max-width: 1200px) {
  .section-1__img-container {
    width: 400px;
    height: 400px;
  }
}
@media only screen and (max-width: 950px) {
  .section-1__img-container {
    width: 300px;
    height: 300px;
  }
}

@media only screen and (max-width: 768px) {
  /*     .section-parceria {
        background-image: none !important;
    } */

  .form {
    padding: 15px;
    margin-bottom: 15px;
  }

  .form__title {
    font-size: 22px;
  }

  .form__subtitle {
    font-size: 15px;
  }

  .form__input {
    padding: 5px;
    padding-left: 20px;
  }

  .form__button {
    font-size: 16px;
  }

  .form__login {
    font-size: 16px;
    padding-bottom: 30px;
  }

  .section-parceria {
    height: auto;
  }
}
